<div id="fga">
  <p>
    Federal law grants consumers several rights relating to their credit card
    transactions, against the card companies and in the case of a dispute with a
    merchant. This Financial Guide discusses these important rights in depth.<br />&nbsp;
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Prompt Credit For Payment</a></li>
      <li><a href="#2">Refunds Of Credit Balances</a></li>
      <li><a href="#3">Resolution Of Errors</a></li>
      <li><a href="#4">Removal Of Unauthorized Charges</a></li>
      <li><a href="#5">Resolution Of Disputes</a></li>
      <li><a href="#6">Prompt Shipment</a></li>
      <li>
        <a href="#7">Protection Against Offensive Junk Mail/Junk Calls</a>
      </li>
      <li><a href="#8">Government and Non-Profit Agencies</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    You have numerous rights related to your use of a credit card. These include
    (1) prompt credit for payment, (2) refunds of credit balances, (3)
    resolution of errors, (4) removal of unauthorized charges, (5) resolution of
    disputes, (6) prompt shipment, (7) refusal of delivery, (8) withholding of
    payment in case of dispute, (9) protection against offensive junk mail/junk
    calls.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Prompt Credit For Payment</h3>

  <p>
    A card issuer must credit your account on the day it receives your payment
    unless the payment is not made according to the creditor's requirements or
    the delay in crediting to your account does not result in a charge.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> To avoid delays that could result in finance
      charges, follow the card issuer's instructions about where to send
      payments. Payments sent to other locations could delay getting credit for
      your payment for up to five days. If you lose your payment envelope, look
      on the billing statement for the address for payments or call the card
      issuer.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Refunds Of Credit Balances</h3>

  <p>
    When you return merchandise or pay more than you owe, you have the option of
    keeping the credit balance on your account or requesting a refund (if the
    amount exceeds $1.00). To obtain a refund, write the card issuer. The card
    issuer must send you the refund within seven business days of receiving your
    request.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Resolution Of Errors</h3>

  <p>
    The Fair Credit Billing Act provides specific rules that the card issuer
    must follow for promptly correcting billing errors. The card issuer will
    give you a statement describing these rules when you open the credit card
    account and, after that, at least once a year. Many card issuers print a
    summary of your rights on each bill they send you.
  </p>
  <p>Billing errors include:</p>
  <ul>
    <li>a charge for something you didn't buy</li>
    <li>a purchase by someone not authorized to use your card</li>
    <li>
      an amount on your bill that is different from the actual amount you paid
    </li>
    <li>a charge for something that you did not accept on delivery</li>
    <li>
      a charge for something that was not delivered according to the agreement
    </li>
    <li>arithmetic errors</li>
    <li>payments not credited to your account</li>
  </ul>

  <p>
    When you find an error you must notify the card issuer in writing within 60
    days after the first bill containing the error was mailed to you. Some
    companies may accept e-mail; others will require that you put your dispute
    in writing. Be sure to include your name and account number, a description
    of the billing error and the date and amount of the charge you dispute.
  </p>

  <p>
    the card issuer, in turn, must look into problem and either correct error or
    explain to you why bill is correct. if there an error, will not have pay
    interest charges on disputed amount. your account be corrected. no credit
    company send explanation a statement of what owe.
  </p>
  <p>
    During the period that the card issuer is investigating the error, you do
    not have to pay the amount in question. For further information visit
    <a href="http://www.federalreserve.gov/consumerinfo/default.htm"
      >Consumer Information</a
    >.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Removal Of Unauthorized Charges</h3>

  <p>
    Under the Truth in Lending Act, if your credit card is used without your
    authorization, you are only held liable for up to $50 per card. If you
    report the loss before the card is used, federal law says the card issuer
    cannot hold you responsible for any unauthorized charges.
  </p>

  <p>
    If a thief uses your card before you report it missing, the most you will
    owe for unauthorized charges is $50. This is true even if a thief is able to
    use your credit card at an automated teller machine (ATM) to access your
    credit card account.
  </p>

  <p>
    To minimize your liability, report the loss of your card as soon as
    possible. Most companies have toll-free numbers printed on their statements
    and 24-hour service to report lost or stolen cards.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Resolution Of Disputes</h3>

  <p>
    If you have a problem with merchandise or services that you charged to a
    credit card, and you have made a good faith effort to work out the problem
    with the seller, you have the right to withhold from the card issuer payment
    for the merchandise or services. Check with your credit card company
    regarding their policies.
  </p>

  <p>
    If you do not achieve satisfaction through the seller or credit card
    company, you can file a small claims court action an informal legal
    proceeding that can be used to settle disputes. Check your local telephone
    book under your municipal, county, or state government headings for small
    claims court listings.
  </p>

  <p><strong>In addition, you have the following rights:</strong></p>

  <p>
    You have the right to have mail and phone order purchases shipped when
    promised or to cancel for a full and prompt refund. If no shipping date is
    stated, your right to cancel begins 30 days after your order and payment are
    received by the merchant. If you cancel, the seller has one billing cycle to
    tell the card issuer to credit your account.
  </p>

  <p>
    There are two exceptions to the 30-day shipment rule: (1) If a company
    doesn't promise a shipping time, and you are applying for credit to pay for
    your purchase, the company has 50 days after receiving your order to ship.
    (2) Spaced deliveries, such as magazine subscriptions (except for the first
    shipment); items that continue until you cancel (e.g. book or record clubs,
    etc.); C.O.D. (cash on delivery) orders; services; and seeds or growing
    plants are not covered.
  </p>

  <p>
    You have the right to a full refund--because of shipping delay--within seven
    working days (or one billing cycle) after the seller receives your request
    to cancel.
  </p>

  <p>You may refuse a delivery of damaged or spoiled items.</p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If there is obvious damage to a package you receive
      in the mail, and if you decide not to accept the package, write "REFUSED"
      on the wrapper (at time of delivery) and return it unopened to the seller.
      No new postage is needed, unless the package came by insured, registered,
      certified or C.O.D. mail and you signed for it.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you are ordering something to be delivered by
      C.O.D., make your check out to the seller, not the post office. That way,
      you may contact your bank and stop the check if there is an immediate
      problem with merchandise.
    </p>
  </blockquote>

  <p>
    When you return merchandise or pay more than you owe, you have the option of
    keeping the credit balance on your account or requesting a refund (if the
    amount exceeds $1.00). To obtain a refund, write the card issuer. The card
    issuer must send you the refund within seven business days of receiving your
    request.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Prompt Shipment</h3>

  <p>
    You have the right to have mail and phone order purchases shipped when
    promised or to cancel for a full and prompt refund. If no shipping date is
    stated, your right to cancel begins 30 days after your order and payment are
    received by the merchant. You can choose to wait longer for your order, or
    cancel and get a prompt refund. If you cancel, and your order was paid by
    charge or credit card, the seller has one billing cycle to tell the card
    issuer to credit your account.
  </p>

  <p>
    There are two exceptions to the 30-day shipment rule: (1) If a company
    doesn't promise a shipping time, and you are applying for credit to pay for
    your purchase, the company has 50 days after receiving your order to ship.
    (2) Spaced deliveries, such as magazine subscriptions (except for the first
    shipment); items which continue until you cancel (e.g. book or record clubs,
    etc.); C.O.D. (cash on delivery) orders; services; and seeds or growing
    plants are not covered.
  </p>

  <p>
    You have the right to a full refund-because of shipping delay-within seven
    working days (or one billing cycle) after the seller receives your request
    to cancel.
  </p>
  <p></p>
  <h2>Refusal Of Delivery</h2>
  <p></p>

  <p>You may refuse a delivery of damaged or spoiled items.</p>

  <p></p>
  <h2>Withholding Of Payment In Case Of Dispute</h2>
  <p></p>

  <p>
    You need not pay a disputed amount while your dispute is being reviewed by
    the card issuer.
  </p>

  <p>
    If you receive something C.O.D., you have the right to stop payment on a
    check made out to a seller, but not one made out to the Post Office, if
    there is something wrong with the order.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you are ordering something to be delivered by
      C.O.D., make your check out to the seller, not the post office. That way,
      you may contact your bank and stop the check if there is an immediate
      problem with merchandise.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>Protection Against Offensive Junk Mail/Junk Calls
  </h3>

  <p>
    You have the right to tell commercial telephone and direct mail marketers to
    stop calling you. If you wish to have your name removed from telephone lists
    of marketing companies contact the federal Do Not Call Registry:
  </p>

  <p>
    National Do Not Call Registry<br />
    Federal Trade Commission<br />
    600 Pennsylvania Avenue, NW<br />
    Washington, DC 20580<br />
    website: <a href="http://www.donotcall.gov">www.donotcall.gov</a>
  </p>

  <p>
    Consumers who do not wish to receive promotional mail at home should
    contact:
  </p>

  <p>
    Data &amp; Marketing Association, Inc. (formerly the Direct Marketing
    Association)<br />
    1333 Broadway, Suite #301<br />
    New York, NY 10036-6700<br />
    Tel. 212.768.7277<br />
    website: <a href="http://www.DMAChoice.org">www.DMAChoice.org</a>
  </p>

  <p>
    If companies you now do business with also removes your name, you can
    contact them directly to have your name reinstated. If the marketer violates
    the do-not-call list, the first step is to file a complaint with the FTC
    (Federal Trade Commission). You can also file a lawsuit against the
    telemarketer, but only if there is a "pattern and practice" of violations.
    You also have to have suffered actual damages of more than $50,000 and be
    able to prove both of these things.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you receive unordered merchandise in the mail,
      consider it a gift and don't feel pressure to pay for it.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>Government and Non-Profit Agencies</h3>

  <p>
    The following agencies are responsible for enforcing federal laws that
    govern credit card transactions. Questions concerning a particular card
    issuer should be directed to the enforcement agency responsible for that
    issuer.
  </p>

  <ul>
    <li>
      <p><strong>State Member Banks of the Reserve System:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Consumer &amp; Community Affairs<br />Board of Governors of the Federal
        Reserve System<br />20th &amp; Constitution Avenue, N.W.<br />Washington,
        D.C. 20551</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>National Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743 </em
      ><br />
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>Federal Credit Unions:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >National Credit Union Administration<br />1775 Duke St # 4206<br />Alexandria,
        VA 22314-6115</em
      ><br />
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>Non-Member Federally Insured Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Federal Deposit Insurance Corporation <br />
        Consumer Response Center <br />
        1100 Walnut St, Box #11 <br />
        Kansas City, MO 64106
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Federally Insured Savings and Loans, and Federally Chartered State
          Banks:</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Other Credit Card Issuers (includes retail gasoline
          companies):</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Bureau of Consumer Protection<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, D.C. 20580</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>The U.S. Postal Inspection Service:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      This office covers mail fraud, sexually offensive materials, solicitations
      that look like government materials but are not. If you suspect such
      violations, contact your local Postmaster or Postal Inspector or:
    </p>

    <p>
      <em
        >Criminal Investigations Service Center<br />Attn: Mail Fraud<br />222
        S. Riverside Plaza Ste. 1250<br />Chicago Il 60606-6100<br />Tel.
        877-876-2455</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <em><strong>The Federal Trade Commission:</strong></em>
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      Does not handle individual complaints, but reporting failure to deliver,
      late delivery, unordered merchandise, misrepresentation or fraud helps
      uncover widespread abuses that the FTC might take action to stop.
    </p>

    <p>
      <em
        >Division of Enforcement<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />Tel. (202)
        326-2222</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>National Do Not Call Registry:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      If you wish to have your name removed from telephone lists of marketing
      companies.
    </p>

    <p>
      <em
        >National Do Not Call Registry<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />website:
        www.donotcall.gov</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Direct Marketing Mail Opt-Out:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>Consumers who do not wish to receive promotional mail at home</p>

    <p>
      <em
        >Data &amp; Marketing Association, Inc. (formerly the Direct Marketing
        Association)<br />1333 Broadway, Suite #301<br />New York, NY 10036-6700
        <br />Tel. 212.768.7277<br />website: www.DMAChoice.org</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Low or No-Cost Credit Cards:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      Bankrate.com lists banks charging no fees and low interest rates for
      credit cards. Visit the website: www.bankrate.com
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
