<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/audits-reviews-compilations"
        >Audits - Reviews - Compilations</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Audits - Reviews - Compilations"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>Proven Expertise in Audits, Compilations, and Reviews</strong>
        </h2>
        <p>
          As a business owner, you may be accountable to creditors, private
          investors, and shareholders, all of whom are interested in ensuring
          that the company's financial statements accurately represent the true
          financial position of the company.
        </p>
        <p>There are three types of CPA certified financial statements:</p>
        <p style="margin-left: 40px">
          <strong>Compilations</strong>. The first level of service is the
          compilation. There is no verification that the numbers presented in
          the statements are accurate and the financial statements produced are
          for management and third-party use.
        </p>
        <p style="margin-left: 40px">
          <strong>Reviews.</strong> More involved than a compilation, but not as
          comprehensive as an audit, reviews provide “limited assurance.” Key
          personnel are interviewed about the company's accounting policies and
          procedures, industry, operations, and financial statements. A review
          report is issued as well.
        </p>
        <p style="margin-left: 40px">
          <strong>Audits.</strong> Audit services are the highest level of
          service provided. We work closely with key personnel to gain knowledge
          of internal control systems (“checks and balances”). Verification and
          substantiation procedures are performed in accordance with Generally
          Accepted Auditing Standards (GAAS).
        </p>
        <h3>Audit, Review, or Compilation?</h3>
        <p>
          You may be wondering which one is best for your business. The answer
          depends on the level of assurance or financial accuracy that you want.
          For instance, you may decide a compilation is all you need this year,
          but in subsequent years, you may decide that a review - or even an
          audit - provides better information about your financials and enables
          you to make better decisions about the future growth of your
          company.&nbsp;
        </p>
        <h3>
          We Look Forward to Helping Your Business Achieve Financial Success!
        </h3>
        <p>
          Whether your business or organization needs an audit, compilation,
          review - or maybe even all three - our experienced team of CPAs,
          accountants, and tax professionals is here to help.
        </p>
        <p>
          <strong
            >Not sure which level of assurance your business needs? Contact us
            using the form below.
          </strong>
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
