<br />
This section is dedicated to another major life event. Within you will find a series of articles chosen to bequeath you with the knowledge necessary to make the best decisions you can when buying or selling a home.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/buying-home-fg']"
          routerLinkActive="router-link-active"
          ><b>Buying a Home: What To Do and How To Do It</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/homeowners-insurance-fg']"
          routerLinkActive="router-link-active"
          ><b
            >Homeowner's Insurance: How To Get The Best Coverage and Value</b
          ></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/mortgage-alternatives-fg']"
          routerLinkActive="router-link-active"
          ><b>Mortgage Alternatives: How To Choose The Right One</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/home-mortgage-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Home Mortgage Interest Deductions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/deductibility-points-fg']"
          routerLinkActive="router-link-active"
          ><b>The Deductibility of Points</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/refinancing-mortgage-fg']"
          routerLinkActive="router-link-active"
          ><b>Refinancing Your Mortgage: When and How</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/selling-home-fg-a'
          ]"
          routerLinkActive="router-link-active"
          ><b>Selling Your Home: How To Do It Effectively</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/selling-home-fg-b'
          ]"
          routerLinkActive="router-link-active"
          ><b>Selling Your Home: How To Minimize the Tax On the Gain</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/deductible-expenses-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b
            >Which Moving Expenses Are Deductible?</b
          ></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/real-estate-deduction-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b
            >The Deduction For Real Estate Taxes</b
          ></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/devloping-financial-plan-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Buying a Home: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/homeowners-insurance-faq']"
          routerLinkActive="router-link-active"
          ><b>Homeowner's Insurance: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/mortgages-faq']"
          routerLinkActive="router-link-active"
          ><b>Mortgages: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/selling-home-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Selling Your Home: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/planning-move-faq']"
          routerLinkActive="router-link-active"
          ><b>Planning Your Move: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>Should I Refinance My Mortgage?</b></a
        ><br />
        <a><b>Comparing Mortgage Terms (i.e. 15, 20, 30 year)</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
