<div id="fga">
  <p>
    Do you have enough disability insurance coverage? If you need to purchase
    private coverage, how can you get the most for your money? Have you
    neglected to protect what could be your most important financial asset? For
    many individuals, this is not the home or portfolio- it's earning power.
    This Financial Guide provides you with information to assist you in
    determining how much disability insurance you should have.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Planning For The Worst-Case Scenario</a></li>
      <li><a href="#2">Checking Up On What You Have</a></li>
      <li><a href="#3">Employer-Provided Coverage</a></li>
      <li><a href="#4">Governmental Coverage</a></li>
      <li><a href="#5">What To Look For In A Private Policy</a></li>
      <li><a href="#6">Be Ready To Prove Your Income Level</a></li>
      <li><a href="#7">Watch Out For The "Definition Of Disability"</a></li>
      <li><a href="#8">Waiting Period</a></li>
      <li><a href="#9">How Long Will Coverage Last?</a></li>
      <li><a href="#10">Residual Benefits</a></li>
      <li><a href="#11">Non-Cancelable vs. Guaranteed Renewable</a></li>
      <li><a href="#12">Riders And Options</a></li>
      <li><a href="#13">Check Out Your Insurer</a></li>
      <li><a href="#14">Premium-Reducing Tips</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    Even if your employer provides you with disability coverage, it's vital to
    examine the terms and conditions of that coverage, since it may not provide
    you with adequate coverage to meet your needs.
  </p>

  <p>
    If you couldn't work, how long could you continue to pay your bills? Chances
    are, whatever employer-provided and government-provided coverage you have is
    inadequate, and you need to provide yourself with private disability
    coverage. Here are guidelines designed to ensure that you are adequately
    covered.
  </p>

  <h3 class="cellcolor">
    <a name="1"></a>Planning For The Worst-Case Scenario
  </h3>

  <p>
    Many of us have life insurance, however very few of us have long-term
    disability coverage. Yet according to statistics, workers are more likely to
    sustain a long-term disability (one lasting longer than 90 days) than dying
    at an early age. Long-term disability insurance is fairly expensive, and
    people tend to think that they will be protected by workers' compensation or
    other sources. However, Social Security, workers' compensation, and
    employer-offered long-term coverage are often inadequate.
  </p>

  <blockquote class="note">
    <p>
      We'll show you how to check up on the adequacy of various sources of
      coverage in this Guide. Here's a typical disability scenario- one that
      could happen to anyone.
    </p>
  </blockquote>

  <p></p>
  <blockquote>
    <strong>Example:</strong> Roger Roberts, a former executive for a large
    company and currently self-employed as a consultant, earns $200,000 per
    year. Last year, his osteoarthritis suddenly became much worse, and he could
    no longer bend his back, lift anything, or stand in one place for longer
    than a few minutes. Roger was forced to discontinue his consulting business,
    and attempted various career changes, none of which panned out. Fortunately
    for Roger, he had taken out a disability policy years ago and had continued
    paying the $2,000 per year premiums. The policy will now pay him $20,000 per
    year in benefits - a badly needed income.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Checking Up On What You Have</h3>

  <p>
    Here are some suggestions for investigating the disability coverage you may
    already have, in order to find out whether it is adequate to meet your
    needs.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Employer-Provided Coverage</h3>

  <p>
    If your employer provides long-term disability coverage, which must usually
    be paid for by the employee, then it's a good idea to buy it. The premiums
    are probably discounted from what you'd pay for a private policy.
  </p>

  <p>
    However, take a good look at what the employer-offered policy covers, and
    buy a private policy if you decide you need it. Many employer-provided group
    policies are inadequate in that they limit either the term of the coverage
    or the amount of benefits paid. For instance, benefits may last only a few
    years, or benefit payments may represent only a small part of executive
    salaries.
  </p>

  <p>Check up on the following:</p>

  <ul>
    <li>How long does the disability coverage last?</li>
  </ul>
  <ul>
    <li>How much is the benefit?</li>
  </ul>

  <blockquote class="note">
    <p>
      Group plans may have a benefit cap of $5,000 per month. Individual plans
      may also have such a cap.
    </p>
  </blockquote>

  <ul>
    <li>What percentage of your income are you covered for?</li>
  </ul>

  <blockquote class="note">
    <p>
      Generally, you cannot obtain insurance for more than 60 percent of your
      income.
    </p>
  </blockquote>

  <ul>
    <li>Who pays the premiums?</li>
  </ul>

  <blockquote class="tip">
    <p>
      Tax-wise, you're better off paying the premiums yourself, instead of
      having your employer pay them. Why? Because if you pay the premium for
      your disability benefits using after-tax dollars, your disability benefits
      are tax-free. On the other hand, if your employer pays the premiums using
      pre-tax dollars your disability benefits are taxable.
    </p>
  </blockquote>

  <ul>
    <li>
      If you receive bonuses or commissions, are these covered by the group
      policy? If not, and if bonuses or commissions make up a substantial part
      of your income, you'll probably need supplemental coverage.
    </li>
  </ul>
  <ul>
    <li>
      What is the definition of disability in the group policy? Own-occupation,
      any occupation, or income-replacement? (Please see the discussion of these
      three terms in the section on private policies.)
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Governmental Coverage</h3>

  <p>
    Worker's compensation covers injuries that happen on the job and the amount
    of benefits you receive are based on your average salary at the time of your
    injury. Benefits vary widely from state to state since benefit amounts
    depend on state provisions. Most states pay benefits for the employee's
    lifetime in cases of permanent total disability.
  </p>

  <blockquote class="tip">
    <p>
      To get details on worker's comp benefits, contact your state's Department
      of Labor.
    </p>
  </blockquote>

  <p>
    Veterans whose disability is related to a service-related injury may be
    eligible to receive disability benefits in certain states. If you are a
    veteran, find out whether a disability fund exists in your state.
  </p>

  <p>
    Social Security provides long-term disability coverage. However, more than
    half of the individuals who apply for Social Security disability are denied
    coverage, and the system leaves many gaps. Further, the average monthly
    payment in 2022, for example, it was $1,361 and may not be adequate for many
    individuals.
  </p>

  <blockquote class="aid">
    <p>
      <strong>Planning Aid:</strong>
      <a href="http://www.standardandpoors.com/"
        >Standard And Poor's Insurance Ratings</a
      >
      allow you to find S &amp; P ratings and financial strength ratings of
      various insurance companies.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="5"></a>What To Look For In A Private Policy
  </h3>

  <p>
    If you decide you need supplemental coverage, here are some things to look
    for in a private policy, as well as some suggestions for getting the most
    for your money.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Be Ready To Prove Your Income Level</h3>

  <p>
    A disability insurance company will usually not cover you for more than 66
    2/3 percent of your income. Look for a policy that provides coverage for
    this level.
  </p>

  <p>
    When you shop for a disability policy, be ready to prove your income level.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>Watch Out For The "Definition Of Disability"
  </h3>

  <p>
    The definition of disability in a policy is extremely important. It tells
    you under what circumstances you will qualify to receive benefits.
  </p>

  <p>
    <em>Own-occupation coverage</em> pays benefits if you can't work at your
    chosen field-e.g., attorney or teacher. Own-occupation policies are the most
    expensive type of disability coverage because they provide the broadest
    coverage. (If you cannot perform the duties of your own occupation, you can
    take a job in a related field, make a decent income, and still collect the
    benefits.)
  </p>

  <p>
    <em>Any-occupation coverage</em> pays benefits if you can't work at any
    occupation for which your education level and training has prepared you.
    Thus, if you can no longer perform the duties of a nuclear physicist, but
    you can teach physics at college level, you will not receive benefits.
  </p>

  <p>
    <em>Income-replacement policies</em>, which are less expensive than
    own-occupation or any-occupation, replace whatever portion of your income
    you are no longer able to earn.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>Waiting Period</h3>

  <p>
    The longer the waiting period before benefits kick in, the less your premium
    will be. If you have adequate sick leave, short-term disability, and an
    emergency fund, and can support a longer waiting period, choose a policy
    with a longer waiting period.
  </p>

  <p>
    Waiting periods are typically 30 to 90 days long but can be as long as 26
    weeks.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>How Long Will Coverage Last?</h3>

  <p>
    It's a good idea to get a benefit period that lasts until the age you start
    receiving Social Security payments. Be aware that many policies cover you
    for only two to five years, an inadequate period.
  </p>

  <p>
    Unless you are so young that you haven't yet had time to qualify for Social
    Security, a policy that provides lifetime benefits, at costly premiums, is
    generally not worth it.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="10"></a>Residual Benefits</h3>

  <p>
    If you are able to work only part-time instead of your previous full-time
    hours, will you receive benefits? Unless your policy states that you are
    entitled to residual benefits, you won't receive anything unless you are
    totally unable to work.
  </p>

  <blockquote class="note">
    <p>Residual benefits may be added on as a rider in some policies.</p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="11"></a>Noncancellable vs. Guaranteed Renewable
  </h3>

  <p>
    The difference between these two terms is very important. If a policy is
    "noncancellable," you will pay a fixed premium throughout the contract term.
    Your premium will not go up for the term of the contract. If it is
    "guaranteed renewable," your premiums could go up.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="12"></a>Riders and Options</h3>

  <p>Riders and options are additions to policies and cost extra.</p>

  <p></p>
  <h3>Increasing Coverage</h3>
  <p></p>

  <p>
    An option to increase coverage gives you the ability to buy more coverage
    without being turned down for health reasons.
  </p>

  <p>You will pay about 10 percent of your premium to have this option.</p>

  <p></p>
  <h3>Cost-Of-Living</h3>
  <p></p>

  <p>
    The cost-of-living rider, which can add 20 to 40 percent to your premium,
    pays you increased benefits after you become disabled.
  </p>

  <p></p>
  <h3>Social Security</h3>
  <p></p>

  <p>
    If you qualify for Social Security disability, the insurer gets to decrease
    your coverage.
  </p>

  <blockquote class="tip">
    <p>
      Take this rider if it is available. It will save you money on your
      premium.
    </p>
  </blockquote>

  <p></p>
  <h3>Waiver-of-Premium</h3>
  <p></p>

  <p>
    This important rider allows you to stop paying premiums once you become
    disabled.
  </p>

  <blockquote class="tip">
    <p>
      Weigh the cost of the waiver-of-premium rider against the cost of
      continuing to pay the premiums after disability.
    </p>
  </blockquote>

  <p></p>
  <h3>Return-of-Premium</h3>
  <p></p>

  <p>
    This is an option that allows you some cash back if you do not collect on
    your disability coverage after a certain amount of time.
  </p>

  <blockquote class="tip">
    <p>
      This rider is too expensive, generally about 50 percent of your premium.
      Don't take it.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="13"></a>Check Out Your Insurer</h3>

  <p>
    Before buying a policy, check the financial soundness of your insurer. If
    your insurer goes bankrupt, you may have to shop for a policy later in life,
    when premiums are more expensive.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="14"></a>Premium-Reducing Tips</h3>

  <ul>
    <li>
      Try to get disability insurance on a low-load (commission) basis. Look at
      the policies offered by independent agents, but don't buy insurance from
      an insurer that doesn't check out as financially sound.
    </li>
    <li>
      If you're young, consider buying an annual renewable disability income
      policy. This is similar to term life insurance. Then, when you are older
      and more able to afford the policy, convert to a permanent policy.
    </li>
    <li>
      Try to get group coverage from a trade association or other organization
      you belong to.
    </li>
    <li>
      If you're female, look for an insurer that has unisex pricing. Otherwise,
      women will generally pay higher premiums.
    </li>
    <li>Investigate discounts that may be available.</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
