<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">What are the steps in the investment process?</a></li>
      <li><a href="#2">What types of risks are involved in investing?</a></li>
      <li>
        <a href="#3">What steps can I take to avoid unnecessary risks?</a>
      </li>
      <li>
        <a href="#4"
          >What questions should I ask before making any investment?</a
        >
      </li>
      <li>
        <a href="#5"
          >What questions should I ask before making a mutual fund
          investment?</a
        >
      </li>
      <li><a href="#6">What investment hazards should I look out for?</a></li>
      <li><a href="#7">What should I invest my IRA in?</a></li>
      <li><a href="#8">What are derivatives and options?</a></li>
      <li>
        <a href="#9"
          >How can I avoid the most-frequent money-losing mistakes?</a
        >
      </li>
      <li>
        <a href="#10"
          >What is the difference between my cumulative return and annualized
          return?</a
        >
      </li>
      <li><a href="#11">What is the rule of 72?</a></li>
      <li><a href="#12">What is "Total Return" and why is it important?</a></li>
      <li><a href="#13">How does "yield" differ from "total return?"</a></li>
      <li>
        <a href="#14"
          >Can I measure my return as the increase in the value of my portfolio
          over a given period?</a
        >
      </li>
    </ul>
    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>What are the steps in the investment process?
    </h3>

    <p>
      The investment process is comprised of several steps that enable you to
      select a portfolio appropriate to your risk tolerance and desired return.
      The primary steps in this process are:
    </p>

    <ul>
      <li>Determine your desired return and risk tolerance</li>
      <li>Develop an asset allocation plan</li>
      <li>Select diversified investments within each asset class</li>
      <li>Monitor your investments</li>
    </ul>

    <p><strong>Q: How are risk and return related?</strong></p>

    <p>
      <strong>A:</strong> Risk and return are positively correlated. The higher
      the risk of an investment, the higher a return it must offer in order to
      compensate for the risk. Risks come in many forms such as the volatility
      of the market, inflation risk, interest rate risk, and business risk. You
      must determine the degree of risk that you are willing to tolerate. Your
      investment professional can assist you in this process.
    </p>

    <p>
      Select the level of risk that permits you to sleep at night. If you have a
      long investment horizon, then focus on your desired return. Year to year
      fluctuations should not be a concern. Over the long term, stocks have
      generated annual returns of about 10 to 11 percent and have had the
      highest level of risk while long-term government bonds have had long-term
      returns of 5 to 6 percent and have had the lowest level of risk. The more
      risk you can tolerate or the higher your desired rate of return, the
      higher the portion of your portfolio invested in stocks should be.
    </p>

    <p><strong>Q: What is an asset allocation plan?</strong></p>

    <p>
      <strong>A:</strong> Asset allocation is the distribution of investments
      among asset classes. Asset classes include different types of stocks,
      bonds, and mutual funds. It is a significant factor in determining your
      investment return relative to risk. Proper asset allocation maximizes
      returns and minimizes risk. This is because different classes of assets
      react differently to economic upswings or downswings. Allocation differs
      from diversification in that it balances a portfolio among different
      classes of assets, for example, growth stocks, long bonds, and
      large-company stocks, while diversification focuses on variety within an
      asset class. Generally, allocation among six or seven asset classes is
      recommended.
    </p>

    <p><strong>Q: What is diversification?</strong></p>

    <p>
      <strong>A:</strong> Diversification is the selection of multiple
      investments within a portfolio. For example, investing in a portfolio of
      30 stocks rather than in just a few. By maintaining a diversified, varied
      portfolio, you are minimizing risk. You're less likely to make that "big
      killing," but when individual investments take a nose-dive, you won't take
      a big hit.
    </p>

    <p><strong>Q: How can I best monitor my investments? </strong></p>

    <p>
      <strong>A:</strong> Examine carefully and promptly any written
      confirmations of trades that you receive from your broker, as well as all
      periodic account statements. Make sure that each trade was completed in
      accordance with your instructions. Check to see how much commission you
      were charged, to make sure it is in line with what you were led to believe
      you would pay. If commission rates have increased or will increase in the
      immediate future, or if charges such as custodial fees are to be imposed,
      then you should be informed in advance.
    </p>

    <p>
      If securities are held for you in street name (where the customer's
      securities and assets are held under the name of the brokerage firm
      instead of the name of the individual who purchased the security or
      asset), you may request that dividends or interest payments be forwarded
      to you or put into an interest-bearing account, if available, as soon as
      they are received, rather than at the end of the month or after some other
      lengthy period of time.
    </p>

    <blockquote class="tip">
      <p>
        Set up a file where you can store information relating to your
        investment activities, such as confirmation slips and monthly statements
        sent by your broker. Keep notes of any specific instructions given to
        your account executive or brokerage firm. Good records regarding your
        investments are important for tax purposes, and also in the event of a
        dispute about a specific transaction.
      </p>
    </blockquote>

    <p>
      Periodically, ask yourself the following questions about your investment:
    </p>

    <ul>
      <li>Is this investment performing as I was told it would?</li>
      <li>How much money will I get if I sell it today?</li>
      <li>How much am I paying in commissions or fees?</li>
      <li>
        Have my investment goals changed? If so, is the investment still
        suitable?
      </li>
      <li>
        Have I decided what contingencies need to happen for me to sell the
        investment (i.e., a certain percentage decrease in value)?
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What types of risks are involved in investing?
    </h3>

    <p>
      Nobody invests to lose money. However, investments always entail some
      degree of risk. Be aware that:
    </p>

    <ol>
      <li>
        <p>
          The higher the expected rate of return, the greater the risk.
          Depending on market developments, you could lose some or all of your
          initial investment or a greater amount.
        </p>
      </li>
      <li>
        <p>
          Some investments cannot easily be sold or converted to cash. Check to
          see if there is any penalty or charge if you must sell an investment
          quickly or before its maturity date.
        </p>
      </li>
      <li>
        <p>
          Investments in securities issued by a company with little or no
          operating history or published information may involve greater risk.
        </p>
      </li>
      <li>
        <p>
          Securities investments, including mutual funds, are not federally
          insured against a loss in market value.
        </p>
      </li>
      <li>
        <p>
          Securities you own may be subject to tender offers, mergers,
          reorganizations, or third party actions that can affect the value of
          your ownership interest. Pay careful attention to public announcements
          and information sent to you about such transactions. They involve
          complex investment decisions. Be sure you fully understand the terms
          of any offer to exchange or sell your shares before you act. In some
          cases, such as partial or two-tier tender offers, failure to act can
          have detrimental effects on your investment.
        </p>
      </li>
      <li>
        The past success of a particular investment is no guarantee of future
        performance.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What steps can I take to avoid unnecessary risks?
    </h3>

    <p>
      1. Never give in to high pressure. A high-pressure sales pitch can mean
      trouble. Be suspicious of anyone who tells you, "Invest quickly or you
      will miss out on a once in a lifetime opportunity."
    </p>

    <p>
      2. Never send money to purchase an investment based simply on a telephone
      sales pitch.
    </p>

    <p>3. Never make a check out to a sales representative.</p>

    <p>
      4. Never send checks to an address different from the business address of
      the brokerage firm or a designated address listed in the prospectus.
    </p>

    <blockquote class="tip">
      <p>
        If your broker asks you to do any of these things, contact the branch
        manager or compliance officer of the brokerage firm.
      </p>
    </blockquote>

    <p>
      5. Never allow your transaction confirmations and account statements to be
      delivered or mailed to your sales representative as a substitute for
      receiving them yourself. These documents are your official record of the
      date, time, amount, and price of each security purchased or sold. Verify
      that the information in these statements is correct.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>What questions should I ask before making any investment?
    </h3>

    <p>
      Have this list of questions with you the next time you talk to your
      broker. Write down the answers you get and the action you decide to take.
      Your notes may come in handy later if there is a dispute or a problem. A
      good broker will be happy to answer your questions and will be impressed
      with your seriousness and professionalism.
    </p>

    <ul>
      <li>
        <p>
          Is this investment registered with the SEC and a state securities
          agency?
        </p>
      </li>
      <li><p>Does the investment match my investment goals?</p></li>
      <li>
        <p>
          How will the investment make money for me (dividends, interest,
          capital gains)?
        </p>
      </li>
      <li>
        <p>
          What set of circumstances have to occur for the value of the
          investment to go up? To go down? (e.g., must interest rates rise?)
        </p>
      </li>
      <li>
        <p>
          What fees do I have to pay to buy, maintain, and sell the investment?
          After fees, how much does the value have to increase by before I make
          a profit?
        </p>
      </li>
      <li>
        <p>
          How easy is it for me to unload this investment in a hurry, should I
          need the money?
        </p>
      </li>
      <li>
        <p>
          What are the specific risks associated with this investment, for
          example what is the risk that rising interest rates will devalue your
          investment or the risk that an economic recession could decrease its
          value?
        </p>
      </li>
      <li>
        <p>
          Is the company experienced at what it is doing? How long has it been
          in business? What is their track record? Who are their competitors?
        </p>
      </li>
      <li>
        Can I get more information: a prospectus, the latest SEC filings, or the
        latest annual report?
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>What questions should I ask before making a mutual fund
      investment?
    </h3>

    <p>
      Here is a list of potential questions to ask before making a mutual fund
      investment:
    </p>

    <ul>
      <li>
        <p>
          How has the fund performed over the long run? Where can I get an
          independent evaluation of it?
        </p>
      </li>
      <li><p>What specific risks are associated with it?</p></li>
      <li><p>What type of securities does the fund hold?</p></li>
      <li><p>How often does the portfolio change?</p></li>
      <li>
        <p>
          Does this fund invest in derivatives, or in any other type of
          investment that could cause rapid changes in the NAV (Net Asset
          Value)?
        </p>
      </li>
      <li>
        <p>
          How does the fund's performance compare to other funds of its type, or
          to an index of similar investments?
        </p>
      </li>
      <li>
        <p>
          How much of a fee will I have to pay to buy shares? To maintain
          shares?
        </p>
      </li>
      <li>
        How often will I get statements? Can you explain what the statement
        tells me about the investment?
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>What investment hazards should I look out for?
    </h3>

    <p>
      There are no magic formulas for successful investing. It takes a
      disciplined, reasoned approach, a commitment to follow some basic, solid
      rules that have proved effective over time, and to stay in it for the long
      haul.
    </p>

    <p>Here are some specific tips.</p>

    <p>
      <strong>Don't Let Greed Cloud Your Better Judgment.</strong> A disciplined
      approach, taking into account your investment objectives, will pay
      dividends in more ways than one. Investors who are constantly chasing the
      jackpot usually lose in the long run.
    </p>

    <p>
      <strong>Don't Rely on Tips.</strong> The "hot tip" is the bane of
      investors. There may be short-term gain in some cases, but in this regard,
      it's generally wise to follow the maxim, "What goes up must come down."
    </p>

    <p>
      <strong>Be Resolute.</strong> Develop a comprehensive, reasoned plan with
      your adviser, and stick to it, despite the temptation to "take a flyer."
      When you have developed your plan, and in the absence of other factors,
      follow it.
    </p>

    <p>
      <strong>Consider All Your Needs and Get a Plan That Fits.</strong> For
      financial planning to be truly effective, all your needs must be
      considered: money management, tax planning, retirement planning, estate
      planning, insurance, etc.
    </p>

    <p>
      <strong>Evaluate Investments Periodically.</strong> An investment program
      is not static and unchanging. Your financial situation and objectives may
      change, as does the economic situation. Review your plan with your adviser
      and, if necessary, update it to reflect your current and long-term needs.
    </p>

    <p>
      <strong>Monitor your investments.</strong> Stay informed. Don't rely on
      others to "take care of" your portfolio. Keep up with your reading,
      whether in newsletters, magazines, or the internet.
    </p>

    <p>
      <strong>Read Broker-Account Forms With Care.</strong> Many investors pay
      scant attention to the forms involved in opening and maintaining a
      brokerage account. As pointed out earlier, many investors are not aware
      that much of the paperwork is intended, at least in part, to protect the
      broker and the form against any complaints they might bring.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="7"></a>What should I invest my IRA in?</h3>

    <p>
      Like any other investment, you should match the portfolio with your
      desired return, risk tolerance and investment time horizon. The higher
      your desired return and risk tolerance and the longer your time horizon,
      the greater the portion of your portfolio should be in equity investments
      such as common stocks. Since IRAs are generally long-term investments,
      equity investments are generally appropriate for a portion of the account.
    </p>

    <p>
      For those with a lower risk tolerance, short-term fixed income investment
      would be appropriate. Many people have their IRAs invested in CDs. This is
      appropriate only for those with a very short time horizon or very low-risk
      tolerance. IRA money, like any other investment, should be invested in
      something that will provide a decent return.
    </p>

    <p>
      Municipal bonds should never be used within an IRA. In doing so, you
      sacrifice return and may convert otherwise tax-free income to taxable
      income when you withdraw the funds.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="8"></a>What are derivatives and options?</h3>

    <p>
      A derivative is an investment instrument whose value is based on
      underlying assets such as stocks, bonds, commodities, currencies, interest
      rates and market indexes. Options are one of the most common types of
      derivatives and are a useful tool for enhancing a portfolio's income and
      in many cases, reducing risk. Other types of derivatives include futures
      contracts, forward contracts, and swaps, but these are more appropriate
      for sophisticated investors.
    </p>

    <p>
      Stock options are contracts that give the purchaser the right to buy or
      sell at a specific price and within a certain period of time, for
      instance, 100 shares of corporate stock (known as the underlying
      security). These options are traded on a number of stock exchanges and on
      the Chicago Board Options Exchange.
    </p>

    <p>
      When investors buy an option contract, they pay a premium, typically the
      price of the option as well as a commission on the trade. If they buy a
      "call" option, they are speculating that the price of the underlying
      security will rise before the option period expires. If they buy a "put"
      option, they are speculating that the price will fall.
    </p>

    <blockquote class="tip">
      <p>
        While options trading can be very useful as part of an overall
        investment strategy, it can also be very complicated and sometimes
        extremely risky. If you plan to trade in options, make sure that you
        understand basic options strategy and that your registered
        representative is qualified in this area.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>How can I avoid the most frequent money-losing mistakes?
    </h3>

    <p>
      Here are the top mistakes that cause investors to lose money
      unnecessarily.
    </p>

    <ul>
      <li>Using a cookie-cutter approach</li>
      <li>Taking unnecessary risks</li>
      <li>Allowing fees and commissions to eat up profits</li>
      <li>Not starting early enough</li>
      <li>Ignoring the costs of taxes</li>
      <li>Letting emotion govern your investing</li>
    </ul>

    <p>
      <strong
        >Q: Should I use a standard asset allocation formula such as those seen
        in many popular finance magazines?
      </strong>
    </p>

    <p>
      <strong>A:</strong> Most investors are satisfied with a one-size-fits-all
      investment plan. However, your individual needs as an investor must govern
      any plans you make. For instance, how much of your investment can you risk
      losing? What is your investment timetable? (i.e., are you retired or a
      young professional?) The allocation of your portfolio's assets among
      various types of investments should match your particular needs.
    </p>

    <p>
      <strong
        >Q: Can I make a decent return without taking unnecessary risks?</strong
      >
    </p>

    <p>
      <strong>A:</strong> You do not have to risk your capital to make a decent
      return on your money. While all investments have some degree or risk, many
      investments that offer a return that beats inflation without unduly
      jeopardizing your hard-earned money. For instance, Treasuries are one of
      the safest possible investments and offer a decent return with very little
      risk.
    </p>

    <p>
      <strong>Q: What is the downside of high fees and commissions?</strong>
    </p>

    <p>
      <strong>A:</strong> Many investors allow brokers' commissions, fees, and
      other costs to cut into their returns. Be aware of the fees you are paying
      and make sure they are appropriate for the services you are receiving. The
      more you pay in fees the lower your net return will be.
    </p>

    <p><strong>Q: When should I start investing?</strong></p>

    <p>
      <strong>A:</strong> Today. Many investors are not cognizant of the power
      of interest compounding. By starting out early enough with your investment
      plan, you can invest less, and in the long run, still come out ahead of
      where you would be if you start later in life.
    </p>

    <p>
      <strong>Q: What is the impact of taxes on my investment returns?</strong>
    </p>

    <p>
      <strong>A:</strong> Net profits on your share of your mutual funds' stock
      sales are taxable to you as capital gains. Unless you are in a
      tax-deferred retirement account, the taxes will eat into your profits. The
      solution? Invest in funds where shares are bought and sold less frequently
      and have a low turnover rate (10 percent or less per year).
    </p>

    <p><strong>Q: Should I let my emotions affect my investments?</strong></p>

    <p>
      <strong>A:</strong> Never give in to pressure from a broker to invest in a
      "hot" security or to sell a fund and get into another one. The key to a
      successful portfolio lies in planning, discipline, and reason. Emotion and
      impulse have no role to play. Try to stay in a security or fund for the
      long haul. On the other hand, when it's time to unload a loser, then let
      go of it. Finally, do not fall prey to the myth of "market timing." This
      is the belief that by getting into or out of a security at exactly the
      right moment, we can retire rich. Market timing does not work.
    </p>

    <p>
      Instead, use investment strategies that do work: a balanced allocation of
      your portfolio's assets among securities that suit your individual needs,
      the use of dollar-cost averaging and dividend-reinvestment programs, and a
      well-disciplined, long-haul approach to saving and investment.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>What is the difference between my cumulative return and
      annualized return?
    </h3>

    <p>
      Suppose Mr. N. Vestor invests $100 in an investment that earns 10 percent
      this year and 10 percent the next year. What is his cumulative return? The
      answer is 21 percent.
    </p>

    <p>
      Here's why. N. Vestor's 10 percent gain makes his $100 grow to $110. Next
      year, he earns another 10 percent, leaving him with $121. His investment
      has earned a cumulative 21 percent return over two years. His annualized
      return, however, is 10 percent.
    </p>

    <p>
      The fact that the cumulative return of 21 percent is greater than twice
      the 10 percent annual return is due to the effect of compounding, which
      means that your yearly earnings are added to your original investment
      before the current year's earnings are applied.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="11"></a>What is the rule of 72?</h3>

    <p>
      The rule of 72 is a way of finding out long it will take for your
      investment to double. Divide an investment's annual return into 72, and
      you will have the number of years necessary to double your investment.
    </p>

    <blockquote class="example">
      <p>
        An investment's annual return is 10 percent. Ten percent divided into 72
        is 7.2, so your investment will double in 7.2 year.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="12"></a>What is "Total Return" and why is it important?
    </h3>

    <p>
      If you reinvest all of your gains, including dividends and interest, you
      will be getting the most from compounding. The percentage you achieve is
      termed "total return." It includes appreciation, interest and dividends.
      It is particularly important in examining the past and current performance
      of mutual funds.
    </p>

    <p>
      Mutual funds must, by law, distribute almost all of their capital gain and
      dividend income each year. Many investors reinvest these distributions,
      using them to buy more fund shares. Because the fund's share price is
      reduced after a fund makes a distribution, the long-term price trend of a
      fund's shares may not accurately reflect the fund's performance. However,
      the fund's total return, which takes into account reinvested dividends, is
      often a more accurate reflector of the fund's performance.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="13"></a>How does "yield" differ from "total return?"
    </h3>

    <p>
      Yield is the amount of dividends or interest paid annually by an
      investment. The yield is usually expressed as a percentage of the
      investment's current price. It does not consider appreciation.
    </p>

    <p>
      Because certificates of deposit and money-market funds maintain the same
      value, their total return does not differ much from their yield. But
      because stocks and bonds fluctuate in price, there can be a large
      difference between yield and total return.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="14"></a>Can I measure my return as the increase in the value of
      my portfolio over a given period?
    </h3>

    <p>
      Investors often take the following shortcut, which often yields misleading
      results. Instead of looking at total return, they simply compare their
      year-end portfolio value with the value at the beginning of the year, and
      attribute the entire growth to investment gains.
    </p>

    <p>
      The reason this shortcut may be misleading is that any additional
      investments or withdrawals made during the year are not taken into
      account.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
