<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >What kinds of household workers are covered by nanny tax rules?</a
        >
      </li>
      <li>
        <a href="#2"
          >What must I do if I think my worker or worker-to-be isn't a U.S.
          citizen?</a
        >
      </li>
      <li>
        <a href="#3">What are my tax duties if I have a household employee?</a>
      </li>
      <li>
        <a href="#4"
          >If I hire teenagers as babysitters or for yard work, must I withhold
          and pay tax for them?</a
        >
      </li>
      <li>
        <a href="#5"
          >Are there ways to pay my household employee that minimize employment
          tax?</a
        >
      </li>
      <li>
        <a href="#6"
          >I'm not sure yet whether I'll pay enough this year to require
          withholding. What should I do?</a
        >
      </li>
      <li>
        <a href="#7"
          >Okay, I've withheld tax on the employee and I owe the employer's
          share. How do I pay these amounts?</a
        >
      </li>
      <li>
        <a href="#8"
          >Do I have to reduce the worker's take-home pay by the tax on that
          pay?</a
        >
      </li>
      <li><a href="#9">In what cases do I owe unemployment tax?</a></li>
      <li><a href="#10">Do I need to withhold federal income tax?</a></li>
      <li>
        <a href="#11">What about Earned Income Credit (EIC)? What must I do?</a>
      </li>
      <li>
        <a href="#11"
          >What federal tax forms must I file if I have a household employee?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>What kinds of household workers are covered by nanny tax
      rules?
    </h3>

    <p>
      Household workers include anyone who does work in or around your home such
      as babysitters, nannies, health aides, private nurses, maids, caretakers,
      yard workers, and similar domestic workers. In addition, the worker must
      be your employee, which means you can control not only what work is done,
      but how it is done.
    </p>

    <p>
      It does not matter whether the work is full-time or part-time, or that you
      hired the worker through an agency. On the other hand, if only the worker
      can control how the work is done, the worker is not your employee, but is
      self-employed.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What must I do if I think my worker or worker-to-be isn't
      a U.S. citizen?
    </h3>

    <p>
      It is unlawful for you to knowingly hire or continue to employ an alien
      who cannot legally work in the United States.
    </p>

    <p>
      When you hire a household employee to work for you on a regular basis, he
      or she must complete the employee part of the Immigration and
      Naturalization Service (INS) Form I-9,
      <em>Employment Eligibility Verification</em>. You must verify that the
      employee is either a U.S. citizen or an alien who can legally work here
      and then complete the employer part of the form. Keep the completed form
      for your records.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What are my tax duties if I have a household employee?
    </h3>

    <p>
      You may need to withhold and pay Social Security and Medicare taxes, or
      you may need to pay federal unemployment tax, or you may need to do both.
    </p>

    <ul>
      <li>
        If you pay cash wages of $2,400 or more in 2022 to any one household
        employee, withhold and pay Social Security and Medicare taxes.
      </li>
      <li>
        If you pay total cash wages of $1,000 or more in any calendar quarter of
        2021 or 2022 to household employees, you must pay unemployment tax.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>If I hire teenagers as babysitters or for yard work, must
      I withhold and pay tax for them?
    </h3>

    <p>
      When figuring whether you paid an employee $2,400 or more in 2022 to
      babysitters or others, you generally don't count wages paid to an employee
      who is under age 18 at any time during the year.
    </p>

    <p>
      If the employee is a student, providing household services is not
      considered his or her principal occupation. However, you should count
      these wages if providing household services is the employee's principal
      occupation.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Are there ways to pay my household employee that minimize
      the employment tax?
    </h3>

    <p>
      Wages subject to employment tax do not include the value of food, lodging,
      clothing, and other non-cash items you give your household employee.
      However, cash you give your employee in place of these items is included
      in wages.
    </p>

    <p>
      If you reimburse the amount your employee pays to commute to your home by
      public transit (bus, train, etc.), do not count the reimbursement (up to
      $280 per month in 2022) as wages.
    </p>

    <p>
      Further, if you reimburse your employee for the cost of parking at or near
      a location from which your employee commutes to your home, do not count
      the reimbursement (up to $280 a month in 2022) as wages.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>I'm not sure yet whether I'll pay enough this year to
      require withholding. What should I do?
    </h3>

    <p>
      You should withhold the employee's share of Social Security and Medicare
      taxes if you expect to pay your household employee Social Security and
      Medicare wages of $2,400 or more in 2022.
    </p>

    <p>
      If you withhold the taxes but then actually pay the employee less than
      $2,400 in Social Security and Medicare wages for the year, you should
      repay the employee.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>Okay, I've withheld tax on the employee and I owe the
      employer's share. How do I pay these amounts?
    </h3>

    <p>
      You pay withheld taxes as part of your regular income tax obligation. You
      don't deposit them periodically. If you make an error by withholding too
      little, you should withhold additional taxes from a later payment. If you
      withhold too much, you should repay the employee.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>Do I have to reduce the worker's take-home pay by the tax
      on that pay?
    </h3>

    <p>
      If you prefer to pay your employee's Social Security and Medicare taxes
      from your own funds, you do not have to withhold them from your employee's
      wages. The Social Security and Medicare taxes you pay to cover your
      employee's share must be included in the employee's wages for income tax
      purposes. However, they are not counted as Social Security and Medicare
      wages or as federal unemployment (FUTA) wages.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>In what cases do I owe unemployment tax?
    </h3>

    <p>
      The federal unemployment tax is part of the federal and state program
      under the Federal Unemployment Tax Act (FUTA) that pays unemployment
      compensation to workers who lose their jobs. You may owe only the FUTA tax
      or only the state unemployment tax, or both. To find out whether you will
      owe state unemployment tax, contact your state's unemployment tax agency.
    </p>

    <p>
      If you pay cash wages to household employees totaling $1,000 or more in
      any calendar quarter of 2021 or 2022, the first $7,000 of cash wages you
      pay to each household employee in 2022 is FUTA wages. If you pay less than
      $1,000 cash wages in each calendar quarter of 2022, but you had a
      household employee in 2021, the cash wages you pay in 2022 may still be
      FUTA wages. They are FUTA wages if the cash wages you paid to household
      employees in any calendar quarter of 2021 or 2022 totaled $1,000 or more.
    </p>

    <p>
      Do not withhold the FUTA tax from your employee's wages. You must pay it
      from your own funds.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>Do I need to withhold federal income tax?
    </h3>

    <p>
      You are not required to withhold federal income tax from wages you pay a
      household employee. You should withhold federal income tax only if your
      household employee asks you to withhold it and you agree. The employee
      must give you a completed Form W-4, Employee's Withholding Allowance
      Certificate. If you agree to withhold federal income tax, you are
      responsible for paying it to the IRS.
    </p>

    <p>
      You figure federal income tax withholding on both cash and non-cash wages
      you pay. Measure non-cash wages by the value of the non-cash item. Do not
      count as wages any of the following items:
    </p>

    <ul>
      <li>
        Meals provided at your home for your convenience.
        <p></p>
      </li>
      <li>
        Lodging provided at your home for your convenience and as a condition of
        employment.
        <p></p>
      </li>
      <li>
        Up to $280 a month in 2022 for bus or train tokens (passes) you give
        your employee, or in some cases for cash reimbursement you make for the
        amount your employee pays to commute to your home by public transit.
      </li>
      <li>
        Up to $280 a month in 2022 to reimburse your employee for the cost of
        parking at or near your home or at or near a location from which your
        employee commutes to your home.
      </li>
    </ul>

    <p>
      Any income tax you pay for your employee without withholding it from the
      employee's wages must be included in the employee's wages for federal
      income tax purposes. It is also counted as Social Security, Medicare, and
      FUTA wages.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="11"></a>What about Earned Income Credit (EIC)? What must I do?
    </h3>

    <p>
      Certain workers can take the earned income credit (EIC) on their federal
      income tax return. This credit reduces their tax or allows them to receive
      a payment from the IRS if they do not owe tax. You must give your
      household employee a notice about the EIC if you agree to withhold federal
      income tax from the employee's wages and the income tax withholding tables
      show that no tax should be withheld. Even if not required, you are
      encouraged to give the employee a notice about the EIC if his or her 2022
      wages are less than $59,187.
    </p>

    <p>
      The employee's copy (Copy B) of the IRS 2022 Form W-2,<em
        >Wage and Tax Statement</em
      >
      has a statement about the EIC on the back. If you give your employee that
      copy by January 31, 2022 (as discussed under Form W-2), you do not have to
      give the employee any other notice about the EIC.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="12"></a>What federal tax forms must I file if I have a household
      employee?
    </h3>

    <p>Form W-2 and Schedule H of Form 1040. Specifically:</p>

    <ul>
      <li>
        <p>
          A separate Form W-2, <em>Wage and Tax Statement</em>, must be filed
          for each household employee to whom you pay Social Security and
          Medicare wages or wages from which you withhold federal income tax.
          Give Copies B, C, and 2 to your employee by January 31, 2022, and send
          Copy A of Form W-2 with Form W-3, Transmittal of Wage and Tax
          Statements, to the Social Security Administration by January 31, 2022.
        </p>
      </li>

      <li>
        <p>
          Use Schedule H (Form 1040), <em>Household Employment Taxes</em>, to
          report the federal employment taxes for your household employee if you
          pay the employee Social Security and Medicare wages, FUTA wages, or
          wages from which you withhold federal income tax.
        </p>
      </li>

      <li>
        File Schedule H with your federal income tax return. If you are not
        required to file a tax return, file Schedule H by itself.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
