<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul class="triangle">
      <li class="triangle">
        <a href="#1"
          >How should I take distributions from my retirement plan?</a
        >
      </li>
      <li class="triangle">
        <a href="#2"
          >When is it best to take a lump-sum distribution from my retirement
          plan?</a
        >
      </li>
      <li class="triangle">
        <a href="#3"
          >What should I do about my retirement plan assets in my ex-employer's
          plan if I change jobs?</a
        >
      </li>
      <li class="triangle">
        <a href="#4">Can creditors get at my retirement assets?</a>
      </li>
      <li class="triangle">
        <a href="#5">How will my state tax affect my retirement withdrawals?</a>
      </li>
      <li class="triangle">
        <a href="#6"
          >Can moving to another state when I retire save me taxes on my
          retirement plan?</a
        >
      </li>
      <li class="triangle"><a href="#7">What is a reverse mortgage?</a></li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How should I take distributions from my retirement plan?
    </h3>

    <p>
      If your assets are in a tax-favored retirement fund such as a company or
      Keogh pension or profit-sharing plan (including thrift and savings plans),
      401(k), IRA or stock bonus plan, when it comes time to take distributions
      you have several options:
    </p>

    <ul>
      <li>Take everything in a lump sum</li>
      <li>
        Keep the money in the account, with regular distributions or withdrawals
        on an as-needed basis
      </li>
      <li>Purchase an annuity with all or part of the funds</li>
      <li>
        Take a partial withdrawal (leaving the balance for withdrawal later)
      </li>
      <li>Take a rollover distribution</li>
      <li>A combination of any of the above</li>
    </ul>

    <p>
      Your retirement assets may be distributed in kind-as employer stock, or an
      annuity or insurance contract. Sometimes certain withdrawal options may be
      associated with certain retirement plans, for instance, annuities are more
      common with pension plans. Other types of plan favor the other options,
      but for the most part most of these options are available for most plans.
      And more than likely, you'll want to preserve the tax shelter as long as
      possible by withdrawing no more than you need at any given time.
    </p>

    <p></p>

    <p>
      Timing your withdrawal can be a factor, too. Withdrawals before age 59 ½
      risk a tax penalty. At the other end, withdrawals are generally required
      to start at age 72 or face a tax penalty. The only exceptions are Roth
      IRAs and non-owner-employees still working beyond that age.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>When is it best to take a lump-sum distribution from my
      retirement plan?
    </h3>

    <p>
      Your personal needs should decide. You may need a lump sum to buy a
      retirement home or retirement business. If your employer requires that you
      take a lump sum distribution, it may be wise to roll it over into an IRA.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What should I do about my retirement plan assets in my
      ex-employer's plan if I change jobs?
    </h3>

    <p>There are several things you might do depending upon your needs:</p>

    <ol>
      <li>
        <p>
          If you don't need the assets to live on, try to continue the tax
          shelter and leave the money where it is.
        </p>
      </li>
      <li>
        <p>
          Transfer or roll over the assets into your new employer's plan--if
          that plan allows it (this can be tricky, though).
        </p>
      </li>
      <li>
        <p>
          If you've decided to start your own business, set up a Keogh and move
          the funds there.
        </p>
      </li>
      <li><p>Roll them over into your IRA.</p></li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>Can creditors get at my retirement assets?
    </h3>

    <p>
      In general, employer plans such as your 401(k), IRAs and pension plan
      funds are protected from general creditors unless you've used these assets
      as securities against a loan or you are entering into bankruptcy. If this
      is the case, there's a chance they could be seized, but if the money is in
      a registered IRA, pension plan, or 401(k), it's more than likely they will
      be protected in case of bankruptcy (subject to state and federal law of
      course).
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>How will my state tax affect my retirement withdrawals?
    </h3>

    <p>Each state is different, but in general, consider the following:</p>

    <ol>
      <li>
        <p>
          While withdrawals are generally taxable in states with income tax,
          some offer relief for retirement income, up to a specified dollar
          amount.
        </p>
      </li>
      <li>
        <p>
          If your state doesn't allow deductions for Keogh or IRA investments
          allowed under federal law, these investments and sometimes more may
          come back tax-free.
        </p>
      </li>
      <li>
        State tax penalties for early withdrawal (before 59 ½) or inadequate
        withdrawal (after age 72) are unlikely.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>Can moving to another state when I retire save me state
      taxes on my retirement plan?
    </h3>

    <p>
      Money from retirement plans, including 401(k)s, IRAs, company pensions and
      other plans, is taxed according to your residence when you receive it.
    </p>

    <p>
      If you move from a state with a high income tax, such as New York, to one
      with little or no income tax (Texas, Nevada and Florida have none), you
      will indeed save money on state income tax.
    </p>

    <p>
      However, establishing residence in a new state may take as long as one
      year; if you retain property in both states, you may owe taxes to both.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
