<div id="fga">
  <p>
    Many people think that Social Security only provides retirement checks, but
    that's just part of what the Social Security Administration (SSA) does. In
    the event of your death, your survivors may also be entitled to Social
    Security benefits, an important consideration when figuring out how much
    life insurance you'll need to provide for your family when you die.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">Eligibility For Survivors Benefits</a></li>
      <li><a href="#2">Who Can Get The Benefits?</a></li>
      <li><a href="#3">How Much Are The Benefits?</a></li>
      <li><a href="#4">How To Apply For Benefits</a></li>
      <li><a href="#5">Medicare</a></li>
      <li><a href="#6">Confidentiality Of Your Personal Information</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    Part of the Social Security tax you pay goes toward survivors benefits. When
    someone who has worked and paid into Social Security dies, these survivors
    benefits can be paid to certain family members, including widows, widowers
    (and divorced widows and widowers), children, and dependent parents. It's a
    benefit that shouldn't be overlooked when figuring out your life insurance
    needs.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a href="?item=47&amp;cat=Life Insurance: How Much and What Kind To Buy"
        >LIFE INSURANCE: How Much And What Kind To Buy.</a
      >
    </p>
  </blockquote>

  <p>
    You, along with millions of other people, earn survivors benefits by working
    and paying Social Security taxes and roughly 98 percent of the children in
    this country are eligible for benefits if a working parent should die. In
    fact, Social Security pays more benefits to children than any other federal
    program.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Eligibility for Survivors Benefits</h3>

  <p>
    When you die, certain members of your family may be eligible for survivors
    benefits if you paid Social Security taxes and earned enough "credits." Most
    people earn a maximum of four credits per year. In 2022, you earn one Social
    Security or Medicare credit for every $1,510 in covered earnings each year.
    You must earn $6,040 to get the maximum four credits for the year. The
    number of credits you need to get retirement benefits depends on your date
    of birth. The younger you are, the fewer credits are needed to be eligible
    for survivors benefits, but nobody needs more than 40 credits (10 years of
    work).
  </p>

  <p>
    If you stop working before you have enough credits to qualify for benefits,
    your credits will remain on your Social Security record. If you return to
    work, later on, you can then add credits so that you may qualify. No
    retirement benefits can be paid until you have the required number of
    credits.
  </p>

  <p>
    If you are like most people, however, you will earn many more credits than
    you need to qualify for Social Security. While these extra credits do not
    increase your Social Security benefit, the income you earn while working
    will increase your benefit.
  </p>

  <p>
    Under a special rule, benefits can be paid to your children, as well as your
    spouse who is caring for the children even if you don't have the number of
    credits needed. Benefits can be paid as long as you have credit for
    one-and-one-half years of work in the three years just before your death.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Who Can Get the Benefits?</h3>

  <p>
    When you die, your widow or widower may be able to receive full benefits at
    full retirement age. Full retirement age is age 66 for people born in
    1945-1956 and gradually increases to age 67 for people born in 1962 or
    later. Reduced widow or widower benefits can be received as early as age 60.
    If your surviving spouse is disabled, benefits can begin as early as age 50.
  </p>

  <p>
    In addition, a widow or widower can be paid benefits at any age if she or he
    takes care of your child who is under 16 or disabled and who gets benefits.
  </p>

  <p>
    Dependent parents, age 62 or older (for parents to qualify as dependents,
    you would have had to provide at least one-half of their support) and
    unmarried children under age 18 (up to age 19 if they are attending
    elementary or secondary school full time) are also eligible for survivors
    benefits. Your children can get benefits at any age if they were disabled
    before age 22 and remain disabled, and under certain circumstances, benefits
    can also be paid to your stepchildren or grandchildren.
  </p>

  <p>
    There is a special one-time payment of $255 that can be made when you die if
    you have accumulated enough work credits. This payment can be made only to
    your spouse or minor children if they meet certain requirements.
  </p>

  <p>
    If you have been divorced, your former wife or husband who is age 60 or
    older (50-59 if disabled) can get benefits if your marriage lasted at least
    10 years. Your former spouse, however, does not have to meet the age or
    length-of-marriage rule if he or she is caring for his/her child who is
    younger than age 16 or who is disabled and also entitled based on your work.
    The child must be your former spouse's natural or legally adopted child.
  </p>

  <p>
    Benefits paid to you as a surviving divorced spouse who meets the age or
    disability requirement as a widow or widower won't affect the benefit rates
    for other survivors getting benefits on the worker's record. However, if you
    are the surviving divorced mother or father who has the worker's child under
    age 16 or disabled in your care, your benefit will affect the amount of the
    benefits of others on the worker's record.
  </p>

  <p>
    Benefits paid to a surviving divorced spouse who is 60 or older will not
    affect the benefit rates for other survivors getting benefits.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>How Much Are the Benefits?</h3>

  <p>
    The amount of money your family receives from Social Security depends on
    your average lifetime earnings. The higher your earnings, the higher their
    benefits will be. There is a limit to the benefits that can be paid to you
    and other family members each month. The limit varies but is generally
    between 150 and 180 percent of the deceased's benefit amount.
  </p>

  <p></p>
  <blockquote class="tip">
    To get an estimate of the Social Security survivors benefits that could be
    paid to your family, go to SSA.gov and create an online
    <em>mySocialSecurity account</em>. Creating an account gives you the control
    to check your Social Security Statement, change your address, verify your
    reported earnings, estimate your future benefits, and much more. You can
    also call Social Security at 800-772-1213 and ask for a
    <a href="http://www.socialsecurity.gov/forms/ssa-7050.pdf"
      ><em>Request for Earnings and Benefit Estimate Statement</em></a
    >.
    <p></p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="4"></a>How to Apply for Benefits</h3>

    <p>
      When you apply for benefits, you will need to furnish certain information
      including proof of death - either from a funeral home or death
      certificate, your Social Security number as well as the deceased worker's,
      your birth and marriage certificates (if applicable), dependent children's
      Social Security numbers, if available, and birth certificates.
    </p>

    <p>
      How you sign up for survivors benefits depends on whether or not you are
      getting other Social Security benefits, but in general, survivors receive:
    </p>

    <ul>
      <li>
        A widow or widower, at full retirement age or older, generally receives
        100 percent of the worker's basic benefit amount;
      </li>
      <li>
        A widow or widower, age 60 or older, but under full retirement age,
        receives about 71-99 percent of the worker's basic benefit amount; or
      </li>
      <li>
        A widow or widower, any age, with a child younger than age 16, receives
        75 percent of the worker's benefit amount.
      </li>
      <li>Children receive 75 percent of the worker's benefit amount.</li>
    </ul>

    <p><strong> No Other Social Security Benefits</strong></p>
    <p>
      You should apply for survivors benefits promptly because, in some cases,
      benefits may not be retroactive. The rules are complicated and vary
      depending on your situation, so you should talk to a Social Security
      representative about the options available to you.
    </p>

    <p><strong>Getting Other Social Security Benefits</strong></p>

    <p>
      If you are getting benefits as a wife or husband based on your spouse's
      work when you report the death to SSA, your payments will change to
      survivors benefits.
    </p>

    If you are getting benefits based on your own work, you may be able to get
    more money as a widow or widower. If so, you will receive a combination of
    benefits that equals the higher amount. You will need to complete an
    application to switch to survivors benefits, and SSA will need to see your
    spouse's death certificate. In addition, if you get Social Security
    survivors benefits, the amount of your benefits may be reduced if your
    earnings exceed certain limits. There are no limits once you reach 70.
    <p></p>

    <p><strong>Pensions from work not covered by Social Security</strong></p>

    <p>
      If you get a pension from work where you paid Social Security taxes, that
      pension will not affect your Social Security benefits. However, if you get
      a pension from work that was not covered by Social Security - for example,
      the federal civil service, some state or local government employment or
      work in a foreign country - your Social Security benefit may be reduced.
    </p>

    <p><strong>If You Still Work</strong></p>

    <p>
      If you work while getting Social Security survivors benefits and are
      younger than full retirement age, your benefits may be reduced if your
      earnings exceed certain limits. The full retirement age was 65 for people
      born before 1938 but gradually increases to 67 for people born in 1960 or
      later. There is no earnings limit beginning with the month you reach full
      retirement age. Also, your earnings will reduce only your benefits, not
      the benefits of other family members.
    </p>

    <p></p>
    <blockquote class="tip">
      To find out what the limits are this year and how earnings above those
      limits reduce your Social Security benefits, contact
      <a href="http://www.ssa.gov">Social Security</a>.
    </blockquote>
    <p></p>

    <p><strong>If You Remarry</strong></p>
    <p>
      In general, you cannot get survivors benefits if you remarry; however,
      remarriage after 60 (50 if disabled) will not prevent benefit payments on
      your former spouse's record - and, at 62 or older, you may get benefits on
      the record of your new spouse if they are higher.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="5"></a>Medicare</h3>

    <p>
      Medicare is a health insurance plan for people who are 65 or older. People
      who are disabled or have kidney failure also can get Medicare. Like Social
      Security, Medicare is financed by a portion of the payroll taxes paid by
      workers and their employers.
    </p>

    <p></p>
    <blockquote class="note">
      If you live in Puerto Rico you will not receive Medicare Medical Insurance
      (Medicare Part B) automatically. You will need to sign up for it during
      your initial enrollment period or you will pay a higher premium. To sign
      up, call the Social Security Administration at 1-800-772-1213 or contact
      your local Social Security office.
    </blockquote>
    <p></p>

    <p>Medicare has four parts:</p>

    <ul>
      <li>
        <p>
          <strong>Part A: Hospital Insurance </strong> - helps pay for inpatient
          care in a hospital or skilled nursing facility (following a hospital
          stay), some home health care and hospice care.
        </p>
      </li>

      <li>
        <p>
          <strong> Part B: Medical Insurance </strong>- helps pay for doctors'
          services and many other medical services and supplies that are not
          covered by hospital insurance.
        </p>
      </li>

      <li>
        <p>
          <strong>Part C: Medicare Advantage </strong>- Medicare Advantage Plans
          are not part of original Medicare, but instead are plans offered by
          private health insurers approved by Medicare. People with Medicare
          Parts A and B can choose to receive all of their health care services
          through one of these provider organizations under Part C. It may also
          provide Prescription Drug Coverage (Part D).
        </p>
      </li>

      <li>
        <p>
          <strong>Prescription Drug Coverage </strong> - helps pay for
          medications doctors prescribe for treatment.
        </p>
      </li>
    </ul>

    <p>
      Many retirees sign up for Medigap supplement insurance plans that cover
      gaps (and costs) that Original Medicare (Parts A and B) does not cover.
      Medicare supplement plans include Plans A, B, C, D, F, G, K, L, M, and N.
      Each of these plans have different coverages and in some states, Plans F
      and G, offer high-deductible options as well.
    </p>

    <p></p>
    <blockquote class="tip">
      For assistance navigating Medicare, contact your local
      <a href="https://www.shiphelp.org"
        >State Health Insurance Program (SHIP)</a
      >.
      <p></p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Confidentiality of Your Personal Information
    </h3>

    <p>
      Social Security keeps personal information on millions of people. That
      information, such as your Social Security number, earnings record, age,
      and address, is kept confidential. Generally, SSA will discuss this
      information only with you and needs your permission if you want someone
      else to help with your Social Security business.
    </p>

    <p>
      If you send a friend or family member to an SSA office to conduct your
      Social Security business, send your written consent with them. Only with
      your written permission can SSA discuss your personal information with
      them and provide the answers to your questions.
    </p>
    <p>
      In the case of a minor child, the natural parent or legal guardian can act
      on the child's behalf in taking care of the child's Social Security
      business.
    </p>

    <p>
      The privacy of your records is guaranteed. There are times when the law
      requires Social Security to give information to other government agencies
      to conduct other government health or welfare programs such as Aid to
      Families with Dependent Children, Medicaid, and SNAP, the Supplemental
      Nutrition Assistance Program (formerly known as food stamps). Programs
      receiving information from Social Security are prohibited from sharing
      that information.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
    <table width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td class="cellcolor" align="left">
            <p style="padding: 5px">
              <font size="3" face="Arial"><b>Also See...</b></font>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- br --><a
      href="/sample652/life-events.php?item=58&amp;catid=24&amp;cat=Retirement+Plan+Distributions%3A+When+To+Take+Them"
      ><font face="Arial" size="2"
        ><b>Retirement Plan Distributions: When To Take Them</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=59&amp;catid=24&amp;cat=Retirement+Plan+Distributions%3A+How+To+Take+Them"
      ><font face="Arial" size="2"
        ><b>Retirement Plan Distributions: How To Take Them</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=20&amp;catid=24&amp;cat=Retirement+Plan+Distributions%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>Retirement Plan Distributions: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=56&amp;catid=24&amp;cat=Social+Security+Benefits%3A+How+To+Get+The+Maximum+Amount"
      ><font face="Arial" size="2"
        ><b>Social Security Benefits: How To Get The Maximum Amount</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=27&amp;catid=24&amp;cat=Social+Security+Benefits%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>Social Security Benefits: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=94&amp;catid=24&amp;cat=Your+Pension%3A+What+You%27re+Entitled+To"
      ><font face="Arial" size="2"
        ><b>Your Pension: What You're Entitled To</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=96&amp;catid=24&amp;cat=Reverse+Mortgages%3A+How+They+Can+Enhance+Your+Retirement"
      ><font face="Arial" size="2"
        ><b>Reverse Mortgages: How They Can Enhance Your Retirement</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=97&amp;catid=24&amp;cat=Tap+Your+Retirement+Money+Early+and+Minimize+Penalties"
      ><font face="Arial" size="2"
        ><b>Tap Your Retirement Money Early and Minimize Penalties</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=19&amp;catid=24&amp;cat=Retirement+Assets%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>Retirement Assets: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=51&amp;catid=24&amp;cat=Annuities%3A+How+They+Work+and+When+You+Should+Use+Them"
      ><font face="Arial" size="2"
        ><b>Annuities: How They Work and When You Should Use Them</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=14&amp;catid=24&amp;cat=Annuities%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>Annuities: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=21&amp;catid=24&amp;cat=IRAs%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>IRAs: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=26&amp;catid=24&amp;cat=Traditional+vs+Roth+IRAs%3A+Frequently+Asked+Questions"
      ><font face="Arial" size="2"
        ><b>Traditional vs Roth IRAs: Frequently Asked Questions</b></font
      ></a
    ><br /><!-- br --><a
      href="/sample652/life-events.php?item=60&amp;catid=24&amp;cat=Roth+IRAs%3A+How+They+Work+and+How+To+Use+Them"
      ><font face="Arial" size="2"
        ><b>Roth IRAs: How They Work and How To Use Them</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=ret02"
      ><font face="Arial" size="2"
        ><b>How Much Will I Need To Save For Retirement?</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=ret04"
      ><font face="Arial" size="2"
        ><b>Social Security Retirement Income Estimator</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=qua02"
      ><font face="Arial" size="2"
        ><b>How Much Can I Contribute To An IRA?</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=qua04"
      ><font face="Arial" size="2"
        ><b>Should I Convert To A Roth IRA?</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=qua07"
      ><font face="Arial" size="2"
        ><b>What Is My Projected Required Minimum Distribution?</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=ret07"
      ><font face="Arial" size="2"
        ><b>When Should I Begin Saving For Retirement?</b></font
      ></a
    ><br /><!-- br2 --><a href="calc-section.php?calc=sav01"
      ><font face="Arial" size="2"><b>Becoming A Millionaire</b></font></a
    ><br />
  </blockquote>
</div>
