<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/services-for-quick-books"
        >Services For QuickBooks</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/services-for-quick-books/setup-quick-books"
        >Setup For QuickBooks</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Setup For QuickBooks"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <p>
          Although QuickBooks is designed for the layperson to understand, the
          initial setup and installation must be done correctly in order for
          future information to be accurate.
        </p>
        <p>
          All information necessary to set up manual accounting records is also
          necessary to set up and install QuickBooks on your desktop. This task
          is even more complicated if you switch from manual accounting
          operations to QuickBooks in the middle of the year.
        </p>
        <p>
          Which accounting method will you use? What chart of accounts do you
          need for your business? How do you handle beginning balances?
        </p>
        <p>
          An expert can easily answer all of these questions and complete the
          initial setup and Installation in a timely manner. In addition, your
          accounting employees receive training on the accounting software to
          enhance their performance.
        </p>
      </div>
      <div id="Text" style="text-align: left">
        <p>
          <strong>How Much Does It Cost?</strong>
        </p>
        <p>
          We first want to find out a little more about your business and your
          accounting records before we quote you an exact price. Rest assured
          that we work with many small business owners and our rates are
          designed to fit the budgets of our clients.
        </p>
        <p>
          As with any accounting software program, installation and training
          take time -- time taken away from managing your business. Here's a
          short list of the services we provide while setting up QuickBooks:
        </p>
        <ul>
          <li>Study and evaluate your software and accounting needs.</li>
          <li>Recommend software and hardware requirements.</li>
          <li>
            Install software, design and set up a chart of accounts and entire
            accounting package including payroll, accounts receivable,
            inventory, accounts payable, etc.
          </li>
          <li>Determination of your QuickBooks starting date.</li>
          <li>
            Loading your chart of account and balances as of that starting date.
          </li>
          <li>
            Preparation of a list of the items that you sell to your customers.
            This list includes services, inventory parts, non-inventory parts,
            other charges and sales taxes.
          </li>
          <li>
            Entering your outstanding accounts receivable and accounts payable
            details as of your starting date.
          </li>
          <li>
            Entering your ending statement bank balances and outstanding checks
            and deposits in transit as of your starting date.
          </li>
          <li>
            Printing a trial balance as of your starting date and comparing it
            to your trial balance from your old system.
          </li>
          <li>
            Entering your transactions since your starting date into QuickBooks
          </li>
          <li>
            Train client or client staff in use of software to meet their
            accounting, management and tax needs.
          </li>
        </ul>
        <p>
          <b>Ongoing Services:</b>
        </p>
        <ul>
          <li>
            Follow up training to ensure the client is "on the right track."
          </li>
          <li>
            Monthly, quarterly or annual review of client QuickBooks data to
            assist in tax preparation and management reports.
          </li>
        </ul>
        <p>Fill out the form below to e-mail us.</p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
