<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <p></p>
    <blockquote class="caution">
      Under the Tax Cuts and Jobs Act of 2017, starting January 1, 2018, the
      moving expense deduction has been repealed through December 31, 2025,
      except for members of the armed forces on active duty who move pursuant to
      a military order and incident to a permanent change of station.
    </blockquote>
    <p></p>

    <p>
      <strong
        >For most individuals the following applies <em>only</em> to tax years
        prior to 2018.</strong
      >
    </p>

    <ul>
      <li><a href="#1">Qualifying for Moving Expenses</a></li>
      <li><a href="#1">What Are "Reasonable" Expenses?</a></li>
      <li><a href="#2">Travel by Car - How To Calculate the Deduction</a></li>
      <li><a href="#3">Member of Your Household</a></li>
      <li><a href="#4">Moves Within or to the United States</a></li>
      <li><a href="#5">Moves Outside the United States</a></li>
    </ul>
  </div>
  <!-- toc -->
  <p>
    Moving expenses are deducted as an adjustment to income on Form 1040, but
    you cannot deduct any moving expenses covered by reimbursements from your
    employer that are excluded from income. If you meet the requirements of the
    tax law for the deduction of moving expenses, you can deduct the following
    types of moving expenses, as long as they are "reasonable":
  </p>

  <ol>
    <li>
      Moving your household goods and personal effects (including in-transit or
      foreign-move storage expenses) and
    </li>
    <li>Traveling (including lodging but not meals) to your new home.</li>
  </ol>

  <h3 class="cellcolor"><a name="1"></a>Qualifying for Moving Expenses</h3>

  <p>
    If you moved due to a change in your job or business location, or because
    you started a new job or business, you may be able to deduct your reasonable
    moving expenses; however, you may not deduct any expenses for meals. If you
    meet the requirements of the tax law for the deduction of moving expenses,
    you can deduct allowable expenses for a move to the area of a new main job
    location within the United States or its possessions. Your move may be from
    one United States location to another or from a foreign country to the
    United States.
  </p>

  <p></p>
  <blockquote class="caution">
    The rules applicable to moving within or to the United States are different
    from the rules that apply to moves outside the United States. These rules
    are discussed separately.
    <p></p>
  </blockquote>

  <p>
    To qualify for the moving expense deduction, you must satisfy three
    requirements.
  </p>
  <p>
    Under the first requirement, your move must closely relate to the start of
    work. Generally, you can consider moving expenses within one year of the
    date you first report to work at a new job location. Additional rules apply
    to this requirement. Please contact us if you need assistance understanding
    this requirement.
  </p>

  <p>
    The second requirement is the "distance test;" your new workplace must be at
    least 50 miles farther from your old home than your old job location was
    from your old home. For example, if your old main job location was 12 miles
    from your former home, your new main job location must be at least 62 miles
    from that former home. If you had no previous workplace, your new job
    location must be at least 50 miles from your old home.
  </p>

  <p>
    The third requirement is the "time test." If you are an employee, you must
    work full-time for at least 39 weeks during the first 12 months immediately
    following your arrival in the general area of your new job location. If you
    are self-employed, you must work full-time for at least 39 weeks during the
    first 12 months and for a total of at least 78 weeks during the first 24
    months immediately following your arrival in the general area of your new
    work location. There are exceptions to the time test in case of death,
    disability, and involuntary separation, among other things. And, if your
    income tax return is due before you have satisfied this requirement, you can
    still deduct your allowable moving expenses if you expect to meet the time
    test.
  </p>

  <blockquote class="note">
    If you are a member of the armed forces and your move was due to a military
    order and permanent change of station, you do not have to satisfy the
    "distance or time tests."
    <p></p>
  </blockquote>

  <h3 class="cellcolor"><a name="1"></a>What Are "Reasonable" Expenses?</h3>

  <p>
    You can deduct only those expenses that are reasonable under the
    circumstances of your move. For example, the cost of traveling from your
    former home to your new one should be by the shortest, most direct route
    available by conventional transportation. If during your trip to your new
    home, you make side trips for sightseeing, the additional expenses for your
    side trips are not deductible as moving expenses.
  </p>

  <p>
    <strong> Nondeductible expenses. </strong> You cannot deduct as moving
    expenses any part of the purchase price of your new home, the costs of
    buying or selling a home, or the cost of entering into or breaking a lease.
    Don't hesitate to call if you have any questions about which expenses are
    deductible.
  </p>
  <p>
    <strong> Reimbursed expenses.</strong> If your employer reimburses you for
    the costs of a move for which you took a deduction, you may have to include
    the reimbursement as income on your tax return.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="2"></a>Travel by Car - How to Calculate the Deduction
  </h3>

  <p>
    If you use your car to take yourself, members of your household or your
    personal effects to your new home, you can figure your expenses by deducting
    either:
  </p>

  <ol>
    <li>
      Your <strong>actual expenses</strong>, such as gas and oil for your car,
      if you keep an accurate record of each expense, or
    </li>
    <li>
      The standard mileage rate is 18 cents per mile for miles driven during
      2018 (17 cents per mile in 2017).
    </li>
  </ol>

  <blockquote class="tip">
    <p>
      If you choose the standard mileage rate you can deduct parking fees and
      tolls you pay in moving. You cannot deduct any general repairs, general
      maintenance, insurance, or depreciation for your car.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Member of Your Household</h3>

  <p>
    You can deduct moving expenses you pay for yourself and members of your
    household. A member of your household is anyone who has both your former and
    new home as his or her home. It does not include a tenant or employee unless
    you can claim that person as a dependent.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>Moves Within or to the United States
  </h3>

  <p>
    If you meet the requirements of the tax law for the deduction of moving
    expenses, you can deduct allowable expenses for a move to the area of a new
    main job location within the United States or its possessions. Your move may
    be from one United States location to another or from a foreign country to
    the United States.
  </p>

  <p>
    <strong>Household goods and personal effects</strong>. You can deduct the
    cost of packing, crating, and transporting your household goods and personal
    effects and those of the members of your household from your former home to
    your new home. If you use your own car to move your things, compute the
    deduction under the rule discussed above under "Travel by Car."
  </p>

  <blockquote class="tip">
    <p>
      You can include the cost of storing and insuring household goods and
      personal effects within
      <strong>any period of 30 consecutive days</strong> after the day your
      things are moved from your former home and before they are delivered to
      your new home.
    </p>
  </blockquote>

  <p>
    You can deduct any costs of connecting or disconnecting utilities due to the
    moving your household goods, appliances, or personal effects.
  </p>

  <blockquote class="tip">
    <p>
      You can deduct the cost of shipping your car and your pets to your new
      home.
    </p>
  </blockquote>

  <p>
    You can deduct the cost of moving your household goods and personal effects
    from a place other than your former home. Your deduction is limited to the
    amount it would have cost to move them from your former home.
  </p>

  <blockquote class="example">
    <p>
      Paul Brown is a resident of North Carolina and has been working there for
      the last four years. Because of the small size of his apartment, he stored
      some of his furniture in Georgia with his parents. Paul got a job in
      Washington, DC. It cost him $300 to move his furniture from North Carolina
      to Washington and $1,100 to move his furniture from Georgia to Washington;
      however, if Paul had shipped his furniture in Georgia from North Carolina
      (his former home), it would have cost him $600. He can deduct only $600 of
      the $1,100 he paid. He can deduct $900 ($300 + $600).
    </p>
  </blockquote>

  <blockquote class="note">
    <p>
      You cannot deduct the cost of moving furniture you buy on the way to your
      new home.
    </p>
  </blockquote>

  <p>
    <strong>Travel expenses</strong>. You can deduct the cost of transportation
    and lodging for yourself and members of your household while traveling from
    your former home to your new home. This includes expenses for the day you
    arrive. You can include any lodging expenses you had in the area of your
    former home within one day after you could not live in your former home
    because your furniture had been moved. You can deduct expenses for only one
    trip to your new home for yourself and members of your household. However,
    all of you do not have to travel together. If you use your own car,
    calculate your deduction as explained under Travel by Car, earlier.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Moves Outside the United States</h3>

  <p>
    To deduct allowable expenses for a move outside the United States, you must
    be a United States citizen or resident alien who moves to the area of a new
    place of work outside the United States or its possessions. You must meet
    the requirements of the tax law for deducting moving expenses.
  </p>

  <p>
    In addition to the expenses discussed earlier, the following may be
    deductible for moves outside the United States.
  </p>

  <p>
    <strong>Storage expenses</strong>. You can deduct the reasonable expenses of
    moving your personal effects to and from storage. You can also deduct the
    reasonable expenses of storing your personal effects for all or part of the
    time the new job location remains your main job location. The new job
    location must be outside the United States.
  </p>

  <p>
    <strong>Moving expenses allocable to excluded foreign income</strong>. If
    you live and work outside the United States, you may be able to exclude from
    income part of the income you earn in the foreign country. You may also be
    able to claim a foreign housing exclusion or deduction. If you claim the
    foreign earned income or foreign housing exclusions, you cannot deduct the
    part of your allowable moving expenses that relates to the excluded income.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
