<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/contact">Contact</span>
    </li>
  </ol>
</nav>
<app-heading heading="Contact"></app-heading>
<div class="container position-relative z-index-1">
  <div class="row my-5">
    <div class="col-lg-7 col-md-7">
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
