<!-- <div class="bg-color">
  <div class="container">
    <div class="row py-5">
      <h1 id="header-1">Contact</h1>
    </div>
  </div>
</div> -->
<app-title heading="Contact"></app-title>
<div class="container">
  <div class="row my-5">
    <div class="col-lg-7 col-md-7">

    </div>
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-4 col-md-4 d-md-flex d-lg-flex flex-column d-none">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
