<div id="fga">

  <div id="toc">

  <h3 class="cellcolor">Table of Contents</h3>

  <ul>
   <li><a href="#1">When should I start saving for my child's education?</a></li>
   <li><a href="#2">How much will my child's college education cost?</a></li>
   <li><a href="#3">How should I invest my child's college fund?</a></li>
   <li><a href="#4">What is the American Opportunity Tax Credit?</a></li>
   <li><a href="#5">What is the "kiddie tax?"</a></li>
   <li><a href="#6">What is a Coverdell Education Savings Account and who is eligible for one?</a></li>
   <li><a href="#7">If you have insufficient savings for your child's education, what should you do?</a></li>
   <li><a href="#8">What types of grants are available for college?</a></li>
   <li><a href="#9">What types of loans are available for college?</a></li>
   <li><a href="#10">How can I increase the amount of financial aid my child is entitled to?</a></li>
   <li><a href="#11">How can I save taxes on college savings?</a></li>
  </ul>


  </div> <!-- toc -->

  <div id="faq">

  <h3 class="cellcolor"><a name="1"></a>When should I start saving for my child's education?</h3>

  <p>This depends on how much you think your children's education will cost. The best way is to start saving before they are born. The sooner you begin the less money you will have to put away each year.</p>

  <blockquote class="example"><p>Suppose you have one child, age six months, and you estimate that you'll need $120,000 to finance their college education 18 years from now. If you start putting away money immediately, you'll need to save $3,500 per year for 18 years (assuming an after-tax return of 7 percent). On the other hand, if you put off saving until the child is six years old, you'll have to save almost double that amount every year for twelve years.</p></blockquote>

  <p>Another advantage of starting early is that you'll have more flexibility when it comes to the type of investment you'll use. You'll be able to put at least part of your money in equities, which, although riskier in the short-run, are better able to outpace inflation than other investments in the long-run.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>How much will my child's college education cost?</h3>

  <p>How much will your child's education cost? It depends on whether your child attends a private or state school. According to the College Board, for the 2020-21 school year the total expenses - tuition, fees, board, personal expenses, and books and supplies - for the average four-year private college are about $54,880 per year and about $26,820 per year for the average four-year in-state public college. However, these amounts are averages: the tuition, fees, and board for some private colleges can exceed $75,000 per year whereas the costs for a state school can often be kept under $10,000 per year. It should also be noted that in 2020-21 the average amount of grant aid for a full-time undergraduate student was about $7,330 and $21,660 for four-year public and private schools, respectively. More than 70 percent of full-time students receive grant aid to help pay for college. </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>How should I invest my child's college fund?</h3>

  <p>As with any investment, you should choose those that will provide you with a good return and that meet your level of risk tolerance. The ones you choose should depend on when you start your savings plan-the mix of investments if you start when your child is a toddler should be different, from those used if you start when your child is age 12.</p>

  <p>The following are often recommended as investments for education funds:</p>

  <ul>

  <li><p><strong>Series EE bonds: </strong>These are extremely safe investments. They should be held in the parents' names. If the adjusted gross income of you and your spouse at the time of redemption is at or under the amount set by the tax law, the interest on bonds bought after January 1, 1990, is tax-free as long as it is used for tuition or other qualified education costs. If your adjusted gross income is above the threshold amount, the tax break is phased out. </p>

  <p>You can exclude from your gross income interest on qualified U.S. savings bonds if you have qualified higher education expenses during the year in which you redeem the bonds. For tax year 2022, the exclusion begins phasing out at $85,800 ($83,200 in 2021) modified adjusted gross income ($76,000 indexed for inflation) and is eliminated for adjusted gross incomes of more than $100,800 ($98,200 in 2021). For married taxpayers filing jointly, the tax exclusion begins phasing out at $128,650 ($124,800 in 2021) and is eliminated for adjusted gross incomes of more than $158,650 ($154,800 in 2021). The exclusion is unavailable to married filing separately.</p></li>

   <li><p><strong>U.S. Government bonds: </strong>These are also investments that offer a relatively higher return than CDs or Series EE bonds. If you use zero-coupon bonds, you can time the receipt of the proceeds to fall in the year when you need the money. A drawback of such bonds is that a sale before their maturity date could result in a loss on the investment. Further, the accrued interest is taxable even though you don't receive it until maturity.</p></li>
   <li><p><strong>Certificates of deposit:</strong> These are safe, but usually provide a lower return than the rate of inflation. The interest is taxable. These should generally only be used by the most risk-averse investors and for relatively short investment horizons.</p></li>
   <li><p><strong>Municipal bonds: </strong>Assuming the bonds are highly rated, the tax-free interest on them can provide an acceptable return if you're in the higher income tax brackets. Zero-coupon municipals can be timed to fall due when you need the funds and are useful if you begin saving later in the child's life.</p></li>

  <blockquote class="tip"><p>Be sure to convert the tax-free return quoted by sellers of such bonds into an equivalent taxable return. Otherwise, the quoted return may be misleading. The formula for converting tax-free returns into taxable returns is as follows:
   </p><p>Divide the tax-free return by 1.00 minus your top tax rate to determine the taxable return equivalent. For example, if the return on municipal bonds is 1 percent and you are in the 32 percent tax bracket, the equivalent taxable return is 2.6 percent (1 percent divided by 68 percent).</p></blockquote>

  <p></p><li><strong>Stocks: </strong>An appropriate mutual fund or portfolio containing stocks can provide you with a higher yield than bonds at an acceptable risk level. Stock mutual funds can provide superior returns over the long term. Income and balanced funds can meet the investment needs of those who begin saving when the child is older.</li><p></p>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>What is the American Opportunity Tax Credit?</h3>

  <p>The American Opportunity Tax Credit (AOTC) was made permanent by the Protecting Americans from Tax Hikes Act of 2015 (PATH). The maximum credit, available only for the first four years of post-secondary education, is $2,500. You can claim the credit for each eligible student you have for which the credit requirements are met.</p>

  <p><strong>Income limits.</strong> To claim the American Opportunity Tax Credit, your modified adjusted gross income (MAGI) must not exceed $90,000 ($180,000 for joint filers). To claim the Lifetime Learning Credit, MAGI must not exceed $69,000 ($138,000 for joint filers). "Modified AGI" generally means your adjusted gross income. The "modifications" only come into play if you have income earned abroad.</p>

  <p><strong>Amount of credit.</strong> For most taxpayers, 40 percent of the AOTC is a refundable credit, which means that you can receive up to $1,000 even if you owe no taxes.</p>

  <p><strong>Which costs are eligible?</strong> Qualifying tuition and related expenses refer to tuition and fees, and course materials required for enrollment or attendance at an eligible education institution. They now include books, supplies, and equipment needed for a course of study whether or not the materials must be purchased from the educational institution as a condition of enrollment or attendance.</p>

  <p>"Related" expenses do not include room and board, student activities, athletics (other than courses that are part of a degree program), insurance, equipment, transportation, or any personal, living, or family expenses. Student-activity fees are included in qualified education expenses only if the fees must be paid to the institution as a condition of enrollment or attendance. For expenses paid with borrowed funds, count the expenses when they are paid, not when borrowings are repaid.</p>

  <blockquote class="tip"><p>The tax law says that you can't claim both a credit and a deduction for the same higher education costs. It also says that if you pay education costs with a tax-free scholarship, Pell grant, or employer-provided educational assistance, you cannot claim a credit for those amounts.</p><p></p></blockquote>
  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>What is the "kiddie tax?"</h3>

  <p>In the past, parents would invest in the child's name in order to shift income to the lower-bracket child. However, the addition of the "kiddie tax" mostly put an end to that strategy.</p>

  <p>In 2022, the amount that can be used to reduce the net unearned income reported on the child's return that is subject to the "kiddie tax" is $1,150 ($1,100 in 2021). The same $1,150 amount is used to determine whether a parent may elect to include a child's gross income in the parent's gross income and to calculate the "kiddie tax." For example, one of the requirements for the parental election is that a child's gross income for 2022 must be more than $1,150 but less than $11,500.</p>

  <p>For 2022, the net unearned income for a child under the age of 19 (or a full-time student under the age of 24) that is not subject to "kiddie tax" is $2,300 ($2,200 in 2021). </p>

  <blockquote class="note"><p>These rules apply to unearned income. If a child has earned income, this amount is always taxed at the child's rate.</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>What is a Coverdell (Section 530) Education Savings Account and who is eligible for one?</h3>


  <p>In 2022, you can contribute up to $2,000 each year to a Coverdell education savings account (Section 530 program) for a child under 18. These contributions are not deductible, but they grow tax-free until withdrawn. Contributions for any year can be made through the [unextended] due date for the return for that year. The maximum contribution amount for each child is phased out for modified AGI between $190,000 and $220,000 (joint filers) and $95,000 and $110,000 (single filers). These amounts are not indexed to inflation. </p>

  <blockquote class="note"><p>For the $2,000 contribution limit, there is no adjustment for inflation and therefore, the limit is expected to remain at $2,000.</p></blockquote>

  <p>Only cash can be contributed to a Section 530 account and you cannot contribute to the account after the child reaches their 18th birthday.</p>

  <p>Anyone can establish and contribute to a Section 530 account, including the child, and you may establish 530s for as many children as you wish. The child need not be a dependent. In fact, he or she need not be related to you, but the amount contributed during the year to each account cannot exceed $2,000. The maximum contribution amount for each child is phased out for modified AGI between $190,000 and $220,000 (joint filers) and $95,000 and $110,000 (single filers). These amounts are not indexed to inflation.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="7"></a>If you have insufficient savings for your child's education when he is close to entering college, what should you do?</h3>

  <p>Many families find themselves in the same boat. Fortunately, there are ways to generate additional funds both now and when your child is about to enter school:

  </p><ul>
   <li><p>You can start saving as much as possible during the remaining years. However, unless your income level is high enough to support an extremely stringent savings plan, you will probably fall short of the amount you need.</p></li>
   <li><p>You can take on a part-time job. However, this will raise your income for purposes of determining whether you are eligible for certain types of student aid. In addition, your child may be able to take on part-time or summer jobs.</p></li>
   <li><p>You can tap your assets by taking out a home equity loan or a personal loan, selling assets or borrowing from a 401(k) plan.</p></li>
   <li>You (or your child) can apply for various types of student aid and education loans.</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>What types of grants are available for college?</h3>

  <p><strong>Grants.</strong> The best type of financial aid because they do not have to be paid back -- are amounts awarded by governments, schools, and other organizations. Some grants are need-based and others are not.

  </p><ul>
   <li><p>The Federal Pell Grant Program offers federal aid based on need.</p></li>

  <blockquote class="tip"><p>Don't assume that middle class families are ineligible for needs-based aid or loans. The assessment of whether a family qualifies as "in need" depends on the cost of the college and the size of the family.</p></blockquote>

  <p></p><li><p>State education departments may make grants available. Inquiries should be made of the state agency.</p></li><p></p>

   <li><p>Employers may provide subsidies.</p></li>
   <li><p>Private organizations may provide scholarships. Inquiries should be made at schools.</p></li>
   <li><p>Most schools provide aid and scholarships, both needs-based and non-needs-based.</p></li>
   <li>Military scholarships are available to those who enlist in the Reserves, National Guard, or Reserve Officers Training Corps. Inquiries should be made at the branch of service.</li>
  </ul>

  <blockquote class="tip"><p>Try negotiating with your preferred college for additional financial aid, especially if it offers less than a comparable college.</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>What types of grants are available for college?</h3>

  <p>There are various student loan programs available. Some are need-based, and others are not. Here is a summary of loans:

  </p><ul>
   <li><p>Stafford loans (formerly guaranteed student loans) are federally guaranteed and subsidized low-interest loans made by local lenders and the federal government. They are needs-based for subsidized loans; however an unsubsidized version is also available.</p></li>

   <li><p>Perkins loans are provided by the federal government and administered by schools. They are needs-based. Inquiries should be made at school aid offices.</p></li>

  <li><p>Parent loans for undergraduate students (PLUS) and supplemental loans for students are federally guaranteed loans by local lenders to parents, not students. Inquiries should be made at college aid offices. </p></li>

  <li>Schools themselves may provide student loans. Inquiries should be made at the school.</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="10"></a>How can I increase the amount of financial aid my child is entitled to?</h3>

  <p>Here are some strategies that may increase the amount of aid for which your family is eligible:

  </p><ul>
   <li><p><strong>Try to avoid putting assets in your child's name. </strong>As a general rule, education funds should be kept in the parents' names, since investments in a child's name can impact negatively on aid eligibility. For example, the rules for determining financial aid decrease the amount of aid for which a child is eligible by 35 percent of assets the child owns and by 50 percent of the child's income.</p></li>

  <blockquote class="example"><p>If your child owns $1,000 worth of stock, the amount of aid for which he or she is eligible for is reduced by $350. On the other hand, the amount of aid is reduced by (effectively) only 5.6 percent of your assets and from 22 to 47 percent of your income.</p></blockquote>

  <p></p><li><p><strong>Reduce your income. </strong>Income for financial aid purposes is generally determined based upon your previous year's income tax situation. Therefore, in the years immediately prior to and during college, try to reduce your taxable income. Some ways to do this include:</p></li><p></p>

  <ol>
   <li><p>Defer capital gains. </p></li>
   <li><p>Sell losing investments.</p></li>
   <li><p>Reduce the income from your business. If you are the owner of your own business, you may be able to reduce your taxable income by taking a lower salary, deferring bonuses, etc. </p></li>
   <li><p>Avoid distributions from retirement plans or IRAs in these years.</p></li>
   <li><p>Pay your federal and state taxes during the year in the form of estimated payments rather than waiting until April 15 of the following year.</p></li>
   <li><p>Since a portion of discretionary assets is included in the family's expected contribution from income, reduce discretionary assets by paying off credit cards and other consumer loans.</p></li>
   <li>Take advantage of vehicles which defer income, such as 401(k) plans, other retirement plans or annuities.</li>
  </ol>

  <p></p><li><p><strong>Detail any financial hardships. </strong>If you have any financial hardships, let the deciding authorities know (via the statement of financial need) exactly what they are if they are not clear from the application. The financial aid officer may be able to assist you in explaining hardships.</p></li><p></p>
   <li><p><strong>Have your child become independent. </strong>In this case, your income is not considered in determining how much aid your child will be eligible for. Students are considered independent if they:</p></li>

  <ol>
   <li><p>Are at least 24 years old by the end of the year for which they are applying for aid</p></li>
   <li><p>Are veterans</p></li>
   <li><p>Have dependents other than their spouse</p></li>
   <li><p>Are wards of the court or both parents are deceased</p></li>
   <li><p>Are graduate or professional students</p></li>
   <li>Are married and are not claimed as dependents on their parents' returns</li>
  </ol>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="11"></a>How can I save taxes on college savings?</h3>

  <p>If you decide to invest in your child's name, here are some tax strategies to consider:

  </p><ul>
   <li><p>You can shift just enough assets to create $2,300 in 2022 ($2,200 in 2021) taxable income to an under age 19, child.

  </p></li>
   <li><p>You can buy U.S. Savings Bonds (in the child's name) scheduled to mature after your child reaches age 18.</p></li>
   <li><p>You can invest in equities that pay small dividends but have a lot of potential for appreciation. The dividend income earned when your child is under the age of 19 will be minimal with tax relief, and the growth in the stocks will occur over the long term.</p></li>
   <li>If you own a family business, you can employ your child in the business. Earned income is not subject to the "kiddie tax," and is deductible by the business if the child is performing a legitimate function. Additionally, if your business is a sole proprietorship and your child is younger than 19 years old, then he or she will not pay social security taxes on the income.</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  </div> <!-- faq  -->

  </div>
