<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item" active>
      <span routerLink="/service/services-for-individuals"
        >Service For Individuals</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/services-for-individuals/estate-planning"
        >Estate Planning</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Estate Planning"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Estate Planning Is Not Just for the Wealthy…it's for
            Everyone</strong
          >
        </h2>
        <p>
          Planning for your family's financial future is not just for the one
          percent; it's important for everyone especially if you have a spouse
          or children.&nbsp;
        </p>
        <p>
          The reality, of course, is that most people do procrastinate and never
          get around to estate planning until it is too late. There are many
          reasons why this happens. Perhaps you are under the impression that it
          is too expensive. Maybe you just don't want to think about death
          because it's unpleasant or feel that because you are young and
          healthy, there's plenty of time to worry about the future later.
        </p>
        <p>
          Unfortunately, you could be wrong, and your family could be in for a
          surprise. Because if there's no estate plan in place, then state laws
          dictate how your assets and property are divvied up -- not you or your
          family.
        </p>
        <h3>We Are Here to Help You</h3>
        <p>
          If you're ready to start planning for your loved ones' financial
          future, you probably have plenty of questions. The good news is that
          we have answers. We've developed relationships with investment
          advisors, attorneys, and other financial professionals so that we are
          able to develop a long-term estate plan that meets the individual
          needs of every client. We also stay current on tax law changes that
          affect estate planning.
        </p>
        <p>
          <strong>Here's what else we do for you:</strong>
        </p>
        <ul>
          <li>Allocating assets to spouses, children, trusts, and charities</li>
          <li>
            Periodic review of estate planning needs as your family situation
            and finances change
          </li>
          <li>Gift tax strategies</li>
          <li>Business succession planning</li>
          <li>Trust administration</li>
          <li>
            Tax planning and preparation including estate, gift, and fiduciary
            tax returns
          </li>
        </ul>
        <h3>Don't Your Loved Ones Deserve Peace of Mind?</h3>
        <p>If you haven't developed an estate plan, it's not too late.</p>
        <p>
          <strong
            >Call our office and schedule a consultation today because you and
            your loved ones have nothing to lose, but everything to
            gain.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
