<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/services-for-quick-books"
        >Services For QuickBooks</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/services-for-quick-books/why-quick-books"
        >Why QuickBooks</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Why QuickBooks"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <p>
          <strong>10 Reasons Why You Should Use QuickBooks</strong>
        </p>
        <p>
          QuickBooks is the ideal business accounting software for small to
          mid-sized business owners. Here are 10 reasons why you should be using
          QuickBooks.
        </p>
      </div>
      <div style="text-align: left">
        <ol>
          <li>
            You save time on bookkeeping and paperwork because many of simple
            bookkeeping tasks are handled automatically making it easier to run
            your business.<br />
          </li>
          <li>
            You can easily generate the reports with the information you need,
            so you always know where your business stands. You instantly know
            whether you're making money and whether your business is healthy.<br />
          </li>
          <li>
            You save money because QuickBooks is so affordable. You can use it
            to run a $5 million or a $25 million business for a few hundred
            bucks. Accounting software is truly one of the great bargains in
            business.<br />
          </li>
          <li>
            Your business can grow with QuickBooks. QuickBooks will help you
            design a business plan to use when trying to secure a small business
            loan or line of credit or to plan for the future. QuickBooks will
            create a projected balance sheet, profit and loss statement and
            statement of cash flows in the format recommended by the U.S. Small
            Business Administration.<br />
          </li>
          <li>
            You can customize QuickBooks to work the way you want. QuickBooks is
            specifically designed to be flexible and adaptable to a wide range
            of small businesses. To broaden its appeal, QuickBooks has recently
            added customized accounting packages for contractors, retailers,
            health care professionals, and non-profit organizations.<br />
          </li>
          <li>
            You can rest assured knowing that QuickBooks is a stable, reliable
            and proven product. Hundreds of thousands of small businesses
            throughout the world have chosen QuickBooks as their accounting
            software. You can't go wrong with a software program with such an
            extensive installed user base.<br />
          </li>
          <li>
            You save typing time and errors by sharing data between QuickBooks
            and over 100 business applications. You can even share data with
            popular programs, such as Microsoft Excel, Word, Outlook and
            Act!.<br />
          </li>
          <li>
            You will get paid faster with QuickBooks online payments. E-mail an
            invoice or statement and with QuickBooks Online Billing, your
            customer can easily pay you with a credit card or bank account
            transfer. No more waiting for the check in the mail!<br />
          </li>
          <li>
            You can easily accept credit cards. With QuickBooks Merchant Account
            Service, you can accept credit cards with ease. QuickBooks Merchant
            Account Service is the only credit card acceptance service
            integrated with QuickBooks software, which means you don't have to
            enter the same data twice. No additional software or hardware is
            required. Your customers can use Visa, MasterCard, or American
            Express.<br />
          </li>
          <li>
            You can pay your bills and handle your banking online. Setup your
            current bank account in QuickBooks, and you're ready to pay your
            bills without licking envelopes, sticking stamps, or printing paper
            checks. Just write checks in QuickBooks as you normally would, then
            click a button and your participating bank does the rest! Pay anyone
            in the U.S. from your credit card companies to your pizza service.
            Online banking also lets you download your monthly statement from
            your participating bank directly into QuickBooks for easier
            reconciliation.
          </li>
        </ol>
        <p>Fill out the form below to e-mail us.</p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block">
      <div class="text-center postion-sticky-top">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
