<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources">Resources</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources/guides">Guides</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/resources/guides/tax-strategies-individuals"
        >Tax Strategies for Individuals</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Tax Strategies for Individuals"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7" id="content">
      <br />Learn how to lower your taxes with these legitimate tax saving
      strategies.<br /><br />
      <h2>Financial Guides</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
                src="../../../../../assets/images/icon-fg.png"
                valign="bottom"
                alt="Financial Guides"
                heigh="44"
                widht="55"
              />
            </td>
            <td style="padding-left: 40px">
              <a><b>Tax Saving Strategies: A Helpful Checklist</b></a
              ><br /><a
                ><b>Travel and Entertainment: Maximizing the Tax Benefits</b></a
              ><br /><a
                ><b
                  >The "Nanny Tax" Rules: What To Do If You Have Household
                  Employees</b
                ></a
              ><br /><a
                ><b
                  >Higher Education Costs: How To Get The Best Tax Treatment</b
                ></a
              ><br /><a
                ><b
                  >Selling Your Home: How To Minimize the Tax On the Gain</b
                ></a
              ><br /><a><b>The Deductibility of Points</b></a
              ><br /><a
                ><b>Annuities: How They Work and When You Should Use Them</b></a
              ><br /><a
                ><b>Retirement Plan Distributions: When To Take Them</b></a
              ><br /><a
                ><b>Retirement Plan Distributions: How To Take Them</b></a
              ><br /><a><b>Roth IRAs: How They Work and How To Use Them</b></a
              ><br /><a><b>Mutual Fund Taxation: How To Cut The Tax Bite</b></a
              ><br /><a
                ><b
                  >Advanced Charity Techniques: Maximizing Your Deduction</b
                ></a
              ><br /><a
                ><b
                  >Charitable Contributions of Property: Maximizing the
                  Deduction</b
                ></a
              ><br /><a><b>Charitable Contributions: How To Give Wisely</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2>Frequently Asked Questions</h2>
      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
              src="../../../../../assets/images/icon-faq.png"
                valign="bottom"
                alt="Frequently Asked Questions"
                heigh="44"
                widht="55"
              />
            </td>
            <td valign="top" style="padding-left: 40px">
              <a><b>Tax Saving Strategies: Frequently Asked Questions</b></a
              ><br /><a
                ><b>Travel and Entertainment: Frequently Asked Questions</b></a
              ><br /><a><b>"Nanny Tax" Rules: Frequently Asked Questions</b></a
              ><br /><a
                ><b
                  >Tax Benefits of Higher Education: Frequently Asked
                  Questions</b
                ></a
              ><br /><a><b>Annuities: Frequently Asked Questions</b></a
              ><br /><a><b>Retirement Assets: Frequently Asked Questions</b></a
              ><br /><a><b>Mutual Funds: Frequently Asked Questions</b></a
              ><br /><a
                ><b>Traditional vs Roth IRAs: Frequently Asked Questions</b></a
              ><br /><a><b>Recordkeeping: Frequently Asked Questions</b></a
              ><br /><a
                ><b>Charitable Contributions: Frequently Asked Questions</b></a
              ><br /><a
                ><b>Charitable Deductions: Frequently Asked Questions</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
