<div id="faq">
  <h3 class="cellcolor">
    <a name="1"></a>How can I get the best deal when hiring a moving company?
  </h3>

  <p>
    Even though your moving date may be months away, as soon as soon as the
    contracts are signed you should start getting recommendations for moving
    companies from friends or colleagues.
  </p>

  <p>
    <strong>Start calling movers for estimates.</strong>

    <br />Once you have a list of recommendations, call each one to get an
    estimate of how much your move will cost. You'll have to provide them with
    the number of miles involved in the move and the approximate weight of your
    belongings. The mover will help you in making this estimate.
  </p>

  <p>
    <strong>Ask about extra charges that apply. </strong>

    <br />Movers typically charge extra for flights of stairs, heavy items,
    pianos and other special items. Be aware of the fact that having the movers
    pack for you increases your moving bill by about 30 percent. You may also
    have to pay a premium if you schedule your move during busy moving times,
    generally after the 25th of the month or before the 2nd.
  </p>

  <p>
    <strong>Do not use a mover whose estimate seems too low.</strong><br />The
    services provided may be second rate. If it seems too good to be true it
    probably is.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="2"></a>How can I minimize problems when I move?
  </h3>

  <p>As soon as you schedule your move:</p>
  <ul>
    <li>Tag any items you are leaving behind for the new owners.</li>
    <li>
      If your move is job-related, find out whether your employer will reimburse
      you for part of the cost.
    </li>
    <li>
      Save any receipts relating to the move since part of the cost will be
      deductible on your taxes when you file.
    </li>
    <li>Start shopping around for a new bank in your new neighborhood.</li>
    <li>
      Get a change of address kit from the post office and begin notifying
      people of your impending change of address. You will need to notify credit
      card companies, banks, and other financial institutions directly.
    </li>
    <li>Call schools in your new location and enroll your children.</li>
    <li>
      Get copies of your medical and dental records (and veterinary records if
      you have pets). Be sure your move is covered by insurance--either the
      moving company's insurance or your homeowner's insurance.
    </li>
    <li>
      Call your insurance agent and take care of transferring homeowner's
      insurance to your new home.
    </li>
  </ul>

  <p>As you get closer to the date of your move:</p>

  <ul>
    <li>
      Call utility companies and give them a date to turn on service at your new
      home and terminate service at your old home.
    </li>
    <li>
      Switch your direct payroll deposit, and any automatic payments, to your
      new checking account.
    </li>
    <li>
      Two or three days before you move, take money out of your old bank account
      and transfer it to your new bank account. Be sure to leave your new
      address with the old bank.
    </li>
    <li>Shop for auto insurance in the new area (if moving out of state).</li>
    <li>
      Transfer your brokerage account to your new area if you use a local
      broker.
    </li>
    <li>Defrost your refrigerator.</li>
    <li>
      On moving day, check your contract with the mover. Be sure the total cost
      of the move is clearly detailed and that the moving date, location, and
      insurance information are all correct.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Whom should I notify of a new address?
  </h3>

  <p>
    Here is a list of people you should notify when you change your address and
    phone number. Although the list is not all-inclusive, it can be used as a
    starting point.
  </p>

  <ul>
    <li>The IRS-use Form 8822-and state and local taxing authorities</li>
    <li>The U.S. Post Office</li>
    <li>Insurance agents (home, auto, and life)</li>
    <li>
      Debtors and creditors-mortgage holders, car lien holders, other lenders
    </li>
    <li>Credit card companies</li>
    <li>Publications</li>
    <li>Clubs and services to which you subscribe</li>
    <li>The Social Security Administration</li>
    <li>Any organization that periodically mails you a check</li>
    <li>Banks</li>
    <li>Employers</li>
    <li>Doctors, dentists, veterinarians</li>
    <li>Motor vehicle departments</li>
    <li>
      Places of worship and non-profit organizations you are involved with
    </li>
    <li>The registrar of voters</li>
    <li>
      Utilities, telephone service, answering service, and trash collectors
    </li>
    <li>Your CPA, attorney, and broker</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
