<app-heading heading="Tax Due Dates"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">

      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-lg-4 d-md-flex flex-column d-none" id="image-container">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button class="mx-auto" mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
