<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/services-for-quick-books"
        >Services For QuickBooks</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/services-for-quick-books/tips-quick-books"
        >Tips For QuickBooks Users</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Tips For QuickBooks Users"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
