<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/tax-planning"
        >Tax Planning</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Tax Planning"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>Start Planning Your Financial Future Today</strong>
        </h2>
        <p>
          Many people feel like their tax bill is too high. Maybe you do too.
          The good news is that it doesn't have to be. When you work with an
          accounting firm like ours, we make your financial success a priority.
        </p>
        <h3>If Financial Success Is Your Goal, We Are Here to Help!</h3>
        <p>
          There is more to preparing your taxes than simply filling out forms at
          tax time. It's also about understanding our clients' needs and helping
          them plan for a secure future.
        </p>
        <p>
          <strong>Here's how we do it:</strong>
        </p>
        <ul>
          <li>
            Based on careful analysis of your tax situation we make sure you
            take every tax credit and deduction you deserve on your tax return.
          </li>
          <li>
            We help you set up a recordkeeping system that meets IRS
            requirements.
          </li>
          <li>
            We work with you all year long--not just at tax time to develop tax
            planning strategies that lower your tax bill.
          </li>
          <li>
            We review and adjust your paycheck withholding so that it accurately
            reflects your tax situation and lets you keep more of your money
            (why give the IRS a free loan?).
          </li>
          <li>
            We help you understand how to defer tax liabilities through pension
            plans, retirement contributions, and similar plans.
          </li>
          <li>
            We make sure you take advantage of certain investments to produce
            tax-exempt income (federal or state or both).
          </li>
        </ul>
        <h3>Ready to Take the Next Step?</h3>
        <p>
          If you feel like too much of your hard-earned money goes straight to
          the IRS instead of your bank account, then we can help.
        </p>
        <p>
          <strong
            >Simply fill out the form below or give us a call. It's that
            easy!</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
