<div id="fga">
  <p>
    This Financial Guide gives you a framework for deciding whether leasing a
    car makes sense for you. It explains the meaning of various lease
    provisions, as well as the initial, ongoing and final costs of leasing.
    Finally, it gives you the information you need to negotiate the best
    possible lease.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">How Leasing Works</a></li>
      <li><a href="#2">Determining Your Costs</a></li>
      <li><a href="#3">Option Rights</a></li>
      <li><a href="#4">Questions To Ask Before You Sign</a></li>
      <li><a href="#5">Other Factors To Consider</a></li>
      <li><a href="#6">Recommended Books</a></li>
      <li><a href="#7">External Sites</a></li>
      <li><a href="#8">Government and Non-Profit Agencies</a></li>
    </ul>

    <p>
      Will you save money leasing a car instead of buying one? It depends on (1)
      what kind of deal you strike with the dealer, (2) how many miles you drive
      a year, (3) how much wear and tear you put on a car, and (4) what you will
      use the car for (i.e. personal or business use).
    </p>

    <p>
      In order to decide whether to lease or buy, you need to consider all of
      the factors involved in both leasing and buying such as:
    </p>

    <ol>
      <li>Initial expenses</li>
      <li>Ongoing costs</li>
      <li>Final costs</li>
      <li>Option rights</li>
      <li>
        Whether you are able to deduct any or all of the costs of the car for
        business use
      </li>
      <li>
        Whether having an ownership interest in the car is of overriding
        importance to you
      </li>
    </ol>

    <p>
      This Guide also contains a list of questions to use when negotiating with
      the dealer to ensure that you don't neglect to ask about any charges or
      lease terms that might enter into your analysis.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="1"></a>How Leasing Works</h3>

    <p>
      There are two types of lease arrangements: closed-end ("walk-away") and
      open-end (finance). Here's how they work:
    </p>

    <p>
      <strong
        >Closed-End Leases: The Dealer Bears the Risk Of Depreciated
        Value</strong
      >
    </p>

    <p>
      When a closed-end lease is up, you bring the car back to the dealership
      and "walk away." the car must be returned with only normal wear and tear,
      and at or less than the mileage limit stated in your lease. Since the
      dealer, and not you, is bearing the risk that the value of the car at the
      end of the lease will go down, your monthly payment is generally higher
      than with an open-end lease.
    </p>

    <p>
      <strong>Open-End Leases: You Bear the Risk of Depreciated Value</strong>
    </p>

    <p>
      With an open-end lease, you bear the risk that the car will have a certain
      value, called the estimated residual value, at the end of the lease. In
      this case, the monthly payment is lower.
    </p>

    <p>
      When you return the car at the end of the lease, the dealer will have the
      car appraised. If the car's appraised value is equal to the estimated
      residual value in the agreement, you won't need to pay anything at the end
      of the lease term. Under some contracts, you can even receive a refund if
      the appraised value is greater than the residual. If the appraised value
      is less than the residual value, however, you may have to pay all or part
      of the difference.
    </p>

    <blockquote class="tip">
      <p>
        If you disagree with the value arrived at by the appraiser, you may
        choose to have an independent appraisal made at your own expense, and
        then try to negotiate an agreement with the dealer as to the residual
        value. Try calling other dealerships to find an independent appraiser or
        a vehicle appraisal service.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="2"></a>Determining Your Costs</h3>

    <p>Your total cost of your lease includes:</p>

    <ol>
      <li>Initial expenses</li>
      <li>Continuing costs</li>
      <li>Final costs</li>
      <li>Option costs (if any)</li>
    </ol>

    <p>
      The amount of money that a dealer can collect at the end of the lease
      period is regulated under the federal Consumer Leasing Act (CLA). The CLA
      states dealers cannot collect more than three times the average monthly
      payment, except as follows:
    </p>
    <ul>
      <li>
        The vehicle has unreasonable wear and tear or the mileage is greater
        than that specified in the lease
      </li>
      <li>
        You agreed to pay an amount greater than specified in the original
        contract
      </li>
      <li>
        The lessor wins a lawsuit in which they asked for a greater amount
      </li>
    </ul>

    <p>
      The dealer also has the option of selling the car at the end of the lease
      term. If the car is sold for less than the residual value stated in your
      leasing contract, you could be obligated to pay as much as three monthly
      payments to make up the difference.
    </p>

    <blockquote class="tip">
      <p>
        Although dealers will generally not risk the goodwill of their customers
        and sell leased cars for less than the residual value just to move the
        car quickly, during the negotiations phase you may want to include the
        right to approve the final sales price of the leased vehicle as part of
        your lease agreement.
      </p>
    </blockquote>

    <p><strong>Your Initial Lease Expenses</strong></p>

    <p>
      The first step in deciding whether to lease or buy is to find out what
      your initial (upfront) expenses are. This figure is part of the total
      dollar amount that you will use to compare with the cost of buying with
      leasing a vehicle.
    </p>

    <p>
      Initial costs are the down payment you must come up with when you lease a
      car and include the security deposit, first and last lease payments,
      capitalized cost reductions, sales taxes, title fees, license fees, and
      insurance. With a lease, the initial costs usually total less than the
      down payment typically needed to buy a car. Further, all initial costs are
      subject to negotiation during the bargaining period with the dealer.
    </p>

    <p>
      As mentioned previously, the federal CLA requires the lessor to disclose
      all up-front, ongoing, and final costs in a standard, easy-to-read format.
    </p>

    <p>
      <strong>Security deposit.</strong> The lessor is allowed to keep the
      security deposit if you owe money at the end of your lease or if you
      missed a monthly payment. The security deposit can also be used by the
      dealer to cover any damage to the car or mileage that is in excess of the
      limit specified in the lease. If you do not owe any money on the lease at
      the end of the term, your security deposit is returned to you.
    </p>

    <p>
      <strong>First and last lease payments.</strong> The first and last months'
      payments are usually required to be put down at the beginning of the lease
      agreement. Under some agreements, the last payment might be waived if you
      have a good credit rating--so be sure to ask about this.
    </p>

    <p>
      <strong>Capitalized cost reduction.</strong> This is similar to a down
      payment. The dealer may ask you to put a certain amount of money down
      before leasing. The amount of the capitalized cost reduction varies with
      the business custom prevalent in that specific geographic area and the
      credit rating of the customer. The larger the down payment, the smaller
      the monthly payment under the lease typically is. However, most people who
      want to lease instead of buy don't want to put down a large down payment,
      and the lack of a down payment is one of the major advantages of leasing.
    </p>

    <blockquote class="tip">
      <p>
        Trading in your old car can reduce your down payment and/or your monthly
        payments.
      </p>
    </blockquote>

    <p>
      <strong>Sales tax, title fees, and license fees.</strong> The CLA requires
      the dealer to disclose sales tax, title and license fees in writing. It
      also requires the dealer to tell you what type of insurance coverage is
      required. In addition, some states apply a "use" tax, which is similar to
      a sales tax, but is added to each monthly payment.
    </p>

    <p><strong>Ongoing Lease Costs</strong></p>

    <p>
      Next, you must determine what the ongoing costs of leasing are. Typically,
      these include monthly payments, and repairs and maintenance.
    </p>

    <p>
      Similar to a loan, the monthly lease payment is dependent on the term of
      the lease, the initial "purchase price" of the vehicle and the implicit
      interest rate. Unlike a loan, another important factor is the "lease-end"
      or "residual" value. This is the expected value at the end of the lease
      term.
    </p>

    <p>
      In a lease situation you are, in effect, paying for the difference between
      the initial purchase price and the residual value. You should negotiate
      the best possible (lowest) purchase price. This will lower your cost of
      leasing the vehicle. If this is a closed-end lease and you do not intend
      to purchase the car at the end of the lease term, you should also try to
      negotiate a higher residual value
    </p>

    <blockquote class="example">
      <p>
        If you walk into a dealership and ask to lease a car, they will often
        try to base the lease on the Manufacturer's Suggested Retail Price
        (MSRP). You would never pay this sticker price to purchase a car for
        cash, and you should not do so in a lease situation. First, negotiate
        the lowest possible price on the vehicle, and then negotiate the lease
        terms.
      </p>
    </blockquote>

    <p>
      For example, assume a car has an MSRP of $36,955 (and the lease provides
      for a term of 36 months, an implicit interest rate of 6.67 percent and a
      residual value of $25,895). Based on this MSRP, the monthly lease payment
      would be $481.50, excluding sales/use tax, licenses, etc. The invoice
      (dealer) cost on the same vehicle is $32,469 (see Info Sources at the end
      of this Guide to find out how to get this information.) If you negotiated
      a price between MSRP and invoice, say $34,750, the lease payment would be
      reduced to $416.00.
    </p>

    <blockquote class="tip">
      <p>
        In some cases professional guidance might be helpful in comparing the
        continuing costs of buying.
      </p>
    </blockquote>

    <blockquote class="planning aid">
      <p>
        <strong>Planning Aid:</strong> For additional information on buying and
        leasing a car, including insider tips and new car information, please
        see
        <a href="http://www.nvla.org/"
          >The National Vehicle Leasing Association</a
        >
        and <a href="http://www.edmunds.com/cars/">Edmunds.</a>
      </p>
    </blockquote>

    <blockquote class="note">
      <p>
        Purchasing the same car at the negotiated price under the same terms
        with no down payment would result in significantly higher monthly
        payments of $1067.74.
      </p>
    </blockquote>

    <p>
      The CLA requires dealers to disclose the total number of payments, the
      amount of each payment, the total amount of all payments, and the due date
      or schedule of payments. There is usually a penalty for late payment,
      which the lessor must disclose to you as well.
    </p>

    <blockquote class="tip">
      <p>
        The expenses of operating your vehicle should also be taken into
        account. As part of your negotiations, try to make the repair and
        maintenance one of the terms of your lease.
      </p>
    </blockquote>

    <ul>
      <li>
        In a "maintenance lease", the dealer assumes the maintenance expenses.
        Conversely, in a "non-maintenance lease," the customer assumes these
        expenses. If the dealer is to provide repair and maintenance, you will
        have to bring the car to the dealership in accordance with the
        manufacturer's suggested schedule in order to keep the warranty
        coverage.
        <p></p>

        <blockquote class="note">
          <p>
            Even if you have to pay for repair and scheduled maintenance, you
            usually have to observe the manufacturer's scheduled maintenance in
            order not to jeopardize warranty coverage.
          </p>
        </blockquote>
      </li>
      <br />
      <li>
        The lease may contain a "budget maintenance" provision, authorizing the
        dealer to collect a set amount from you each month for maintenance. If
        maintenance expenses are incurred, the dealer deducts them from your
        maintenance account. At the end of the lease, you'll either have to make
        up the difference or, you'll get a refund if you've deposited more than
        was used. If you would like extended warranty coverage, some dealers
        offer it at extra cost.
      </li>
    </ul>

    <blockquote class="tip">
      <p>
        Lease agreements often require that a minimum level of insurance be
        maintained on the vehicle. You should consider whether your continuing
        insurance costs are higher on a lease than on an outright purchase.
        Also, watch out for lease provisions where the lessor will purchase the
        insurance and bill you for the amount. This can be more costly than if
        you arrange the insurance yourself.
      </p>
    </blockquote>

    <p><strong>Your Final Costs</strong></p>

    <ul>
      <li>Excess mileage charges</li>
      <li>Default charges</li>
      <li>Excessive wear and tear charges</li>
      <li>Disposition charges</li>
    </ul>

    <p>
      <strong>Excess mileage charges.</strong> Mileage limitations usually occur
      with a closed-end lease. If you have gone over the allowable mileage at
      the end of your lease, you will have to pay a fee. With an open-end lease,
      although there is no penalty, if you exceed the mileage limit the
      appraised value at the end of the lease term will usually be lower.
    </p>

    <blockquote class="tip">
      <p>
        Consider carefully whether the mileage allowance is enough. Make some
        calculations of the miles you have driven per week, month, and year to
        find out whether the mileage allowance is sufficient. Be aware that the
        low-mileage lease deals currently popular in certain areas offer mileage
        limits that are insufficient for many people. If you think you need more
        than the allowable mileage, negotiate a larger mileage allowance in your
        lease.
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>If you stay under the mileage limit, you don't get a refund.</p>
    </blockquote>

    <p>
      <strong>Default charges.</strong> These cover any payments or security
      deposits that the dealer does not receive from you and legal fees and
      costs the dealer incurs to repossess the car.
    </p>

    <p>
      <strong>Excessive wear and tear charges.</strong> You'll have to pay
      charges for excessive wear and tear when you return the car at the end of
      the lease unless the contract reads otherwise. The dealer must tell you in
      writing the specific definition of excessive wear and tear. Generally, it
      means anything beyond normal mechanical or physical usage.
    </p>

    <p>
      <strong>Disposition charges.</strong> These are the costs of cleaning the
      car, giving it a tune-up, and doing final maintenance. If the agreement
      does not state otherwise, the dealer may pass these costs on to you.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="3"></a>Option Rights</h3>

    <p>
      Your option rights include the right to (1) purchase, (2) extend or renew,
      and (3) early termination.
    </p>

    <p>
      <strong>Purchase Option.</strong> Your lease may include the option to
      purchase the car at the end of the lease term. This option is usually
      found in open-end rather than closed-end leases. Under the CLA, the dealer
      must tell you the estimated residual value of the car and the formula that
      will be used to determine your purchase price at the end of the lease.
    </p>

    <blockquote class="tip">
      <p>
        If you think you might want to buy the car, be sure the purchase option
        is in your lease before you sign it; otherwise you'll have to
        renegotiate later, at which time you may have less bargaining power.
      </p>
    </blockquote>

    <p>
      <strong>Renewal Option.</strong> You should negotiate the right to extend
      or renew as part of your lease. Sometimes the lessor will reduce your cost
      if he knows you might want an extension of the contract.
    </p>

    <p>
      <strong>Early Termination Option.</strong> If you terminate your lease
      after, say, 36 months on a 48-month lease, you will have to pay an extra
      charge, based on the difference between the residual value of the car at
      that time and the estimated residual value at the end of the lease term
      (stated in the contract). The difference between these two may be great.
      In most lease agreements, you must keep the car at least 12 months.
    </p>

    <p>
      The CLA requires that the dealer tell you before you sign the contract
      whether you can terminate early, and the cost of early termination.
    </p>

    <blockquote class="tip">
      <p>
        Look for a premature termination clause, which provides for termination
        prior to the end of the lease term.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="4"></a>Questions To Ask Before You Sign</h3>

    <p>
      Here is a list of questions you may want to ask the dealer before you
      enter into a car lease:
    </p>

    <ul>
      <li>
        What kinds of leases are available and what are the differences? The two
        main types of leases have already been explained here, but dealers may
        have variations.)
      </li>
      <li>What will my initial costs of leasing be?</li>
      <li>What will my continuing costs of leasing be?</li>
      <li>Will a trade-in decrease my initial cost or continuing costs?</li>
      <li>What happens if I exceed the mileage limit specified in my lease?</li>
      <li>
        How will my mileage allowance be enforced if I take an early termination
        or a purchase option?
      </li>
      <li>
        Can I sublease if I fall behind in my payments or want to stop leasing?
      </li>
      <li>
        What happens if I want to terminate my lease before the agreement is up?
      </li>
      <li>What are my options at the end of my lease?</li>
      <li>
        What costs and charges can I expect to pay at the end of the lease?
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="5"></a>Other Factors to Consider</h3>

    <p>
      There are a number of other factors that come into play in the
      lease-vs.-buy analysis:
    </p>

    <ul>
      <li>
        When you buy a car, every monthly payment increases your equity. You'll
        end up with a car (of depreciated value) you can either sell or keep. In
        leasing you get no equity; the monthly payment is more like paying rent.
        You don't own the car at the end of the lease though you may have the
        option to buy if that is included in your lease agreement.
      </li>
    </ul>

    <blockquote class="tip">
      <p>
        With leasing, you can invest the money you would have used for the down
        payment. If you use the car for business, whether you lease or buy, you
        can deduct some or all of the cost of the car subject to current IRS
        rules.
      </p>
    </blockquote>

    <ul>
      <li>
        Because they aren't considered "debt", leasing contracts typically
        aren't listed on a loan application; leaving your credit free for other
        loans.
      </li>
      <li>
        Leasing a car is convenient and frees up cash you wouldn't have
        available if you bought a car since the initial costs can be lower.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="7"></a>External Sites</h3>

    <ul>
      <li>
        <span face="ARIAL, HELVETICA" size="2">
          <a href="http://www.edmunds.com">Edmunds</a> provides comprehensive
          information on entire leasing process.</span
        >
      </li>

      <li>
        <span face="ARIAL, HELVETICA" size="2"
          ><a href="http://www.consumerreportsonline.org"
            >Independent Car Ratings</a
          >, detailed buying advice, and a comparison of buying vs. leasing is
          offered by Consumer Reports Online.
        </span>
      </li>

      <li>
        <span face="Arial" size="2">
          <a href="http://www.kbb.com">Kelley Blue Book</a> provides a variety
          of information about automobiles.
        </span>
      </li>

      <li>
        <span face="ARIAL, HELVETICA" size="2">
          <a href="http://www.msn.com/en-us/autos">MSN Autos</a> offers prices
          and previews, new car reviews, Kelly blue book values, and virtual
          auto shows.
        </span>
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>Government and Non-Profit Agencies
    </h3>

    <ul>
      <li><a href="https://bbb.org/">Better Business Bureau</a></li>
      <li>
        <a href="http://www.nvla.org/"
          >The National Vehicle Leasing Association</a
        ><br />7250 Parkway Drive Suite 510<br />Hanover MD 21076<br />Tel.
        (800) 225-NVLA
      </li>
      <li><a href="http://www.ftc.gov/">The Federal Trade Commission</a></li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- fga  -->
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="cellcolor" align="left">
          <p style="padding: 5px">
           <b>Also See...</b>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- br --><a
    href="/sample652/life-events.php?item=153&amp;catid=16&amp;cat=Buying+or+Leasing+Your+Next+Car%3A+Frequently+Asked+Questions"
    ><b>Buying or Leasing Your Next Car: Frequently Asked Questions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=43&amp;catid=16&amp;cat=Car+Insurance%3A+10+Cost-Cutters+To+Save+You+Money"
    ><b>Car Insurance: 10 Cost-Cutters To Save You Money</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=147&amp;catid=16&amp;cat=Car+Insurance%3A+Frequently+Asked+Questions"
    ><b>Car Insurance: Frequently Asked Questions</b></a
  ><br /><!-- br2 --><a
    href="http://www.calcxml.com/calculators/should-i-lease-or-purchase-an-auto?skn=481"
    ><b>Should I Lease or Purchase An Auto?</b></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=aut03"
    ><b>What Would My Auto Payments Be?</b></a
  ><br />
</div>
