<br />This segment of financial guides is dedicated to strategic tax planning
for business owners. Can you save more? We think so.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/credit-cards-fg']"
          routerLinkActive="router-link-active"
          ><b>Credit Cards: How To Choose - And Use - Them Wisely</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-reports-fg']"
          routerLinkActive="router-link-active"
          ><b>Credit Reports: What You Should Know - And Do - About Yours</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/merchant-cc-abuses']"
          routerLinkActive="router-link-active"
          ><b>Merchant Credit Card Abuses: What They Cannot Ask You To Do</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-cared-rights']"
          routerLinkActive="router-link-active"
          ><b>Your Credit Card Rights: What To Do If You Have a Problem</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/financial-troubles-fg']"
          routerLinkActive="router-link-active"
          ><b>Getting Out of Financial Trouble: Steps You Can Take</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/credit-cards-faq']"
          routerLinkActive="router-link-active"
          ><b>Credit Cards: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-reports-faq']"
          routerLinkActive="router-link-active"
          ><b>Credit Reports: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/financial-troubles-faq']"
          routerLinkActive="router-link-active"
          ><b>Financial Trouble: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-rating-faq']"
          routerLinkActive="router-link-active"
          ><b>Credit Rating: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/loan-questions-faq']"
          routerLinkActive="router-link-active"
          ><b>Loan Questions: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>Should I Consolidate My Personal Debt Into A New Loan?</b></a
        ><br />
        <a><b>What Is The Impact Of Making Extra Payments On My Debt?</b></a
        ><br />
        <a><b>Should I Consolidate My Personal Debt Into A New Loan?</b></a
        ><br />
        <a><b>How Long Will It Take To Pay Off My Credit Card?</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
