<app-heading heading="Employment Opportunities"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7" style="text-align: left;">
      <p>Company Name is seeking professional, hard-working, licensed CPAs with at least four years of experience.</p>
      <p>The Firm demands independence, integrity, objectivity, competence and due care from all of its personnel in the conduct of its engagements. Our Firm is structured to provide leadership in achieving high quality professional performance while maintaining the concept of individual responsibility. Policies and procedures have been established providing assurance that professional engagements are properly planned and executed. Decisions are based on the substance of issues, not on form.</p>
      <p>Our policies and procedures designate Partners of the Firm for consultation on significant ethical, technical and industry questions. The policies and procedures are designed to assure that clients receive the best professional services we can provide. We continually keep in mind the public interest. We expect our Partners and Associates to identify and resolve all important engagement issues.</p>
      <p>The job requires high level tax preparation skills, superior tax research and problem solving abilities, broad software knowledge, and excellent written and oral communication skills. We have a team approach to provide high quality client service for tax compliance, planning, financial statements, and general business consulting.</p>
      <p>Fax resume and references to  or email support@cpasitesolutions.com.
      </p><hr>
      <p>Check this page from time to time for specific employment opportunities for Certified Public Accountants, small business accountants and administrative staff.</p>
      <p>Please mail resume to:</p>
      <p>Company Name<br>
      59 Rathe Road<br>
      Colchester, VT 05408</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-md-flex flex-column d-none" id="image-container">
      <img class="mx-auto" id="img-woman-1" width="260px" height="400px" src="../../../../assets/images/woman-1.png">
      <button class="mx-auto" mat-raised-button (click)="openContactUsDialog()">Request A Free Consultation</button>
    </div>
  </div>
</div>
