<div id="fga">
  <p>
    If like thousands of others, you are having trouble paying your debts, it is
    important to take action. Doing nothing can lead to much larger problems in
    the future--and even bigger debts, such as the loss of assets such as your
    house, and a bad credit record. This Financial Guide suggests how you can
    help improve your relationships with creditors, reduce your debts, better
    manage your money and get a fresh start.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Getting Started</a></li>
      <li><a href="#2">Credit Counseling Agencies</a></li>
      <li><a href="#3">Personal Bankruptcy</a></li>
      <li><a href="#4">Scams And Pitfalls</a></li>
      <li><a href="#6">Government and Non-Profit Agencies</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    How can you tell when you have too much debt? What if bill collectors are
    not calling yet, but you are having difficulty paying monthly bills? If
    these problems seem familiar, you should take action.
  </p>

  <ul>
    <li>Have you run several credit cards up to the limit?</li>
    <li>
      Do you frequently make only the minimum monthly payments on your credit
      cards?
    </li>
    <li>
      Do you apply for almost any credit card you are offered without checking
      out the terms?
    </li>
    <li>
      Have you used the cash advance feature from one card to pay the minimum
      payment on another?
    </li>
    <li>
      Do you use cash advances (or use a credit card) for living expenses such
      as food, rent, or utilities?
    </li>
    <li>Are you unaware of what your total debt is?</li>
    <li>
      Are you unaware of how long it would take you to pay off all your current
      debts (excluding mortgages and cars) at the rate you are paying?
    </li>
  </ul>

  <p>
    If you find any of these statements apply to you, you may need to learn more
    about managing debt before you try to reestablish credit.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Getting Started</h3>

  <p>
    Here are some specific steps you can take if you are in financial trouble:
  </p>

  <p>
    <em>1. Review each debt.</em> Make sure that the debt creditors claim you
    owe is really what you owe and that the amount is correct. If you dispute a
    debt, first contact the creditor directly to resolve your questions. If you
    still have questions about the debt, contact your state or local consumer
    protection office or, in cases of serious creditor abuse, your state
    Attorney General.
  </p>

  <p>
    <em>2. Contact your creditors.</em> Let your creditors know that you are
    having difficulty making your payments. Tell them why you are having
    trouble--perhaps it is because you recently lost your job or have unexpected
    medical bills. Try to work out an acceptable payment schedule with your
    creditors. Most are willing to work with you and will appreciate your
    honesty and forthrightness.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Most automobile financing agreements permit your
      creditor to repossess your car any time you are in default, with no
      advance notice. If your car is repossessed you may have to pay the full
      balance due on the loan, as well as towing and storage costs, to get it
      back. Do not wait until you are in default. Try to solve the problem with
      your creditor when you realize you will not be able to meet your payments.
      It may be better to sell the car yourself and pay off your debt than to
      incur the added costs of repossession.
    </p>
  </blockquote>

  <p>
    <em>3. Budget your expenses.</em> Create a spending plan that allows you to
    reduce your debts. Itemize your necessary expenses (such as housing and
    healthcare) and optional expenses (such as entertainment and vacation
    travel). Stick to the plan.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For some guidance in this regard, please
      see the Financial Guide:
      <a href="?item=11&amp;cat=Budgeting: How To Prepare a Workable Plan"
        >BUDGETING: How To Prepare A Workable Plan.</a
      >
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Try self-budgeting before taking more extreme
      measures.
    </p>
  </blockquote>

  <p>
    <em>4. Try to reduce your expenses.</em> Cut out any unnecessary spending
    such as eating out and purchasing expensive entertainment. Consider taking
    public transportation or using a car sharing service rather than owning a
    car. Clip coupons, purchase generic products at the supermarket and avoid
    impulse purchases. Above all, stop incurring new debt. Leave your credit
    cards at home. Pay for all purchases in cash or use a debit card instead of
    a credit card.
  </p>

  <p>
    <em>5. Pay down debts using savings.</em> Withdrawing savings from
    low-interest accounts to settle high-rate loans or credit card debt usually
    makes sense.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Selling off a second car not only provides cash but
      also reduces insurance and other maintenance expenses.
    </p>
  </blockquote>

  <p>
    <em>6. Find out if you are eligible for social services.</em> Government
    assistance includes unemployment compensation, Temporary Assistance for
    Needy Families (TANF) formerly
    <em>Aid to Families with Dependent Children (AFDC)</em>, food stamps, now
    known as Supplemental Nutrition Assistance Program (SNAP), low-income energy
    assistance, Medicaid, and Social Security (including disability). Other
    resources may be available from churches and community groups.
  </p>

  <p>
    <em>7. Try to consolidate your debts.</em> There are a number of ways to pay
    off high-interest loans, such as credit cards, by getting a refinancing or
    consolidation loan, such as a second mortgage.
  </p>

  <blockquote class="caution">
    <p>
      <strong>Caution:</strong> Be wary of any loan consolidations or other
      refinancing that actually <strong>increase</strong> interest owed, or
      require payments of points or large fees.
    </p>
  </blockquote>

  <blockquote class="caution">
    <p>
      <strong>Caution:</strong> Second mortgages greatly increase the risk that
      you may lose your home.
    </p>
  </blockquote>

  <p>
    <em>8. Prepare a financial plan.</em> A financial plan can alleviate
    financial worries about the future and ensure that you will meet your
    financial goals whether they relate to retirement, asset acquisition,
    education, or just vacations.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For guidance on how to begin the financial
      planning process, please see the Financial Guide:
      <a
        href="?item=10&amp;cat=Your Financial Plan: Getting Started On a Secure Future"
        >YOUR FINANCIAL PLAN: Getting Started On A Secure Future.</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Credit Counseling Agencies</h3>

  <p>
    If you are unable to make satisfactory arrangements with your creditors,
    there are organizations to help you accomplish this. For instance, National
    Foundation for Consumer Credit (NFCC) member agencies provide education and
    counseling to families and individuals. For consumers who want individual
    help, counselors with professional backgrounds in money management and
    counseling are available to provide support.
  </p>

  <p>
    To promote high standards, the NFCC has developed a certification program
    for these counselors known as Certified Consumer Credit Counselors (CCCS). A
    counselor will work with you to develop a budget to maintain your basic
    living expenses and outline options for addressing your total financial
    situation.
  </p>

  <p>
    If creditors are pressing you, a CCCS counselor can also negotiate with
    these creditors to repay your debts through a financial management plan.
    Under this plan, creditors often agree to reduce payments or drop interest
    and finance charges and waive late fees and over-the-limit fees. After
    starting the plan, you will deposit money with CCCS each month to cover
    these newly negotiated payment amounts. Then CCCS will distribute this money
    to your creditors to repay your debts.
  </p>

  <p>
    With more than 1,100 locations nationwide, CCCS agencies are available to
    nearly all consumers. Supported mainly by contributions from community
    organizations, financial institutions, and merchants, CCCS provides services
    free or at a low cost to individuals seeking help. To contact a CCCS office
    for confidential help call 1 (800) 388-2227, 24 hours a day, for an office
    near you or visit their website: <a href="http://www.nfcc.org">NFCC</a>
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Personal Bankruptcy</h3>

  <p>
    Bankruptcy is a legal proceeding that is intended to give people who cannot
    pay their bills a fresh start.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> A decision to file for bankruptcy is a serious step,
      which should be taken only if it is the best way to deal with financial
      problems.
    </p>
  </blockquote>

  <p>There are two types of bankruptcy available to most individuals:</p>

  <ul>
    <li>
      <p>
        <em>Chapter 13 bankruptcy</em> allows debtors to keep property which
        they might otherwise lose, such as a mortgaged house or car.
        Reorganizations may allow debtors to pay off or cure a default over a
        period of three to five years, rather than surrender property.
      </p>
    </li>
    <li>
      <p>
        <em>Chapter 7 or "straight bankruptcy"</em> involves liquidation of all
        assets that are not exempt in your state. The exempt property may
        include items such as work-related tools and basic household
        furnishings, among others. Some of your property may be sold by a
        court-appointed official or turned over to your creditors. You can file
        for Chapter 7 only once every eight years.
      </p>
    </li>
  </ul>

  <p>
    Both types of bankruptcy may get rid of unsecured debts (those where
    creditors have no rights to specific property), and stop foreclosures,
    repossessions, garnishments, utility shut-offs and debt collection
    activities. Both types also provide exemptions that permit most individual
    debtors to keep most of their assets, though these "exemption" amounts vary
    greatly from state to state.
  </p>

  <p>
    Bankruptcy cannot clean up a bad credit record and will be part of this
    record for up to ten years. Thus, filing bankruptcy will make it more
    difficult to get a mortgage to buy a house. It usually does not wipe out
    child support, alimony, fines, taxes, and some student loan obligations.
    Also, under Chapter 13, unless you have an acceptable plan to catch up on
    your debt, bankruptcy usually does not permit you to keep property when the
    creditor has an unpaid mortgage or lien on it. Bankruptcy cases must be
    filed in federal court.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Be cautious when choosing a bankruptcy lawyer. Some
      of the less reputable lawyers make easy money by handling hundreds of
      bankruptcy cases without adequately considering individual needs and
      alternative solutions. Get recommendations from people you know and trust,
      and from employee assistance programs.
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For information on making sure you pick
      the right lawyer, please see the Financial Guide:
      <a href="?item=36&amp;cat=Lawyers: How To Choose The Right One"
        >LAWYERS: How To Choose The Right One.</a
      >
    </p>
  </blockquote>

  <p>
    Some public-funded legal services programs handle bankruptcy cases without
    charging attorney fees. Or these programs may provide referrals to private
    bankruptcy lawyers. Keep in mind that the fees of these attorneys may vary
    widely.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Scams And Pitfalls</h3>

  <p>
    Consumers with credit problems have paid millions of dollars to firms that
    claim they can remove negative information, clean up credit reports, and
    allow consumers to get credit no matter how bad the credit history.
  </p>

  <p>
    These credit repair clinics charge consumers anywhere from $50 to $2,000 and
    often use questionable methods. Most clinics make misleading promises to
    consumers, and charge high fees for doing what you could do yourself--or
    simply take your money and do nothing at all.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Do not confuse the for-profit credit repair clinics
      discussed here with the non-profit
      <a href="https://www.credit.org/cccs"
        >Consumer Credit Counseling Services (CCCS)</a
      >
      we discussed before.
    </p>
  </blockquote>

  <p>
    Here are some common promises made by credit clinics and the reasons
    consumers should beware of such claims:
  </p>

  <p>
    <em
      >"Based on little-known loopholes in Federal credit laws, we can show you
      how to clean up your credit report!"</em
    >
  </p>

  <p>
    These "loopholes" are merely the provisions of the Fair Credit Reporting Act
    (FCRA), under which you have the right to challenge information in your
    credit report you believe incorrect. We discussed these provisions earlier
    in the section on "What To Do If You Have A Bad Credit Report." Credit
    repair clinics often flood credit bureaus with requests to check whether or
    not all negative data is correct. Credit clinics hope creditors will not be
    able to verify the information in a reasonable time period, causing the
    negative information to have to be dropped under the FCRA. Some credit
    clinics even tell consumers to challenge neutral information (e.g., name and
    address), hoping to distort file data so that the old, negative file will no
    longer be identifiable when a creditor asks for a consumer's file. Creditors
    and credit bureaus have become familiar with such tactics, and they have
    sought to use the provision of the FCRA that allows them to dismiss
    "frivolous" disputes of file information and to refuse to respond to
    repeated disputes of the same data.
  </p>

  <p>
    <em
      >"We can show you how to remove negative information from your
      file-including judgments."</em
    >
  </p>

  <p>
    Some clinics tell consumers to pay off any bills outstanding with the
    creditor in exchange for the removal of negative information. Or, they may
    tell a consumer who has an account in collections to pay part of the balance
    with a check. The check is to carry a disclaimer saying that, by cashing the
    check, the creditor agrees to remove the account from collections and remove
    any negative information about the account from its files. Creditors are
    under no obligation to agree to such measures, and the fees paid to clinics
    for such advice is wasted.
  </p>

  <p>
    <em
      >"We can get you a major credit card-even if you've been through
      bankruptcy!"</em
    >
  </p>

  <p>
    What you are not told is that you will have to "secure" the card first. Most
    credit cards are unsecured; that is, you are not pledging any of your assets
    as collateral for any credit you may use. A card is secured when a consumer
    puts a deposit in the bank and gets a bankcard with a credit limit based on
    a percentage of that deposit. While a secured card can be an excellent tool
    for rebuilding credit, why should you pay the credit clinic just to provide
    an application and deposit slip?
  </p>

  <p>
    Often for-profit or non-credential counseling organizations make promises
    that they cannot or do not keep. Be especially careful when asked for a
    large sum of money in advance.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Several states have enacted laws to protect
      consumers against the deceptive practices of many credit clinics. These
      state laws generally require credit clinics to inform consumers of their
      rights under the FCRA; be bonded (hold a type of insurance to protect
      consumers who may sue) if they accept payment in advance of services;
      accurately represent what they can and cannot do; and offer a cancellation
      period before any contract for services the consumer may sign takes
      effect. Check with your state attorney general's office to determine if
      there are any regulations for credit clinics in your state.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> To check an organization's reputation, contact your
      state Attorney General, consumer protection agency, or
      <a href="http://www.bbb.org/">Better Business Bureau.</a>
    </p>
  </blockquote>

  <p align="center">
    *&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*
  </p>

  <p>
    <em>A Final Word:</em> Don't lose hope, even if you despair of ever
    recovering financially. You can regain financial health if you act
    responsibly. The options presented here can put you on the road to financial
    recovery. Professional financial guidance can get you off to the right
    start.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Government and Non-Profit Agencies</h3>

  <p>
    The following agencies are responsible for enforcing federal laws that
    govern credit card transactions. Questions concerning a particular card
    issuer should be directed to the enforcement agency responsible for that
    issuer.
  </p>

  <ul>
    <li>
      <p><strong>State Member Banks of the Reserve System:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Consumer &amp; Community Affairs<br />Board of Governors of the Federal
        Reserve System<br />20th &amp; Constitution Avenue, N.W.<br />Washington,
        D.C. 20551</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>National Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743 </em
      ><br />
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>Federal Credit Unions:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >National Credit Union Administration<br />1775 Duke St # 4206<br />Alexandria,
        VA 22314-6115</em
      ><br />
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>Non-Member Federally Insured Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Federal Deposit Insurance Corporation <br />
        Consumer Response Center <br />
        1100 Walnut St, Box #11 <br />
        Kansas City, MO 64106
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Federally Insured Savings and Loans, and Federally Chartered State
          Banks:</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Other Credit Card Issuers (includes retail gasoline
          companies):</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Bureau of Consumer Protection<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, D.C. 20580</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>The U.S. Postal Inspection Service:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      This office covers mail fraud, sexually offensive materials, solicitations
      that look like government materials but are not. If you suspect such
      violations, contact your local Postmaster or Postal Inspector or:
    </p>

    <p>
      <em
        >Criminal Investigations Service Center<br />Attn: Mail Fraud<br />222
        S. Riverside Plaza Ste 1250<br />Chicago Il 60606-6100<br />Tel.
        877-876-2455</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <em><strong>The Federal Trade Commission:</strong></em>
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      Does not handle individual complaints, but reporting failure to deliver,
      late delivery, unordered merchandise, misrepresentation or fraud helps
      uncover widespread abuses that the FTC might take action to stop.
    </p>

    <p>
      <em
        >Division of Enforcement<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />Tel. (202)
        326-2222</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>National Do Not Call Registry:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      If you wish to have your name removed from telephone lists of marketing
      companies.
    </p>

    <p>
      <em
        >National Do Not Call Registry<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />website:
        www.donotcall.gov</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Direct Marketing Mail Opt-Out:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>Consumers who do not wish to receive promotional mail at home</p>

    <p>
      <em
        >Direct Marketing Association<br />1120 Avenue of the Americas <br />NY,
        NY New York, NY 10036-6700<br />Tel. 212.768.7277<br />website:
        www.DMAChoice.org</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Low or No-Cost Credit Cards:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      Bankrate.com lists banks charging no fees and low interest rates for
      credit cards. Visit the website: www.bankrate.com
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
