<cdk-accordion
  class="accordion"
>
  <cdk-accordion-item
    *ngFor="let item of navigationList; let index = index"
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div
      class="accordion-item-header"
      *ngIf="!item.list.length"
      [routerLink]="[item.routerLink]"
    >
      {{ item.title }}
    </div>
    <div class="accordion-item-header" *ngIf="item.list.length">
      <div class="header-item" [routerLink]="[item.routerLink]">
        {{ item.title }}
      </div>
      <div (click)="accordionItem.toggle()">
        <mat-icon *ngIf="!accordionItem.expanded">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="accordionItem.expanded">keyboard_arrow_up</mat-icon>
      </div>
    </div>
    <div
      *ngIf="item.list.length"
      class="according-expanded-content"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <div
        class="according-content-item"
        *ngFor="let listItem of item.list"
        [routerLink]="[item.routerLink + listItem.routerLink]"
      >
        {{ listItem.title }}
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
