<cdk-accordion class="accordion">
  <cdk-accordion-item
    *ngFor="let i of navigationList; let index = index"
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div
      class="accordion-item-header"
      *ngIf="!i.list.length"
      [routerLink]="[i.routerLink]"
    >
      {{ i.title }}
    </div>
    <div class="accordion-item-header" *ngIf="i.list.length">
      <div class="header-item" [routerLink]="[i.routerLink]">
        {{ i.title }}
      </div>
      <div (click)="accordionItem.toggle()">
        <mat-icon *ngIf="!accordionItem.expanded">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="accordionItem.expanded">keyboard_arrow_up</mat-icon>
      </div>
    </div>
    <div
      *ngIf="i.list.length"
      class="according-expanded-content"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <!-- <div
        class="according-content-item"
        *ngFor="let listItem of i.list"
        [routerLink]="[i.routerLink + listItem.routerLink]"
      >
        {{ listItem.title }}
      </div> -->
      <cdk-accordion class="accordion">
        <cdk-accordion-item
          *ngFor="let j of i.list; let index2 = index"
          #accordionItem="cdkAccordionItem"
          class="accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index2"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index2"
        >
          <div
            class="accordion-item-header level-2"
            *ngIf="!j.list.length"
            [routerLink]="[i.routerLink + j.routerLink]"
          >
            {{ j.title }}
          </div>
          <div class="accordion-item-header level-2" *ngIf="j.list.length">
            <div class="header-item" [routerLink]="[i.routerLink + j.routerLink]">
              {{ j.title }}
            </div>
            <div (click)="accordionItem.toggle()">
              <mat-icon *ngIf="!accordionItem.expanded"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="accordionItem.expanded"
                >keyboard_arrow_up</mat-icon
              >
            </div>
          </div>
          <div
            *ngIf="j.list.length"
            class="according-expanded-content"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <div
              class="according-content-item level-3"
              *ngFor="let k of j.list"
              [routerLink]="[i.routerLink + j.routerLink + k.routerLink]"
            >
              {{ k.title }}
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
