.accordion-item {
  border: none;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border: 1px solid rgba(0,0,0,.125);
}

.according-content-item {
  padding: .5rem 1rem;
  border: 1px solid rgba(0,0,0,.125);
}

.accordion-item > .accordion-item-header:hover {
  cursor: pointer;
  background-color: #2d82a1;
}

.accordion-item > .according-expanded-content > .according-content-item:hover {
  cursor: pointer;
  background-color: #2d82a1;
}
