.accordion-item {
  border: none;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: none;
  border-right: none;
}

.accordion-expanded-content {
  /* margin-left: .5rem; */
  background-color: transparent;
}

.accordion-item > .accordion-item-header:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-item-header {
  padding-left: 1rem;
}

.accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-item-header {
  padding-left: 1.5rem;
}

.accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-item-header {
  padding-left: 2rem;
}

.accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-expanded-content
  > app-side-nav
  > .accordion
  > .accordion-item
  > .accordion-item-header {
  padding-left: 2.5rem;
}

/* .level-1 {
  padding: .5rem;
}

.level-2 {
  padding: .5rem 1rem;
}

.level-3 {
  padding: .5rem 1.5rem;
}

.level-4 {
  padding: .5rem 2rem;
} */

/* .accordion-content-item {
  border: 1px solid rgba(0,0,0,.125);
} */

/* .accordion-item > .accordion-expanded-content > .accordion-content-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.025);
} */
