<div class="container">
  <div class="row my-5 text-center">
      <div class="col-lg-4">
          <div class="fa fa-comment-o fa-5x"></div>
          <h3>Ask a Question</h3>
          <p>Find comfort in knowing an Expert in accounting is only an email or phone-call away. </p>
          <p><a href="tel:(800) 896-4500" mat-raised-button>(800) 896-4500</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="fa fa-calendar-check-o fa-5x"></div>
          <h3>We Are Here to Help</h3>
          <p>We will happily offer you a free consultation to determine how we can best serve you.</p>
          <p><a mat-raised-button>Contact Us</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="fa fa-copy fa-5x"></div>
          <h3>Send us a File</h3>
          <p>Use our convenient SecureSend page to securely deliver a file directly to a member of our firm.</p>
          <p><a mat-raised-button>Secure Send</a></p>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center align-self-center">
            <h2 class="h1">Newsletter</h2>
            <p class="lead">Subscribe to our newsletter to receive news, updates, and valuable tips.</p>
            <form class="form" method="post" action="">
              <div class="input-group">
                  <input type="text" name="email" placeholder="Email" class="form-control">
                  <div class="input-group-btn">
                      <button type="submit" name="submit" mat-raised-button> <i class="fa fa-feed"></i>&nbsp;</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
  <div class="row my-5 text-center">
      <div class="col-md-4">
          <h3>Resources</h3>
          <p>
              <a>Calculators</a><br>
              <a>Client Portal</a><br>
              <a>SecureSend</a><br>
              <a>Internet Links</a><br>
              <a>Newsletter</a>
          </p>
      </div>
      <div class="col-md-4">
          <h3>Tax Center</h3>
          <p>
              <a>Track Your Refund</a><br>
              <a>Tax Due Dates</a><br>
              <a>Tax Rates</a><br>
              <a>Record Retention Guide</a><br>
              <a>State Tax Forms</a>
          </p>
      </div>
      <div class="col-md-4">
          <h3>Contact</h3>
          <p>
              Company Name<br>
              59 Rathe Road<br>
              Colchester, VT 05408<br>
              <a href="tel:(800) 896-4500">(800) 896-4500</a><br>
              <a href="mailto:support@cpasitesolutions.com">support@cpasitesolutions.com</a>
          </p>
      </div>
  </div>
  <hr>
  <div class="row my-4">
      <div class="col-md-10">
          <p class="m-0 ">
              © Company Name 2022
              <span class=""> &nbsp; • &nbsp; </span>
              <a>Site Map</a>
              <span> &nbsp; • &nbsp; </span>
              <a>Privacy Policy</a>
              <span> &nbsp; • &nbsp; </span>
              <a>Disclaimer</a>
          </p>
      </div>
      <div class="col-md-2 social">
          <a class="fa fa-facebook" title="Facebook" href="https://www.facebook.com"></a>
          <a class="fa fa-twitter" title="Twitter" href="https://www.twitter.com"></a>
          <a class="fa fa-linkedin" title="LinkedIn" href="https://www.linkedin.com" primary=""></a>
          <a class="fa fa-google-plus" title="Google Plus" href=""></a>
      </div>
  </div>
</div>
