<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">How do I prepare financially for divorce?</a></li>
      <li>
        <a href="#2"
          >How should we handle credit card accounts during a divorce?</a
        >
      </li>
      <li>
        <a href="#3"
          >What do I do if my current or former spouse's poor credit affects
          me?</a
        >
      </li>
      <li>
        <a href="#4">What happens to my credit history after a divorce?</a>
      </li>
      <li>
        <a href="#5"
          >What are the legal issues that must be faced in most divorces?</a
        >
      </li>
      <li><a href="#6">How does property get divided in a divorce?</a></li>
      <li><a href="#7">What are the tax implications of divorce?</a></li>
      <li>
        <a href="#8"
          >What happens when retirement plans or IRAs are divided up in a
          divorce?</a
        >
      </li>
      <li><a href="#9">Can I deduct the cost of getting a divorce?</a></li>

      <li>
        <a href="#10"
          >Who is entitled to deduct the dependency exemption of a child after
          divorce?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How do I prepare financially for divorce?
    </h3>

    <p>
      If you are considering divorce, it's vital to plan for the dissolution of
      the financial partnership in your marriage. This means dividing the
      financial assets and liabilities you have accumulated during the years of
      marriage. Further, if children are involved, the future support given to
      the custodial parent must be planned for. The time you take to prepare and
      plan for eventualities will pay off later on.
    </p>

    <p>Here is what you can do:</p>

    <p>1. Make a list of all of your assets, joint or separate, including:</p>

    <ul>
      <li>The current balance in all bank accounts</li>
      <li>The value of any brokerage accounts</li>
      <li>The value of investments, including any IRAs</li>
      <li>Your residence(s)</li>
      <li>Your autos</li>
      <li>
        Your valuable antiques, jewelry, luxury items, collections, and
        furnishings
      </li>
    </ul>

    <p>
      2. Make sure you have copies of the past two or three years' tax returns.
      These will come in handy later.
    </p>

    <p>
      3. Inventory your financial debts and obligations. This helps you to
      prepare in two ways:
    </p>

    <ul>
      <li>
        It will provide you with preliminary information for an eventual
        division of the property.
      </li>

      <li>
        <p>
          It will help you to plan how the debts incurred in the marriage are to
          be paid off. Although the best way of dealing with joint debt, such as
          credit card debt, is to get it all paid off before the divorce, often
          this is not possible. Having a list of your debts will help you to
          come to some agreement as to how they will be paid off.
        </p>
      </li>
    </ul>

    <p>
      4. Make sure you know the exact amounts of salary and other income earned
      by both yourself and your spouse.
    </p>

    <p>
      5. Find any papers relating to insurance-life, health, auto, and
      homeowner's, as well as pension and other retirement benefits.
    </p>

    <p>
      6. List all debts you both owe, separately or jointly. Include auto loans,
      mortgage, credit card debt, and any other liabilities.
    </p>

    <blockquote class="tip">
      <p>
        If you are a spouse who has not worked outside the home lately, be sure
        to open a separate bank account in your own name and apply for a credit
        card in your own name. This will help you to establish credit after the
        divorce.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>How should we handle credit card accounts during a
      divorce?
    </h3>

    <p>
      It is important to immediately cancel all joint accounts once you know you
      are going to obtain a divorce. Creditors have the right to seek payment
      from either party on a joint credit card or other credit account, no
      matter which party actually incurred the bill. If you allow your name to
      remain on joint accounts with your ex-spouse, you are also responsible for
      the bills.
    </p>

    <p>
      Your divorce agreement may specify which one of you pays the bills. As far
      as the creditor is concerned, however, both you and your spouse remain
      responsible if the joint accounts remain open. The creditor will try to
      collect the bill from whoever it thinks may be able to pay, and at the
      same time report the late payments to the credit bureaus under both names.
      Your credit history could be damaged because of the cosigner's
      irresponsibility.
    </p>

    <p>
      Some credit contracts require that you immediately pay the outstanding
      balance in full if you close an account. If so, try to get the creditor to
      have the balance transferred to separate accounts.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What do I do if my current or former spouse's poor credit
      affects me?
    </h3>

    <p>
      If your spouse's poor credit hurts your credit record, you may be able to
      separate yourself from your spouse's information on your credit report.
      The Equal Credit Opportunity Act requires a creditor to take into account
      any information showing that the credit history being considered does not
      reflect your own.
    </p>
    <p>
      If for instance, you can show that accounts you shared with your spouse
      were opened by him or her before your marriage and that he or she paid the
      bills, you may be able to convince the creditor that the harmful
      information relates to your spouse's credit record, not yours. In
      practice, it is difficult to prove that the credit history under
      consideration doesn't reflect your own, and you may have to be persistent.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>What happens to my credit history after a divorce?
    </h3>

    <p>
      If a woman divorces and changes her name on an account, lenders may review
      her application or credit file to see whether her qualifications alone
      meet their credit standards. They may ask her to reapply, but generally
      the account remains open.
    </p>

    <p>
      Maintaining credit in your own name avoids this inconvenience. It can also
      make it easier to preserve your own, separate, credit history.
      Furthermore, should you need credit in an emergency, it will be available.
    </p>

    <p>
      Do not use only your husband's name, for example, Mrs. John Wilson for
      credit purposes.
    </p>

    <blockquote class="tip">
      <p>
        Check your credit report if you haven't done so recently. Make sure the
        accounts you share are being reported in your name as well as your
        spouse's. If not, and you want to use your spouse's credit history to
        build your own, write to the creditor and request the account be
        reported in both names. If there is any inaccurate or incomplete
        information in your file write to the credit bureau and ask them to
        correct it. The credit bureau must confirm the data within a reasonable
        time period, and let you know when they have corrected the mistake.
      </p>
    </blockquote>

    <p>
      If you have been sharing your husband's accounts, building a credit
      history in your name should be fairly easy. Contact a major credit bureau
      and request a copy of your file, then contact the issuers of the cards you
      share with your husband and ask them to report the accounts in your name
      as well.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>What are the legal issues that must be faced in most
      divorces?
    </h3>

    <p>
      The best way to plan for the legal issues that must be faced in a divorce
      such as child custody, division of property, and alimony or support
      payments, is to come to an agreement with your spouse. If you can do this,
      the time and money you will have to expend in coming up with a legal
      solution -- either one worked out between the two attorneys or one worked
      out by a court -- will be drastically reduced.
    </p>

    <p>
      Here are some general tips for handling the legal aspects of a divorce:
    </p>

    <ul>
      <li>
        <p>
          Get your own attorney if there are significant issues dealing with
          assets, child custody, or alimony.
        </p>
      </li>

      <li>
        <p>
          There are several ways to find a good matrimonial attorney including
          referrals from other professionals, referrals from trusted friends, or
          lists obtained from the
          <a href="http://www.aaml.org/"
            >American Academy of Matrimonial Lawyers</a
          >.
        </p>
      </li>

      <li>
        <p>
          Make sure the divorce decree or agreement covers all types of
          insurance coverage-life, health, and auto.
        </p>
      </li>

      <li>
        <p>
          Be sure to change the beneficiaries on life insurance policies, IRA
          accounts, 401(k) plans, other retirement accounts, and pension plans.
        </p>
      </li>

      <li>Don't forget to update your will.</li>
    </ul>

    <blockquote class="tip">
      <p>
        Those who have trouble arriving at an equitable agreement, but do not
        require the services of an attorney, might consider the use of a divorce
        mediator. This type of professional advertises in the section of the
        classifieds titled "Divorce Assistance", or "Lawyer Alternatives."
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>How does property get divided in a divorce?
    </h3>

    <p>
      The laws governing the division of property between ex-spouses vary from
      state to state. You should also be aware that matrimonial judges have a
      great deal of latitude in applying those laws as well.
    </p>

    <p>
      Here is a list of items you should be sure to take care of, regardless of
      whether you are represented by an attorney:
    </p>

    <ol>
      <li>
        <p>
          Gain an understanding of how your state's laws on property division
          work.
        </p>
      </li>

      <li>
        <p>
          If you owned property separately during the marriage, be sure you have
          the papers to prove that it's been kept separate.
        </p>
      </li>

      <li>
        <p>
          Be ready to document any non-financial contributions to the marriage,
          e.g., your support of a spouse while he or she attended school or your
          non-financial contributions to his or her financial success.
        </p>
      </li>

      <li>
        <p>
          If you need alimony or child support, be ready to document your need
          for it.
        </p>
      </li>
    </ol>

    <p>
      If you have not worked outside the home during the marriage consider
      having the divorce decree provide for money for you to be trained or
      educated.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>What are the tax implications of divorce?
    </h3>

    <p>
      After divorce each individual will file their own tax return. However,
      there are several areas where transactions between former spouses can
      result in tax consequences. The most common areas are:
    </p>

    <p><strong>Child Support </strong></p>

    <p>
      Child support is not deductible by the payer and is not taxable to the
      recipient. A payment is considered to be child support if it is
      specifically designated as such in a divorce or separation agreement or if
      it is reduced by the occurrence of a contingency related to the child
      (such as attaining a certain age).
    </p>

    <p><strong>Alimony</strong></p>

    <p>
      Alimony is a payment made pursuant to a divorce decree other than child
      support or designated as something in the instrument as other than
      alimony. Similar treatment is accorded separate maintenance payments made
      pursuant to a separation agreement. In order to qualify, payments must
      also cease upon the death of the recipient and must not be front-loaded.
    </p>

    <p>
      Starting in 2019, alimony as well as separate maintenance payments were
      repealed by the Tax Cuts and Jobs Act of 2017 and are no longer deductible
      by the payer spouse.
    </p>

    <p>
      For tax year 2018 and those years preceding it, alimony
      <em>is</em> deductible by the payer and is taxable to the recipient.
    </p>

    <p><strong>Property Settlements</strong></p>

    <p>
      Property settlements are not taxable events when pursuant to divorce or
      separation. Transfers of assets between spouses in this event do not
      result in taxable income, deductions, gains or losses. The cost basis of
      the property carries over to the recipient spouse. Be careful in a
      divorce, your spouse may give you an equal share of property based upon
      fair market value, but with the lower basis. This can result in a higher
      taxable gain upon a sale of the asset.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>What happens when retirement plans or IRAs are divided up
      in a divorce?
    </h3>

    <p>
      Generally, when these plans are split up there is no taxable event if
      pursuant to a qualified domestic relations order or other court order in
      the case of an IRA. This is true, however, only if the assets remain in a
      retirement account or IRA. Once funds are distributed they will be taxed
      to the recipient. At the time of division, the payer does not receive a
      deduction and the recipient does not have taxable income.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>Can I deduct the cost of getting a divorce?
    </h3>

    <p>
      Generally, no; however, fees paid specifically for income or estate tax
      advice pursuant to a divorce may be deductible. Also, fees made to
      determine the amount of alimony or to collect alimony can be deducted.
      These deductions would be miscellaneous itemized deductions subject to the
      two percent limitation.
    </p>

    <p></p>
    <blockquote class="caution">
      For tax years 2018 through 2025, miscellaneous itemized deductions (Form
      1040, Schedule A) have been eliminated due to tax reform (Tax Cuts and
      Jobs Act of 2017).
    </blockquote>
    <p></p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>Who is entitled to deduct the dependency exemption of a
      child after divorce?
    </h3>

    <p>
      Generally, the custodial parent is entitled to the deduction. However,
      this is often negotiated in the divorce settlement. If the parents agree
      in writing, the non-custodial parent can take the deduction.
    </p>

    <p></p>
    <blockquote class="caution">
      For tax years 2018 through 2025, the personal exemption as well as
      dependent exemptions is eliminated due to tax reform (Tax Cuts and Jobs
      Act of 2017). However, the dependent exemption deduction for noncustodial
      parents still exists for 2018-2025 (that is, it was not repealed) but is
      reduced to $0.
      <p></p>

      <!-- <p><a href="#top">Back To Top</a></p> -->
    </blockquote>
  </div>
  <!-- faq  -->
</div>
