<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services/tax-relief">Tax Relief</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/non-filed-tax-returns"
        >Non-Filed Tax Returns</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Non-Filed Tax Returns"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Failing to File Your Tax Return Is a Misdemeanor and Should Not Be
            Taken Lightly</strong
          >
        </h2>
        <p>
          Most taxpayers file their tax returns on time, but sometimes they just
          stop filing altogether. Usually, this is due to a change in
          circumstances such as financial or emotional hardship.
        </p>
        <p>
          Or, maybe they've misplaced the paperwork needed to file their return
          or were overwhelmed by the complexity of the new tax reform laws and
          just didn't get around to filing this year. Whatever the reason,
          failing to take action only makes a bad situation worse.&nbsp;
        </p>
        <h3>We Are Here to Help You Get Back on Track</h3>
        <p>
          According to IRS estimates, more than one million taxpayers fail to
          file their tax returns in any given year. Whether you file as an
          individual, head of household, are self-employed or file a business or
          corporate tax return, if you're one of them, we can help.
        </p>
        <p>
          <strong>Here's what we do for you:</strong>
        </p>
        <ul>
          <li>Reconstruct tax records if you've misplaced these documents</li>
          <li>Prepare and submit non-filed tax returns</li>
          <li>Negotiate with the IRS on your behalf</li>
          <li>Submit an offer in compromise to the IRS</li>
          <li>
            Arrange installment agreements with the IRS to pay back taxes owed
          </li>
          <li>
            Represent you throughout the tax preparation and collection process
          </li>
        </ul>
        <h3>You Could Be Losing out on a Refund You're Entitled To</h3>
        <p>
          Whether it's been one year or ten since you stopped filing your tax
          returns, it's not too late. If you don't owe any tax, you might be due
          a refund. If you do owe tax, then you might be able to minimize the
          amount you owe.
        </p>
        <h3>Help Is Just a Phone Call Away</h3>
        <p>
          Not everyone needs to file a tax return, but if you do -- and haven't
          -- you could be liable for failure to file penalties or worse, spend a
          year in jail. Why take a chance?
        </p>
        <p>
          <strong
            >If you are one of the more than one million taxpayers that havn't
            filed a tax return recently, call the office to set up an
            appointment with a tax specialist or fill out the contact form
            below.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
