<div id="fga">

  <p>If you bought your home when mortgage rates were higher than today's rates are, or have an adjustable-rate loan and would like to change it to a fixed rate, then you are probably a candidate for refinancing your mortgage. Here are some factors to consider when deciding whether to refinance and how to get the best deal.</p>

  <div id="toc">

  <h3 class="cellcolor">Table of Contents</h3>

  <ul>
   <li><a href="#1">Who Can Benefit From Refinancing?</a></li>
   <li><a href="#2">How To Go About Making The Decision</a></li>
   <li><a href="#3">How To Determine Your Refinancing Costs</a></li>
   <li><a href="#4">How Does Refinancing Affect Your Tax Situation?</a></li>
   <li><a href="#5">Tips for Getting the Best Deal</a></li>
   <li><a href="#6">Sample Refinancing Savings</a></li>

  </ul>

  </div> <!-- toc -->

  <p>If you decide to refinance your mortgage, you can expect the process to be similar to what you went through in obtaining the original mortgage because in reality, refinancing a mortgage is simply taking out a new mortgage. You will encounter many of the same procedures and the same types of costs the second time around. In this Financial Guide, we will give you some pointers on how to get the best possible deal.</p>

  <h3 class="cellcolor"><a name="1"></a>Who Can Benefit From Refinancing?</h3>

  <p>Refinancing does not make good financial sense for everyone. A general rule of thumb is that refinancing is worthwhile if the current interest rate on your mortgage is, at least, two percentage points higher than the prevailing market rate. This figure is generally accepted as the safe margin when balancing the costs of refinancing a mortgage against the savings. However, a rule of thumb is not ironclad: every individual's circumstances need to be analyzed. If your loan amount and the particular circumstances warrant it, you might choose to refinance a loan that is only 1-1/2 percentage points higher than the current rate.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> Lenders may be offering zero point loans and low-cost refinancing. Therefore, even if your rate change is less than one percentage point, you may be able to save some money by refinancing.</p></blockquote>

  <p>Most experts say that it takes at least three years to fully realize the savings from a lower interest rate, given the costs of refinancing. You may find, however, that you could recoup the refinancing costs in a shorter time than three years. Again, every homeowner's circumstances should be analyzed individually. Generally, refinancing is a good idea if you: </p>

  <ul>
   <li>Want to get out of a high-interest rate loan to take advantage of lower rates. (This is a good idea only if you intend to stay in the house long enough to make the additional fees worthwhile.) </li>
   <li>Want to convert to an ARM with a lower interest rate or more protective features (such as a better rate and payment caps) than the ARM you currently have. </li>
   <li>Want to build up equity more quickly by converting to a loan with a shorter term. </li>
   <li>Want to draw on the equity built up in your home to get cash for a major purchase or for your children's education. </li>
   <li>Have an adjustable-rate mortgage (ARM) and want a fixed-rate loan in order to know exactly what the mortgage payment will be for the life of the loan. </li>
  </ul>

  <blockquote class="aid"><p><strong>Planning Aid:</strong> For information on fixed rates, see the Financial Calculator: <a href="http://www.cpasitesolutions.com/content/calcs/index.php?calc=hom10">Which Is Better: Fixed or Adjustable-Rate Mortgage?</a></p></blockquote>

  <blockquote class="tip"><p><strong>Tip:</strong> If you decide that refinancing is not worth the costs, ask your lender whether you may be able to obtain all or some of the new terms you want by agreeing to a modification of your existing loan instead of a refinancing.</p></blockquote>

   <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>How to Go About Making the Decision</h3>

  <p>Talk to several lenders to find out what the current rates are and what costs are associated with refinancing. These costs (explained in more detail below) include appraisals, attorney's fees, and points. Once you know what the costs will be, determine what your new payment would be if you refinanced. You can then estimate how long it will take to recover the costs of refinancing by dividing your closing costs by the difference between your new and old payments.</p>

  <p>Be aware that the amount of money that you ultimately save depends on many factors, including your total refinancing costs, whether you sell your home in the near future, and the effects of refinancing on your taxes.</p>

  <p>If you are thinking of refinancing an adjustable rate mortgage (ARM), you should also consider these questions: </p>

  <ul>
   <li><p>Is the next interest rate adjustment on your existing loan likely to increase your monthly payments substantially? Will the new interest rate be two or three percentage points higher than the prevailing rates being offered for either fixed-rate loans or other ARMs? </p></li>
   <li><p>If the current mortgage sets a cap on your monthly payments, are those payments large enough to pay off your loan by the end of the original term? Will refinancing to a new ARM or a fixed-rate loan enable you to pay your loan in full by the end of the term? </p></li>
  </ul>

  <p>You also might want to consider refinancing if you have an adjustable rate mortgage with high or no limits on interest rate increases. You might want to switch to a fixed-rate mortgage or to an adjustable-rate mortgage that limits changes in the rate at each adjustment date as well as over the life of the loan.</p>

   <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>How to Determine Your Refinancing Costs</h3>

  <p>When you refinance your mortgage, you usually pay off your original mortgage and sign a new loan. With the new loan, you again pay most of the same costs you paid to get your original mortgage, including settlement costs, discount points, and other fees. You may also be charged a penalty for paying off your original loan early, called a prepayment penalty if such a practice is not prohibited by your state.</p>

  <p>The total expense for refinancing a mortgage depends on the interest rate, number of points, and other costs required to obtain a loan. You should plan on paying an average of 3 to 6 percent of the outstanding principal in refinancing costs, plus any prepayment penalties and the costs of paying off any second mortgages that may exist.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> When shopping for a lender, ask each one for a list of charges and costs you must pay at closing. Some lenders may require that some of these costs be paid at the time of application.</p></blockquote>

  <p>The fees described below are the ones that you are most likely to encounter in a refinancing. (Some of the costs are expanded on in the paragraphs that follow.) Because costs may vary significantly from area to area and from lender to lender, the following chart should be regarded only as an estimate. Your actual closing costs may be higher or lower than the ranges indicated below.</p>

  <ul>
   <li>Application Fee $ 75 to $300</li>
   <li>Appraisal Fee $300 to $700 </li>
   <li>Survey Costs $150 to $400 </li>
   <li>Homeowners Hazard Insurance $300 to $1,000 </li>
   <li>Lenders Attorney's Review Fees $500 to $1,000 </li>
   <li>Title Search &amp; Title Insurance $700 to $900 </li>
   <li>Home Inspection Fees $175 to $350 </li>
   <li>Loan Origination Fees 1% - 2% of loan </li>
   <li>Mortgage Insurance 0.5% to 1.0% </li>
   <li>Points 1% to 3% </li>
  </ul>

  <blockquote class="tip"><p><strong>Tip:</strong> To save on some of these costs, check with the lender who holds your current mortgage. The lender may be willing to waive some of them, especially if the work relating to the mortgage closing is still current (such as the fees for the title search, surveys, inspections, and so on).</p></blockquote>

  <p>Let's look at some of these costs in greater detail:</p>

  <p><em>Application Fee.</em> This charge imposed by your lender covers the initial costs of processing your loan request and checking your credit report.</p>

  <p><em>Title Search and Title Insurance.</em> This charge will cover the cost of examining the public record to confirm ownership of the real estate. It also covers the cost of a policy, usually issued by a title insurance company that insures the policyholder in a specific amount for any loss caused by discrepancies in the title to the property.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> Be sure to ask the title insurance company carrying the present policy if it can re-issue your policy at a re-issue rate. You could save up to 70 percent of what it would cost you for a new policy.</p></blockquote>

  <p><em>Lender's Attorney's Review Fees.</em> The lender will usually charge you for fees paid to the lawyer or company that conducts the closing for the lender. Settlements are conducted by lending institutions, title insurance companies, escrow companies, real estate brokers, and attorneys for the buyer and seller. In most situations, the person conducting the settlement is providing a service to the lender. You may also be required to pay for other legal services relating to your loan which are provided to the lender.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> You may want to retain your own attorney to represent you at all stages of the transaction, including settlement.</p></blockquote>

  <p><em>Loan Origination Fees.</em> The origination fee is charged for the lender's work in evaluating and preparing your mortgage loan.</p>

  <p><em>Points.</em> Points are prepaid finance charges imposed by the lender at closing to increase the lender's yield beyond the stated interest rate on the mortgage note. One point equals one percent of the loan amount. For example, one point on a $75,000 loan would be $750. The total number of points a lender charges will depend on market conditions and the interest rate to be charged. To give you the lowest rate offered, most lenders will charge several points, and the total cost can run between three and six percent of the total amount you borrow. For example, on a $100,000 mortgage, the lender might charge you between $3,000 and $6,000. However, some lenders may offer zero points at a higher interest rate, which may significantly reduce your initial costs although your payments may be somewhat higher.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> In some cases, the points you pay can be financed by adding them to the loan amount. This means that the points will be added to your loan balance, and you will pay a finance charge on them. Although this may enable you to get the financing, it also will increase the amount of your monthly payments.</p></blockquote>

  <blockquote class="tip"><p><strong>Tip:</strong> To decide what combination of rate and points is best for you, balance the amount you can pay up front with the amount you can pay monthly. The less time you keep the loan, the more expensive points become. If you plan to stay in your house for a long time, then it may be worthwhile to pay additional points to obtain a lower interest rate.</p></blockquote>

  <p><em>Appraisal Fee.</em> This fee pays for an appraisal which is a supportable and defensible estimate or opinion of the value of the property.</p>

  <p><em>Prepayment Penalty.</em> A prepayment penalty on your present mortgage could be the greatest deterrent to refinancing. The practice of charging money for an early payoff of the existing mortgage loan varies by state, type of lender, and type of loan. Prepayment penalties are forbidden on various loans including loans from federally chartered credit unions, FHA and VA loans, and some other home-purchase loans. The mortgage documents for your existing loan will state if there is a penalty for prepayment. In some loans, you may be charged interest for the full month in which you prepay your loan.</p>

  <p><em>Miscellaneous.</em> Depending on the type of loan you have and other factors, another major expense you might face is the fee for a VA loan guarantee, FHA mortgage insurance, or private mortgage insurance. There are a few other closing costs in addition to these.</p>

   <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>How Does Refinancing Affect Your Tax Situation?</h3>

  <p>With a lower interest rate on your home loan, you will have less interest to deduct on your income tax return. That, of course, may increase your tax payments and decrease the total savings you might obtain from a new, lower-interest mortgage.</p>

  <p>Interest (points) paid up front for refinancing must be deducted over the life of the loan, not in the year you refinance unless the loan is for home improvements. This means that if you paid a certain number of points, you would have to spread the tax deduction for those points over the life of the loan. If, however, the refinancing is for home improvements (or a portion of the loan is for this purpose) you may be able to deduct the points (or a portion of the points) under certain circumstances.</p>

  <p>If you are thinking about refinancing your mortgage, you might want to consider other types of mortgages. For example, you might want to look into a 15-year, fixed-rate mortgage. In this plan, your mortgage payments are somewhat higher than a longer-term loan, but you pay substantially less interest over the life of the loan and build equity more quickly. Of course, this also means you have less interest to deduct on your income tax return.</p>

   <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Tips for Getting the Best Deal</h3>

  <p>Here are some tips for getting the best deal when refinancing of your mortgage:</p>

  <p></p><h2>1. Shop Around</h2><p></p>

  <p>If you decide to refinance your mortgage, it pays to shop around by calling several lending institutions to find out what interest and fees they charge. This helps you get the best deal available. Also, ask each about their "annual percentage rate" (APR) and compare them. The APR will tell you the total credit costs of the refinancing, including interest, points, and other charges.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> You do not have to refinance your mortgage with the same lender that provided your original mortgage. However, to keep your business, some lenders will offer their original mortgage customers the incentive of lower mortgage interest rates, sometimes with reduced closing costs.</p></blockquote>

  <p></p><h2>2. Obtain a "Lock-In" or Guarantee</h2><p></p>

  <p>If you decide to apply for refinancing with a particular lender, and if you do not want to let the interest rate float until closing, then get a written statement guaranteeing the interest rate and the number of discount points that you will pay at closing. This binding commitment, or lock-in, ensures that the lender will not raise these costs even if rates increase before you settle on the new loan. You might also consider requesting an agreement where the interest rate can decrease but not increase before closing. If you cannot get the lender to put this information in writing, you may want to choose one that will.</p>

  <p>Most lenders place a limit on the length of time (60 days for example) that they will guarantee the interest rate. You must sign the loan during that time or lose the benefit of that particular rate. Because many people are refinancing their mortgages, there may be a delay in processing the papers. Therefore, contact your loan officer periodically to check on the progress of your loan approval and to see if additional information is needed</p>

  <p></p><h2>3. Review the Disclosure Form</h2><p></p>

  <p>When refinancing, the lender must give you a written statement of the costs and terms of the financing before you become legally obligated for the loan. This is required under the Truth in Lending Act. Typically, you receive this information around the time of settlement, although some lenders provide it earlier. Review this statement carefully before you sign the loan. The disclosure tells you the APR, finance charge, amount financed, payment schedule, and other important credit terms.</p>

  <blockquote class="rfg"><p><strong>Related Guide:</strong> Please see the Financial Guide: <a href="?item=53&amp;cat=Mortgage Lock-Ins: Questions To Ask">MORTGAGE LOCK-INS: Questions To Ask.</a></p></blockquote>

  <p></p><h2>4. Be Aware Of Your Right to Rescind</h2><p></p>

  <p>If you refinance with a different lender, or if you borrow beyond your unpaid balance with your current lender, you also must be given the right to rescind the loan. In these loans, you have the right to rescind or cancel the transaction within three business days following settlement, receipt of your Truth in Lending disclosures, or receipt of your cancelation notice, whichever occurs last.</p>

  <p></p><h2>5. Find Out If the Application Fee Is Refundable</h2><p></p>

  <p>When you apply for a mortgage, some lenders require you to pay a special charge to cover the costs of processing your application. The amount of this fee varies but generally is in the range of $75 to $300. Usually, you must pay this charge at the time you file the application. Some lenders do not refund this application fee if you are not approved for the loan or if you decide not to take it.</p>

  <p>If you elect to cancel the transaction within three business days after you close the loan, as discussed above, you are entitled to a refund of all costs and charges imposed for the credit transaction.</p>

  <blockquote class="tip"><p><strong>Tip:</strong> Before you apply for a mortgage, ask lenders whether they charge an application fee. If they do, find out how much it is and under what circumstances and to what extent it is refundable.</p></blockquote>

  <p>*&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*</p>

  <p>As you can see, there are many financial factors to consider when refinancing a mortgage, so you may want to think about getting professional guidance if you're considering your refinancing options. </p>

   <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Sample Refinancing Savings</h3>

  <p>The charts below illustrate the monthly and yearly differences in your mortgage payments if you refinanced to a 6 or an 8 percent, 30-year fixed-rate mortgage for $75,000. Remember, however, that the actual amount you may save by refinancing depends on many factors, such as your tax bracket and how long you plan to remain in your home.</p>

  <table border="1">
   <tbody><tr>
   <td><strong>Your Present Mortgage Rate</strong></td>
   <td><strong>Current Monthly Payment</strong></td>
   <td><strong>Monthly Payment at 8%</strong></td>
   <td><strong>Monthly Difference in Payment at 8%</strong></td>
   <td><strong>Annual Difference in Payment at 8%</strong></td>
   </tr>
   <tr>
   <td>9%</td>
   <td>603</td>
   <td>550</td>
   <td>53</td>
   <td>636</td>
   </tr>
   <tr>
   <td>9.5%</td>
   <td>631</td>
   <td>550</td>
   <td>81</td>
   <td>972</td>
   </tr>
   <tr>
   <td>10%</td>
   <td>658</td>
   <td>550</td>
   <td>108</td>
   <td>1296</td>
   </tr>
   <tr>
   <td>10.5%</td>
   <td>686</td>
   <td>550</td>
   <td>136</td>
   <td>1632</td>
   </tr>
   <tr>
   <td>11%</td>
   <td>714</td>
   <td>550</td>
   <td>16</td>
   <td>1968</td>
   </tr>
   <tr>
   <td>11.5%</td>
   <td>743</td>
   <td>550</td>
   <td>193</td>
   <td>2316</td>
   </tr>
   <tr>
   <td>12%</td>
   <td>771</td>
   <td>550</td>
   <td>221</td>
   <td>2652</td>
   </tr>
   <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
   </tr>
   <tr>
   <td><strong>Your Present Mortgage Rate</strong></td>
   <td><strong>Current Monthly Payment</strong></td>
   <td><strong>Monthly Payment at 6%</strong></td>
   <td><strong>Monthly Difference in Payment at 6%</strong></td>
   <td><strong>Annual Difference in Payment at 6%</strong></td>
   </tr>
   <tr>
   <td>9%</td>
   <td>603</td>
   <td>450</td>
   <td>153</td>
   <td>1836</td>
   </tr>
   <tr>
   <td>9.5%</td>
   <td>631</td>
   <td>450</td>
   <td>181</td>
   <td>2172</td>
   </tr>
   <tr>
   <td>10%</td>
   <td>658</td>
   <td>450</td>
   <td>208</td>
   <td>2496</td>
   </tr>
   <tr>
   <td>10.5%</td>
   <td>686</td>
   <td>450</td>
   <td>236</td>
   <td>2832</td>
   </tr>
   <tr>
   <td>11%</td>
   <td>714</td>
   <td>450</td>
   <td>264</td>
   <td>3168</td>
   </tr>
   <tr>
   <td>11.5%</td>
   <td>743</td>
   <td>450</td>
   <td>293</td>
   <td>3516</td>
   </tr>
   <tr>
   <td>12%</td>
   <td>771</td>
   <td>450</td>
   <td>321</td>
   <td>3852</td>
   </tr>

  </tbody></table>

   <!-- <p><a href="#top">Back To Top</a></p> -->


  </div>
