<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/internal-controls">Internal Controls</span>
    </li>
  </ol>
</nav>
<app-heading heading="Internal Controls"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Mitigating Risk and Protecting Your Business From Fraud</strong
          >
        </h2>
        <p>
          Every business faces risk, but with an effective system of internal
          control measures in place, that risk is mitigated. This is not a task
          that is easily accomplished in-house, however, because as a business
          owner, your focus is running your business, managing employees, and
          turning a profit.&nbsp;
        </p>
        <h3>
          Effective Internal Control Systems That Meet Your Business Needs.
        </h3>
        <p>
          As trained professionals, we have assisted many business owners in
          creating effective internal control systems to prevent employee fraud,
          ensure compliance with regulations, and make sure company policies and
          procedures are in place so that your business operations are effective
          and efficient. We work with your business to identify and document
          weaknesses with existing internal controls, then perform procedures to
          test whether the current internal controls you have in place are
          effective. Finally, we offer recommendations in a report of findings
          that can be used to strengthen your internal control systems, and that
          reflect the needs of a particular business.&nbsp;&nbsp;
        </p>
        <p>
          <strong>What we do for you:</strong>
        </p>
        <ul>
          <li>
            Recommend segregation of duties for implementation by dividing
            responsibilities so that no single person has control over all
            aspects of financial transactions.
          </li>
          <li>
            Make sure transactions are authorized through delegating approval
            authority to an individual only when the transactions are consistent
            with policy and funds are available.
          </li>
          <li>
            Ensure records are routinely reviewed and reconciled by someone
            other than the preparer or transactor.
          </li>
          <li>
            Ensure that equipment, inventories, cash, and other property are
            accounted for.&nbsp;
          </li>
          <li>
            Physically secure, periodically count, and compared with item
            descriptions shown on control records.
          </li>
          <li>
            Provide employees with appropriate training and guidance to carry
            out their job duties.
          </li>
          <li>Set up proper channels for reporting suspected improprieties.</li>
          <li>
            Document policies and procedures and make them accessible to
            employees.
          </li>
          <li>
            Review operations to determine whether the results are consistent
            with established objectives and goals and carried out as planned.
          </li>
        </ul>
        <h3>Don't Let Employee Fraud Be the Downfall of Your Business.</h3>
        <p>
          If you suspect employee fraud or are concerned about your business
          risk, then maybe it's time to review and update your internal control
          systems.
        </p>
        <p>
          <strong
            >Contact us today using the form below and find out how we can help
            your business mitigate risk.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
