<br />Life is full of changes, and surprises. Use these guides to help you make
sound financial decisions.<br /><br />
<table width="100%">
  <tbody>
    <tr>
      <td>
        <a [routerLink]="['getting-married']" routerLinkActive="router-link-active" ><b>Getting Married</b></a
        ><br />
        <a [routerLink]="['becoming-parent']" routerLinkActive="router-link-active" ><b>Becoming a Parent</b></a
        ><br />
        <a [routerLink]="['preparing-for-college']" routerLinkActive="router-link-active" ><b>Preparing for College</b></a
        ><br />
        <a [routerLink]="['devloping-financial-plan']" routerLinkActive="router-link-active" ><b>Developing a Financial Plan</b> </a
          ><br />
        <a [routerLink]="['dealing-with-bank']" routerLinkActive="router-link-active" ><b>Dealing with Your Bank</b></a
        ><br />
        <a [routerLink]="['improving-credit']" routerLinkActive="router-link-active" ><b>Improving Your Credit</b> </a>
        <br />
        <a [routerLink]="['choosing-professional']" routerLinkActive="router-link-active" ><b>Choosing A Professional</b> </a>
        <br />
        <a [routerLink]="['buying-insurance']" routerLinkActive="router-link-active" ><b>Buying Insurance</b></a>
        <br />
        <a [routerLink]="['getting-loan']" routerLinkActive="router-link-active" ><b>Getting a Loan</b></a
        ><br />
        <a [routerLink]="['planning-for-retirement']" routerLinkActive="router-link-active" ><b>Planning For Retirement</b> </a><br />
      </td>
      <td>
        <a><b>Buying &amp; Maintaining A Car</b> </a><br /><a
          ><b>Buying &amp; Selling A Home</b> </a
        ><br /><a><b>Planning Your Estate</b> </a><br /><a
          ><b>Making Charitable Contributions</b> </a
        ><br /><a><b>Avoiding Scams</b></a
        ><br /><a><b>Getting Divorced or Becoming Widowed</b> </a><br /><a
          ><b>Coping with Major Illness</b> </a
        ><br /><a><b>Coping with Death of a Loved One</b> </a><br /><a
          ><b>Improving Your Retirement</b> </a
        ><br /><a><b>Handling Other Situations</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
