<div id="fga">
  <p>
    There are a number of tax vehicles for turning charitable desires into tax
    deductions. While these techniques are quite complex, they can with the
    proper guidance provide substantial tax deductions. This Financial Guide
    provides an introductory view of the ways to maximize your tax deduction
    while satisfying your charitable goals.
  </p>
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">Planned or Deferred Giving</a></li>
      <li><a href="#2">Types of Planned and Deferred Gifts</a></li>
      <li><a href="#3">Should You Make a Planned or Deferred Gift?</a></li>
      <li><a href="#4">Government and Non-Profit Agencies</a></li>
    </ul>
  </div>
  <!-- 11.02.2018.Erik.Fix -->
  <p>
    When an organization claims to be tax-exempt, it does not necessarily mean
    that contributions are deductible. Tax-exempt means that the organization
    does not have to pay federal income taxes while tax-deductible means the
    donor can deduct contributions to the organization. The Internal Revenue
    Code defines more than 20 different categories of tax-exempt organizations,
    but only a few of these offer tax-deductibility for donations.
  </p>

  <p>
    The well-known mainstream charities generally provide deductibility for
    donations. But, surprisingly, some well-known organizations do not. If
    deductibility is a factor in your decision to make a contribution to a
    tax-exempt organization, especially if the amount is substantial, you might
    want to determine whether the organization qualifies for deductibility. IRS
    Publication 78, the <em>Cumulative List of Organizations</em>, is an annual
    list of those charities eligible for deductibility. You can also call the
    IRS (800-829-1040) about the deductibility of a contribution if you're in
    doubt.
  </p>

  <p>
    You can obtain three documents on a specific charity by sending a written
    request to the attention of the Disclosure Officer at your nearest IRS
    District Office. The IRS will charge a per-page copying fee for these items.
    To speed your request, have the full, official name of the charity, as well
    as the city and state location. These three publicly available documents
    are:
  </p>

  <ul>
    <li>
      <em>Form 1023</em>: the application filed by the charity to obtain
      tax-exempt status.
    </li>
    <li>
      <em>IRS Letter of Determination</em>: the two-page IRS letter that
      notifies the organization of its tax-exempt status.
    </li>
    <li>
      <em>Form 990</em>: the financial/income tax form filed with the IRS
      annually by the charity. (Charities with a gross income of less than
      $25,000 and churches are not required to file this form). Among other
      things, Form 990 includes information on the charity's income, expenses,
      assets, liabilities and net assets in the past fiscal year. Form 990 also
      identifies the salaries of the charity's five highest-paid employees. When
      contacting the IRS for copies, specify the fiscal year.
    </li>
  </ul>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If your request for information involves only Forms
      990, you can get a faster response by writing directly to the IRS Service
      Center where the charity files its return. Contact your nearest IRS office
      for the address of the appropriate Service Center.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> The charity registration office in your state
      (usually a division of the state attorney general's office) may also have
      a copy of the charity's latest Form 990, along with other publicly
      available information on charities soliciting in your state.
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a discussion of how to make charitable
      donations, please see the Financial Guide:
      <a href="?item=75&amp;cat=Charitable Contributions: How To Give Wisely"
        >CHARITABLE CONTRIBUTIONS: How To Give Wisely.</a
      >
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a discussion of how to make charitable
      donations, please see the
      <a href="?item=79&amp;cat=Fraudulent Charities: How To Protect Yourself"
        >Financial Guide: FRAUDULENT CHARITIES: How To Protect Yourself.</a
      >
    </p>
  </blockquote>

  <p>
    Even though the charity qualifies for deductibility, taxpayers are often
    disappointed to learn that their expected deductions are not allowed. Here
    are some of the common misconceptions about the deductibility of charitable
    contributions:
  </p>

  <ul>
    <li>
      If you go to a charity affair or buy something to benefit a charity (e.g.,
      a magazine subscription or show tickets), you cannot deduct the full
      amount you pay. Only the part above the fair market value of the item you
      purchase is fully deductible. For example, if you pay $500 for a charity
      luncheon worth $200, only $300 can be deducted. An exception allows you to
      deduct the full amount if what you get in return is insubstantial in value
      (e.g., 2 percent of the value of your contribution) and the charity tells
      you the deductible amount.
    </li>
    <li>
      Since contributions are deductible only for the year in which they are
      actually paid or delivered, pledges are not deductible until they are
      paid.
    </li>
    <li>
      It's a mistake to believe you can deduct <em>estimated</em> cash
      contributions. This was widely done though IRS required you to make a
      record of some kind at or around the time of the gift. But cash
      contributions in 2007 and after aren't deductible at all unless
      substantiated by a receipt from the charity, a canceled check, a credit
      card statement or other supporting documentation from the charity.
    </li>
    <li>
      No donation of $250 or more is deductible unless the taxpayer has a
      receipt from the charity substantiating the donation.
    </li>
    <li>
      Since contributions must be made to qualified organizations to be
      tax-deductible, donations made directly to needy individuals are not
      deductible.
    </li>
  </ul>

  <blockquote class="note">
    <p>
      <strong>Note:</strong> The amount of the deduction you can get for the
      garden-variety charitable contribution (we'll talk about more
      sophisticated techniques in a moment) depends on the type of charity and
      the type of contribution, as well as on the specific tax situation of the
      donor (since there are percentage-of-income limitations). For these
      reasons, tax planning for charitable contributions requires the assistance
      of your tax advisor.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Planned or Deferred Giving</h3>

  <p>
    There are a number of sophisticated techniques for giving money to a charity
    that differ substantially from the usual method of just writing a check.
    You've probably been approached by a number of charitable organizations
    suggesting ways you can save tax dollars through the use of planned or
    deferred giving techniques. Indeed, much of the revenue of many charities
    comes from the use of such techniques. However, not all charities have the
    resources to be able to offer sophisticated arrangements. Briefly stated,
    these various techniques, discussed below, work as follows:
  </p>

  <p>
    A planned or deferred gift is a present commitment to make a gift in the
    future, either during your lifetime or pursuant to your will. Aside from
    assuring your favorite charities of a contribution, planned or deferred
    giving brings with it certain tax benefits. Charitable gifts made pursuant
    to your will reduce the amount of your estate that is subject to estate tax.
    Lifetime gifts have the same estate tax effect (by removing the assets from
    your estate), but also might offer a current income tax deduction. If you
    have property that has significantly appreciated in value but does not bring
    in current income, you may be able to use one of these techniques to convert
    it into an income-producing asset. Further, you will be able to avoid or
    defer the capital gains tax that would be due on its sale - all the while
    helping a charity.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Many variables affect the type of planned or
      deferred giving arrangement you choose, such as the amount of your income,
      the size of your estate and the type of asset transferred (e.g., cash,
      investments, business interests, real estate, retirement plan) and its
      appreciated value. Professional guidance is even more important here than
      in the garden-variety type of contribution program because these of the
      complexity of these gifts.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Types of Planned and Deferred Gifts</h3>

  <p>
    There are several types of planned and deferred gifts: (1) life insurance,
    (2) charitable remainder annuity trust, (3) charitable remainder unitrust,
    (4) charitable lead annuity trust, (5) charitable lead unitrust, (6)
    charitable gift annuity, (7) pooled income fund. These are discussed briefly
    below:
  </p>

  <h2>Life Insurance</h2>

  <p>
    You name a charity as a beneficiary of a life insurance policy. With some
    limitations, both the contribution of the policy itself and the continued
    payment of premiums may be income-tax deductible.
  </p>

  <h2>Charitable Remainder Annuity Trust</h2>

  <p>
    You transfer assets to a trust that pays a set amount each year to
    non-charitable beneficiaries (for example, to yourself or your children) for
    a fixed term or for the life or lives of the beneficiaries, after which time
    the remaining assets are distributed to one or more charitable
    organizations. You get an immediate income tax deduction for the value of
    the remainder interest that goes to the charity on the trust's termination,
    even though you keep a life-income interest. In effect, you or your
    beneficiaries get current income for a specified period and the remainder
    goes to the charity.
  </p>

  <h2>Charitable Remainder Unitrust</h2>

  <p>
    This is the same as the charitable remainder annuity trust, except the trust
    pays the actual income or a set percentage of the current value (rather than
    a set amount) of the trust's assets each year to the non-charitable
    beneficiaries. Here, too, you or your beneficiaries get current income for a
    specified period and the remainder goes to the charity.
  </p>

  <h2>Charitable Lead Annuity Trust</h2>

  <p>
    You transfer assets to a trust that pays a set amount each year to
    charitable organizations for a fixed term or for the life of a named
    individual. At the termination of the trust, the remaining assets will be
    distributed to one or more non-charitable beneficiaries (for example, you or
    your children).
  </p>

  <p>
    You get a deduction for the value of the annual payments to the charity. You
    may still be liable for tax on the income earned by the trust. You keep the
    ability to pass on most of your assets to your heirs. Unlike the two trusts
    above, the charity gets the current income for a specified period and your
    heirs get the remainder.
  </p>

  <h2>Charitable Lead Unitrust</h2>

  <p>
    This is the same as the lead annuity trust, except the trust pays the actual
    income or a set percentage of the current value (rather than a set amount)
    of the trust's assets each year to the charities.
  </p>

  <p>
    Here, too, the charity gets the current income for a specified period and
    your heirs get the remainder.
  </p>

  <h2>Charitable Gift Annuity</h2>

  <p>
    You and a charity have a contract in which you make a present gift to the
    charity and the charity pays a fixed amount each year for life to you or any
    other specified person. Your charitable deduction is the value of your gift
    minus the present value of your annuity.
  </p>

  <h2>Pooled Income Fund</h2>

  <p>
    You put funds into a pool that operates like a mutual fund but is controlled
    by a charity. You, or a designated beneficiary, get a share of the actual
    net income generated by the entire fund for life, after which your share of
    the assets is removed from the pooled fund and distributed to the charity.
    You get an immediate income tax deduction when you contribute the funds to
    the pool. The deduction is based on the value of the remainder interest.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Should You Make a Planned or Deferred Gift?
  </h3>

  <p>
    When determining whether to make a planned or deferred gift to a charity,
    ask whether you are ready to make a commitment to invest in a charitable
    organization. Keep in mind that despite the tax benefits, you will still be
    out-of-pocket after the deduction.
  </p>

  <p>Some questions you should consider are:</p>

  <ul>
    <li>Does the gift fit into your estate and family plan?</li>
    <li>Is the charity viable, reputable, creditable, and reliable?</li>
    <li>Do you wish to support its programs?</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Government and Non-Profit Agencies</h3>

  <ul>
    <li>
      Most state governments regulate charitable organizations. To obtain
      information on these regulations, which vary from state to state, contact
      the appropriate government agency (usually a division of the Attorney
      General or the Secretary of State).
    </li>
    <li>
      Contact the appropriate state government agency to verify a charity's
      registration and to obtain financial information on a soliciting charity.
    </li>
    <li>
      Contact your local Better Business Bureau to find out whether a complaint
      has been lodged against a charity.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
