<div id="fga">
  <p>
    What are the financial implications of marriage (and of divorce and
    remarriage)? Those who have recently changed their marital status or who are
    planning such a change may have important financial and legal decisions to
    make. These decisions might deal with property ownership, providing for
    children's welfare, postmortem planning, and day-to-day finances.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a>How To Prepare Financially For A First Marriage</a></li>
      <li><a>How To Prepare Financially For A Divorce</a></li>
      <li><a>How To Prepare Financially For Remarriage</a></li>
      <li><a>Government and Non-Profit Agencies</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    This Financial Guide discusses financial considerations related to a change
    in marital status. And, because divorce is sometimes the flip side of a
    marriage--and often the bridge between marriage and remarriage--it is
    covered here as well.
  </p>

  <blockquote class="note">
    <p>
      Under a joint IRS and U.S. Department of the Treasury ruling issued in
      2013, same-sex couples, legally married in jurisdictions that recognize
      their marriages, are treated as married for federal tax purposes,
      including income and gift and estate taxes. The ruling applies regardless
      of whether the couple lives in a jurisdiction that recognizes same-sex
      marriage or a jurisdiction that does not recognize same-sex marriage.
    </p>

    <p>
      In addition, the ruling applies to all federal tax provisions where
      marriage is a factor, including filing status, claiming personal and0
      dependency exemptions, taking the standard deduction, employee benefits,
      contributing to an IRA and claiming the earned income tax credit or child
      tax credit.
    </p>

    <p>
      Any same-sex marriage legally entered into in one of the 50 states, the
      District of Columbia, a U.S. territory or a foreign country is covered by
      the ruling. However, the ruling does not apply to registered domestic
      partnerships, civil unions or similar formal relationships recognized
      under state law.
    </p>
  </blockquote>

  <p>
    This guide will also briefly touch on legal issues involved; however,
    variations in state law make it nearly impossible to discuss in any detail
    the legal ramifications that a change in marital status presents.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a discussion of the impact of the
      death of a spouse, please see the Financial Guide:
      <a
        >DEATH OF A SPOUSE: Financial Steps You Should Take</a
      >
    </p>
  </blockquote>

  <h3 class="cellcolor">
    <a id="1"></a>How To Prepare Financially For A First Marriage
  </h3>

  <p>
    For the young, newly married couple, areas of financial concern primarily
    include: (1) life insurance, (2) form of property ownership, and (3) money
    management.
  </p>

  <h2>Life Insurance</h2>

  <p>
    When it comes to insurance needs, the basic rule is that you need enough
    coverage to sustain your family's present income level should you die. If
    you are the only breadwinner, or if you plan on starting a family soon, then
    you should purchase life insurance.
  </p>

  <p class="rfg">
    <strong>Related Guide:</strong> Please see the Financial Guide:
    <a
      >LIFE INSURANCE: How Much And What Kind To Buy</a
    >
  </p>
  <h2>Property Ownership</h2>

  <p>
    If you intend to buy a home or other property or if you and your spouse
    already own property together, then you need to consider the best way for
    you to hold that property. Will the property be held solely by one spouse?
    By both spouses jointly? Because of the complex legal implications of the
    various forms of property ownership, you should seek legal advice about this
    issue.
  </p>

  <h2>Money Management</h2>

  <p>
    It is important to carefully consider how the two of you will handle your
    day-to-day finances. New couples should be prepared to discuss financial
    goals, resolve differences (or at least agree to disagree) in spending
    habits, and establish a budget and/or saving and investment plan.
  </p>

  <p>
    You'll also need to think about whether you want a joint bank account,
    separate accounts, or both. How much do you want to spend on vacations? On
    monthly food bills? Entertainment? Gifts? Personal items? What are your
    long-term financial goals?
  </p>

  <p>
    Do you have a financial plan? If you don't, then now is the time to prepare
    one. Even if you do have a financial plan in place, since your marital
    status has changed it might be time to review and update it.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        >YOUR FINANCIAL PLAN: Getting Started on A Secure Future</a
      >
    </p>
  </blockquote>

  <!-- <a href="#top">Back To Top</a> -->

  <h3 class="cellcolor">
    <a name="2"></a>How To Prepare Financially For A Divorce
  </h3>

  <p>
    If you are considering divorce, it is vital to plan for the dissolution of
    the financial partnership in your marriage. Such dissolution involves
    dividing financial assets accumulated during the marriage. Further, if
    children are involved, future financial support for the custodial parent
    must be planned for. While it may not be at the top of your to-do list,
    taking time to prepare financially during divorce pays off in the long run.
  </p>

  <h2>Take Stock Of Your Situation</h2>

  <p>Assessing your financial situation helps you in two ways:</p>

  <ul>
    <li>
      It will provide you with preliminary information for an eventual division
      of the property.
    </li>
    <li>
      It will help you to plan how debts incurred during the marriage are to be
      paid off. Although the best way to deal with joint debt (such as credit
      card debt) is to pay it off before the divorce, this strategy is often
      impossible so compiling a list of your debts will help you to come to some
      agreement as to how they will be paid off.
    </li>
  </ul>

  <p>
    To take stock of your situation start by preparing an inventory of your
    financial assets:
  </p>

  <ol>
    <li>
      <ul>
        <li>The current balance in all bank accounts;</li>
        <li>The value of any brokerage accounts;</li>
        <li>The value of investments, including any IRAs;</li>
        <li>Your residence(s);</li>
        <li>Your autos; and</li>
        <li>
          Your valuable antiques, jewelry, luxury items, collections, and
          furnishings.
        </li>
      </ul>
    </li>
    <li>
      Make sure you have copies of the past two or three years' tax returns.
      These will come in handy later.
    </li>
    <li>
      Make sure you know the exact amounts of salary and other income earned by
      both yourself and your spouse.
    </li>
    <li>
      Find the papers relating to insurance-life, health, auto, and
      homeowner's-and pension or other retirement benefits.
    </li>
    <li>
      List all debts you both owe, separately or jointly. Include auto loans,
      mortgage, credit card debt, and any other liabilities.
    </li>
  </ol>

  <blockquote class="tip">
    <p>
      If you are a spouse who has not worked outside the home lately, be sure to
      open a separate bank account in your own name and apply for a credit card
      in your own name. These measures will help you to establish credit after
      the divorce.
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a system that makes it easy to
      organize and locate your records, please see the Financial Guide:
      <a

        >DOCUMENT LOCATOR SYSTEM: A Handy Aid For Keeping Track Of Your
        Records</a
      >
    </p>
  </blockquote>

  <h2>Estimate Your Post-Divorce Living Expenses</h2>

  <p>
    Figure out how much it will cost you to live after the divorce. This is
    especially important for the spouse who is planning to remain in the family
    home with the children; it may be determined that the estimated living
    expenses are not manageable.
  </p>

  <p>
    To estimate these expenses, add up all of your monthly debts and living
    expenses, including rent or mortgage. Then total your after-tax monthly
    income from all sources. The amount left over is your disposable income.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        >BUDGETING: How To Prepare A Workable Plan</a
      >
    </p>
  </blockquote>

  <h2>Cancel All Joint Accounts</h2>

  <p>
    It is important to cancel all joint accounts immediately once you know you
    are going to obtain a divorce because creditors have the right to seek
    payment from either party on a joint credit card or another credit account,
    no matter which party actually incurred the bill. If you allow your name to
    remain on joint accounts with your ex-spouse, you are also responsible for
    the bills.
  </p>

  <p>
    Your divorce agreement may specify which one of you pays the bills. However,
    as far as the creditor is concerned both you and your spouse remain
    responsible if joint accounts remain open. The creditor will try to collect
    the bill from whoever it thinks may be able to pay while at the same time
    reporting the late payments to credit bureaus under both names. Your credit
    history could be damaged because of the cosigner's irresponsibility.
  </p>

  <p>
    Some credit contracts require that you immediately pay the outstanding
    balance in full if you close an account. If this is the case, then try to
    get the creditor to have the balance transferred to separate accounts.
  </p>

  <h2>If Your Spouse's Poor Credit Affects You</h2>

  <p>
    If your spouse's poor credit hurts your credit record, you may be able to
    separate yourself from the spouse's information on your credit report. The
    Equal Credit Opportunity Act requires a creditor to take into account any
    information showing that the credit history being considered does not
    reflect your own. If for instance, you can show that accounts you shared
    with your spouse were opened by him or her before your marriage and that he
    or she paid the bills, you may be able to convince the creditor that the
    harmful information relates to your spouse's credit record, not yours.
  </p>

  <p>
    In practice, it is difficult to prove that the credit history under
    consideration does not reflect your own, and you may have to be persistent.
  </p>

  <h2>For Women: Maintain Your Own Credit Before You Need It</h2>

  <p>
    If a woman divorces, and changes her name on an account, lenders may review
    her application or credit file to see whether her qualifications alone meet
    their credit standards. They may ask her to reapply even though the account
    remains open.
  </p>

  <p>
    Maintaining credit in your own name is the best way to avoid this
    inconvenience. It also makes it easier to preserve your own, separate,
    credit history. Further, should you need credit in an emergency it will be
    available when you need it.
  </p>

  <p>
    Do not use only your husband's name (for example, Mrs. John Wilson) for
    credit purposes.
  </p>

  <blockquote class="tip">
    <p>
      Check your credit report if you have not done so recently. Make sure the
      accounts you share are reported in your name as well as your spouse's
      name. If not, and you want to use your spouse's credit history to build
      your own credit, write to the creditor and request that the account is
      reported in both names.
    </p>

    <p>
      Also, carefully review your credit report to determine whether there is
      any inaccurate or incomplete information. If there is, write to the credit
      bureau and ask them to correct it. The credit bureau must confirm the data
      within a reasonable time period, and let you know when they have corrected
      the mistake.
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        >CREDIT REPORTS: What You Should Know-And Do-About Yours</a
      >.
    </p>
  </blockquote>

  <p>
    If you have been sharing your husband's accounts, building a credit history
    in your name should be fairly easy. Call a major credit bureau and request a
    copy of your report. Contact the issuers of the cards you share with your
    husband and ask them to report the accounts in your name as well.
  </p>

  <p>
    If you used the accounts, but never co-signed for them, ask to be added on
    as jointly liable for some of the major credit cards. Once you have several
    accounts listed as references on your credit record, apply for a department
    store card, or even a Visa or MasterCard, in your own name.
  </p>

  <p>
    If you held accounts jointly and they were opened before 1977 (in which case
    they may have been reported only in your husband's name), point them out and
    tell the creditor to consider them as your credit history also. The creditor
    cannot require your spouse's or former spouse's signature to access his
    credit file if you are using his information to qualify for credit.
  </p>

  <blockquote class="tip">
    <p>
      If you do not have a credit history, a secured credit card is a fairly
      quick and easy way to get a major credit card. Secured credit cards look
      and are used like regular Visa or MasterCard's, but they require a savings
      or money market deposit of several hundred dollars that the lender holds
      in case you default. In most cases, the creditor will report your payment
      record on these accounts just like a regular bank card, allowing you to
      build a good credit record if you pay your bills promptly.
    </p>
  </blockquote>

  <h2>Consider the Legal Issues</h2>

  <p>
    The best way to plan for the legal issues involved in a divorce including
    child custody, division of property, and alimony or support payments is to
    come to an agreement with your spouse. If you can reach an agreement, the
    time and money you will have to expend in coming up with a legal
    solution--either one worked out between the two attorneys or one worked out
    by a court--will be drastically reduced.
  </p>

  <p>Here are some general tips for handling the legal aspects of a divorce:</p>

  <ul>
    <li>
      Get your own attorney if there are significant issues to deal with such as
      child custody, alimony, or significant assets.
    </li>
    <li>
      The best way to find a good matrimonial attorney is to ask for referrals
      or contact the American Academy of Matrimonial Lawyers (see the last
      section of this guide for contact information).
    </li>
    <li>
      Make sure the divorce decree or agreement covers all types of insurance
      coverage including life, health, and auto.
    </li>
    <li>
      Be sure to change the beneficiaries on life insurance policies, IRA
      accounts, 401(k) plans, other retirement accounts, and pension plans.
    </li>
    <li>Don't forget to update your will.</li>
  </ul>

  <blockquote class="tip">
    <p>
      Those who have trouble arriving at an equitable agreement--and who do not
      require the services of an attorney--might consider the use of a divorce
      mediator. Ask friends, relatives, and other professionals for
      recommendations or contact the Association for Conflict Resolution (see
      the last section of this guide for contact information). You can also look
      in the phone book or classifieds under "Divorce Assistance" or "Lawyer
      Alternatives."
    </p>
  </blockquote>

  <h2>Division of Property</h2>

  <p>
    The laws governing the division of property between ex-spouses vary from
    state to state. Further, matrimonial judges have a great deal of latitude in
    applying those laws.
  </p>

  <p>
    Here is a list of items you should be sure to take care of, regardless of
    whether you are represented by an attorney.
  </p>

  <ol>
    <li>Understand how your state's laws on property division work.</li>
    <li>
      If you owned property separately during the marriage, be sure you have the
      papers to prove that it has been kept separate.
    </li>
    <li>
      Be ready to document any non-financial contributions to the marriage such
      as support of a spouse while he or she attended school or non-financial
      contributions to his or her financial success.
    </li>
    <li>
      If you need alimony or child support, be ready to document your need for
      it.
    </li>
    <li>
      If you have not worked outside the home during the marriage, consider
      having the divorce decree provide for money for you to be trained or
      educated.
    </li>
  </ol>

  <!-- <a href="#top">Back To Top</a> -->

  <h3 class="cellcolor">
    <a name="3"></a>How To Prepare Financially For Remarriage
  </h3>

  <p>When considering remarriage, it is important to plan for the following:</p>

  <ul>
    <li>Whether property acquired before the marriage will be held jointly</li>
    <li>How to provide for children from a previous marriage</li>
    <li>
      Whether a prenuptial agreement is necessary to accomplish goals related to
      either of these issues
    </li>
  </ul>

  <p>
    If either spouse has significant assets, it will be necessary to consult an
    attorney.
  </p>

  <p>
    As for the estate planning aspects of providing for children from a previous
    marriage, trusts and/or life insurance are the vehicles most often used to
    do this.
  </p>

  <blockquote class="tip">
    <p>
      Be sure to update your will before you remarry to ensure that your assets
      will be divided among your heirs after your death in the manner and
      proportions you desire.
    </p>
  </blockquote>

  <!-- <a href="#top">Back To Top</a> -->

  <h3 class="cellcolor"><a name="4"></a>Government and Non-Profit Agencies</h3>
  <ul>
    <li>
      <p>
        <em
          >American Academy of Matrimonial Lawyers (AAML)<br />150 North
          Michigan Ave., Suite 1420<br />Chicago, IL 60601<br />Tel.
          312-263-6477<br />
          www.aaml.org<br
        /></em>
      </p>
    </li>
    <li>
      <em
        >Association for Conflict Resolution (ACR)<br />
        12100 Sunset Hills Rd., Suite #130 <br />
        Reston, VA 20190 <br />
        Tel. 703.234.4141
        <br />www.acrnet.org</em
      >
    </li>
    <br />
    <li>
      <em
        >National Foundation for Credit Counseling (NFCC)<br />Tel. 800-388-CCCS
        (2227) <br />www.nfcc.org <br
      /></em>
    </li>
    <br />
    <li>
      <em
        >Ex-Partners of Servicemen/women for Equality (EX-POSE)<br />P.O. Box
        11191<br />Alexandria, VA 22312<br />Tel. 703-255-2917<br />www.ex-pose.org<br />
        This non-profit organization provides information to divorcing or
        separating spouses of military service people.</em
      >
    </li>
  </ul>

  <!-- <a href="#top">Back To Top</a> -->
</div>
