
<form #formDirective="ngForm" (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm">
  <h1 mat-dialog-title>Portal Login</h1>
  <div mat-dialog-content class="d-flex flex-column">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')" >
          Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')" >
          Password is required.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')" >
          Password must be at least 8 characters.
        </mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-raised-button type="submit" [disabled]="!formDirective.form.valid" mat-dialog-close>Login</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>
