<div id="fga">
  <p>
    Are you able to locate insurance contracts, wills, and other important
    personal records quickly and easily? With this simple document locator
    system, you no longer need to wonder where to file a paper or where to find
    it.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">The Document Locator System</a></li>
      <li><a href="#2">Set Up Tabbed Sections</a></li>
      <li><a href="#3">File The Documents</a></li>
      <li><a href="#4">Documents You Should Be Able To Locate Easily</a></li>
      <li><a href="#5">Where To File What</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <h3 class="cellcolor"><a name="1"></a>The Document Locator System</h3>

  <p>
    Most people have no idea where to start searching for their important
    records. They usually keep them scattered in various locations - tax records
    in a file cabinet, savings bonds in a home safe, wills at an attorney's
    office, some contracts or deeds in a bank safe deposit box.
  </p>

  <p>
    There's a reason many people do not have an organized recordkeeping system:
    Organizing your records is stressful and confusing.
  </p>

  <p>
    The Document Locator System is effective because it takes away that stress
    and confusion. This simple recordkeeping system provides an easy way to keep
    track of your important personal (not business) records, keeping them
    organized and available. You will not miss out on a tax deduction because
    you did not keep the necessary receipt. More importantly, the document
    locator system will help a spouse or executor locate your documents in case
    of death or disability.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Set Up Tabbed Sections</h3>

  <p>
    Set up tabbed sections in your files with the following captions
    (customizing sections as appropriate to your particular situation):
  </p>

  <ol>
    <li>Banking</li>
    <li>Children</li>
    <li>Credit and Loans</li>
    <li>Employment</li>
    <li>Estate Planning [including wills and post-mortem matters]</li>
    <li>Important Personal</li>
    <li>Insurance</li>
    <li>Investments</li>
    <li>Major Assets</li>
    <li>Professional Residences</li>
    <li>Tax Records</li>
    <li>Vehicles [including boats]</li>
  </ol>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>File the Documents</h3>

  <p>
    File the documents and other records listed in Column 1 in the file sections
    recommended in Column 2 of the Document Locator. Where the original or a
    copy is filed elsewhere, note this location in Column 3 of the Document
    Locator. You can also use Column 3 for any notes regarding the document
    (such as Passport - "Renew by October 12, 2022" or IRA - "Take first
    distribution by December 31, 2022"). Where your filing system suggests a
    file section other than that recommended in Column 2, just substitute your
    location for the recommended one. For items other than those named here, use
    the blank spaces at the end of the Locator.
  </p>

  <p>This Document Locator is shown at the end of this Financial Guide.</p>

  <blockquote class="tip">
    <p>
      Put a photocopy of the Document Locator, which will contain the locations
      of all your important documents, in a fireproof safe or safe deposit box.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      In addition to the Document Locator System, prepare a post-mortem letter
      to a spouse or executor. This is also an essential part of helping your
      heirs and family members get your affairs in order in the event of death
      or disability. The purpose of such a letter is to provide them with the
      information needed to locate records or assets. This will prevent erosion
      of your estate by unnecessary taxes, unfounded claims, or just plain loss
      of assets.
    </p>
  </blockquote>

  <p>
    The key is to develop and follow some type of recordkeeping system, not
    necessarily the one recommended here. If you have any questions, contact
    your financial advisor.
  </p>

  <blockquote class="tip">
    <p>
      Cull your records every so often. By getting rid of the papers you no
      longer need, you minimize the ever-encroaching mountains of paper we all
      have to handle.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>Documents You Should Be Able To Locate Easily
  </h3>

  <p>
    Certain documents, records, and other information should be easily locatable
    in an emergency. These include (1) your personal records, (2) a list of your
    assets, (3) your estate planning records, and (4) your financial records.
  </p>

  <p></p>
  <h2>Personal Records</h2>
  <p></p>

  <ul>
    <li>Birth certificates of family members</li>
    <li>Death certificates of deceased family members</li>
    <li>Marriage license</li>
    <li>Divorce decree and custody agreement (if divorced)</li>
    <li>Passports (updated)</li>
    <li>Social Security numbers for family members</li>
    <li>
      The names and addresses of family members, close relatives, and any
      persons mentioned in a will
    </li>
    <li>Military records</li>
    <li>List of previous employers</li>
    <li>List of government employers</li>
    <li>Medical records and health insurance cards for family members</li>
  </ul>

  <p>
    In most cases, the reason these documents are needed is self-explanatory.
  </p>

  <p></p>
  <h2>List of Your Assets</h2>
  <p></p>

  <ul>
    <li>
      Description of all major assets that you own separately or jointly with
      your spouse or other person, together with the approximate values and
      location of deeds, titles, stock certificates, or other evidence of
      ownership.
    </li>
  </ul>

  <blockquote class="note">
    <p>
      Include cash, realty, investments, IRAs, retirement plan benefits, life
      insurance policies, interests in partnerships or other business entities,
      jewelry and other luxury items, automobiles, boats, antiques, coin
      collections, collectibles, art objects, and debts owed to you by others.
    </p>
  </blockquote>

  <ul>
    <li>Appraisals of valuable items</li>
    <li>
      Description of the approximate amounts of pension, military, and/or other
      benefits you or your spouse may be entitled to on retirement or death
    </li>
    <li>
      Insurance policies (including group life, individual life, health,
      casualty, auto, etc.) and identity and phone numbers of insurance agents
    </li>
  </ul>

  <p></p>
  <h2>Estate Planning Records</h2>
  <p></p>

  <ul>
    <li>
      The whereabouts of your will and codicils, along with the name and address
      of the attorney who prepared them
    </li>
    <li>Title to cemetery plot or other burial arrangement</li>
    <li>
      Post-mortem letter to spouse or family members, to be opened after your
      death
    </li>
    <li>Living will or other directions in case of disability</li>
  </ul>

  <p></p>
  <h2>Financial and Other Records</h2>
  <p></p>

  <ul>
    <li>Location of all safe deposit boxes, keys, and passwords</li>
    <li>Important canceled checks</li>
    <li>
      The names and addresses of your CPA, attorney, and any other professionals
      concerned with your financial affairs
    </li>
    <li>
      Photographic or video record of house and its contents (for homeowners'
      insurance purposes)
    </li>
    <li>
      One statement for each bank account, IRA, mutual fund, broker, or other
      account you own, along with the name and telephone number of the primary
      banker, broker, or other contact person for each account
    </li>
    <li>Brokers' confirmation slips for purchases</li>
    <li>
      A statement or other reference for any bank account that is not in your
      name
    </li>
    <li>
      One statement or payment stub for each credit card, line of credit, or
      outstanding loan
    </li>
    <li>
      Income tax returns for at least six prior years (including all supporting
      records for the past six years), and all prior gift tax returns
    </li>
    <li>
      Records showing the original cost of any realty owned, cost of all
      improvements that can be added to tax basis, and depreciation taken (for
      business or rental property)
    </li>
    <li>Bills of sale or receipts for major items</li>
    <li>Equipment and appliance manuals and warranty information</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Where to File What</h3>

  <table border="1" cellspacing="2">
    <tbody>
      <tr class="cellcolor">
        <td align="center" colspan="3"><strong>Document Locator</strong></td>
      </tr>
      <tr>
        <td align="center"><strong>DOCUMENT</strong></td>
        <td align="center"><strong>WHERE TO FILE </strong></td>
        <td align="center"><strong>OTHER LOCATION/NOTES</strong></td>
      </tr>
      <tr>
        <td>Accident reports</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Adoption records</td>
        <td>Important Personal and/or Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Accountant</td>
        <td>Professionals</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Address book</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Alimony records</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Apartment - records for</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Annuity</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Antiques</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Appliances - receipts, warranties, and contracts for</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Appraisals of assets</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Assets - list of</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Attorney</td>
        <td>Professionals and/or Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Auto insurance</td>
        <td>Vehicles and/or Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Auto loans</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Auto mileage logs</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Automobile title</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Bank account statements</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Bills of sale</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Birth certificates</td>
        <td>Important Personal and/or Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Boat insurance</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Boat records</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Broker account statements</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Business interests</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Canceled checks - general</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Canceled checks - insurance</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Canceled checks - tax related</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Casualty loss records</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>CD</td>
        <td>Banking and/or Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Cemetery plot</td>
        <td>Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Charitable gifts</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Checking account statements</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Child support papers</td>
        <td>Important Personal and/or Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Claims - insurance</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Coin collection</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Collections</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Confirmation slips - from broker</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>CPA</td>
        <td>Professionals</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Credit cards - list of</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Credit card statements</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Credit report - from credit reporting agency</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Credit union papers</td>
        <td>Banking and/or Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Custody agreement</td>
        <td>Important Personal and/or Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Day care records</td>
        <td>Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Death benefits</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Death certificate</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Debts owed to you</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Debts you owe</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Deeds to homes</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Disability insurance</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Dividends - records of</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Divorce decree</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Doctors</td>
        <td>Professionals</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Dues - professional or union</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Employee benefits - description of</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Employers - list of</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Equipment - business use of</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Equipment - warranties for</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Expenses</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Fees - deductible</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Financial statement - your personal</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Forms - tax</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Funeral arrangements</td>
        <td>Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Furs</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Gifts - taxable</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Government employers - list of</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Health insurance</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Home - contents of, photographic records</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Home office</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Home improvements</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Inherited property - record of basis</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Insurance policies</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Interest - record of</td>
        <td>Residences and/or Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>IRA</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Jewelry</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>K-1 Forms</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Safe deposit box keys</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Lawyers</td>
        <td>Professionals and/or Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Lease - home</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>License - driver's</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Life insurance policies</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Limited partnership documents</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of assets</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of automobiles</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of bank accounts</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of brokerage accounts</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of children's schools</td>
        <td>Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of credit cards</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of debts</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of employers - government and private</td>
        <td>Employers</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of home improvements</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of life insurance policies</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>List of safe deposit boxes</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Living will</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Loans - list of</td>
        <td>Credit and Loans</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Maintenance of appliances</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Marriage certificate</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Medical expenses</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Medical professionals</td>
        <td>Professionals</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Mileage logs - expenses</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Military discharge</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Military employers</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Mortgage note</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Mortgage payments and yearly statement</td>
        <td>Residence and/or Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Moving expense</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Mutual funds</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Naturalization papers</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Owner's manuals</td>
        <td>Vehicles and/or Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Partnership statements</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Passports</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Paycheck stubs</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Pets</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Pension benefits - description</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Photos of family members</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Photos of home contents</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Properties owned - list of</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Property damage - records</td>
        <td>Insurance</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Prospectuses</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Real estate owned</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Real estate taxes</td>
        <td>Residences and/or Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Registration</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Rent - records of</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Residence closing - records of</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Retirement accounts</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Safe deposit boxes</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Savings accounts</td>
        <td>Banking</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Schools - list of</td>
        <td>Children</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Service - military</td>
        <td>Employment and/or Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Social Security numbers</td>
        <td>Important Personal</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Stock certificates</td>
        <td>Investments</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Survivors' benefits-descriptions</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Tax returns and forms</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Traffic tickets</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Titles to vehicles</td>
        <td>Vehicles</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Travel expenses</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Trust documents</td>
        <td>Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Unemployment compensation</td>
        <td>Employment</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Vacation home</td>
        <td>Residences</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>W-2 forms</td>
        <td>Tax Records</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Warranties</td>
        <td>Major Assets</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Wills</td>
        <td>Estate Planning</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
