<div id="fga">
  <p>
    Many merchants engraft their own rules to your use of a credit card, usually
    without the right to do so. What are you required to do and what can you
    rightfully refuse to do? The Financial Guide explains your rights.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Personal Information</a></li>
      <li><a href="#2">Minimum Charge Requirements</a></li>
      <li><a href="#3">Extra Charge For Using A Credit Card</a></li>
      <li><a href="#4">ID When Paying By Check</a></li>
      <li><a href="#5">Cards Other Than The "Big Three"</a></li>
      <li><a href="#6">How To Complain</a></li>
      <li>
        <a href="#7">States That Prohibit Recording Of Personal Information</a>
      </li>
      <li><a href="#8">States That Prohibit Credit Card Surcharges</a></li>
      <li>
        <a href="#9"
          >States That Prohibit Recording A Credit Card Number On A Check</a
        >
      </li>
      <li><a href="#10">Recommended Books</a></li>
      <li><a href="#11">Government and Non-Profit Agencies</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    Do sales clerks ask you to write your phone number or address on a credit
    card slip? Have you been told that "store policy" requires a $25 minimum for
    credit card use? Have you been charged an extra 3 percent just for using a
    major credit card? When you pay by personal check, does the clerk ask for
    two forms of identification and then write your credit card number on your
    check?
  </p>

  <p>
    These practices violate your privacy, expose you to potential credit fraud
    and may be illegal in some cases. We will tell you how to say "no" to a
    merchant who engages in these impermissible credit card practices:
  </p>

  <ul>
    <li>Writes your personal information on a bank credit card sales slip</li>
    <li>Imposes a minimum sales amount for credit card purchases</li>
    <li>Charges extra for payment by credit card</li>
    <li>Writes your credit card number on your personal check</li>
  </ul>

  <h3 class="cellcolor"><a name="1"></a>Personal Information</h3>

  <p>
    When using a credit card for a purchase, some merchants might ask you to
    provide a phone number, home address, or other personal information on
    credit card sales slips; however, consumers should always decline. This
    practice not only violates your privacy, but American Express, MasterCard,
    and Visa prohibit requiring it as a condition of sale. Furthermore, while
    credit card policies as well as state and federal laws vary, in California,
    for example, it is illegal for the merchant to record any personal
    information other than what is on the front of the credit card.
  </p>

  <p>
    There is no need for merchants to obtain phone numbers or other personal
    information from customers. Once they have correctly processed the bank card
    transaction (gotten an authorization number and made sure the signatures
    match), they are guaranteed to receive payment.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you don't want to provide personal information on
      a credit card sales slip, you can refuse to do so. The merchant has no
      right to refuse you the sale (although unknowledgeable clerks may have no
      authority to vary from store policy).
    </p>
  </blockquote>

  <p>
    Further, if you refuse to present identification, such as a driver's
    license, the merchant may not refuse to make a credit card sale under Visa,
    MasterCard, and Amex rules.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you exceed your credit limit, the card-issuing
      bank absorbs the loss, so there is no need for the merchant to contact
      you. Thus, there's no reason to provide your personal information.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Minimum Charge Requirements</h3>

  <p>
    Some stores require consumers to spend at least $20 (or some other minimum)
    to pay for purchases by credit card. They engage in this practice because
    they and their banks do not want the expense of processing a credit card
    transaction involving a small amount of money.
  </p>

  <p>
    This practice defeats one of the major purposes of credit
    cards-convenience-and may force credit card users to spend more than they
    want to. In addition, minimum charge requirements vary from merchant to
    merchant, and there are no regulations requiring disclosure of these minimum
    purchase levels.
  </p>

  <p>
    Visa's and MasterCard's regulations prohibit minimum charge amounts.
    American Express's regulations do not explicitly prohibit minimum charges,
    but its policy is to discourage any merchant practices that create a
    "barrier to acceptance." Amex does prohibit "discrimination" against the
    Amex card, however, so if a merchant has no minimum charge for Visa and
    MasterCard, the merchant may not discriminate against Amex by imposing a
    minimum charge.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If a store requires a minimum purchase for Visa or
      MasterCard, point out to the store manager that the practice is prohibited
      by the card companies.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Extra Charge For Using A Credit Card
  </h3>

  <p>
    Some merchants seek to impose a service fee for all credit card purchases.
  </p>

  <p>
    When a merchant gives a credit card slip to the credit card company or bank
    for processing, a percentage of each purchase-usually 1.5 to 5 percent of
    the purchase amount is deducted. This "merchant discount fee" helps pay for
    the bank's services and for the credit card system. By charging extra for
    credit card use, the merchant passes the discount fee on to customers.
  </p>

  <p>
    Visa and MasterCard prohibit surcharges, and American Express discourages
    them. Amex does prohibit "discrimination" against the Amex card, however, so
    if a merchant accepts Visa and MasterCard (and cannot impose a surcharge
    under those companies' rules), the merchant may not discriminate against
    Amex by imposing a surcharge.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Any merchant that accepts American Express cards and
      also accepts Visa and/or MasterCard may not charge consumers a surcharge
      on Amex purchases.
    </p>
  </blockquote>

  <p>
    Surcharges invite numerous abuses by retailers, including bait-and-switch
    tactics. There are no laws on how and when surcharges must be disclosed,
    making it difficult to figure out the total price of an item. Travelers
    often find it difficult to get out-of-state checks accepted, and should not
    be penalized for using credit cards. Further, credit card acceptance usually
    produces higher sales for merchants, offsetting the cost of processing
    credit card transactions.
  </p>

  <p>
    Note that a cash discount is legal and permitted under all credit card
    companies rules. A cash discount offers a lower price for cash than credit;
    for example, many gasoline stations offer cash discounts. While this may
    merely be a loophole, it is permitted. In addition, there are a few state
    governmental agencies, including state tax offices and motor vehicle
    departments that are permitted to charge surcharges due to state laws that
    do not permit them to pay discount fees. However, retail merchants may not
    impose surcharges.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>ID When Paying By Check</h3>

  <p>
    Merchants often ask for two forms of identification before accepting a
    personal check as payment for a purchase: a driver's license and a major
    credit card. Merchants also believe consumers with credit cards are less
    likely to bounce checks. This is a misconception: nearly 90 percent of all
    bounced checks result from arithmetic error, not fraud.
  </p>

  <p>
    When merchants write your credit card number on your personal check, they
    are subjecting you to possible fraud.
  </p>

  <ul>
    <li>
      <p>
        Anyone who sees the check sees your name, address, telephone number, and
        credit card number.
      </p>
    </li>
    <li>
      <p>
        Further, several states use an individual's Social Security number as
        the only identifying number on a driver's license. Once a thief has your
        Social Security number, along with the other information on the check,
        he or she can get your credit report, and even apply for credit in your
        name.
      </p>
    </li>
    <li>
      <p>
        Someone can use your credit card number to order merchandise by phone or
        through the mail by requesting the merchandise be sent to a post office
        box or an address other than your own.
      </p>
    </li>
    <li>
      <p>
        Someone might use your personal information to apply for credit in your
        name, then run up bills on your account without paying them, of course.
        People who are victims of so-called application fraud do not find out
        until months or even years later when they begin receiving letters from
        creditors, by which time the damage has been done to their credit
        histories.
      </p>
    </li>
  </ul>

  <p>
    Although Visa, MasterCard and American Express do not have the authority to
    prohibit the practice of writing credit card numbers on checks, the three
    card companies do prohibit merchants from charging a credit card account to
    cover a bounced check.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If a merchant asks for your credit card number, ask
      why he or she needs to record it, since, due to the above prohibition,
      nothing can be done with it.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> There is probably no harm in allowing a merchant to
      see that you carry a major credit card, and even to note on the check
      whether it is Visa, MasterCard, or American Express. For your own safety,
      this is the only credit card-related information you should allow to be
      recorded. You should not allow the merchant to record the credit card
      number.
    </p>
  </blockquote>

  <p>
    If the sale is refused, ask to speak with the store manager. Explain the
    risks of fraud, and point out that the rules of the three major credit card
    companies prohibit charging a credit card to cover a bounced check. You
    might also point out that, if there is a problem, merchants usually have all
    the information they need to locate the customer written right on the check:
    name, address, phone number and driver's license number. Also, merchants
    will not be able to use the credit card number to locate the consumer.
  </p>

  <p>
    Many store clerks are simply unaware of the potential crimes associated with
    the use of personal information written on checks.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Cards Other Than The "Big Three"</h3>

  <p>
    Other cards may not provide cardholders with any of the protections
    described above. However, purchases made with other cards are covered in all
    states that have laws prohibiting the practices described here.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Cardholders who experience the practices discussed
      here should complain to store managers and encourage the card company to
      change its policies.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>How To Complain</h3>

  <p>
    When merchants violate the policies described here, report them to Visa,
    MasterCard, and American Express.
  </p>

  <ul>
    <li>
      <em
        ><p>
          Visa USA<br />Consumer Relations<br />P.O. Box 8999<br />San
          Francisco, CA 94128<br />+1-800-VISA-911 (customer assistance)
        </p></em
      >
    </li>
    <li>
      <p>
        <em
          >MasterCard Worldwide<br />Public Relations<br />2000 Purchase
          Street<br />Purchase, NY 10577<br />Call collect from anywhere
          globally: +1-636-722-7111 or toll-free from the United States:
          +1-800-627-8372 (+1 800 MASTERCARD)</em
        >
      </p>
    </li>
    <li>
      <p>
        <em
          >American Express<br />Customer Service<br />PO Box 297812<br />Ft.
          Lauderdale, FL 33329-7812<br />1-800-528-4800 (US) or 1-336-393-1111
          (International Collect)
        </em>
      </p>
    </li>
  </ul>

  <p>
    In your letter, give the name and location of the merchant and a copy of a
    credit card sales slip. The sales slip is needed by Visa and MasterCard to
    track down the offending merchant. American Express provides cardmembers
    with a toll-free number to call if they have difficulty with a merchant.
    Make sure you have the complete details about the merchant and the problem
    before you call.
  </p>

  <p>If a merchant is uncooperative, take your business elsewhere.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>States That Prohibit Recording Of Personal Information
  </h3>

  <p>
    The following states prohibit merchants from recording certain personal
    information in connection with credit card transactions:
  </p>

  <ul>
    <li>California</li>
    <li>Delaware</li>
    <li>Georgia</li>
    <li>Kansas</li>
    <li>Maryland</li>
    <li>Massachusetts</li>
    <li>Minnesota</li>
    <li>Nevada</li>
    <li>New Jersey</li>
    <li>New York</li>
    <li>Oregon</li>
    <li>Pennsylvania</li>
    <li>Rhode Island</li>
    <li>Washington, DC</li>
    <li>Wisconsin</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="8"></a>States That Prohibit Credit Card Surcharges
  </h3>

  <p>
    The following states prohibit merchants from adding surcharges to credit
    card transactions
  </p>

  <ul>
    <li>California</li>
    <li>Colorado</li>
    <li>Connecticut</li>
    <li>Florida</li>
    <li>Kansas</li>
    <li>Maine</li>
    <li>Massachusetts</li>
    <li>New York</li>
    <li>Oklahoma</li>
    <li>Texas</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="9"></a>States That Prohibit Recording A Credit Card Number On A
    Check
  </h3>

  <p>
    The following states prohibit merchants from recording your credit card
    number on your check:
  </p>

  <ul>
    <li>California</li>
    <li>Delaware</li>
    <li>Florida</li>
    <li>Georgia</li>
    <li>Illinois</li>
    <li>Iowa</li>
    <li>Kansas</li>
    <li>Maryland</li>
    <li>Massachusetts</li>
    <li>Michigan</li>
    <li>Minnesota</li>
    <li>Nevada</li>
    <li>New Hampshire</li>
    <li>New Jersey</li>
    <li>New York</li>
    <li>North Dakota</li>
    <li>Ohio</li>
    <li>Oregon</li>
    <li>Pennsylvania</li>
    <li>Rhode Island</li>
    <li>Tennessee</li>
    <li>Virginia</li>
    <li>Washington, DC</li>
    <li>Washington</li>
    <li>Wisconsin</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="11"></a>Government and Non-Profit Agencies</h3>

  <p>
    The following agencies are responsible for enforcing federal laws that
    govern credit card transactions. Questions concerning a particular card
    issuer should be directed to the enforcement agency responsible for that
    issuer.
  </p>

  <ul>
    <li>
      <p><strong>State Member Banks of the Reserve System:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Consumer &amp; Community Affairs<br />Board of Governors of the Federal
        Reserve System<br />20th &amp; Constitution Avenue, N.W.<br />Washington,
        D.C. 20551</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>National Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743 </em
      ><br />
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>Federal Credit Unions:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >National Credit Union Administration<br />1775 Duke St # 4206<br />Alexandria,
        VA 22314-6115</em
      ><br />
    </p>
  </blockquote>
  <ul>
    <li>
      <p><strong>Non-Member Federally Insured Banks:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Federal Deposit Insurance Corporation <br />
        Consumer Response Center <br />
        1100 Walnut St, Box #11 <br />
        Kansas City, MO 64106
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Federally Insured Savings and Loans, and Federally Chartered State
          Banks:</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Comptroller of the Currency <br />
        Customer Assistance Group<br />
        1301 McKinney Street<br />
        Suite 3450<br />
        Houston, TX 77010<br />
        Tel. (800) 613-6743
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong
          >Other Credit Card Issuers (includes retail gasoline
          companies):</strong
        >
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >Bureau of Consumer Protection<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, D.C. 20580</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p><strong>The U.S. Postal Inspection Service:</strong></p>
    </li>
  </ul>

  <blockquote>
    <p>
      This office covers mail fraud, sexually offensive materials, solicitations
      that look like government materials but are not. If you suspect such
      violations, contact your local Postmaster or Postal Inspector or:
    </p>

    <p>
      <em
        >Criminal Investigations Service Center<br />Attn: Mail Fraud<br />222
        S. Riverside Plaza Ste. 1250<br />Chicago IL 60606-6100<br />Tel.
        877-876-2455</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <em><strong>The Federal Trade Commission:</strong></em>
      </p>
    </li>
  </ul>

  <blockquote>
    <p>
      Does not handle individual complaints, but reporting failure to deliver,
      late delivery, unordered merchandise, misrepresentation or fraud helps
      uncover widespread abuses that the FTC might take action to stop.
    </p>

    <p>
      <em
        >Division of Enforcement<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />Tel. (202)
        326-2222</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>National Do Not Call Registry:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      If you wish to have your name removed from telephone lists of marketing
      companies.
    </p>

    <p>
      <em
        >National Do Not Call Registry<br />Federal Trade Commission<br />600
        Pennsylvania Avenue, NW<br />Washington, DC 20580<br />website:
        www.donotcall.gov</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Direct Marketing Mail Opt-Out:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>Consumers who do not wish to receive promotional mail at home</p>

    <p>
      <em
        >Direct Marketing Association<br />1120 Avenue of the Americas <br />NY,
        NY New York, NY 10036-6700<br />Tel. 212.768.7277<br />website:
        www.DMAChoice.org</em
      >
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        <strong><em>Low or No-Cost Credit Cards:</em></strong>
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      Bankrate.com lists banks charging no fees and low interest rates for
      credit cards. Visit the website: www.bankrate.com
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
