<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">How can I tell whether I have too much debt?</a></li>
      <li>
        <a href="#2"
          >What steps should I take if I get into financial trouble?</a
        >
      </li>
      <li>
        <a href="#3"
          >What can I do if I am being hounded by a debt collector?</a
        >
      </li>
      <li>
        <a href="#4"
          >What are my rights against banks, creditors and debt collectors?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How can I tell whether I have too much debt?
    </h3>

    <p>
      If you answer yes to any one of the following questions, you should take
      action:
    </p>

    <ul>
      <li><p>Have you run several credit cards up to the limit?</p></li>

      <li><p>Do you frequently make only the minimum monthly payments?</p></li>

      <li>
        <p>
          Do you apply for almost any credit card you are offered--without
          checking out the terms?
        </p>
      </li>

      <li>
        <p>
          Have you used the cash advance feature from one card to pay the
          minimum payment on another?
        </p>
      </li>

      <li>
        <p>
          Do you use cash advances (or a credit card) for living expenses such
          as food, rent, or utilities?
        </p>
      </li>

      <li><p>Are you unable to say what your total debt is?</p></li>

      <li>
        <p>
          Are you unable to say how long it would take you to pay off all your
          current debts (excluding mortgages and cars) at the rate you have been
          paying?
        </p>
      </li>
    </ul>

    <p>
      If you find several of these statements describe your credit habits, it
      may be that you need to take steps to manage your debt before bill
      collectors start calling and your credit history is endangered.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What steps should I take if I get into financial trouble?
    </h3>

    <p>
      Here are some specific steps you can take if you are in financial trouble.
    </p>

    <ol>
      <li>
        <p>
          Review each debt that creditors claim you owe to make certain you
          really owe it, and that the amount is correct.
        </p>
      </li>

      <li>
        <p>
          Contact your creditors to let them know you're having difficulty
          making your payments. Tell them why you're having trouble. Try to work
          out an acceptable payment schedule with your creditors.
        </p>
      </li>

      <blockquote class="tip">
        <p>
          Do not wait until your account is turned over to a debt collector. At
          that point, the creditor has given up on you. As soon as you find that
          you cannot make your payments, contact your creditors to try to work
          out a reduced payment plan.
        </p>
      </blockquote>

      <li>
        <p>
          Budget your expenses. Create a spending plan that allows you to reduce
          your debts. Itemize your necessary expenses (such as housing and
          healthcare) and optional expenses (such as entertainment and vacation
          travel). Stick to the plan.
        </p>
      </li>

      <li>
        <p>
          Try to reduce your expenses. Cut out any unnecessary spending such as
          eating out and expensive entertainment. Consider taking public
          transportation rather than owning a car. Clip coupons, purchase
          generic products at the supermarket and avoid impulse purchases. Above
          all, stop incurring new debt. Consider substituting a debit card for
          your credit cards.
        </p>
      </li>

      <li>
        Use your savings and other assets to pay down debts. Withdrawing savings
        from low-interest accounts to settle high-rate loans usually makes
        sense.
      </li>

      <blockquote class="tip">
        <p>
          Selling off a second car not only provides cash but also reduces
          insurance and other maintenance expenses.
        </p>
      </blockquote>

      <blockquote class="tip">
        <p>
          If you are unable to make satisfactory arrangements with your
          creditors, there are organizations to help you with your financial
          situation. For instance,
          <a href="http://credit.org/cccs"
            >Consumer Credit Counseling Service</a
          >
          (CCCS) agencies, which are local, nonprofit organizations affiliated
          with the National Foundation for Consumer Credit (NFCC), provide
          education and counseling to families and individuals.
        </p>
        <p>
          To contact a CCCS office for confidential help, look in your telephone
          directory white pages, or call 1-800-431-8157 for an office near you.
          To contact the National Foundation for Consumer Credit Counseling and
          connect with an NFCC Certified Consumer Credit Counselor call
          800-388-2227.
        </p>
      </blockquote>

      <blockquote class="tip">
        <p>
          Some people with debt problems have found that
          <a href="http://www.debtorsanonymous.org">Debtors Anonymous</a>,
          General Service Office, PO Box 920888, Needham, MA 02492-0009,
          1-800-421-2383 has provided helpful service.
        </p>
      </blockquote>
    </ol>

    <p>
      Personal bankruptcy, a serious step, should be considered only if other
      means have been exhausted, and only if it is the best way to deal with
      financial problems. A skilled and trusted bankruptcy lawyer should be
      consulted.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What can I do if I am being hounded by a debt collector?
    </h3>

    <p>
      If you fall behind in paying your creditors, or an error is made on your
      accounts, you may be contacted by a "debt collector." The Fair Debt
      Collection Practices Act prohibits certain practices by debt collectors.
    </p>

    <p>
      <strong>What to do:</strong> To stop a debt collector from calling you,
      write a letter to the collection agency telling them to stop. Once the
      agency receives your letter, it may not contact you again except to say
      there will be no further contact. Another exception is that the agency may
      notify you if the debt collector or the creditor intends to take some
      specific action.
    </p>

    <p>
      If you believe a debt collector has violated the law by harassing you, you
      have the right to sue a collector in a state or federal court within one
      year from the date you believe the law was violated. The following
      practices are specifically prohibited.
    </p>
    <p>
      <strong>Harassment, Oppression, or Abuse.</strong> For example, debt
      collectors may not:
    </p>

    <ul>
      <li>
        <p>
          Use threats of violence or harm against the person, property, or
          reputation
        </p>
      </li>
      <li>
        <p>
          Publish a list of consumers who refuse to pay their debts (except to a
          credit bureau)
        </p>
      </li>
      <li><p>Use obscene or profane language</p></li>
      <li><p>Repeatedly use the telephone to annoy someone</p></li>
      <li><p>Telephone people without identifying themselves</p></li>
      <li><p>Advertise your debt</p></li>
    </ul>

    <p>
      <strong>False Statements.</strong> For example, debt collectors may not:
    </p>

    <ul>
      <li><p>Give false credit information about you to anyone</p></li>
      <li>
        <p>
          Send you anything that looks like an official document from a court or
          government agency when it is not
        </p>
      </li>
      <li><p>Use a false name</p></li>
      <li>
        <p>
          Falsely imply that they are attorneys or government representatives
        </p>
      </li>
      <li><p>Falsely imply that you have committed a crime</p></li>
      <li>
        <p>Falsely represent that they operate or work for a credit bureau</p>
      </li>
      <li><p>Lie about the amount of your debt</p></li>
      <li>
        <p>Lie about the involvement of an attorney in collecting a debt</p>
      </li>
      <li>
        <p>
          Indicate that papers being sent to you are legal forms when they are
          not
        </p>
      </li>
      <li>
        <p>
          Indicate that papers being sent to you are not legal forms when they
          are
        </p>
      </li>
      <li>
        <p>Tell you that you will be arrested if you do not pay your debt</p>
      </li>
      <li>
        <p>
          Tell you they will seize, garnish, attach, or sell your property or
          wages, unless the collection agency or creditor intends to do so, and
          it is legal to do so
        </p>
      </li>
      <li>
        <p>
          Tell you that actions, such as a lawsuit, will be taken against you,
          which legally may not be taken, or which they do not intend to take
        </p>
      </li>
    </ul>

    <p><strong>Unfair Practices.</strong> For example, collectors may not:</p>

    <ul>
      <li>
        <p>Collect any amount greater than your debt, unless allowed by law</p>
      </li>
      <li><p>Deposit a post-dated check prematurely</p></li>
      <li><p>Make you accept collect calls or pay for telegrams</p></li>
      <li>
        <p>
          Take or threaten to take your property unless this can be done legally
        </p>
      </li>
      <li>Contact you by postcard</li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>What are my rights against banks, creditors and debt
      collectors?
    </h3>

    <p>You have the following rights:</p>

    <ul>
      <li>
        <p>
          <strong>Banks.</strong> If you have a complaint about a bank in
          connection with any of the Federal credit laws or if you think any
          part of your business with a bank has been handled in an unfair or
          deceptive way write the nearest office of the
          <a href="http://www.ftc.gov">Federal Trade Commission</a> or Consumer
          &amp; Community Affairs, Board of Governors of the Federal Reserve
          System, 20th &amp; Constitution Avenue, N.W. Washington, D.C. 20551.
        </p>
      </li>
      <p></p>

      <li>
        <p>
          <strong>Credit Clinics.</strong> File a complaint with the Better
          Business Bureau, your state attorney general's office, and the Federal
          Trade Commission (FTC).
        </p>
      </li>

      <li>
        <p>
          <strong>Debt Collectors.</strong> Report any problems you have with a
          debt collector to your state Attorney General's office and the Federal
          Trade Commission.
        </p>
      </li>

      <li>
        <p>
          <strong>Other Institutions.</strong> The Federal Trade Commission
          enforces a number of federal laws involving consumer credit, including
          the Equal Credit Opportunity Act, the Fair Credit Reporting Act, the
          Truth in Lending Act, the Fair Credit Billing Act, and the Fair Debt
          Collection Practices Act.
        </p>
      </li>
    </ul>

    <p>
      You may also take legal action against a creditor. If you decide to bring
      a lawsuit, here are the penalties a creditor must pay if you win:
    </p>

    <ul>
      <li>
        <p>
          <strong>Truth in Lending and Consumer Leasing Acts.</strong> If any
          creditor fails to disclose information required under these Acts, or
          gives inaccurate information, or does not comply with the rules about
          credit cards or the right to cancel certain home-secured loans, you as
          an individual may sue for actual damages-any money loss you suffer. In
          addition, you can sue for twice the finance charge in the case of
          certain credit disclosures, or, if a lease is concerned, 25 percent of
          total monthly payments. You may also be entitled to reimbursement for
          court costs and attorney's fees.
        </p>
      </li>

      <li>
        <p>
          <strong>Equal Credit Opportunity Act.</strong> If you think you can
          prove that a creditor has discriminated against you for any reason
          prohibited by the Act, you as an individual may sue for actual damages
          plus punitive damages of up to $10,000.
        </p>
      </li>

      <li>
        <p>
          <strong>Violations by Debt Collectors.</strong> You have the right to
          sue a collector for violations under the Fair Debt Collection
          Practices Act in a state or federal court within one year from the
          date you believe the law was violated. If you win, you may recover
          money for the damages you suffered. A group of people also may sue a
          debt collector and recover money for damages up to $500,000, or one
          percent of the collector's net worth, whichever is less.
        </p>
      </li>

      <li>
        <p>
          <strong>Fair Credit Billing Act.</strong> A creditor who breaks the
          rules for the correction of billing errors automatically loses the
          amount owed on the item in question and any finance charges on it, up
          to a combined total of $50- even if the bill was correct.
        </p>
      </li>

      <li>
        <strong>Fair Credit Reporting Act.</strong> You may sue any credit
        reporting agency or creditor for breaking the rules about who may see
        your credit records or for not correcting errors in your file. A person
        who obtains a credit report without proper authorization or an employee
        of a credit reporting agency who gives a credit report to unauthorized
        persons may be fined up to $5,000 or imprisoned for one year, or both.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
