<app-heading heading="Services"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>Accounting Solutions You Can Count On</h2>
        <p>
          Whether you're an individual or a business owner, taxes are a fact of
          life, but when you work with an accounting firm like ours, our
          dedicated team of tax and accounting professionals makes sure that you
          have one less thing to worry about.
        </p>
        <p>
          If you're looking for a cost-effective solution to managing your
          finances or feel like it's time you obtained an accurate picture of
          your financials so that you can make informed decisions about your
          financial future, we can help.
        </p>
      </div>
      <div style="text-align: left">
        <div>
          <h2>
            <a [routerLink]="'services-for-individuals'">Services For Individuals</a>
          </h2>
          <p>Protecting your personal assets has never been more important.</p>
          <ul>
            <li><a routerLink="services-for-individuals/personal-financial-planning">Personal Financial Planning</a></li>
            <li><a href="" routerlink="services-for-individuals/retirement-planning">Retirement Planning</a></li>
            <li><a routerLink="services-for-individuals/estate-planning">Estate Planning</a></li>
            <li><a routerLink="services-for-individuals/elder-care">Elder Care</a></li>
            <li><a routerLink="services-for-individuals/wealth-management">Wealth Management</a></li>
          </ul>
        </div>

        <div>
          <h2><a routerLink="business-services">Business Services</a></h2>
          <p>We are here to help your business succeed.</p>
          <ul>
            <li>
              <a routerLink="business-services/small-business-accounting"
                >Small Business Accounting</a
              >
            </li>
            <li><a routerLink="business-services/book-keeping-services">Bookkeeping Services</a></li>
            <li><a routerLink="business-services/payroll">Payroll</a></li>
            <li><a routerLink="business-services/part-time-CFO-services">Part-Time CFO Services</a></li>
            <li>
              <a routerLink="business-services/audits-reviews-compilations">Audits - Reviews - Compilations</a>
            </li>
            <li><a routerLink="business-services/forensic-accounting">Forensic Accounting</a></li>
            <li><a routerLink="business-services/cash-flow-management">Cash Flow Management</a></li>
            <li><a routerLink="business-services/bank-financing">Bank Financing</a></li>
            <li><a routerLink="business-services/business-valuation">Business Valuation</a></li>
            <li><a routerLink="business-services/business-advisory-services">Business Advisory Services</a></li>
            <li><a routerLink="business-services/financial-planning-for-businesses">Financial Planning for Businesses</a></li>
            <li><a routerLink="business-services/succession-planning">Succession Planning</a></li>
            <li><a routerLink="business-services/new-business-formation">New Business Formation</a></li>
            <li><a routerLink="business-services/non-profit-organizations">Non-Profit Organizations</a></li>
            <li><a routerLink="business-services/internal-controls">Internal Controls</a></li>
            <li><a routerLink="business-services/litigation-support">Litigation Support</a></li>
          </ul>
        </div>

        <div>
          <h2><a routerLink="tax-services">Tax Services</a></h2>
          <p>
            Comprehensive tax services that maximize deductions and credits.
          </p>
          <ul>
            <li><a routerLink="tax-services/individual-tax-preparation">Individual Tax Preparation</a></li>
            <li><a routerLink="tax-services/tax-preparation-for-business">Tax Preparation for Businesses</a>
            </li>
            <li><a routerLink="tax-services/tax-planning">Tax Planning</a></li>
            <li><a routerLink="tax-services/estate-trust-tax-services">Estate &amp; Trust Tax Services</a></li>
            <li>
              <a routerLink="tax-services/tax-relief">Tax Relief</a>
              <ul>
                <li>
                  <a routerLink="irs-representation"
                    >IRS Audit Representation</a
                  >
                </li>
                <li>
                  <a routerLink="irs-nonfiledreturns">Non-Filed Tax Returns</a>
                </li>
                <li><a routerLink="irs-backtaxes">Back Taxes Owed</a></li>
                <li><a routerLink="irs-payrolltax">Payroll Tax Problems</a></li>
                <li><a routerLink="irs-taxliens">IRS Liens</a></li>
                <li><a routerLink="irs-taxlevies">IRS Levies</a></li>
                <li>
                  <a routerLink="irs-garnishment">IRS Wage Garnishment</a>
                </li>
                <li><a routerLink="irs-taxseizures">IRS Seizures</a></li>
                <li><a routerLink="irs-paymentplan">IRS Payment Plan</a></li>
                <li>
                  <a routerLink="irs-offercompromise">Offer In Compromise</a>
                </li>
                <li><a routerLink="irs-taxbankruptcy">Bankruptcy</a></li>
                <li><a routerLink="irs-spouse">Innocent Spouse Relief</a></li>
                <li><a routerLink="irs-files">Get Your IRS File</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div>
          <h2><a routerLink="services-for-quick-books">Services for QuickBooks</a></h2>
          <p>
            QuickBooks is the ideal business accounting software for small to
            mid-sized business owners.
          </p>
          <ul>
            <li><a routerLink="services-for-quick-books/why-quick-books">Why QuickBooks</a></li>
            <li><a routerLink="services-for-quick-books/setup-quick-books">Setup for QuickBooks</a></li>
            <li><a routerLink="services-for-quick-books/training-quick-books">Training for QuickBooks</a></li>
            <li>
              <a routerLink="services-for-quick-books/answers-to-quick-books">Answers to QuickBooks Questions</a>
            </li>
            <li><a routerLink="services-for-quick-books/tune-up-quick-books">Tune-up for QuickBooks</a></li>
            <li>
              <a routerLink="services-for-quick-books/tips-quick-books">Tips for QuickBooks Users</a>
            </li>
          </ul>
        </div>

        <div>
          <h2><a routerLink="industries">Industries</a></h2>
          <p>
            Our specialized knowledge has helped many professionals thrive, and
            we're ready to help you too.
          </p>
          <ul>
            <li><a routerLink="industries/construction">Construction</a></li>
            <li><a routerLink="industries/dentists">Dentists</a></li>
            <li><a routerLink="industries/healthcare">Healthcare</a></li>
            <li><a routerLink="industries/hospitality">Hospitality</a></li>
            <li><a routerLink="industries/law-firms">Law Firms</a></li>
            <li><a routerLink="industries/manufacturers">Manufacturers</a></li>
            <li><a routerLink="industries/real-estate">Real Estate</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
