<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1">How can I minimize problems when getting a mortgage?</a>
      </li>
      <li>
        <a href="#2">How can I lock in a mortgage rate most effectively?</a>
      </li>
      <li><a href="#3">How are escrow payments calculated?</a></li>
      <li>
        <a href="#4"
          >What should I do if my bank or other mortgage lender sells my
          mortgage?</a
        >
      </li>
      <li>
        <a href="#5">When can I stop paying private mortgage insurance?</a>
      </li>
      <li>
        <a href="#6">How can I avoid paying private mortgage insurance?</a>
      </li>
      <li><a href="#7">Should I prepay my mortgage?</a></li>
      <li><a href="#8">When should I refinance my home?</a></li>
      <li><a href="#9">Should I pay off my mortgage?</a></li>
      <li><a href="#10">What are the different options for mortgages?</a></li>
      <li>
        <a href="#11"
          >How do I choose between low rates and low points on a mortgage?</a
        >
      </li>
      <li><a href="#12">Which mortgage is best for me?</a></li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How can I minimize problems when getting a mortgage?
    </h3>

    <p>
      Much of the information required by your lender can be brought with you
      when you apply for a loan. To avoid delays, try to find out in advance
      exactly what documentation the lender will require from you. In general,
      however, most lenders will ask for the following documents:
    </p>

    <ul>
      <li>The purchase contract for the house</li>
      <li>
        Bank account numbers, name and address of your bank branch and your
        latest bank statement, pay stubs, W-2 forms, or other proof of
        employment and salary.
      </li>
      <li>
        If you are self-employed, balance sheets and tax returns for 2-3
        previous years.
      </li>
      <li>
        Information about debts, including loan and credit card account numbers
        and the names and addresses of your creditors.
      </li>
      <li>
        Evidence (such as canceled checks) of mortgage or rental payments you
        currently pay.
      </li>
      <li>
        Certificate of Eligibility from the Veterans Administration if you want
        a VA-guaranteed loan.
      </li>
    </ul>

    <p>
      Ask the lender what is the average time for processing loans and what time
      frame you can reasonably expect your loan to be approved in.
    </p>

    <p>
      People who are rejected for a mortgage loan often find that it is due to
      problems with their credit score. To circumvent potential problems,
      several months before applying for a mortgage try to pay down your credit
      cards, but do not close them. Although it may seem counterintuitive,
      closing them can negatively affect your credit score. Obtain a copy of
      your credit report so you can dispute any errors you find. Do not apply
      for credit unless you really need it and start paying bills on time if you
      do not already do so. Your recent history is counted heavily. If your
      credit history is sparse, take out a small loan or obtain a bank credit
      card or store charge card and make timely payments. Try not to change
      jobs.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="2"></a>How can I lock in a mortgage rate most effectively?
    </h3>

    <p>
      A lock-in, also called a rate-lock or rate commitment is a lender's
      promise to hold a specific interest rate and number of points for you
      while your loan application is processed. A lock-in is typically held for
      a specific amount of time as well. A lock-in that is quoted when you apply
      for a loan may be useful because during that time the mortgage rates may
      change and it's likely to take your lender several weeks or longer to
      prepare, document, and evaluate your loan application.
    </p>

    <p>
      But if your interest rate and points are locked in and rates increase you
      will be protected while your application is processed. Remember, however,
      that a locked-in rate could also prevent you from taking advantage of
      decreases in the interest rate unless your lender is willing to lock in a
      lower rate that becomes available during this period.
    </p>

    <p>When considering a lock-in, ask the following questions:</p>

    <ul>
      <li>Does the lender offer a lock-in of the interest rate and points?</li>
      <li>
        When will the lender let you lock in the interest rate and points?
      </li>
      <li>Will the lock-in be in writing?</li>
      <li>Does the lender charge a fee to lock in the interest rate?</li>
      <li>Does the fee increase for longer lock-in periods?</li>
      <li>
        If so, how much? If you have locked in a rate, and the lender's rate
        drops, can you lock in at the lower rate?
      </li>
      <li>
        Does the lender charge an additional fee to lock in the lower rate?
      </li>
      <li>
        Can you float your interest rate and points for now and lock them in
        later?
      </li>
      <li>
        What rate will be charged if the lock-in expires before settlement? Will
        it be the rate in effect when the lock-in expires?
      </li>
      <li>
        If you don't settle within the lock-in period, will the lender refund
        some or all of your application or lock-in fees if you decide to cancel
        the loan application?
      </li>
      <li>
        If your lock-in expires and you want to get another lock-in at the rate
        in effect at the time of the expiration, will the lender charge an
        additional fee for the second lock-in?
      </li>
    </ul>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="3"></a>How are escrow payments calculated?
    </h3>

    <p>
      An escrow account is a fund that your lender establishes in order to pay
      property taxes and hazard insurance as they become due on your home during
      the year. The lender uses the escrow account to safeguard its investment,
      which is your home. Similarly, if you neglected to pay the hazard
      insurance premium, then a fire or flood that destroyed your home also
      would destroy the lender's security for the loan.
    </p>

    <p>
      The goal of the escrow account is to have enough money to pay taxes and
      insurance when they become due. To achieve this, the lender adds
      one-twelfth of the tax and insurance amount to your mortgage payment each
      month. For example, if your taxes and insurance are $1,200 per year, the
      lender would collect $1,200 in twelve installments of $100 per month.
    </p>

    <p>
      To cover possible tax or insurance increases, the federal Real Estate
      Settlement Procedures Act (RESPA) permits the lender to add to the yearly
      amount two months of extra payments prorated monthly. So, the lender would
      collect an additional $200 divided by 12, or $16.67 per month, for a total
      escrow payment of $116.67 per month
    </p>

    <p>
      Mortgage services are required by federal law to make payments for taxes,
      insurance, and any other escrowed items on time. Within 45 days of
      establishing the account, the servicer must give you a statement that
      clearly itemizes the estimated taxes, insurance premiums and other
      anticipated amounts to be paid over the next 12 months, and the expected
      dates and totals of those payments.
    </p>
    <p>
      You should also receive a free annual statement from the mortgage services
      that outlines activity in your escrow account such as account balances and
      when payments were made for property taxes, homeowners insurance, and
      other escrowed items.
    </p>

    <p>
      To determine if you are being charged correctly, compare your escrow
      payments with what you owe annually on your hazard insurance and property
      taxes. You can get this information from your local tax authority and your
      insurance company. If the lender charges you substantially less than the
      required amount, you will need to pay an additional lump sum at the end of
      the year. If the lender charges you substantially more, it may tie up your
      money unfairly, as well as violate the RESPA regulations.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="4"></a>What should I do if my bank or other mortgage lender sells
      my mortgage?
    </h3>

    <p>
      To protect borrowers, the National Affordable Housing Act requires lenders
      or mortgage servicers (the company that borrowers pay their mortgage loan
      payments to) to do the following.
    </p>

    <ul>
      <li>
        <p>
          They must provide a disclosure statement that says whether the lender
          intends to sell the mortgage servicing immediately; whether the
          mortgage servicing can be sold at any time during the life of the
          loan; and the percentage of loans the lender has sold previously.
        </p>
      </li>
      <li>
        <p>
          The lender also must provide information about servicing procedures,
          transfer practices, and complaint resolution.
        </p>
      </li>
    </ul>

    <p>
      They must notify you at least 15 days before they sell your loan unless
      you received a written transfer notice at settlement. If your loan
      servicing is going to be sold, you should receive two notices, one from
      the current mortgage servicer and one from the new mortgage servicer. The
      new servicer must notify you not more than 15 days after the transfer has
      occurred.
    </p>

    <p>The notices must include the following information:</p>

    <ul>
      <li><p>The name and address of the new servicer</p></li>
      <li>
        <p>
          The date the current servicer will stop accepting mortgage payments,
          and the date the new servicer will begin accepting them
        </p>
      </li>
      <li>
        <p>
          Toll-free or collect call telephone numbers for both the current
          servicer and the new servicer that you can call for information about
          the transfer of service
        </p>
      </li>
      <li>
        <p>
          Information about whether you can continue any optional insurance,
          such as credit life or disability insurance; what action you must take
          to maintain coverage; and whether the insurance terms will change
        </p>
      </li>
      <li>
        <p>
          A statement that the transfer will not affect any terms or conditions
          of the contract you signed with the original mortgage company, other
          than terms directly related to the servicing of such loan
        </p>
      </li>
    </ul>

    <p>
      For example, if your old lender did not require an escrow account, but
      allowed you to pay property taxes and insurance premiums on your own, the
      new servicer cannot demand that you establish such an account. They must
      grant a 60-day grace period, in which you cannot be charged a late fee if
      you mistakenly send your mortgage payment to the old mortgage servicer
      instead of the new one.
    </p>

    <p>
      If you believe you have been improperly charged a penalty or late fee, or
      there are other problems with the servicing of your loan, contact your
      servicer in writing. Include your account number and explain why you
      believe your account is incorrect.
    </p>

    <p>
      Within 20 business days of receiving your inquiry, the servicer must send
      you a written response acknowledging your inquiry. Within 60 business
      days, the servicer must either correct your account or determine that it
      is accurate. The servicer must send you a written notice of what action it
      took and why.
    </p>

    <p>
      If you believe the servicer has not responded appropriately to your
      written inquiry, contact your local or state consumer protection office.
      You can also file a complaint with the
      <a
        href="https://www.ftccomplaintassistant.gov/?utm_source=takeaction#crnt&amp;panel1-1"
        >FTC</a
      >. Or, you may want to contact an attorney to advise you of your legal
      rights. Under the National Affordable Housing Act, consumers can initiate
      class-action suits and obtain actual damages, plus additional damages, for
      a pattern or practice of noncompliance.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="5"></a>When can I stop paying Private Mortgage Insurance (PMI)?
    </h3>

    <p>
      Generally, if you make a down payment of less than 20 percent when buying
      a home, the lender will require you to buy private mortgage insurance
      (PMI). You can usually drop the PMI when your home equity is more than 20
      percent. Making extra payments, home improvements, and appreciation can
      all help increase equity and reduce the length of time that you have to
      pay PMI. Thanks to new regulations, it's now easier for people to cancel
      PMI when their home equity reaches 20 percent; however, some
      government-insured loans such as FHA and VA loans require that homeowners
      pay PMI for the life of the loan.
    </p>

    <p>
      To find out whether you can cancel PMI, call your lender or mortgage
      servicing company (the company to which you send your mortgage payments)
      and ask what steps you need to take to cancel it. You will be required to
      request it in writing, but by calling first you can make sure you have
      included all of the necessary information when you submit your request.
    </p>

    <p>
      In most cases, you will be required to pay for a formal appraisal. When
      you call the lender ask whether you can set up the appraisal or if it's
      something the lender needs to do. Lenders also take a close look at your
      payment history, so it's important to have made your payments on time. One
      other thing to keep in mind is that if you rent your home out, most
      lenders will require a higher equity percentage before dropping PMI.
    </p>

    <p>
      If your request is approved, you will receive any pre-paid premiums that
      are in your escrow account.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="6"></a>How can I avoid paying Private Mortgage Insurance (PMI)?
    </h3>

    <p>
      Lenders usually require private mortgage insurance if the loan is more
      than 80 percent of the home's purchase price, but even if you don't have
      the standard 20 percent down-payment, you can avoid paying private
      mortgage insurance in other ways. Some buyers go for 80-10-10 financing,
      which means that they put 10 percent down and take out a first mortgage
      for 80 percent of the purchase price. Sellers sometimes will carry a 10
      percent second mortgage. Otherwise, you can finance the remainder through
      institutional lenders, which often charge a point above the first
      mortgage's rate.
    </p>

    <p>
      If you only have 5 percent to put down, you may still be able to do the
      deal. You will pay a much higher interest rate on a 15 percent second
      mortgage, however.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor"><a name="7"></a>Should I prepay my mortgage?</h3>

    <p>
      As a general rule, if you are able to prepay your mortgage (and if there
      is no penalty for pre-payment), it makes good financial sense to prepay as
      much as you can every month, but there are some exceptions. For example:
    </p>

    <ol>
      <li>
        <p>
          You do not have an emergency fund stashed away. Once you've put away
          three to six months' worth of living expenses, then you can begin
          paying down your mortgage.
        </p>
      </li>
      <li>
        <p>
          You have a large amount of credit card debt. In such a case, all of
          your extra funds should be used to pay down those debts.
        </p>
      </li>
      <li>
        There are a few individuals who might be better off not paying down
        their mortgages since they will achieve a better return by investing
        that money elsewhere. Whether an investor fits into this category
        depends on his or her marginal tax rate, mortgage interest rate, return
        achievable on investments, and long-term investment goals.
      </li>
    </ol>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor"><a name="8"></a>When should I refinance my home?</h3>

    <p>
      Refinancing becomes worth your while if the current interest rate on your
      mortgage is at least 2 percentage points higher than the prevailing market
      rate. Talk to several lenders to find out the current refinancing rates
      and what costs are associated with refinancing. Costs can include items
      such as appraisals, attorney's fees, and points.
    </p>

    <p>
      Once you have an estimate of what the costs might be, figure out what your
      new payment would be if you were to refinance. You can estimate how long
      it will take to recover the costs of refinancing by dividing your closing
      costs by the difference between your new and old payments (your monthly
      savings). Be aware, however, that the amount you ultimately save depends
      on many factors, including your total refinancing costs, whether you sell
      your home in the near future, and the effects of refinancing on your
      taxes.
    </p>

    <p>
      Refinancing can be a good idea for homeowners who want to get out of a
      high-interest rate loan to take advantage of lower rates or those who have
      an adjustable-rate mortgage (ARM) and want a fixed-rate loan in order to
      know exactly what the mortgage payment will be for the life of the loan.
      It is also a good idea for those who want to convert to an ARM with a
      lower interest rate or more protective features than the ARM they
      currently have. Finally, refinancing is recommended for those who want to
      build up equity more quickly by converting to a loan with a shorter term
      or want to draw on the equity built up in their house to get cash for a
      major purchase or for their children's education.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor"><a name="9"></a>Should I pay off my mortgage?</h3>

    <p>
      The rule of thumb is to pay off your mortgage if there aren't any better
      uses for your money. As far as loans go, mortgages have moderate interest
      rates, and interest payments are tax-deductible. However, any investment
      that yields substantially more than the interest rate on your mortgage
      (such as tax-deferred retirement plans) is probably a good alternative.
      Paying off credit card balances is also a better use of your money than
      paying off a mortgage, but if you know you will just spend the money
      otherwise, paying off your mortgage is a good idea.
    </p>

    <p>
      Before you make any extra payments, make sure that your loan has no
      prepayment penalty. If so, then you can make an extra payment once a year,
      pay every two weeks instead of every month, or just send in whatever you
      can afford above your normal monthly mortgage payment. The larger the
      extra payment and the sooner you make it, the faster your mortgage will be
      paid off--and the more you will save in interest. Contact your lender to
      make sure your payments will be credited toward principal rather than
      future payments. There is no need to pay a third party to arrange extra
      mortgage payments.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="10"></a>What are the different options for mortgages?
    </h3>

    <p>
      There are two basic kinds of mortgages: fixed-rate and adjustable.
      Fixed-rate mortgages carry the lowest risk and are an especially good deal
      when interest rates are low. Adjustable-rate mortgages typically cost
      less, but they can become expensive if interest rates rise substantially.
      Some of them also amortize negatively, which means that your payment does
      not cover all of the loan's interest for the month. Your balance will
      increase, and you will owe interest on the interest. You can get either
      loan for different terms, typically 15 or 30 years.
    </p>

    <p>
      There are now many different kinds of mortgages that combine aspects of
      both fixed-rate and adjustable loans. A mortgage may start as a fixed-rate
      loan, for example, and then convert to an adjustable after several years.
      One loan that has been around a long time is a balloon mortgage. It has
      low, fixed payments for a period of years, and then the entire loan comes
      due. Considered very risky, it is sometimes used by a seller to help a
      buyer with the down payment. Banks now offer balloon mortgages that can
      convert to fixed-rate or adjustable mortgages.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor">
      <a name="11"></a>How do I choose between low rates and low points on a
      mortgage?
    </h3>

    <p>
      Get a lower interest rate and pay more points if you intend to live in
      your house for a long time. Points are an up-front interest fee that
      generally increases as the mortgage interest rate decreases. Trading this
      fee for a higher interest rate will cost more over the life of the loan.
    </p>

    <p>
      If you plan to be in your house for less than five years, however, it is
      less expensive in the long run to avoid paying points by taking a higher
      interest rate. You also might want to take the higher interest rate if it
      means you can then put enough cash down to avoid private mortgage
      insurance.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>

    <h3 class="cellcolor"><a name="12"></a>Which mortgage is best for me?</h3>

    <p>
      It may depend on how much risk you can tolerate. A traditional 30-year,
      fixed-rate mortgage is still the safest way to go. Your monthly payment
      stays the same for the life of the loan. You are protected from increases
      in interest rates, and if rates go lower, you can always refinance.
    </p>

    <p>
      An adjustable-rate mortgage, or ARM, is riskier but often less costly.
      ARMs typically offer below-market teaser rates and then adjust according
      to current interest rates as often as every few months. These loans set
      caps on the interest rate and the amount it can ratchet up each period. Be
      careful of loans that have payment caps because they can leave you owing
      more money on your mortgage each time you make a payment if interest rates
      rise quickly. ARMs are best for people who need initially lower monthly
      payments, who expect their income to rise, or who expect to live in their
      home for five years or less.
    </p>

    <p>
      Mortgages with 30-year terms are still the most popular although 15-year
      mortgages are gaining favor among people who want to build equity faster
      at a lower cost. Many homeowners with 30-year mortgages, however, can also
      lower their costs and shorten the term of their loans by paying extra each
      month.
    </p>

    <p><a href="#top"></a></p>
    <!-- <div><a href="#top">Back To Top</a></div> -->
    <p></p>
  </div>
  <!-- faq  -->
</div>
