<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/industries">Industries</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/hospitality">Hospitality</span>
    </li>
  </ol>
</nav>
<app-heading heading="Hospitality"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>Accounting Services for the Hospitality Industry</strong>
        </h2>
        <p>
          Competitive and cyclical in nature, many restaurants and hotels
          operate on a slim margin subject to the whims of tourism trends,
          weather, and other factors beyond anyone's control.
        </p>
        <p>
          From assistance with financing options to structuring “the deal” and
          projecting revenues, it's vital to use a tax and accounting firm that
          understands the financial and operational challenges faced by
          businesses in the hospitality industry. &nbsp;
        </p>
        <p>
          When you hire accounting and tax professionals that specialize in
          hospitality-related businesses, you get more than a general business
          accounting firm. We also handle industry-specific issues that arise
          such as state and local government tax incentives, R&amp;D tax credits
          and other deductions that reduce your tax liability, and in-depth
          knowledge of repair regulations, as well as sales and use tax.
        </p>
        <h3>Our Hospitality Accounting Services</h3>
        <ul>
          <li>Internal controls</li>
          <li>Audits, reviews, and compilations (financial statements)</li>
          <li>Cost segregation studies</li>
          <li>Operational and profitability reviews</li>
          <li>Sales and use tax</li>
          <li>Business tax incentives</li>
          <li>Payroll issues (tip reporting)</li>
          <li>Cash flow forecasting and revenue projections</li>
          <li>Financing assistance options</li>
          <li>Mergers and acquisitions</li>
          <li>Business and Real Estate Valuations</li>
          <li>Succession planning and exit strategies</li>
        </ul>
        <h3>Our Hospitality Clients:</h3>
        <ul>
          <li>Hotels and Hotel Developers</li>
          <li>Golf Resorts</li>
          <li>Entertainment Facilities</li>
          <li>Country Clubs</li>
          <li>Restaurant Franchises</li>
          <li>Family-owned and Independent Restaurants</li>
          <li>Race Tracks</li>
          <li>Wineries</li>
        </ul>
        <h3>Leave the Accounting to Us.</h3>
        <p>
          Our specialized accounting knowledge has helped numerous hotels,
          resorts, restaurants, and other hospitality-related businesses thrive
          and we're ready to help you too. Your customers deserve top-notch
          service and so do you.
        </p>
        <p>
          <strong
            >If you'd like to learn more about our hospitality accounting
            services, simply fill out the contact form below to get
            started.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block">
      <div class="text-center postion-sticky-top">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
