<br />Here are a few guides for other situations that might arise which require some basic knowledge to be able to handle appropriately<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/saving-money-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Saving Money: 10 Major Ways To Increase Your Nest Egg</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/recording-guide-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Recordkeeping Guide: How Long You Should Retain Your Records</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/documnent-locator-system-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Document Locator System: A Handy Aid For Keeping Track of Your Records</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/other-situation-faq']"
          routerLinkActive="router-link-active"
          ><b>Other Situations: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>Becoming A Millionaire</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
