<div id="fga">
  <p>
    The number of people who are financially unprepared for retirement is
    staggering. One study revealed that more than half of the adults in the U.S.
    were planning to depend solely on Social Security for retirement income.
    Another study indicated that the great majority of Americans do not save
    nearly enough money. This Financial Guide provides you with the information
    you need to get started on this important task.
  </p>

  <h3 class="cellcolor">Table of Contents</h3>
  <div id="toc">
    <ul>
      <li><a href="#1">Estimating Your Retirement Income</a></li>
      <li><a href="#2">Establishing Goals For Retirement</a></li>
      <li><a href="#3">Deciding on Investments</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    To enjoy your retirement years, you need to begin planning early. With
    longer life expectancies and the growing senior population, people need to
    begin planning and saving for retirement in their 30s or even sooner.
    Adequate planning can help to ensure that you will not outlive your savings
    and that you will not become financially dependent on others.
  </p>

  <p>
    It is never too late to start or to improve a retirement plan. This
    Financial Guide shows you the basics of retirement planning, and will enable
    you to get started or to revamp an existing plan. Basically, there are three
    steps to retirement planning:
  </p>

  <ol>
    <li>Estimating your retirement income</li>
    <li>Estimating your retirement needs</li>
    <li>Deciding on investments</li>
  </ol>

  <blockquote class="tip">
    In making estimates of future income needs and sources of income, be sure to
    estimate conservatively. This will ensure that you do not shortchange
    yourself.
    <p></p>
  </blockquote>

  <h3 class="cellcolor"><a name="1"></a>Estimating Your Retirement Income</h3>

  <p>
    Most people have three possible sources of retirement income: (1) Social
    Security, (2) pension payments, and (3) savings and investments. The income
    that will have to be provided through savings and investments (which you can
    plan for) can be determined only after you have estimated the income you can
    expect from Social Security and from any pension plans (over which you have
    little control).
  </p>

  <p><strong>Social Security</strong></p>

  <p>
    Estimate how much you can expect in the way of Social Security retirement
    income. To do this, you should file a "Request for Earnings and Benefits
    Estimate" with the Social Security Administration. This form can be obtained
    from SSA by calling their toll-free number: 800-772-1213. You can also
    request a benefits statement online through the Social Security
    Administrations Web Site.
  </p>

  <blockquote class="planning aid">
    <p>
      <strong>Planning Aid:</strong> You can also request a benefits statement
      online through the
      <a href="http://www.ssa.gov/">Social Security Administration's</a> Web
      site.
    </p>
  </blockquote>

  <blockquote class="note">
    Many people are being sent estimates of their future Social Security
    benefits without having to make a request. You may have received such an
    estimate in the mail.
    <p></p>
  </blockquote>

  <p>
    The amount of Social Security benefits you will receive depends on how long
    you worked, the age at which you begin receiving benefits, and your total
    earnings.
  </p>

  <p>
    If you wait until your full retirement age (65 to 67, depending on your year
    of birth) to begin receiving benefits, your monthly retirement benefit will
    be larger than if you elect to receive benefits beginning at age 62. The
    full retirement age will increase gradually to age 67 by the year 2027.
  </p>

  <blockquote class="caution">
    Be aware that Social Security benefits may be subject to income tax. The
    basic rule is that if your adjusted gross income plus tax-exempt interest
    plus half of your Social Security benefits are more than $25,000 for an
    individual or more than $32,000 for a couple, then some portion of your
    Social Security benefit will be subject to income tax. The amount that is
    subject to tax increases as the level of adjusted gross income goes up.
    <p></p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Also, if you earn income while you are
      receiving Social Security, your benefit may be decreased. For the specific
      rule, see the Related Financial Guide:
      <a
        href="?item=56&amp;cat=Social Security Benefits: How To Get The Maximum Amount"
        >SOCIAL SECURITY BENEFITS: How To Get The Maximum.</a
      >
    </p>
  </blockquote>

  <p><strong>Pension Plans</strong></p>

  <p>
    Estimate how much you can expect to receive from a traditional pension plan
    or other retirement plan. If you are covered by a traditional pension plan
    and you are vested, ask your employer for a projection of what you can
    expect to receive if you continue working until retirement age or under
    other circumstances, for example, if you terminate before retirement age.
    You may already have received such an estimate.
  </p>

  <p>
    If you are covered by a 401(k) plan, a profit-sharing plan, a Keogh plan, or
    a Simplified Employee Pension, make an estimate of the lump sum that will be
    available to you at retirement age. You may be able to get help with this
    estimate from your employer.
  </p>

  <blockquote class="tip">
    If you are in the military or formerly served in the military, contact the
    relevant branch of service to find out about retirement benefits.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Establishing Goals For Retirement</h3>

  <p>
    Determine how much income you will need (or want) after retirement. Once you
    have determined this amount, you can figure out how much you will need to
    put away to have a big enough nest egg to fund your desired income level.
  </p>

  <p>
    Many people don't realize that their retirement could last as long as their
    careers: 35 years or longer. Your nest egg may have to last much longer than
    you might think. Remember that the earlier you retire, the more you will
    have to save. If you want to retire at age 55, you'll have to save a lot
    more than if you retire at age 65.
  </p>

  <p>
    A general guideline is that you will want to have at least 70 percent of
    whatever income stream you have before retirement. If you have any special
    needs or desires, for example, a desire to travel extensively-the percentage
    should be adjusted upward. The 70 percent figure is not a substitute for a
    thorough analysis of your income needs after retirement, but is only a
    guideline.
  </p>

  <p>
    Here are some suggestions for estimating how much of an income stream you
    will want to have coming in after retirement:
  </p>

  <p>
    <em>Figure Your Current Annual Expenses.</em> The first step in trying to
    figure out what your annual expenses will be after retirement is to figure
    what your expenses are now. Take a year's worth of checkbook, credit card,
    and savings account records, and add up what you paid for insurance,
    mortgage, food, household expenses, and so on.
  </p>

  <p>
    <em>Figure Out How Your Expenses Will Differ After Retirement.</em> After
    you retire, your expenses will generally be a lot lower than they are while
    you are working. To help determine how much lower, here are some questions
    you might ask yourself:
  </p>

  <ul>
    <li>Will your mortgage be paid off?</li>
    <li>Will you still be paying for commuting expenses?</li>
    <li>How much will you pay for health insurance?</li>
  </ul>

  <blockquote class="tip">
    If you are not among the lucky few that will have post-retirement health
    insurance coverage from an ex-employer, you will probably pay more for
    health coverage after you retire and have to take out so-called "Medigap"
    coverage.
    <p></p>
  </blockquote>

  <ul>
    <li>Will you increase or decrease your life insurance coverage?</li>
    <li>
      How much will you pay for travel expenses? (Do you want to travel after
      you retire, either on vacation or to visit relatives? Will you be
      commuting between a winter and summer home?)
    </li>
    <li>Will you be spending more on hobbies after retirement?</li>
    <li>
      Will your children be financially independent by the time you retire or
      will you have to factor in some sort of support for them?
    </li>
    <li>Will your income tax bills be the same, lower, or higher?</li>
  </ul>

  <blockquote class="tip">
    If you are planning to retire to another state, take into account the
    different state taxes you will be paying.
    <p></p>
  </blockquote>

  <p>
    The answers to these questions will help you determine your estimated annual
    expenses after retirement. Then subtract from this estimate the anticipated
    annual income from already-viable sources. (Do not subtract the lump-sum
    payments you expect to receive, for example, lump sum payments from 401(k)
    plans, which will be discussed later). The difference is the annual
    shortfall that will have to be financed by the nest egg you will need to
    accumulate.
  </p>

  <p>
    How do you determine how much you need to save each year to accumulate a
    nest egg of that size by retirement age? You can do this by using the table
    below which, assumes an after-tax return of 5 percent per year. Just
    multiply the required nest egg by the Savings Multiplier for the number of
    years until retirement.
  </p>

  <blockquote class="example">
    You are 40 years old and want to retire at age 65. You determine that you
    need a nest egg of $350,000 to fund your annual shortfall. To find out how
    much you must save each year to have that $350,000 nest egg by the time you
    are 65, multiply $350,000 by the 25-year savings multiplier (2.1 percent).
    You will need to save $7,350 (2.1 percent times $350,000) a year for 25
    years.
    <p></p>
  </blockquote>

  <p>
    Subtract from this nest egg any lump sums that you expect to receive at
    retirement. To project the value at retirement of a present asset
    (retirement account, savings, investments, etc.); multiply the current value
    of this asset by the Growth Multiplier for the number of years until
    retirement.
  </p>

  <blockquote class="example">
    You already have $75,000 in a 401(k) plan. To find out what that amount will
    grow to in 25 years, multiply it by the growth multiplier for 25 years. This
    $75,000 will grow to $254,250 (339 percent times $75,000) by the time you
    retire. Subtract this $254,250 from the $350,000 needed in the previous
    example. This amount ($95,750) is the amount you must accumulate by age 65
    to meet the income shortfall. Multiply this $95,750 by the 25-year savings
    multiplier (2.1 percent). You now know that, after taking the projected lump
    sum into consideration, you will still need to save $2,010.75 per year to
    accumulate $95,750.
    <p></p>
  </blockquote>

  <p></p>
  <table cellspacing="0">
    <tbody>
      <tr>
        <td align="center">
          <strong
            ><u>Years Until Retirement</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
          >
        </td>
        <td align="center">
          <strong
            ><u>Savings Multiplier</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
          >
        </td>
        <td align="center">
          <strong
            ><u>Growth Multiplier</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
          >
        </td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">5</td>
        <td align="center" class="cellcolor">18.1%</td>
        <td align="center" class="cellcolor">128%</td>
      </tr>
      <tr>
        <td align="center">10</td>
        <td align="center" class="cellcolor">8.0%</td>
        <td align="center" class="cellcolor">163%</td>
      </tr>
      <tr>
        <td align="center">15</td>
        <td align="center" class="cellcolor">4.6%</td>
        <td align="center" class="cellcolor">208%</td>
      </tr>
      <tr>
        <td align="center">20</td>
        <td align="center" class="cellcolor">3.0%</td>
        <td align="center" class="cellcolor">265%</td>
      </tr>
      <tr>
        <td align="center">25</td>
        <td align="center" class="cellcolor">2.1%</td>
        <td align="center" class="cellcolor">339%</td>
      </tr>
      <tr>
        <td align="center">30</td>
        <td align="center" class="cellcolor">1.5%</td>
        <td align="center" class="cellcolor">432%</td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Deciding on Investments</h3>

  <p>
    Generally, the longer you have until retirement, the more of your savings
    should be invested in vehicles with a potential for growth. If you are very
    close to or at retirement, you may wish to put the bulk of your savings into
    low-risk investments. However, this formula is subject to your own financial
    profile: your tolerance for risk, your income level, your other sources of
    retirement income (e.g., pension payments), and your unique needs.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a href="?item=83&amp;cat=Investment Basics: What You Should Know"
        >INVESTMENT BASICS: What You Should Know.</a
      >
    </p>
  </blockquote>

  <p>
    Here is a summary of the pros and cons of various retirement-savings
    investments and their pros and cons. Please note that each of these is
    discussed in more detail in related Financial Guides.
  </p>

  <p></p>
  <h2>Tax-Deferred Retirement Vehicles</h2>
  <p></p>

  <p>
    Each year, maximize your deposits in a 401(k) plan, an IRA, a Keogh plan, or
    some other form of tax-deferred savings. Because this money grows
    tax-deferred, returns will be greater. Further, if the amount you put in is
    deductible, you are reducing your income tax base.
  </p>

  <p></p>
  <h2>Lowest Risk Investments</h2>
  <p></p>

  <p>
    Money market funds, CDs, and Treasury bills are the most conservative
    investments. However, of the three, only the Treasury bills offer a rate
    that will keep up with inflation. For the average individual saving for
    retirement, it is recommended that these vehicles make up only a portion of
    investments.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=84&amp;cat=Asset Allocation: How To Diversify For Maximum Return"
        >ASSET ALLOCATION: How To Diversify For Maximum Return.</a
      >
    </p>
  </blockquote>

  <p></p>
  <h2>Bonds</h2>
  <p></p>

  <p>
    Bonds provide a fixed rate of income for a certain period. The income from
    bonds is higher than income from Treasury bills.
  </p>

  <p>
    Bonds fluctuate in value depending on interest rates, and are thus riskier
    than the lowest risk investments. If bonds are used as a conservative
    investment, it is a good idea to use those of a shorter term, to minimize
    the fluctuation in value that might occur.
  </p>

  <p></p>
  <h2>Stocks</h2>
  <p></p>

  <p>
    Although common stock is riskier than any other investment yet discussed, it
    offers greater return potential.
  </p>

  <p></p>
  <h2>Mutual Funds</h2>
  <p></p>

  <p>
    Mutual funds are an excellent retirement savings vehicle. By balancing a
    mutual fund portfolio to minimize risk and maximize growth, a higher return
    can be achieved than with safer investments.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=92&amp;cat=Investing In Mutual Funds: The Time-Tested Guidelines"
        >INVESTING IN MUTUAL FUNDS: The Time-Tested Guidelines.</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
