<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services/tax-relief">Tax Relief</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/offer-in-compromise"
        >Offer In Compromise</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Offer In Compromise"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <p>
          Did you know that you can settle your debt with the IRS for less than
          the full amount you owe with their Offer in Compromise program? The
          program allows taxpayers to settle with the IRS on tax debt that has
          been incorrectly assessed or for liabilities they cannot afford to
          pay.
        </p>
      </div>
      <div style="text-align: left">
        <p>
          Did you know that you can settle your debt with the IRS for less than
          the full amount you owe with their Offer in Compromise program? The
          program allows taxpayers to settle with the IRS on tax debt that has
          been incorrectly assessed or for liabilities they cannot afford to
          pay.
        </p>
        <p>
          The IRS Code states: "We will accept an Offer in Compromise when it is
          unlikely that we can collect the full amount owed and the amount you
          offer reasonably reflects the collection potential..." (Internal
          Revenue Code section 7122).
        </p>
        <p>
          Often it is possible to fully and completely eliminate the taxes you
          owe - including all penalties and interest - at an enormous discount.
          There is no preset bottom limit that the IRS will accept to settle
          your debt especially if your offer is done "right."
        </p>
        <p>
          If done correctly your debt may be settled for only 5-15% of what you
          presently owe. The key is to determine the least amount that the IRS
          will accept from you before you make the offer.
        </p>
      </div>
      <p>
        Get a <b>free consultation</b> on the solutions to your tax problems by
        completing the form on the bottom of this page.
      </p>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
