<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources">Resources</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources/guides">Guides</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/resources/guides/life-events">Life Events</span>
    </li>
  </ol>
</nav>
<app-heading heading="Life Events"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <router-outlet></router-outlet>
      <!-- <br />Life is full of changes, and surprises. Use these guides to help you
      make sound financial decisions.<br /><br />
      <table width="100%">
        <tbody>
          <tr>
            <td>
              <a><b>Getting Married</b></a
              ><br /><a><b>Becoming a Parent</b></a
              ><br /><a><b>Preparing for College</b></a
              ><br /><a><b>Developing a Financial Plan</b> </a
              ><br /><a><b>Dealing with Your Bank</b></a
              ><br /><a><b>Improving Your Credit</b> </a
              ><br /><a><b>Choosing A Professional</b> </a
              ><br /><a><b>Buying Insurance</b>></a
              ><br /><a><b>Getting a Loan</b>></a
              ><br /><a><b>Planning For Retirement</b> </a
              ><br />
            </td>
            <td>
              <a><b>Buying &amp; Maintaining A Car</b> </a
              ><br /><a><b>Buying &amp; Selling A Home</b> </a
              ><br /><a><b>Planning Your Estate</b> </a
              ><br /><a><b>Making Charitable Contributions</b> </a
              ><br /><a><b>Avoiding Scams</b></a
              ><br /><a><b>Getting Divorced or Becoming Widowed</b> </a
              ><br /><a><b>Coping with Major Illness</b> </a
              ><br /><a><b>Coping with Death of a Loved One</b> </a
              ><br /><a><b>Improving Your Retirement</b> </a
              ><br /><a><b>Handling Other Situations</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
