<div id="fga">
  <p>
    Who is entitled to Social Security disability benefits? How is a
    "disability" determined? How long do payments continue? What happens when
    you reach retirement age? This Financial Guide provides information you
    should know about Social Security disability benefits in the event you or a
    loved one becomes disabled.
  </p>
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">General Information</a></li>
      <li><a href="#2">Taxation Of Benefits</a></li>
      <li><a href="#3">Benefit Payments</a></li>
      <li><a href="#4">Having A Child After Benefits Start</a></li>
      <li><a href="#5">Reaching Retirement Age</a></li>
      <li><a href="#6">Eligibility For Medicare</a></li>
      <li><a href="#7">Changes That Can Affect Your Benefits</a></li>
      <li><a href="#8">How To Report A Change</a></li>
      <li><a href="#9">Disability Case Reviews</a></li>
      <li><a href="#10">Work Incentives</a></li>
      <li><a href="#11">Benefits For Children and Students</a></li>
      <li><a href="#12">Your Right To An Appeal</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    Every family needs to plan for the possibility of a disabling illness that
    prevents a breadwinner from earning income. Here is a summary of the part
    that Social Security benefits will play in your disability insurance
    planning the amount you're entitled to and the rules that apply. This Guide
    also informs you of what changes you need to report to Social Security and
    the easiest ways to report them.
  </p>

  <h3 class="cellcolor"><a name="1"></a>General Information</h3>

  <p>
    An individual who is determined by the Social Security Administration to be
    "disabled" receives an Award Letter, which is a notice of decision that
    explains how much the disability benefit will be and when payments start. It
    also tells you when you can expect your condition to be reviewed to see if
    there has been any improvement
  </p>

  <blockquote class="aid">
    <p>
      <strong>Planning Aid:</strong>
      <a href="https://www.ssa.gov/pubs/EN-05-10029.pdf">Disability Benefits</a>
      gives a general overview of social security disability benefits.
    </p>
  </blockquote>

  <blockquote class="caution">
    <p>
      You never have to pay for information or service at Social Security. Some
      businesses advertise that they can provide name changes, Social Security
      cards, or earnings statements for a fee. All these services are provided
      free by Social Security.
    </p>
  </blockquote>

  <p>
    Generally, a worker is entitled to disability if he or she (1) is "insured"
    for disability (i.e., has accumulated sufficient credits in the Social
    Security system), (2) is under age 65, (3) has been disabled or is expected
    to be disabled for at least 12 months, (4) has filed an application for
    benefits, and (5) has completed a five-month waiting period. In general, to
    get disability benefits, you must meet two different earnings tests:
  </p>
  <ul>
    <li>
      A "recent work" test based on your age at the time you became disabled;
      and
    </li>
    <li>
      A "duration of work" test to show that you worked long enough under Social
      Security.
    </li>
  </ul>
  <p></p>

  <p>Certain blind workers have to meet only the "duration of work" test.</p>

  <p>
    Disability is generally defined as the inability to perform substantial
    gainful activity due to a medical or mental impairment. Social Security pays
    benefits to people who cannot work because they have a medical condition
    that is expected to last at least one year or result in death. Federal law
    requires this very strict definition of disability and meeting this
    definition under Social Security is difficult.
  </p>

  <p>
    If you are getting disability benefits on your own work record or on a
    deceased spouse's record, your payments cannot begin before the sixth full
    month of disability. If the sixth month has passed, your first payment may
    include some back benefits.
  </p>

  <blockquote class="note">
    <p>
      Your Social Security disability benefit may be reduced if you are eligible
      for workers' compensation, other public disability payments, or a pension
      from a job where you did not have to pay Social Security taxes (discussed
      later). You can expect your payment amount to go up in future years.
      Whenever the cost of living goes up in a year, benefits will be increased
      by that amount the following January. If there is an increase, then you
      will get a notice telling you about it.
    </p>
  </blockquote>

  <blockquote class="caution">
    <p>
      If a person claiming to be a Social Security employee visits you to talk
      about Social Security or SSI, ask for identification. A bona fide Social
      Security employee will be glad to show you proper identification. If you
      have any doubts, check with SSA. Remember: Social Security employees will
      never ask you for money to have something done. It is their job to help
      you.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Taxation of Benefits</h3>

  <p>
    Some people who get Social Security have to pay taxes on their benefits.
    About one-third of our current beneficiaries pay taxes on their benefits.
    You will be affected only if you have substantial income in addition to your
    Social Security benefits. If you file a federal tax return as an
    "individual" and your combined income is more than $25,000, you have to pay
    taxes. Combined income is defined as your adjusted gross income + Nontaxable
    interest + 1/2 of your Social Security benefits. If you file a joint return,
    you may have to pay taxes if you and your spouse have a combined income that
    is more than $32,000. If you are married and file a separate return, then
    you will probably pay taxes on your benefits.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Benefit Payments</h3>

  <p></p>
  <h2>When to Expect Them</h2>
  <p></p>

  <p>
    Your check should arrive on the third day of every month. If the third falls
    on a Saturday, Sunday, or legal holiday, then you will receive your check on
    the last banking day before that day. The check you receive is the benefit
    for the previous month, i.e., the check you receive dated July 3 is for the
    month of June.
  </p>

  <p></p>
  <h2>Form of Payment</h2>
  <p></p>

  <p>
    Your benefit can either be deposited directly into your bank account or paid
    through the Direct Express card program. The money is deposited on the
    second, third, or fourth Wednesday, depending on your day of birth. For more
    information:
    <a href="https://www.socialsecurity.gov/pubs/EN-05-10031-2022.pdf"
      >Schedule of Social Security Benefit Payments for 2022</a
    >.
  </p>

  <p>
    <strong>Direct Deposit.</strong> Direct deposit of your check is safe,
    reliable, and convenient.
  </p>

  <p>
    Questions about direct deposit and Direct Express can be answered by your
    financial institution or any Social Security office.
  </p>

  <p>
    <strong>Direct Express.</strong> Direct Express is a prepaid debit card that
    does not require a bank account, but still gives you the same advantages of
    direct deposit.
  </p>
  <blockquote class="tip">
    <p>
      It is especially important to tell Social Security about any change in
      your mailing address when you receive your benefits by direct deposit. If
      you decide to change the account or the financial institution where your
      benefits are going, it is important to keep the old account open until the
      first benefit is received in your new account. It usually takes one or two
      months to process the change from one bank or account to another.
    </p>
  </blockquote>

  <p></p>
  <h2>Duration of Payments</h2>
  <p></p>

  <p>
    Your disability benefits generally continue for as long as you cannot work
    and your impairment has not medically improved. They will not necessarily
    continue indefinitely, however. Because of advances in medical science and
    rehabilitation techniques, an increasing number of people with disabilities
    recover from serious accidents and illnesses. Also, many individuals,
    through determination and effort, overcome serious conditions and return to
    work in spite of them.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Having a Child After Benefits Start</h3>

  <p>
    If you become the parent of a child after you begin receiving Social
    Security benefits and the child is in your care, be sure to notify SSA so
    that the child can also receive benefits.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Reaching Retirement Age</h3>

  <p>
    If you are still getting disability benefits when you reach full retirement
    age, your benefits will be automatically changed to retirement benefits,
    generally in the same amount. You will then receive a new booklet explaining
    your rights and responsibilities as a retired person. If you are a disabled
    widow or widower, your benefits will be changed to regular widow or widower
    benefits (at the same rate) at 60, and you will receive a new instruction
    booklet that explains the rights and responsibilities for people who get
    survivors benefits.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Eligibility for Medicare</h3>

  <p>
    After you receive disability benefits for 24 months, you will be eligible
    for Medicare. You will get information about Medicare several months before
    your coverage starts. If you have permanent kidney failure requiring regular
    dialysis or a transplant or you have amyotrophic lateral sclerosis (Lou
    Gehrig's disease), you may qualify for Medicare almost immediately.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>Changes That Can Affect Your Benefits
  </h3>

  <p>
    You should promptly report any changes that may affect your disability
    benefits. Family members receiving benefits also should report events that
    might affect their checks. The events that must be reported are explained in
    this section.
  </p>

  <p></p>
  <h2>
    If you work while receiving disability payments
    <p></p>
  </h2>

  <p>
    Notify SSA if you take a job or become self-employed, no matter how little
    you earn. Let them know how many hours you expect to work and when your work
    starts or stops. If you still are disabled, then you will be eligible for a
    trial work period, and you can continue receiving benefits for up to nine
    months. Also, tell SSA if you have any special work expenses because of your
    disability (such as specialized equipment, a wheelchair or even prescription
    drugs) or if there is any change in the amount of those expenses.
  </p>

  <p></p>
  <h2>
    If you receive other disability benefits
    <p></p>
  </h2>

  <p>
    Social Security benefits for you and your family may be reduced if you also
    are eligible for workers' compensation (including payments through the black
    lung program) or for disability benefits from certain federal, state or
    local government programs. You must tell SSA if:
  </p>

  <ul>
    <li>You apply for another type of disability benefit;</li>
    <li>You receive another disability benefit or a lump-sum settlement; or</li>
    <li>Your benefits change or stop.</li>
  </ul>

  <p></p>
  <h2>
    If you are offered services under the Ticket to Work Program
    <p></p>
  </h2>
  <p>
    Social Security may send you a Ticket that you can use to obtain services to
    help you go to work or earn more money. You may take the Ticket to your
    state vocational rehabilitation agency or to an Employment Network of your
    choice. Employment Networks are private organizations that have agreed to
    work with Social Security to provide employment services to beneficiaries
    with disabilities. Your participation in the Ticket Program is voluntary and
    the services are provided at no cost to you.
  </p>

  <p></p>
  <h2>
    If you move
    <p></p>
  </h2>

  <p>
    When you plan to move, give SSA your new address and phone number as soon as
    you know them. Also, let them know the names of any family members who are
    getting benefits and are moving with you. Even if you receive your benefits
    by direct deposit, the social security office must have your correct address
    so they can send letters and other important information to you. Your
    benefits will be stopped if they are unable to contact you. You can change
    your address
    <a href="https://secure.ssa.gov/apps6z/ICOA/coa001.jsp">here</a>. Be sure
    you also file a change of address with your post office.
  </p>

  <p></p>
  <h2>
    If you change direct deposit accounts
    <p></p>
  </h2>

  <p>
    If you change financial institutions or open a new account, be sure to say
    that you want to sign up for direct deposit. You also can change your direct
    deposit online if you have a personal identification number and a password.
    Or, SSA can change your direct deposit information over the telephone. Have
    your new and old bank account numbers handy when you call. It takes about
    30-60 days to change this information. Do not close your old account until
    after you make sure your Social Security benefits are being deposited into
    the new account.
  </p>

  <p></p>
  <h2>
    If you are unable to manage your benefits
    <p></p>
  </h2>

  <p>
    Sometimes people are unable to manage their money. When this happens, Social
    Security should be notified. They can arrange to send benefits to a relative
    or other person who agrees to use the money to take care of the person for
    whom the benefits are paid. The person who manages someone else's benefits
    is called a "representative payee."
  </p>

  <blockquote class="note">
    <p>
      People who have "power of attorney" for someone do not automatically
      qualify to be the person's representative payee. For more information, ask
      Social Security for
      <a href="http://www.ssa.gov/pubs/EN-05-10076.pdf"
        >A Guide For Representative Payees</a
      >
      (Publication No. 05-10076).
    </p>
  </blockquote>

  <p></p>
  <h2>
    If you get a pension from work not covered by Social Security
    <p></p>
  </h2>

  <p>
    If you start receiving a pension from a job for which you did not pay Social
    Security taxes - such as the federal civil service system, some state or
    local pension systems, nonprofit organizations or a foreign government -
    your Social Security benefit may be reduced. Also, be sure to notify SSA if
    the amount of your pension changes.
  </p>

  <p></p>
  <h2>
    If you get married or divorced
    <p></p>
  </h2>

  <p>
    If you get married or divorced, your Social Security benefits may be
    affected, depending on the kind of benefits you receive.
  </p>

  <p>
    If your benefits are stopped because of marriage or remarriage, they may be
    started again if the marriage ends.
  </p>

  <p></p>
  <h2>
    If you change your name
    <p></p>
  </h2>

  <p>
    If you change your name, either by marriage, divorce or court order, you
    need to tell SSA right away. If you do not give them this information, your
    benefits will be issued under your old name and, if you have direct deposit,
    payments may not reach your account. If you receive checks, you may not be
    able to cash them if your identification is different from the name on your
    check.
  </p>

  <p></p>
  <h2>
    If you care for a child who receives benefits
    <p></p>
  </h2>

  <p>
    If you receive benefits because you are caring for a disabled worker's child
    who is younger than age 16 or disabled, notify SSA right away if the child
    leaves your care. You must give them the name and address of the person with
    whom the child is living.
  </p>

  <p>
    A temporary separation may not affect your benefits if you continue to have
    parental control over the child, but your benefits will stop if you no
    longer have responsibility for the child. If the child returns to your care,
    SSA can start sending your benefits to you again.
  </p>

  <p>
    Your benefits usually stop when the youngest, unmarried child in your care
    reaches age 16, unless the child is disabled.
  </p>

  <p></p>
  <h2>
    If you become a parent after entitlement
    <p></p>
  </h2>

  <p>
    If you become the parent of a child after entitlement (including an adopted
    child) let SSA know so that they can determine if the child qualifies for
    benefits.
  </p>

  <p></p>
  <h2>
    If a child receiving benefits is adopted
    <p></p>
  </h2>

  <p>
    When a child who is receiving benefits is adopted by someone else, let SSA
    know his or her new name, the date of the adoption decree, and the adopting
    parent's name and address. The adoption will not cause the child's benefits
    to stop.
  </p>

  <p></p>
  <h2>
    If you have an outstanding warrant for your arrest
    <p></p>
  </h2>

  <p>
    You must tell SSA if you have an outstanding arrest warrant for any of the
    following felony offenses:
  </p>

  <ul>
    <li>Flight to avoid prosecution or confinement;</li>
    <li>Escape from custody; and</li>
    <li>Flight-escape.</li>
  </ul>

  <p>
    You cannot receive regular disability benefits, or any underpayments you may
    be due for any month in which there is an outstanding arrest warrant for any
    of these felony offenses.
  </p>

  <p></p>
  <h2>
    If you are convicted of a crime
    <p></p>
  </h2>

  <p>
    Tell SSA right away if you are convicted of a crime. Regular disability
    benefits or any underpayments that may be due are not paid for the months a
    person is confined for a crime, but any family members who are eligible for
    benefits based on that person's work may continue to receive benefits.
  </p>

  <p>
    Monthly benefits or any underpayments that may be due usually are not paid
    to someone who commits a crime and is confined to an institution by court
    order and at public expense. This applies if the person has been found:
  </p>

  <ul>
    <li>
      Not guilty by reason of insanity or similar factors (such as mental
      disease, mental defect or mental incompetence); or
    </li>
    <li>Incompetent to stand trial.</li>
  </ul>

  <p></p>
  <h2>
    If you violate a condition of parole or probation
    <p></p>
  </h2>

  <p>
    You must tell SSA if you are violating a condition of your probation or
    parole imposed under federal or state law. You cannot receive regular
    disability benefits or any underpayment that may be due for any month in
    which you violate a condition of your probation or parole.
  </p>

  <p></p>
  <h2>
    If you leave the United States
    <p></p>
  </h2>

  <p>
    If you are a U.S. citizen, you can travel to or live in most foreign
    countries without affecting your Social Security benefits. There are,
    however, a few countries where Social Security payments generally cannot be
    sent to. These countries are Azerbaijan, Belarus, Georgia, Kazakhstan,
    Kyrgyzstan, Moldova, Tajikistan, Turkmenistan, Ukraine, Uzbekistan, and
    Vietnam. In addition, U.S. Department of the Treasury regulations prohibit
    making payments if you are in Cuba or North Korea.
  </p>

  <p>
    Let SSA know if you plan to go outside the United States for a trip that
    lasts 30 days or more. Tell SSA the name of the country or countries you
    plan to visit and the date you expect to leave the United States.
  </p>
  <p>
    They will send you special reporting instructions and tell you how to
    arrange for your benefits while you are away. Be sure to notify SSA when you
    return to the United States.
  </p>

  <p>
    If you are not a U.S. citizen and you return to live in the United States,
    you must provide evidence of your non-citizen status in order to continue
    receiving benefits. If you work outside the United States, different rules
    apply in determining whether you can get your benefits.
  </p>

  <p>
    For more information, ask any Social Security office for a copy of
    <a href="https://www.ssa.gov/pubs/EN-05-10137.pdf"
      >Your Payments While You Are Outside The United States</a
    >
    (Publication No. 05-10137).
  </p>

  <p></p>
  <h2>
    If your citizenship status changes
    <p></p>
  </h2>

  <p>
    If you are not a U.S. citizen, let SSA know if you become a U.S. citizen or
    if your non-citizen status changes. If your immigration status expires, you
    must give SSA new evidence that shows you continue to be in the United
    States lawfully.
  </p>

  <p></p>
  <h2>
    If a beneficiary dies
    <p></p>
  </h2>

  <p>
    Let SSA know if a person receiving Social Security benefits dies. Benefits
    are not payable for the month of death. That means if the person died at any
    time in July, for example, the check received in August (which is payment
    for July) must be returned. If direct deposit is used, also notify the
    financial institution of the death as soon as possible so it can return any
    payments received after death.
  </p>

  <p>
    Family members may be eligible for Social Security Survivors Benefits when a
    person getting disability benefits dies.
  </p>

  <p></p>
  <h2>
    If you are receiving Social Security and Railroad Retirement benefits
    <p></p>
  </h2>

  <p>
    If you are receiving both Social Security and Railroad Retirement benefits
    based on your spouse's work and your spouse dies, you must tell SSA
    immediately. You no longer will be eligible to receive both benefits. You
    will be notified which survivor benefit you will receive.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>How to Report a Change</h3>

  <p>
    You can report a change by simply calling the Social Security Administration
    at (800) 772-1213 or visiting any SSA office. You can also visit the
    <a href="http://ssa.gov/onlineservices"
      >Social Security Administration website</a
    >. If you send a report by mail, be sure to include the following
    information:
  </p>

  <ul>
    <li>
      Your name, and if different, the name and Social Security claim number of
      the person on whose account you get benefits
    </li>
    <li>Name of person(s) about whom the report is made</li>
    <li>Your Social Security claim number</li>
    <li>What new information is being reported</li>
    <li>Date of the change</li>
    <li>Your signature, address, phone number, and date</li>
  </ul>

  <p>
    If you are getting benefits on somebody else's record (e.g., a spouse), SSA
    needs his or her Social Security number as well.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>Disability Case Reviews</h3>

  <p>
    Under federal law, all disability cases must be reviewed from time to time.
    This review is to make sure that people receiving benefits are still
    considered disabled and meet all other requirements. Your benefits generally
    will continue unless there is strong proof that your condition has medically
    improved and there is evidence that you are able to return to work.
  </p>

  <p></p>
  <h2>Frequency of Reviews</h2>
  <p></p>

  <p>
    How often your case is reviewed depends on the severity of your condition
    and the likelihood of improvement. The frequency can range from six months
    to seven years. Your Certificate of Award states when you can expect your
    first review.
  </p>

  <p>Here are general guidelines for reviews:</p>

  <ul>
    <li>
      <strong>Improvement expected</strong> - If medical improvement can be
      predicted when benefits start, your first review should be six to 18
      months later.
    </li>
    <li>
      <strong>Improvement possible</strong> - If medical improvement is possible
      but cannot be predicted, your case will be reviewed about every three
      years.
    </li>
    <li>
      <strong>Improvement not expected</strong> - If medical improvement is not
      likely; your case will be reviewed only about once every five to seven
      years.
    </li>
  </ul>

  <p></p>
  <h2>What Happens During a Review</h2>
  <p></p>

  <p>
    After you get a letter announcing the review, someone from your Social
    Security office will contact you to explain the review process and your
    appeal rights. You will be asked to provide information about any medical
    treatment you have received and any work you might have done. Then your file
    will be sent to the state agency that makes disability decisions for Social
    Security. An evaluation team that includes a disability examiner and a
    doctor will carefully review your file and request your medical reports. If
    reports are not complete or current enough, you may be asked to have a
    special examination or test that the government will pay for.
  </p>

  <p>
    Once a decision is reached, SSA will send you a letter explaining it. If SSA
    decides you are still disabled, your benefits will continue. If they decide
    you are no longer disabled, you can file an appeal (see below); otherwise,
    your benefits will stop three months after SSA determined that your
    disability ended.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="10"></a>The Ticket to Work Program</h3>

  <p>
    Even after you start receiving disability benefits, you may want to try
    working again. Under this program, Social Security and Supplemental Security
    Income disability beneficiaries can get help with training and other
    services they need to go to work at no cost to them. Most beneficiaries will
    receive a "ticket" that they can take to a provider of their choice who can
    offer the kind of services they need. To learn more about this program, ask
    for
    <a href="https://www.ssa.gov/pubs/EN-05-10061.pdf">Your Ticket To Work</a>
    (Publication No. 05-10061).
  </p>

  <blockquote class="note">
    <p>
      For more information about helping you return to work, ask for
      <a href="https://www.ssa.gov/pubs/EN-05-10095.pdf"
        >Working While Disabled - How We Can Help</a
      >
      (Publication No. 05-10095). A guide to all of SSA employment supports can
      be found in the
      <a href="http://www.ssa.gov/redbook/eng/main.htm"
        >Red Book, A Summary Guide to Employment Support for Individuals with
        Disabilities Under the Social Security Disability Insurance and
        Supplemental Security Income Programs</a
      >
      (Publication No. 64-030).
    </p>
  </blockquote>

  <p></p>
  <h2>"Substantial" Work</h2>
  <p></p>

  <p>
    To understand how work affects your disability benefits, you need to
    understand how Social Security measures your work. Disability benefits can
    be paid only if you are unable to do any "substantial" work, referred to as
    "Substantial Gainful Activity" (SGA) by the SSA. The amount of your earnings
    determines whether your work is substantial. The Substantial Gainful
    Activity (SGA) amount for persons with disabilities other than blindness is
    $1,350 per month in 2022. For persons who are blind, the amount of earnings
    that indicate SGA is $2,260 per month in 2022.
  </p>

  <p>
    If you are self-employed, your disability is blindness, and you are age 55
    or older, special rules apply.
  </p>

  <p></p>
  <h2>Nine-Month Trial Work Period (TWP)</h2>
  <p></p>

  <p>
    You can continue to receive benefits for up to nine months while you try to
    work. The months need not be consecutive, but they must take place within a
    60-month period. Generally speaking, a "trial work" month is any month in
    which you earn over $970 in gross wages for 2022 or spend 80 hours in your
    own business (regardless of the amount of earnings). You will receive your
    full benefits during this period as long as you report your activity and
    remain disabled. If you recover during a trial work period, your benefits
    will stop after a three-month adjustment period.
  </p>

  <p>
    At the end of nine months of trial work, SSA will decide if you are able to
    do "substantial" work. If you can, your benefits will stop after a
    three-month adjustment period. If you are not able to work, your payments
    will continue.
  </p>

  <p></p>
  <h2>36-Month Extended Period of Eligibility (EPE)</h2>
  <p></p>

  <p>
    If your benefits stop because you have returned to work even though you are
    still medically disabled, you receive special "benefit protection" for the
    next 36 months. During that time, you can receive a benefit for any month
    your earnings fall below $1,350 (SGA amount in 2022). You do not have to
    file a new application, but you do have to notify Social Security. If you
    are unable to continue working, your benefits continue indefinitely so long
    as you remain disabled.
  </p>

  <p></p>
  <h2>Medicare Continues</h2>
  <p></p>

  <p>
    If you are working even though you are still disabled, your Medicare
    coverage may continue for at least 39 months after the trial work period.
    Beyond that, you may purchase the coverage with a monthly premium.
  </p>

  <p></p>
  <h2>Help With Work Expenses</h2>
  <p></p>

  <p>
    If you need certain equipment or services to help you work, the money you
    pay for them can be deducted from your earnings in deciding whether you are
    doing "substantial" work. It does not matter if you also need the items or
    services for daily living (such as a wheelchair).
  </p>

  <p>
    The cost of medical equipment, certain attendant care services, prostheses,
    and similar items and services is generally deductible. The cost of drugs or
    medical services is deductible only if required because of your condition.
  </p>

  <p></p>
  <h2>Vocational Rehabilitation</h2>
  <p></p>

  <p>
    When you applied for disability benefits, information about you and your
    impairment may have been sent to the state vocational rehabilitation agency.
    If they offer you services and you refuse them without good reason, your
    monthly benefits may be withheld. If you have not heard from them but are
    interested in receiving rehabilitation services, you should give them a
    call.
  </p>

  <p>
    Your disability benefits will continue while you receive rehabilitation
    services. Under a special rule, benefits can continue even if you medically
    recover while participating in an approved vocational rehabilitation or
    training program.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="11"></a>Benefits for Children and Students</h3>

  <p>
    If a child is getting checks on your account, there are several important
    things you should know about his or her benefits.
  </p>

  <p>
    When a child reaches age 18, the child's benefits stop the month before the
    child reaches age 18 unless the child remains unmarried and is either
    disabled or is a full-time elementary or secondary school student.
  </p>

  <p>
    About five months before the child's 18th birthday, the person receiving the
    child's benefits will get a form explaining how benefits can continue.
  </p>

  <p>
    A child whose benefits stopped at 18 can have them started again if he or
    she becomes disabled before reaching 22 or becomes a full-time elementary or
    secondary school student before reaching 19.
  </p>

  <p>
    If a child is disabled, the child can continue to receive benefits after age
    18 if he or she has a disability. The child also may qualify for SSI
    disability benefits.
  </p>

  <p>
    If a child at 18 is a student, the child can receive benefits until age 19
    if he or she continues to be a full-time elementary or secondary school
    student. When a student's 19th birthday occurs during a school term,
    benefits can be continued up to two months to allow completion of the term.
  </p>

  <p>
    Social Security should be notified immediately if the student drops out of
    school, changes from full-time to part-time attendance is expelled or
    suspended or changes schools. SSA should also be told if the student is paid
    by his or her employer for attending school.
  </p>

  <p>
    SSA sends each student a form at the start and end of the school year. It is
    important that the form be filled out and returned to SSA. Failure to return
    the form could result in a suspension of benefits.
  </p>

  <p>
    A student can keep receiving benefits during a vacation period of four
    months or less if he or she plans to go back to school full time at the end
    of the vacation.
  </p>

  <p>
    A student who stops attending school generally can receive benefits again if
    he or she returns to school full time before age 19. The student needs to
    contact Social Security to reapply for benefits.
  </p>

  <p>
    Benefits for the child of someone getting disability benefits always end if
    the child marries. The must be reported right away.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="12"></a>Your Right to an Appeal</h3>

  <p>
    If you disagree with SSA's decision, you can appeal it. You have 60 days to
    file a written appeal by mail or in person with any Social Security office.
    Generally, there are four levels to the appeals process. They are:
  </p>

  <ul>
    <li>
      <strong>Reconsideration.</strong> Your claim is reviewed by someone who
      did not take part in the first decision.
    </li>
    <li>
      <strong>Hearing Before an Administrative Law Judge.</strong> You can
      appear before a judge to present your case.
    </li>
    <li>
      <strong>Review by Appeals Council.</strong> If the Appeals Council decides
      your case should be reviewed, it will either decide your case or return it
      to the administrative law judge for further review.
    </li>
    <li>
      <strong>Federal District Court.</strong> If the Appeals Council decides
      not to review your case or if you disagree with its decision, you may file
      a civil lawsuit in a Federal District Court and continue your appeal all
      the way to the US Supreme Court if necessary.
    </li>
  </ul>

  <p>
    If you disagree with the decision at one level, you have 60 days to appeal
    to the next level until you are satisfied with the decision or have
    completed the last level of appeal.
  </p>

  <p>
    You have two special appeal rights when a decision is made that you are no
    longer disabled. They are:
  </p>
  <ul>
    <li>
      <strong>Disability Hearing.</strong> As part of the reconsideration
      process, this hearing allows you to meet face-to-face with the person who
      is reconsidering your case to explain why you feel you are still disabled.
      You can submit new evidence or information and can bring someone who knows
      about your disability. This special hearing does not replace your right to
      also have a formal hearing before an administrative law judge (the second
      appeal step) if your reconsideration is denied.
    </li>
    <br />
    <li>
      <strong>Continuation of Benefits.</strong> While you are appealing your
      case, you can have your disability benefits and Medicare coverage (if you
      have it) continue until an administrative law judge makes his or her
      decision. However, you must request the continuation of your benefits
      during the first 10 days of the 60 days mentioned earlier. If your appeal
      is not successful, you may have to repay the benefits.
    </li>
  </ul>
  <p></p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
