<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >How do insurance companies classify individuals for rate purposes?</a
        >
      </li>
      <li>
        <a href="#2">What questions should I ask my life insurance agent?</a>
      </li>
      <li>
        <a href="#3">What should I watch out for when buying life insurance?</a>
      </li>
      <li>
        <a href="#4"
          >How do I compare the cost of several insurance policies?</a
        >
      </li>
      <li><a href="#5">Do I really need life insurance?</a></li>
      <li><a href="#6">How much life insurance should I buy?</a></li>
      <li><a href="#7">What type of life insurance should I buy?</a></li>
      <li><a href="#8">Should children have life insurance?</a></li>
      <li>
        <a href="#9"
          >How do I balance life insurance with my other investments?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How do insurance companies classify individuals for rate
      purposes?
    </h3>

    <p>
      Premiums vary among insurance companies so it's a good idea to comparison
      shop in order to get the best premium. It's also helpful to understand how
      premiums are calculated by insurers. Here's a quick look at how this
      works.
    </p>

    <p>
      Insurance companies place individuals into four risk groups: preferred,
      standard, substandard, or uninsurable. A terminal illness at the time you
      apply for insurance will render you uninsurable. Having some type of
      chronic illness will place you in the substandard category. People with
      conditions such as diabetes or heart disease can be insured, but will pay
      higher premiums.
    </p>

    <p>
      If you have a high-risk job or hobby, you will be considered substandard,
      a high risk.
    </p>

    <p>
      The premiums charged will be commensurate with the category you are placed
      in. Thus, a standard risk will pay an average premium for similarly
      situated insurers.
    </p>

    <blockquote class="tip">
      <p>
        One company's category for you may not be the same as another company's
        category, so it still pays to shop for insurance with other companies
        even though one may have labeled you "substandard."
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>
        Once an insurance company approves you for coverage, you cannot be
        dropped unless you stop paying your premium.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What questions should I ask my life insurance agent?
    </h3>

    <p>Here are some questions to ask about policies:</p>

    <ul>
      <li>
        <p>
          How do cash values accumulate? An early, rapid build-up is generally
          preferable.
        </p>
      </li>
      <li>
        <p>
          How has the policy's cash value performed in the past? You can get
          this information from a publication called Best's Review, Life-Health
          Insurance Edition. Determine how the policy performed in comparison
          with the company's projection and with other insurers.
        </p>
      </li>
      <li>
        <p>
          Are any special features merely bells and whistles, or do they add
          value for you?
        </p>
      </li>
      <li>
        What is the company's rating with A.M. Best, Standard &amp; Poor's, and
        Moody's? You can find these publications in public libraries or online.
        The rankings should be in the top three to ensure that a company has
        financial stability.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What should I watch out for when buying life insurance?
    </h3>

    <p>
      <strong
        >Policy provisions that are hard to understand and compare.</strong
      >
      Many insurance company products contain investment features as well as
      insurance elements. Because these insurance products are very complex and
      have many variations, most clients cannot understand them. As a result,
      rates cannot easily be compared.
    </p>

    <p>
      <strong>Pushing inappropriate policies.</strong> Make sure your agent
      carefully identifies your needs and explains why the policy is suitable
      for you. You may want to have your accountant or financial planner review
      any recommended policies before you make any purchases.
    </p>

    <p>
      <strong>High commissions.</strong> Make sure you review the costs of any
      recommended policy carefully. As much as 80 percent of your first-year
      premium might go into the pocket of the insurance agent.
    </p>

    <blockquote class="tip">
      <p>
        Due to administrative costs and commissions paid to agents the expected
        rate of return on insurance policies is generally low. If you want both
        insurance and investment returns, unbundle your needs. Get your life
        insurance from the insurance company (at the lower premium for pure,
        term insurance) and put the premium savings (the investment element)
        into a more profitable investment vehicle, where your return at age 65
        will be substantially higher than through the insurance company's
        annuity.
      </p>
    </blockquote>

    <p>
      <strong>Safety of investment.</strong> Check an insurer's rating before
      purchasing a policy. Even venerable companies such as Lloyd's of London
      can be wiped out by unexpectedly high claims and the insured's investment
      (as well as life insurance proceeds) can be lost.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>How do I compare the cost of several insurance policies?
    </h3>

    <p>
      In most states, there are rules, set by a group of state insurance
      regulators, requiring the agent to calculate two types of cost indexes
      that can help you to shop for a policy. You can use these indexes to
      compare policy costs.
    </p>

    <p>
      One type of index, the <strong>net payment index</strong>, gauges the cost
      of carrying your policy for the next ten or twenty years. The lower the
      number is, the less expensive the policy will be. This index is useful if
      you are most interested in the death benefit aspect of a policy, as
      opposed to the investment aspect.
    </p>

    <p>
      The other type of index, <strong>surrender cost index</strong>, is useful
      to those who have a high level of concern about the cash value. This index
      may be a negative number. The lower the number is the less expensive the
      policy will be.
    </p>

    <p>
      These two indexes apply to term and whole life policies; however, with
      universal life policies, you'll need to focus on the cash value growth and
      the cash surrender value to make comparisons. "Cash surrender value" is
      the amount you receive if you cancel the policy. It is not the same as
      "cash accumulation value."
    </p>

    <p>
      If you are shown two universal life policies, and they have the same
      premium, death benefit, and interest rate, then in most cases, the one
      with the higher cash surrender value is generally the better policy.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="5"></a>Do I really need life insurance?</h3>

    <p>
      The purpose of life insurance is to provide a source of income for your
      children, dependents, or whoever you choose as a beneficiary, in case, of
      your death. Life insurance can also serve other estate planning purposes,
      such as giving money to charity on your death, paying for estate taxes, or
      providing for a buy-out of a business interest.
    </p>

    <p>
      Whether you need to buy life insurance depends on whether anyone is
      depending on your income. If you have a spouse, child, parent, or some
      other individual who depends on your income, then you probably need life
      insurance. Here are some typical families and a summary of their need for
      life insurance:
    </p>

    <p>
      <strong
        >Families or single parents with young children or other
        dependents.</strong
      >
      The younger your children, the more insurance you need. If both spouses
      earn income, then both spouses should be insured, with insurance amounts
      proportionate to salary amounts.
    </p>
    <p>
      <strong>Adults with no children or other dependents.</strong> If your
      spouse could live comfortably without your income, then you will need less
      insurance than the people in Situation (1). However, you will still need
      some life insurance. At a minimum, you will want to provide for burial
      expenses, for paying off whatever debts you have incurred, and for
      providing an orderly transition for the surviving spouse.
    </p>
    <p>
      <strong>Single adults with no dependents.</strong> You will need only
      enough insurance to cover burial expenses and debts unless you want to use
      insurance for estate planning purposes.
    </p>
    <p>
      <strong>Children.</strong> Children generally need only enough life
      insurance to pay burial expenses and medical debts. Many advisors
      recommend self-insuring for children rather than buying an insurance
      policy.
    </p>
    <strong>Retirees.</strong> There is less of a need for life insurance after
    retirement unless it is to be used for estate planning purposes. You may
    need to provide an income for the second spouse to die if your retirement
    assets are not large enough. Further, you will need some insurance to pay
    burial expenses, final medical costs, and debts.

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>How much life insurance should I buy?
    </h3>

    <p>
      Determining how much insurance to buy requires you to calculate your
      current annual household expenses, followed by your assets, debts, and
      other sources of income. Your financial advisor can assist you in this
      computation.
    </p>

    <p>
      The ideal amount of coverage is the amount that would allow your
      dependents to invest it after your death and maintain their desired
      standard of living without touching the principal. Although the old rule
      of thumb to buy five, six or seven times your annual salary may serve as a
      starting point, it is no substitute for making the calculations to find
      out how much you really need.
    </p>

    <p>
      It's important to be as accurate as possible in estimating your family's
      needs since an underestimation could lead to your being underinsured, and
      an overestimation will lead to money wasted on unnecessary coverage.
    </p>

    <blockquote class="tip">
      <p>
        To accurately estimate your family's annual income needs, it's helpful
        to have the following documents with you: Online bank statements or
        checkbook register for one year, a year's worth of credit card
        statements, and last year's tax return.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>What type of life insurance should I buy?
    </h3>

    <p>
      Once you have an idea of how much coverage you need, you can decide which
      type of insurance product would be best to fill those needs. Although the
      array of insurance products may seem confusing, there are really just two
      types of insurance: term and cash value, which is more commonly referred
      to as whole life, universal life, or permanent life insurance.
    </p>

    <p>
      With term insurance, you pay for coverage for a specified amount of time,
      and if you die during that time the insurer pays your survivors the death
      benefit specified. Cash value on the other hand provides you with some
      other redeemable value in addition to paying a death benefit. For
      individuals age 40 or less, a term policy will almost always be less
      costly than a whole life policy. Although term policies do not build cash
      values, many are convertible to whole life policies without a physical
      exam. Thus, a term convertible policy may be a good option for someone who
      is under 40.
    </p>

    <h4>Term Insurance</h4>

    <p>There are various types of term insurance including:</p>

    <p></p>
    <blockquote>
      <strong>Renewable</strong>. A renewable term policy is the most common
      type of life insurance where the policy renews automatically on a
      renewable term, e.g. every year, every 5 years, every 10 years, or every
      20 years, which is the most popular renewal term. You do not need to take
      a physical or verify the fact that you are employed. The premium goes up
      at the beginning of each new term to reflect the fact that you are older.
      Most renewable term policies can be renewable until you reach age 70 or
      so.
      <p></p>
      <p>
        <strong>Re-entry</strong>. With this type of policy, you must undergo a
        physical exam after a certain period, or pay an extra premium.
      </p>
      <p>
        <strong>Level</strong>. With level term policies, the premium is
        guaranteed to stay the same over a certain period. This period may be
        shorter than the term of the policy. Nearly all life insurance bought
        today is level term insurance.
      </p>
      <p>
        <strong>Decreasing</strong>. With a decreasing term policy, a good
        option for insuring mortgage payments the face amount of the policy
        decreases over time while the premium payments remain the same.
      </p>
      <p>
        <strong>Return of Premium</strong>. Some insurers offer term life with
        "return of premium." Typically, premiums are significantly higher and
        they require keeping the policy in force to its term.
      </p>
    </blockquote>

    <h4>Cash Value Life Insurance</h4>
    <p>
      There are four types of cash value life insurance: (1) whole life, (2)
      universal life, (3) variable universal life and (4) variable whole life.
      The first two types are the most common and have a guaranteed cash
      surrender value; in the last two types, the cash surrender value is not
      guaranteed.
    </p>

    <blockquote>
      <p>
        <strong>Whole Life</strong>. This is the traditional life insurance
        policy. It provides a death benefit, has a cash value build-up, and
        sometimes pays dividends. You do not need to renew a whole life policy.
        As long as you pay your premiums, you will have coverage, usually until
        your death. The premium for a whole life policy remains the same for the
        amount of time you own the policy; the premium is "level" in insurance
        parlance. Thus, when you are younger, the premium you pay for whole life
        will be greater than what you would pay for term insurance but when you
        are older, the premium will be much less than a term premium. Part of
        each premium goes into the cash value of your policy. Your cash value,
        which is actually an investment, is guaranteed to grow at a fixed rate.
        You do not have to pay current income taxes on the growth in the cash
        value-it is tax-deferred.
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>
        You can borrow against your cash value at a rate that is usually better
        than the prevailing consumer lending rates. If you die with an
        outstanding loan amount, the loan amount, plus interest, will be
        subtracted from your death benefit.
      </p>
    </blockquote>

    <p></p>
    <blockquote>
      Dividend-paying whole life policies-termed "participating" policies are
      usually offered by mutual life insurance companies. Mutual life insurance
      companies are generally owned by policyholders while other insurance
      companies are owned by shareholders. The dividends are refunds of
      insurance premiums that exceed a certain level. They are paid when the
      insurance company does well during a quarter or a year. Of course,
      premiums for participating policies are usually higher than those paid for
      non-participating policies.
      <p></p>
    </blockquote>

    <blockquote class="note">
      <p>
        Term policies can also be participating, but the dividends paid are
        usually minimal.
      </p>
    </blockquote>

    <blockquote>
      <p>
        <strong>Universal Life</strong>. Universal life, also known as "flexible
        premium adjustable life," is similar to whole life, but offers more
        flexibility in terms of payment of premiums and cash value growth. With
        a universal life policy, your monthly premium amount is first credited
        to your cash value. The company then deducts the cost of your death
        benefit and the expenses of the policy. These costs are about equal to
        what it would cost to buy term coverage. As with whole life, your cash
        value grows at a fixed minimum rate of interest. The growth of the cash
        value is tax-deferred, and you can borrow against it or make partial
        withdrawals.
      </p>
    </blockquote>

    <blockquote class="caution">
      <p>
        A special feature of universal life is that you can vary the premium
        paid from month to month. You can pay more or less-within certain
        limits-without jeopardizing your coverage. You can even let the cash
        value absorb the premium. However, the danger here is that if the
        premium payments fall too low, your policy may lapse. While some states
        require the insurer to tell you when your cash value is at a dangerously
        low point, you will, if you live in another state, have to maintain a
        careful watch on the amount of cash value if premiums are skipped.
      </p>
    </blockquote>

    <blockquote>
      <p>
        <strong>Variable Universal Life</strong>. Variable universal life allows
        you to choose the investment for your cash value. You have a potentially
        greater cash value growth, but you also have added risk, depending on
        the type of investment you choose.
      </p>

      <p>
        <strong>Variable Whole Life</strong>. With variable whole life, the
        death benefit and cash value will depend on the performance of an
        investment fund that you choose. Again, you have potentially greater
        reward, with its accompanying risks.
      </p>
    </blockquote>

    <h3 class="cellcolor">
      <a name="8"></a>Should children have life insurance?
    </h3>

    <p>
      Since the purpose of life insurance is to provide for dependent survivors,
      children generally need only enough life insurance to pay burial expenses
      and medical debts. Yet, 25 percent of cash-value life insurance policies
      sold covers the life of a child under 18. Cash value life insurance;
      either whole life or universal life combines a death benefit with a
      savings or investment element.
    </p>

    <p>
      Alternatives to covering the costs of a child's death include (1) using
      funds already set aside for college and (2) taking out a rider on a
      parent's policy (if available).
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>How do I balance life insurance with my other investments?
    </h3>

    <p>
      Get term life insurance if you haven't bought a policy yet. Then invest as
      much as you can in tax-deferred IRAs and 401(k) plans. If your money is in
      stock funds, you are more likely to experience bigger gains than you are
      with a cash-value policy.
    </p>

    <p>
      If you already have a cash-value policy, don't sell it. Just realize that
      it is a conservative, long-term investment. The cash value eventually may
      be substantial because it is a tax-deferred investment. It may take 15
      years or more, however, to produce a respectable return, similar to
      high-quality corporate bonds or long-term CDs. Balance your policy with
      investments such as stock funds, with a higher, long-term return.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
