<br />
Some guides to help you develop a sound financial plan for today and the future,
no matter where you are in your life's journey.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/devloping-financial-plan-fg']"
          routerLinkActive="router-link-active"
          ><b>Your Financial Plan: Getting Started On a Secure Future</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/budgeting-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Budgeting: How To Prepare a Workable Plan</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/devloping-financial-plan-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Developing a Financial Plan: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/investment-options-faq']"
          routerLinkActive="router-link-active"
          ><b
            >Investment Options: Frequently Asked Questions</b
          ></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>How Much Am I Spending?</b></a
        ><br />
        <a><b>How Do Taxes and Inflation Impact My Investment Return?</b></a
        ><br />
        <a><b>How Long Will It Take To Pay Off My Credit Card?</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
