<div id="fga">
  <p>
    Various tax benefits, including tax exemption, tax deferral, tax credits,
    and deductions, are available if you are paying or saving for college or
    other higher education costs. This Guide suggests ways to take advantage of
    these benefits.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li>
        <a href="#1"
          >Coverdell Education Savings Accounts (Section 530 Programs)</a
        >
      </li>
      <li>
        <a href="#2">Qualified Tuition Programs (Section 529 Programs)</a>
      </li>
      <li><a href="#3">Traditional and Roth IRAs</a></li>
      <li><a href="#4">Education Savings Bonds</a></li>
      <li><a href="#5">Education Credits</a></li>
      <li><a href="#6">Qualified Tuition and Related Expenses Deduction</a></li>
      <li><a href="#7">Employer-Provided Education Assistance</a></li>
      <li><a href="#8">Student Loans</a></li>
    </ul>
    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    Many tax benefits are available to help you pay higher education costs,
    whether for your children or yourself. Because of the variety of benefits
    and programs, this area is one of the most complex that an individual can
    face. This Financial Guide discusses strategies you can use to build savings
    for higher education, and tax credits currently available to help ease the
    financial burden of paying for education.
  </p>

  <p>
    Eligibility rules vary for education credits and savings plans and most are
    subject to income limitations.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Financial Guide:</strong> For more information about
      saving and investing to cover education costs, please see the Financial
      Guide:
      <a href="?item=8&amp;cat=Your Child's Education: How To Finance It"
        >YOUR CHILD'S EDUCATION: How To Finance It</a
      >.
    </p>
  </blockquote>

  <h3 class="cellcolor">
    <a name="1"></a>Coverdell Education Savings Accounts (Section 530 Programs)
  </h3>

  <p>
    Starting in 2013, you can contribute up to $2,000 to a Coverdell Education
    Savings account (a Section 530 program formerly known as an Education IRA)
    for a child under 18. These contributions are not deductible, but they grow
    tax-free until withdrawn. Contributions for any year can be made through the
    (unextended) due date for the return for that year.
  </p>

  <blockquote class="note">
    <p>
      There is no adjustment for inflation; therefore the $2,000 contribution
      limit is expected to remain at $2,000 for tax years 2012 and beyond.
    </p>
  </blockquote>

  <p>
    Only cash can be contributed to a Section 530 account and you cannot
    contribute to the account after the child reaches his or her 18th birthday.
  </p>

  <p>
    Anyone can establish and contribute to a Section 530 account, including the
    child. You may establish 530s for as many children as you wish, but the
    amount contributed during the year to each account cannot exceed $2,000. The
    child need not be a dependent, and, in fact, does not even need to be
    related to you. The maximum contribution amount for each child is subject to
    a phase-out limitation with a modified AGI between $190,000 and $220,000 for
    joint filers and $95,000 and $110,000 for single filers.
  </p>

  <blockquote class="note">
    <p>
      A 6 percent excise tax (to be paid by the beneficiary) applies to excess
      contributions. These are amounts in excess of the applicable contribution
      limit ($2,000 or phase out amount) and contributions for a year that
      amounts are contributed to a qualified tuition program for the same child.
      A qualified tuition program (QTP), sometimes called a Section 529 program,
      is a tax-favored state program to prepay education costs (see below). The
      6 percent tax continues for each year the excess contribution stays in the
      530 account.
    </p>
  </blockquote>

  <p>
    The child must be named (designated as beneficiary) in the Coverdell
    document, but the beneficiary can be changed to another family member (for
    example, to a sibling where the first beneficiary gets a scholarship or
    drops out). And funds can be rolled over tax-free from one child's account
    to another's. Funds must be distributed not later than 30 days after the
    beneficiary's 30th birthday (or 20 days after the beneficiary's death if
    earlier). For special needs beneficiaries, age limits (i.e., no
    contributions after age 18, distribution by age 30) don't apply.
  </p>

  <p>
    Withdrawals are taxable to the person who gets the money, with these major
    exceptions: Only the earnings portion is taxable (the contributions come
    back tax-free). Also, even that part isn't taxable income, as long as the
    amount withdrawn doesn't exceed a child's qualified higher education
    expenses; for that year. The definition of qualified higher education
    expenses" includes room and board and books, as well as tuition. In figuring
    whether withdrawals exceed qualified expenses, expenses are reduced by
    certain scholarships and by amounts for which tax credits (see Educational
    Credits, below) are allowed. If the amount withdrawn for the year exceeds
    the education expenses for the year, the excess is partly taxable under a
    complex formula. There's another formula if the sum of withdrawals from this
    530 program and from the qualified tuition (Section 529) program exceed
    education expenses.
  </p>

  <p>
    As the person who sets up the Section 530 account, you may change the
    beneficiary (the child who will get the funds) or roll the funds over to the
    account of a new beneficiary, tax-free, if the new beneficiary is a member
    of your family. But funds you take back (for example, withdrawal in a year
    when there are no qualified higher education expenses, because the child is
    not enrolled in higher education) are taxable to you, to the extent of
    earnings on your contributions, and you will generally have to pay an
    additional 10 percent tax on the taxable amount. However, you won't owe tax
    on earnings on amounts contributed that are returned to you by June 1 of the
    year following contribution.
  </p>

  <h2>Investment Policy</h2>

  <p>
    In contrast to Section 529 programs and Series EE bonds, you are able to
    choose and change Section 530 investments as you see fit.
  </p>

  <blockquote class="tip">
    <p>
      Check with your financial adviser about using both the Section 530
      program, which has wide investment options but limited ($2,000 or less)
      contribution/investment amounts, and the Section 529 program, which has
      limited investment options but allows higher contribution/investment
      amounts.
    </p>
  </blockquote>

  <h2>Elementary and Secondary Schools</h2>
  <p></p>

  <p>
    Section 530 programs can be used to build up funds for primary and secondary
    education. The tax rules are similar to those for higher education:
    withdrawals taxable to the extent of earnings on contributions, except
    tax-free up to the child's qualified elementary and secondary education
    expenses. These expenses qualify whether the child attends a private,
    religious or public school. Expenses such as room, board, tuition,
    transportation, and uniforms will qualify only where connected with private
    or religious schools, but some expenses - books, computers, educational
    software and internet access - apply as well to children in public school
    living at home.
  </p>

  <p>
    The age limits for higher education apply here too: no contribution after a
    child reaches age 18, distribution at age 30 except for special needs
    beneficiaries. Withdrawals in excess of qualified education expenses are
    taxable under a special formula.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="2"></a>Qualified Tuition Programs (Section 529 Programs)
  </h3>

  <p>
    Every state now has a program allowing persons to prepay for future higher
    education, with tax relief. Starting in 2018, funds in 529 Plans can also be
    used for K-12 education.
  </p>

  <p>There are two basic plan types, with many variations among them:</p>

  <ol>
    <li>
      The prepaid education arrangement. Here one is essentially buying future
      education at today's costs, by buying education credits or certificates.
      This is the older type of program and tends to limit the student's choice
      to schools within the state. Private colleges and universities may now
      offer this type.
    </li>
    <li>
      Education savings accounts. Here, contributions are made to an account to
      be used for future higher education.
    </li>
  </ol>

  <p>
    In approaching state programs one must distinguish between what the federal
    tax law allows and what an individual state's program may impose.
  </p>

  <p>
    You may open a Section 529 program in any state, but when buying prepaid
    tuition credits (less popular than savings accounts), you will want to know
    which institutions the credits will be applied to.
  </p>

  <p>
    Unlike certain other tax-favored higher education programs, such as the
    American Opportunity Tax Credit and the Lifetime Learning Credit, federal
    tax law doesn't limit the benefit to tuition, but can also extend it to
    room, board, and books (individual state programs could be narrower).
  </p>

  <p>
    The two key individual parties to the program are the Designated Beneficiary
    (the student-to-be) and the Account Owner, who is entitled to choose and
    change the beneficiary and who is normally the principal contributor to the
    program. There are no income limits on who may be an account owner. There's
    only one designated beneficiary per account. Thus, a parent with three
    college-bound children might set up 3 accounts. (Some state programs don't
    allow the same person to be both beneficiary and account owner.)
  </p>

  <p>
    Contributions must be in cash, and must not total more than reasonably
    needed for higher education (as determined initially by the state). Neither
    account owner or beneficiary may direct investments, but the state may allow
    the owner to select a type of investment fund (e.g., fixed income
    securities), and to change the investment annually, and when the beneficiary
    is changed. The account owner decides who gets the funds (can pick and
    change the beneficiary) and is legally allowed to withdraw funds at any
    time, subject to tax and penalty discussed later.
  </p>

  <p>
    Funds in the account not yet distributed at the account owner's death pass
    as part of the probate estate under state law though this is not the result
    for federal estate tax purposes, see below.
  </p>

  <h2>Federal Tax Rules</h2>

  <p>
    <strong>Income tax.</strong> Contributions made by the account owner or
    other contributor are not deductible for federal income tax purposes.
    Earnings on contributions grow tax-free while in the program.
  </p>

  <p>
    Distributions from the fund are tax-free to the extent used for qualified
    higher education expenses. Distributions used otherwise are taxable to the
    extent of the portion which represents earnings.
  </p>

  <p>
    A Section 529 distribution can be tax-free even though the student is
    claiming an American Opportunity Tax Credit or the Lifetime Learning Credit.
    Section 530 Coverdell distributions are also tax-free if the programs aren't
    covering the same specific expenses.
  </p>

  <p>
    Distribution for a purpose other than qualified education is taxed to the
    one getting the distribution. In addition, a 10 percent penalty must be
    imposed on the taxable portion of the distribution, comparable to the 10
    percent penalty in Section 530 Coverdell plans.
  </p>

  <p>
    The account owner may change the beneficiary designation from one to another
    in the same family. Funds in the account roll over tax-free for the benefit
    of the new beneficiary.
  </p>

  <p>
    <strong>Gift Tax.</strong> For gift tax purposes, contributions are treated
    as completed gifts even though the account owner has the right to withdraw
    them. Thus, they qualify for the up-to-$16,000 annual gift tax exclusion in
    2022 ($15,000 in 2021). One contributing more than $16,000 may elect to
    treat the gift as made in equal installments over the year of the gift and
    the following four years so that up to $80,000 can be given tax-free in the
    first year.
  </p>

  <p>
    A rollover from one beneficiary to another in a younger generation is
    treated as a gift from the first beneficiary, an odd result for an act the
    "giver" may have had nothing to do with.
  </p>

  <p>
    <strong>Estate tax.</strong> Funds in the account at the designated
    beneficiary's death are included in the beneficiary's estate, another odd
    result, since those funds may not be available to pay the tax. Funds in the
    account at the account owner's death are not included in the owner's estate,
    except for a portion thereof where the gift tax exclusion installment
    election is made for gifts over $15,000. For example, if the account owner
    made the election for a gift of $80,000 in 2022, a part of that gift is
    included in the estate if he or she dies within five years.
  </p>

  <blockquote class="tip">
    <p>
      A Section 529 program can be an especially attractive estate-planning move
      for grandparents. There are no income limits, the account owner giving up
      to $80,000 avoids gift tax, and estate tax by living five years after the
      gift, yet has the power to change the beneficiary.
    </p>
  </blockquote>

  <p>
    <strong>State Tax:</strong> For specifics of each state's program, see
    <a href="http://www.collegesavings.org">College Savings Plans Network</a>
    (CSPN).
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Traditional and Roth IRAs</h3>

  <p>
    You can use a traditional IRA or Roth IRA as a savings plan to pay qualified
    higher education expenses. Withdrawals before age 59 1/2 to pay qualified
    higher education expenses are not subject to the additional tax on early
    withdrawals. To escape the 10 percent tax, however, you must pay education
    costs that at least equal your withdrawal amount. The education costs must
    be "qualified", that is, used for tuition, fees, books, room and board,
    supplies, or equipment at a qualified institution of learning and they must
    be for yourself, your spouse, or the children or grandchildren or yourself
    or your spouse. The qualified institution of learning may be any college,
    university, vocational school, or any other post-secondary school that is
    eligible to participate in federal Department of Education aid programs.
  </p>

  <blockquote class="tip">
    <p>
      You do not actually have to use the IRA funds to pay education costs. That
      is, the tax relief doesn't require you to trace the IRA withdrawal dollars
      to a specific education expense payment. You can pay the costs with your
      own earnings or savings, with a loan, or with a gift or inheritance
      received by the student or the person making the withdrawal. You can use
      savings accumulated in a Section 529 (state-sponsored) program.
    </p>
  </blockquote>

  <p>
    However, you cannot count education costs paid with proceeds from the
    following in determining whether your IRA withdrawal is to be free of the 10
    percent tax:
  </p>

  <ul>
    <li>
      Tax-free distributions from a Coverdell education savings account (Section
      530 program);
    </li>
    <li>Tax-free scholarships, such as a Pell grant;</li>
    <li>Tax-free employer education assistance program;</li>
    <li>
      Any tax-free payment (other than a gift or bequest) that is due to
      enrollment at the qualified institution.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Education Savings Bonds</h3>

  <p>
    You can exclude from your gross income interest on qualified U.S. savings
    bonds if you have qualified higher education expenses during the year in
    which you redeem the bonds. For tax year 2022, the exclusion begins phasing
    out at $85,800 ($83,200 in 2021) modified adjusted gross income ($76,000
    indexed for inflation) and is eliminated for adjusted gross incomes of more
    than $100,800 ($98,200 in 2021). For married taxpayers filing jointly, the
    tax exclusion begins phasing out at $128,650 ($124,800 in 2021) and is
    eliminated for adjusted gross incomes of more than $158,650 ($154,800 in
    2021). The exclusion is unavailable to married filing separately.
  </p>

  <p>
    The education must be of the bondholder, his or her spouse or dependent.
    Qualified higher education expenses are tuition and fees, and contributions
    to Section 529 and 530 programs, reduced for tax-free scholarships and other
    relief.
  </p>

  <p>
    A qualified U.S. savings bond means a Series EE bond issued after 1989. The
    bond must be either in your name or in the names of both you and your
    spouse, and you must be at least 24 years old before the bond's issue date.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Education Credits</h3>

  <p>
    Two tax credits are available for education costs - the American Opportunity
    Tax Credit and the Lifetime Learning Credit. These credits are available
    only to taxpayers with adjusted gross income below specified amounts (see
    Income Phase-Outs below).
  </p>

  <h2>How These Credits Work</h2>

  <p>
    The amount of the credit you can claim depends on (1) how much you pay for
    qualified tuition and other expenses for students and (2) your adjusted
    gross income (AGI) for the year.
  </p>

  <p>
    You must report the eligible student's name and Social Security number on
    your return to claim the credit. You subtract the credits from your federal
    income tax. If the credit reduces your tax below zero, you cannot receive
    the excess as a refund. If you receive a refund of education costs for which
    you claimed a credit in a later year, you may have to repay ("recapture")
    the credit.
  </p>

  <blockquote class="caution">
    <p>
      If you file married-filing separately, you cannot claim these credits.
    </p>
  </blockquote>

  <p>
    <strong>Which costs are eligible</strong>? Qualifying tuition and related
    expenses refer to tuition and fees, and course materials required for
    enrollment or attendance at an eligible education institution. They now
    include books, supplies, and equipment needed for a course of study whether
    or not the materials must be purchased from the educational institution as a
    condition of enrollment or attendance.
  </p>

  <p>
    "Related" expenses do not include room and board, student activities,
    athletics (other than courses that are part of a degree program), insurance,
    equipment, transportation, or any personal, living, or family expenses.
    Student-activity fees are included in qualified education expenses only if
    the fees must be paid to the institution as a condition of enrollment or
    attendance. For expenses paid with borrowed funds, count the expenses when
    they are paid, not when borrowings are repaid.
  </p>

  <blockquote class="tip">
    <p>
      If you pay qualified expenses for a school semester that begins in the
      first three months of the following year, you can use the prepaid amount
      in figuring your credit.
    </p>
  </blockquote>

  <blockquote class="example">
    <p>
      You pay $6,500 of tuition in December 2022 for the winter 2023 semester,
      which begins in January 2023. You can use the $6,500 in figuring your 2022
      credit. If you paid in January instead, you would take the credit on your
      2023 return.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      As future year-end tax planning, this rule gives you a choice of the year
      to take the credit for academic periods beginning in the first three
      months of the year; pay by December and take the credit this year; pay in
      January or later and take the credit next year.
    </p>
  </blockquote>

  <p>
    <strong>Eligible students</strong>. You, your spouse, or an eligible
    dependent (someone for whom you can claim a dependency exemption, including
    children under age 24 who are full-time students) can be an eligible student
    for whom the credit can apply. If you claim the student as a dependent,
    qualifying expenses paid by the student are treated as paid by you, and for
    your credit purposes are added to expenses you paid. A person claimed as
    another person's dependent can't claim the credit. The student must be
    enrolled at an eligible education institution (any accredited public,
    non-profit or private post-secondary institution eligible to participate in
    student Department of Education aid programs) for at least one academic
    period (semester, trimester, etc.) during the year.
  </p>

  <p>
    <strong>No "double-dipping."</strong> The tax law says that you can't claim
    both a credit and a deduction for the same higher education costs. It also
    says that if you pay education costs with a tax-free scholarship, Pell
    grant, or employer-provided educational assistance, you cannot claim a
    credit for those amounts.
  </p>

  <p>
    <strong>Income Limits.</strong> For 2022, the amount of both the American
    Opportunity Tax Credit and Lifetime Learning Credit begins to phase out when
    modified adjusted gross income (MAGI) is between $80,000 and $90,000
    ($160,000 and $180,000 for joint returns). The credit cannot be claimed if
    your MAGI is $90,000 or more ($180,000 or more for joint returns). "Modified
    AGI" generally means your adjusted gross income. The "modifications" only
    come into play if you have income earned abroad.
  </p>

  <p></p>
  <blockquote class="note">
    Under the Consolidated Appropriations Act (CAA), the Lifetime Learning
    Credit and American Opportunity tax credit now have the same credit amounts
    and phase out ranges.
    <p></p>
  </blockquote>

  <h2>The American Opportunity Tax Credit</h2>

  <p>
    The American Opportunity Tax Credit (AOTC) was made permanent by the
    Protecting Americans from Tax Hikes Act of 2015 (PATH). The maximum credit,
    available only for the first four years of post-secondary education, is
    $2,500. You can claim the credit for each eligible student you have for
    which the credit requirements are met.
  </p>

  <p>
    <strong>Special Qualification Rules</strong>. In addition to being an
    eligible student, he or she:
  </p>

  <ul>
    <li>
      Must be enrolled in a program leading to a degree, certificate, or other
      recognized credential;
    </li>
    <li>
      Must be taking at least half of a normal full-time load of courses, for at
      least one semester or trimester beginning in the year for which the credit
      is claimed; and
    </li>
    <li>May not have any drug-related felony convictions.</li>
  </ul>

  <p>
    <strong>Amount of credit.</strong> The maximum amount of the AOTC credit is
    $2,500. Generally, 40 percent of the AOTC is now a refundable credit for
    most taxpayers, which means that you can receive up to $1,000 even if you
    owe no taxes.
  </p>

  <h2>The Lifetime Learning Credit</h2>

  <p>
    You may be able to claim a Lifetime Learning credit of up to $2,500 in 2022
    (Consolidated Appropriations Act) for eligible students (subject to
    reduction based on your AGI). In years prior to 2021, this amount was $2,000
    or 20 percent of the first $10,000 of qualified expense. Only one Lifetime
    Learning Credit can be taken per tax return, regardless of the number of
    students in the family.
  </p>

  <ul>
    <li>
      The credit can help pay for undergraduate, graduate and professional
      degree courses, including courses to improve job skills.
    </li>
    <li>
      For courses taken to acquire or improve job skills, there are no
      requirements as to course loads, so that even one or two courses can
      qualify.
    </li>
    <li>
      The number of years for which this credit can be claimed is not limited.
    </li>
  </ul>

  <p>
    <strong>Choosing the Credit</strong>. You can't claim both credits for the
    same person in the same year. But you can claim one credit for one or more
    family members and the other credit for expenses for one or more others in
    the same year - for example, an American Opportunity Tax Credit for your
    child and a Lifetime Learning Credit for yourself.
  </p>

  <p>
    <strong>Electing Not To Take the Credit</strong>. There are situations in
    which the credit is not allowed, or not fully available, if some other
    education tax benefit is claimed - where the higher education expense
    deduction is claimed for the same student, see below, or where credit and
    tax exemption (under a Section 529 or 530 program) are claimed for the same
    expense. In that case, the taxpayer - or, more likely, the taxpayer's tax
    adviser - will determine which tax rule offers the greater benefit and if
    it's not the credit, elect not to take the credit.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="6"></a>Qualified Tuition and Related Expenses Deduction
  </h3>

  <p></p>
  <blockquote class="caution">
    The Taxpayer Certainty and Disaster Tax Relief Act of 2020 repealed the
    tuition and fees deduction for tax years beginning after 2020. Income
    limitations for the lifetime learning credit have been increased to help tax
    filers transition to the lifetime learning credit.
    <p></p>
  </blockquote>

  <p>
    For tax years before 2021, a limited deduction was allowed for "qualified
    higher education expenses" - tuition and related expenses under the same
    definition as for tuition credits, above. A $4,000 above the line deduction
    (Form 8917) was allowed for qualified tuition expenses in 2020, as in 2019
    and 2018. The deduction was allowed if a taxpayer's (modified) adjusted
    gross income was $80,000 or less ($160,000 or less on a joint return). This
    tax deduction reduced your amount of income, thereby reducing the amount of
    tax you paid. You did not need to itemize deductions on Schedule A (Form
    1040) in order to take this deduction, which benefited higher earners who
    could not take the Lifetime Learning Credit because their income exceeded
    the limits.
  </p>

  <p>
    For distributions made from qualified tuition programs (QTPs) after 2018,
    qualified higher education expenses may include:
  </p>
  <ul>
    <li>
      Certain expenses required for a designated beneficiary's participation in
      certain apprenticeship programs.
    </li>

    <li>
      No more than $10,000 paid as principal or interest on a qualified student
      loan of the designated beneficiary or the designated beneficiary's
      sibling.
    </li>
  </ul>

  <p>
    Business expense deduction is allowed, without dollar limit, for education
    that serves the taxpayer's business, including employment. a deduction is
    also allowed for student loan interest, but a taxpayer may not take more
    than one deduction for the same item. In addition, you cannot claim this
    deduction if your filing status is married filing separately or if another
    person can claim an exemption for you as a dependent on his or her tax
    return.
  </p>
  <p></p>

  <p>
    "Qualified higher education expenses" must be reduced by any such expense
    paid with an amount treated as tax-free under the rules for excluding income
    from Series EE bonds, or Section 529 or 530 programs.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>Employer-Provided Education Assistance
  </h3>

  <p>
    If your employer paid education assistance benefits (e.g., reimbursements of
    tuition), part or all of them may be tax-free. You can exclude up to $5,250
    per year of the benefits you receive under a qualified educational
    assistance program. This means your employer shouldn’t include those
    benefits with your wages, tips and other compensation shown on your Form
    W-2, box 1. This also means that you don’t have to include the benefits on
    your income tax return.
  </p>

  <p>
    You can't both exclude and deduct the same item, even if it's otherwise
    deductible. In order to qualify, your employer must have established an
    educational assistance plan that does not discriminate in favor of highly
    paid employees or owners. The exclusion applies to undergraduate level
    courses other than those involving sports, game, and hobbies. The courses do
    not need to relate to your job. The exclusion is available for tuition,
    fees, books, and supplies but not meals, lodging or transportation. And it
    applies to benefits for graduate-level courses.
  </p>

  <p>
    In addition to the exclusion for qualifying education plans, your employer
    can provide reimbursement for business related courses, including graduate
    courses. Prior to tax year 2018, if your employer did not reimburse you for
    these expenses, you were entitled to deduct them as a miscellaneous itemized
    deduction on Schedule A, <em>Itemized Deductions</em>, subject to the two
    percent deduction floor. To qualify, the expense must meet the requirement
    of your employer or the law or maintain or improve skills in your current
    job. The course must not meet minimum education requirements for your job or
    qualify you for a new trade or business.
  </p>

  <p>
    However, under the Tax Cuts and Jobs Act of 2017 ("tax reform"), for tax
    years 2018 through 2025, employee business-related deductions (including
    education expenses) are disallowed. That is, there are no miscellaneous
    deductions on Schedule A as there were previously. Self-employed individuals
    are still able to deduct qualifying educational expenses on Schedule C.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>Student Loans</h3>

  <p>
    You may be able to deduct interest on student loans. You may also be able to
    exclude income that you would otherwise have to report if a student loan is
    canceled.
  </p>

  <p>
    <strong>Interest Deduction</strong>. You may deduct student loan interest
    you pay, including interest paid that's not currently due because payment is
    deferred.
  </p>

  <p>
    Deduction is allowed even though it would otherwise be nondeductible
    personal interest. But you may deduct only if you are the one legally bound
    to pay the interest, and only on loans solely for qualified expenses (so not
    under open credit lines).
  </p>

  <p>
    The student-loan deduction (up to $2,500 starting in 2013), was made
    permanent by AFTRA, but only to taxpayers whose AGI is below $160,000 (joint
    filers) or $80,000 (single filers). Married couples filing separately can't
    take the deduction.
  </p>

  <p>
    The student-loan interest deduction is an "above the line" deduction. In
    other words, you don't have to itemize in order to claim it. The loan must
    have been taken out to cover education expenses of at least half-time study
    for yourself, your spouse, or a person who was your dependent when you took
    out the loan.
  </p>

  <blockquote class="caution">
    <p>
      You cannot deduct interest on a loan from a related person, for example, a
      relative, or a business entity in which you have an ownership interest as
      defined by the tax law. And you can't deduct if you are claimed as a
      dependent.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      Where interest fails to qualify under these tests, consider a home equity
      loan, interest on which is generally deductible.
    </p>
  </blockquote>

  <p>
    <strong>Cancellation of Student Loan</strong>. If certain requirements are
    met, cancellations of student loans that are intended to induce students to
    perform certain services do not increase the student's gross income. This
    relief extends to certain private programs, as well as government and public
    programs.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
