<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/book-keeping-services"
        >Book Keeping Services</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Book Keeping Services"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >When You Leave the Bookkeeping to Us, You Can Focus on Growing Your
            Business</strong
          >
        </h2>
        <p>
          Accurate bookkeeping is essential to your company's long-term
          viability. Experienced, affordable, and reliable, we serve a variety
          of industries and clients from self-employed home-based business
          owners to small and medium-sized businesses with employees. When you
          outsource your bookkeeping services to us you get one on one
          personalized service and state of the art technology and payroll
          software.
        </p>
        <p>
          If you're just starting a business, we'll set up reporting and
          recordkeeping systems that make it easy for you to keep track of where
          your money is going. If you've been in business for a while, but need
          help cleaning up your books, we'll work with you to streamline your
          bookkeeping systems and set up a system of checks and balances.
        </p>
        <p>
          But the best reason to use our bookkeeping services? You'll have more
          time to focus on running your business and generating more profits.
        </p>
        <h3>Bookkeeping Services for Small Businesses</h3>
        <ul>
          <li>Accounts payable (entry, bill paying)</li>
          <li>Accounts receivable (entry, invoicing, deposits, collection)</li>
          <li>Bank Reconciliations</li>
          <li>Inventory management</li>
          <li>Bookkeeping clean up</li>
          <li>General ledger</li>
          <li>Tax forms (1099s, 1096)</li>
          <li>Payroll processing</li>
          <li>Outsourced bookkeeping</li>
        </ul>
        <h3>
          There's No Better Time Than Now to Take Advantage of Our Bookkeeping
          Expertise.
        </h3>
        <p>
          <strong
            >Call today and let us put our bookkeeping services to work for
            you!</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
