<br />
A few financial guides with important information regarding the fiscal
implications of having and raising a child.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/mortgage-alternatives-fg']"
          routerLinkActive="router-link-active"
          ><b>Mortgage Alternatives: How To Choose The Right One</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/refinancing-mortgage-fg']"
          routerLinkActive="router-link-active"
          ><b>Refinancing Your Mortgage: When and How</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/home-equity-loans-fg']"
          routerLinkActive="router-link-active"
          ><b
            >Home Equity Loans: How To Shop For The One That Is Best For You</b
          ></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/mortgage-alternatives-fg']"
          routerLinkActive="router-link-active"
          ><b>Mortgage Lock-ins: Questions To Ask</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/financial-troubles-fg']"
          routerLinkActive="router-link-active"
          ><b>Getting Out of Financial Trouble: Steps You Can Take</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/getting-loan-faq']"
          routerLinkActive="router-link-active"
          ><b>Getting a Loan: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/loan-questions-faq']"
          routerLinkActive="router-link-active"
          ><b>Loan Questions: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/financing-questions-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Financing Questions: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-reports-faq']"
          routerLinkActive="router-link-active"
          ><b>Credit Reports: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/credit-rating-faq']"
          routerLinkActive="router-link-active"
          ><b>Credit Rating: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/financial-troubles-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Financial Trouble: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>Should I Refinance My Mortgage?</b></a
        ><br />
        <a><b>Comparing Mortgage Terms (i.e. 15, 20, 30 year)</b></a
        ><br />
        <a><b>What Would My Auto Payments Be?</b></a
        ><br />
        <a><b>Should I lease or buy equipment?</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
