<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/industries">Industries</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/construction">Construction</span>
    </li>
  </ol>
</nav>
<app-heading heading="Construction"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Specialized Accounting Services for the Construction
            Industry</strong
          >
        </h2>
        <p>
          The construction industry faces a unique set of challenges that many
          other industries do not such as insurance and bonding requirements,
          labor issues, and a highly competitive bidding process - all of which
          vary from contract to contract.
        </p>
        <p>
          If you operate a construction management firm, or are a general
          contractor, subcontractor, residential developer, or own a business in
          the construction-related trades, you need an accounting firm that
          understands your business.
        </p>
        <p>We're that firm.</p>
        <p>
          Not only do we stay current on tax law changes affecting the
          construction industry; we also maintain relationships with third-party
          professionals including real estate professionals, attorneys, and
          bankers and prepare the financial documents needed to obtain financing
          from creditors, banks, suppliers and bonding companies. Furthermore,
          if your goal is to increase profitability, you've come to the right
          place.
        </p>
        <h3>Our Construction Accounting Services</h3>
        <p>
          We offer a range of accounting and advisory services from mergers and
          acquisitions and strategic planning to financial reporting compliance
          and construction audits. Here's what else we do for you:
        </p>
        <ul>
          <li>Financial statements - reviews, compilations, and audits</li>
          <li>Financial reporting systems - review and implementation</li>
          <li>Review internal project controls</li>
          <li>Contractor dispute resolution</li>
          <li>Construction audits</li>
          <li>Tax return preparation</li>
          <li>Payroll</li>
          <li>Business valuation and succession planning</li>
        </ul>
        <h3>Stay Ahead of the Competition.</h3>
        <p>
          Our team of experienced tax and accounting professionals is ready to
          help you achieve the financial success you deserve.
        </p>
        <p>
          <strong
            >For more information about our construction accounting services,
            please fill out the contact form below.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
