<div id="fga">
  <p>
    Many people are concerned about the cost of long-term care for themselves or
    a family member. As the result of a prolonged illness, disability, or
    injury, older individuals may need long-term care when they can no longer do
    the ordinary tasks of everyday living or when their health requires constant
    day-to-day monitoring. Here are the facts you need to decide whether to
    purchase long-term care insurance and to choose the most cost-effective
    method of providing for the possibility of long-term care.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">How LTCI Works</a></li>
      <li><a href="#2">Why Purchase LTCI</a></li>
      <li><a href="#3">The Pros And Cons</a></li>
      <li><a href="#4">Other Alternatives</a></li>
      <li><a href="#5">Can You Afford LTCI?</a></li>
      <li><a href="#6">How To Select An Insurer</a></li>
      <li><a href="#7">What To Look For In A Policy</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    An estimated 14 million older Americans need long-term care. By the year
    2030, that number is expected to increase to 24 million. Most will be cared
    for at home; family and friends are the sole caregivers for 70 percent of
    the elderly. A study by the U.S. Department of Health and Human Services
    says that people who reach age 65 will likely have a 40 percent chance of
    entering a nursing home. About 10 percent of the people who enter a nursing
    home will stay there five years or more.
  </p>

  <p>
    Medicare only pays for medically necessary skilled nursing facility or home
    health care and you must meet certain conditions for it to do so. For the
    majority of Americans, Medicare does not pay for custodial or long-term
    care, which is defined as assisting with daily living skills such as
    dressing, bathing, and using the bathroom. Therefore, you may want to think
    about how you would cover the cost of nursing home care for yourself, your
    spouse or family members.
  </p>

  <blockquote class="note">
    <p>
      Slightly less than half of all nursing home expenses are paid for by
      Medicaid. And only about two percent of stays in nursing facilities are
      paid for by Medicare or by private health insurance. Even less assistance
      is available to meet the cost of care at home or in the community.
    </p>
  </blockquote>

  <blockquote class="aid">
    <p>
      <strong>Planning Aid:</strong> For further information on Medicaid care
      services, see
      <a href="https://www.medicaid.gov/medicaid/ltss/index.html"
        >Medicaid Long-Term Services and Supports.</a
      >
    </p>
  </blockquote>

  <p>
    One way of covering these often burdensome nursing home costs is long-term
    care insurance (LTCI). Long-Term Care Insurance is private insurance that
    you can buy to cover long-term care. Benefits and costs of these plans vary
    widely.
  </p>

  <p>
    This Financial Guide covers the factors you will need to think about if you
    are considering purchasing LTCI and offers help in selecting a policy if you
    decide to buy LTCI coverage.
  </p>

  <blockquote class="aid">
    <p>
      <strong>Planning Aid:</strong> For more information on these plans,
      contact the
      <a href="http://www.naic.org"
        >National Association of Insurance Commissioners</a
      >
      (NAIC). It represents state health insurance regulators and has a free
      publication called <em>A Shopper's Guide to Long-Term Care Insurance</em>.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>How LTCI Works</h3>

  <p>
    Long-term care insurance policies pay a set dollar amount per day for
    covered care during the benefit period stated in the policy. Most long-term
    care policies are indemnity-type policies, meaning they will pay you for
    actual charges by the care provider (up to the policy's limits). Other
    long-term care policies, instead of being based on indemnity, pay daily
    benefit amounts to the insured rather than paying for actual charges. The
    latter type of policy offers insurers greater flexibility (e.g., allowing
    them to pay for home care) and less paperwork. You also need to keep in mind
    that it's necessary to plan ahead and sign up for long-term care insurance
    before you need it because the older the individual covered, the higher the
    premium is.
  </p>

  <p></p>
  <h2>When are Benefits Paid?</h2>
  <p></p>

  <p>
    To receive benefits, you must usually suffer serious cognitive impairment or
    be unable to perform several "activities of daily living" independently.
    Long-term care insurance covers activities of daily living (ADLs) without
    assistance, such as eating, bathing, dressing, continence, toileting (moving
    on and off the toilet), and transferring (moving in and out of bed).
  </p>

  <p></p>
  <h2>Period of Payment</h2>
  <p></p>

  <p>
    The benefit period you choose can range from one year to life; the longer
    the period, the higher the premium will be.
  </p>

  <blockquote class="tip">
    <p>
      About 10 percent of the people who enter a nursing home will stay there
      five years or more. Purchase at least three to five years of coverage, the
      average length of a nursing home stay.
    </p>
  </blockquote>
  <p></p>
  <h2>Types of Care Covered</h2>
  <p></p>

  <p>
    Most policies cover skilled care, intermediate care, and custodial care at a
    nursing facility. Home care may also be covered or offered as an extra. You
    may also be able to purchase coverage for adult day care, assisted living
    facilities or hospices. Most, but not all, long-term care policies can help
    cover costs incurred during a nursing home stay, assisted living residence,
    in-home care, informal care, custodial care, Alzheimer's facilities, and
    respite and hospice care.
  </p>

  <p></p>
  <h2>Elimination Period</h2>
  <p></p>

  <p>
    This period constitutes the number of days the insured must wait after
    becoming eligible for benefits before coverage actually begins. The
    elimination period generally ranges from zero to 90 days, but can go up to
    one year; the longer the elimination period, the lower the premium is.
    During the waiting period, you must pay all of the expenses related to your
    care.
  </p>

  <p></p>
  <h2>Renewability</h2>
  <p></p>

  <p>
    Most policies are guaranteed to be renewable. However, rates are generally
    not guaranteed and can be raised for a class of policyholders with the
    approval of the state insurance commission.
  </p>

  <p></p>
  <h2>Rising Health Care Costs</h2>
  <p></p>

  <p>
    A fixed-benefit policy will lose much of its protective ability over a 10 to
    20 year period. Thus, if you purchase a policy at age 60 and expect to rely
    on it for 20 years, you need inflation protection. This is available with
    most policies in the form of "benefit increase options" of various types.
    Benefit Increase Options are also known as automatic benefit increase
    option, automatic increase benefit, and cost of living adjustment benefit.
    They provide for annual increases in the benefit amount to offset the
    effects of inflation and are paid for at the time the policy is issued.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Why Purchase LTCI</h3>

  <p>Here are the reasons most often given by insured for purchasing LTCI:</p>

  <ul>
    <li>To avoid being a burden to their families</li>
    <li>To conserve assets for heirs</li>
    <li>To be able to get into the nursing home of their choice</li>
    <li>To be cared for at home as long as possible</li>
    <li>To preserve quality of life</li>
    <li>To have peace of mind</li>
  </ul>
  <p>
    LTCI may not be the best way to achieve these goals. There are alternatives
    to obtaining LTCI that are more suitable for certain people.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>The Pros and Cons</h3>
  <p>
    Long-term care insurance is both complex and controversial. Today, experts
    are suggesting that long-term care insurance may not be right for everyone,
    for instance, people whose net worth is at least $400,000 (excluding their
    home) might want to skip LTCI. The choice is yours, however, so here is a
    summary of some of the main points for and against purchasing such coverage.
  </p>

  <p></p>
  <h2>Reasons for Buying LTCI</h2>
  <p></p>

  <ul>
    <li>
      <p>
        LTCI, although expensive, may provide protection against costly care.
        Thus, if other options are not viable, LTCI may be the way to meet your
        goals. Although LTCI policies remain a low-value product, they are
        better than nothing.
      </p>
    </li>
    <li>
      <p>
        If you have family caregivers, the extra home care coverage in LTCI
        might make it possible to remain at home longer.
      </p>
    </li>
    <li>
      <p>
        LTCI premium costs increase with age. Once you develop a serious medical
        condition, you probably will not qualify for coverage. Thus, it is
        better to buy LTCI early, if at all.
      </p>
    </li>
  </ul>

  <p></p>
  <h2>Reasons against Buying LTCI</h2>
  <p></p>

  <ul>
    <li>
      <p>
        You cannot afford the premiums or don't have enough assets to protect.
        The National Association of Insurance Commissioners recommends spending
        only 5 percent of your income on an LTCI policy.
      </p>
    </li>
    <li>
      <p>
        LTCI policies lack sufficient home care coverage to keep an individual
        out of a nursing home unless family members or informal caregivers are
        available to help in providing care. Thus, if your goal is to avoid
        nursing homes at all costs, LTCI may not be the best way to go.
      </p>
    </li>
    <li>
      <p>
        LTCI policies return from 60 percent to 65 percent of total premiums
        paid in benefits. This return rate is much less than returns from other
        types of health insurance.
      </p>
    </li>
    <li>
      Those with assets over $2 million are better off going the self-insured
      route or simply paying costs as they come up.
    </li>
  </ul>

  <blockquote class="tip">
    <p>
      Refuse to pay more than one month's premium when you apply for coverage.
      In most states, after you buy a policy, you have 30 days to change your
      mind and get a refund.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Other Alternatives</h3>
  <p>
    Here are some options for paying for long-term care, along with their
    advantages and drawbacks:
  </p>

  <p></p>
  <h2>Transferring Assets</h2>
  <p></p>

  <p>
    Giving away assets to qualify for Medicaid may make sense for some people
    who want to leave their heirs an inheritance. The downside of giving away
    assets is that there is less flexibility and fewer resources to pay for
    care.
  </p>

  <p>
    The Medicaid program provides coverage for long-term care services for
    individuals who are unable to afford it. In the past, some people gave away
    their assets to qualify for Medicaid and make sure their heirs received an
    inheritance; however, the passage of the Deficit Reduction Act of 2005
    introduced new rules that discourage the improper transfer of assets to gain
    Medicaid eligibility and receive long-term care services.
  </p>

  <p>
    As such, for anyone who transferred assets in order to become eligible for
    Medicaid, there is a period of ineligibility depending on the date of
    transfer. For individuals transferring assets before February 8, 2006, state
    Medicaid officials only look at transfers made within the 36 months prior to
    the Medicaid application (60 months if the transfer was made to or from
    certain kinds of trusts). For anyone who transferred assets after February
    8, 2006, date, the period is 60 months.
  </p>

  <p>
    In addition, assets transferred, sold, or gifted for less than they are
    worth by individuals in long-term care facilities or receiving home and
    community-based waiver services, by their spouses, or by someone else acting
    on their behalf are prohibited for purposes of establishing Medicaid
    eligibility. This is referred to as transfers of assets for less than fair
    market value.
  </p>

  <p>
    So called "Medicaid trusts" are another option. However, recent changes in
    federal law make it more difficult to have a trust and still qualify for
    Medicaid. Recent policy states the following:
  </p>

  <p>
    Where an individual, his or her spouse, or anyone acting on the individual's
    behalf, establishes a trust using, at least, some of the individual's funds,
    that trust can be considered available to the individual for purposes of
    determining eligibility for Medicaid.
  </p>
  <p>
    Certain trusts are not counted as being available to the individual. They
    include the following:
  </p>
  <ul>
    <li>
      Trusts established by a parent, grandparent, guardian, or court for the
      benefit of an individual who is disabled and under the age of 65, using
      the individual's own funds.
    </li>

    <li>
      Trusts established by a disabled individual, parent, grandparent,
      guardian, or court for the disabled individual, using the individual's own
      funds, where the trust is made up of pooled funds and managed by a
      non-profit organization for the sole benefit of each individual included
      in the trust.
    </li>
    <li>
      Trusts composed only of pension, Social Security, and other income of the
      individual, in states which make individuals eligible for institutional
      care under a special income level, but do not cover institutional care for
      the medically needy.
    </li>
  </ul>

  <p>
    In all of the above instances, the trust must provide that the state
    receives any funds, up to the amount of Medicaid benefits paid on behalf of
    the individual, remaining in the trust when the individual dies.
  </p>

  <p>
    A trust will not be counted as available to the individual where the State
    determines that counting the trust would work an undue hardship.
  </p>

  <p></p>
  <h2>Reverse Mortgage or Equity Conversion</h2>
  <p></p>

  <p>
    Reverse mortgages and other forms of home equity conversion are often viable
    alternatives for those who wish to remain at home. Seniors can borrow money
    against the equity in their homes and defer repayment until they die or sell
    their house. However, for these options to make sense, a home must have a
    high monetary value and be fully or mostly paid for. Moreover, the
    individual must intend to stay in the home for the long-term.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=96&amp;cat=Reverse Mortgages: How They Can Enhance Your Retirement"
        >REVERSE MORTGAGES: How They Can Enhance Your Retirement.</a
      >
    </p>
  </blockquote>

  <p></p>
  <h2>Other Sources of Income</h2>
  <p></p>

  <p>
    Developing other income sources is an option that many older persons
    overlook. If you are retired, you might want to get a part-time job. If you
    are currently working, you might work a few years longer than you had
    planned. You might consider either renting part of your home or selling your
    current home in order to invest the proceeds.
  </p>

  <p></p>
  <h2>Self-Insurance</h2>
  <p></p>

  <p>
    Even though self-insurance - paying for costs yourself if they arise - is a
    gamble even though it is the current strategy of choice for most people.
    Self-insurance makes the most sense for people with major assets ($2 million
    or more), for those who can afford a long nursing home stay, and for people
    of modest means (under $400,000) who would quickly qualify for Medicaid
    anyway.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Can You Afford LTCI?</h3>
  <p>
    Premiums for LTCI vary greatly, depending on your age at the time of
    purchase, the comprehensiveness of the coverage, and the company selling the
    plan.
  </p>

  <p>
    According to the 2022 Long-Term Care Insurance Price Index published by the
    American Association for Long-Term Care Insurance (AALTCI), a traditional
    policy valued at $165,000 in benefits can cost $950 annually for a
    55-year-old male. The equivalent coverage for a 55-year-old woman is $1,500.
    a couple both age 65 could expect to pay $3,750 combined. The two policies
    could provide each with $165,000 of future benefits. Adding an option that
    increased future benefits by three percent annually would cost the couple
    almost twice as much ($7,150 combined). Costs vary significantly from
    insurer to insurer even for identical policies so it's always a good idea to
    shop around.
  </p>

  <p>Here are some general guidelines that suggest buying LTCI:</p>
  <ul>
    <li>
      Your net worth is more than $400,000 (not counting the value of the
      primary residence)
    </li>
    <li>You can pay premiums without having to "go without"</li>
    <li>
      You could continue to afford the premiums, even if they increased by 20 or
      30 percent in the future.
    </li>
  </ul>

  <blockquote class="tip">
    <p>
      Long-term care premiums are tax deductible. For example, if you are
      between 60 and 70 years of age in 2022, you can deduct up to $4,510 ($4520
      in 2021).
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Consider the possibility of receiving
      benefits under a disability policy, please see the Financial Guide:
      <a
        href="?item=49&amp;cat=Disability Benefits: How To Get All You're Entitled To"
        >DISABILITY BENEFITS: How To Get All That You're Entitled To</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>How to Select an Insurer</h3>

  <p>
    If you decide that LTCI is your best option, it is important to shop around
    for the right company. Some states have enacted important consumer
    protections in the LTCI area while others have not. Do not assume that a
    company is a safe bet just because it is licensed by the state insurance
    department to sell LTCI.
  </p>

  <blockquote class="tip">
    <p>
      Seek independent advice from your financial advisor before buying. Use a
      local independent agent or broker who has been recommended by someone
      reliable. Do not buy from an agent who sells door-to-door.
    </p>
  </blockquote>
  <p>
    No matter how good a policy sounds, it is worth little if the company won't
    be there when it comes time to pay. Buy from a company with strong financial
    reserves. Unfortunately, there is no foolproof method for determining which
    companies are financially strong. However, it pays to look up a company's
    rating by A.M. Best or Standard and Poor's, both of which evaluate the
    financial health of insurance companies.
  </p>

  <blockquote class="tip">
    <p>
      Purchase long-term care insurance from a company that has an A+ or A++
      rating from Best or an A, AA, or AAA rating from Standard and Poor's. Most
      public libraries have these references.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="7"></a>What to Look for in a Policy</h3>

  <p>
    Read the policy from cover to cover. Do not rely on marketing literature.
    When you compare LTCI policies, consider the following features:
  </p>

  <p></p>
  <h2>Flexibility</h2>
  <p></p>

  <p>
    A policy that covers nursing homes should also cover assisted living, a
    better alternative for many people who can no longer live on their own. If
    you want a policy with home care, look for one that offers a full range of
    community-based services, including adult day care, or that pays you a
    monthly cash allowance to spend as you please for care.
  </p>

  <blockquote class="tip">
    <p>
      If you lack family caregivers you can count on far into the future, avoid
      buying a policy with home care coverage-it will not be sufficient to
      enable you to stay at home.
    </p>
  </blockquote>
  <p></p>
  <h2>Eligibility</h2>
  <p></p>

  <p>
    Look for a policy that bases eligibility on the need for help with
    activities of daily living. Policies that pay only for medically necessary
    care are not usually a good buy.
  </p>

  <blockquote class="tip">
    <p>
      To be sure you are covered for Alzheimer's disease, choose a policy that
      covers cognitive as well as physical disability and pays benefits if you
      meet either criterion.
    </p>
  </blockquote>

  <p></p>
  <h2>Inflation</h2>
  <p></p>

  <p>
    If you purchase a policy before the age of 75, inflation protection is
    essential to ensure adequate coverage if you need long-term care in the
    future.
  </p>

  <blockquote class="tip">
    <p>
      Buy a policy that has an additional cost but automatically increases
      benefits at the rate of 5 percent annually.
    </p>
  </blockquote>
  <p>
    If you cannot afford inflation protection, either choose a less
    comprehensive policy or do not buy LTCI at all.
  </p>

  <p></p>
  <h2>Duration</h2>
  <p></p>

  <p>
    Keep in mind that the chances of needing long-term care for five years or
    longer are relatively small. For most people, a policy covering two or three
    years will be more cost-effective.
  </p>

  <blockquote class="tip">
    <p>
      Resist pressure to buy the first policy you see. Compare it with at least
      two others.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
