<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/payroll">Payroll</span>
    </li>
  </ol>
</nav>
<app-heading heading="Payroll"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>Cost-Effective Payroll Services for Your Business</strong>
        </h2>
        <p>
          On average, small business owners spend eight hours per month on
          payroll-related tasks. While it may not seem like a lot of time, it
          does add up--and it takes time away from running your business.
        </p>
        <p>
          If you own a small to medium-sized business with more than a few
          employees, you already know that payroll is complicated. It seems like
          every year a new piece of federal, state, or local legislation related
          to payroll is passed that you need to comply with.
        </p>
        <p>
          If you're just starting out, you may only have a few employees to
          worry about. You might be able to handle payroll on your own, but
          wouldn't your time be better spent on developing new products or
          services for your business? &nbsp;
        </p>
        <h3>Outsourcing Your Payroll Is More Affordable Than You Think.</h3>
        <p>
          When you outsource your payroll responsibilities to us you get a
          dedicated payroll specialist who works with you throughout the entire
          payroll process. There's no need for you to hire an in-house
          specialist or maintain a payroll system. We also stay on top of
          legislation affecting payroll compliance, so you don't need to.
        </p>
        <p>
          <strong>Here's what we do for you:</strong>
        </p>
        <ul>
          <li>Direct Deposit and Electronic Fund Transfer (EFT)</li>
          <li>Payroll checks printing</li>
          <li>Payroll tax compliance, e-filing, tax payments</li>
          <li>Payroll reporting by employee or department</li>
          <li>W-2, W-3, and 1099 processing</li>
          <li>
            User-friendly, and easy to understand monthly, quarterly, and annual
            payroll tax reports
          </li>
          <li>Payment of third-party withholdings such as insurance</li>
        </ul>
        <h3>There's No Need to Go It Alone.</h3>
        <p>
          If dealing with payroll leaves you stressed out and overwhelmed; we
          can help.
        </p>
        <p>
          <strong>Give us a call today or submit the form below.</strong>
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
