<div id="fga">
  <p>
    One way to accumulate assets for retirement, education, or other major goals
    is to reduce your spending. Studies have shown that these savings can add up
    over the years to a substantially increased nest egg.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">1. Prepare A Financial Plan</a></li>
      <li><a href="#2">2. Save Your Income</a></li>
      <li><a href="#3">3. Cut Your Mortgage Costs</a></li>
      <li><a href="#4">4. Cut Your Credit Card and Consumer Debt</a></li>
      <li><a href="#5">5. Cut Your Credit Card Costs</a></li>
      <li><a href="#6">6. Cut Your Bank Fees</a></li>
      <li><a href="#7">7. Fine Tune Your Insurance Coverage</a></li>
      <li><a href="#8">8. Cut Your Utility Costs</a></li>
      <li><a href="#9">9. Cut Your Phone Bills</a></li>
      <li><a href="#10">10. Forego One Big Expense Per Year</a></li>
    </ul>

    <p>
      The familiar expression "A penny saved is a penny earned" overlooks the
      impact of taxes; a saved penny is, in fact, worth more, often much more,
      than an earned penny because you pay tax on an earned penny but not on the
      penny you save.
    </p>

    <p>
      Thus, tax-free savings, with earnings compounding over the years, can
      really increase your nest egg, making it worthwhile to explore the
      following money-saving techniques.
    </p>

    <p>
      This Financial Guide provides you with 10 tips for making sure that more
      of your money is slated for saving and investment. More important, it
      provides you with links to other Financial Guides that help you implement
      these tips and maximize the ultimate return.
    </p>

    <h3 class="cellcolor"><a name="1"></a>1. Prepare a Financial Plan</h3>

    <p>
      While most people appreciate the importance of a financial plan, too many
      put it off to the tomorrow that never comes. It is important to identify
      your goals and determine how best to achieve them. A financial plan can
      help you do this.
    </p>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> Please see the Financial
        Guide:
        <a
          href="?item=10&amp;cat=Your Financial Plan: Getting Started On a Secure Future"
          >YOUR FINANCIAL PLAN: Getting Started On A Secure Future.</a
        >
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="2"></a>2. Save Your Income</h3>

    <p>
      Use an automatic savings plan to make sure that you save a percentage of
      your paycheck every payroll period. The percentage should be determined by
      your financial planning needs. Some people need to save 10 percent of
      their gross pay while others need to save more. If the amount saved goes
      to a 401(k) plan or another tax-deferred plan, so much the better.
    </p>

    <p>
      But don't stop with automatic savings. Put aside everything you can. If
      you invest $50 a month in a mutual fund, you could have as much as $25,000
      in ten years, depending on the rate of return.
    </p>

    <blockquote class="tip">
      <p>
        A well-thought-out budget will help you determine how much you should
        and can save.
      </p>
    </blockquote>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> Please see the Financial
        Guide:
        <a href="?item=11&amp;cat=Budgeting: How To Prepare a Workable Plan"
          >BUDGETING: How To Prepare A Workable Plan.</a
        >
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="3"></a>3. Cut Your Mortgage Costs</h3>

    <ul>
      <li>
        <strong>Consider paying down your mortgage.</strong> For most people,
        paying down a mortgage is an effective way of saving and increasing net
        worth. Decide that you will pay $100 or $200 per month or more in
        mortgage principal, and do it faithfully.
      </li>
      <li>
        <strong>Consider refinancing your mortgage.</strong> See if you can save
        money by refinancing your mortgage. Go through the calculations and see
        whether the reduction in your monthly payments would be worth the costs
        involved with refinancing. The general rule is that a reduction of at
        least two points will make it worthwhile to refinance if you intend to
        stay in the house for at least five years.
      </li>
    </ul>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> Please see the Financial
        Guide:
        <a href="?item=68&amp;cat=Refinancing Your Mortgage: When and How"
          >REFINANCING YOUR MORTGAGE: When And How Do It.</a
        >
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>4. Cut Your Credit Card and Consumer Debt
    </h3>

    <p>
      To save interest, consider taking advantage of balance transfers, which
      offer a lower interest rate, typically zero percent (0%) for anyone with
      excellent credit and a stellar FICO score. You may have to pay a
      transaction fee of two to five percent (2-5%) on the amount transferred.
    </p>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> Please see the Financial
        Guide:
        <a
          href="?item=52&amp;cat=Home Equity Loans: How To Shop For The One That Is Best For You"
          >HOME EQUITY LOANS: How To Shop For The One That's Best For You.</a
        >
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>
        Once you have paid off a car loan or other debt, keep sending that
        payment to a mutual fund or other investment.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="5"></a>5. Cut Your Credit Card Costs</h3>

    <p>
      Cut your credit card fees and other costs by switching to a card that
      charges less interest or one that doesn't charge an annual fee. Better
      yet, pay cash (or use a debit card) to pay for your purchases and avoid
      credit cards altogether.
    </p>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> For suggestions as to other
        ways to cut credit card costs, please see the Financial Guide:
        <a
          href="?item=24&amp;cat=Credit Cards: How To Choose - And Use - Them Wisely"
          >CREDIT CARDS: How To Choose And Use Them Wisely.</a
        >
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="6"></a> 6. Cut Your Bank Fees</h3>

    <p>
      There are several ways to reduce your bank fees. Find out what you need to
      do to get free checking and free ATM usage and do it. You may also want to
      join a credit union instead of using a bank since credit unions typically
      charge less for banking services. Here are a few more tips:
    </p>
    <ul>
      <li>Keep a minimum balance in your account to avoid fees.</li>
      <li>
        If you know you will be charged a fee for using another institution's
        ATM, only use the ATM at your own bank.
      </li>
      <li>
        Don't keep too much money in a low-interest savings account. Find out
        how much money you'll need access to in an emergency, typically three to
        six months' worth of expenses depending on your personal financial
        situation, and keep only that amount in savings. The rest of your funds
        should be put to work. With interest rates so low, options include
        investing in stocks or mutual funds and parking your money in a
        long-term CD (check rates using Bankrate.com).
      </li>
      <li>
        If you still write checks, avoid ordering them through your bank. Many
        check printers charge less for check orders than the printers used by
        banks.
      </li>
    </ul>

    <blockquote class="tip">
      <p>
        If you find you are withdrawing too much cash, stop using your ATM card
        and make yourself physically go to the bank to withdraw the money
        instead. This may help you to spend less cash.
      </p>
    </blockquote>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> For suggestions as to other
        ways to cut bank fees, please see the Financial Guide:
        <a href="?item=22&amp;cat=Bank Accounts: What To Look and Ask For"
          >BANK ACCOUNTS: What To Look And Ask For.</a
        >
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>7. Fine Tune Your Insurance Coverage
    </h3>

    <p>Here are some ways to save on insurance of all types:</p>

    <ul>
      <li>
        <strong>Life insurance policy.</strong> Not everyone needs a life
        insurance policy, but if you think you need one, then it pays to shop
        around. If you already have a life insurance policy, then it's a good
        idea to periodically make sure you are paying the lowest premium on your
        life insurance policy because rates change frequently. Also, if you've
        quit smoking, you may be entitled to better rates after a few years.
      </li>

      <li>
        <strong>Examine your life insurance needs. </strong>You may find that
        you are paying for too much coverage.
      </li>
    </ul>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> For suggestions as to other
        ways to cut life insurance costs, please see the Financial Guide:
        <a href="?item=47&amp;cat=Life Insurance: How Much and What Kind To Buy"
          >LIFE INSURANCE: How Much And What Kind To Buy.</a
        >
      </p>
    </blockquote>

    <ul>
      <li>
        <strong>Insure your home and autos with the same insurer.</strong> You
        should be able to get a break by doing this.
      </li>
      <li>
        <strong>Shop around for auto insurance every few years.</strong> You may
        be able to get a lower rate form a competing insurer.
      </li>
    </ul>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> For suggestions as to other
        ways to cut auto insurance costs, please see the Financial Guide:
        <a
          href="?item=43&amp;cat=Car Insurance: 10 Cost-Cutters To Save You Money"
          >CAR INSURANCE: 10 Cost-Cutters To Save You Money.</a
        >
      </p>
    </blockquote>

    <ul>
      <li>
        <strong>Smoke detectors, burglar alarms, and sprinkler systems.</strong>
        Installing these types of safety devices usually helps you save on the
        cost of homeowner's insurance. Don't forget to ask your insurance agent
        about other savings.
      </li>
    </ul>

    <blockquote class="rfg">
      <p>
        <strong>Related Financial Guide:</strong> For suggestions as to other
        ways to cut home insurance costs, please see the Financial Guide:
        <a
          href="?item=64&amp;cat=Homeowner's Insurance: How To Get The Best Coverage and Value"
          >HOMEOWNERS' INSURANCE: How To Get The Best Coverage And Value.</a
        >
      </p>
    </blockquote>

    <ul>
      <li>
        <strong>Get rid of private mortgage insurance.</strong> Once you have
        enough equity in the home, ask your lender to cancel your private
        mortgage insurance.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="8"></a>8. Cut Your Utility Costs</h3>

    <p>
      Your utility may have a program that subsidizes making your home more
      energy-efficient. Look into this possibility. Even if there is no help
      available from the utility, it is worth it to caulk your windows and make
      sure your insulation is a high enough "R" factor.
    </p>

    <p>Here are some other ideas:</p>

    <ul>
      <li>
        Use energy-efficient bulbs such as CFLs (compact fluorescent lights) and
        LEDs (light-emitting diodes) instead of incandescent bulbs. Doing so
        will save you about 25 to 30 percent. Another advantage is that these
        types of bulbs last longer.
      </li>

      <li>
        Keep the thermostat set at the lowest comfortable temperature in winter
        and the highest comfortable temperature in summer.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="9"></a>9. Cut Your Phone Bills</h3>

    <p>
      Today's cost-cutting competition among phone service providers offers many
      opportunities for savings on your phone bills, such as:
    </p>

    <ul>
      <li>
        If you have a landline phone, make sure you're paying as little as
        possible for long-distance charges. Take the time to investigate which
        long-distance carrier will save you the most, and switch to that
        carrier. Or, bundle your phone with cable and internet service.
      </li>

      <li>
        Use e-mail, texting, or Zoom video to correspond with relatives and
        friends.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>10. Forego One Big Expense per Year
    </h3>

    <p>
      For instance, skip your yearly vacation this year or take a less expensive
      one. Another way to save on a large yearly expense is to swap an expensive
      health club membership for a membership at the YMCA or shop around. Many
      fitness facilities offer special rates for new members. Paying one year or
      six months up front may also give you a break on costs.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- fga  -->
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="cellcolor" align="left">
          <p style="padding: 5px">
            <font size="3" face="Arial"><b>Also See...</b></font>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- br --><a
    href="/sample652/life-events.php?item=101&amp;catid=25&amp;cat=Recordkeeping+Guide%3A+How+Long+You+Should+Retain+Your+Records"
    ><font face="Arial" size="2"
      ><b>Recordkeeping Guide: How Long You Should Retain Your Records</b></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=102&amp;catid=25&amp;cat=Document+Locator+System%3A+A+Handy+Aid+For+Keeping+Track+of+Your+Records"
    ><font face="Arial" size="2"
      ><b
        >Document Locator System: A Handy Aid For Keeping Track of Your
        Records</b
      ></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=157&amp;catid=25&amp;cat=Other+Situations%3A+Frequently+Asked+Questions"
    ><font face="Arial" size="2"
      ><b>Other Situations: Frequently Asked Questions</b></font
    ></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=sav01"
    ><font face="Arial" size="2"><b>Becoming A Millionaire</b></font></a
  ><br />
</div>
