<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/financial-planning-for-businesses">Financial Planning for Businesses</span>
    </li>
  </ol>
</nav>
<app-heading heading="Financial Planning for Businesses"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>We're Experts at Financial Planning &amp; Analysis</strong>
        </h2>
        <p>
          The goal of business financial planning at any company is to advise
          company decision-makers on how to achieve revenue and growth goals
          through strategic planning. We do this by analyzing, synthesizing and
          translating data and using this information to help CEO, CFO, COO, and
          other C-suite management make better decisions about your company's
          future.
        </p>
        <p>
          If you've been in business for a while, you could be coasting along,
          stuck in the routine of payroll, taxes, and worrying about cash flow.
          Sure, you're probably earning a good living, but maybe you've been
          wondering if there's any way you could become even more
          profitable--without making too many changes to your business
          practices.
        </p>
        <p>
          The good news is that you can, and we are here to help you do just
          that.
        </p>
        <h3>An Accounting Firm That Understands Your Business.</h3>
        <p>
          If you run a successful business, you already understand how important
          it is to work with an accounting firm that understands how your
          company operates. What you might not realize is that when you add an
          accountant with expertise in financial planning and analysis to the
          team it allows you to take your business to another level.
        </p>
        <p>
          <strong>Here's what we do for you:</strong>
        </p>
        <ul>
          <li>Financial reporting and analysis</li>
          <li>
            Identify company-wide trends and variations in your business
            financials
          </li>
          <li>
            Use historical performance data to forecast future performance
          </li>
          <li>Profitability analysis</li>
          <li>Develop and maintain strategic plans in support of growth</li>
          <li>Business modeling</li>
          <li>Budgeting and financial forecasting</li>
          <li>Sales, marketing and economic analysis</li>
          <li>
            Company performance management (developing key performance metrics
            and benchmarking)
          </li>
        </ul>
        <h3>The Best Business Decision You'll Ever Make</h3>
        <p>
          If you're ready to take the next step and regain your competitive
          edge, we can help.
        </p>
        <p>
          <strong
            >Simply fill out the contact form below and one of our financial
            analysts will be in touch soon.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
