.nav-list {
  display: inline-flex;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* .dropend:hover>.dropdown-menu {
  display: block;
} */

.dropdown>.dropdown-toggle:active {
  /* Without this, clicking will make it sticky */
    /* pointer-events: none; */
}
