.dropdown-menu {
  padding: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropend > .dropdown-menu {
  top: 0;
  right: 100%;
}

.dropend:hover >.dropdown-menu {
  display: block;
}

/* .dropdown>.dropdown-toggle:active { */
  /* Without this, clicking will make it sticky */
  /* pointer-events: none; */
/* } */
