<br />
We've all heard the horror stories of overly trusting individuals being tricked
into giving their money to less than savory characters. This guide section
focuses on identifying scam artists and protecting yourself from them.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/con-artists-fg']"
          routerLinkActive="router-link-active"
          ><b>Con Artists: How To Spot and Stop Them</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/fraudulent-charities-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Fraudulent Charities: How To Protect Yourself</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/avoiding-scams-faq']"
          routerLinkActive="router-link-active"
          ><b>Avoiding Scams: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
