<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li>
        <a href="#1"
          >What types of tax relief are available for costs of my children's
          higher education?</a
        >
      </li>
      <li><a href="#2">What is the education tax credit?</a></li>
      <li>
        <a href="#3"
          >Do any tax planning considerations apply to the education tax
          credit?</a
        >
      </li>
      <li>
        <a href="#4"
          >Do living expenses while in school qualify for tax relief?</a
        >
      </li>
      <li><a href="#5">How does a Coverdell (Section 530) program work?</a></li>
      <li>
        <a href="#6"
          >How can my family make best use of a Coverdell (Section 530)
          program?</a
        >
      </li>
      <li><a href="#7">What are qualified tuition programs?</a></li>
      <li>
        <a href="#8"
          >How do Coverdell Section 530 plans and qualified tuition Section 529
          plans differ?</a
        >
      </li>
      <li><a href="#9">Can my traditional IRA be used for education?</a></li>
      <li><a href="#10">Can a Roth IRA be used for education?</a></li>
      <li>
        <a href="#11"
          >What tax deductions are available for college education?</a
        >
      </li>
      <li>
        <a href="#12"
          >What tax benefits are available for continuing/adult education for a
          hobby or a sideline?</a
        >
      </li>
      <li><a href="#13">Can I deduct student loan interest?</a></li>
      <li>
        <a href="#14"
          >If I take a home equity loan to pay education expenses, can I deduct
          the interest?</a
        >
      </li>
      <li>
        <a href="#15"
          >What tax treatment applies if my student loan debt is canceled?</a
        >
      </li>
      <li>
        <a href="#16">What's the tax relief for education savings bonds?</a>
      </li>
      <li>
        <a href="#17"
          >Must I pay tax on my employer's payment or reimbursement of my
          education expenses?</a
        >
      </li>
      <li>
        <a href="#18"
          >Can I take tax deductions from education I pay for that helps me in
          my work?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <h3 class="cellcolor">
    <a name="1"></a>What Types of Tax Relief are Available for Costs of my
    Children's Higher Education?
  </h3>

  <p>
    A wide variety of tax relief is available, but you'll need to choose which
    credit or deduction to claim or which savings plan to use based on your
    individual tax situation. You also can't use two different kinds of relief
    for the same item. For instance, you can't take the higher education credit
    and tuition fees deduction for the same student for the same year. You also
    can't take the American Opportunity Tax Credit and the Lifetime Learning
    Credit for the same student for the same year. There may also be limits
    based on adjusted gross income.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>What is the Education Tax Credit?</h3>

  <p>
    Two tax credits are available for education costs - the American Opportunity
    Tax Credit and the Lifetime Learning Credit. These credits are available
    only to taxpayers with adjusted gross income below specified amounts, see
    Income Phase-Outs, below. Both credits were made permanent by the Protecting
    Americans from Tax Hikes Act of 2015 (PATH).
  </p>

  <h2>How Do These Credits Work?</h2>

  <p>
    The amount of the credit you can claim is either, $0, $2,000, or $4,000 and
    depends on (1) how much you pay for qualified tuition and other expenses for
    students and (2) your adjusted gross income (AGI) for the year.
  </p>

  <p>
    You must report on Form 8863 the eligible student's name and Social Security
    number on your return to claim the credit. You subtract the credits from
    your federal income tax. If the credit reduces your tax below zero, you
    cannot receive the excess as a refund. If you receive a refund of education
    costs for which you claimed a credit in a later year, you may have to repay
    ("recapture") the credit.
  </p>

  <blockquote class="caution">
    <p>
      If you file married-filing separately, you cannot claim these credits.
    </p>
  </blockquote>

  <p>
    <strong>Which costs are eligible</strong>? Qualifying tuition and related
    expenses refer to tuition and fees, and course materials required for
    enrollment or attendance at an eligible education institution. They now
    include books, supplies, and equipment needed for a course of study whether
    or not the materials must be purchased from the educational institution as a
    condition of enrollment or attendance.
  </p>

  <p>
    "Related" expenses do not include room and board, student activities,
    athletics (other than courses that are part of a degree program), insurance,
    equipment, transportation, or any personal, living, or family expenses.
    Student-activity fees are included in qualified education expenses only if
    the fees must be paid to the institution as a condition of enrollment or
    attendance. For expenses paid with borrowed funds, count the expenses when
    they are paid, not when borrowings are repaid.
  </p>

  <blockquote class="tip">
    <p>
      If you pay qualified expenses for a school semester that begins in the
      first three months of the following year, you can use the prepaid amount
      in figuring your credit.
    </p>
  </blockquote>

  <blockquote class="example">
    <p>
      You pay $6,500 of tuition in December 2022 for the winter 2022-2023
      semester, which begins in January 2023. You can use the $6,500 in figuring
      your 2022 credit. If you paid in January instead, you would take the
      credit on your 2023 return.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      As future year-end tax planning, this rule gives you a choice of the year
      to take the credit for academic periods beginning in the first 3 months of
      the year; pay by December and take the credit this year; pay in January or
      later and take the credit next year.
    </p>
  </blockquote>

  <p>
    <strong>Eligible students</strong>. You, your spouse, or an eligible
    dependent (someone for whom you can claim a dependency exemption, including
    children under age 24 who are full-time students) can be an eligible student
    for whom the credit can apply. If you claim the student as a dependent,
    qualifying expenses paid by the student are treated as paid by you, and for
    your credit purposes are added to expenses you paid. A person claimed as
    another person's dependent can't claim the credit. The student must be
    enrolled at an eligible education institution (any accredited public,
    non-profit or private post-secondary institution eligible to participate in
    student Department of Education aid programs) for at least one academic
    period (semester, trimester, etc.) during the year.
  </p>

  <p>
    <strong>No "double-dipping."</strong> The tax law says that you can't claim
    both a credit and a deduction for the same higher education costs. It also
    says that if you pay education costs with a tax-free scholarship, Pell
    grant, or employer-provided educational assistance, you cannot claim a
    credit for those amounts.
  </p>

  <p>
    <strong>Income limits.</strong> To claim the American Opportunity Tax
    Credit, for example, your modified adjusted gross income (MAGI) must not
    exceed $90,000 ($180,000 for joint filers). To claim the Lifetime Learning
    Credit, MAGI must not exceed $69,000 ($138,000 for joint filers). "Modified
    AGI" generally means your adjusted gross income. The "modifications" only
    come into play if you have income earned abroad.
  </p>

  <h2>The American Opportunity Tax Credit</h2>

  <p>
    The American Opportunity Tax Credit (AOTC) was made permanent starting with
    tax-year 2015. The maximum credit, available only for the first four years
    of post-secondary education, is $2,500. You can claim the credit for each
    eligible student you have for which the credit requirements are met.
  </p>

  <p>
    Special qualification rules. In addition to being an eligible student, he or
    she:
  </p>

  <ul>
    <li>
      Must be enrolled in a program leading to a degree, certificate, or other
      recognized credential;
    </li>
    <li>
      Must be taking at least half of a normal full-time load of courses, for at
      least one semester or trimester beginning in the year for which the credit
      is claimed; and
    </li>
    <li>May not have any drug-related felony convictions.</li>
  </ul>

  <p>
    <strong>Amount of credit.</strong> The maximum amount of the AOTC is $2,500.
    Generally, 40 percent of the AOTC is now a refundable credit for most
    taxpayers, which means that you can receive up to $1,000 even if you owe no
    taxes.
  </p>

  <h2>The Lifetime Learning Credit</h2>

  <p>
    You may be able to claim a Lifetime Learning Credit of up to $2,000 (20
    percent of the first $10,000 of qualified expense) for eligible students
    (subject to reduction based on your AGI). Only one Lifetime Learning Credit
    can be taken per tax return, regardless of the number of students in the
    family.
  </p>

  <ul>
    <li>
      The credit can help pay for undergraduate, graduate and professional
      degree courses, including courses to improve job skills.
    </li>
    <li>
      For courses taken to acquire or improve job skills, there are no
      requirements as to course loads, so that even one or two courses can
      qualify.
    </li>
    <li>
      The number of years for which this credit can be claimed is not limited.
    </li>
  </ul>

  <p>
    <strong>Choosing the Credit</strong>. You can't claim both credits for the
    same person in the same year. But you can claim one credit for one or more
    family members and the other credit for expenses for one or more others in
    the same year - for example, an American Opportunity Tax Credit for your
    child and a Lifetime Learning Credit for yourself.
  </p>

  <p>
    <strong>Electing Not to Take the Credit</strong>. There are situations in
    which the credit is not allowed, or not fully available, if some other
    education tax benefit is claimed - where the higher education expense
    deduction is claimed for the same student, see below, or where credit and
    tax exemption (under a Section 529 or 530 program) are claimed for the same
    expense. In that case, the taxpayer - or, more likely, the taxpayer's tax
    adviser - will determine which tax rule offers the greater benefit and if
    it's not the credit, elect not to take the credit.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Do any tax planning considerations apply to the education
    tax credit?
  </h3>

  <p>
    For an academic period (quarter, semester, etc.) beginning in the first 3
    months of a calendar year, you can pick which year to pay the expense and
    take the credit. That is, pay in December 2022 and take the credit in 2022
    or pay in, say, February 2023 and take the credit in 2023.
  </p>

  <p>
    Your family may be able to save tax by foregoing the education credit and
    taking an available exemption for program distributions instead.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>Do living expenses while in school qualify for tax relief?
  </h3>

  <p>
    Sometimes. Examples are for relief provided for Coverdell Education Savings
    Accounts (Section 530 programs), for Qualified Tuition Programs (Section
    529), for withdrawals from traditional and Roth IRAs, and for student loans.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="5"></a>How does a Coverdell (Section 530) Education Savings Account
    work?
  </h3>

  <p>An education IRA differs from other IRAs in the following ways:</p>

  <ul>
    <li>
      No more than $2,000 a year can be contributed to any beneficiary of a
      single 530 account in any year and contributors are subject to income
      limits. Modified AGI cannot exceed $110,000 ($220,000 joint filers).
    </li>
    <li>
      Contributions aren't deductible and excess contributions are subject to
      penalty.
    </li>
    <li>
      Withdrawals are tax-free to the extent used for qualified education
      expenses.
    </li>
    <li>
      <p>
        Contributions can't be made after the student reaches age 18, and the
        account generally must distribute all funds by the student's age 30.
      </p>
    </li>
  </ul>

  <p>
    A 530 account may be used for primary and secondary education, including
    paying for room and board of children in private schools, and for computers
    and related materials whether or not away from home.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="6"></a>How can my family make best use of a Coverdell (Section 530)
    program?
  </h3>

  <p>
    There can be a number of Section 530 accounts for any student. Various
    family members, such as grandparents, aunts, and uncles, and siblings--and
    persons outside the family--can contribute to separate accounts for a
    student.
  </p>

  <p>
    The original student beneficiary for the Section 530 account can be changed
    to another family member, such as a sibling - for example, where the
    original beneficiary wins a scholarship or drops out.
  </p>

  <p>
    Funds can be rolled over tax-free from one family member's Section 530
    account to another's for example, to avoid distribution when the first
    family member reaches age 30.
  </p>

  <p>
    The education tax credit (where applicable) can be waived in favor of
    tax-free treatment for Section 530 account distributions.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>What are Qualified Tuition Programs (QTPs)?
  </h3>

  <p>
    Also called Section 529 plans, these college savings plans have been
    established by almost every state and some private colleges. You invest now
    to cover future college or vocational school expenses, by contributing to a
    savings account or buying tuition credits redeemable in the future.
    Investments grow tax-free, and distributions to pay college expenses can
    also be tax-free. You may choose any state's plan, regardless of where you
    live. Starting in 2018, funds from 529 plans can be used for up to $10,000
    of qualified expenses related to K-12 education as well.
  </p>

  <blockquote class="tip">
    <p>
      Even if a QTP is used to finance a student's education, the student or the
      student's parents still may be eligible to claim the American Opportunity
      Tax Credit or the Lifetime Learning Credit.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="8"></a>How do Coverdell Education Savings Accounts (Section 530)
    and Qualified Tuition Plans (Section 529) differ?
  </h3>

  <p>
    Section 530 plans limit investment to $2,000 a year per student; 529 plans
    allow a much larger investment. Section 530 plans allow a wide choice of
    investments; 529 investment choices are limited and conservative. Section
    530 is a single nationwide program, whereas each 529 program is different.
    Both are available for higher education as well as primary and secondary
    education.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="9"></a>Can my traditional IRA be used for education?
  </h3>

  <p>
    Yes. The 10 percent penalty on withdrawal under age 59-1/2 won't apply, but
    ordinary income tax will apply to at least some of the withdrawal.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="10"></a>Can a Roth IRA be used for education?
  </h3>

  <p>
    Yes, generally under the same terms as traditional IRAs. Also, ordinary
    income tax is somewhat less likely or may be smaller in amount, than with
    traditional IRAs.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="11"></a>What tax deductions are available for college education?
  </h3>

  <p>
    You can choose to take a tax deduction rather than the college tuition tax
    credits noted above. A tax deduction is usually taken if income is too high
    for the tax credits. The tax deduction reduces your amount of income. The
    tax credits reduce the amount of tax you pay.
  </p>

  <p>
    A $4,000 above the line deduction for qualified tuition expenses was
    extended through tax-year 2020, but repealed for 2021 and beyond under the
    Consolidated Appropriations Act (CAA). In 2020, the deduction was allowed if
    taxpayer's (modified) adjusted gross income is $80,000 or less ($160,000 or
    less on a joint return).
  </p>

  <p>
    A business expense deduction is also allowed without dollar limit, for
    education that serves the taxpayer's business, including employment. The
    deduction is also allowed for student loan interest; however, a taxpayer may
    not take more than one deduction for the same item.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="12"></a>What tax benefits are available for continuing/adult
    education for a sideline hobby?
  </h3>

  <p>
    If it's not part of a degree or certificate program, and not work-related,
    the limited deduction (up to $4,000 for qualified tuition and fees) was your
    only option; however, please note that this deduction expired at the end of
    2020 and was repealed for tax years 2021 and beyond. It is possible that in
    some instances, a sideline interest might qualify for exclusion if paid for
    under an employer-provided education assistance program.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="13"></a>Can I deduct student loan interest?
  </h3>

  <p>
    Since personal interest is generally non-deductible, deductions must meet
    several tests:
  </p>

  <ol>
    <li>
      You must be the person liable on the debt and the loan must be for
      education only (not an open line of credit).
    </li>
    <li>
      Your income can't exceed $170,000 on a joint return or $85,000 for single
      filers. Married couples filing separately cannot take the deduction.
    </li>
    <li><p>You can't deduct if you're claimed as a dependent.</p></li>

    <li>Deduction ceiling is $2,500 (starting in tax year 2013).</li>
  </ol>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="14"></a>If I take a home equity loan to pay education expenses, can
    I deduct the interest?
  </h3>

  <p>
    For tax years prior to 2018, you could deduct interest form a home equity
    loan used to pay educational and other non-home improvement-related
    expenses, not as student loan interest. In this case, there was no income
    ceiling on your deduction, and certain other student loan limits didn't
    apply. However, for tax years 2018 through 2025, taxpayers are no longer
    able to deduct interest on home equity loans taken out for non-home-related
    purposes.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="15"></a>What tax treatment applies if my student loan debt is
    canceled?
  </h3>

  <p>
    Usually you're taxed on the unpaid loan balance, but the tax can be waived
    if the debt is canceled if you worked:
  </p>
  <ul>
    <li>For a certain period of time,</li>
    <li>In certain professions, and</li>
    <li>For any broad class of employers.</li>
  </ul>

  <p>
    Tax reform legislation passed in 2017 further stipulated that student loan
    debt forgiveness due to death or permanent and total disability is excluded
    from income.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="16"></a>What's the tax relief for education savings bonds?
  </h3>

  <p>
    Interest on redemption of Series EE bonds is tax-exempt if you redeem them
    in a year you have qualified education expenses. Exemption depends on the
    amount of your income in the year you redeem the bond.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="17"></a>Must I pay tax on my employer's payment or reimbursement of
    my education expenses?
  </h3>

  <p>
    Maybe not. Starting in 2013, up to $5,250 can be tax-free. Exemption can
    apply to graduate level courses.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="18"></a>Can I take tax deductions for education I pay for that
    helps me in my work?
  </h3>

  <p>
    For tax years prior to 2018, the answer was, yes, if it's to maintain or
    improve skills in your present job, but no, if it was to meet minimum
    requirements of that job, or to qualify to enter a new business.
    Furthermore, employee's deductions were subject to the two percent floor on
    miscellaneous itemized deductions. However, under the Tax Cuts and Jobs Act
    of 2017 ("tax reform"), for tax years 2018 through 2025, employee
    business-related deductions (including education expenses) are disallowed.
    That is, there are no miscellaneous deductions on Schedule A as there were
    previously. Self-employed individuals are still able to deduct qualifying
    educational expenses on Schedule C.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
