<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/tax-relief">Tax Relief</span>
    </li>
  </ol>
</nav>
<app-heading heading="Tax Relief"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div id="Text" style="text-align: left">
        <h2>
          <strong>If You Owe the IRS Money, We Can Help!</strong>
        </h2>
        <p>
          Have you ever received a letter or notice from the IRS, ignored it,
          and now you owe penalties and fines on top of the taxes you already
          owe? &nbsp;
        </p>
        <p>You're not alone.</p>
        <p>
          Millions of taxpayers receive letters or notices from the IRS every
          year. Most of the time there's nothing to worry about. But sometimes
          there is. Maybe you owe the IRS back taxes or failed to file a tax
          return because you owed the IRS money that you knew you didn't have.
          Maybe you were recently divorced, and your tax situation seemed too
          complicated to figure out. Or, perhaps you were just too busy to
          bother filing.
        </p>
        <p>
          Whatever the reason, if the IRS has caught up to you and is demanding
          payment, the next step is likely to be garnishing your wages, putting
          a lien on your home or a levy on your bank account. The worst thing
          you can do is keep ignoring the situation because it won't be going
          away -- ever -- unless you take action.
        </p>
        <h3>We'll Help You Find a Fair Solution to Your Tax Problem.</h3>
        <p>
          We understand how the IRS works and what it takes to successfully
          mediate a solution on your behalf whether it's filing a past due
          return, minimizing back tax debt and any penalties or fines, or
          submitting an offer in compromise.
        </p>
        <p>
          <strong
            >Our friendly, knowledgeable tax professionals are experts at what
            they do and are here to help you resolve the following tax
            problems:</strong
          >
        </p>
        <ul>
          <li>IRS Audit</li>
          <li>Back Taxes</li>
          <li>Delinquent Tax Returns</li>
          <li>Failure to File a Tax Return</li>
          <li>IRS Liens &amp; Levies</li>
          <li>Wage Garnishment</li>
        </ul>
        <h3>Get Tax Relief Now</h3>
        <p>
          <strong
            >If you owe the IRS money and are wondering what your options are,
            contact us today or click on any of the links below to learn more
            about our tax relief services and how we can help.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
