<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Should I buy long-term care insurance?</a></li>
      <li>
        <a href="#2">What are the alternatives to long-term care insurance?</a>
      </li>
      <li><a href="#3">How much does long-term care insurance cost?</a></li>
      <li>
        <a href="#4"
          >What should I look for in a long-term care insurance policy?</a
        >
      </li>
      <li><a href="#5">Do I need long-term care insurance?</a></li>
      <li><a href="#6">How does long-term care insurance work?</a></li>
      <li>
        <a href="#7"
          >In a long-term care policy, what is the elimination period?</a
        >
      </li>
      <li>
        <a href="#8"
          >How should I select a long-term care insurance provider?</a
        >
      </li>
      <li>
        <a href="#9"
          >Should I comparison shop for long-term insurance coverage?</a
        >
      </li>
      <li>
        <a href="#10"
          >Is it worthwhile buying "dread disease" insurance, and other types of
          special health insurance?</a
        >
      </li>
      <li>
        <a href="#11"
          >Do I need disability insurance? How can I ensure I have adequate
          coverage?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>Should I buy long-term care insurance?
    </h3>

    <p>
      Long term care insurance (LTCI) is both complex and controversial. It
      covers certain nursing home costs and sometimes home health care. Here is
      a summary of some of the main points for and against purchasing such
      coverage.
    </p>

    <p><strong>Reasons Against:</strong></p>

    <ul>
      <li>
        <p>
          Inability to afford the premiums, or not having enough assets to
          protect. In such a case, the individual will quickly qualify for
          Medicaid.
        </p>
      </li>
      <li>
        <p>
          Some LTCI policies lack sufficient home care coverage to keep an
          individual out of a nursing home unless family members or informal
          caregivers are available to help in providing care. Thus, if your goal
          is to avoid nursing homes at all costs, LTCI may not be the best way
          to go.
        </p>
      </li>
      <li>
        <p>
          LTCI policies return from 60 percent to 65 percent of total premiums
          paid in benefits. This is much less than returns from other types of
          health insurance.
        </p>
      </li>
      <li>
        <p>
          The fact that LTCI policies are improving: In a few years, you may be
          able to get a better deal.
        </p>
      </li>
    </ul>

    <p><strong>Reasons For:</strong></p>

    <ul>
      <li>
        <p>
          LTCI, although expensive, may provide protection against costly care.
          While the premiums may be wasted if you never need long-term care if
          you do need the care the insurance can effectively pay back your
          premiums many times over.
        </p>
      </li>
      <li>
        <p>
          If you have family caregivers, the extra home care coverage in LTCI
          might make it possible to remain at home longer.
        </p>
      </li>
      <li>
        <p>
          LTCI premium costs increase with age. Once you develop a serious
          medical condition, you probably won't qualify for coverage. Thus, it
          is better to buy LTCI early in the game if at all.
        </p>
      </li>
    </ul>

    <p><strong>Some Guidelines</strong></p>

    <p>
      Do not buy long-term care insurance unless all of the following apply to
      you:
    </p>

    <ul>
      <li>
        <p>
          Each person in the household has more than $75,000 in assets (not
          counting the value of the primary residence)
        </p>
      </li>
      <li>
        <p>
          Your annual retirement income per person in the household is over
          $30,000
        </p>
      </li>
      <li><p>You can pay premiums without having to "go without"</p></li>
      <li>
        You could continue to afford the premiums, even if they increased by 20
        percent or 30 percent in the future
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What are the alternatives to long-term care insurance?
    </h3>

    <p>
      Here are some options for paying for long-term care, along with their
      advantages and drawbacks:
    </p>

    <p><strong>Applying For Medicaid</strong></p>

    <p>
      Eligibility rules vary from state to state, but beneficiaries are
      generally required to "spend down" their income and assets to qualify. New
      laws in many states make it possible for the spouses of Medicaid nursing
      home residents to keep more income and assets than previously allowed.
    </p>

    <p><strong>Reverse Mortgage, Equity Conversion</strong></p>

    <p>
      Reverse mortgages and other forms of home equity conversion are often
      viable alternatives for those who wish to remain at home. Seniors borrow
      money against the equity in their homes and defer repayment until they die
      or sell their house. However, for these options to make sense, a home must
      have a high monetary value and be fully or mostly paid for, and the
      individual must intend to stay in the home for the long term.
    </p>

    <p><strong>Self Insurance </strong></p>

    <p>
      Self-insurance - paying for costs if they arise - is a gamble but is the
      current strategy of choice for the majority. Self-insurance makes the most
      sense for people with major assets; for those who can afford a long
      nursing home stay and; for people of modest means, who would quickly
      qualify for Medicaid anyway.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>How much does long-term care insurance cost?
    </h3>

    <p>
      Premiums for LTCI vary greatly, depending on your age at the time of
      purchase, the comprehensiveness of the coverage, and the company selling
      the plan.
    </p>

    <p>
      According to the 2022 Long-Term Care Insurance Price Index published by
      the American Association for Long-Term Care Insurance (AALTCI), a
      traditional policy valued at $165,000 in benefits can cost $950 annually
      for a 55-year-old male. The equivalent coverage for a 55-year-old woman is
      $1,500. a couple both age 65 could expect to pay $3,750 combined. The two
      policies could provide each with $165,000 of future benefits. Adding an
      option that increased future benefits by three percent annually would cost
      the couple almost twice as much ($7,150 combined). Costs vary
      significantly from insurer to insurer even for identical policies so it's
      always a good idea to shop around.
    </p>

    <p>
      But, no matter how good a policy sounds, it's worth little if the company
      won't be there when it comes time to pay, so you should always buy from a
      company with strong financial reserves. Unfortunately, there is no
      foolproof method for determining which companies are financially strong.
      However, it pays to look up a company's rating by M. Best or Standard and
      Poor's, both of which evaluate the financial health of insurance
      companies.
    </p>

    <blockquote class="tip">
      <p>
        Purchase long-term care insurance from a company that has an A+ or A++
        rating from Best or an A, AA, or AAA rating from Standard and Poor's.
        Most public libraries have these references.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>What should I look for in a long-term care insurance
      policy?
    </h3>

    <p>
      When you compare long-term care insurance policies, consider the
      following:
    </p>

    <p>
      <strong>Flexibility.</strong> A policy that covers nursing homes should
      also cover assisted living, a better alternative for many people who can
      no longer live on their own. If you want a policy with home care, look for
      one that offers a full range of community-based services, including adult
      daycare, or that pays you a monthly cash allowance to spend as you please
      for care.
    </p>

    <p>
      <strong>Eligibility.</strong> Look for a policy that bases eligibility on
      the need for help with activities of daily living. Policies that only pay
      for "medically necessary" care are not usually a good buy. To be sure you
      are covered for Alzheimer's disease, choose a policy that covers cognitive
      as well as physical disability and pays benefits if you meet either
      criterion.
    </p>

    <p>
      <strong>Inflation.</strong> If you purchase a policy before the age of 75,
      inflation protection is essential to ensure adequate coverage when you
      need long-term care at some point in the future. Buy a policy that has an
      additional cost but automatically increases benefits at the rate of 5
      percent annually.
    </p>

    <p>
      <strong>Duration.</strong> Keep in mind that the chances of needing
      long-term care for five years or longer are relatively small. For most
      people, a policy covering two or three years will be more cost-effective.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Do I need long-term care insurance?
    </h3>

    <p>
      A study by the U.S. Department of Health and Human Services says that
      people who reach age 65 will likely have a 40 percent chance of entering a
      nursing home; however, the risk of needing nursing home care before age 75
      is relatively low. Also, most people will not need nursing home care for
      longer than a year.
    </p>

    <p>
      Your chances of needing long-term care vary with your age, health, family
      history and longevity, exercise habits, diet, smoking, and gender. Women
      are at higher risk because they live longer.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>How does long-term care insurance work?
    </h3>

    <p>
      Long-term care insurance policies pay a set dollar amount per day for
      covered care during the benefit period stated in the policy.
    </p>

    <blockquote class="example">
      <p>
        <strong>Example:</strong> You choose a policy that pays $160 per day for
        five years. The maximum that policy will pay is $292,000 ($160 per day,
        times 365 days, times 5 years).
      </p>
    </blockquote>

    <p>
      The older the covered individual, the higher the premium. For instance,
      premiums for a set amount of coverage for a 70-year-old individual are
      about three times those that would apply to a 50-year-old.
    </p>

    <p>
      Most long-term care policies are indemnity-type policies, meaning they
      will pay (up to the policy's limits) for actual charges by the care
      provider. Some long-term care policies, instead of being based on
      indemnity, pay daily benefit amounts to the insured rather than paying for
      actual charges. The latter type of policy offers insureds greater
      flexibility, allowing them to pay for home care for example, and less
      paperwork.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>In a long-term care policy, what is the elimination
      period?
    </h3>

    <p>
      This period constitutes the number of days the insured must wait after
      becoming eligible for benefits before coverage actually begins. The
      elimination period can range from zero to 90 days, or up to one year. The
      longer the elimination period, the lower the premium is.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>How should I select a long-term care insurance provider?
    </h3>

    <p>
      If you decide that long-term care insurance (LTCI) is your best option, it
      is important to shop around for the right company. Some states have
      enacted important consumer protections in the LTCI area, while others have
      not. Do not assume the company is a safe bet just because it is licensed
      by the state insurance department to sell LTCI.
    </p>

    <p>
      No matter how good a policy sounds, it is worth little if the company
      won't be there when it comes time to pay. Buy from a company with strong
      financial reserves. Unfortunately, there is no foolproof method for
      determining which companies are financially strong. However, it pays to
      look up a company's rating by A.M. Best or Standard and Poor's, both of
      which evaluate the financial health of insurance companies.
    </p>

    <blockquote class="tip">
      <p>
        Purchase long-term care insurance from a company that has an A+ or A++
        rating from Best or an A, AA, or AAA rating from Standard and Poor's.
        Most public libraries have these references.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>Should I comparison shop for long-term care insurance
      coverage?
    </h3>

    <p>
      Seek independent advice before buying. You might find such guidance from a
      financial advisor; an elder-law attorney; government-funded counseling and
      information services; or consumer organizations.
    </p>

    <blockquote class="tip">
      <p>
        Use a local independent agent or broker who has been recommended by
        someone reliable. Don't buy from an agent who sells door-to-door.
      </p>
    </blockquote>

    <p>
      <strong>Read the policy from cover to cover;</strong> don't rely on
      marketing literature.
    </p>

    <p>
      <strong>Don't be pressured to buy the first policy you see.</strong>
      Compare it with at least two others.
    </p>

    <blockquote class="tip">
      <p>
        Don't pay more than one month's premium when you apply for coverage. In
        most states, after you buy a policy, you have thirty days to change your
        mind and get a refund.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>Is it worthwhile buying special types of health
      insurance?
    </h3>

    <p>
      You may receive solicitations in the mail for the following types of
      health insurance, or you may run across ads for them. They are to be
      avoided at all costs.
    </p>

    <blockquote class="note">
      <p>
        We realize that there are worthwhile policies out there that fall into
        the categories we talk about. But we bring your attention to these
        categories so that you will be wary of them, and will not buy without
        careful research.
      </p>
    </blockquote>

    <ul>
      <li>
        <p>
          <strong>Dread-Disease Insurance.</strong> This limited coverage
          insures against only one specific disease. Further, if you already
          have this disease (i.e., have been diagnosed) at the time you buy the
          policy, you're not covered.
        </p>
      </li>
      <li>
        <p>
          <strong>Hospital Indemnity Insurance.</strong> "Indemnity" insurance
          means that the policy will pay (up to the policy's limits) for actual
          charges by the care provider, as opposed to paying daily benefit
          amounts to the insured regardless of actual charges. The typical
          "hospital indemnity" policy will provide a very small amount of
          coverage per day, and is not worth it.
        </p>
      </li>
      <li>
        <p>
          <strong>Medical-Surgical Insurance.</strong> This type of coverage
          also provides limited payments, and only for specified procedures.
        </p>
      </li>
      <li>
        <strong>Insurance Sold Through the Mail and On Television.</strong> Many
        policies sold through television advertisements and mail solicitations
        have the following negative attributes: They tend to cover accidents but
        not illness; they start out with low premiums that later rise
        unreasonably; they deny claims more than other types of insurance; and
        they tend to exclude pre-existing conditions.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="11"></a>Do I need disability insurance? How can I ensure I have
      adequate coverage?
    </h3>

    <p>
      If you have dependents, you've probably made sure that you have adequate
      life insurance coverage. But what about disability coverage? Although the
      incidence of permanent or temporary disability during the average
      individual's prime earning years is fairly high, many people neglect to
      adequately insure against this risk.
    </p>

    <p>
      Disability insurance generally provides you with an income stream in case
      you are unable to earn income due to illness or accident. Here are some
      questions that will get you started in making sure you have adequate
      coverage.
    </p>

    <ul>
      <li>
        <p>
          What does your employer provide? Find out what types (if any) of
          disability coverage are provided. If no coverage is provided, you may
          be able to purchase coverage through your employer.
        </p>
      </li>
      <li>
        <p>
          Is the employer or state-provided coverage adequate? Find out how much
          you will receive under any existing coverage you have. If the amount
          you will receive is not enough to support your family during an
          illness or other disability, you may wish to supplement it.
        </p>
      </li>
    </ul>

    <p>
      If employer and government coverage is insufficient you should purchase a
      private disability policy.
    </p>

    <p>Before you buy a disability policy, check out the following factors:</p>

    <ol>
      <li><p>Make sure the policy can be renewed every year.</p></li>
      <li>
        <p>
          Make sure that if you are able to work part-time when disabled, you
          will still receive benefits.
        </p>
      </li>
      <li>
        <p>
          Choose as policy with a three to six-month waiting period, since it
          will be less costly, and set aside an emergency fund to cover the
          waiting period.
        </p>
      </li>
      <li>
        <p>
          Be sure the policy covers you until you reach age 65, at which time
          you can obtain full Social Security benefits.
        </p>
      </li>
      <li>
        Be sure the policy pays when you can't perform work in your own field.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
