<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/litigation-support">Litigation Support</span>
    </li>
  </ol>
</nav>
<app-heading heading="Litigation Support"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Legal Disputes Can Be Complicated, Especially When They Involve
            Financial Issues</strong
          >
        </h2>
        <p>
          Many legal disputes involve financial matters and they often require
          analyzing complex financial, accounting, and tax information. Even if
          you've hired an attorney to represent you, you will still need
          litigation support regarding financial matters. If you're not sure
          where to turn, we can help.
        </p>
        <p>
          When you hire us, you get seasoned professionals with extensive
          litigation and courtroom experience. We work with your legal team to
          provide assistance with discovery and witness questioning, analysis of
          existing financial data, preparation of detailed financial reports and
          reviewing financial reports from the opposing party.
        </p>
        <p>
          Specializing in matrimonial disputes including alimony and child
          support, as well as business valuations, property transfers, and
          pension valuations we have helped many clients and their legal counsel
          achieve favorable outcomes in court.
        </p>
        <h3>
          <strong>Our Litigation Support Services:</strong>
        </h3>
        <ul>
          <li>Forensic accounting</li>
          <li>Fraud investigation</li>
          <li>Economic damage calculations</li>
          <li>Employment discrimination</li>
          <li>
            Dispute resolutions (family law, estates, and trusts, business
            partnerships)
          </li>
          <li>Business valuation</li>
          <li>Business succession</li>
          <li>Inventory valuation</li>
          <li>Lost profit settlements</li>
          <li>Insurance claims</li>
          <li>Business entity structuring</li>
          <li>Purchase or sale agreements</li>
          <li>Shareholder disputes</li>
          <li>Expert testimony</li>
          <li>Report review and preparation</li>
        </ul>
        <h3>
          Expert Litigation Support Services That Help You Achieve Success in
          the Courtroom.
        </h3>
        <p>
          We focus on results and are here to help throughout the entire
          litigation process from discovery to damage assessments, deposition,
          and if needed, expert testimony.
        </p>
        <p>
          <strong
            >If you're feeling overwhelmed by complex financial matters during a
            legal dispute, we can help. Don't hesitate to call the office or if
            you prefer, simply fill out the contact form below.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
