<div id="fga">
  <p>
    <strong
      ><em>Don't Just Look At Numbers; What's Your Gut Telling You?</em></strong
    >
  </p>

  <p>
    It's not hard to find advice on how to manage your money these days. You can
    find plenty of it on the Internet, in books, magazines and newspapers, from
    well-meaning friends and relatives, and of course, from professional
    advisors.
  </p>

  <p>
    But while finding financial guidance is easy, judging the worth of it can be
    a much tougher task. Even hiring a professional adviser is no guarantee
    you'll get great advice. If you're paying someone for a personalized plan,
    though, you especially want to make sure you're getting your money's worth.
  </p>

  <p>
    The true test is whether you reach your goals. But if your goal is decades
    away - retirement, for example - you don't want to wait until age 65 to see
    if you made the right moves.
  </p>

  <p>
    An annual review of your overall financial situation is the best way to
    assess the quality of the service you're getting.
  </p>

  <p>
    So what things should you look at? Ask yourself these questions when gauging
    money advice:
  </p>

  <p>
    What are the numbers? The most obvious way to judge investment advice is by
    performance. But make sure your expectations are realistic.
  </p>

  <p>
    If you have a diversified portfolio, you're going to outperform the worst
    asset class but under perform the best. With that in mind, don't look at
    just your pure rate of return. You don't have to be in the year's highest
    flying mutual funds and stocks to succeed.
  </p>

  <p>
    Instead, you and your advisor should quantify your goals when creating your
    financial plan.
  </p>

  <p>
    That plan should include periodic, realistic mileposts to check your
    progress against. If your net worth isn't growing as fast as you'd forecast,
    examine why. Maybe it was just a down year in the market. Or maybe you've
    been too cautions with your investments and need to make a change.
  </p>

  <p>
    What does your gut say? Can you stomach the investment risk they're taking?
  </p>

  <p>The real key is to remain invested.</p>

  <p>
    Remember, some discomfort is normal. You're not going to gain anything
    without taking risks. But if you're so nervous about the risk you're taking
    that you cannot stay invested, you need to talk to your advisor. If you're
    always buying at the top and selling at the bottom, you won't build wealth.
  </p>

  <p>
    You also should pay attention if your gut feeling is telling you that your
    advisor isn't being honest with you.
  </p>

  <p>
    If it doesn't feel right, it probably isn't. If your advisor doesn't listen
    to you, doesn't return your phone calls, does some kind of trading in your
    account that you didn't know about, you need to raise your hand and say
    something.
  </p>

  <p><strong>Have you been following the advice?</strong></p>

  <p>
    If you haven't put your plan into practice, what's stopping you? If it is
    because the suggestions are too complex, and you don't understand them or
    they make you uncomfortable, talk to your advisor.
  </p>

  <p>
    Why pay for counsel you're not going to use? If your planner won't listen,
    you may need to hire someone else.
  </p>

  <p><strong>Is the advice clear to you?</strong></p>

  <p>
    I really believe that the way an advisor speaks to a client is very
    important. Sometimes people who aren't confident about something use lingo
    to make themselves appear to be an expert.
  </p>

  <p>
    Also, it's crucial for you to understand the money moves you are making -
    and why you're making them.
  </p>

  <p><strong>Is your financial advisor a good listener?</strong></p>

  <p>
    Responsiveness is key. Many people have questions. Are you getting good
    answers to those questions?
  </p>

  <p>
    If your accountant says: "'Don't worry about those details. Just trust me,"
    consider looking for a new one. You should feel comfortable enough with your
    advisor to ask questions and are entitled to understand what he or she is
    doing.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
