<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/resources">Resources</span>
    </li>
  </ol>
</nav>
<app-heading heading="Resources"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-lg-7 col-md-7">
      <div>
        <a
          class="fw-bold"
          [routerLink]="['newsletter']"
          routerLinkActive="router-link-active"
        >
          Newsletter</a
        >
        <p>
          Our regularly updated newsletter provides timely articles to help you
          achieve your financial goals.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['guides']"
          routerLinkActive="router-link-active"
          >Financial Guides</a
        >
        <p>
          Practical, unbiased information to help you reach your financial
          goals.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['financial-calculators']"
          routerLinkActive="router-link-active"
          >Financial Calculators</a
        >
        <p>
          Try our wide variety of interactive financial problem solvers. Simply
          enter your criteria and you'll get your questions answered with
          dynamic graphs and personalized reports.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['client-portal']"
          routerLinkActive="router-link-active"
          >Client Portal</a
        >
        <p>
          Log into our secure, password protected Client Portal to store and
          access your important financial documents from anywhere at anytime.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['secure-send']"
          routerLinkActive="router-link-active"
          >Secure Send</a
        >
        <p>Quickly send us a secure message with an attachment.</p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['internet-links']"
          routerLinkActive="router-link-active"
          >Internet Links</a
        >
        <p>
          We've made finding what you're looking for a little easier by
          selecting a few of our favorite sites.
        </p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
