<div class="bg-color">
  <div class="container c-1">
    <div class="row py-5">
      <h1 id="header-1">Resources</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-lg-7 col-md-7">
      <div>
        <a
          class="fw-bold"
          [routerLink]="['newsletter']"
          routerLinkActive="router-link-active"
        >
          Newsletter</a
        >
        <p>
          Our regularly updated newsletter provides timely articles to help you
          achieve your financial goals.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['financial-guides']"
          routerLinkActive="router-link-active"
          >Financial Guides</a
        >
        <p>
          Practical, unbiased information to help you reach your financial
          goals.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['financial-calculators']"
          routerLinkActive="router-link-active"
          >Financial Calculators</a
        >
        <p>
          Try our wide variety of interactive financial problem solvers. Simply
          enter your criteria and you'll get your questions answered with
          dynamic graphs and personalized reports.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['client-portal']"
          routerLinkActive="router-link-active"
          >Client Portal</a
        >
        <p>
          Log into our secure, password protected Client Portal to store and
          access your important financial documents from anywhere at anytime.
        </p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['secure-send']"
          routerLinkActive="router-link-active"
          >Secure Send</a
        >
        <p>Quickly send us a secure message with an attachment.</p>
      </div>
      <div>
        <a
          class="fw-bold"
          [routerLink]="['internet-links']"
          routerLinkActive="router-link-active"
          >Internet Links</a
        >
        <p>
          We've made finding what you're looking for a little easier by
          selecting a few of our favorite sites.
        </p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-4 col-md-4 d-md-flex d-lg-flex flex-column d-none">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
