<div id="fga">
  <p>
    This Financial Guide tells you how to begin the financial planning process.
    It provides worksheets to help you find out where you are financially and
    where you want to be in the future. It will help you identify your goals,
    determine your net worth and cash flow, plan to achieve your goals as well
    as begin to put your plan into action.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Identify Your Goals</a></li>
      <li><a href="#2">Determine Your Net Worth</a></li>
      <li><a href="#3">Determine Your Cash Flow</a></li>
      <li><a href="#4">Plan To Achieve Your Goals</a></li>
      <li><a href="#5">Establish How Much You'll Need</a></li>
      <li><a href="#6">Put The Plan Into Action</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    Financial security derives not only from acquiring more money but from
    planning. A solid financial plan can alleviate financial worries about the
    future and ensure that you will meet your financial goals - whether they
    relate to retirement, asset acquisition, education, or just vacations.
  </p>

  <blockquote class="tip">
    <p>
      Review your financial plan every year to keep it up to date. If you set it
      up properly initially, it is relatively easy to review and keep current.
    </p>
  </blockquote>

  <p>
    This Financial Guide allows you to take the first step towards a solid plan.
    By following the instructions and guidelines contained in it, you can find
    out where you are now and how you can put your plan into action.
  </p>

  <p>
    There are many ways to approach setting up a financial plan. The one
    outlined in this guide is just one of a number of approaches. Your financial
    advisor can assist you in setting up the financial plan that best meets your
    particular situation and needs.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Identify Your Goals</h3>

  <p>
    Spend some time thinking and talking with family members about what you
    would like to achieve financially. What would make you and them happy? What
    would be fulfilling? Would you like to start your own business? Retire
    early? Acquire a vacation home? Pursue a hobby? Travel?
  </p>

  <p>
    Perhaps you'd like to change careers, and you'll need money to finance an
    education in a different field. Or perhaps you'd like to have a large amount
    of money to give to your favorite charity. Once you've got some idea of what
    you'd like to accomplish, fill out the Goals Worksheet below.
  </p>

  <ul>
    <li>
      <p>
        The "Goals" section should state what you'd like to accomplish. Be as
        specific as possible, e.g., instead of writing "Acquire a bigger home,"
        write "Acquire a home with at least 12 rooms in Anytown."
      </p>
    </li>
    <li>
      <p>
        The "Amount Needed" should be an estimate of the amount of money you'll
        need. For instance, to retire early, you might estimate that you'll need
        a $1,000,000 nest egg by the time you reach age 50, or to buy a vacation
        home, you might estimate that you'll need a $50,000 down payment.
      </p>
    </li>
    <li>
      The "Target Date" section should include the approximate year or, in the
      case of short-term goals such as a vacation in the current year, the month
      in which you would like to achieve your goal.
    </li>
  </ul>

  <table border="1" width="400">
    <tbody>
      <tr>
        <td width="274" align="center" valign="top"><strong>Goals</strong></td>
        <td width="68" align="center" valign="top">
          <strong>Amount Needed</strong>
        </td>
        <td width="68" align="center" valign="top">
          <strong>Target Date</strong>
        </td>
      </tr>
      <tr>
        <td></td>

        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>

        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>

        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>$</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Determine Your Net Worth</h3>

  <p>
    Your financial plan should include an inventory of the existing financial
    resources you'll be using to achieve the goals you decided on above.
  </p>

  <p>
    Fill out the personal statement of net worth below. This will enable you to
    estimate the value of everything you own, minus the value of your debts.
    When asked for a value, use what the property would fetch if you sold it
    today at its market value.
  </p>

  <p>
    It may take some time to do this, but the effort will be worth it. This is
    the foundation for your financial plan.
  </p>

  <p align="center">
    <strong><u>FINANCIAL STATEMENT</u></strong>
  </p>

  <p align="center">
    <strong><u>Date: </u></strong>
  </p>

  <table border="1" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <strong>ASSETS (Current Value)</strong>
        </td>
        <td align="center" valign="top"><strong>TOTAL</strong></td>
        <td align="center" valign="top"><strong>SELF</strong></td>
        <td align="center" valign="top"><strong>SPOUSE</strong></td>
      </tr>
      <tr>
        <td>Checking accounts</td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Savings accounts</td>
        <td>$</td>

        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Brokerage accounts</td>
        <td>$</td>
        <td>$</td>

        <td>$</td>
      </tr>
      <tr>
        <td>Money market accounts</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Certificates of deposit</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>

      <tr>
        <td>IRA accounts</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Keogh accounts</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>401(k) plans</td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Pension plans</td>
        <td>$</td>

        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Other retirement accounts</td>
        <td>$</td>
        <td>$</td>

        <td>$</td>
      </tr>
      <tr>
        <td>Life insurance (cash values)</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Annuities</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>

      <tr>
        <td>Bonds (government)</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Bonds (corporate)</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Mutual funds</td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Stocks</td>
        <td>$</td>

        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Other securities</td>
        <td>$</td>
        <td>$</td>

        <td>$</td>
      </tr>
      <tr>
        <td>Money owed to you</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Home</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>

      <tr>
        <td>Other real estate</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Automobiles</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Household furnishings</td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Jewelry</td>
        <td>$</td>

        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Other assets</td>
        <td>$</td>
        <td>$</td>

        <td>$</td>
      </tr>
      <tr>
        <td><br /><strong>Total Assets</strong></td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
    </tbody>
  </table>

  <table border="1" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <strong>LIABILITIES (Current Value)</strong>
        </td>
        <td align="center" valign="top"><strong>TOTAL</strong></td>
        <td align="center" valign="top"><strong>SELF</strong></td>
        <td align="center" valign="top"><strong>SPOUSE</strong></td>
      </tr>
      <tr>
        <td>Home mortgage</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Other mortgages</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Automobile loans</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Credit card balances</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Installment accounts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Contractual obligations</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Money owed to others</td>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Income taxes</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pledges</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Other debts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <br />
          <strong>Total Liabilities</strong>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Total Assets (from above)</strong></td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td><strong>Less Liabilities (from above)</strong></td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td><strong>Net Worth (Assets less Liabilities)</strong></td>
        <td>$</td>

        <td>$</td>
        <td>$</td>
      </tr>
    </tbody>
  </table>

  <p>
    This statement should be reviewed to determine which assets are available to
    achieve the goals you listed above. If most of your net worth is tied up in
    your home and personal use assets (such as furniture and cars), you may not
    be able to achieve your goals. Which assets are available to invest towards
    your goals? Are they sufficient? If not, you may need to liquidate other
    assets or start a savings plan out of your cash flow to come up with the
    necessary funds.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Determine Your Cash Flow</h3>

  <p>
    Once you've completed the net worth statement, fill in the cash flow
    statement below. This will give you an estimate of what you earn per
    year-your salary, investment income, and retirement income and what your
    current expenses are. To fill out this form, it will help to have on hand
    your check register and one year's worth of credit card receipts.
  </p>

  <p>
    Here's why the cash flow statement is so important: once you know how much
    is coming in and how much of it is going out in the form of expenses, you
    can start to make adjustments in your discretionary expenses in order to
    meet your saving and investment goals.
  </p>

  <p align="center">
    <strong><u>CASH FLOW STATEMENT</u></strong>
  </p>

  <p align="center">
    <strong><u>Period: to </u></strong>
  </p>

  <table border="1" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top"><strong>Income</strong><br /></td>
        <td align="center" valign="top"><strong>Total</strong><br /></td>
        <td align="center" valign="top"><strong>Self</strong><br /></td>
        <td align="center" valign="top"><strong>Spouse</strong><br /></td>
      </tr>
      <tr>
        <td>Salary/Wages</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Interest/Dividends</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Social Security</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Retirement Plans</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Reimbursements (only if included as an expense)</td>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sale of investments</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Other income</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td><br /><strong>Total Income</strong></td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
    </tbody>
  </table>

  <table border="1" width="500">
    <tbody>
      <tr>
        <td width="260" align="center"><strong>Expenses</strong></td>
        <td width="60" align="center"><strong>Total</strong></td>
        <td width="60" align="center"><strong>Self</strong></td>
        <td width="60" align="center"><strong>Spouse</strong></td>
      </tr>
      <tr>
        <td>Savings (including pension plan contributions)</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Income taxes</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Property taxes</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Insurance (health, disability, life, car, home)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Mortgage/rent</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Other debt payments</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Utilities (heat, electric, water, garbage, phone)</td>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Transportation</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Vacation</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Medical (other than insurance)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Personal (small cash expenditures, such as haircuts)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Charitable contributions</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Food</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Restaurants</td>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Recreation</td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Holiday expenses</td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Gifts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Education</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Clothing</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          Other (children, professional fees, hobbies, etc. - if large
          expenditures, create a line item for each)
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Miscellaneous</td>

        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><br /><strong>Total Expenses</strong></td>
        <td></td>

        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <blockquote class="note">
    <p>
      Omit one-time, non-recurring items as they should not be used for
      budgeting or future planning.
    </p>
  </blockquote>

  <p>
    How much cash flow is available to accumulate assets for the goals
    identified above? Is it sufficient in combination with your available assets
    from your net worth statement? If not, you need to examine the above
    expenses in detail and cut back on those which are discretionary until
    sufficient cash flow is identified.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Plan To Achieve Your Goals</h3>

  <p>
    Now that you know what your goals are and have an idea of your financial
    resources, it's time to begin making a plan.
  </p>

  <p></p>
  <h2>Financial Safety Net</h2>
  <p></p>

  <p>
    Determine the funds you'll need in case of a disaster or emergency. Coverage
    of such contingencies comes from insurance and from an emergency fund.
  </p>

  <p></p>
  <h2>Emergency Fund</h2>
  <p></p>

  <p>
    You should have a fund of three to six months (we'll leave the number of
    months to your judgment) worth of living expenses to tide you over in case
    you lose your job or have unexpected bills. The emergency fund should be
    kept in an accessible account: a money market account is good for this
    purpose.
  </p>

  <p></p>
  <h2>Life Insurance</h2>
  <p></p>

  <p>
    Make sure your coverage is adequate. You should have enough coverage, should
    a catastrophe occur to ensure your family would continue to enjoy the same
    level of income it does currently.
  </p>

  <p></p>
  <h2>Disability Insurance</h2>
  <p></p>

  <p>
    Disability insurance is intended to replace lost income due to the
    occurrence of illness or accident. Consider whether you need to provide
    coverage for your family.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guides:
      <a href="?item=48&amp;cat=Disability Insurance: What To Look For"
        >DISABILITY INSURANCE: What To Look For</a
      >
      and
      <a
        href="?item=49&amp;cat=Disability Benefits: How To Get All You're Entitled To"
        >DISABILITY BENEFITS: How To Get All You're Entitled To</a
      >
    </p>
  </blockquote>

  <p></p>
  <h2>Auto, Home, and Health Insurance</h2>
  <p></p>

  <p>
    It's important to make sure these types of policies provide adequate
    coverage. If not, an accident or other catastrophe could wipe out a large
    portion of your assets or cash flow and you may be unable to achieve your
    goals.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=64&amp;cat=Homeowner's Insurance: How To Get The Best Coverage and Value"
        >HOMEOWNERS' INSURANCE: How To Get The Best Coverage and Value</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Establish How Much You'll Need</h3>

  <p>
    Once you have covered your insurance and emergency-fund needs, you can start
    working towards your financial goals.
  </p>

  <p>
    Go back to your Goals Worksheet (above) and enter the goal in the Worksheet
    below. For each goal, estimate the "Cost of the Goal," i.e., the cost of
    achieving that goal. For instance, if you want to retire at age 55, estimate
    the nest egg you'll need to accumulate by then. (Don't bother accounting for
    inflation right now; this is just an estimate.)
  </p>

  <p>
    Then fill in the "Amount On Hand," i.e., the amount you have already saved
    for that purpose. For instance, if you have $10,000 in a mutual fund IRA,
    you might wish to allocate that amount to your retirement nest egg.
  </p>

  <p>
    Next, write in the "Amount Still Needed." Then, fill in the "Years to Target
    Date," i.e., the year you want to achieve your goal. Finally, enter the
    "Intended Yearly Savings," the amount you need to save each year (the
    "Amount Still Needed" divided by the "Years to Target Date").
  </p>

  <table border="1">
    <tbody>
      <tr>
        <td align="center" valign="top" width="75"><strong>Goal</strong></td>
        <td align="center" valign="top" width="75">
          <strong>Cost of the goal</strong>
        </td>
        <td align="center" valign="top" width="75">
          <strong>Amount on hand</strong>
        </td>
        <td align="center" valign="top" width="75">
          <strong>Amount still needed</strong>
        </td>
        <td align="center" valign="top" width="75">
          <strong>Years to target date</strong>
        </td>
        <td align="center" valign="top" width="75">
          <strong>Intended yearly savings</strong>
        </td>
      </tr>
      <tr>
        <td>$</td>

        <td>$</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
        <td>$</td>
      </tr>
    </tbody>
  </table>

  <p>
    Add up the "Intended Yearly Savings," i.e., the yearly amounts you need to
    save, in the extreme right-hand column. Look back at the "Savings" amount in
    the expense portion of your cash flow statement (above). How much
    <u>are</u> you currently saving? How does this compare with how much you
    <u>need</u> to save to meet your goals?
  </p>

  <p>Most people find that the amount they are saving is inadequate.</p>

  <blockquote class="tip">
    <p>
      Here are some ways that you might increase the amount you are saving each
      year:
    </p>
  </blockquote>

  <ul>
    <li>
      <p>
        Pay yourself first. Save and invest at least 10 percent of your after
        tax income.
      </p>
    </li>
    <li>
      If possible, earn more or spend less. Put a stop to discretionary
      spending.
    </li>
  </ul>

  <p>
    You might also want to take another look at your goals. Perhaps they need to
    be modified or the target dates need to be deferred.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Put the Plan into Action</h3>

  <p>
    Make a savings plan. How will you save the amounts you have targeted? Will
    you have them deducted from your paycheck? Will you deposit them into a
    savings account each month?
  </p>

  <p>
    Once you've accumulated a chunk of savings for each goal, you'll need an
    investment strategy. For each goal, determine how much risk you are willing
    to take with your savings. This will depend on how much of the money you can
    afford to lose, how essential the goal is, and your own risk preferences.
  </p>

  <p>
    You may have read recently about asset allocation, and wondered whether an
    investor such as yourself needed to worry about this concept. The answer is
    a resounding yes. Asset allocation - not fund or security selection, not
    market timing - is the most important factor in determining how much money
    you make on your investments. In fact, according to Nobel-Prize-winning
    research, asset allocation the type or class of security owned - determines
    90 percent of the return. The remaining 10 percent of the return is
    determined by which particular stock, bond, or mutual fund you select, and
    when you decide to buy it. In short, asset allocation and diversification
    are the cornerstones of good investing.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a comprehensive discussion of asset
      allocation, please see the Financial Guide:
      <a
        href="?item=84&amp;cat=Asset Allocation: How To Diversify For Maximum Return"
        >ASSET ALLOCATION: How To Diversify for Maximum Return.</a
      >
    </p>
  </blockquote>

  <p>
    Here, in a nutshell, are the three most important things an investor can do:
  </p>

  <ol>
    <li>
      <p>
        Establish a financial profile. Your financial profile is the translation
        of your goals, risk threshold, and time horizon into a graph or curve,
        using a computer software program. The three factors we just mentioned
        are plotted on a graph according to the program's formulas.
      </p>
    </li>

    <li>
      <p>
        Find the right mix of "asset classes" for your portfolio. The right mix
        of asset classes will balance each other in a way that will give the
        best possible return for the amount of risk you are willing to take.
        Using computer programs, asset allocation professionals will determine
        the proper mix of assets for your financial profile. Over time, the
        ideal allocation for you will not remain the same; it will change as
        your situation changes, or in response to changes in market conditions.
      </p>
    </li>

    <li>Choose investments from each class, based on performance and costs.</li>
  </ol>

  <p></p>
  <h2>How Does Asset Allocation Work?</h2>
  <p></p>

  <p>
    Using computerized formulas, asset allocator's take down information they
    glean from a questionnaire you have filled out. This information gives them
    what they need to become familiar with your needs, constraints, and unique
    circumstances. The following factors should become apparent from the
    questionnaire.
  </p>

  <ul>
    <li>
      <p>
        Your risk threshold (how much of your capital you are willing to lose
        during a given time frame),
      </p>
    </li>
    <li>
      <p>
        Your goals (whatever financial planning goals you and your family want
        to achieve), and
      </p>
    </li>
    <li>
      Your investing time horizon (mainly, your age and retirement objectives).
    </li>
  </ul>

  <p>
    In addition, the professional needs to consider how wealthy you are, what
    your income tax bracket is, how much of your portfolio needs to be kept
    liquid, and how often withdrawals will be made from the portfolio.
  </p>

  <p>
    The allocator's goal now is to come up with the right blend of six or seven
    asset classes, in the right percentages, that will match your financial
    profile - your risk profile and time horizon.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
