<app-heading heading="State Tax Forms"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-lg-7">
      <div style="text-align: left">
        <p>Please click on the State to pickup the tax forms.</p>
        <map name="FPMap1"
          ><area
            shape="POLY"
            alt="Florida Tax Forms"
            coords="332,234,333,223,324,207,315,188,313,189,313,193,292,192,289,191,273,193,275,195,284,197,291,203,298,197,305,201,309,207,309,218,327,240"
            href="http://floridarevenue.com/Pages/forms_index.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Georgia Tax Forms"
            coords="281,156,289,178,289,190,306,190,311,186,313,175,293,155,282,157"
            href="http://dor.georgia.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Alabama Tax Forms"
            coords="263,159,278,157,286,180,286,190,269,192,267,195,270,201,264,198,263,189,264,182"
            href="https://revenue.alabama.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="South Carolina Tax Forms"
            coords="296,156,302,153,308,152,318,151,327,158,321,170,315,175,296,155"
            href="http://www.sctax.org/tax/index"
            target="_blank" /><area
            shape="POLY"
            alt="Mississippi Tax Forms"
            coords="248,160,261,158,260,186,262,198,255,199,253,193,241,194,245,182,242,172,248,159"
            href="http://www.dor.ms.gov/Pages/default.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Tennessee Tax Forms"
            coords="253,145,262,146,263,144,303,139,295,144,287,152,286,153,250,157,253,146"
            href="http://www.tn.gov/revenue/"
            target="_blank" /><area
            shape="POLY"
            alt="North Carolina Tax Forms"
            coords="291,153,298,146,307,138,343,131,347,136,345,148,331,157,320,148,309,149,304,149,296,152,293,152"
            href="http://www.dor.state.nc.us/forms/"
            target="_blank" /><area
            shape="POLY"
            alt="Virginia Tax Forms"
            coords="295,137,302,131,303,133,314,127,315,123,317,119,318,119,324,110,325,113,327,111,330,111,328,117,337,125,343,129,325,132,310,135,296,137"
            href="http://www.tax.virginia.gov/content/forms"
            target="_blank" /><area
            shape="POLY"
            alt="Maryland Tax Forms"
            coords="326,107,338,105,339,113,342,115,344,115,350,119,369,119,369,130,350,130,339,126,331,117,333,112,331,110,327,108"
            href="http://taxes.marylandtaxes.com/Individual_Taxes/General_Information/Individual_Tax_Forms_and_Instructions/"
            target="_blank" /><area
            shape="POLY"
            alt="Delaware Tax Forms"
            coords="340,104,347,111,353,107,367,108,370,112,369,118,351,117,344,113,341,111,340,105"
            href="http://www.revenue.delaware.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="New Jersey Tax Forms"
            coords="342,87,348,91,357,98,371,99,371,111,359,105,352,104,348,108,341,102,345,97,341,92,343,88"
            href="https://www.nj.gov/treasury/taxation/"
            target="_blank" /><area
            shape="POLY"
            alt="Connecticut Tax Forms"
            coords="350,88,360,95,369,97,387,101,391,90,364,87,360,82,349,88"
            href="http://www.ct.gov/drs/cwp/view.asp?a=1509&amp;q=443198"
            target="_blank" /><area
            shape="POLY"
            alt="Rhode Island Tax Forms"
            coords="352,80,366,87,393,87,394,78,369,77,359,76"
            href="https://tax.ri.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Massachusetts Tax Forms"
            coords="349,72,349,77,362,73,363,77,395,73,393,57,365,63,361,68,349,72,350,75"
            href="http://www.mass.gov/dor/forms/"
            target="_blank" /><area
            shape="POLY"
            alt="Maine State Tax Forms"
            coords="355,47,362,63,366,55,371,50,382,42,380,39,377,39,369,23,359,22"
            href="https://www.maine.gov/revenue/"
            target="_blank" /><area
            shape="POLY"
            alt="New Hampshire Tax Forms"
            coords="353,47,362,65,351,71,353,48,348,41,334,39,337,27,354,31,354,45"
            href="http://www.nh.gov/revenue/forms/index.htm"
            target="_blank" /><area
            shape="POLY"
            alt="Vermont State Tax Forms"
            coords="344,53,349,72,352,50,347,46,343,42,329,42,329,50,343,52"
            href="http://tax.vermont.gov"
            target="_blank" /><area
            shape="POLY"
            alt="New York State Tax Forms"
            coords="343,55,349,88,340,85,337,80,311,86,316,80,313,77,317,74,321,75,327,73,329,69,328,64,331,60,333,56,340,54,343,54"
            href="http://www.tax.ny.gov/forms/"
            target="_blank" /><area
            shape="POLY"
            alt="Pennsylvania Tax Forms"
            coords="308,107,332,103,339,101,343,96,338,92,339,87,335,81,312,88,309,87,305,89,307,108"
            href="http://www.revenue.state.pa.us/portal/server.pt/community/forms___publications/14665"
            target="_blank" /><area
            shape="POLY"
            alt="West Virginia Tax Forms"
            coords="298,124,304,130,313,126,314,116,317,117,322,109,306,110,299,118,299,124"
            href="http://tax.wv.gov/Pages/default.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Ohio Tax Forms"
            coords="279,98,282,116,287,119,293,120,297,119,299,114,305,108,304,90,298,96,290,97,285,96,279,96,280,101"
            href="http://www.tax.ohio.gov/Forms.aspx"
            target="_blank" />
          <area
            shape="POLY"
            alt="Kentucky Tax Forms"
            coords="300,128,292,123,283,120,274,130,262,133,259,139,254,142,256,143,265,141,292,138,300,128,298,128"
            href="https://revenue.ky.gov/"
            target="_blank" /><area shape="POLY" alt="Indiana Tax Forms"
          coords="262,130,274,127,280,119,277,97,263,100,264,120,264,125"
          href="http://www.in.gov/dor/3489.htm" target="_blank"><area
            shape="POLY"
            alt="Michigan Tax Forms"
            coords="268,95,279,93,286,93,291,83,291,73,286,62,279,50,270,49,260,53,252,45,242,55,254,58,259,65,266,78,268,89,265,96,279,93"
            href="http://www.michigan.gov/treasury"
            target="_blank" /><area
            shape="POLY"
            alt="Illinois Tax Forms"
            coords="258,93,260,106,261,122,258,133,252,138,251,133,246,130,242,121,239,115,238,111,240,107,240,104,245,100,245,97,243,92,257,91"
            href="https://www2.illinois.gov/rev/Pages/default.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Wisconsin Tax Forms"
            coords="256,89,256,70,255,63,253,61,242,58,240,56,239,53,230,56,229,61,227,64,228,73,237,80,240,88,242,90"
            href="https://www.revenue.wi.gov/index.html"
            target="_blank" /><area
            shape="POLY"
            alt="Minnesota Tax Forms"
            coords="200,36,213,36,214,42,215,38,241,43,228,55,224,64,224,70,227,75,235,81,206,82,204,66,205,59"
            href="https://www.revenue.state.mn.us/minnesota-department-revenue"
            target="_blank" /><area
            shape="POLY"
            alt="Iowa Tax Forms"
            coords="206,86,236,85,237,91,243,96,242,98,238,101,237,103,237,107,209,108,207,102,204,95,205,86"
            href="https://tax.iowa.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Missouri Tax Forms"
            coords="211,111,235,110,235,117,242,125,245,134,249,134,250,142,250,146,247,143,217,143,217,122"
            href="http://dor.mo.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Arkansas Tax Forms"
            coords="220,146,244,145,246,151,248,151,240,171,240,175,222,175,222,172,219,170,219,149"
            href="https://www.dfa.arkansas.gov/services/category/taxes/"
            target="_blank" /><area
            shape="POLY"
            alt="Louisiana Tax Forms"
            coords="222,176,241,176,242,185,238,194,239,195,252,195,254,201,259,202,263,212,260,215,255,216,248,217,240,214,239,211,233,210,228,209,223,208,225,203,225,199,226,196,226,193,224,189,223,185,222,182,222,176,241,177"
            href="http://www.rev.state.la.us/sections/taxforms/"
            target="_blank" /><area
            shape="POLY"
            alt="North Dakota Tax Forms"
            coords="160,35,198,36,200,52,201,60,181,60,160,58,161,35"
            href="http://www.nd.gov/tax/"
            target="_blank" /><area
            shape="POLY"
            alt="South Dakota Tax Forms"
            coords="159,61,177,62,201,63,202,81,201,89,197,87,189,87,158,85"
            href="https://dor.sd.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Nebraska Tax Forms"
            coords="156,88,193,91,202,93,207,113,168,112,168,103,155,102"
            href="http://www.revenue.state.ne.us/tax/current/current.html"
            target="_blank" /><area
            shape="POLY"
            alt="Kansas Tax Forms"
            coords="167,115,211,117,213,123,213,139,167,139"
            href="http://www.ksrevenue.org/forms.html"
            target="_blank" /><area
            shape="POLY"
            alt="Oklahoma Tax Forms"
            coords="214,144,217,170,213,168,203,170,197,169,192,167,187,166,184,164,179,163,178,145,158,144,159,142,181,143,213,143"
            href="http://www.ok.gov/tax"
            target="_blank" /><area
            shape="POLY"
            alt="Texas Tax Forms"
            coords="158,146,176,147,176,165,181,167,186,171,198,173,208,172,213,172,218,174,217,179,219,186,221,189,224,195,222,202,222,204,222,207,218,211,212,214,207,219,203,221,198,226,197,228,194,234,194,235,196,240,194,242,192,239,188,239,184,238,180,230,174,219,167,211,166,207,158,206,157,207,156,208,152,211,148,214,146,211,138,201,136,198,135,195,133,191,132,189,131,188,129,183,154,186"
            href="http://comptroller.texas.gov/taxes/"
            target="_blank" /><area
            shape="POLY"
            alt="New Mexico Tax Forms"
            coords="118,137,157,143,152,184,118,181,116,187,111,184"
            href="http://www.tax.newmexico.gov/forms-publications.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Colorado Tax Forms"
            coords="123,102,166,107,164,140,118,134,124,103"
            href="https://tax.colorado.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Wyoming Tax Forms"
            coords="116,64,156,70,152,102,110,97,115,64"
            href="https://revenue.wyo.gov/home"
            target="_blank" /><area
            shape="POLY"
            alt="Montana Tax Forms"
            coords="93,23,158,33,156,66,113,61,112,63,104,63,99,52,97,51,98,43,92,32,92,28,93,22"
            href="http://revenue.mt.gov/home/forms.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Idaho Tax Forms"
            coords="75,80,109,88,112,67,101,67,97,56,93,53,95,45,90,34,89,29,91,22,86,21,82,46,84,51,76,61,79,63,76,69,74,78,82,81,85,82"
            href="http://tax.idaho.gov/searchentry.cfm?stype=form"
            target="_blank" /><area
            shape="POLY"
            alt="Utah Tax Forms"
            coords="92,88,84,128,115,133,120,102,107,100,108,91,95,88,92,89"
            href="http://tax.utah.gov/forms/"
            target="_blank" /><area
            shape="POLY"
            alt="Arizona Tax Forms"
            coords="84,131,115,137,109,184,95,182,70,166,74,165,72,162,78,153,76,146,78,139,82,140,83,132,86,132"
            href="http://www.azdor.gov/Forms.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Nevada Tax Forms"
            coords="55,77,89,86,81,135,76,136,74,138,73,142,47,102,54,76"
            href="http://tax.nv.gov/Forms/"
            target="_blank" /><area
            shape="POLY"
            alt="California Tax Forms"
            coords="28,69,53,76,45,102,72,144,75,151,71,157,70,162,68,164,51,163,49,154,45,146,38,142,31,138,32,133,28,120,27,113,26,103,24,96,23,87,22,79,26,74,29,68"
            href="https://www.ftb.ca.gov/"
            target="_blank" />
          <area
            shape="POLY"
            alt="Oregon Tax Forms"
            coords="41,33,28,60,28,66,71,79,75,62,73,60,81,50,80,47,71,45,66,43,60,45,51,43,46,41,45,37,42,33"
            href="http://www.oregon.gov/DOR/pages/forms.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Washington Tax Forms"
            coords="54,10,85,21,80,43,66,41,62,42,57,42,47,39,45,33,40,30,41,11,55,11"
            href="https://dor.wa.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Alaska Tax Forms"
            coords="67,184,71,215,84,218,96,229,98,238,96,242,90,240,87,235,64,225,53,229,35,240,14,242,15,235,35,228,24,220,25,206,26,196,29,189,34,181,51,176,61,179"
            href="http://www.tax.alaska.gov/programs/forms.aspx"
            target="_blank" /><area
            shape="POLY"
            alt="Hawaii Tax Forms"
            coords="156,236,160,229,159,221,147,223,142,220,133,217,127,212,121,211,115,211,109,215,107,221,113,225,121,227,128,228,133,233,140,241,146,246,153,242,155,238"
            href="http://tax.hawaii.gov/"
            target="_blank" /><area
            shape="POLY"
            alt="Washington DC Tax Forms"
            coords="357,132,373,132,373,141,357,141"
            href="http://otr.cfo.dc.gov/page/tax-forms-and-publications"
            target="_blank"
        /></map>
        <img
          alt="Virtual Directory"
          src="../../../../assets/images/USAmap2012.gif"
          usemap="#FPMap1"
          width="400"
          height="253"
        />
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4 d-md-flex flex-column d-none" id="image-container">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button class="mx-auto" mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
