<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources">Resources</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources/guides">Guides</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/resources/guides/tax-strategies-business-owners"
        >Tax Strategies for Business Owners</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Tax Strategies for Business Owners"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7" id="content">
      <br />This segment of financial guides is dedicated to strategic tax
      planning for business owners. Can you save more? We think so.<br /><br />
      <h2>Financial Guides</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px"width="55">
              <img
                src="../../../../../assets/images/icon-fg.png"
                valign="bottom"
                alt="Financial Guides"
                heigh="44"
                widht="55"
              />
            </td>
            <td valign="top" style="padding-left: 40px">
              <a><b>Tax Planning For Small Business Owners</b></a
              ><br /><a><b
                    >7 Biggest Misconceptions Business Owners Have About Their
                    Returns</b
                  ></a
              ><br /><a><b
                    >Travel and Entertainment: Maximizing the Tax Benefits</b
                  ></a
              ><br /><a><b>7 Ways To Save Even More Income Taxes</b></a
              ><br /><a><b>The Home Office Deduction</b></a
              ><br /><a><b>Turn your Vacation Into a Tax Deduction</b></a
              ><br /><a><b
                    >Form of Business Organization: Which Should You Choose?</b
                  ></a
              ><br /><a><b>Retirement Plan Options For Small Businesses</b></a
              ><br /><a><b
                    >The "SIMPLE" Plan: A Retirement Plan for the Really Small
                    Business</b
                  ></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2>Frequently Asked Questions</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
              src="../../../../../assets/images/icon-faq.png"
                valign="bottom"
                alt="Frequently Asked Questions"
                heigh="44"
                widht="55"
              />
            </td>
            <td valign="top" style="padding-left: 40px">
              <a><b>Recordkeeping: Frequently Asked Questions</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />

    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
