<br />
This section has several articles pertaining to automobile acquisition and
maintenance..<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/next-car-fg']"
          routerLinkActive="router-link-active"
          ><b>Your Next Car: Should You Buy Or Lease?</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/car-insurance-fg']"
          routerLinkActive="router-link-active"
          ><b>Car Insurance: 10 Cost-Cutters To Save You Money</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/next-car-faq']"
          routerLinkActive="router-link-active"
          ><b>Buying or Leasing Your Next Car: Frequently Asked Questions</b></a
        ><br />
        <a
        [routerLink]="['/resources/guides/life-events/car-insurance-faq']"
        routerLinkActive="router-link-active"
        ><b>Car Insurance: Frequently Asked Questions</b></a
      ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>Should I Lease or Purchase An Auto?</b></a
        ><br />
        <a><b>What Would My Auto Payments Be?</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
