<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >Legal Rights: What are the major differences between married and
          unmarried couples?</a
        >
      </li>
      <li>
        <a href="#2"
          >What estate and financial planning steps are particularly important
          for unmarried couples?</a
        >
      </li>
      <li><a href="#3">Do married couples need life insurance?</a></li>

      <li>
        <a href="#4"
          >If you change your name after marriage, who should be notified?</a
        >
      </li>
      <li><a href="#5">Do I need to update my will when I get married?</a></li>
      <li><a href="#6">What are the tax implications of marriage?</a></li>
      <li><a href="#7">How can married couples hold property?</a></li>
    </ul>
    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>Legal Rights: What are the major differences between
      married and unmarried couples?
    </h3>

    <p>
      When it comes to legal rights and being married vs. unmarried, there are
      several major issues to consider. Specifically, unmarried couples do not
      automatically:
    </p>

    <ul>
      <li>
        <p>
          Inherit each others' property. Married couples who do not have a will
          have their state intestacy laws to back them up; the surviving spouse
          will inherit at least a fraction of the deceased spouse's property
          under the law.
        </p>
      </li>

      <li>
        <p>
          Have the right to speak for each other in a medical crisis. If your
          life partner loses consciousness or capacity, someone will have to
          make the decision whether to go ahead with a medical procedure. That
          person should be you. But unless you have taken care of some legal
          paperwork, you may not have the right to do so.
        </p>
      </li>

      <li>
        Have the right to manage each others' finances in a crisis. A husband
        and wife who have jointly owned assets will generally be affected less
        by this problem than an unmarried couple.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What estate and financial planning steps are particularly
      important for unmarried couples?
    </h3>

    <p>
      The following steps are particularly important for couples who are not
      married:
    </p>

    <p>
      <strong>Prepare a will.</strong> If both partners make out wills, the
      chances are that the intentions expressed in the wills will be followed
      after one partner dies. If there are no wills, the unmarried surviving
      partner will probably be left high and dry.
    </p>

    <p>
      <strong>Consider owning property jointly.</strong> Joint ownership of
      property with right of survivorship is a way of ensuring that property
      will pass to the other joint owner on one joint owner's death. Real
      property and personal property can be put into this form of ownership.
    </p>

    <p>
      <strong>Prepare a durable power of attorney.</strong> Should you become
      incapacitated, the durable power of attorney will allow your partner to
      sign papers and checks for you and take care of other financial matters on
      his or her behalf.
    </p>

    <p>
      <strong>Prepare a health care proxy.</strong> The health care proxy
      (sometimes called a "medical power of attorney") allows your partner to
      speak on your behalf when it comes to making decisions about medical care,
      should you become incapacitated.
    </p>

    <strong>Prepare a living will.</strong> A living will is the best way to let
    the medical community know what your wishes are regarding artificial feeding
    and other life-prolonging measures.

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>Do married couples need life insurance?
    </h3>

    <p>
      The purpose of life insurance is to provide a source of income for your
      children, dependents, or whoever you choose as a beneficiary, in case of
      your death. Therefore, married couples typically need more life insurance
      than their single counterparts. If you have a spouse, child, parent, or
      some other individual who depends on your income, then you probably need
      life insurance. Here are some typical families that need life insurance:
    </p>

    <p>
      <strong
        >Families or single parents with young children or other
        dependents.</strong
      >
      The younger your children, the more insurance you need. If both spouses
      earn income, then both spouses should be insured, with insurance amounts
      proportionate to salary amounts. If the family cannot afford to ensure
      both wage earners, the primary wage earner should be insured first, and
      the secondary wage earner should be insured later on. A less expensive
      term policy might be used to fill an insurance gap. If one spouse does not
      work outside the home, insurance should be purchased to cover the absence
      of the services being provided by that spouse (child care, housekeeping,
      and bookkeeping). However, if funds are limited, insurance on the non-wage
      earner should be secondary to insurance on the life of the wage earner.
    </p>

    <p>
      <strong>Adults with no children or other dependents.</strong> If your
      spouse could live comfortably without your income, then you will need less
      insurance than the people in situation (1). However, you will still need
      some life insurance. At a minimum, you will want to provide for burial
      expenses, for paying off whatever debts you have incurred, and for
      providing an orderly transition for the surviving spouse. If your spouse
      would undergo financial hardship without your income, or if you do not
      have adequate savings, you may need to purchase more insurance. The amount
      will depend on your salary level and that of your spouse, on the amount of
      savings you have, and on the amount of debt you both have.
    </p>

    <p>
      <strong>Single adults with no dependents.</strong> You will need only
      enough insurance to cover burial expenses and debts, unless you want to
      use insurance for estate planning purposes.
    </p>

    <strong>Children.</strong> Children generally need only enough life
    insurance to pay burial expenses and medical debts. In some cases, a life
    insurance policy might be used as a long-term savings vehicle.

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>If one spouse changes their name after marriage, who
      should be notified?
    </h3>

    <p>
      You should notify all organizations with which you previously corresponded
      with your maiden name. The following is good list to start with:
    </p>

    <ul>
      <li><p>The Social Security Administration</p></li>
      <li><p>Driver's license bureau</p></li>
      <li><p>Auto license bureau</p></li>
      <li><p>Passport office</p></li>

      <li><p>Employer</p></li>
      <li><p>Voter's registration office</p></li>
      <li><p>School alumni offices</p></li>
      <li><p>Investment and bank accounts</p></li>
      <li><p>Insurance agents</p></li>
      <li><p>Retirement accounts</p></li>

      <li><p>Credit cards and loans</p></li>
      <li><p>Subscriptions</p></li>
      <li><p>Club memberships</p></li>
      <li>Post Office</li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Do I need to update my will when I get married?
    </h3>

    <p>
      Absolutely. Your will should be updated often, especially when such a
      significant life event occurs. Otherwise, your spouse and other intended
      beneficiaries may not get what you intended upon your death.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>What are the tax implications of marriage?
    </h3>

    <p>
      Once you are married you are entitled to file a joint income tax return.
      While this simplifies the filing process, you may find your tax bill
      either higher or lower than if each of you had remained single. Where it's
      higher it's because when you file jointly more of your income is taxed in
      the higher tax brackets. This is frequently referred to as the "marriage
      tax penalty." Tax law changes in the form of marriage penalty relief were
      made permanent by the American Taxpayer Relief Act of 2012, and remained
      in place under the Tax Cuts and Jobs Act of 2017 with the exception of
      married taxpayers in the highest tax bracket.
    </p>
    <p>
      You cannot avoid the marriage penalty by filing separate returns after
      you're married. In fact filing as "married filing separately" can actually
      increase your taxes. Consult your tax advisor if you have questions about
      the best filing status for your situation.
    </p>

    <blockquote class="note">
      <p>
        Under a joint IRS and U.S. Department of the Treasury ruling issued in
        2013, same-sex couples, legally married in jurisdictions that recognize
        their marriages, are treated as married for federal tax purposes,
        including income and gift and estate taxes. The ruling applies
        regardless of whether the couple lives in a jurisdiction that recognizes
        same-sex marriage or a jurisdiction that does not recognize same-sex
        marriage.
      </p>

      <p>
        In addition, the ruling applies to all federal tax provisions where
        marriage is a factor, including filing status, claiming personal and
        dependency exemptions, taking the standard deduction, employee benefits,
        contributing to an IRA and claiming the earned income tax credit or
        child tax credit.
      </p>

      <p>
        Any same-sex marriage legally entered into in one of the 50 states, the
        District of Columbia, a U.S. territory or a foreign country is covered
        by the ruling. However, the ruling does not apply to registered domestic
        partnerships, civil unions or similar formal relationships recognized
        under state law.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>How can married couples hold property?
    </h3>

    <p>
      There are several ways of owning property after marriage, but keep in mind
      that they may vary from state to state. Here are the most common:
    </p>

    <p>
      <strong>Sole Tenancy.</strong> Ownership by one individual. At death the
      property passes according to your will.
    </p>
    <p>
      <strong>Joint Tenancy, with right of survivorship.</strong> Equal
      ownership by two or more people. At death, property passes to the joint
      owner's. This is an effective way of avoiding probate.
    </p>

    <p>
      <strong>Tenancy in Common.</strong> Joint ownership of property without
      the right of survivorship. At death your share of the property passes
      according to your will.
    </p>

    <strong>Tenancy by the Entirety.</strong> Similar to Joint Tenancy, with
    right of survivorship. This is only available for spouses and prevents one
    spouse from disposing of the property without the others permission.

    <strong>Community Property.</strong> In some states, referred to as
    community property states, married people own property, assets, and income
    jointly; that is, there is equal ownership of property acquired during a
    marriage. Community property states are AZ, CA, ID, LA, NV, NM, TX, WA, and
    WI.

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
