<form>
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Email address</label>
    <input type="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Phone Number</label>
    <input type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Best Time To Call</label>
    <input type="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="">Comments</label>
    <textarea class="form-control" placeholder="Leave a comment here"></textarea>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" />
    <label class="form-check-label" for="">CAPTCHA Image</label>
  </div>
  <div class="mb-3">
    <input type="" class="form-control" />
  </div>
  <div class="d-flex justify-content-between">
    <a id="captcha_refresh" href="#">[ Show a different Image ]</a>
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
