<nav aria-label="breadcrumb">
  <ol class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start">
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services">Business Services</span>
    </li>
  </ol>
</nav>
<app-heading heading="Buisness Services"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>We're On Your Side</strong>
        </h2>
        <p>
          As a business owner, you work hard every single day. Whether it's
          managing your employees, overseeing your company's day-to-day
          operations, or generating new ideas, you don't have much time left
          over to deal with the financial side of your business. Even if your
          cash flow is good, are you sure you're maximizing your profits? Are
          you paying estimated taxes on time? Are you complying with federal and
          state payroll or sales and use tax?
        </p>
        <p>
          Tax law is complex. That's why it pays to have an accounting firm you
          can trust on your side.&nbsp; From generating cash flow statements to
          handling payroll and preparing your tax returns, we are here to help
          your business succeed.&nbsp;&nbsp;
        </p>
        <h2>
          <strong>What Can We Do For You?</strong>
        </h2>
        <p>
          <strong
            >We're committed to your success. Take a look at our services below
            or contact us today and find out how our comprehensive accounting
            &amp; tax services benefit your bottom line.&nbsp;</strong
          >
        </p>
      </div>
      <div style="text-align: left">
        <div class="caption">
          <strong><a [routerLink]="['small-business-accounting']" routerLinkActive="router-link-active" >Small Business Accounting</a></strong>
          <br />
          As a small business owner, you have more important things to do than
          to keep your own books. We take care of your books for you, so you can
          get back to the job of running your business and generating profits.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['book-keeping-services']" routerLinkActive="router-link-active" >Bookkeeping Services</a></strong>
          <br />
          Accurate bookkeeping is essential to your company's long-term
          viability. Experienced, affordable, and reliable, we serve a variety
          of industries and clients.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['payroll']" routerLinkActive="router-link-active" >Payroll</a></strong>
          <br />
          We offer payroll solutions that meet your business's needs and enable
          you to spend time doing what you do best--running your company.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['part-time-CFO-services']" routerLinkActive="router-link-active" >Part-Time CFO Services</a></strong>
          <br />
          Our Part-Time CFO Service gives you a professional financial manager
          who works with you to help guide your business to success.
        </div>
        <div class="caption">
          <strong
            ><a [routerLink]="['audits-review-compilation']" routerLinkActive="router-link-active" >Audits - Reviews - Compilations</a></strong
          >
          <br />
          Your stockholders, creditors, or private investors have different
          levels of risk tolerance, so we provide three levels of assurance to
          meet your needs.
        </div>
        <div class="caption">
          <strong
            ><a [routerLink]="['forensic-accounting']" routerLinkActive="router-link-active" >Forensic Accounting</a></strong
          >
          <br />
          Forensic accounting - also called financial forensics or forensic
          auditing - is an area of accounting that investigates actual or
          anticipated disputes.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['cash-flow-management']" routerLinkActive="router-link-active" >Cash Flow Management</a></strong>
          <br />
          A cash crisis can be emotionally devastating. It can even kill your
          business. The starting point for avoiding a cash crisis is allowing us
          to develop a cash flow projection for you.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['bank-financing']" routerLinkActive="router-link-active" >Bank Financing</a></strong>
          <br />
          Requesting a business loan without adequate preparation sends a clear
          message to the lender: High Risk! It pays to be prepared and organized
          in your approach for financing.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['business-valuation']" routerLinkActive="router-link-active" >Business Valuation</a></strong>
          <br />
          An objective valuation can make the difference between loss or gain,
          success or failure. You need professionals who are well qualified,
          with significant experience in evaluating all types of organizations.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['business-advisory-services']" routerLinkActive="router-link-active" >Business Advisory Services</a></strong>
          <br />
          If you still have all your plans and ideas locked up inside your head,
          preparing a strategic plan can help you clarify your company's
          direction.
        </div>
        <div class="caption">
          <strong
            ><a [routerLink]="['financial-planning-for-businesses']" routerLinkActive="router-link-active"
              >Financial Planning for Businesses</a
            ></strong
          >
          <br />
          If you run a successful business, you already understand how important
          it is to work with an accounting firm that understands how your
          company operates. What you might not realize is that when you add an
          accountant with expertise in financial planning and analysis to the
          team it allows you to take your business to another level.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['succession-planning']" routerLinkActive="router-link-active" >Succession Planning</a></strong>
          <br />
          Developing and implementing a well-designed succession plan is
          essential to the survival of a family business from one generation to
          the next.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['new-business-formation']" routerLinkActive="router-link-active" >New Business Formation</a></strong>
          <br />
          Opening your own business is exciting and thrilling. It's everything
          that comes after the excitement and thrill have worn off that dictates
          whether a small business will make it or not.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['non-profit-organizations']" routerLinkActive="router-link-active" >Non-Profit Organizations</a></strong>
          <br />
          The IRS uses very specific revenue and expense classifications to
          determine if your organization will retain its tax-exempt status.
        </div>
        <div class="caption">
          <strong><a [routerLink]="['internal-controls']" routerLinkActive="router-link-active" >Internal Controls</a></strong>
          <br />
          We assess your internal control systems to determine the efficiency
          and effectiveness of your operating procedures, then we make
          recommendations that help your company become stronger.
        </div>
        <div class="caption">
          <strong
            ><a [routerLink]="['litigation-support']" routerLinkActive="router-link-active" >Litigation Support</a></strong
          >
          <br />
          In today's world of increasingly complex litigation, you simply cannot
          do it alone. Your probability of success increases when you have the
          expertise of an experienced accountant on your side.
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block">
      <div class="text-center postion-sticky-top">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
