<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >What should I do if a friend or family member asks me to cosign a
          loan?</a
        >
      </li>
      <li>
        <a href="#2"
          >How can I get the best deal on a home equity loan or an equity line
          of credit?</a
        >
      </li>
      <li>
        <a href="#3"
          >What are the costs of obtaining a home equity line of credit?</a
        >
      </li>
      <li>
        <a href="#4"
          >Should I obtain a home equity line of credit or a traditional second
          mortgage loan?</a
        >
      </li>
      <li>
        <a href="#5"
          >How should I determine which of several loan alternatives is best?</a
        >
      </li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>What should I do if a friend or family member asks me to
      co-sign a loan?
    </h3>

    <p>
      Many people agree to co-sign loans for friends or relatives, as a favor,
      as a vote of confidence, or because they just can't say no. Unfortunately,
      their act of kindness often backfires because according to many finance
      companies most cosigners end up paying off the loans they've
      cosigned--along with late charges, legal fees and all. Not only is this an
      unwanted out-of-pocket expense, but it can also affect the cosigner's
      credit record.
    </p>

    <p>
      While a lender will generally seek repayment from the debtor first, it can
      go after the cosigner at any time. When you agree to cosign a loan for a
      friend or family member, you are also responsible for its repayment along
      with the borrower.
    </p>

    <p>
      Guaranteeing a loan is a better option than to cosign one in that where a
      loan is guaranteed, the lender can usually go after the guarantor only
      after the principal debtor has actually defaulted.
    </p>
    <p>
      However, if you've decided you're willing to cosign a loan, at the very
      least you should seek the lender's agreement to refrain collecting from
      you until the borrower actually defaults, and try to limit your liability
      to the unpaid principal at the time of default. You should also plan on
      staying apprised of the borrower's financial situation to prevent him or
      her from defaulting on the loan. An example of this might be having the
      lender notify you whenever a payment is late.
    </p>

    <p>
      <strong>Cosigning an Account.</strong> You may be asked to cosign an
      account to allow someone else to obtain a loan. With cosigning, your
      payment history and assets are used to qualify the cosigner for the loan.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> Cosigning a loan, whether for a family member,
        friend, or employee, is not recommended. Many have found out the hard
        way that cosigning a loan only leads to trouble.
      </p>
    </blockquote>

    <p>
      It bears repeating that cosigning a loan is no different than taking out
      the loan yourself. When you cosign, you are signing a contract that makes
      you legally and financially responsible for the entire debt. If the other
      cosigner does not pay, or makes late payments, it will probably show up on
      your credit record. If the person for whom you cosigned does not pay the
      loan, the collection company will be entitled to try to collect from you.
    </p>

    <p>
      If the cosigned loan is reported on your credit report, another lender
      will view the cosigned account as if it were your own debt. Further, if
      the information is correct, it will remain on your credit report for up to
      seven years.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> If someone asks you to cosign a loan, suggest
        other alternatives such as a secured credit card by which they can build
        a credit history. If you are asked to cosign for someone whose income is
        not high enough to qualify for a loan, you are actually doing them a
        favor by refusing because they will be less likely to be overwhelmed by
        too much debt. If you're still considering cosigning a loan, then you
        might want to consult an attorney before taking any action to find out
        what your liability is, if in fact the other person does default.
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> If you have already cosigned for someone, and he
        or she is not making payments on time, consider making the payments
        yourself and asking the cosigner to pay you directly, in order to
        protect your credit rating.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>How can I get the best deal on a home equity loan or an
      equity line of credit?
    </h3>

    <p>
      If you decide to apply for a home equity loan, look for the plan that best
      meets your particular needs. Look carefully at the credit agreement and
      examine the terms and conditions of various plans, including the annual
      percentage rate (APR) and the costs you'll pay to establish the plan.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> The disclosed APR will not reflect the closing
        costs and other fees and charges, so compare these costs, as well as the
        APRs, among lenders.
      </p>
    </blockquote>

    <p>
      <strong>Interest Rates.</strong> Home equity plans typically involve
      variable interest rates rather than fixed rates. A variable rate must be
      based on a publicly available index (such as the prime rate published in
      some major daily newspapers or a U.S. Treasury bill rate). The interest
      rate will change, mirroring fluctuations in the index.
    </p>

    <p>
      To figure the interest rate that you will pay, most lenders add a margin,
      such as 2 percentage points, to the index value.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> Because the cost of borrowing is tied directly to
        the index rate, find out what index and margin each lender uses, how
        often the index changes, and how high it has risen in the past.
      </p>
    </blockquote>

    <p>
      Sometimes lenders advertise a
      <strong>temporarily discounted rate</strong> for home equity loans-a rate
      that is unusually low and often lasts only for an introductory period,
      such as six months.
    </p>

    <p>
      <strong>Variable rate plans</strong> secured by a dwelling must have a
      ceiling (or cap) on how high your interest rate can climb over the life of
      the plan. Some variable-rate plans limit how much your payment may
      increase, and also how low your interest rate may fall.
    </p>

    <p>
      Some lenders permit you to
      <strong>convert a variable rate to a fixed interest rate</strong> during
      the life of the plan, or to convert all or a portion of your line to a
      fixed-term installment loan.
    </p>

    <p>
      Agreements generally permit the lender to freeze or reduce your credit
      line under certain circumstances, such as during any period the interest
      rate reaches the cap.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>What are the costs of obtaining a home equity line of
      credit?
    </h3>

    <p>
      Many of the costs in setting up a home equity line of credit are similar
      to those you pay when you buy a home.
    </p>

    <p><strong>For example, these fees may be charged:</strong></p>

    <ul>
      <li>
        <p>
          A fee for a property appraisal, which estimates the value of your home
        </p>
      </li>
      <li>
        <p>
          An application fee, which may not be refundable if you are turned down
          for credit
        </p>
      </li>
      <li>
        <p>
          Up-front charges, such as one or more points (one point equals one
          percent of the credit limit)
        </p>
      </li>
      <li>
        <p>
          Other closing costs, which include fees for attorneys, title search,
          mortgage preparation and filing, property and title insurance, as well
          as taxes
        </p>
      </li>
      <li><p>Yearly membership or maintenance fees</p></li>
    </ul>

    <p>
      You also may be charged a transaction fee every time you draw on the
      credit line.
    </p>

    <p>
      You could find yourself paying hundreds of dollars to establish the plan.
      If you were to draw only a small amount against your credit line, those
      charges and closing costs would substantially increase the cost of the
      funds borrowed.
    </p>

    <p>
      On the other hand, the lender's risk is lower than for other forms of
      credit because your home serves as collateral. Thus, annual percentage
      rates for home equity lines are generally lower than rates for other types
      of credit.
    </p>

    <p>
      The interest you save could offset the initial costs of obtaining the
      line. In addition, some lenders may waive a portion or all of the closing
      costs.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>Should I obtain a home equity line of credit or a
      traditional second mortgage loan?
    </h3>

    <p>
      If you are thinking about a home equity line of credit you might also want
      to consider a traditional second mortgage loan. This type of loan provides
      you with a fixed amount of money repayable over a fixed period. Usually
      the payment schedule calls for equal payments that will pay off the entire
      loan within that time.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> Consider a traditional second mortgage loan
        instead of a home equity line if, for example, you need a set amount for
        a specific purpose, such as an addition to your home.
      </p>
    </blockquote>

    <p>
      In deciding which type of loan best suits your needs, consider the costs
      under the two alternatives. Look at the APR and other charges.
    </p>

    <blockquote class="tip">
      <p>
        <strong>Tip:</strong> Do not simply compare the APR for a traditional
        mortgage loan with the APR for a home equity line because the APRs are
        figured differently. The APR for a traditional mortgage takes into
        account the interest rate charged plus points and other finance charges.
        The APR for a home equity line is based on the periodic interest rate
        alone. It does not include points or other charges.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>How should I determine which of several loan alternatives
      is best?
    </h3>

    <p>
      Use the legally-required disclosures of loan terms to compare the costs of
      home equity loans.
    </p>

    <p>
      The Truth in Lending Act requires lenders to disclose the important terms
      and costs of their home equity plans, including the APR, miscellaneous
      charges, the payment terms, and information about any variable-rate
      feature. In general, neither the lender nor anyone else may charge a fee
      until after you have this information.
    </p>

    <p>
      You usually get these disclosures when you receive an application form,
      and you will get additional disclosures before the plan is opened. If any
      term has changed before the plan is opened (other than a variable-rate
      feature), the lender must return all fees if you decide not enter into the
      plan because of the changed term.
    </p>

    <p>
      <strong>Credit costs vary.</strong> By remembering two terms, you can
      compare credit prices from different sources. Under Truth in Lending, the
      creditor must tell you-in writing and before you sign any agreement-the
      finance charge and the annual percentage rate.
    </p>

    <p>
      The finance charge is the total dollar amount you pay to use credit. It
      includes interest costs, and other costs, such as service charges and some
      credit-related insurance premiums.
    </p>

    <p>
      For example, borrowing $100 for a year might cost you $10 in interest. If
      there were also a service charge of $1, the finance charge would be $11.
    </p>

    <p>
      The annual percentage rate (APR) is the percentage cost (or relative cost)
      of credit on a yearly basis. This is your key to comparing costs,
      regardless of the amount of credit or how long you have to repay it:
    </p>

    <blockquote class="example">
      <p>
        <strong>Example:</strong> You borrow $100 for one year and pay a finance
        charge of $10. If you can keep the entire $100 for the whole year and
        then pay back $110 at the end of the year, you are paying an APR of 10
        percent. But, if you repay the $100 and finance charge (a total of $110)
        in twelve equal monthly installments, you don't really get to use $100
        for the whole year. In fact, you get to use less and less of that $100
        each month. In this case, the $10 charge for credit amounts to an APR of
        18 percent.
      </p>
    </blockquote>

    <p>
      All creditors-banks, stores, car dealers, credit card companies, finance
      companies- must state the cost of their credit in terms of the finance
      charge and the APR. Federal law does not set interest rates or other
      credit charges. But it does require their disclosure--before you sign a
      credit contract or use a credit card--so you can compare costs.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
