<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >Will my heirs owe income taxes when they inherit my retirement
          assets?</a
        >
      </li>
      <li>
        <a href="#2"
          >Will my heirs owe estate taxes on inherited retirement assets?</a
        >
      </li>
      <li>
        <a href="#3">Is estate tax deferred if my heir will get an annuity?</a>
      </li>
      <li>
        <a href="#4"
          >How can I minimize or eliminate tax on inherited retirement
          assets?</a
        >
      </li>
      <li>
        <a href="#5"
          >How should I take distributions from my retirement plan?</a
        >
      </li>
      <li>
        <a href="#6"
          >When should I take a lump-sum distribution from my retirement
          plan?</a
        >
      </li>
      <li>
        <a href="#7"
          >What should I do about my retirement plan assets in my ex-employer's
          plan if I change jobs?</a
        >
      </li>
      <li><a href="#8">Can creditors get at my retirement assets?</a></li>
      <li>
        <a href="#9">How will my state tax affect my retirement withdrawals?</a>
      </li>
      <li>
        <a href="#10"
          >I understand that I'm required to take money out of my retirement
          plan after I reach age 72. Why is that?</a
        >
      </li>
      <li>
        <a href="#11"
          >How can I continue the tax shelter for retirement plan assets after
          age 72?</a
        >
      </li>
      <li>
        <a href="#12"
          >Suppose there are still retirement assets in my account at my death.
          Can the shelter continue for those who receive those assets?</a
        >
      </li>
      <li>
        <a href="#13"
          >Can moving to another state when I retire save me taxes on my
          retirement plan?</a
        >
      </li>
      <li><a href="#14">What is a reverse mortgage?</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>Will my heirs owe income taxes when they inherit my
      retirement assets?
    </h3>

    <p>
      Yes, generally under the same rules that would apply to your withdrawals
      of the same amounts had you lived--unless it's a Roth IRA. A Roth IRA is
      exempt from federal income tax as long as the account was opened five
      years before any withdrawals were taken.
    </p>

    <p>
      Also, your spouse can rollover your account to his or her IRA. No early
      withdrawal penalty applies, regardless of your beneficiary's age, but a
      spouse who rolled over to an IRA may owe an early withdrawal penalty on
      IRA withdrawals taken before age 59 ½.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>Will my heirs owe estate taxes on inherited retirement
      assets?
    </h3>

    <p>
      Only a small percentage of estates (based on the value of one's assets at
      death, and including large lifetime gifts) are subject to the estate tax
      and there is no estate tax on assets passing to a surviving spouse or
      charity. However, if the estate is subject to federal estate tax, (except
      in 2010, when there was no estate tax) you can deduct the portion of the
      federal estate tax that is attributed to the IRA. You also won't have to
      pay tax on the portion of withdrawals that are attributed to any
      nondeductible contributions made to the IRA.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>Is estate tax deferred if my heir will get an annuity?
    </h3>

    <p>No. The estate is taxed on the annuity's present value.</p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>How can I minimize or eliminate tax on inherited
      retirement assets?
    </h3>

    <p>
      You can minimize or eliminate tax on inherited retirement assets by using
      the following methods:
    </p>

    <ol>
      <li>
        <p>
          Leave them to your spouse. This saves money owed to estate tax and
          helps postpone withdrawals subject to income tax--provided your spouse
          takes no withdrawals before age 59 ½.
        </p>
      </li>
      <li>
        <p>
          Leave them to charity. Although there's no financial benefit to the
          family, again, this saves income and estate taxes.
        </p>
      </li>
      <li>
        <p>
          Leave them to family for life, with the remainder to charity in the
          form of a charitable remainder trust. This reduces estate tax with
          some benefits to family.
        </p>
      </li>
      <li>
        Provide life insurance to pay estate tax on retirement assets. The
        benefit of this option is that it provides estate liquidity, avoiding
        taxable distributions to pay estate tax.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>How should I take distributions from my retirement plan?
    </h3>

    <p>
      If your assets are in a tax-favored retirement fund such as a company or
      Keogh pension or profit-sharing plan (including thrift and savings plans),
      401(k), IRA or stock bonus plan when it comes time to take distributions
      you have several options:
    </p>

    <ul>
      <li>Take everything in a lump sum</li>
      <li>
        Keep the money in the account, with regular distributions or withdrawals
        on an as-needed basis
      </li>
      <li>Purchase an annuity with all or part of the funds</li>
      <li>
        Take a partial withdrawal (leaving the balance for withdrawal later)
      </li>
      <li>Take a rollover distribution</li>
      <li>A combination of any of the above</li>
    </ul>

    <p>
      Your retirement assets may be distributed in kind as employer stock, or an
      annuity or insurance contract. Sometimes certain withdrawal options may be
      associated with certain retirement plans, for instance, annuities are more
      common with pension plans. Other types of plan favor the other options,
      but for the most part most of these options are available for most plans.
      And more than likely, you'll want to preserve the tax shelter as long as
      possible by withdrawing no more than you need at any given time.
    </p>

    <p></p>

    <p>
      Timing your withdrawal can be a factor, too. Withdrawals before age 59 ½
      risk a tax penalty. At the other end, withdrawals are generally required
      to start at age 72 or face a tax penalty. The only exceptions are Roth
      IRAs and non-owner-employees still working beyond that age.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>When is it best to take a lump-sum distribution from my
      retirement plan?
    </h3>

    <p>
      Your personal needs should decide. You may need a lump sum to buy a
      retirement home or retirement business. If your employer requires that you
      take a lump sum distribution, it may be wise to roll it over into an IRA.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>What should I do about my retirement plan assets in my
      ex-employer's plan if I change jobs?
    </h3>

    <p>There are several things you might do depending upon your needs:</p>

    <ol>
      <li>
        <p>
          If you don't need the assets to live on, try to continue the tax
          shelter and leave the money where it is.
        </p>
      </li>
      <li>
        <p>
          Transfer or roll over the assets into your new employer's plan--if
          that plan allows it (this can be tricky, though).
        </p>
      </li>
      <li>
        <p>
          If you've decided to start your own business, set up a Keogh and move
          the funds there.
        </p>
      </li>
      <li><p>Roll them over into your IRA.</p></li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>Can creditors get at my retirement assets?
    </h3>

    <p>
      In general, employer plans such as your 401(k), IRAs and pension plan
      funds are protected from general creditors unless you've used these assets
      as securities against a loan or you are entering into bankruptcy. If this
      is the case, there's a chance they could be seized, but if the money is in
      a registered IRA, pension plan, or 401(k), it's more than likely they will
      be protected in case of bankruptcy (subject to state and federal law of
      course).
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="9"></a>How will my state tax affect my retirement withdrawals?
    </h3>

    <p>Each state is different, but in general, consider the following:</p>

    <ol>
      <li>
        <p>
          While withdrawals are generally taxable in states with income tax,
          some offer relief for retirement income, up to a specified dollar
          amount.
        </p>
      </li>
      <li>
        <p>
          If your state doesn't allow deductions for Keogh or IRA investments
          allowed under federal law, these investments and sometimes more may
          come back tax-free.
        </p>
      </li>
      <li>
        State tax penalties for early withdrawal (before 59 ½) or inadequate
        withdrawal (after age 72) are unlikely.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="10"></a>I understand that I'm required to take money out of my
      retirement plan after I reach age 72. Why is that?
    </h3>

    <p>
      Retirement plans offer the biggest tax shelter in the federal system since
      funds grow tax-free while in the plan. But the shelter is primarily
      intended for retirement. So when you reach 72 (or shortly thereafter), you
      must start to withdraw from the plan.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="11"></a>How can I continue the tax shelter for retirement plan
      assets after age 72?
    </h3>

    <p>
      The shelter can continue for a large part of those assets, for a long
      time, assuming you don't need them to live on. You can spread withdrawals
      over a period based on, but longer than, your life expectancy, for
      example, over a period of at least 27.4 years if you're 72 now. You are
      free, however, to withdraw at a faster rate or even all of it if you wish.
      The shelter continues for whatever is not withdrawn.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="12"></a>Suppose there are still retirement assets in my account
      at my death. Can the shelter continue for those who receive those assets?
    </h3>

    <p>
      Generally, yes. Persons you have named as your plan beneficiaries can
      withdraw over their life expectancies (or more rapidly if they wish). The
      withdrawal period is generally shorter where no individual beneficiary is
      named (for example, where your estate is the beneficiary), but your spouse
      can sometimes spread withdrawals over a longer period.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="13"></a>Can moving to another state when I retire save me state
      taxes on my retirement plan?
    </h3>

    <p>
      Money from retirement plans, including 401(k)s, IRAs, company pensions and
      other plans, is taxed according to your residence when you receive it.
    </p>

    <p>
      If you move from a state with a high income tax, such as New York, to one
      with little or no income tax (Alaska, Florida, Nevada, South Dakota,
      Texas, Washington and Wyoming have none), you will indeed save money on
      state income tax.
    </p>

    <p>
      However, establishing residence in a new state may take as long as one
      year; if you retain property in both states, you may owe taxes to both.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="14"></a>What is a reverse mortgage?</h3>

    <p>
      A reverse mortgage is a type of home equity loan that allows you to
      convert some of the equity in your home into cash while you retain home
      ownership. Reverse mortgages work much like traditional mortgages, only in
      reverse. Rather than making a payment to your lender each month, the
      lender pays you. Most reverse mortgages do not require any repayment of
      principal, interest, or servicing fees for as long as you live in your
      home.
    </p>

    <p>
      Retired people may want to consider the reverse mortgage as a way to
      generate cash flow. A reverse mortgage allows homeowners age 62 and over
      to remain in their homes while using their built-up equity for any
      purpose: to make repairs, keep up with property taxes or simply pay their
      bills.
    </p>

    <p>
      Reverse mortgages are rising-debt loans, which means that the interest is
      added to the principal loan balance each month (because it is not paid on
      a current basis). Therefore, the total amount of interest you owe
      increases significantly with time as the interest compounds. Reverse
      mortgages also use up some or all of the equity in your home.
    </p>

    <p>
      All three types of loan plans, whether FHA-insured, lender-insured, or
      uninsured charge origination fees and closing costs. Insured plans also
      charge insurance premiums, and some impose mortgage servicing charges.
    </p>
    <p>
      Finally, homeowners should realize that if they're forced to move soon
      after taking the mortgage (because of illness, for example), they'll
      almost certainly end up with a great deal less equity to live on than if
      they had simply sold the house outright. That is particularly true for
      loans that are terminated in five years or less.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
