<div id="fga">
  <p>
    Several different types of retirement plan - 401(k), defined benefit, and
    profit-sharing - can be made to suit a prosperous small business or
    professional practice. But if yours is a really small business such as a
    home-based, start-up, or sideline business, maybe you should consider
    adopting a SIMPLE IRA plan.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">How Much You Can Put in and Deduct</a></li>
      <li><a href="#2">Withdrawal: Easy, but Taxable</a></li>
      <li><a href="#3">A SIMPLE IRA Plan</a></li>
      <li><a href="#4">What's Not So Good about SIMPLE IRA Plans</a></li>
      <li><a href="#5">How to Get Started in a SIMPLE IRA Plan</a></li>
      <li><a href="#6">Keoghs, SEPs and SIMPLE IRA Plans Compared</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    A SIMPLE IRA plan is a type of retirement plan specifically designed for
    small business and is an acronym for "Savings Incentive Match Plans for
    Employees." SIMPLE IRA plans are intended to encourage small business
    employers to offer retirement coverage to their employees but work just as
    well for self-employed persons without employees.
  </p>

  <p>
    SIMPLE IRA plans contemplate contributions in two steps: first by the
    employee out of salary, and then by the employer, as a "matching"
    contribution (which can be less than the employee contribution). Where
    SIMPLE IRA Plans are used by self-employed persons without employees - as
    IRS expressly allows - the self-employed person is contributing both as
    employee and employer, with both contributions made from self-employment
    earnings.
  </p>

  <p></p>
  <blockquote class="note">
    One form of SIMPLE IRA plan allows employer contributions without employee
    contributions. The ceiling on contributions, in this case, makes this SIMPLE
    IRA Plan option unattractive for self-employed individuals without
    employees.
    <p></p>
  </blockquote>
  <p>To establish a SIMPLE IRA Plan you:</p>
  <ul>
    <li>Must have 100 or fewer employees.</li>
    <li>Cannot have any other retirement plans.</li>
    <li>Employees must earn $5,000 a year.</li>
  </ul>
  <p></p>
  <p>And, here is a quick list of pros and cons:</p>

  <ul>
    <li>
      Plan is not subject to the discrimination rules that everyday 401(k) plans
      are.
    </li>
    <li>Employees are fully vested in all contributions.</li>
    <li>Straightforward benefit formula allows for easy administration.</li>
    <li>
      Optional participant loans and hardship withdrawals add flexibility for
      employees.
    </li>
    <li>No other retirement plans can be maintained.</li>
    <li>
      Withdrawal and loan flexibility adds administrative burden for the
      employer.
    </li>
  </ul>

  <h3 class="cellcolor"><a name="1"></a>How Much You Can Put in and Deduct</h3>

  <p>
    Those with relatively modest earnings will find that a SIMPLE IRA Plan lets
    them contribute (invest) and deduct more than other plans. With a SIMPLE IRA
    Plan, you can put in and deduct some or all of your self-employed business
    earnings. The limit on this "elective deferral" is $14,000 in 2022 ($13,500
    in 2021).
  </p>

  <p>
    If your earnings exceed that limit, you could make a modest further
    deductible contribution - specifically, your matching contribution as an
    employer. Your employer contribution would be three percent of your
    self-employment earnings, up to a maximum of the elective deferral limit for
    the year. So employee and employer contributions for 2022 can't total more
    than $28,000 ($14,000 maximum employee elective deferral, plus a maximum
    $14,000 for the employer contribution.)
  </p>

  <p>
    <strong>Catch up contributions.</strong> Owner-employees age 50 or over can
    make a further deductible "catch up" contribution as employee of $3,000 in
    2022 (same as 2021).
  </p>

  <blockquote class="example">
    <p>
      An owner-employee age 50 or over in 2022 with self-employment earnings of
      $40,000 could contribute and deduct $14,000 as employee plus an additional
      $3,000 employee catch up contribution, plus a $1,200 (3 percent of
      $40,000) employer match, for a total of $18,200.
    </p>
  </blockquote>

  <p>
    Low-income owner-employees in SIMPLE IRA Plans may also be allowed a tax
    credit up to $2,000 in 2022 for single filers ($4,000 married filing
    jointly). This is known as the "Saver's Credit" and income in 2022 must not
    be more than $68,000 for married filing jointly, $34,000 for singles and
    $51,000 for heads of household.
  </p>

  <p>
    SIMPLE IRA plans are an excellent choice for home-based businesses and ideal
    for full-time employees or homemakers who make a modest income from a
    sideline business.
  </p>

  <p>
    If living expenses are covered by your day job (or your spouse's job), then
    you would be free to put all of your sideline earnings, up to the ceiling,
    into SIMPLE IRA plan retirement investments.
  </p>

  <p>
    An individual 401(k) plan, however, could allow you to contribute more,
    often much more, than SIMPLE IRA Plan. For example, if you are less than 50
    years old with $50,000 of self-employment earnings in 2022, you could
    contribute $14,000 to your SIMPLE IRA PLAN plus an additional 3 percent of
    $50,000 as an employer contribution, for a total of $15,000. A 401(k) plan
    would allow a $33,000 contribution.
  </p>

  <p>
    With $100,000 of earnings, the total for a SIMPLE IRA Plan would be $17,000
    and $45,500 for a 401(k).
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Withdrawal: Easy, but Taxable</h3>
  <p>
    There's no legal barrier to withdrawing amounts from your SIMPLE IRA Plan,
    whenever you please. There can be a tax cost, though: Besides regular income
    tax, the 10 percent penalty tax on early withdrawal (generally, withdrawal
    before age 59 1/2) rises to 25 percent on withdrawals in the first two years
    the SIMPLE IRA Plan is in existence.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>A SIMPLE IRA Plan</h3>

  <p>
    A SIMPLE IRA Plan really is a "simple" plan to set up and operate than most
    other plans. Contributions go into an IRA that you set up. Those already
    familiar with IRA rules investment options, spousal rights, and creditors'
    rights don't have a lot new to learn.
  </p>

  <p>
    Requirements for reporting to the IRS and other agencies are negligible, at
    least for you, the self-employed person. Your SIMPLE IRA Plan's trustee or
    custodian, typically an investment institution, has reporting duties and the
    process for figuring the deductible contribution is a bit simpler than with
    other plans.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>What's Not So Good about SIMPLE IRA Plans
  </h3>

  <p>
    Other types of retirement plans are often better than the SIMPLE IRA Plan
    once self-employment earnings become significant. Other not-so-good features
    include the following:
  </p>

  <p>
    Because investments are through an IRA, you're not in direct control. You
    must work through a financial or other institution acting as trustee or
    custodian, and will in practice have fewer investment options than if you
    were your own trustee, as you could be in a Keogh. For many self-employed
    individuals, however, this won't be an issue. In this respect, a SIMPLE IRA
    Plan is like the SEP-IRA.
  </p>

  <p>
    Other plans for self-employed persons allow a deduction for one year (say
    2022) if the contribution is made the following year (2023) before the prior
    year's (2022) return is due (April 2023 or later with extensions). This rule
    applies to SIMPLE IRA Plans, for the matching (3 percent of earnings)
    contribution you make as an employer. But there's no IRS pronouncement on
    when the employee's portion of the SIMPLE IRA Plan is due where the only
    employee is the self-employed person. Those who want to delay contribution
    would argue that they have as long as it takes to compute self-employment
    earnings for 2022 (though not beyond the 2022 return due date, with
    extensions).
  </p>

  <blockquote class="tip">
    <p>
      The sooner your money goes in the plan, the longer it's working for you
      tax-free. So delaying your contribution isn't the wisest financial move.
    </p>
  </blockquote>

  <p>
    You can't set up the SIMPLE IRA Plan after the year ends and still get a
    deduction for that year, as is allowed with SEPs. Generally, to make a
    SIMPLE IRA Plan effective for the year it must be set up by October 1 of
    that same year. A later date is allowed where the business is started after
    October 1. In this instance, the SIMPLE IRA Plan must be set up as soon
    thereafter as administratively feasible.
  </p>

  <p>
    Then there's a problem if the SIMPLE IRA Plan is intended for a sideline
    business and you're already in a 401(k) plan in another business or as an
    employee. In this scenario, the total amount you can put into the SIMPLE IRA
    Plan and the 401(k) plan combined can't be more than $20,500 in 2022 or
    6,500 if catch-up contributions are made to the 401(k) by one age 50 or
    over.
  </p>

  <p>
    Here's an example: If someone who is less than age 50 puts $10,500 in her
    401(k), they can't put more than $10,000 in her SIMPLE IRA Plan in 2022. The
    same limit applies if you have a SIMPLE IRA Plan while also contributing as
    an employee to a "403(b) annuity" (typically for government employees and
    teachers in public and private schools).
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="5"></a>How to Get Started in a SIMPLE IRA Plan
  </h3>

  <p>
    You can set up a SIMPLE IRA Plan on your own by using IRS Form 5304-SIMPLE,
    <em
      >Savings Incentive Match Plan for Employees of Small Employers (SIMPLE) -
      Not for Use With a Designated Financial Institution,</em
    >
    or Form 5305-SIMPLE,
    <em
      >Savings Incentive Match Plan for Employees of Small Employers (SIMPLE) -
      for Use With a Designated Financial Institution</em
    >, but most people turn to financial institutions to take care of the
    paperwork for them. SIMPLE IRA Plans are offered by the same financial
    institutions that offer IRAs and 401(k) plans.
  </p>

  <p>
    You can expect the institution to give you a plan document (approved by IRS
    or with approval pending) and an adoption agreement. In the adoption
    agreement, you will choose an "effective date," which is the beginning date
    for payments out of salary or business earnings. Remember, that date can't
    be later than October 1 of the year you adopt the plan, except when a
    business is formed after October 1.
  </p>

  <p>
    Another key document is the Salary Reduction Agreement, which briefly
    describes how money goes into your SIMPLE IRA Plan. You need such an
    agreement even if you pay yourself business profits rather than salary.
  </p>

  <p>
    Printed guidance on operating the SIMPLE IRA Plan may also be provided. You
    will also be establishing a SIMPLE IRA Plan account for yourself as a
    participant.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="6"></a>Keoghs, SEPs and SIMPLE IRA Plans Compared For 2022
  </h3>

  &nbsp;<br />

  <div align="center">
      <table cellspacing="0" border="1" width="550" cellpadding="4">
        <tbody>
          <tr>
            <td width="33%" valign="top">
              <p>
                <strong><span face="Verdana" size="2">Keogh</span> </strong>
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <strong><span face="Verdana" size="2">SEP</span> </strong>
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <strong
                  ><span class="text" color="blue"
                    >SIMPLE IRA PLAN</span
                  ></strong
                >
              </p>
            </td>
          </tr>

          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Plan type:</strong> Can be defined benefit or defined
                  contribution (profit-sharing or money purchase)</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2">Defined contribution only</span>
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2">Defined contribution only</span>
              </p>
            </td>
          </tr>

          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Owner may have two or more plans of different types,
                  including a SEP, currently or in the past</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2">Owner may have SEP and Keoghs</span>
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Generally, SIMPLE IRA PLAN is the only current plan</span
                >
              </p>
            </td>
          </tr>

          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Plan must be in existence</strong> by the end of the
                  year for which contributions are made</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2"
                  >Plan can be set up later - if by the due date (with
                  extensions) of the return for the year contributions are
                  made</span
                >
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Plan generally must be in existence by October 1st of the
                  year for which contributions are made</span
                >
              </p>
            </td>
          </tr>

          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Dollar contribution ceiling (for 2022):</strong>
                  $61,000 for defined contribution plan; no specific ceiling for
                  defined benefit plan</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">$61,000 </span></p>
            </td>
            <td width="33%" valign="top">
              <p><span class="text" size="2">$27,000</span></p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Percentage limit on contributions:</strong> 50% of
                  earnings, for defined contribution plans (100% of earnings
                  after contribution). Elective deferrals in 401(k) not subject
                  to this limit. No percentage limit for defined benefit
                  plan.</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2"
                  >50% of earnings (100% of earnings after contribution).
                  Elective deferrals in SEPs formed before 1997 not subject to
                  this limit.
                </span>
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >100% of earnings, up to $14,000 for 2022 for contributions as
                  employee; 3% of earnings, up to $14,000 for contributions as
                  employer</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Deduction ceiling:</strong> For defined contribution,
                  lesser of $61,000 or 20% of earnings (25% of earnings after
                  contribution). 401(k) elective deferrals not subject to this
                  limit. For defined benefit, net earnings.</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2"
                  >Lesser of $61,000 or 20% of earnings (25% of earnings after
                  contribution). Elective deferrals in SEPs formed before 1997
                  not subject to this limit.</span
                >
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Maximum contribution $14,000 (in 2022)</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Catch up contribution 50 or over:</strong> Up to
                  $6,500 in 2022 for 401(k)s</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2"
                  >Same for SEPs formed before 1997</span
                >
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Half the limit for Keoghs, SEPs (up to $3,000 in 2022)</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Prior years' service</strong> can count in computing
                  contribution</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">No</span></p>
            </td>
            <td width="33%" valign="top">
              <p><span class="text" size="2">No</span></p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Investments:</strong> Wide investment opportunities.
                  Owner may directly control investments.</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2"
                  >Somewhat narrower range of investments. Less direct control
                  of investments.</span
                >
              </p>
            </td>
            <td width="33%" valign="top">
              <p><span class="text" size="2">Same as SEP</span></p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Withdrawals:</strong> Some limits on withdrawal
                  before retirement age</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">No withdrawal limits</span></p>
            </td>
            <td width="33%" valign="top">
              <p><span class="text" size="2">No withdrawal limits</span></p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Permitted withdrawals</strong> before age 59 1/2 may
                  still face 10% penalty</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">Same as Keogh rule</span></p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Same as Keogh rule except penalty is 25% in SIMPLE IRA PLAN
                  Plan's first two years</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Spouse's rights:</strong> Federal law grants spouse
                  certain rights in owner's plan</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p>
                <span class="text" size="2">No federal spousal rights</span>
              </p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2">No federal spousal rights</span>
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Rollover</strong> allowed to another plan (Keogh or
                  corporate), SEP or IRA, but not a SIMPLE IRA PLAN.</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">Same as Keogh rule</span></p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  >Rollover after 2 years to another SIMPLE IRA PLAN and to
                  plans allowed under Keogh rule</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2"
                  ><strong>Some reporting duties</strong> are imposed, depending
                  on plan type and amount of plan assets</span
                >
              </p>
            </td>
            <td width="33%" align="left" valign="top">
              <p><span class="text" size="2">Few reporting duties</span></p>
            </td>
            <td width="33%" valign="top">
              <p>
                <span class="text" size="2">Negligible reporting duties</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  &nbsp;<br />

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
