<div id="fga">
  <p>
    A budget is an essential component of your financial plan. Not only does it
    force you to monitor your spending, it enables you to focus on which items
    (such as loans and credit card debt) you can pay off or pay down so that you
    can accumulate funds for retirement, education, or buying a home.
  </p>

  <p>
    Here is a guide to effectively organizing and keeping a check on your
    expenses.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Step 1: Analyze Your Income And Expenses</a></li>
      <li><a href="#2">Step 2: Set Budgeting Goals</a></li>
      <li><a href="#3">Step 3: Create Your Budget</a></li>
      <li><a href="#4">Step 4: Review Your Adherence To The Budget</a></li>
      <li><a href="#5">Recommended Books</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    While this Financial Guide offers you guidance on how to develop a budget
    that works for you and your family, don't hesitate to contact your financial
    advisor if you need additional assistance.
  </p>

  <blockquote class="note">
    <p>
      The budget guidelines suggested here are intended for people who need to
      rein in their spending or have no idea what they spend their money on
      every month. If you have a good grasp of your cash inflows and outflows
      and have your spending under control, there may be no need to prepare a
      budget plan.
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Financial Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=10&amp;cat=Your Financial Plan: Getting Started On a Secure Future"
        >YOUR FINANCIAL PLAN: Getting Started On A Secure Future.</a
      >
    </p>
  </blockquote>

  <blockquote class="note">
    <p>
      Personal-finance computer software programs such as Quicken make it easy
      to set up a budget. If you have such a program, then simply follow the
      guidelines that the software gives you and use the information contained
      here as a guideline.
    </p>
  </blockquote>

  <h3 class="cellcolor">
    <a name="1"></a>Step 1: Analyze Your Income and Expenses
  </h3>

  <p>
    The first thing you need to do is to review your income and spending for the
    past year. This "cash-flow analysis" will lay the groundwork for the budget
    you create. You'll need your checkbook, your credit card statements (paper
    copies or online records), and your most recent tax return. This should give
    you sufficient data to analyze your spending and income for the past year.
  </p>

  <p></p>
  <h2>Your Income</h2>
  <p></p>

  <p>
    Using an excel spreadsheet, ledger paper, or even notebook paper (as long as
    it has lines), list your income for a one-year period, breaking it down by
    month and year. Include the following types of income:
  </p>

  <ul>
    <li>Salary/wages</li>
    <li>Income from self-employment</li>
    <li>
      Retirement pay and/or government-source income (e.g., Social Security,
      disability, unemployment, annuity, and pension payments)
    </li>
    <li>Interest and dividends</li>
    <li>Alimony and/or child support</li>
    <li>Rents and/or royalties</li>
    <li>Income from trusts</li>
  </ul>

  <p>Your income analysis might look something like this:</p>

  <table align="center" cellspacing="3">
    <tbody>
      <tr>
        <td align="center" width="100" class="cellcolor">
          <strong><u>Income Item</u></strong>
        </td>
        <td align="center" width="100" class="cellcolor">
          <strong><u>Monthly</u></strong>
        </td>
        <td align="center" width="100" class="cellcolor">
          <strong><u>Yearly</u></strong>
        </td>
      </tr>
      <tr>
        <td>Salary (Gross)</td>

        <td align="center">$10,000</td>
        <td align="center">$120,000</td>
      </tr>
      <tr>
        <td>Dividends</td>
        <td align="center">$100</td>
        <td align="center">$1,200</td>
      </tr>
      <tr>
        <td>Rent</td>
        <td align="center"><u>$1,500</u></td>
        <td align="center"><u>$18,000</u></td>
      </tr>

      <tr>
        <td><strong>Total</strong></td>
        <td align="center"><strong>$11,600</strong></td>
        <td align="center"><strong>$139,200</strong></td>
      </tr>
    </tbody>
  </table>

  <p></p>
  <h2>Your Fixed Expenses</h2>
  <p></p>

  <p>
    Add up your fixed expenses. These are expenses that generally do not vary
    from month to month. Again, break them down into month and year. Make sure
    you include the following categories, whether or not they're immediately
    evident from the past year's bills:
  </p>

  <ul>
    <li>Taxes (federal, state and local)</li>
    <li>Mortgage or rent</li>
    <li>Insurance, including medical, auto, homeowners, life, and other</li>
    <li>Utilities</li>
    <li>Automobiles (costs of operating minus insurance cost)</li>
    <li>Dues and fees paid to associations and clubs</li>
  </ul>

  <p>
    Where the amounts vary by month, as with a phone bill, add up what you paid
    for the year and divide by twelve to get the monthly amount. For bills that
    you pay yearly or quarterly, add the total amount paid for the year and
    divide by 12 to arrive at a monthly amount. This will help you to arrive at
    a more functional budget. If you have large credit card debt, indicate the
    amounts you actually paid, not the minimum monthly payments.
  </p>

  <p></p>
  <h2>Your Variable Expenses</h2>
  <p></p>

  <p>
    Next, add up your variable expenses for the previous one-year period using
    your checkbook and credit card statements. Be sure to include the following:
  </p>

  <ul>
    <li>Food</li>
    <li>Clothing</li>
    <li>Furniture and appliances</li>
    <li>Entertainment</li>
    <li>Gas, oil, and commuting costs</li>
    <li>Medical care</li>
    <li>Gifts</li>
    <li>Vacations</li>
    <li>Fees paid to accountants, lawyers, and other professionals</li>
  </ul>

  <p>
    Estimate if you need to do so. Here's what your variable expenses might look
    like:
  </p>

  <table align="center">
    <tbody>
      <tr class="cellcolor">
        <td align="center"><strong>Expense</strong></td>
        <td align="center" width="75"><strong>Monthly</strong></td>

        <td align="center" width="75"><strong>Yearly</strong></td>
      </tr>
      <tr>
        <td>Groceries</td>
        <td align="center">$950</td>
        <td align="center">$11,400</td>
      </tr>
      <tr>
        <td>Gifts For Weddings, Birthdays, etc.</td>
        <td align="center">$50</td>
        <td align="center">$600</td>
      </tr>
      <tr>
        <td>Magazine Subscriptions</td>
        <td align="center">$10</td>
        <td align="center">$120</td>
      </tr>
      <tr>
        <td>Movies, Theatre, Restaurants</td>

        <td align="center">$175</td>
        <td align="center">$2,100</td>
      </tr>
      <tr>
        <td>Vacations</td>
        <td align="center">$250</td>
        <td align="center">$3,000</td>
      </tr>
      <tr>
        <td>Gas, Oil, Car Repair</td>
        <td align="center">$400</td>
        <td align="center">$4,800</td>
      </tr>
      <tr>
        <td>Clothing</td>
        <td align="center"><u>$150</u></td>
        <td align="center"><u>$1,800</u></td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>

        <td align="center"><strong>$1,985</strong></td>
        <td align="center"><strong>$23,820</strong></td>
      </tr>
    </tbody>
  </table>

  <p>
    You'll be able to tell whether you're overlooking any variable expenses by
    subtracting the total yearly amount you arrive at for variable and fixed
    expenses from your yearly income figure. If this amount is the amount you
    put away in savings for the previous year, then you can be pretty certain
    that you've included all of your variable expenses. If there is a large gap
    between income minus expenses and the amount you saved, do some digging to
    try to find out where the extra money went.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Step 2: Set Budgeting Goals</h3>

  <p>
    Your budget should tie in with your financial planning goals. For instance,
    you may have taken a closer look at your retirement plan and decided that
    you needed to save $20,000 per year for the next ten years to accumulate the
    nest egg you want for retirement.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a href="?item=54&amp;cat=Your Retirement Plan: How To Get Started"
        >YOUR RETIREMENT PLAN: How To Get Started.</a
      >
    </p>
  </blockquote>

  <p>
    Or, you may be saving for a new home and figured out that you need to save
    $5,000 per year for the next three years to come up with a down payment.
  </p>

  <p>
    You may also want to reduce credit card debt or pay down a mortgage with
    your increased savings.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=100&amp;cat=Saving Money: 10 Major Ways To Increase Your Nest Egg"
        >SAVING MONEY: 10 Major Ways To Increase Your Nest Egg.</a
      >
    </p>
  </blockquote>

  <p>
    When setting your budgeting goals, decide how much you want to put away each
    year and what you will do with the savings. Your saving goals will depend on
    the financial planning goals mentioned above as well as on your age and
    income level.
  </p>

  <p>
    If you want to save more than you have been saving, then you'll need to cut
    down on optional expenditures. To do this, you'll enter an amount under
    "budgeted amount" that is less than "last year's actual."
  </p>

  <blockquote class="tip">
    <p>
      Review your budget each year to make sure it fits in with your financial
      goals, both long-term and short-term.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Step 3: Create Your Budget</h3>

  <p>
    Now it's time to actually create a budget. The easiest way to do this is to
    use an excel spreadsheet. If you're not computer proficient, then use ledger
    paper or 8-1/2 by 11-inch paper used in "landscape" format (used
    horizontally instead of vertically).
  </p>

  <blockquote class="note">
    <p>
      As we stated before if you have a computer software program that
      formulates a budget for you, then use that, as it will be more convenient
      than writing up a budget by hand. But read through our guidelines anyway
      to get a grasp of the concepts involved.
    </p>
  </blockquote>

  <p>
    Each sheet of paper should be headed by the name of the month. Once you've
    come up with January's version, you can photocopy that 11 times, since each
    month's version will be the same. You will end up with one sheet of paper
    for each month of the year.
  </p>

  <p>Each month's budget sheet might have five columns:</p>

  <ul>
    <li>
      Column 1, labeled <em>"Expense,"</em> will contain each of the items you
      listed under fixed and variable expenses.
    </li>
    <li>
      Column 2, labeled <em>"Last Year's Actual,"</em> will contain the monthly
      amounts you came up with for each fixed and variable expense.
    </li>
    <li>
      Column 3, labeled <em>"This Year's Budgeted,"</em> is where you will write
      in what you will allow yourself to spend on that item for the month. (It
      can, and probably will, differ from last year's actual expense).
    </li>
    <li>
      Column 4, labeled <em>"This Year's Actual,"</em> is where you will write
      in what you spend on that item for the month.
    </li>
    <li>
      Column 5, labeled <em>"Increase/Decrease,"</em> is where you will write in
      how much more--or less--you spent during that month than you had budgeted.
    </li>
  </ul>

  <p>
    Here is a <em>partial</em> view (showing just two expenses) of what your
    monthly budget might look like:
  </p>

  <table>
    <tbody>
      <tr class="cellcolor">
        <td align="center"><strong>Expense</strong></td>
        <td align="center"><strong>Last Year's Actual</strong></td>
        <td align="center"><strong>This Year's Budgeted</strong></td>
        <td align="center"><strong>This Year's Actual</strong></td>
        <td align="center"><strong>Over/(Under) Budget</strong></td>
      </tr>
      <tr>
        <td>Electric</td>
        <td align="center">$780</td>
        <td align="center">$825</td>
        <td align="center">$800</td>
        <td align="center">($25)</td>
      </tr>
      <tr>
        <td>Groceries</td>
        <td align="center"><u>$950</u></td>
        <td align="center"><u>$1,000</u></td>
        <td align="center"><u>$1,100</u></td>

        <td align="center"><u>$100</u></td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td align="center"><strong>$1,730</strong></td>
        <td align="center"><strong>$1,825</strong></td>

        <td align="center"><strong>$1,900</strong></td>
        <td align="center"><strong>$75</strong></td>
      </tr>
    </tbody>
  </table>

  <p>
    Arrange the items in whatever way is convenient for you, but make your
    budget easy to use because this will help ensure that you use it. If you
    prefer to categorize your expenses in an orderly way (fixed vs. variable or
    optional vs. mandatory), then do so. If you prefer to categorize them in the
    order in which they come up during the month, or by the manner in which they
    are paid (cash, check, or credit card), then do it that way.
  </p>

  <p>
    It takes discipline to record each amount in your budget as you pay it, but
    the discipline will pay off at the end of the year when you will have a
    clear picture of your spending.
  </p>

  <blockquote class="tip">
    <p>
      Keep receipts for cash payments until you are able to record expenditures
      in your budget.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      Don't try to track every penny; instead, maintain a category called "petty
      cash" or "miscellaneous expenses" to cover spending cash that does not go
      for categorized items. This will cover cash that you withdraw from your
      checking account, but do not keep track of. Allow yourself a reasonable
      budgeted amount for this category.
    </p>
    <p>
      At the end of each month, and then at the end of the year, look at your
      monthly totals to see whether you've under- or overspent your budgeted
      amounts. Performing a monthly and yearly review will help you to set or
      revise goals for next year.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>Step 4: Review Your Adherence to the Budget
  </h3>

  <p>
    At the end of each month and again at the end of the year, look at your
    monthly totals to see whether you've under or overspent your budgeted
    amounts. Performing a monthly and yearly review will help you to set or
    revise goals for next year.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
