<div id="fga">
  <h3 class="cellcolor">
    <a name="1"></a>How will a divorce or separation affect my credit?
  </h3>

  <p>
    Here are some tips for handling the credit aspects of divorce, both in the
    planning stages and afterward.
  </p>

  <p>
    <strong>Cancel All Joint Accounts. </strong>First, it is important to cancel
    all joint accounts immediately once you know you are going to obtain a
    divorce.
  </p>

  <p>
    Creditors have the right to seek payment from either party on a joint credit
    card or other credit account, no matter which party actually incurred the
    bill. If you allow your name to remain on joint accounts with your
    ex-spouse, you are also responsible for the bills.
  </p>

  <p>
    Some credit contracts require that you immediately pay the outstanding
    balance in full if you close an account. If so, try to get the creditor to
    have the balance transferred to separate accounts.
  </p>

  <p>
    <strong>If Your Spouse's Poor Credit Affects You.</strong>

    If your spouse's poor credit hurts your credit record, you may be able to
    separate yourself from the spouse's information on your credit report. The
    Equal Credit Opportunity Act requires a creditor to take into account any
    information showing that the credit history being considered does not
    reflect your own. If for instance, you can show that accounts you shared
    with your spouse were opened by him or her before your marriage and that he
    or she paid the bills, you may be able to convince the creditor that the
    harmful information relates to your spouse's credit record, not yours.
  </p>

  <p>
    In practice, it is difficult to prove that the credit history under
    consideration doesn't reflect your own, and you may have to be persistent.
  </p>

  <p>
    <strong>Women: Maintain Your Own Credit-Before You Need It.</strong> If a
    woman divorces, and changes her name on an account, lenders may review her
    application or credit file to see whether her qualifications alone meet
    their credit standards. They may ask her to reapply, although the account
    remains open.
  </p>

  <p>
    Maintaining credit in your own name avoids this inconvenience. It can also
    make it easier to preserve your own, separate, credit history. Further,
    should you need credit in an emergency, it will be available.
  </p>

  <p>
    Do not use only your spouse's name, for example, "Mrs. John Wilson" for
    credit purposes.
  </p>

  <blockquote class="tip">
    <p>
      Check your credit report if you haven't done so recently. Make sure the
      accounts you share are being reported in your name as well as your
      spouse's. If not, and you want to use your spouse's credit history to
      build your own, write to the creditor and request the account be reported
      in both names.
    </p>
  </blockquote>

  <p>
    Find out if there is any inaccurate or incomplete information in your file.
    If so, write to the credit bureau and ask them to correct it. The credit
    bureau must confirm the data within a reasonable time period, and let you
    know when they have corrected the mistake.
  </p>

  <p>
    If you used your spouse's accounts, but never co-signed for them, ask to be
    added on as jointly liable for some of the major credit cards. Once you have
    several accounts listed as references on your credit record, apply for a
    department store card, or even a Visa or MasterCard, in your own name.
  </p>

  <p>
    If you held accounts jointly and they were opened before 1977 (in which case
    they may have been reported only in your husband's name), point them out and
    tell the creditor to consider them as your credit history also. The creditor
    cannot require your spouse's or former spouse's signature to access his
    credit file if you are using his information to qualify for credit.
  </p>

  <blockquote class="tip">
    <p>
      A secured credit card is a fairly quick, easy way to get a major credit
      card if you do not have a credit history.
    </p>
  </blockquote>

  <h3 class="cellcolor">
    <a name="2"></a> What factors affect my credit rating?
  </h3>

  Your credit rating is affected by a number of different factors, some obvious
  and others few consumers are aware of. The following factors are discussed
  below:
  <ul>
    <li>Whether you have a credit card or use another person's credit card</li>
    <li>Whether you have a bank checking or savings account</li>
    <li>Where you live</li>
    <li>Your age</li>
    <li>Your debt-income ratio</li>
    <li>
      Whether you have declared bankruptcy or have had "charge-offs" to your
      account
    </li>
    <li>Whether you are delinquent in any child support payments</li>
    <li>Whether you have "too much" credit available</li>
  </ul>

  <h3 class="cellcolor">
    <a name="2"></a> Does having a credit card or using another person's credit
    card improve my credit rating?
  </h3>
  One of the best things you can have on a credit report is a bank credit card--
  such as a Visa, MasterCard or Discover card -that has been paid on time over a
  specified period in the past. In a credit scoring system, a good bank card
  reference usually carries more weight than an American Express card or a
  department store card.
  <p></p>

  <p>
    If you are an authorized user (someone who has permission to use a credit
    card, but is not legally liable for the bills) on someone else's account,
    the payment history will likely be reported in your credit file, but you
    won't be able to rely on it to help you build your own credit rating.
    Usually, it will neither help you nor hurt you when you apply for a loan.
  </p>

  <h3 class="cellcolor">
    <a name="2"></a>Does having a checking or savings account improve my credit
    rating?
  </h3>

  A checking or savings account will usually enhance your credit rating. Some
  banks give you extra points in applying for their credit card if you have a
  checking or savings account with them. In fact, some banks also give discounts
  on loan rates when you hold other accounts with them.
  <p></p>

  <h3 class="cellcolor">
    <a name="2"></a>Is my credit rating affected by where I live?
  </h3>

  Many creditors give a higher score to those who have lived at the same address
  for at least two years. Others give extra points just for living in the same
  area for two years or more.
  <p></p>

  <p>
    Creditors may take into account your geographic location in scoring your
    length of time at one address. If you live in a city, where people move more
    often, the length of time at your address will probably count less than if
    you live in the country.
  </p>

  <p>
    If your address is a post office box, you may find yourself turned down for
    credit. To fight fraud, some creditors screen out applicants whose addresses
    indicate commercial offices, mail drops or prisons.
  </p>

  <p>
    Since post office boxes or rural delivery boxes are commonplace in rural
    areas, a lender may issue a card to that address while rejecting applicants
    with a P.O. Box in a large city.
  </p>

  <p>People who own their homes usually earn a higher score than renters.</p>

  <h3 class="cellcolor">
    <a name="2"></a>Does my age affect my credit rating?
  </h3>

  If a lender's credit experience shows that people in a certain age group have
  a better record of paying their bills than people of other ages, that lender
  may, legally, give a higher score to the better-paying age group.
  <p></p>

  <p>
    However, the Equal Credit Opportunity Act (ECOA), a federal law intended to
    prevent discrimination in lending, does not allow lenders to discriminate
    against people age 62 or over. The ECOA requires creditors using a scoring
    system to give those aged 62 and older an age-factor score at least as high
    as the best score given to anyone under age 62.
  </p>

  <h3 class="cellcolor">
    <a name="2"></a>How important is my debt-income ratio in determining my
    credit-worthiness?
  </h3>

  Some creditors look at your "debt/income ratio" to determine whether you
  qualify for credit and how much credit you qualify for.
  <p></p>

  <p>
    To find your debt/income ratio, total up your monthly payments on all bills.
    Then, divide these payments by your monthly gross income (before tax). This
    is your debt/income ratio.
  </p>

  <p>
    If it's less than 28 percent, you should have no trouble getting a loan (and
    can consider yourself successful at managing your debt and maintaining a
    good credit rating). If it falls between 28 percent and 35 percent, you have
    what's considered high debt, and you may find it difficult to obtain some
    loans. If your debt/income ratio is 35 percent or more, you will probably
    not be able to get additional credit. More importantly, you are potentially
    in financial jeopardy.
  </p>

  <p>
    Keep in mind that these are general guidelines. Some large card issuers will
    accept debt ratios as high as 40-45 percent. Others compare your net
    (after-tax) income to your debts to determine your debt ratio.
  </p>

  <blockquote class="tip">
    <p>
      In determining your debt/income ratio, do not include payments for your
      mortgage, utility bills, doctor bills or other items that do not appear on
      your credit report: The creditor will not look at these.
    </p>
  </blockquote>

  <p>
    If you should incur unexpected expenses, get ill, lose your job, or get
    divorced, you could find yourself unable to meet your obligations. Consider
    seeking credit counseling through a local non-profit consumer credit
    counseling service.
  </p>

  <h3 class="cellcolor">
    <a name="2"></a>Will bankruptcies or "charge-offs" affect my credit rating?
  </h3>

  Most lenders (but not all) will automatically reject you if your application
  or credit file indicates a bankruptcy. Both types of bankruptcy - Chapter 13
  (the wage-earner's plan under which all debts are eventually repaid) and
  Chapter 7 (straight bankruptcy) - remain in your credit files for ten years.
  Few creditors draw any distinction between the two types, so you don't get any
  "credit" for having repaid your bills using Chapter 13. In addition to the
  bankruptcy itself remaining on your report for ten years, each separate
  account that was discharged through bankruptcy can be reported in your file
  for up to seven years.
  <p></p>

  <blockquote class="tip">
    <p>
      In exchange for paying off a collection account, you may be able to
      negotiate with the creditor or collection agency the permanent removal of
      the negative information from your credit bureau files. However, lenders
      are under no obligation to make such an agreement.
    </p>
  </blockquote>

  <p>
    "Charge-offs" (accounts written off as "uncollectible") and "collection
    accounts" (accounts sent either to the creditor's own collection department
    or to an outside collection agency) are extremely negative.
  </p>

  <p></p>
  <blockquote class="note">
    If an account that has been charged-off (other than for bankruptcy), the
    creditor will usually turn it over to a collection agency, which will then
    attempt to collect. It then becomes a "collection account" for reporting
    purposes.
    <p></p>
  </blockquote>

  <blockquote class="tip">
    <p>
      If you pay the charged-off amount, make sure the creditor updates the
      account as a "paid charge-off."
    </p>
  </blockquote>

  <h3 class="cellcolor">
    <a name="2"></a>Will medical debt or delinquent child support payments
    affect my credit?
  </h3>

  <p>
    According to the Consumer Financial Protection Bureau, as of June 2021, $88
    billion of outstanding medical bills are currently in collections –
    affecting one in five Americans. However, starting in July 2022, medical
    debts will no longer affect your credit rating. If you've paid your medical
    bill in full, but the debt is still listed on your credit report as a
    negative mark, it will be removed. Furthermore, all three credit bureau
    reports will remove medical debt sent to collections but eventually paid
    off. Plus, any new medical debt incurred will not show up on your credit
    reports until one year from the date it is sent to collections.
  </p>

  <p>
    Before July 2022, medical debt on consumer credit reports adversely impacted
    credit scores. Any unpaid medical debt owed 180 days after it was sent to
    collection stayed on your credit report for up to seven years - even if you
    already paid off that debt.
  </p>

  <p>
    Delinquent child support frequently appears on credit reports. In 1984,
    Congress amended the federal Child Support Enforcement (CSE) legislation to
    require more routine reporting of delinquent payments. As a result, state
    child support enforcement agencies must report overdue child support to a
    credit bureau that requests such information, as long as the amount exceeds
    $1,000. CSE agencies may also report delinquencies of any amount
    voluntarily. Before a CSE agency reports your delinquent child support debts
    to a credit bureau, it must tell you that it will do so and provide you with
    information on how to dispute the delinquency.
  </p>

  <h3 class="cellcolor">
    <a name="2"></a>Can my credit rating be negatively affected by having too
    much available credit?
  </h3>

  You may be turned down for a loan because you have too much available credit.
  When creditors evaluate your application for credit, they ascertain whether,
  if you were to use all your available credit, you would be over your head.
  <p></p>

  <p>
    Accounts you no longer use, or have paid off, can count against you if they
    are listed as "open" on a credit report. The act of paying off a revolving
    account does not, in itself, result in its being "closed" in the eyes of
    creditors. Further, some creditors do not report to credit bureaus the fact
    that accounts are closed.
  </p>

  <blockquote class="tip">
    <p>
      Every time you close an account, ask the creditor to report it as "closed
      by consumer" to all credit bureaus to which the account has previously
      been reported. If a closed account appears on your credit report as open,
      dispute the entry with the credit bureau.
    </p>
  </blockquote>

  <strong
    >In determining whether you have too much available credit, creditors
    usually consider:</strong
  ><br />
  <ul>
    <li>
      The number of accounts you hold. As noted above, having too many credit
      card accounts can count against you.
    </li>
    <li>
      The total credit you have available. Having too much available credit can
      count against you.
    </li>

    <p>
      Conversely, being at or near the limit on your credit cards (i.e., with
      little available credit) can also count against you if it suggests that
      you have incurred too heavy a debt load.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </ul>
</div>
