<div id="fga">
  <p>
    If you are thinking of retiring soon, you are about to make a major
    financial decision: how to take distributions from your retirement plan.
    This Financial Guide will discuss your various options. And, since the tax
    treatment of these distributions will influence your decision, we will also
    review the tax rules.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul class="triangle">
      <li class="triangle"><a href="#1">Take Everything In A Lump Sum</a></li>
      <li class="triangle"><a href="#3">Roll Over The Distribution</a></li>
      <li class="triangle"><a href="#4">Take A Partial Withdrawal</a></li>
      <li class="triangle">
        <a href="#5">Do Some Combination Of The Above</a>
      </li>
      <li class="triangle"><a href="#6">Life Insurance Options</a></li>
      <li class="triangle"><a href="#7">Assets Withdrawn In Kind</a></li>
      <li class="triangle">
        <a href="#8">The Economics Of Retirement Annuities</a>
      </li>
      <li class="triangle">
        <a href="#9">Can Creditors Reach Your Retirement Assets</a>
      </li>
      <li class="triangle">
        <a href="#10">State Taxes On Retirement Plan Distributions</a>
      </li>
    </ul>
    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <p>
    You may have a number of options as to HOW you can take retirement plan
    distributions, i.e., your share of company or Keogh pension or
    profit-sharing plans (including thrift and savings plans), 401(k)s, IRAs,
    and stock bonus plans. Your options depend (1) on what type of plan you are
    in and (2) whether your employer has limited your choices. Essentially, you
    can:
  </p>

  <ul>
    <li>Take everything in a lump sum.</li>
    <li>Take some kind of annuity.</li>
    <li>Roll over the distribution.</li>
    <li>Take a partial withdrawal.</li>
    <li>Do some combination of the above.</li>
  </ul>

  <p></p>
  <blockquote class="note">
    As you will see, the rules on retirement plan distributions are quite
    complex. They are offered here only for your general understanding.
    Professional guidance is advised before taking retirement distributions or
    other major withdrawals from your retirement plan.
  </blockquote>
  <p></p>

  <p>
    Before discussing the specific withdrawal options, let's consider the
    general tax rules affecting (1) tax-free withdrawals and (2) early
    withdrawals.
  </p>

  <p></p>
  <blockquote class="rfg">
    <strong>Related Guide:</strong> The tax treatment will be dictated not only
    by the <em><strong>form</strong></em> of the withdrawal (i.e.,
    <strong><em>how</em></strong> to take it) but also by the
    <strong><em>timing</em></strong> of the withdrawal (i.e.,
    <strong><em>when</em></strong> to take it). This Financial Guide discusses
    the <strong><em>"how."</em></strong> For a discussion of the
    <strong><em>"when,"</em></strong> please see the Financial Guide
    <a href="?item=58&amp;cat=Retirement Plan Distributions: When To Take Them"
      >RETIREMENT PLAN DISTRIBUTIONS: WHEN to Take Them.</a
    >
  </blockquote>

  <p>
    <strong>Tax-free Withdrawals.</strong> If you paid tax on money that went
    into the plan, that is if it was made with after-tax funds that money will
    come back to you tax-free. Typical examples of after-tax investments are:
  </p>

  <ul>
    <li>Your <strong>non</strong>-deductible IRA contributions.</li>
    <li>
      Your <strong>after</strong>-tax contributions to company or Keogh plans
      (usually, thrift, savings or other profit-sharing plans, but sometimes
      pension plans).
    </li>
    <li>
      Your <strong>after</strong>-tax contributions to 401(k)s (in excess of the
      pre-tax deferral limit).
    </li>
  </ul>

  <p>
    <strong>Early Withdrawals.</strong> Tax-favored retirement plans are meant
    primarily for retirement. If you withdraw funds before reaching what the law
    considers a reasonable retirement age - age 59 1/2 - you usually will face a
    10 percent penalty tax in addition to whatever tax would ordinarily apply.
  </p>

  <p></p>
  <blockquote class="example">
    At age 47, you withdraw $10,000 from your retirement account (and do not
    roll over the funds). That $10,000 is ordinary income on which you'll owe
    regular tax at your applicable rate plus a 10 percent penalty tax ($1,000).
    <p></p>
  </blockquote>

  <p>
    As with any other tax on withdrawal, the 10 percent penalty doesn't apply to
    any part of a withdrawal that would be tax-free as a return of after-tax
    investment
  </p>

  <p>There are several ways to avoid this penalty tax. The most common are:</p>

  <ul>
    <li>You're age 59 ½ or older.</li>
    <li>
      You're retired and are age 55 or older (however, this does not apply to
      IRAs).
    </li>
    <li>
      You're withdrawing in roughly equal installments over your life expectancy
      or your joint-and-survivor life expectancy (discussed later).
    </li>
    <li>You're disabled.</li>
    <li>
      The withdrawal is required by a divorce or separation settlement (here,
      too, this does not apply to IRAs).
    </li>
    <li>The withdrawal is for certain medical expenses.</li>
    <li>
      The withdrawal is for health insurance while unemployed (also available to
      self-employed).
    </li>
    <li>
      For IRAs only: The withdrawal is for certain higher education expenses and
      for first-time home purchases (up to $10,000).
    </li>
  </ul>

  <p></p>
  <blockquote class="note">
    Taxpayers affected by the coronavirus are able to withdraw up to $100,000
    and will not be subject to the 10 percent penalty for early withdrawals.
    Distributions can be taken through December 31, 2020. The amount withdrawn
    is considered income, however, and taxpayers have three years to pay the tax
    on the additional income and replace the funds in-kind. If you need to
    withdraw funds from a retirement plan, please call a tax and accounting
    professional to discuss how it could impact your financial situation.
    <p></p>
    <p>
      <strong>Eligible taxpayer. </strong>Anyone who has been diagnosed with
      SARS-CoV-2 virus or COVID-19 disease or whose spouse or dependent has been
      diagnosed with the same. In addition, any taxpayer experiencing financial
      hardship from any of the following situations:
    </p>
    <ul>
      <li>Quarantined</li>
      <li>Furloughed</li>
      <li>Laid off</li>
      <li>Work hours reduced</li>
      <li>Unable to work due to lack of child care</li>
    </ul>
  </blockquote>

  <p>
    Now let's review the basics for each of the options for taking retirement
    plan distributions and then discuss the tax planning for each option.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Take Everything In A Lump Sum</h3>

  <p></p>
  <h4>The Basics</h4>
  <p></p>

  <p>
    You might want to withdraw all retirement funds in a lump sum, perhaps to
    spend them on a retirement home or assisted living arrangement, on a second
    home, or to buy or invest in a business. Or you might want to take
    everything out of a company account because you mistrust leaving funds with
    a former employer or to take control of investment decisions, although here
    a rollover (discussed later) might be preferred. Maybe you have to take a
    lump sum, as some employers will require, though here, too, a rollover
    option is probably available.
  </p>

  <p>
    Lump sum is the standard form of retirement distribution for profit-sharing,
    401(k) and stock bonus plans, but may also happen in other plans. Put
    another way, while plans generally allow lump sum distribution, the employer
    may have decided to preclude the lump sum form.
  </p>

  <p></p>
  <blockquote class="tip">
    While your funds remain in the plan, earnings on the investment assets grow
    tax-free. The tax shelter ends once the funds are withdrawn. Preserving this
    tax shelter is one reason to decide not to withdraw the funds at all or to
    decide against withdrawing everything in a lump sum. The tax shelter
    continues, in one form or another, for funds withdrawn as annuities and for
    funds left in the plan when there's a partial withdrawal of funds. And the
    shelter continues on rollovers.
    <p></p>
  </blockquote>

  <h4>Tax Planning</h4>

  <p>
    Special tax relief applies, in certain cases, for those who withdraw their
    pension assets in a lump sum. For most, this relief comes in the form of
    "forward averaging," which is also known as the 10-year tax option.
  </p>

  <p>
    Forward averaging reduces your tax below what it would be if figured at
    regular progressive rates. You will pay tax in one year (for the year you
    receive it) as if the lump sum amount was received in equal installments
    over 10 years. Forward averaging isn't allowed if any part of the account is
    or was rolled over to an IRA.
  </p>

  <p>
    Capital gain treatment for lump sums is available only for those born before
    1936 and only with respect to plan participation before 1974. You will need
    to report the taxable part of the distribution from participation before
    1974 as a capital gain (if you qualify) and the taxable part of the
    distribution from participation after 1973 as ordinary income using the
    10-year tax option to figure the tax on the part from participation after
    1973 (if you qualify).
  </p>

  <p>
    It's a "lump sum" if you take out everything left in your account in a
    single calendar year. If you took $50,000 last year and $250,000 this year,
    and nothing is left, $250,000 is the lump sum. If you took $250,000 last
    year and $50,000 this year and nothing is left, $50,000 is the lump sum. In
    general, lump sum relief is available only once in a worker's lifetime.
  </p>

  <p>
    You may also report the entire taxable part as ordinary income or roll over
    all or part of the distribution. No tax would be due on the part rolled over
    and any part of the distribution that is not rolled over is reported as
    ordinary income.
  </p>

  <p></p>
  <blockquote class="tip">
    Because lump sum withdrawal ends the tax shelter, it's rarely the road to
    maximizing wealth. Retirees will usually do better with arrangements that
    preserve the shelter, through rollovers, annuities or partial withdrawals.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Roll Over The Distribution</h3>

  <p></p>
  <h4>The Basics</h4>
  <p></p>
  <p>
    Rollovers are transfers of funds from one plan to another (from one company
    or Keogh plan to another, from a company or Keogh to an IRA, or from one IRA
    to another, or from an IRA to a company or Keogh plan.
  </p>
  <p>
    Rollovers are usually distributions from a company or Keogh plan that are
    put into an IRA. You might do this (1) to transfer control of the funds from
    your employer to yourself or (2) because your employer forces the
    distribution when you leave so as to close its books on your plan
    participation. In your own Keogh plan, you might make the rollover as part
    of a decision to terminate your plan or your business.
  </p>

  <p></p>
  <blockquote class="tip">
    A rollover to your own IRA can give you flexibility in dealing with the
    funds (for example, so you can invest in options or create a separate IRA
    for each beneficiary) that would not be available for funds left in your
    employer's plan. Rollovers can be of the entire retirement account or only
    part of the account.
    <p></p>
  </blockquote>

  <p>
    Rollovers can be made from one IRA to another. Apart from Roth IRA
    situations, these are usually done to expand investment options or to create
    several IRA accounts. Rollovers also can be made from one pension,
    profit-sharing or 401(k) plan to another or between types of plan. This
    might happen if you change jobs or set up a new Keogh plan because of
    starting a new business after you retire.
  </p>
  <p>
    Rollovers from company or Keogh plans preserve the retirement plan tax
    shelter while postponing retirement distributions, thereby often prolonging
    the tax-free buildup of retirement funds. They have other consequences, some
    undesirable:
  </p>

  <p></p>
  <blockquote class="tip">
    Federal law grants a person no rights in his or her spouse's IRA. Thus, a
    plan participant's rollover will strip the participant's spouse of rights
    the spouse had under the plan from which the assets are being removed. In
    the case of a pension plan, the spouse has a measure of protection because
    the spouse must approve the transfer that will forfeit his or her rights.
    However, no such approval is required in the case of 401(k)s or
    profit-sharing plans. Thus, a rollover from such plans can eliminate spousal
    rights. (Employers sometimes provide spousal rights that federal law does
    not require.)
    <p></p>
  </blockquote>

  <p></p>
  <blockquote class="caution">
    A rollover will eliminate the chance of lump sum tax relief, unless the IRA
    was just a conduit for the movement of funds between retirement plans.
    <p></p>
  </blockquote>

  <p></p>
  <blockquote class="tip">
    In some cases, a rollover from an IRA to a retirement plan can extend the
    tax shelter period. IRA distributions must begin at age 72, but
    distributions from a retirement plan can be postponed beyond that until the
    participant retires, unless he or she is an owner of the business.
    <p></p>
  </blockquote>

  <p></p>
  <blockquote class="tip">
    A rollover from an IRA to a retirement plan could also get greater creditor
    protection than if left in an IRA.
    <p></p>
  </blockquote>

  <h4>Tax Planning</h4>
  <p>
    Rollovers are tax-free when properly handled, but consider these
    qualifications and exceptions:
  </p>

  <ul>
    <li>
      After-tax investments can be rolled over from a company or Keogh plan to
      an IRA and, in some cases, to defined contribution plans, but not to
      defined benefit plans.
    </li>
    <li>
      You can't roll over amounts you're required to withdraw after reaching age
      72 or amounts you're due to receive under a fixed annuity.
    </li>
  </ul>

  <p></p>
  <blockquote class="caution">
    If you do the rollover yourself-personally withdrawing funds from one plan
    and moving them to another-the plan you're withdrawing from must withhold
    tax at a 20 percent rate on the withdrawal. To avoid tax on the 20 percent
    withheld, you'll have to come up with that amount from elsewhere and add it
    to the rollover IRA. (The tax withheld can be taken as a credit against the
    year's tax liability.) On the other hand, a direct rollover (having the
    funds transferred directly from the transferring plan to the receiving plan)
    avoids withholding.
    <p></p>
  </blockquote>

  <p></p>
  <blockquote class="caution">
    If you do the rollover yourself, the withdrawn funds are taxable if they
    don't reach the rollover destination within the deadline (generally, 60
    days). Therefore, the least risky way to roll over funds is a direct
    rollover.
    <p></p>
  </blockquote>

  <p>
    Where the plan holds specific assets for your account, a rollover may (1)
    transfer the specific asset or (2) sell it and transfer the cash.
  </p>

  <p></p>
  <blockquote class="caution">
    The rollover is not tax-free if cash is withdrawn, used to buy investment
    assets, and the new assets are then transferred to the new plan.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Take A Partial Withdrawal</h3>

  <p></p>
  <h4>The Basics</h4>
  <p></p>
  <p>
    Partial withdrawals are withdrawals that aren't rollovers, annuities or lump
    sums or don't qualify for lump sum forward averaging or capital gain relief.
    They include certain withdrawals that you can make while you are still
    working as well as withdrawals at or after retirement. They may be made for
    investment or consumption, including education and health care. Because they
    are partial, the amount not withdrawn continues its tax shelter.
  </p>

  <p>
    A partial withdrawal will usually leave open the option for other types of
    withdrawal (annuity, lump sum, rollover) of the balance left in the plan.
  </p>

  <p></p>
  <blockquote class="note">
    Before retirement, partial withdrawals are fairly common with profit-sharing
    plans, 401(k)s, and stock bonus plans. After retirement, they are fairly
    common in all types of plans (though least common with defined-benefit
    pension plans).
    <p></p>
  </blockquote>

  <h4>Tax Planning</h4>
  <p>
    A partial withdrawal is taxable (and can be subject to the penalty tax on
    early withdrawal) except to the extent it consists of after-tax funds. The
    withdrawal is generally tax-free in the proportion the after-tax investment
    bears to the total retirement account.
  </p>

  <p></p>
  <blockquote class="example">
    Your retirement account totals $100,000, which includes an after-tax
    investment of $10,000. You withdraw $5,000. The withdrawal is tax-free to
    the extent of $500 ($10,000/$100,000x$5,000).
    <p></p>
  </blockquote>

  <p></p>
  <blockquote class="note">
    The tax-free portion is computed differently for plan participants who were
    in the plan on 5/5/86.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Do Some Combination Of The Above</h3>

  <p>
    Combination withdrawals are quite complex and beyond the scope of this
    Financial Guide.
  </p>
  <p>
    For an overview of how states tax retirement plan withdrawals, see
    <em>State Taxes On Retirement Plan Distributions.</em>
  </p>

  <p></p>
  <blockquote class="rfg">
    <strong>Related Guide</strong>: For a discussion of Roth IRAs, please see
    the Financial Guide:
    <a href="?item=60&amp;cat=Roth IRAs: How They Work and How To Use Them"
      >ROTH IRAS: How They Work And How To Use Them.</a
    >
  </blockquote>
  <p></p>
  <a href="?item=60&amp;cat=Roth IRAs: How They Work and How To Use Them"> </a>
  <p>
    <a href="?item=60&amp;cat=Roth IRAs: How They Work and How To Use Them"></a
    ><a href="#top">Back To Top</a>
  </p>

  <h3 class="cellcolor"><a name="1"></a>Life Insurance Options</h3>

  <p>
    Here are your typical options where whole life insurance is held for you in
    a retirement plan:
  </p>

  <ul>
    <li>
      Your employer surrenders the policy to the insurance company for its cash
      surrender value, which it pays over to you.
    </li>
    <li>Your employer trades in the policy for an annuity on your life.</li>
    <li>Your employer distributes the policy to you.</li>
    <li>
      Some mix of the above, such as getting some cash proceeds and an annuity.
    </li>
  </ul>

  <p>
    The tax shelter ends when cash is received. Otherwise, it continues, to some
    degree.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="1"></a>Assets Withdrawn In Kind</h3>

  <p>
    In general, assets withdrawn in kind (i.e., withdrawn in the form held by
    the retirement plan, rather than withdrawn in cash) are taxed at their fair
    market value when received, reduced by after-tax investment. Exceptions:
  </p>

  <ul>
    <li>
      <p>
        <em>Stock distributed by a stock bonus plan.</em> Your after-tax
        investment in the stock comes back tax-free and you pay no tax on the
        stock's appreciation in value until you sell it. But you have the option
        to pay tax on the value when received.
      </p>
    </li>
    <li>
      <p>
        <em>Annuity contract.</em> These aren't taxed when distributed. You're
        taxed under the annuity rules above on annuity payments as received.
      </p>
    </li>
    <li>
      <em>Insurance policy.</em> If you convert the policy to an annuity
      contract within 60 days, the distribution is tax-free. However, you're
      taxed under the annuity rules as payments are received. If you keep the
      policy, you're taxed on the policy's cash value (less your after-tax
      investment).
    </li>
  </ul>
  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="1"></a>The Economics Of Retirement Annuities
  </h3>

  <p>
    Retirement annuity economics are built around the straight life annuity,
    where the retiree receives a certain amount for life, however, long or short
    that might be. This amount stops at the retiree's death. The cost of such an
    annuity is computed, and that's the cost the employer is obligated to
    provide.
  </p>
  <p>
    However, you may want, or be obliged to take, something other than a
    straight life annuity, such as:
  </p>

  <ul>
    <li>
      A fixed-term annuity, whereby the annuity will continue for a fixed term
      (say, ten years) even though you die before the end of this term. (This
      additional benefit is called a "refund feature.")
    </li>
    <li>
      A joint and survivor annuity, where the annuity is payable over two lives
      instead of one.
    </li>
  </ul>

  <p>
    These types of annuity are worth more than the straight life annuity. But
    the employer isn't obliged to pay for more than the cost of a straight
    single life annuity. So if you opt for something other than straight life,
    the amount you collect each period will be correspondingly reduced to the
    "actuarial equivalent" of straight life.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="1"></a>Can Creditors Reach Your Retirement Assets?
  </h3>

  <p>
    Federal law generally protects your retirement assets or accounts against
    claims of your creditors so long as the assets remain in the retirement
    plan, except for unpaid federal taxes. Generally, this protection is in
    federal labor law (ERISA). Protection denied under labor law is provided
    under bankruptcy law (if the case is begun after October 16, 2005) to:
  </p>
  <ul>
    <li>
      Keogh plans where the Keogh owner (or owner and spouse) are the only ones
      in the plan and
    </li>
    <li>
      IRA plans, up to the amount rolled over from retirement plans, plus up to
      $1 million (which the bankruptcy court may increase where appropriate).
    </li>
  </ul>
  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="1"></a>State Taxes On Retirement Plan Distributions
  </h3>

  <p>
    With 50 different state tax systems, only an overview is possible on how
    states tax retirement plan withdrawals. Here are the highlights:
  </p>

  <ul>
    <li>
      A state cannot tax a retirement plan distribution if it imposes no income
      tax on individuals (Alaska, Florida, Nevada, New Hampshire, South Dakota,
      Tennessee, Texas, Washington, and Wyoming).
    </li>
    <li>
      A state from which a pension is paid, by an employer or former employer in
      the state, can't tax the pension recipient in another state. In other
      cases, states generally follow the basic federal approach of taxing
      retirement distributions as ordinary income (and treating return of
      after-tax investment as tax-free). But some states don't follow the
      federal rules for Keogh or IRA investment. Hence, withdrawals from such
      plans can get state tax relief not allowed under federal law.
    </li>
    <li>
      Some states grant tax relief for a certain dollar amount of retirement
      income, relief that extends to retirement plan withdrawals. In some states
      the relief may look something like the federal credit for the elderly.
    </li>
    <li>
      Rarely if ever, would a state impose a penalty tax on early withdrawal or
      on inadequate withdrawals after age 72.
    </li>
  </ul>
  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
