<div id="fga">

  <p>If you have a household employee, you may need to pay state and federal employment taxes. Which forms do you need to file for your household employees? Is your maid, housekeeper, or babysitter covered by the rules? This Financial Guide provides the answers to these and other questions.</p>

  <div id="toc">
  <h3 class="cellcolor">Table of Contents</h3>
  <ul>
        <li><a href="#1">Who is a Household Employee?</a></li>
        <li><a href="#2">How Do You Verify That an Employee Can Legally Work in the United States?</a></li>
        <li><a href="#3">Do You Need to Pay Employment Taxes?</a></li>
        <li><a href="#4">State Unemployment Taxes</a></li>
        <li><a href="#5">Social Security And Medicare Taxes</a></li>
        <li><a href="#6">Federal Unemployment (FUTA) Tax</a></li>
        <li><a href="#7">Do You Need to Withhold Federal Income Tax?</a></li>
        <li><a href="#8">How Do You Handle The Earned Income Credit?</a></li>
        <li><a href="#9">How Do You Make Tax Payments?</a></li>
        <li><a href="#10">What Forms Must You File?</a></li>
        <li><a href="#11">What Records Must You Keep?</a></li>
        <li><a href="#12">State Unemployment Tax Agencies</a></li>
        <li><a href="#13">Household Employers Checklist</a></li>
  </ul>

  </div> <!-- toc -->

  <p>This Financial Guide will help you decide whether you have a "household employee," as defined by the IRS and if you do, whether you need to pay federal employment taxes. It explains the rules for determining, paying, and reporting Social Security tax, Medicare tax, federal unemployment tax, federal income tax withholding, and state unemployment tax for your household employee.  It also explains what records you need to keep. In addition, it provides you with the information you need to find out whether you need to pay state unemployment tax for your household employee.</p>

  <p>While many people disregard the need to pay taxes on household employees, they do so at the risk of stiff tax penalties. As you will see below, these rules are quite complex and professional tax guidance is highly recommended.</p>

  <p>A basic familiarity with these rules will make it easier to work with your tax advisor, saving you time, reducing tax costs, and avoiding tax penalties and interest charges.</p>

  <h3 class="cellcolor"><a name="1"></a>Who is a Household Employee?</h3>

  <p>The "nanny tax" rules apply to you only if (1) you pay someone for <b>household work</b> and (2) that worker is your <b>employee</b>.</p>

  <ol>
      <li>A household employee is someone who does work in or around your home. Examples of household employees include babysitters, nannies, health aides, private nurses, maids, caretakers, yard workers, and similar domestic workers.</li> <br>
      <li>A household worker is your <b>employee</b> if you can control not only what work is done, but how it is done. If the worker is your employee, it does not matter whether the work is full-time or part-time, or if you hired the worker through an agency or from a list provided by an agency or association.  It also does not matter whether you pay the worker on an hourly, daily, or weekly basis, or by the job. <br> <br>On the other hand, if only the worker can control how the work is done, the worker is not your employee but is self-employed. A self-employed worker usually provides his or her own tools and offers services to the general public in an independent business. If an agency provides the worker and controls what work is done and how it is done, the worker is not your employee.</li> <br>
  </ol>

  <blockquote class="example"><p>You pay Emily to babysit your child and do light housework four days a week in your home. Emily follows your specific instructions about household and childcare duties. You provide the household equipment and supplies that Emily needs to do her work. Emily is your household employee.</p></blockquote>

  <blockquote class="example"><p>You pay Nathan to care for your lawn. Nathan also offers lawn care services to other homeowners in your neighborhood. He provides his own tools and supplies, and he hires and pays any helpers he needs. Neither Nathan nor his helpers are your household employees.</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>How Do You Verify That an Employee Can Legally Work in the United States?</h3>

  <p>It is unlawful for you to knowingly hire or continue to employ a person who cannot legally work in the United States.</p>

  <p>When you hire a household employee to work for you on a regular basis, he or she must complete USCIS Form I-9, <em>Employment Eligibility Verification</em>. It is your responsibility to verify that the employee is either a U.S. citizen or an alien who can <b>legally</b> work and then complete the employer part of the form. Keep the completed form for your records. Do not return the form to the U.S. Citizenship and Immigration Services (USCIS).</p>

  <p>Two copies of Form I-9 are contained in the UCIS Employer Handbook. Visit the <a href="https://www.uscis.gov/">USCIS website</a> or call 800-767-1833 to order the handbook, additional copies of the form, or to get more information.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Do You Need to Pay Employment Taxes?</h3>

  <p>If you have a household employee, you may need to withhold and pay Social Security and Medicare taxes, or you may need to pay federal unemployment tax, or you may need to do both. To find out, read the table below.</p>


      <table cellspacing="8" width="100%" style="border: 1px solid;">
        <tbody><tr>
          <td valign="TOP" width="50%">
          <h2>If you:</h2>
          </td>
          <td valign="TOP" width="50%">
          <h2>Then you need to:</h2>
          </td>
        </tr>
        <tr>
          <td valign="TOP" width="50%">Pay cash wages of $2,400 or more in 2022 to any one household employee.
          <p>Do not count wages you pay to:
          </p><ul>
            <li>Your spouse,</li>
            <li>Your child under age 21,</li>
            <li>Your parent, or</li>
            <li>Any employee under age 18 during 6</li>
          </ul>
          </td>
          <td valign="TOP" width="50%">Withhold and pay Social Security and Medicare taxes.
          <ul>
            <li>The combined taxes are generally 15.3% of cash wages.</li>
            <li>Your employee's share is 7.65%.</li>
          </ul>
          <p>(You can choose to pay the employee's share yourself and not withhold it.)
          </p><ul>
            <li>Your share is 7.65%.</li>
          </ul>
          </td>
        </tr>
        <tr>
          <td valign="TOP" width="50%">Pay total cash wages of $1,000 or more in any calendar quarter of 2021 or 2022 to household employees.
          <p>Do not count wages you pay to:
          </p><ul>
            <li>Your spouse,</li>
            <li>Your child under age 21, or</li>
            <li>Your parent.</li>
          </ul>
          </td>
          <td valign="TOP" width="50%">Pay federal unemployment tax.
          <ul>
            <li>The tax is 6.0% of cash wages. </li>
            <li>Wages over $7,000 a year per employee are not taxed.</li>
  <li>You also may owe state unemployment tax.</li>
          </ul>
          </td>
        </tr>
      </tbody></table>


  <blockquote class="note"><p>If neither of these two columns applies, then you do not need to pay any federal unemployment taxes. However, you may still need to pay state unemployment taxes.</p></blockquote>

  <p>You do not need to withhold federal income tax from your household employee's wages. But if your employee asks you to withhold it, you can choose to do so.</p>

  <blockquote class="tip"><p>If your household employee cares for your dependent under the age of 13 or your spouse or dependent who is not capable of self-care so that you can work, you may be able to take an income tax credit of up to 35% (or $1,100) of your expenses for each qualifying dependent. For two or more qualifying dependents, you can claim up to 35% (or $2,200). For higher-income earners, the credit percentage is reduced, but not below 20%, regardless of the amount of AGI. If you can take the credit, then you can include your share of the federal and state employment taxes you pay, as well as the employee's wages, in your qualifying expenses.</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>State Unemployment Taxes</h3>

  <p>To find out whether you need to pay state unemployment tax for your household employee contact your state unemployment tax agency. You'll also need to determine whether you need to pay or collect other state employment taxes or carry workers' compensation insurance.</p>

  <blockquote class="note"><p>If you do not need to pay Social Security, Medicare, or federal unemployment tax and do not choose to withhold federal income tax, the rest of this publication does not apply to you.</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Social Security and Medicare Taxes</h3>

  <blockquote class="note"><p><b>Additional Medicare Tax.</b> As of January 1, 2013, employers are responsible for withholding the 0.9% Additional Medicare Tax on an individual's wages paid in excess of $200,000 in a calendar year. An employer is required to begin withholding Additional Medicare Tax in the pay period in which it pays wages in excess of $200,000 to an employee. There is no employer match for Additional Medicare Tax.</p>
  </blockquote>

  <p>Both you and your household employee may owe social security and Medicare taxes. Your share is 7.65% (6.2% for social security tax and 1.45% for Medicare tax) of the employee's social security and Medicare wages. Your employee's share is 6.2% for social security tax and 1.45% for Medicare tax for wages below the Additional Medicare Tax threshold (see above).</p>

  <p>You are responsible for payment of your employee's share of the taxes as well as your own. You can either withhold your employee's share from the employee's wages or pay it from your own funds.</p>

  <h2>Social Security and Medicare Wages</h2>

  <p>You figure Social Security and Medicare taxes on the Social Security and Medicare wages you pay your employee. If you pay your household employee cash wages of $2,400 or more in 2022, all cash wages you pay to that employee in 2022 (regardless of when the wages were earned) up to $147,000 are social security wages and all cash wages are Medicare wages. However, any non-cash wages (food, lodging, clothing, and other non-cash items) you pay do not count as social security and Medicare wages. If you pay the employee less than $2,400 in cash wages in 2022, none of the wages you pay the employee are Social Security and Medicare wages, and neither you nor your employee will owe Social Security or Medicare tax.</p>

  <h2>Wages Not Counted</h2>

  <p>Do not count wages you pay to any of the following individuals as Social Security and Medicare wages:</p>

  <ol>
        <li>Your spouse.</li>
        <li>Your child who is under age 21.</li>
        <li>Your parent.</li>
    <blockquote class="note"><p>However, you should count wages to your parent if both of the following apply: (a) your child lives with you and is either under age 18 or has a physical or mental condition that requires the personal care of an adult for at least four continuous weeks in a calendar quarter, and (b) you are divorced and have not remarried, or you are a widow or widower, or you are married to and living with a person whose physical or mental condition prevents him or her from caring for your child for at least four (4) continuous weeks in a calendar quarter.</p></blockquote>
    <li>An employee who is under age 18 at any time during the year.</li>
    <blockquote class="note"><p>However, you should count these wages to an employee under 18 if providing household services is the employee's principal occupation.  If the employee is a student, providing household services is not considered to be his or her principal occupation.</p></blockquote>
  </ol>

  <p>Also, if your employee's Social Security and Medicare wages reach $147,000 in 2022, do not count any wages you pay that employee during the rest of the year as Social Security wages to figure Social Security tax (but continue to count the employee's cash wages as Medicare wages to figure Medicare tax).</p>

  <p>You figure federal income tax withholding on both cash and non-cash wages (based on their value). However, do not count as wages any of the following items:</p>

  <ul>
    <li>Meals provided at your home for your convenience.</li>
    <li>Lodging provided at your home for your convenience and as a condition of employment.</li>
    <li>$280 a month in 2022 for transit passes that you give your employee or, in some cases, for cash reimbursement you make for the amount your employee pays to commute to your home by public transit. A transit pass includes any pass, token, fare card, voucher, or similar item entitling a person to ride on mass transit, such as a bus or train.</li>
    <li>Up to $280 a month in 2022 to reimburse your employee for the cost of parking at or near your home or at or near a location from which your employee commutes to your home.</li>
  </ul>

  <h2>Withholding the Employee's Share</h2>

  <p>You should withhold the employee's share of Social Security and Medicare taxes if you expect to pay your household employee Social Security and Medicare wages of $2,400 or more in 2022. However, if you prefer to pay the employee's share yourself; see "Not Withholding the Employee's Share" in the next section.</p>

  <p>You may withhold the employee's share of the taxes even if you are not sure your employee's Social Security and Medicare wages will be $2,400 or more in 2022. If you withhold the taxes but then actually pay the employee less than $2,400 in Social Security and Medicare wages for the year, you should repay the employee.</p>

  <p>You pay withheld taxes as part of your regular income tax obligation. You don't deposit them periodically subject to an exception for business owners. See "Payment Options for Business Employers" below.</p>

  <p>Withhold 7.65% (6.2% for Social Security tax and 1.45% for Medicare tax) from each payment of Social Security and Medicare wages. Wages exceeding the $200,000 (single filer) threshold amount are subject to the additional Medicare tax or 0.9%. Instead of paying this amount to your employee, you will pay the IRS 7.65% for your share of the taxes. Do not withhold any social security tax after your employee's social security wages for the year reach $147,000 in 2022. </p>

  <p>If you make an error by withholding too little, you should withhold additional taxes from a later payment. If you withhold too much, you should repay the employee.</p>

  <blockquote class="example"><p>You hire a household employee (who is an unrelated individual over age 18) to care for your child and agree to pay cash wages of $100 every Friday. You expect to pay your employee $2,200 or more for the year. You should withhold $7.65 from each $100 wage payment and pay your employee the remaining $92.35. The $7.65 is the sum of $6.20 ($100 x 6.2%) for your employee's share of Social Security tax and $1.45 ($100 x 1.45%) for your employee's share of Medicare tax (for wages under $200,000 for single filers). You will pay $7.65 from your own funds when you pay the taxes.</p></blockquote>

  <h2>Not Withholding the Employee's Share</h2>

  <p>If you prefer to pay your employee's Social Security and Medicare taxes from your own funds, you do not have to withhold them from your employee's wages. The Social Security and Medicare taxes you pay to cover your employee's share must be included in the employee's wages for income tax purposes. However, they are not counted as Social Security and Medicare wages or as federal unemployment (FUTA) wages.</p>

  <blockquote class="example"><p>You hire a household employee (who is an unrelated individual over age 18) to care for your child and agree to pay cash wages of $100 every Friday. You expect to pay your employee $2,200 or more for the year. You decide to pay your employee's share of Social Security and Medicare taxes from your own funds. You pay your employee $100 every Friday without withholding any Social Security or Medicare taxes. For each wage payment, you will pay $15.30 when you pay the taxes. This is $7.65 ($6.20 for Social Security tax plus $1.45 for Medicare tax) to cover your employee's share plus the $7.65 for your share. For income tax purposes, your employee's wages each payday are $107.65 ($100 plus the $7.65 that you will pay to cover your employee's share of Social Security and Medicare taxes).</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Federal Unemployment (FUTA) Tax</h3>

  <p>The federal unemployment tax is part of the federal and state program under the Federal Unemployment Tax Act (FUTA) that pays unemployment compensation to workers who lose their jobs. Like most employers, you may owe both the federal unemployment tax (the FUTA tax) and a state unemployment tax. Or, you may owe only the FUTA tax or only the state unemployment tax. To find out whether you will owe state unemployment tax, contact your state's unemployment tax agency. See the list of state unemployment agencies at the end of this Guide for the address.</p>

  <p>The FUTA tax is 6.0% of your employee's FUTA wages. However, you may be able to take a credit of up to 5.4% against the FUTA tax, resulting in a net tax rate of 0.6%. Your credit for 2022 is limited unless you pay all the required contributions for 2022 to your state unemployment fund by April 18, 2022. The credit you can take for any contributions for 2022 that you pay after April 15, 2023, is limited to 90% of the credit that would have been allowable if the contributions were paid by April 15, 2023.</p>

  <blockquote class="warning"><p><b>WARNING:</b> Do not withhold the FUTA tax from your employee's wages. You must pay it from your own funds.</p></blockquote>

  <p></p><p>You figure the FUTA tax on the FUTA wages you pay. If you pay cash wages to all of your household employees totaling $1,000 or more in any calendar quarter of 2021 or 2022, the first $7,000 of cash wages you pay to each household employee in 2022 is FUTA wages. (A calendar quarter is January through March, April through June, July through September, or October through December.) If your employee's cash wages reach $7,000 during the year, do not figure the FUTA tax on any wages you pay that employee during the rest of the year. For a discussion of "cash wages," see the section on Social Security Wages, above.</p><p></p>

  <p>If you pay less than $1,000 cash wages in each calendar quarter of 2022, but you had a household employee in 2021, the cash wages you pay in 2022 may still be FUTA wages. They are FUTA wages if the cash wages you paid to household employees in any calendar quarter of 2021 totaled $1,000 or more.</p>

  <p>Do not count wages you pay to any of the following individuals as FUTA wages:</p>

  <ol>
    <li>Your spouse.</li>
    <li>Your child who is under age 21.</li>
    <li>Your parent.</li>
  </ol>

  <blockquote class="example"><p>You hire a household employee (not related to you) on January 1, 2022, and agree to pay cash wages of $200 every Friday. During January, February, and March, you pay the employee cash wages of $2,600. Because you pay cash wages of $1,000 or more in a calendar quarter of 2022, the first $7,000 of cash wages you pay the employee (or any other employee) in 2022 or 2021 is FUTA wages. The FUTA wages you pay may also be subject to your state's unemployment tax.</p><p>

  </p><p>During 2022, you pay your household employee cash wages of $10,400. You pay all the required contributions for 2022 to your state unemployment fund by April 15, 2023. Your FUTA tax for 2022 is $42 ($7,000 x 0.6%).</p></blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="7"></a>Do You Need to Withhold Federal Income Tax?</h3>

  <p>You are not required to withhold federal income tax from wages you pay a household employee. You should withhold federal income tax only if your household employee asks you to withhold it and you agree. The employee must give you a completed Form W-4, <em>Employee's Withholding Allowance Certificate</em>.</p>

  <p></p><blockquote class="note">Form W-4, Employee's Withholding Certificate, was redesigned in 2020. </blockquote><p></p>

  <p>If you agree to withhold federal income tax, you are responsible for paying it to the IRS.</p>

  <h2>Wages</h2>

  <p>You figure federal income tax withholding on both cash and non-cash wages you pay. Measure wages you pay in any form other than cash by the value of the non-cash item.</p>

  <p>Do not count as wages any of the following items:</p>

  <ul>
    <li>Meals provided at your home for your convenience.</li>
    <li>Lodging provided at your home for your convenience and as a condition of employment.<p></p></li>
    <li>Up to $280 a month in 2022 for bus or train tokens (passes) you give your employee, or for any cash reimbursement you make for the amount your employee pays to commute to your home by public transit.</li>
    <li>Up to $280 a month in 2022 for the value of parking you provide your employee at or near your home or at or near a location from which your employee commutes to your home.</li>
  </ul>

  <h2>Paying Tax without Withholding</h2>

  <p>Any income tax you pay for your employee without withholding it from the employee's wages must be included in the employee's wages for federal income tax purposes. It is also counted as Social Security and Medicare wages and as federal unemployment (FUTA) wages.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>How Do You Handle the Earned Income Tax Credit (EITC)?</h3>

  <p>Certain workers can take the earned income tax credit (EITC) on their federal income tax return. This credit reduces their tax or allows them to receive a payment from the IRS if they do not owe tax. You may have to make advance payments of part of your household employee's EITC along with the employee's wages. You also may have to give your employee a notice about the EITC.</p>

  <h2>Notice about the EITC</h2>

  <p>The employee's copy (Copy B) of IRS 2022 Form W-2, <em>Wage and Tax Statement</em> has a statement about the EITC on the back.</p>

  <blockquote class="tip"><p>If you give your employee that copy by January 31, 2022 (as discussed under Form W-2), you do not have to give the employee any other notice about the EITC.</p></blockquote>

  <p>Otherwise, you must give your household employee a notice about the EITC only if you agree to withhold federal income tax from the employee's wages but the income tax withholding tables show that no tax should be withheld. Even if not required, you are encouraged to give the employee a notice about the EITC if his or her 2022 wages are less than $59,187.</p>

  <p>If you do not give your employee Copy B of the IRS Form W-2, your notice about the EITC can be any of the following:</p>

  <ul>
    <li>A substitute Form W-2 with the same EITC information on the back of the employee's copy that is on Copy C of the IRS Form W-2,</li>
    <li>Notice 797, Possible Federal Tax Refund Due to the Earned Income Credit (EITC), or</li>
    <li>Your own written statement with the same wording as Notice 797.</li>
  </ul>

  <p>If you give your employee a substitute Form W-2 on time which lacks the required EITC information, you must give notice about the 6IC to the employee within one week of the date you gave him or her the substitute Form W-2. If Form W-2 is required, but not given on time, you must give the employee notice about 2022 EITC by January 31, 2022. If Form W-2 is not required, you must give your notice to the employee by February 10, 2022.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>How do You Make Tax Payments?</h3>

  <p>When you file your 2022 federal income tax return in 2023, attach Schedule H, <em>Household Employment Taxes</em>. Use this Schedule, discussed further below, to figure your household employment taxes. You will add the federal employment taxes on the wages you pay to your household employee in 2022, less any advance earned income credit payments you make to the employee, to your income tax. The amount you owe with your return is due to the IRS by April 15, 2023.</p>

  <blockquote class="tip"><p>You can avoid owing tax with your return if you pay enough federal income tax before you file to cover the employment taxes for your household employee, as well as your income tax. If you are employed, you can ask your employer to withhold more federal income tax from your wages in 2022. If you get a pension or annuity, you can ask for more federal income tax withholding from your benefits. Or you can make estimated tax payments for 2022 to the IRS, or increase your payments if you already make them.</p></blockquote>

  <h2>Asking for More Federal Income Tax Withholding</h2>

  <p>If you are employed and want more federal income tax withheld from your wages to cover the employment taxes for your household employee, give your employer a new Form W-4, <em>Employee's Withholding Allowance Certificate</em>. </p>

  <p>If you get a pension or annuity and want more federal income tax withheld to cover the employment taxes for your household employee, give the payer a new Form W-4P, <em>Withholding Certificate for Pension or Annuity Payments</em> (or a similar form provided by the payer).</p>

  <h2>Paying Estimated Tax</h2>

  <p>If you want to make estimated tax payments to cover the employment taxes for your household employee, get Form 1040-ES, <em>Estimated Tax for Individuals</em>. Use its payment vouchers to make your payments. You can pay all of the employment taxes at once or in installments. If you have already made estimated tax payments for 2022, you can increase your remaining payments to cover the employment taxes. Estimated tax payments for 2022 are due April 18, June 15, September 15, 2022, and January 16, 2023.</p>

  <h2>Payment Option for Business Employers</h2>

  <p>If you own a business as a sole proprietor or your home is on a farm operated for profit, you can choose either of two ways to pay the 2022 federal employment taxes for your household employee. You can pay them with your federal income tax as described above, or you can include them with your federal employment tax deposits or other payments for your business or farm employees.</p>

  <p>If you pay the employment taxes for your household employee with business or farm employment taxes, you must report them with those taxes on Form 941 or Form 943 and on Form 940 (or 940-EZ).</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="10"></a>What Forms Must You File?</h3>

  <p>You must file certain forms to report your household employee's wages and the federal employment taxes for the employee if you pay the employee:</p>

  <ol>
    <li>Social Security and Medicare wages,</li>
    <li>FUTA wages, or</li>
    <li>Wages from which you withhold federal income tax.</li>
  </ol>

  <p>The employment tax forms and instructions you need for 2022 will be sent to you automatically in January 2023 if you reported employment taxes for 2022 on Schedule H (Form 1040), <em>Household Employment Taxes</em>.</p>

  <h2>Employer Identification Number (EIN)</h2>

  <p>You must include your employer identification number (EIN) on the forms you file for your household employee. An EIN is a 9-digit number issued by the IRS and is not the same as a Social Security number.</p>

  <blockquote class="tip"><p>You ordinarily will have an EIN if you previously paid taxes for employees, either as a household employer or in a business you own as a sole proprietor, or if you have a Keogh Plan. If you already have an EIN, use that number. If you do not have an EIN, get Form SS-4, <em>Application for Employer Identification Number</em>. The instructions for Form SS-4 explain how you can get an EIN immediately by telephone or in about four weeks if you apply by mail.</p></blockquote>

  <h2>Form W-2</h2>

  <p>A separate 2022 Form W-2, <em>Wage and Tax Statement</em>, must be filed for each household employee to whom you pay:</p>

  <ul>
    <li>Social Security and Medicare wages of $2,400 or more, or</li>
    <li>Wages from which you withhold federal income tax.</li>
  </ul>


  <p>You must complete Form W-2 and give Copies B, C, and 2 to your employee by January 31, 2022, You must send Copy A of Form W-2 with Form W-3, <em>Transmittal of Wage and Tax Statements</em>, to the Social Security Administration by January 31, 2022.</p>

  <h2>Schedule H</h2>

  <p>Use Schedule H (Form 1040), <em>Household Employment Taxes</em>, to report the federal employment taxes for your household employee if you pay the employee:</p>

  <ol>
    <li>Social Security and Medicare wages of $2,400 or more in 2022,</li>
    <li>FUTA wages, or</li>
    <li>Wages from which you withhold federal income tax.</li>
  </ol>

  <p>File Schedule H with your 2022 federal income tax return by April 15, 2023. If you get an extension to file your return, the extension will also apply to your Schedule H.</p>

  <p>If you are not required to file a 2022 tax return, you must file Schedule H by itself. See the Schedule H instructions for details.</p>

  <h2>Business Employment Tax Returns</h2>

  <p>Do not use Schedule H (Form 1040) if you choose to pay the employment taxes for your household employee with business or farm employment taxes. Instead, include the Social Security, Medicare, and withheld federal income taxes for the employee on the Forms 941, <em>Employer's Quarterly Federal Tax Return</em>, that you file for your business or on Form 943, <em>Employer's Annual Tax Return for Agricultural Employees</em>, that you file for your farm. Include the FUTA tax for the employee on your Form 940 (or 940-EZ), <em>Employer's Annual Federal Unemployment (FUTA) Tax Return</em>.</p>

  <p>If you report the employment taxes for your household employee on Form 941 or Form 943, file Form W-2 for the employee with the Forms W-2 and Form W-3 for your business or farm employees.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="11"></a>What Records Must You Keep?</h3>

  <p>Keep your copies of Schedule H or other employment tax forms you file and related Forms W-2, W-3, W-4, and W-5. You must also keep records to support the information you enter on the forms you file. If you are required to file Form W-2, you will need to keep a record of your employee's name, address, and Social Security number.</p>

  <h2>Wage and Tax Records</h2>

  <p>On each payday you should record the date and amounts of:</p>

  <ul>
    <li>Your employee's cash and non-cash wages,</li>
    <li>Any employee Social Security tax you withhold or agree to pay for your employee,</li>
    <li>Any employee Medicare tax you withhold or agree to pay for your employee,</li>
    <li>Any federal income tax you withhold,</li>
    <li>Any advance EITC payments you make, and</li>
    <li>Any state employment taxes you withhold.</li>
  </ul>

  <h2>Employee's Social Security Number</h2>

  <p>You must keep a record of your employee's name and Social Security number exactly as they appear on his or her Social Security card if you pay the employee:</p>

  <ul>
    <li>Social Security and Medicare wages, or</li>
    <li>Wages from which you withhold federal income tax.</li>
  </ul>

  <p>You must ask for your employee's Social Security number no later than the first day on which you pay the wages. You may wish to ask for it when you hire your employee.</p>

  <p>An employee who does not have a Social Security number must apply for one on Form SS-5, <em>Application for a Social Security Card</em>. An employee who has lost his or her Social Security card or whose name is not correctly shown on the card should apply for a new card. Employees may get Form SS-5 from any Social Security Administration office or by calling l-800-772-1213.</p>

  <h2>How Long To Keep Records</h2>

  <p>Keep your employment tax records for at least four years after the due date of the return on which you report the taxes or the date the taxes were paid, whichever is later.</p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="12"></a>State Unemployment Tax Agencies</h3>

  <p><b>Alabama</b><br>
  Unemployment Office<br>
  649 Monroe St.<br>
  Montgomery, AL 36131<br>
  (866) 234-5382</p>

  <p><b>Alaska</b><br>
  Employment Security Tax <br>
  Department of Labor and Workforce Development <br>
  PO Box 115509<br>
  Juneau, AK 99811-5509<br>
  (888) 448-3527</p>

  <p><b>Arizona</b><br>
  Department of Economic Security<br>
  Unemployment Insurance Tax<br>
  PO Box 6028<br>
  Phoenix, AZ 85005-6028<br>
  (602) 542-5954</p>

  <p><b>Arkansas</b><br>
  Department of Workforce Services<br>
  PO Box 2981<br>
  Little Rock, AR 72203-2981<br>
  (501) 682-2121<br>
  (855) 225-4440</p>

  <p><b>California</b><br>
  Employment Development Department<br>
  P.O. Box 826880 - UIPCD, MIC 40<br>
  Sacramento, CA 94280-0001<br>
  (888) 745-3886</p>

  <p><b>Colorado</b><br>
  Unemployment Insurance Operations<br>
  Department of Labor and Employment <br>
  PO Box 8789<br>
  Denver, CO 80201-8789<br>
  (800) 480-8299</p>

  <p><b>Connecticut</b><br>
  Connecticut Department of Labor<br>
  200 Folly Brook Blvd.<br>
  Wethersfield, CT 06109-1114<br>
  (860) 263-6550</p>

  <p><b>Delaware</b><br>
  Division of Unemployment Insurance <br>
  Department of Labor <br>
  4425 North Market Street<br>
  Wilmington, DE 19802<br>
  (302) 761-8446</p>

  <p><b>District of Columbia</b><br>
  Department of Employment Services<br>
  Office of Unemployment Compensation Tax Division <br>
  4058 Minnesota Ave NE Floor 4<br>
  Washington, DC 20019<br>
  (202) 698-4817</p>

  <p><b>Florida</b><br>
  Unemployment Compensation Services<br>
  Agency for Workforce Innovation<br>
  107 E. Madison Street<br>
  Caldwell Building<br>
  Tallahassee, FL 32399-4120<br>
  (850) 245-7105</p>

  <p><b>Georgia</b><br>
  Department of Labor<br>
  148 Andrew Young International Blvd.<br>
  Atlanta, GA 30303<br>
  (404) 232-3301 (direct line for employer tax liability)</p>

  <p><b>Hawaii</b><br>
  Department of Labor and Industrial Relations<br>
  830 Punchbowl Street, Rm. 437<br>
  Honolulu, HI 96813<br>
  (808) 586-8915</p>

  <p><b>Idaho</b><br>
  Department of Employment<br>
  317 Main Street<br>
  Boise, ID 83735<br>
  (800) 448-2977</p>

  <p><b>Illinois</b><br>
  Department of Employment Security<br>
  33 South State Street<br>
  Chicago, IL 60603<br>
  (800) 247-4984</p>

  <p><b>Indiana</b><br>
  Department of Workforce Development<br>
  10 North Senate Avenue<br>
  Indiana Government Center South<br>
  Indianapolis, IN 46204<br>
  (800) 437-9136</p>

  <p><b>Iowa</b><br>
  Workforce Development<br>
  1000 East Grand Avenue<br>
  Des Moines, IA 50319-0209<br>
  (515) 281-5387 (Des Moines)<br>
  (888) 848-7442</p>

  <p><b>Kansas</b><br>
  Department of Labor<br>
  401 SW Topeka Blvd.<br>
  Topeka, KS 66603-3182<br>
  (785) 296-5027</p>

  <p><b>Kentucky</b><br>
  Division for Employment Services<br>
  275 East Main Street<br>
  Frankfort, KY 40602<br>
  (502) 564-2272</p>

  <p><b>Louisiana</b><br>
  Louisiana Workforce Commission<br>
  1001 North 23rd Street<br>
  PO Box 94094<br>
  Baton Rouge, LA 70804-9094<br>
  (225) 342-3111</p>

  <p><b>Maine</b><br>
  Department of Labor<br>
  54 State House Station<br>
  Augusta, ME 04333<br>
  (207) 621-5120</p>

  <p><b>Maryland</b><br>
  Department of Labor, Licensing &amp; Regulation<br>
  Division of Labor and Industry<br>
  1100 North Eutaw Street, Room 600<br>
  Baltimore, MD 21201<br>
  (410) 767-2241</p>

  <p><b>Massachusetts</b><br>
  Division of Employment and Training<br>
  Charles F. Hurley Building<br>
  19 Staniford Street<br>
  Boston, MA 02114<br>
  (617) 626-6560</p>

  <p><b>Michigan</b><br>
  Unemployment Insurance Agency <br>
  3024 W. Grand Boulevard<br>
  Detroit, MI 48202-6024<br>
  (855) 484-2636</p>

  <p><b>Minnesota</b><br>
  Department of Employment &amp; Economic Development<br>
  332 Minnesota Street<br>
  Suite E200 <br>
  St. Paul, MN 55101-1351<br>
  (651) 296-6141</p>

  <p><b>Mississippi</b><br>
  Department of Employment Security<br>
  1235 Echelon Pkwy<br>
  Jackson, MS 39213<br>
  (601) 321-6000</p>

  <p><b>Missouri</b><br>
  Division of Employment Security<br>
  421 E Dunklin Street<br>
  Jefferson City, MO 65101<br>
  (573) 751-3215</p>

  <p><b>Montana</b><br>
  Unemployment Insurance Bureau<br>
  1327 Lockey Avenue<br>
  Helena, MT 59601<br>
  (406) 444-3834</p>

  <p><b>Nebraska</b><br>
  Department of Labor<br>
  550 South 16th <br>
  PO Box 94600<br>
  Lincoln, NE 68509-4600<br>
  (402) 471-9940</p>

  <p><b>Nevada</b><br>
  Department of Employment Training and Rehabilitation<br>
  Employment Security Division<br>
  500 East Third Street<br>
  Carson City, NV 89713-0030<br>
  (775) 486-6310</p>

  <p><b>New Hampshire</b><br>
  Department of Employment Security<br>
  45 South Fruit Street<br>
  Concord, NH 03301<br>
  (603) 228-4100</p>

  <p><b>New Jersey</b><br>
  Department of Labor &amp; Workforce Development<br>
  P.O. Box 110<br>
  Trenton, NJ 08625-0110<br>
  (609) 292-2810</p>

  <p><b>New Mexico</b><br>
  Department of Workforce Solutions<br>
  401 Broadway NE<br>
  Albuquerque, NM 87102<br>
  (877) 664-6984</p>

  <p><b>New York</b><br>
  Department of Labor<br>
  WA Harriman State Office Campus<br>
  Building 12, Room 356<br>
  Liability and Determination Section<br>
  Albany, NY 12240<br>
  (888) 899-881</p>

  <p><b>North Carolina</b><br>
  Department of Commerce<br>
  Employment Security Commission<br>
  301 North Wilmington Street<br>
  Raleigh, North Carolina 27601-1058<br>
  (919) 814-4600</p>

  <p><b>North Dakota</b><br>
  Job Service North Dakota<br>
  PO Box 5507<br>
  Bismarck, ND 58506-5507<br>
  (701) 328-2814</p>

  <p><b>Ohio</b><br>
  Department of Job &amp; Family Services<br>
  PO Box 182404<br>
  Columbus, OH 43218-2404<br>
  (877) 644-6562</p>

  <p><b>Oklahoma</b><br>
  Employment Security Commission<br>
  2401 N Lincoln Blvd<br>
  Oklahoma City, OK 73105<br>
  (405) 557-7100</p>

  <p><b>Oregon</b><br>
  Employment Department<br>
  875 Union Street, NE<br>
  Salem, OR 97311<br>
  (503) 947-1394</p>

  <p><b>Pennsylvania</b><br>
  Department of Labor and Industry<br>
  7th and Forster Street<br>
  Harrisburg, PA 17120<br>
  (866) 403-6163</p>

  <p><b>Puerto Rico</b><br>
  Department of Labor and Human Resources<br>
  PO Box 1020<br>
  San Juan, PR 00919-1020<br>
  (787) 754-5353</p>

  <p><b>Rhode Island</b><br>
  Division of Taxation<br>
  One Capitol Hill<br>
  Providence, RI 02908<br>
  (401) 574-8700</p>

  <p><b>South Carolina</b><br>
  Employment Security Commission<br>
  PO Box 995<br>
  Columbia, SC 29202-0995<br>
  (803) 737-2400</p>

  <p><b>South Dakota</b><br>
  Department of Labor &amp; Regulation<br>
  123 W. Missouri Avenue<br>
  Pierre, SD 57501-0405<br>
  (605) 626-2312</p>

  <p><b>Tennessee</b><br>
  Department of Labor and Workforce Development<br>
  220 French Landing Drive<br>
  Nashville, TN 37243<br>
  (844) 224-5818</p>

  <p><b>Texas</b><br>
  Texas Workforce Commission<br>
  101 E 15th St, Rm 122<br>
  Austin, TX 78778-0001<br>
  (512) 463-2699</p>

  <p><b>Utah</b><br>
  Department of Workforce Services<br>
  PO Box 45249<br>
  140 East 300 South<br>
  Salt Lake City, UT 84145-0249<br>
  (801) 526-9235</p>

  <p><b>Vermont</b><br>
  Department of Labor<br>
  PO Box 488<br>
  5 Green Mountain Drive<br>
  Montpelier, VT 05601-0488<br>
  (802) 828-4000</p>

  <p><b>Virgin Islands</b><br>
  Department of Labor<br>
  2353 Kronprindsens Gade<br>
  Charlotte Amalie, St. Thomas, VI 00802<br>
  (340) 776-3700</p>

  <p><b>Virginia</b><br>
  Employment Commission<br>
  PO Box 1358<br>
  703 E. Main Street<br>
  Richmond, VA 23219<br>
  (866) 832-2363</p>

  <p><b>Washington</b><br>
  Employment Security Department<br>
  PO Box 9046<br>
  212 Maple Park Ave SE<br>
  Olympia, WA 98507<br>
  (360) 902-9500</p>

  <p><b>West Virginia</b><br>
  Workforce West Virginia<br>
  PO Box 2753<br>
  1321 Plaza East Shopping Center<br>
  Charleston, WV 25330<br>
  (304) 558-0291</p>

  <p><b>Wisconsin</b><br>
  Department of Workforce Development<br>
  PO Box 7946<br>
  Madison, WI 53707-7946<br>
  (608) 266-3131</p>

  <p><b>Wyoming</b><br>
  Unemployment Tax Division<br>
  PO Box 2760<br>
  100 West Midwest<br>
  Casper, WY 82602-2760<br>
  (307) 235-3264</p>


  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="13"></a>Household Employers Checklist</h3>

  <p>You may need to do the following things when you have a household employee: When you hire a household employee:</p>

        <ul>
          <li>Find out if the person can legally work in the United States.</li>
          <li>Find out if you need to pay state taxes.</li>
        </ul>

  <p>When you pay your household employee:</p>

        <ul>
          <li>Withhold Social Security and Medicare taxes.</li>
          <li>Withhold federal income tax.</li>
          <li>Make advance payments of the earned income credit.</li>
          <li>Decide how you will make tax payments.</li>
          <li>Keep records.</li>
        </ul>

  <h2>By January 31, 2022:</h2>

        <ul>
          <li>Get an employer identification number, if needed.</li>
          <li>Give your employee Copies B, C, and 2 of Form W-2, <em>Wage and Tax Statement</em>.</li>
        </ul>

  <h2>By January 31, 2022:</h2>

        <ul>
          <li>Send Copy A of Form W-2 to the Social Security Administration.</li>
        </ul>

  <h2>By April 18, 2022:</h2>

        <ul>
          <li>File Schedule H (Form 1040), <em>Household Employment Taxes</em>, with your tax return.</li>
        </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  </div>
