.flex-item {
  text-align: center;
  align-items: center;
  flex: 1 1 auto;
}

.header-bar {
  background-color: rgb(255, 255, 255);
}

.offcanvas-header {
  padding: .5rem;
}

.offcanvas-body {
  padding: 0rem;
}
