.flex-container {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
}

.flex-item {
  text-align: center;
  align-items: center;
  flex: 1 1 auto;
}

.toolbar-2 {
  background-color: rgb(255, 255, 255);
}
