<div *ngIf="desktopScreen; else mobileScreen">
  <mat-toolbar>
    <mat-toolbar-row class="flex-container-1">
      <div>
        <button mat-raised-button>Login</button>
        <button mat-raised-button>Subscribe</button>
      </div>
      <h3 class="contact">Call Us (987) 654 4321</h3>
    </mat-toolbar-row>
    <mat-toolbar-row class="flex-container-1 header-bar">
      <h1>Company Name</h1>
      <div>
        <app-nav-list></app-nav-list>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<ng-template #mobileScreen>
  <mat-toolbar>
    <mat-toolbar-row class="flex-container-2">
      <mat-icon class="flex-item">lock</mat-icon>
      <mat-icon class="flex-item">wifi</mat-icon>
      <mat-icon class="flex-item">email</mat-icon>
      <mat-icon class="flex-item">call</mat-icon>
      <mat-icon class="flex-item" (click)="toggleDrawer.emit()">menu</mat-icon>
    </mat-toolbar-row>

    <mat-toolbar-row class="header-bar">
      <h1>Company Name</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>

