<nav>
  <div
    class="offcanvas offcanvas-start d-lg-none"
    style="width: 300px"
    data-bs-scroll="true"
    data-bs-backdrop="true"
    tabindex="-1"
    id="offcanvasStart"
    aria-labelledby="offcanvasStartLabel"
    *ngIf="navigationList$ | async as navigationList"
  >
    <div class="offcanvas-header">
      <h5 id="offcanvasStartLabel">Menu</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
    <div class="offcanvas-body">
      <app-side-nav [navigationList]="navigationList"></app-side-nav>
    </div>
  </div>
  <mat-toolbar>
    <mat-toolbar-row class="d-sm-inline-flex flex-row d-lg-none p-0">
      <mat-icon class="flex-item">lock</mat-icon>
      <mat-icon class="flex-item">wifi</mat-icon>
      <mat-icon class="flex-item">email</mat-icon>
      <mat-icon class="flex-item">call</mat-icon>
      <button mat-button data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="d-none d-lg-flex justify-content-lg-between">
      <div>
        <button mat-raised-button (click)="openLoginDialog()">Login</button>
        <button mat-raised-button (click)="openSubscribeDialog()">
          Subscribe
        </button>
      </div>
      <h3>
        <a href="tel:(800) 896-4500" class="strong lead"
          >Call Us (987) 654 4321</a
        >
      </h3>
    </mat-toolbar-row>
    <mat-toolbar-row
      class="d-flex justify-content-center justify-content-lg-between header-bar"
    >
      <h1>Company Name</h1>
      <div class="d-none d-lg-block"  *ngIf="navigationList$ | async as navigationList">
        <app-nav-list [navigationList]="navigationList"></app-nav-list>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
