<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">When should I use a rollover to my IRA?</a></li>
      <li><a href="#2">Is there a downside to an IRA rollover?</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>When should I use a rollover to my IRA?
    </h3>

    <p>
      That depends on your particular needs and circumstances. Here are some
      reasons you might want to roll over distributions to your IRA:
    </p>

    <ol>
      <li>
        <p>
          You want to, or have to, take a distribution from your employer's plan
          and want these funds to continue to grow tax-free in your own IRA.
        </p>
      </li>
      <li>
        <p>
          As a self-employed individual, you are terminating your Keogh plan or
          retiring from business and want to continue the tax shelter for these
          distributions.
        </p>
      </li>
      <li>
        You are the beneficiary of a deceased person's retirement plan and want
        to continue the tax shelter for these distributions in your own IRA.
      </li>
    </ol>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>Is there a downside to an IRA rollover?
    </h3>

    <p>Here are some of the disadvantages of an IRA rollover:</p>

    <ol>
      <li>
        <p>
          Rollovers from company or Keogh plans may take away your spouse's
          right to share in plan assets.
        </p>
      </li>
      <li>
        <p>
          IRAs can't claim the limited tax relief allowed on lump-sum
          distributions.
        </p>
      </li>
    </ol>

    <blockquote class="tip">
      To avoid tax hassles, rollovers should be done between the trustees of the
      plans involved. In other words, the check should not be made out to you
      personally, but to the trustee of the rollover account.
      <p></p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
