<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">How much will it cost me to raise a child?</a></li>
      <li><a href="#2">What costs can I expect during the first year?</a></li>
      <li>
        <a href="#3"
          >How much will I spend on my child during ages one through six?</a
        >
      </li>
      <li>
        <a href="#4"
          >How much will I spend on my child during ages six through twelve?</a
        >
      </li>
      <li>
        <a href="#5"
          >How much will I spend on my child during ages thirteen through
          eighteen?</a
        >
      </li>
      <li><a href="#6">How can I teach my kids good financial skills?</a></li>
    </ul>
  </div>
  <!-- toc -->
  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How much will it cost me to raise a child?
    </h3>
    <p>
      We can't tell you exactly what your child will cost, but we can provide
      you with estimates. Knowing what to expect will allow you to plan for the
      future. Here is a breakdown of the items you'll need, and an estimate of
      their costs.
    </p>

    <blockquote class="note">
      <p>
        These estimates are for a first child. Bear in mind that second or third
        children will cost less than the first since you will already have
        purchased many of the items you need. Typically parents with 3 or more
        children spend 22 percent less per child than those with just two
        children.
      </p>
    </blockquote>

    <p>
      Government estimates say that a middle-income family in 2015, defined as
      having an annual income between $59,350 and $107,400, will spend a total
      of $233,610 to raise a child to age 17. This figure represents a 3.0
      percent increase from the four-year period 2010-2014 to the four-year
      period 2011 to 2015 and does not include expenses incurred beyond the age
      of 18. If you include the cost of college, whether public or private, that
      cost goes up significantly. And, families that earn more generally can
      expect to spend more on their children.
    </p>

    <p>
      According to the USDA report,
      <em>Expenditures on Children by Families, 2015</em>, annual child-rearing
      expenses per child for a middle-income, two-parent family ranged from
      $12,350 to $13,900. The age of the child accounted for the annual
      variations. For example, child care expenses are greater in the first 6
      years of a child's life, but transportation costs are likely to be higher
      when a child hits her teen years.
    </p>
    <p>
      About 30 percent of the amount spent in the government estimates goes to
      cover housing expenses relating to the new member of your household. Child
      care and education expenses account for the second highest percent. Other
      costs taken into account include transportation, food, clothing, health
      care, and miscellaneous expenses.
    </p>

    <p>
      Married-couple families in the urban Northeast had the highest
      child-rearing expenses, followed by similar families in the urban West and
      urban South. Married-couple families in the urban Midwest and rural areas
      had the lowest child-rearing expenses.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
    <h3 class="cellcolor">
      <a name="2"></a>What costs can I expect during the first year?
    </h3>

    <p>
      Here are the costs you can expect up to birth and during the first year.
    </p>

    <ul>
      <li>
        <p>
          <strong>Hospital Costs.</strong> According to 2015 report by the
          <a href="http://www.ifhp.com"
            ><em>International Federation of Health Plans</em></a
          >, an uneventful hospital delivery in the United States costs, on
          average $10,808 and $16,106 for a cesarean section birth. The actual
          costs you pay, of course, vary depending on your health care coverage.
        </p>
      </li>

      <li>
        <p>
          <strong>Layette.</strong> Before you bring the baby home, you'll buy a
          crib, a changing table, and a swing or bouncy seat. The moderately
          priced versions of these three things will cost you about $1,200.
          You'll also need at least one stroller that you can expect to pay
          about $400 for. A full-size infant car seat will cost you about
          $150-$200, and a full-size high chair will cost $150. Finally, you
          will spend several hundred dollars on washcloths, sheets, blankets,
          towels, undershirts, onesies, and other baby clothes. Also, think
          about whether you plan to use a diaper service, cloth diapers, or use
          disposable ones.
        </p>
      </li>

      <li>
        <p>
          <strong>Feeding.</strong> The American Academy of Pediatrics
          recommends exclusively breastfeeding your baby for at least 6 months.
          Many women, of course, choose to breastfeed longer than that. Nursing
          mothers will have to invest in several good nursing bras and nursing
          pads (about $50) as well as a nursing pillow (about $25). If you plant
          to return to work after 3 months, consider investing in a hospital
          grade breast pump, which will run you about $400.
        </p>

        <p>
          In comparison, a year's worth of ready-mix powder formula costs about
          $1,350. If you buy the ready-to-serve type of formula, the cost is,
          even more, running well over $2,000. You'll also need a year's supply
          of bottles, at about $90, and you'll have to add another $40 to
          replace the nipples at least twice in a year.
        </p>

        <p>
          When your baby is ready for solid foods, you will also need to account
          for the cost of rice cereal and baby food.
        </p>
      </li>

      <li>
        <p>
          <strong>Diapers and Gear.</strong> Diapers are another expense you
          need to consider. Cloth diapers are the least expensive option.
          Disposable diaper costs for the first year run about $850, and a
          diaper genie costs about $40.
        </p>
      </li>

      <li>
        <p>
          <strong>Child Care.</strong> Child care in a day care center costs
          much less than a live-in nanny. A mid-priced day care center charges
          on average $975 per month for your infant's care, or close to $12,000
          per year.
        </p>
      </li>

      <li>
        <p>
          <strong>Health Care.</strong> Your infant will visit the doctor about
          six times during his or her first year, including well-baby check-ups
          as well as the inevitable colds and fevers of infancy. How much you
          will spend for doctor visits during the first year depends on your
          health insurance.
        </p>
      </li>

      <li>
        <p>
          <strong>Toys and Clothes.</strong> You'll spend about $500 on toys and
          clothing during the first year.
        </p>
      </li>

      <li>
        <strong>Total for the First Year.</strong> Your total expenses for the
        first year run about $15,000-$18,000. The biggest variable is the cost
        of health care.
      </li>
    </ul>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>How much will I spend on my child during ages one through
      six?
    </h3>

    <p>
      During these years, you'll spend about $1,000 on toys and clothes, and
      about $2,200 a year on food. If your child attends daycare or pre-school,
      add in the cost of these services. Daycare will cost you an average of
      $12,000 per year, while pre-school costs vary widely. Again, health care
      costs depend on your health coverage.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>How much will I spend on my child during ages six through
      twelve?
    </h3>

    <p>
      This is the time when the overall expenses of child-rearing drop and
      families can save more. During these years, your child care expenses will
      drop drastically. Health care costs generally stabilize unless of course,
      your child begins orthodontia during this stage. Then, you'll have to pay
      more.
    </p>

    <p>
      You are likely to spend more than in the previous stage on clothing, toys,
      and entertainment, but your kids won't be demanding the high-ticket
      clothing and other items of adolescence. The bill for food will be just
      slightly more than what it was in the previous stage.
    </p>

    <p>
      On the negative side, now that your kids are in school, you'll want to pay
      for all those extras that middle-class kids have: dancing and music
      lessons, sports participation, and so on. And, if you decide to send your
      kids to private school or to summer camp, these expenses will have to be
      added in.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>How much will I spend on my child during ages thirteen
      through eighteen?
    </h3>

    <p>
      During this stage, you can expect your child's food, clothing, and
      entertainment bill to greatly exceed what it was during the previous
      stage. For instance, food costs will increase as a result of growth spurts
      in your adolescent and clothing costs are likely to rise as well as your
      teen takes more of an interest in his or her appearance.
    </p>

    <p>
      Once your teen starts driving, your auto insurance will go up. The extra
      cost could be anywhere from $300 to $1,000, depending on your state of
      residence and whether your child is a boy or girl. If you intend to buy
      your child a car, add this expense in as well.
    </p>
    <h3 class="cellcolor">
      <a name="6"></a>How can I teach my kids good financial skills?
    </h3>

    <p>
      Once they reach school age, children should start learning rudimentary
      financial skills.
    </p>

    <p>You might start to teach your kids in the following areas:</p>

    <p>
      <strong>The Allowance.</strong> Giving your child an allowance is a good
      start. Whether you pay your child a quarter or one dollar to perform
      weekly household chores, you are instilling a work ethic and a giving them
      an opportunity to learn how to save and spend their money wisely. You can
      make suggestions to them about what they should do with it, but allow them
      the final say on what happens to the money. Let them see the consequences
      of both wise and foolish behavior with regard to money. A child who spends
      all of his money on the first day of the week is more likely to learn to
      budget if he is not provided with extras to tide him over.
    </p>

    <p>
      <strong>Savings and Investment.</strong> Beyond the basics of budgeting
      and saving, you'll want to get your child involved in saving and
      investing. The easiest way to do this is to have the child open his or her
      own savings account. If you want your child to become familiar with
      investing, there are a number of child-friendly mutual funds and
      individual stocks available.
    </p>
    <p>
      <strong>Taxes.</strong> Many teens today have part-time jobs. Although
      they might not make enough to need to file a tax return, encouraging them
      to fill out a practice tax form is a good way to have them participate in
      the process--and get them used to the idea of submitting yearly tax forms.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
