<app-heading heading="Tax Rates"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <table
        width="550"
        cellspacing="0"
        cellpadding="4"
        class="table table-striped"
      >
        <tbody>
          <tr>
            <td width="15%" height="21" colspan="2">
              <table width="100%">
                <tbody>
                  <tr>
                    <td>
                      <p class="taxratetable">
                        <b>2022 Tax Rates</b><b> - Single Taxpayers - </b>Standard Deduction $12,950
                      </p>
                    </td>
                    <td>
                       <a>2021 Rates</a
                      >
                      <!-- <a
                        onclick="NewWindow(this.href,'name','600','600','yes');return false;"
                        href="https://www.cpasitesolutions.com/content/articles/2021taxrates.html"
                        >2021 Rates</a
                      > -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">10%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">0 to $10,275</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">12%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$10,275 to $41,775</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">22%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$41,775 to $89,075</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">24%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$89,075 to $170,050</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">32%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$170,050 to $215,950</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">35%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$215,950 to $539,900</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">37%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">Over $539,900</p>
            </td>
          </tr>
          <tr>
            <td height="28" colspan="2">
              <p class="taxratetable">
               <b>2022 Tax Rates</b><b> - Married Jointly &amp; Surviving Spouses - </b>Standard
                Deduction $25,900
              </p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">10%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">0 to $20,550</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">12%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$20,550 to $83,550</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">22%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$83,550 to $178,150</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">24%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$178,150 to $340,100</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">32%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$340,100 to $431,900</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">35%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$431,900 to $647,850</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">37%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">Over $647,850</p>
            </td>
          </tr>
          <tr>
            <td height="21" colspan="2">
              <p class="taxratetable">
                <b>2022 Tax Rates</b><b> - Married Filing Separately - </b>Standard Deduction
                $12,950
              </p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">10%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">0 to $10,275</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">12%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$10,275 to $41,775</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">22%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$41,775 to $89,075</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">24%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$89,075 to $170,050</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">32%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$170,050 to $215,950</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">35%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$215,950 to $323,925</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">37%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">Over $323,925</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21" colspan="2">
              <p class="taxratetable">
                <b>2022 Tax Rates</b><b> - Head of Household - </b>Standard Deduction $19,400
              </p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">10%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">0 to $14,650</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">12%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$14,650 to $55,900</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">22%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$55,900 to $89,050</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">24%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$89,050 to $170,050</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">32%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$170,050 to $215,950</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">35%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$215,950 to $539,900</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">37%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">Over $539,900</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21" colspan="2">
              <p class="taxratetable">
                <b>2022 Tax Rates</b><b> - Estates &amp; Trusts</b>
              </p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">10%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">0 to $2,750</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">24%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$2,750 to $9,850</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">35%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">$9,850 to $13,450</p>
            </td>
          </tr>
          <tr>
            <td width="15%" height="21"><p class="taxratetable">37%</p></td>
            <td width="30%" height="21">
              <p class="taxratetable">Over $13,450</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-lg-4 d-md-flex flex-column d-none" id="image-container">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button class="mx-auto" mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
