<br />
This section is dedicated to another major life event. Within you will find a series of articles chosen to bequeath you with the knowledge necessary to make the best decisions you can when buying or selling a home.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/estate-planning-fg']"
          routerLinkActive="router-link-active"
          ><b>Estate Planning: How To Get Started</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/postmortem-letter-fg']"
          routerLinkActive="router-link-active"
          ><b
            >Postmortem Letter: How To Prepare It and What To Include</b
          ></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/retirement-distribution-fg-when'
          ]"
          routerLinkActive="router-link-active"
          ><b>Retirement Plan Distributions: When To Take Them</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/retirement-distribution-fg-how'
          ]"
          routerLinkActive="router-link-active"
          ><b>Retirement Plan Distributions: How To Take Them</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/roth-iras-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Roth IRAs: How They Work and How To Use Them</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/living-trust-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Living Trusts: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/wills-faq']"
          routerLinkActive="router-link-active"
          ><b>Wills: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/estate-taxes-faq']"
          routerLinkActive="router-link-active"
          ><b>Your Estate and Taxes: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>What Is My Potential Estate Tax Liability?</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
