<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources">Resources</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/resources/guides">Guides</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/resources/guides/investment-strategies"
        >Investment Strategies</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Investment Strategies"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <br />Why leave your money sitting in a bank account earning for other
      people when you can put it to work for yourself? This section is dedicated
      to tested and proven investment strategies and concepts.<br /><br />
      <h2>Financial Guides</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
                src="../../../../../assets/images/icon-fg.png"
                valign="bottom"
                alt="Financial Guides"
                heigh="44"
                widht="55"
              />
            </td>
            <td style="padding-left: 40px">
              <a><b>Investment Basics: What You Should Know</b></a
              ><br /><a
                ><b>Asset Allocation: How To Diversify For Maximum Return</b></a
              ><br /><a
                ><b
                  >Buying On Margin: How It Works and What To Watch Out For</b
                ></a
              ><br /><a><b>Financial Planning Checklist</b></a
              ><br /><a><b>Investment Clubs: What You Need To Know</b></a
              ><br /><a><b>Swap Tactic Lets You Defer Capital Gains Tax</b></a
              ><br /><a><b>Changing Jobs? Don't Forget Your 401(k)</b></a
              ><br /><a
                ><b
                  >How Brokers Execute Trades: What Every Investor Should
                  Know</b
                ></a
              ><br /><a
                ><b>Investing In Mutual Funds: The Time-Tested Guidelines</b></a
              ><br /><a><b>Mutual Fund Taxation: How To Cut The Tax Bite</b></a
              ><br /><a
                ><b
                  >Penny Stocks: How To Investigate Them and Avoid the Traps</b
                ></a
              ><br /><a
                ><b>Annuities: How They Work and When You Should Use Them</b></a
              ><br /><a><b>10 Retirement Saving Tips</b></a
              ><br /><a><b>Your Retirement Plan: How To Get Started</b></a
              ><br /><a><b>Roth IRAs: How They Work and How To Use Them</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2>Frequently Asked Questions</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
              src="../../../../../assets/images/icon-faq.png"
                valign="bottom"
                alt="Frequently Asked Questions"
                heigh="44"
                widht="55"
              />
            </td>
            <td style="padding-left: 40px">
              <a><b>Investment Options: Frequently Asked Questions</b></a
              ><br /><a><b>Mutual Funds: Frequently Asked Questions</b></a
              ><br /><a><b>Stocks: Frequently Asked Questions</b></a
              ><br /><a><b>Bonds: Frequently Asked Questions</b></a
              ><br /><a><b>Annuities: Frequently Asked Questions</b></a
              ><br /><a><b>Retirement Assets: Frequently Asked Questions</b></a
              ><br /><a
                ><b
                  >Developing a Financial Plan: Frequently Asked Questions</b
                ></a
              ><br /><a><b>IRAs: Frequently Asked Questions</b></a
              ><br /><a
                ><b>Traditional vs Roth IRAs: Frequently Asked Questions</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2>Financial Calculators</h2>

      <table width="100%">
        <tbody>
          <tr>
            <td style="padding-top: 8px" width="55">
              <img
              src="../../../../../assets/images/icon-calculators.png"
                valign="bottom"
                alt="Financial Calculators"
                heigh="44"
                widht="55"
              />
            </td>
            <td style="padding-left: 40px">
              <a><b>How Much Will I Need To Save For Retirement?</b></a
              ><br /><a><b>How Much Can I Contribute To An IRA?</b></a
              ><br /><a><b>Should I Convert To A Roth IRA?</b></a
              ><br /><a
                ><b>What Is My Projected Required Minimum Distribution?</b></a
              ><br /><a
                ><b
                  >How Do Taxes and Inflation Impact My Investment Return?</b
                ></a
              ><br /><a><b>When Should I Begin Saving For Retirement?</b></a
              ><br /><a><b>Becoming A Millionaire</b></a
              ><br />
            </td>
          </tr>
        </tbody>
      </table>
      <br /><br />
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
