<br />
A few financial guides with important information regarding the fiscal implications of having and raising a child.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a [routerLink]="['/resources/guides/life-events/child-education']" routerLinkActive="router-link-active" ><b>Your Child's Education: How To Finance It</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/higher-education-costs']" routerLinkActive="router-link-active" ><b>Higher Education Costs: How To Get The Best Tax Treatment</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a [routerLink]="['/resources/guides/life-events/saving-for-college-faq']" routerLinkActive="router-link-active"><b>Saving for College: Frequently Asked Questions</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/higher-education-faq']" routerLinkActive="router-link-active"><b>Tax Benefits of Higher Education: Frequently Asked Questions</b></a><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>How Much Am I Spending?</b></a
        ><br />
        <a><b>How Much Life Insurance Do I Need?</b></a
          ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

