<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">What's good about investing in IRAs?</a></li>
      <li><a href="#2">Can anyone have a traditional IRA?</a></li>
      <li><a href="#3">Can my stay at home spouse have an IRA?</a></li>
      <li><a href="#4">What makes Roth IRAs so special?</a></li>
      <li><a href="#5">Can anyone have a Roth IRA?</a></li>
      <li><a href="#6">Can I set up a Roth IRA for my spouse?</a></li>
      <li><a href="#7">Can I set up a Roth IRA for my child?</a></li>
      <li><a href="#8">What's the downside to Roth IRAs?</a></li>
      <li>
        <a href="#9"
          >What can I do if I converted to a Roth IRA and my income exceeds
          $100,000?</a
        >
      </li>
      <li>
        <a href="#10"
          >What if my Roth IRA assets fall in value after conversion?</a
        >
      </li>
      <li>
        <a href="#11">How are my heirs taxed on inherited Roth IRA wealth?</a>
      </li>
    </ul>
  </div>
  <!-- toc -->

  <h3 class="cellcolor">
    <a name="1"></a>What's good about investing in IRAs?
  </h3>

  <p>
    There are two types of IRAs, Traditional IRAs and Roth IRAs, both of which
    are discussed in this Financial Guide. Traditional IRAs defer taxation of
    investment income and withdrawals are taxable income--except for withdrawals
    of previously non-deductible contributions. In most cases, however,
    contributions are deductible. Roth IRAs are subject to many of the same
    rules as Traditional IRAs, but there are several differences, the primary
    one being that contributions are not deductible and are made after-tax. As
    such, qualified distributions are generally tax-free.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Can anyone have a traditional IRA?</h3>

  <p>
    If you have income from wages or self-employment income, you can contribute
    up to $6,000 in 2022 (same as 2021). As such, IRAs are available even to
    children who meet these conditions. Persons age 50 and older can contribute
    an additional $1,000 for a total of $7,000 in 2022 (same as 2021).
  </p>
  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Can my stay at home spouse have an IRA?
  </h3>

  <p>
    Yes. Contributions of $6,000 for each spouse are allowed in 2022 (same as
    2021) if the couple's wages or self-employment earnings are $12,000 or more.
    If less, the contribution amount cannot exceed you or your spouse's taxable
    compensation for the year.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>What makes Roth IRAs so special?</h3>

  <p>Roth IRAs offer the following advantages:</p>

  <ul>
    <li>
      Withdrawals, if they qualify, are completely exempt from income tax,
      unlike all other retirement plans.
    </li>
    <li>
      You can quickly build up a Roth IRA account by converting traditional IRAs
      into Roth IRAs, but there is a tax cost.
    </li>
    <li>
      Since there is no age requirement for withdrawals from a Roth IRA, more
      money can be left in an account and passed on to heirs than is allowed
      under other plans.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Can anyone have a Roth IRA?</h3>

  <p>Not everyone can have a Roth IRA. The following conditions apply:</p>

  <ul>
    <li>
      You can't contribute to a Roth IRA for a year with income (AGI) above
      $144,000 if single or $214,000 on a joint return in 2022 ($140,000 and
      $208,000, respectively, in 2021).
    </li>
    <li>
      You must have earnings from personal services (at least $6,000 or more) to
      make the (maximum) contribution, although an additional contribution of
      $1,000 is allowed for persons age 50 and over.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="6"></a>Can I set up a Roth IRA for my spouse?
  </h3>

  <p>
    Yes, subject to the income conditions above. This allows contributions of
    $6,000 each if the couple's earnings are at least $12,000 in 2022($13,000 if
    only one of you is age 50 or older or $14,000 if both of you are age 50 or
    older). Each spouse can make a contribution up to the current limit;
    however, the total of your combined contributions can't be more than the
    taxable compensation reported on your joint return.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="7"></a>Can I set up a Roth IRA for my child?
  </h3>

  <p>
    Yes, for a child with personal service earnings, and subject to the other
    income conditions.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>What's the downside to Roth IRAs?</h3>

  <p>The following is a brief list of negative issues regarding Roth IRAs:</p>

  <ul>
    <li>
      Roth IRA contributions are not tax-deductible. There's never a deduction
      for Roth IRA contributions.
    </li>
    <li>
      To build a sizable Roth IRA fund, you must convert a traditional IRA (or,
      after 2007, funds from an employer plan). Conversions are taxable.
    </li>
  </ul>

  <p></p>
  <blockquote class="note">
    Under the new tax reform law, for taxable years beginning after December 31,
    2017, if a contribution to a regular IRA has been converted into a
    contribution to a Roth IRA, it can no longer be converted back into a
    contribution to a regular IRA. This provision prevents a taxpayer from using
    recharacterization to unwind a Roth conversion.
  </blockquote>
  <p></p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="9"></a>What can I do if I converted to a Roth IRA and my income
    exceeds $100,000?
  </h3>
  <p>
    The income limit was permanently removed for tax years starting in 2010.
    Anyone, even those with high incomes, can convert from a traditional IRA to
    a Roth IRA.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="10"></a>What if my Roth IRA assets fall in value after conversion?
  </h3>

  <p>
    When you convert from a traditional IRA to a Roth IRA you pay taxes on the
    value of your account as of the conversion date. If your account loses value
    and the account is worth less money you'll end up paying taxes on the money
    you no longer have in your account.
  </p>

  <p></p>
  <blockquote class="example">
    Say you convert $50,000 in a traditional IRA to a Roth IRA and the value
    drops to $35,000. If you didn't make any nondeductible contributions, the
    taxable distribution would be $50,000 and that would be the amount you would
    be paying taxes on. However, now your account is only worth $35,000. By
    re-characterizing the account you can avoid paying taxes on the money you no
    longer have ($50,000). You'll be back to a traditional IRA, but of course,
    the account is now worth only $35,000.
  </blockquote>
  <p></p>

  <p>
    Prior to 2018, the IRS allowed you "re-characterize" the account back to a
    traditional IRA, essentially putting you right back where you were - at
    least tax-wise. However, tax reform legislation passed in 2017 repealed this
    special rule, and re-characterizations are no longer permitted.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="11"></a>How are my heirs taxed on inherited Roth IRA wealth?
  </h3>

  <p>Your heirs are taxed as follows:</p>

  <ul>
    <li>
      No tax paid on withdrawals as long as the funds have been in the Roth IRA
      for at least five years.
    </li>
    <li>
      Starting in 2020 (SECURE Act), an heir inheriting a Roth IRA must withdraw
      the funds within 10-years after the account owner's death (some exceptions
      apply). Heirs with Roth IRAs inherited prior to 2020 can spread the
      withdrawal over his or her life, continuing the tax shelter for amounts
      not withdrawn.
    </li>
    <li>Estate tax treatment is the same as for traditional IRAs.</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
