<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item" active>
      <span routerLink="/service/services-for-individuals"
        >Service For Individuals</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/services-for-individuals/wealth-management"
        >Wealth Management</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Wealth Mangement"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Creating Wealth Management Plans That Meet Your Needs at Every
            Stage of Life</strong
          >
        </h2>
        <p>
          If you have accumulated significant wealth over your lifetime, a
          wealth management plan is the best way to ensure your assets are
          invested in such a way as to achieve maximum income growth.
        </p>
        <p>
          Chances are good that you probably have more wealth than you think. If
          you're like most people, you probably participate in a retirement plan
          through work or self-employment. If you support a family, then you
          probably have life insurance as well as home and auto policies. You
          might have a stock portfolio that has been accumulating wealth or an
          IRA or two that you inherited but haven't paid much attention to in
          years.&nbsp;
        </p>
        <h3>What is Wealth Management?</h3>
        <p>
          Wealth management is a high-level professional service that provides
          an integrated approach to growing and preserving income and assets, as
          well as determining how much of a client's wealth is to be distributed
          and for what use.
        </p>
        <p>
          Wealth management typically includes investment planning, financial
          planning, tax and accounting services, and retirement, legal, or
          estate planning under a single wealth management plan that both
          simplifies and organizes. Wealth management also takes into
          consideration the “what if situations” that happen to all of us.
        </p>
        <p>
          While our goal is to develop a wealth management plan that meets your
          objectives we are available to assist you in coordinating with your
          other trusted advisors such as estate planning attorney, CPA, home and
          auto insurance agent, life insurance agent, and business consultant(s)
          if you own a business. If you don't already have trusted advisors that
          you work with, we can recommend one or more professionals for you.
        </p>
        <p>
          <strong
            >As your wealth management advisor, we work with you
            to:&nbsp;</strong
          >
        </p>
        <ul>
          <li>
            Create a wealth management plan based on your financial picture
          </li>
          <li>Manage assets and investments to maximize growth</li>
          <li>Evaluate tax strategies to minimize taxes on your portfolio</li>
          <li>Manage risk and identify opportunities</li>
          <li>Make recommendations based on your priorities and preferences</li>
        </ul>
        <h3>
          Isn't It Time You Created a Stronger Financial Future for You and Your
          Loved Ones?
        </h3>
        <p>
          If you are ready to get started, our wealth management advisors are
          here to help you every step of the way.
        </p>
        <p>
          <strong
            >Call or email today to schedule a consultation. You'll be glad you
            did.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block">
      <div class="text-center postion-sticky-top">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
