<app-heading heading="IRS Tax Forms and Publications"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-lg-7">
      <div style="text-align: left">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <form
                  name="seek1"
                  method="GET"
                  accept-charset="iso-8859-1"
                  action="https://search.irs.gov/search"
                  target="_blank"
                >
                  <b>Find IRS Tax Forms.</b> Enter keywords here:&nbsp;
                  <input
                    type="text"
                    name="q"
                    size="13"
                    id="FormsSearch"
                    maxlength="1991"
                    class="search-text"
                  />
                  <input
                    type="image"
                    name="Go"
                    src="../../../../assets/images/gobutton.gif"
                    width="21"
                    height="16"
                    align="absmiddle"
                    border="0"
                    alt="Go"
                  />
                </form>
                <p>
                  View or Print
                  <a
                    [routerLink]="['/state-tax-forms']"
                    routerLinkActive="router-link-active"
                    >State Tax Forms</a
                  >
                  here.<br />&nbsp;
                </p>
              </td>
            </tr>
            <tr>
              <td>
                The publications listed below are located on the IRS Web site
                and require Adobe Acrobat Reader to view. Visit the
                <a href="https://www.adobe.com/products/acrobat/readstep2.html"
                  >Adobe Web Site</a
                >
                to install the latest version of Acrobat Reader.
                <p>Click a publication to view it online.</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellspacing="0" cellpadding="5">
          <tbody>
            <tr>
              <td>
                <a href="https://apps.irs.gov/app/vita/glossary.jsp"
                  >Tax Glossary</a
                >
                &nbsp;
              </td>
              <td>
                <p>Tax Glossary</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/f1065sk1.pdf"
                  >Schedule K-1 <br />(Form 1065)<br
                /></a>
                &nbsp;
              </td>
              <td>
                <p>Schedule K-1 (Form 1065)</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/f1120ssk.pdf"
                  >Schedule K-1 <br />(Form 1120)<br
                /></a>
                &nbsp;
              </td>
              <td>
                <p>Schedule K-1 (Form 1120)</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/f1041sk1.pdf"
                  >Schedule K-1 <br />(Form 1041)<br
                /></a>
                &nbsp;
              </td>
              <td>
                <p>Schedule K-1 (Form 1041)</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p1.pdf"
                  >Publication 1</a
                >
                &nbsp;
              </td>
              <td>
                <p>Your Rights As a Taxpayer</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p3.pdf"
                  >Publication 3</a
                >
              </td>
              <td>
                <p>Armed Forces' Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p15.pdf"
                  >Publication 15</a
                >
              </td>
              <td>
                <p>Circular E, Employer's Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p15a.pdf"
                  >Publication 15A</a
                >
              </td>
              <td>
                <p>Employer's Supplemental Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p15b.pdf"
                  >Publication 15B</a
                >
              </td>
              <td>
                <p>Employer's Tax Guide to Fringe Benefits</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p17.pdf"
                  >Publication 17</a
                >
              </td>
              <td>
                <p>Your Federal Income Tax</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p51.pdf"
                  >Publication 51</a
                >
              </td>
              <td>
                <p>Circular A, Agricultural Employer's Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p54.pdf"
                  >Publication 54</a
                >
              </td>
              <td>
                <p>Tax Guide for U.S. Citizens and Resident Aliens Abroad</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p80.pdf"
                  >Publication 80</a
                >
              </td>
              <td>
                <p>
                  Circular SS - Federal Tax Guide for Employers in the U.S.
                  Virgin Islands, Guam, American Samoa, and the Commonwealth of
                  the Northern Mariana Islands
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p225.pdf"
                  >Publication 225</a
                >
              </td>
              <td>
                <p>Farmer's Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <a href="https://www.irs.gov/pub/irs-pdf/p334.pdf"
                    >Publication 334</a
                  >
                  &nbsp;
                </p>
              </td>
              <td>
                <p>Tax Guide for Small Business</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p463.pdf"
                  >Publication 463</a
                >
              </td>
              <td>
                <p>Travel, Entertainment, Gift, and Car Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p501.pdf"
                  >Publication 501</a
                >
              </td>
              <td>
                <p>Exemptions, Standard Deduction, and Filing Information</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p502.pdf"
                  >Publication 502</a
                >
              </td>
              <td>
                <p>Medical and Dental Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p503.pdf"
                  >Publication 503</a
                >
              </td>
              <td>
                <p>Child and Dependent Care Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p504.pdf"
                  >Publication 504</a
                >
              </td>
              <td>
                <p>Divorced or Separated Individuals</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p505.pdf"
                  >Publication 505</a
                >
              </td>
              <td>
                <p>Tax Withholding and Estimated Tax</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p509.pdf"
                  >Publication 509</a
                >
              </td>
              <td>
                <p>Tax Calendars</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p510.pdf"
                  >Publication 510</a
                >
              </td>
              <td>
                <p>Excise Taxes (Including Fuel Tax Credits and Refunds)</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p514.pdf"
                  >Publication 514</a
                >
              </td>
              <td>
                <p>Foreign Tax Credit for Individuals</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p515.pdf"
                  >Publication 515</a
                >
              </td>
              <td>
                <p>
                  Withholding of Tax on Nonresident Aliens and Foreign
                  Corporations
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p516.pdf"
                  >Publication 516</a
                >
              </td>
              <td>
                <p>U.S. Government Civilian Employees Stationed Abroad</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p517.pdf"
                  >Publication 517</a
                >
              </td>
              <td>
                <p>
                  Social Security and Other Information for Members of the
                  Clergy &amp; Religious Workers
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p519.pdf"
                  >Publication 519</a
                >
              </td>
              <td>
                <p>U.S. Tax Guide for Aliens</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-prior/p521--2018.pdf"
                  >Publication 521</a
                >
              </td>
              <td>
                <p>Moving Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p523.pdf"
                  >Publication 523</a
                >
              </td>
              <td>
                <p>Selling Your Home</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p524.pdf"
                  >Publication 524</a
                >
              </td>
              <td>
                <p>Credit for the Elderly or the Disabled</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p525.pdf"
                  >Publication 525</a
                >
              </td>
              <td>
                <p>Taxable and Nontaxable Income</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p526.pdf"
                  >Publication 526</a
                >
              </td>
              <td>
                <p>Charitable Contributions</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p527.pdf"
                  >Publication 527</a
                >
              </td>
              <td>
                <p>
                  Residential Rental Property (Including Rental of Vacation
                  Homes)
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p529.pdf"
                  >Publication 529</a
                >
              </td>
              <td>
                <p>Miscellaneous Deductions</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p530.pdf"
                  >Publication 530</a
                >
              </td>
              <td>
                <p>Tax Information for First-Time Homeowners</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p531.pdf"
                  >Publication 531</a
                >
              </td>
              <td>
                <p>Reporting Tip Income</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p535.pdf"
                  >Publication 535</a
                >
              </td>
              <td>
                <p>Business Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p536.pdf"
                  >Publication 536</a
                >
              </td>
              <td>
                <p>Net Operating Losses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p537.pdf"
                  >Publication 537</a
                >
              </td>
              <td>
                <p>Installment Sales</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p538.pdf"
                  >Publication 538</a
                >
              </td>
              <td>
                <p>Accounting Periods and Methods</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p541.pdf"
                  >Publication 541</a
                >
              </td>
              <td>
                <p>Partnerships</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p542.pdf"
                  >Publication 542</a
                >
              </td>
              <td>
                <p>Corporations</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p544.pdf"
                  >Publication 544</a
                >
              </td>
              <td>
                <p>Sales and other Dispositions of Assets</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p547.pdf"
                  >Publication 547</a
                >
              </td>
              <td>
                <p>Casualties, Disasters, and Thefts</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p550.pdf"
                  >Publication 550</a
                >
              </td>
              <td>
                <p>
                  Investment Income and Expenses (Including Capital Gains and
                  Losses and Mutual fund Distributions)
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p554.pdf"
                  >Publication 554</a
                >
              </td>
              <td>
                <p>Tax Guide for Seniors</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p555.pdf"
                  >Publication 555</a
                >
              </td>
              <td>
                <p>Community Property</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p556.pdf"
                  >Publication 556</a
                >
              </td>
              <td>
                <p>
                  Examination of Returns, Appeal Rights, and Claims for Refund
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p557.pdf"
                  >Publication 557</a
                >
              </td>
              <td>
                <p>Tax-Exempt Status for Your Organization</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p559.pdf"
                  >Publication 559</a
                >
              </td>
              <td>
                <p>Survivors, Executors and Administrators</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p560.pdf"
                  >Publication 560</a
                >
              </td>
              <td>
                <p>Retirement Plans for Small Business</p>
              </td>
            </tr>
            <tr>
              <td>
                ><a href="https://www.irs.gov/pub/irs-pdf/p570.pdf"
                  >Publication 570</a
                >&nbsp;&nbsp;
              </td>
              <td>
                <p>
                  Tax Guide for Individuals With Income from U.S. Possessions
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p571.pdf"
                  >Publication 571</a
                >
              </td>
              <td>
                <p>
                  Tax-Sheltered Annuity Programs for Employees of Public Schools
                  and Certain Tax-Exempt Organizations
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p575.pdf"
                  >Publication 575</a
                >
              </td>
              <td>
                <p>Pension and Annuity Income</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p583.pdf"
                  >Publication 583</a
                >
              </td>
              <td>
                <p>Starting a Business and Keeping Records</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p587.pdf"
                  >Publication 587</a
                >
              </td>
              <td>
                <p>
                  Business Use of Your Home (Including Use by Day-Care
                  Providers)
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p590a.pdf"
                  >Publication 590-A</a
                >
              </td>
              <td>
                <p>
                  Contributions to Individual Retirement Arrangements (IRAs)
                </p>
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p590b.pdf"
                  >Publication 590-B</a
                >
              </td>
              <td>
                <p>
                  Distributions to Individual Retirement Arrangements (IRAs)
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p595.pdf"
                  >Publication 595</a
                >
              </td>
              <td>
                <p>Capital Construction Fund for Commercial Fishermen</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p596.pdf"
                  >Publication 596</a
                >
              </td>
              <td>
                <p>Earned Income Credit</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.irs.gov/pub/irs-pdf/p598.pdf"
                  >Publication 598</a
                >
              </td>
              <td>
                <p>Tax on Unrelated Business Income of Exempt Organizations</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p721.pdf"
                  >Publication 721</a
                >
              </td>
              <td>
                <p>Tax Guide to U.S. Civil Service Retirement Benefits</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p901.pdf"
                  >Publication 901</a
                >
              </td>
              <td>
                <p>U.S. Tax Treaties</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p907.pdf"
                  >Publication 907</a
                >
              </td>
              <td>
                <p>Tax Highlights for Persons With Disabilities</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/f911.pdf">Form 911</a>
              </td>
              <td>
                <p>Request for Taxpayer Advocate Service Assistance</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p915.pdf"
                  >Publication 915</a
                >
              </td>
              <td>
                <p>
                  Social Security and Equivalent Railroad Retirement Benefits
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p925.pdf"
                  >Publication 925</a
                >
              </td>
              <td>
                <p>Passive Activity and At-Risk Rules</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p926.pdf"
                  >Publication 926</a
                >
              </td>
              <td>
                <p>Household Employers Tax Guide</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p929.pdf"
                  >Publication 929</a
                >
              </td>
              <td>
                <p>Tax Rules for Children and Dependents</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p936.pdf"
                  >Publication 936</a
                >
              </td>
              <td>
                <p>Home Mortgage Interest Deduction</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p939.pdf"
                  >Publication 939</a
                >
              </td>
              <td>
                <p>General Rule for Pensions and Annuities</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p946.pdf"
                  >Publication 946</a
                >
              </td>
              <td>
                <p>How to Depreciate Property</p>
              </td>
            </tr>
            <tr>
              <td width='op"'>
                <a href="https://www.irs.gov/pub/irs-pdf/p957.pdf"
                  >Publication 957</a
                >
              </td>
              <td>
                <p>
                  Reporting Back Pay and Special Wage Payments to the Social
                  Security Administration
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/f8839.pdf"
                  >Form 8839</a
                >
              </td>
              <td>
                <p>Qualified Adoption Expenses</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p969.pdf"
                  >Publication 969</a
                >
              </td>
              <td>
                <p>
                  Health Savings Accounts and Other Tax-Favored Health Plans
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p970.pdf"
                  >Publication 970</a
                >
              </td>
              <td>
                <p>Tax Benefits for Education</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p1212.pdf"
                  >Publication 1212</a
                >
              </td>
              <td>
                <p>Guide to Original Issue Discount (OID) Instruments</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p1345.pdf"
                  >Publication 1345</a
                >
              </td>
              <td>
                <p>
                  Handbook for Authorized IRS e-file Providers of Individual
                  Income Tax Returns
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p1544.pdf"
                  >Publication 1544</a
                >
              </td>
              <td>
                <p>Reporting Cash Payments of Over $10,000</p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.irs.gov/pub/irs-pdf/p4557.pdf"
                  >Publication 4557</a
                >
              </td>
              <td>
                <p>Safeguarding Taxpayer Data - A Guide for Your Business</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4 d-md-flex flex-column d-none" id="image-container">
      <img
        class="mx-auto"
        id="img-woman-1"
        width="260px"
        height="400px"
        src="../../../../assets/images/woman-1.png"
      />
      <button class="mx-auto" mat-raised-button (click)="openContactUsDialog()">
        Request A Free Consultation
      </button>
    </div>
  </div>
</div>
