<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li>
        <a href="#1"
          >How do I find a good real estate agent when I sell my home?</a
        >
      </li>
      <li>
        <a href="#2"
          >Which type of listing agreement should I enter into with the real
          estate agent?</a
        >
      </li>
      <li><a href="#3">How can I speed up the sale of my home?</a></li>
      <li><a href="#4">How do I get the best price for my home?</a></li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>How do I find a good real estate agent when I sell my
      home?
    </h3>

    <p>
      First, ask friends, family, and colleagues for recommendations of real
      estate agents. You can also look for names listed on posted "for sale"
      signs, especially for houses that have been sold. Once you have at least
      three names, schedule a telephone or in-person interview with the agent.
    </p>

    <p>
      Ask the real estate agent what problems she or he sees in marketing your
      home. The broker should be honest about potential problems and be able to
      think creatively about solutions. Ask for a plan for marketing the home
      and what you as a homeowner can do to help implement the plan. Listen to
      the answers. Does the agent exhibit a willingness to think creatively in
      approaching whatever problems might exist with the selling process? Does
      she seem co-operative or receptive to your input? Other things to consider
      are whether the broker knows the good and bad points about your
      neighborhood or town. And last but not least, don't forget to ask the
      broker for a list of comparable homes, which is essential in helping you
      arrive at an asking price for your home.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>Which type of listing agreement should I enter into with
      the real estate agent?
    </h3>

    <p>
      A listing agreement is a contract between the homeowner and the agent. It
      states how much the agent will be paid and what services are provided. You
      will generally have to enter into an exclusive listing, which gives the
      agent the exclusive right to sell your house for a limited period of time.
      The listing agent gets 100 percent of the commission if he or she sells
      the house and a percentage of the commission if another broker sells the
      house.
    </p>

    <blockquote class="tip">
      <p>
        Establish a time limit of three months for an exclusive right to sell
        agreement. This will give the broker an incentive to sell the home
        quickly and still gives you an out if you feel the broker isn't doing
        enough for you. If you have a lot of confidence in the broker, and you
        have seen and approved of his or her plans for marketing the home, you
        may wish to sign for six months.
      </p>
    </blockquote>

    <blockquote class="tip">
      <p>
        If at any time during the marketing process, you feel that your broker
        is not as effective as he or she could be, switch brokers. Do not waste
        time with a broker you have doubts about.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>How can I speed up the sale of my home?
    </h3>

    <p>
      <strong
        >Make cosmetic improvements to get the house looking as good as
        possible.</strong
      >
      For instance, patch damaged plaster and drywall, repaint, and
      re-wallpaper. Spruce up the exterior by replacing broken shingles or
      shutters or doing some minor landscaping to give your home more "curb
      appeal."
    </p>

    <p>
      <strong
        >Increase your home's appeal to a wider range of potential
        buyers.</strong
      >
      Repair or replace any part of your home that's been modified that might
      not appeal to the general population.
    </p>

    <p>
      <strong
        >Make your home cozy and inviting when potentials buyers come
        by.</strong
      >
      Make sure the interior and exterior are clean, neat, and well maintained.
      Have a fire burning in the fireplace, bake some cookies or an apple pie,
      or have a pot of coffee brewing. Put away toys and tools. Keep pets out of
      sight. Not everyone is as enamored of Fido as your family is. Try not to
      cook foods like fish with lingering odors.
    </p>

    <p>
      You can also work with your broker to speed up the sale of your home using
      the following techniques:
    </p>

    <p>
      <strong>Offer a warranty.</strong> Sometimes offering a warranty on the
      roof, electrical system, or appliances can speed up a sale or smooth the
      negotiating process, particularly if it's causing buyers to balk at the
      asking price.
    </p>

    <p>
      <strong>Create a home sale kit with your broker.</strong> A home sale kit
      consists of flyers that are distributed to potential home buyers and
      contain photos of your home's exterior, interior, and surroundings. The
      flyer should also list major selling points and include information about
      utility costs, taxes, and a floor plan.
    </p>

    <p>
      <strong>Let the broker show your home.</strong> Allow the broker to do his
      or her job. Make yourself available for questions, but do not try to help
      sell to potential buyers who are looking at your home.
    </p>

    <p>
      <strong>Offer a bonus to your broker.</strong> A bonus shouldn't be
      obvious to the buyer because the buyer will wonder if the house price has
      been bumped up to accommodate the real estate broker's bonus. Instead,
      offer the bonus in the form of an increased commission, say 3 1/2 percent
      instead of 3 percent.
    </p>

    <p>
      <strong>Take it off the market and re-list it later. </strong> If your
      house has been on the market for a long time, it may be perceived as
      undesirable. Taking it off the market and re-listing it at a later time
      sometimes helps.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>How do I get the best price for my home?
    </h3>

    <p>
      Use one of these successful methods for negotiating with buyers, once
      they've made their first offer:
    </p>

    <p>
      <strong>Find out as much as possible about the potential buyer.</strong>
      Try to find out, for example, whether the buyer needs to buy a home
      quickly or is in a position to take plenty of time to negotiate. This will
      help you to decide what type of negotiating stance to take. Knowing
      details about the buyer's family will help you point out how your home
      accommodates their needs. And, if you know that a buyer lives in an
      apartment and will need to buy appliances for their new home, then you can
      throw in deal sweeteners such as refrigerators, washer and dryers, and
      furnishings.
    </p>

    <p>
      <strong>Avoid being confrontational. </strong> The offers you receive will
      likely be 10 to 15 percent below your asking price. Do not be offended by
      this or by any "low-balling" techniques engaged in by buyers. Be willing
      to make some concessions. Make counter-offers to try to bring the offer
      closer to your asking price. If you feel that an offer is unreasonable,
      however, you can always reject it outright and wait for another buyer.
    </p>

    <p>
      <strong>Reveal as little as possible about your own situation.</strong>
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
