<div id="fga">
  <p>
    There are two primary deductions for homeowners: real estate taxes and home
    mortgage interest. This Financial Guide explains which expenses you can and
    cannot deduct as a homeowner, and explains useful aspects of the real estate
    tax deduction. The mortgage interest deduction is discussed in a separate
    Financial Guide.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Preliminary Note: Nondeductible Items</a></li>
      <li><a href="#2">What Is Meant by "Real Estate Taxes"?</a></li>
      <li><a href="#3">Deductible Taxes</a></li>
      <li>
        <a href="#4"
          >Purchase or Sale of Realty: How the Deduction Is Divided Up</a
        >
      </li>
      <li><a href="#5">Items Not Considered Real Estate Taxes</a></li>
      <li><a href="#6">Special Rules for Cooperatives</a></li>
    </ul>

    <p></p>
    <blockquote class="note">
      <a href="?item=66&amp;cat=Home Mortgage Interest Deductions"
        >Click here</a
      >
      for the discussion of mortgage interest deductions.
      <p></p>
    </blockquote>

    <h3 class="cellcolor">
      <a name="1"></a>Preliminary Note: Nondeductible Items
    </h3>

    <p>
      If you took out a mortgage to finance the purchase of your home, you are
      probably making monthly house payments. This house payment may include
      various costs of owning a home. The only costs you can deduct are real
      estate taxes actually paid to the taxing authority and interest that
      qualifies as home mortgage interest.
    </p>

    <p>Nondeductible items that may be included in your house payment:</p>

    <ul>
      <li>Fire or homeowner's insurance premiums.</li>
      <li>FHA mortgage insurance premiums.</li>
      <li>Any amount applied to reduce the principal of the mortgage.</li>
    </ul>

    <blockquote class="note">
      <p>
        Members of the clergy or of the uniformed services who receive a
        nontaxable housing allowance can still deduct real estate taxes and home
        mortgage interest. They need not reduce their deductions by the
        non-taxable allowance.
      </p>
    </blockquote>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>What Is Meant by "Real Estate Taxes"?
    </h3>

    <p>
      Most state and local governments charge an annual tax on the value of real
      property. This is called a real estate tax. You can deduct the tax if it
      is based on the assessed value of the real property and the taxing
      authority charges a uniform rate on all property in its jurisdiction. The
      tax must be for the welfare of the general public and not be a payment for
      a special privilege or service you receive.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="3"></a>Deductible Taxes</h3>

    <p>
      You can deduct real estate taxes imposed on you. You must have paid them
      either at settlement or closing or to a taxing authority (either directly
      or through an escrow account) during the year. If you own a cooperative
      apartment, special rules apply to the deduction, which is generally
      available to you.
    </p>

    <p></p>
    <blockquote class="caution">
      Under tax reform (Tax Cuts and Jobs Act of 2017), for taxable years 2018
      through 2025, the aggregate deduction for real estate property taxes,
      state, local, and foreign income taxes, or sales taxes is limited to
      $10,000 a year ($5,000 married filing separately).
    </blockquote>
    <p></p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>Purchase or Sale of Realty: How the Deduction Is Divided
      Up
    </h3>

    <p>
      Real estate taxes are generally divided so that you and the seller each
      pay taxes for the part of the property tax year you owned the home. Your
      share of these taxes is fully deductible, as long as you itemize your
      deductions.
    </p>

    <p>
      For tax purposes, the seller is treated as paying the property taxes up
      to, but not including, the date of sale. You (the buyer) are treated as
      paying the taxes beginning with the date of sale. This applies regardless
      of the lien dates under local law. Generally, this information is included
      on the settlement statement you get at closing.
    </p>

    <blockquote class="tip">
      <p>
        You and the seller are each considered to have paid your own share of
        the taxes, even if one or the other paid the entire amount. You can each
        deduct your own share, if you itemize deductions, for the year the
        property is sold.
      </p>
    </blockquote>

    <p>
      <strong>Delinquent taxes.</strong> Delinquent taxes are unpaid taxes
      imposed on the seller for an earlier tax year. If you agree to pay
      delinquent taxes when you buy your home, you cannot deduct them. You treat
      them as part of the cost of your home.
    </p>

    <blockquote class="caution">
      <p>
        Many monthly house payments include an amount placed in escrow (put in
        the care of a third party) for real estate taxes. You may not be able to
        deduct the total you pay into the escrow account. You can deduct only
        the real estate taxes that the lender actually paid from escrow to the
        taxing authority. Your real estate tax bill will show this amount.
      </p>
    </blockquote>

    <p>
      <strong>Refund or rebate of real estate taxes.</strong> If you receive a
      refund or rebate of real estate taxes this year for amounts you paid this
      year, you must reduce your real estate tax deduction by the amount
      refunded to you. If the refund or rebate was for real estate taxes paid
      for a prior year, you may have to include some or all of the refund in
      your income.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Items Not Considered Real Estate Taxes
    </h3>

    <p>The following items are not deductible as real estate taxes.</p>

    <p>
      <strong>Charges for services.</strong> An itemized charge for services to
      specific property or people is not a tax, even if the charge is paid to
      the taxing authority. You cannot deduct the charge as a real estate tax if
      it is:
    </p>

    <ol>
      <li>
        A unit fee for the delivery of a service (such as a $5 fee charged for
        every 1,000 gallons of water you use),
      </li>
      <li>
        A periodic charge for a residential service (such as a $20 per month or
        $240 annual fee charged for trash collection), or
      </li>
      <li>
        A flat fee charged for a single service provided by your local
        government (such as a $30 charge for mowing your lawn because it had
        grown higher than permitted under a local ordinance).
      </li>
    </ol>

    <p>
      <em
        >You must look at your real estate tax bill to decide if any
        nondeductible itemized charges, such as those just listed, are included
        in the bill. If your taxing authority (or lender) does not furnish you a
        copy of your real estate tax bill, ask for it.</em
      >
    </p>

    <p>
      <strong>Assessments for local benefits.</strong> You cannot deduct amounts
      you pay for local benefits that tend to increase the value of your
      property. Local benefits include the construction of streets, sidewalks,
      or water and sewer systems. You must add these amounts to the basis of
      your property.
    </p>

    <p>
      You can, however, deduct assessments (or taxes) for local benefits if they
      are for maintenance, repair, or interest charges related to those
      benefits. An example is a charge to repair an existing sidewalk and any
      interest included in that charge.
    </p>

    <p>
      If only a part of the assessment is for maintenance, repair, or interest
      charges, you must be able to show the amount of that part to claim the
      deduction. If you cannot show what part of the assessment is for
      maintenance, repair, or interest charges, you cannot deduct any of it.
    </p>

    <p>
      An assessment for a local benefit may be listed as an item in your real
      estate tax bill. If so, use the rules in this section to find out how much
      of it, if any, you can deduct.
    </p>

    <p>
      <strong>Transfer taxes (or stamp taxes).</strong> You cannot deduct
      transfer taxes and similar taxes and charges on the sale of a personal
      home. If you are the buyer and you pay them, include them in the cost
      basis of the property. If you are the seller and you pay them, they are
      expenses of the sale and reduce the amount realized on the sale.
    </p>

    <p>
      <strong>Homeowners association assessments.</strong> You cannot deduct
      these assessments because the homeowners association imposes them rather
      than a state or local government.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="6"></a>Special Rules for Cooperatives</h3>

    <p>
      If you own a <em>cooperative apartment</em>, some special rules apply to
      you, though you generally receive the same tax treatment as other
      homeowners. As an owner of a cooperative apartment, you own shares of
      stock in a corporation that owns or leases housing facilities. You can
      deduct your share of the corporation's deductible real estate taxes if the
      <em>cooperative housing corporation</em> meets certain conditions.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- fga  -->
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="cellcolor" align="left">
          <p style="padding: 5px">
            <b>Also See...</b>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- br --><a
    href="/sample652/life-events.php?item=63&amp;catid=17&amp;cat=Buying+a+Home%3A+What+To+Do+and+How+To+Do+It"
    ><b>Buying a Home: What To Do and How To Do It</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=2&amp;catid=17&amp;cat=Buying+a+Home%3A+Frequently+Asked+Questions"
    ><b>Buying a Home: Frequently Asked Questions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=64&amp;catid=17&amp;cat=Homeowner%27s+Insurance%3A+How+To+Get+The+Best+Coverage+and+Value"
    ><b
        >Homeowner's Insurance: How To Get The Best Coverage and Value</b
      ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=150&amp;catid=17&amp;cat=Homeowner%27s+Insurance%3A+Frequently+Asked+Questions"
    ><b>Homeowner's Insurance: Frequently Asked Questions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=65&amp;catid=17&amp;cat=Mortgage+Alternatives%3A+How+To+Choose+The+Right+One"
    ><b>Mortgage Alternatives: How To Choose The Right One</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=3&amp;catid=17&amp;cat=Mortgages%3A+Frequently+Asked+Questions"
    ><b>Mortgages: Frequently Asked Questions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=66&amp;catid=17&amp;cat=Home+Mortgage+Interest+Deductions"
    ><b>Home Mortgage Interest Deductions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=67&amp;catid=17&amp;cat=The+Deductibility+of+Points"
    ><b>The Deductibility of Points</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=68&amp;catid=17&amp;cat=Refinancing+Your+Mortgage%3A+When+and+How"
    ><b>Refinancing Your Mortgage: When and How</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=69&amp;catid=17&amp;cat=Selling+Your+Home%3A+How+To+Do+It+Effectively"
    ><b>Selling Your Home: How To Do It Effectively</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=70&amp;catid=17&amp;cat=Selling+Your+Home%3A+How+To+Minimize+the+Tax+On+the+Gain"
    ><b>Selling Your Home: How To Minimize the Tax On the Gain</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=4&amp;catid=17&amp;cat=Selling+Your+Home%3A+Frequently+Asked+Questions"
    ><b>Selling Your Home: Frequently Asked Questions</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=71&amp;catid=17&amp;cat=Which+Moving+Expenses+Are+Deductible%3F"
    ><b>Which Moving Expenses Are Deductible?</b></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=5&amp;catid=17&amp;cat=Planning+Your+Move%3A+Frequently+Asked+Questions"
    ><b>Planning Your Move: Frequently Asked Questions</b></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=hom02"
    ><b>Should I Refinance My Mortgage?</b></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=hom04"
    ><b>Comparing Mortgage Terms (i.e. 15, 20, 30 year)</b></a
  ><br />
</div>
