<br />
A few financial guides with important information regarding the fiscal implications of having and raising a child.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a [routerLink]="['/resources/guides/life-events/becoming-parent-fg']" routerLinkActive="router-link-active" ><b>Becoming a Parent: The Financial Considerations</b></a
        ><br />
        <a [routerLink]="['/resources/guides/life-events/nany-tax-rule-fg']" routerLinkActive="router-link-active" ><b>The "Nanny Tax" Rules: What To Do If You Have Household Employees</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/child-education']" routerLinkActive="router-link-active" ><b>Your Child's Education: How To Finance It</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/life-insurance-FG']" routerLinkActive="router-link-active" ><b>Life Insurance: How Much and What Kind To Buy</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a [routerLink]="['/resources/guides/life-events/raising-child-faq']" routerLinkActive="router-link-active"><b>Raising a Child: Frequently Asked Questions</b></a
        ><br />
        <a [routerLink]="['/resources/guides/life-events/nany-rules-faq']" routerLinkActive="router-link-active"><b>"Nanny Tax" Rules: Frequently Asked Questions</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/saving-for-college-faq']" routerLinkActive="router-link-active"><b>Saving for College: Frequently Asked Questions</b></a
          ><br />
        <a [routerLink]="['/resources/guides/life-events/life-insurance-FAQ']" routerLinkActive="router-link-active"><b>Life Insurance: Frequently Asked Questions </b></a><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

<h2>Financial Calculators</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-calculators.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a><b>How Much Am I Spending?</b></a
        ><br />
        <a><b>How Much Life Insurance Do I Need?</b></a
          ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />

