<div id="fga">
  <p>
    Each year, Americans arrange more than two million funerals, often costing
    $10,000 or more. What are your options? What is required by law? What
    information are you entitled to? This Guide provides the answers to these
    and other questions.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Arranging A Funeral</a></li>
      <li><a href="#2">How The Funeral Rule Protects You</a></li>
      <li><a href="#3">Statement of Funeral Goods and Services Selected</a></li>
      <li><a href="#4">How To Make A Complaint</a></li>
      <li><a href="#5">Benefits For Widows/Widowers</a></li>
      <li><a href="#6">Useful Resources</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    Most decisions about purchasing funeral goods and services are made by
    people who are grieving and under time constraints. Thinking ahead may help
    you make informed and thoughtful decisions about funeral arrangements.
    Moreover, it will relieve some of the stress. If you plan ahead, you can
    carefully choose the specific items you want and need and can compare prices
    offered by one or more funeral providers.
  </p>

  <p>
    There are federal regulations aimed at protecting purchase vs. funeral
    arrangements and services. This Financial Guide explains how to take
    advantage of these regulations to arrange for a funeral in the most
    cost-effective way.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Arranging a Funeral</h3>

  <p>
    When the time comes to make funeral arrangements, first decide how much you
    want to spend for the funeral. Funerals generally range from $4,000 to
    $6,000, and often much more, depending on location and style. Knowing how
    much you want to spend will help you to plan the funeral, and to keep costs
    within reason.
  </p>

  <blockquote class="tip">
    A cost-saving alternative for some people is a memorial society (click
    <a href="http://www.funerals.org/local-fca/">here</a> for a list of memorial
    societies). Members of these non-profit groups, located in 40 states, have
    access to less expensive funeral alternatives, and may save you hundreds or
    even thousands of dollars on funeral arrangements.
    <p></p>
  </blockquote>

  <p>
    If you decide to make plans about funeral arrangements in advance, either
    for yourself or a loved one, you'll have choices of several types of
    dispositions and ceremonies. Unless a deceased person has indicated his or
    her desires, you will have to choose how the remains will be disposed of:
    burial, entombment, or cremation. You may wish to consult with your
    religious leader. The type of disposition you choose will affect the cost.
  </p>

  <blockquote class="tip">
    To help ensure that your own wishes are carried out, you may want to write
    down your preferences. It also may be helpful to tell relatives and other
    responsible persons what you have decided.
    <p></p>
  </blockquote>

  <p>
    When pre-planning funeral arrangements, here are some of the services and
    options you should consider:
  </p>

  <blockquote class="tip">
    Bring a friend or relative with you, someone who is not emotionally
    involved, when making funeral arrangements, whether or not you are
    pre-planning them. This can help you keep the proper perspective on costs
    and elaborateness.
    <p></p>
  </blockquote>

  <ul>
    <li>Filing of the death certificate and provision of copies</li>
    <li>Moving the deceased's remains to the funeral home</li>
    <li>Embalming</li>
    <li>Preparing the body</li>
    <li>Whether the service is to be indoors, at graveside, or both</li>
    <li>Location of the service-at funeral home or at church or temple</li>
    <li>Content of the service, who will conduct it, and other speakers</li>
    <li>Music</li>
    <li>Flowers</li>
    <li>Pallbearers</li>
    <li>The hearse to be used and limousines for family members</li>
    <li>Transportation of the body to the cemetery</li>
    <li>Whether casket will be open or closed</li>
    <li>Viewing the body</li>
    <li>Chairs and tents for guests at the cemetery</li>
    <li>Guest book to be signed</li>
    <li>Headstone</li>
    <li>Obituaries</li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>How the Funeral Rule Protects You</h3>

  <p>
    <a href="http://www.consumer.ftc.gov/articles/0300-ftc-funeral-rule"
      >The Funeral Rule</a
    >
    is the FTC's trade regulation rule concerning funeral industry practices and
    has been in effect since April 30, 1984. This rule, which is a trade
    regulation rule for the funeral industry, enables you to get cost and other
    information about funeral arrangements both over the telephone and in
    person. It makes it easier for you to select only those goods and services
    you want or need and to pay for only those you select.
  </p>

  <p>
    The Funeral Rule requires that the funeral provider gives you a Statement of
    Funerals and Services Selected after you select the funeral goods and
    services you would like. The statement shows the prices of the individual
    items you are considering for purchase, as well as the total price. It also
    requires providers to give you the cost of individual items over the
    telephone or, if when you inquire in person about funeral arrangements, the
    funeral home will give you a written price list of the goods and services
    available.
  </p>

  <p>
    When arranging a funeral, you can purchase individual items or buy an entire
    package of goods and services. If you want to purchase a casket and/or
    vault, the funeral provider will supply lists that describe all the
    available selections and their prices. As described in greater detail in the
    following section, the Funeral Rule helps you obtain information about the
    cost and availability of individual funeral goods and services.
  </p>

  <p></p>
  <h2>Telephone Inquiries</h2>
  <p></p>

  <p>
    When you call a funeral provider and ask them about terms, conditions, or
    prices of funeral goods and services, the funeral provider will:
  </p>

  <ul>
    <li>
      Give you prices and any other information from the price lists to
      reasonably answer your questions.
    </li>
    <li>
      Give you any other information about prices or offerings that are readily
      available and reasonably answers your questions.
    </li>
  </ul>

  <blockquote class="tip">
    By using the telephone, you can compare prices among funeral providers.
    Getting price information over the telephone may help you select a funeral
    home and the arrangements you want.
    <p></p>
  </blockquote>

  <p></p>
  <h2>In-Person Inquiries</h2>
  <p></p>

  <p>
    If you inquire in person about funeral arrangements, the funeral provider
    will give you a general price list. This list, which you can keep, contains
    the cost of each individual funeral item and service offered. It also
    discloses important legal rights and requirements regarding funeral
    arrangements. It must include information about embalming, caskets for
    cremation, and required purchases.
  </p>

  <blockquote class="tip">
    Use this information to help select the funeral provider and funeral items
    you want, need, and are able to afford.
    <p></p>
  </blockquote>

  <p></p>
  <h2>Embalming Information</h2>
  <p></p>

  <p>
    The Funeral Rule requires funeral providers to give you information about
    embalming that may help you decide whether to purchase this service. Under
    the Rule, a funeral provider:
  </p>

  <ul>
    <li>May not falsely state that embalming is required by law.</li>
    <li>
      Must disclose in writing that, except in certain special cases, embalming
      is not required by law.
    </li>
    <li>
      May not charge a fee for unauthorized embalming unless it is required by
      state law.
    </li>
    <li>
      Will disclose in writing that you usually have the right to choose a
      disposition such as a direct cremation or immediate burial if you do not
      want embalming.
    </li>
    <li>
      Will disclose to you in writing that certain funeral arrangements, such as
      a funeral with viewing, may make embalming a practical necessity and,
      there would be a required purchase.
    </li>
  </ul>

  <p></p>
  <h2>Cash Advance Sales</h2>
  <p></p>

  <p>
    The Funeral Rule requires providers to disclose to you in writing if they
    charge a fee for buying cash advance items. Cash advance items are goods or
    services that are paid for by the funeral provider on your behalf. Some
    examples of cash advance items are flowers, obituary notices, pallbearers,
    and clergy honoraria. Some funeral providers charge you their cost for these
    items. Others add a service fee to their cost.
  </p>

  <p>
    The Funeral Rule requires the funeral provider to inform you when a service
    fee is added to the price of cash advance items or if the provider gets a
    refund, discount, or rebate from the supplier of any cash advance item.
  </p>

  <p></p>
  <h2>Direct Cremations</h2>
  <p></p>

  <p>
    Some people may want to select direct cremation, which is cremation of the
    deceased without a viewing or other ceremony at which the body is present.
    If you choose a direct cremation, the funeral provider will offer you either
    an inexpensive alternative container or an unfinished wood box. An
    alternative container is a non-metal enclosure used to hold the deceased.
    These containers may be of pressboard, cardboard, or canvas.
  </p>

  <blockquote class="tip">
    Because any container you buy will be destroyed during the cremation, you
    may wish to use an alternative container or an unfinished wood box for a
    direct cremation. These could lower your funeral costs since they are less
    expensive than traditional burial caskets.
    <p></p>
  </blockquote>

  <p>Under the Funeral Rule, funeral directors who offer direct cremations:</p>

  <ul>
    <li>
      May not tell you that state or local law requires a casket for direct
      cremations.
    </li>
    <li>
      Must disclose in writing your right to buy an unfinished wood box (a type
      of casket) or an alternative container for a direct cremation
    </li>
    <li>
      Must make an unfinished wood box or alternative container available for
      direct cremation.
    </li>
  </ul>

  <p></p>
  <h2>Required Purchases</h2>
  <p></p>

  <p>
    You do not have to purchase unwanted goods or services or pay any fees as a
    condition of obtaining those products and services you do want, other than
    one permitted fee for services of the funeral director and staff and fees
    for other goods and services selected by you or required by state law. Under
    the Funeral Rule:
  </p>

  <ul>
    <li>
      You have the right to choose only the funeral goods and services you want,
      with some exceptions.
    </li>
    <li>
      The funeral provider must disclose this right in writing on the general
      price list.
    </li>
    <li>
      The funeral provider must disclose on your itemized statement of goods and
      services selected the specific state law that requires you to purchase any
      particular item.
    </li>
    <li>
      The funeral provider may not refuse, or charge a fee, to handle a casket
      you purchased elsewhere.
    </li>
  </ul>

  <p></p>
  <h2>Preservative and Protective Claims</h2>
  <p></p>

  <p>
    Under the Funeral Rule, funeral providers are prohibited from telling you a
    particular funeral item or service can indefinitely preserve the body of the
    deceased in the grave. The information gathered during the FTC's
    investigation indicated these claims are not true. For example, funeral
    providers may not claim embalming or a particular type of casket will
    indefinitely preserve the deceased's body.
  </p>

  <p>
    The Rule also prohibits funeral providers from making claims that funeral
    goods, such as caskets or vaults, will keep out water, dirt, or other
    gravesite substances when it is not true.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>Statement of Funeral Goods and Services Selected
  </h3>

  <p>
    The funeral provider will give you an itemized statement of the total cost
    of the funeral goods and services you select.
  </p>

  <blockquote class="tip">
    This statement also will disclose any legal, cemetery, or crematory
    requirements that require you to purchase any specific funeral goods or
    services.
    <p></p>
  </blockquote>

  <p>
    The funeral provider must give you this statement after you select the
    funeral goods and services that you would like. The statement combines in
    one place the prices of the individual items you are considering for
    purchase, as well as the total price. You can decide whether to add or
    subtract items to get what you want. If the cost of cash advance items is
    not known at this time, the funeral provider must write down a good faith
    estimate of their cost.
  </p>

  <blockquote class="tip">
    The Funeral Rule does not require any specific form for this information.
    Therefore, this information might be included in any document they give you
    at the end of your discussion about funeral arrangements.
    <p></p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>How to Make a Complaint</h3>

  <p>
    If you have a problem concerning funeral matters, you should, of course,
    first attempt to resolve it with your funeral director. If you are
    dissatisfied, contact your federal, state, or local consumer protection
    agencies or one of the organizations in the "Useful Resources" section
    below.
  </p>

  <p>
    While the Federal Trade Commission does not resolve individual consumer
    disputes, information about your experience may show a pattern of conduct or
    practices that the Commission may investigate to determine if any action is
    warranted.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Benefits for Widows/Widowers</h3>

  <p>
    Many people do not realize that widows and widowers can begin receiving
    Social Security benefits at age 60 (or age 50 if disabled) on the deceased
    spouse's account. If you are receiving widows/widowers (including divorced
    widows/widowers) benefits, you can switch to your retirement benefits
    (assuming you are eligible and your retirement rate is higher than your
    widow/widower's rate) as early as age 62.
  </p>

  <p>
    In many cases, a widow or widower can begin receiving one benefit at a
    reduced rate and then switch to the other benefit at an unreduced rate at
    age 65. Since the rules vary depending on the situation; talk to a Social
    Security representative about the options available to you.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=56&amp;cat=Social Security Benefits: How To Get The Maximum Amount"
        >SOCIAL SECURITY BENEFITS: How To Get The Maximum Amount</a
      >
    </p>
  </blockquote>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=93&amp;cat=Survivor Benefits: A Guide To This Often Overlooked Insurance Add-On"
        >SURVIVOR'S BENEFITS: A Guide To This Often Overlooked Insurance Add
        On</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>Useful Resources</h3>

  <ul>
    <li>
      Most states have a licensing board that regulates the funeral industry.
      You may contact the licensing board in your state for information or help.
    </li>
    <br />

    <li>
      <a href="http://www.theconferenceonline.org"
        >The International Conference of Funeral Service Examining Boards</a
      >
      is a not-for-profit voluntary association providing examination services,
      information, and regulatory support to funeral service licensing boards
      and educators, governmental bodies and other regulatory agencies.
    </li>
  </ul>

  <blockquote>
    <address align="left">
      The International Conference of Funeral Service Examining Boards
    </address>

    <address align="left">
      1885 Shelby Lane<br />Fayetteville, Arkansas 72704<br />479-442-7076<br />
    </address>
  </blockquote>

  <ul>
    <li>
      <a href="http://www.aarp.org">AARP</a> publishes Funeral Goods and
      Services and Pre-Paying for Your Funeral, as well as other helpful
      pamphlets and free guides.
    </li>
  </ul>

  <blockquote>
    <address>
      American Association of Retired Persons (AARP)<br />AARP Fulfillment<br />601
      E Street, N.W.<br />Washington, D.C. 20049
    </address>
  </blockquote>

  <ul>
    <li>
      <a href="http://funerals.org">Funeral Consumers Alliance</a> has a list of
      memorial societies and state funeral consumer alliances.
    </li>
  </ul>

  <blockquote>
    <address>
      Funeral Consumers Alliance<br />33 Patchen Road<br />South Burlington, VT
      05403<br />Tel. 802-865-8300
    </address>
  </blockquote>

  <ul>
    <li>
      The
      <a href="http://www.cremationassociation.org/"
        >Cremation Association of North America
      </a>
      (CANA) is an association of crematories, cemeteries, and funeral homes
      that offer cremation. More than 750 members own and operate crematories
      and encourage advance planning.
    </li>
  </ul>

  <blockquote>
    <address>
      Cremation Association of North America<br />499 Northgate Parkway<br />Wheeling,
      Illinois 60090<br />312-245-1077
    </address>
  </blockquote>

  <ul>
    <li>
      The
      <a href="http://www.ogr.org">International Order of the Golden Rule</a> is
      an international association of independent funeral homes in which
      membership is by invitation only. Approximately 1,500 funeral homes are
      members of OGR.
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        >International Order of the Golden Rule<br />3520 Executive Center
        Drive, Suite 300<br />Austin, TX 78731<br />800-637-8030
      </em>
    </p>
  </blockquote>

  <ul>
    <li>
      The
      <a href="https://www.nfda.org/">National Funeral Directors Association</a>
      is the largest educational and professional association of funeral
      directors. Established in 1882, it has 14,000 members throughout the
      United States.
    </li>
  </ul>

  <blockquote>
    <address>
      National Funeral Directors Association<br />13625 Bishop's Drive<br />Brookfield,
      WI 53005<br />800-228-6332<br />
    </address>
  </blockquote>

  <ul>
    <li>
      The
      <a href="https://nfdma.com//"
        >National Funeral Directors and Morticians Association</a
      >
      is a national association of funeral firms in which membership is by
      invitation only and is conditioned upon the commitment of each firm to
      comply with the association's Code of Good Funeral Practice. Consumers may
      request a variety of publications through NSM's affiliate, the Consumer
      Information Bureau, Inc.
    </li>
  </ul>

  <blockquote>
    <address>
      National Funeral Directors and Morticians Association<br />6290 Shannon
      Parkway<br />Union City, GA 30291<br />800-434-0958
    </address>
  </blockquote>

  <ul>
    <li>
      If you have a complaint or question about funeral arrangements or funeral
      home practices:
    </li>
  </ul>

  <blockquote>
    <p>
      <em
        ><a href="http://www.selectedfuneralhomes.org"
          >Selected Independent Funeral Homes</a
        ><br />500 Lake Cook Road, Suite 205<br />Deerfield, IL 60015<br />800-323-4219</em
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
