<app-heading heading="Record Retention Guide"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <div id="RecordRetention" style="text-align: left">
          Storing tax records: How long is long enough?
          <p>
            Federal law requires you to maintain copies of your tax returns and
            supporting documents for three years. This is called the "three-year
            law" and leads many people to believe they're safe provided they
            retain their documents for this period of time.
          </p>
          <p>
            However, if the IRS believes you have significantly underreported
            your income (by 25 percent or more), or believes there may be
            indication of fraud, it may go back six years in an audit. To be
            safe, use the following guidelines.
          </p>
          <table cellpadding="0" width="550">
            <tbody>
              <tr>
                <td><strong>Business Records To Keep...</strong></td>
                <td><strong>Personal Records To Keep...</strong></td>
              </tr>
              <tr>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#b1"
                      >1 Year</a
                    ></strong
                  >
                </td>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#p1"
                      >1 Year</a
                    ></strong
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#b3"
                      >3 Years</a
                    ></strong
                  >
                </td>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#p3"
                      >3 Years</a
                    ></strong
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#b7"
                      >6 Years</a
                    ></strong
                  >
                </td>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#p7"
                      >6 Years</a
                    ></strong
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#bforever"
                      >Forever</a
                    ></strong
                  >
                </td>
                <td>
                  <strong
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                      href="#pforever"
                      >Forever</a
                    ></strong
                  >
                </td>
              </tr>
              <tr>
                <td><strong>&nbsp;</strong></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong><a href="#special">Special Circumstances</a></strong>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <strong
              >Create a Backup Set of Records and Store Them
              Electronically.</strong
            >
            Keeping a backup set of records -- including, for example, bank
            statements, tax returns, insurance policies, etc. -- is easier than
            ever now that many financial institutions provide statements and
            documents electronically, and much financial information is
            available on the Internet.
          </p>
          <p>
            Even if the original records are provided only on paper, they can be
            scanned and converted to a digital format. Once the documents are in
            electronic form, taxpayers can download them to a backup storage
            device, such as an external hard drive, or burn them onto a CD or
            DVD (don't forget to label it).
          </p>
          <p>
            You might also consider online backup, which is the only way to
            ensure that data is fully protected. With online backup, files are
            stored in another region of the country, so that if a hurricane or
            other natural disaster occurs, documents remain safe.
          </p>
          <br /><br />
          <table
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <tbody>
              <tr>
                <td valign="top"></td>
                <td width="100%">
                  <strong>Caution:</strong> Identity theft is a serious threat
                  in today's world, and it is important to take every precaution
                  to avoid it. After it is no longer necessary to retain your
                  tax records, financial statements, or any other documents with
                  your personal information, you should dispose of these records
                  by shredding them and not disposing of them by merely throwing
                  them away in the trash.
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>
            <strong
              ><a name="b1"></a>Business Documents To Keep For One Year</strong
            >
          </p>
          <ul>
            <li>Correspondence with Customers and Vendors</li>
            <li>Duplicate Deposit Slips</li>
            <li>Purchase Orders (other than Purchasing Department copy)</li>
            <li>Receiving Sheets</li>
            <li>Requisitions</li>
            <li>Stenographer's Notebooks</li>
            <li>Stockroom Withdrawal Forms</li>
          </ul>
          <p>
            <strong
              ><a name="b3"></a>Business Documents To Keep For Three
              Years</strong
            >
          </p>
          <ul>
            <li>Employee Personnel Records (after termination)</li>
            <li>Employment Applications</li>
            <li>Expired Insurance Policies</li>
            <li>General Correspondence</li>
            <li>Internal Audit Reports</li>
            <li>Internal Reports</li>
            <li>Petty Cash Vouchers</li>
            <li>Physical Inventory Tags</li>
            <li>Savings Bond Registration Records of Employees</li>
            <li>Time Cards For Hourly Employees</li>
          </ul>
          <p>
            <strong
              ><a name="b7"></a>Business Documents To Keep For Six Years</strong
            >
          </p>
          <ul>
            <li>Accident Reports, Claims</li>
            <li>Accounts Payable Ledgers and Schedules</li>
            <li>Accounts Receivable Ledgers and Schedules</li>
            <li>Bank Statements and Reconciliations</li>
            <li>Cancelled Checks</li>
            <li>Cancelled Stock and Bond Certificates</li>
            <li>Employment Tax Records</li>
            <li>Expense Analysis and Expense Distribution Schedules</li>
            <li>Expired Contracts, Leases</li>
            <li>Expired Option Records</li>
            <li>Inventories of Products, Materials, Supplies</li>
            <li>Invoices to Customers</li>
            <li>Notes Receivable Ledgers, Schedules</li>
            <li>
              Payroll Records and Summaries, including payment to pensioners
            </li>
            <li>Plant Cost Ledgers</li>
            <li>Purchasing Department Copies of Purchase Orders</li>
            <li>Sales Records</li>
            <li>Subsidiary Ledgers</li>
            <li>Time Books</li>
            <li>Travel and Entertainment Records</li>
            <li>Vouchers for Payments to Vendors, Employees, etc.</li>
            <li>Voucher Register, Schedules</li>
          </ul>
          <p>
            <strong
              ><a name="bforever"></a>Business Records To Keep Forever</strong
            >
          </p>
          <p>
            While federal guidelines do not require you to keep tax records
            "forever," in many cases there will be other reasons you'll want to
            retain these documents indefinitely.
          </p>
          <ul>
            <li>Audit Reports from CPAs/Accountants</li>
            <li>
              Cancelled Checks for Important Payments (especially tax payments)
            </li>
            <li>Cash Books, Charts of Accounts</li>
            <li>Contracts, Leases Currently in Effect</li>
            <li>Corporate Documents (incorporation, charter, by-laws, etc.)</li>
            <li>Documents substantiating fixed asset additions</li>
            <li>Deeds</li>
            <li>Depreciation Schedules</li>
            <li>Financial Statements (Year End)</li>
            <li>General and Private Ledgers, Year End Trial Balances</li>
            <li>
              Insurance Records, Current Accident Reports, Claims, Policies
            </li>
            <li>Investment Trade Confirmations</li>
            <li>IRS Revenue Agents' Reports</li>
            <li>Journals</li>
            <li>Legal Records, Correspondence and Other Important Matters</li>
            <li>Minute Books of Directors and Stockholders</li>
            <li>Mortgages, Bills of Sale</li>
            <li>Property Appraisals by Outside Appraisers</li>
            <li>Property Records</li>
            <li>Retirement and Pension Records</li>
            <li>Tax Returns and Worksheets</li>
            <li>Trademark and Patent Registrations</li>
          </ul>
          <p>
            <strong
              ><a name="p1"></a>Personal Documents To Keep For One Year</strong
            >
          </p>
          <ul>
            <li>Bank Statements</li>
            <li>Paycheck Stubs (reconcile with W-2)</li>
            <li>Canceled checks</li>
            <li>
              Monthly and quarterly mutual fund and retirement contribution
              statements (reconcile with year end statement)
            </li>
          </ul>
          <p>
            <strong
              ><a name="p3"></a>Personal Documents To Keep For Three
              Years</strong
            >
          </p>
          <ul>
            <li>Credit Card Statements</li>
            <li>Medical Bills (in case of insurance disputes)&nbsp;</li>
            <li>Utility Records</li>
            <li>Expired Insurance Policies&nbsp;</li>
          </ul>
          <p>
            <strong
              ><a name="p7"></a>Personal Documents To Keep For Six Years</strong
            >
          </p>
          <ul>
            <li>Supporting Documents For Tax Returns</li>
            <li>Accident Reports and Claims</li>
            <li>Medical Bills (if tax-related)</li>
            <li>Property Records / Improvement Receipts</li>
            <li>Sales Receipts</li>
            <li>Wage Garnishments</li>
            <li>Other Tax-Related Bills</li>
          </ul>
          <p>
            <strong
              ><a name="pforever"></a>Personal Records To Keep Forever</strong
            >
          </p>
          <ul>
            <li>CPA Audit Reports</li>
            <li>Legal Records</li>
            <li>Important Correspondence</li>
            <li>Income Tax Returns</li>
            <li>Income Tax Payment Checks</li>
            <li>Investment Trade Confirmations</li>
            <li>Retirement and Pension Records</li>
          </ul>
          <p>
            <strong><a name="special"></a>Special Circumstances</strong>
          </p>
          <ul>
            <li>Car Records (keep until the car is sold)</li>
            <li>Credit Card Receipts (keep with your credit card statement)</li>
            <li>Insurance Policies (keep for the life of the policy)</li>
            <li>
              Mortgages / Deeds / Leases (keep 6 years beyond the agreement)
            </li>
            <li>Pay Stubs (keep until reconciled with your W-2)</li>
            <li>
              Property Records / improvement receipts (keep until property sold)
            </li>
            <li>Sales Receipts (keep for life of the warranty)</li>
            <li>Stock and Bond Records (keep for 6 years beyond selling)</li>
            <li>
              Warranties and Instructions (keep for the life of the product)
            </li>
            <li>
              Other Bills (keep until payment is verified on the next bill)
            </li>
            <li>
              Depreciation Schedules and Other Capital Asset Records (keep for 3
              years after the tax life of the asset)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
