<div id="fga">
  <p>
    Using your credit cards wisely is largely a matter of being informed - e.g.,
    how much your card company is charging you for credit - and by following
    some simple tips for using the card.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Credit CARD Act of 2009</a></li>
      <li><a href="#1">Examine The Card's Terms</a></li>
      <li><a href="#2">Considerations Other Than Cost</a></li>
      <li>
        <a href="#3"
          >How Different Balance Computations Affect The Cost of Credit</a
        >
      </li>
      <li><a href="#4">Rebate and Rewards Cards: Are They a Good Deal?</a></li>
      <li><a href="#5">Use It Wisely</a></li>
      <li><a href="#6">How To Dispute Improper Charges</a></li>
      <li><a href="#8">Government and Non-Profit Agencies</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <h3 class="cellcolor"><a name="1"></a>Credit CARD Act of 2009</h3>

  <p>
    Known as the Credit CARD Act of 2009, the Credit Card Accountability
    Responsibility and Disclosure Act of 2009 went into effect on February 22,
    2010. The legislation strengthens consumer protection in the credit card
    market and is a comprehensive reform measure to protect credit card holders
    in the US against unfair interest rate hikes and hidden fees. Specifically,
    the legislation addresses:
  </p>
  <ul>
    <li>Unfair Rate Increases</li>
    <li>Unfair Fee Traps</li>
    <li>Plain Sight /Plain Language Disclosures</li>
    <li>Accountability of Credit Card Issuers</li>
    <li>Protections for Students and Young People</li>
  </ul>

  <p>
    Even with the new law in place, consumers should still be wary and shop
    around for the credit card that's best for them.
  </p>

  <h3 class="cellcolor"><a name="1"></a>Examine The Card's Terms</h3>

  <p>
    To choose a credit card wisely, you must first review and understand the
    terms and features of the various cards. This can add up to very respectable
    savings over a period of time. In addition, you should also know how to use
    your cards wisely to keep your costs to a minimum. The Financial Guide
    explains how to achieve these goals.
  </p>

  <p>
    Chances are you have received offers in the mail asking if you would like to
    open credit card accounts. Frequently, these offers say that you have been
    "preapproved" for the card, often with a very attractive interest rate
    (usually, a short-term "low-ball" rate) and with a line of credit
    purportedly set aside for your use (although few people ultimately qualify
    for the credit line in the promotional literature). Typically, these offers
    urge you to accept quickly, "before the offer expires." However, before
    accepting a credit card offer, understand the card's credit terms and
    compare costs of similar cards to get the terms and features you want.
  </p>

  <p>
    Making an informed decision about a credit card is largely a matter of
    finding out what the actual cost of credit is under that card. Credit cards
    involve not only a "finance charge" - a charge for the convenience of
    borrowing - but usually other, less obvious charges as well.
  </p>

  <p>
    Learn which credit terms and conditions apply. Each affects the overall cost
    of the credit you will be using. Due to the provisions of the Fair Credit
    and Charge Card Disclosure Act (1998), you can compare terms and fees before
    you agree to open a credit card or charge card (no interest) account. Be
    sure to consider and compare the terms listed below, which both direct-mail
    applications and preapproved solicitations must reveal.
  </p>

  <p>
    Which card is best for you may depend on how you plan to use it. If you plan
    to pay bills in full each month, the size of the annual fee or other fees,
    and not the periodic and annual percentage rate, may be more important. If
    you expect to use credit cards to pay for purchases over time, the APR and
    the balance computation method are important terms to consider. In either
    case, keep in mind that your costs will also be affected by the grace
    period.
  </p>

  <p></p>
  <h2>Annual Percentage Rate</h2>
  <p></p>

  <p>
    The "annual percentage rate," or APR, is disclosed to you when you apply for
    a card, again when you open the account, and on each bill you receive. It is
    a measure of the cost of credit, expressed as a yearly rate.
  </p>

  <p>
    The card issuer also must disclose the "periodic rate," the rate the card
    issuer applies to your outstanding account balance to figure the finance
    charge for each billing period.
  </p>

  <p></p>
  <h2>Variable Rates</h2>
  <p></p>
  <p>
    Some credit card plans allow the card issuer to change the annual percentage
    rate on your account when interest rates or other economic indicators
    (called indexes) change. Because the rate change is linked to the
    performance of the index, which may rise or fall, these plans are commonly
    called "variable rate" plans. Rate changes raise or lower the amount of the
    finance charge you pay on your account. If the credit card you are
    considering has a variable rate feature, the card issuer must tell you that
    the rate may vary and how the rate is determined, including which index is
    used and what additional amount (the "margin") is added to the index to
    determine your new rate. You also must be told how much and how often your
    rate may change.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> If you find yourself in financial trouble,
      please see the Financial Guide:
      <a
        href="?item=31&amp;cat=Getting Out of Financial Trouble: Steps You Can Take"
        >GETTING OUT OF FINANCIAL TROUBLE: Steps You Can Take.</a
      >
    </p>
  </blockquote>

  <p></p>
  <h2>Grace Period</h2>
  <p></p>

  <p>
    A grace period allows you to avoid the finance charge by paying your current
    balance in full before the due date shown on your statement. Knowing whether
    a credit card plan gives you a grace period and the length of this period is
    especially important if you plan to pay your account in full each month.
  </p>

  <p>
    If there is no grace period, the card issuer will impose a finance charge
    from the date you use your credit card or from the date each credit card
    transaction is posted to your account. If your credit card allows a grace
    period, the card issuer must mail your bill at least 14 days before your
    payment is due. This policy ensures that you have enough time to make your
    payment by the due date.
  </p>

  <blockquote class="caution">
    <p>
      The grace period is generally misleading. The period does not start when
      the statement is mailed and end when your check is received, as many
      consumers believe. In fact, it usually starts a few days before the
      statement is mailed and ends a few days after the payment is received,
      based on certain accounting dates adopted by the credit card company.
      Consequently, a 25-day grace period (a fairly common period) for paying
      the statement may water down to a much shorter period.
    </p>
  </blockquote>

  <p></p>
  <h2>Annual Fees</h2>
  <p></p>

  <p>
    An annual fee is a fee that is automatically charged to your credit card
    account once a year. Fees typically range from $25 to $500, depending on
    your credit card. The fee is for benefits that come with a particular credit
    card. In general, the more benefits associated with the card, the higher the
    fee; however, many credit cards have no annual fee so it pays to shop
    around.
  </p>

  <p></p>
  <h2>Transaction Fees and Other Charges</h2>
  <p></p>

  <p>
    A credit card also may involve other types of fees. For example, some card
    issuers charge a fee when you use the card to obtain a cash advance, when
    you fail to make a payment on time (late fees), or when you go over your
    credit limit (over-limit fees). The Credit CARD Act of 2009 also addresses
  </p>

  <p>
    The Credit CARD Act of 2009 specifically addresses late fees and over-limit
    fees in that card holders must be given at least 21 days from the time of
    mailing to pay their bill and all late fee traps such as weekend deadlines
    and due dates that change each month are eliminated. In addition, the law
    helps consumers avoid over-limit fees because issuing institutions must now
    obtain a consumer's permission to process transactions that would place the
    account over the limit.
  </p>

  <p>
    Balance transfer fees are incurred when balances are transferred from
    high-interest credit cards to lower interest cards. Fees for balance
    transfers are typically based on a percentage of the amount being
    transferred (typically 3% or 5%), with limits on minimum or maximum fee
    amounts. Many credit card issuers offer zero percent interest on balance
    transfers for the first six to 12 months that revert to regular interests
    rates at the end of the promotion period.
  </p>

  <p>
    Other types of fees can include foreign transaction fees, fees for receiving
    a copy of monthly statements, replacing lost cards, or for using the credit
    card as a source of funds for overdraft protection.
  </p>

  <p></p>
  <h2>Balance Computation Method for the Finance Charge</h2>
  <p></p>

  <p>
    If your plan has no grace period or if you expect to pay for purchases over
    time, it is important to know how the card issuer will calculate your
    finance charge. This charge will vary depending upon the method the card
    issuer uses to figure your balance. The method used can make a difference,
    sometimes a big difference, in how much finance charge you will pay even
    when the APR is identical to that charged by another card issuer and the
    pattern of purchases and payments is the same.
  </p>

  <p>
    Thanks to the Credit CARD Act of 2009, credit card issuers are now required
    to show consumers on their periodic statements how long it would take to pay
    off the existing balance and the total interest cost if the consumer paid
    only the minimum due, as well as the payment amount and total interest cost
    to pay off the existing balance in 36 months.
  </p>

  <p></p>
  <h2>Average Daily Balance</h2>
  <p></p>

  <p>
    The average daily balance method (including or excluding new purchases)
    gives you credit for your payment from the day the card issuer receives it.
    To compute the balance due, the card issuer totals the beginning balance for
    each day in the billing period and deducts any payments credited to your
    account that day. New purchases may or may not be added to the balance,
    depending on the plan, but cash advances typically are added. The resulting
    daily balances are added up for the billing cycle and the total is then
    divided by the number of days in the billing period to arrive at the
    "average daily balance." This is the most common method used by credit card
    issuers.
  </p>

  <p></p>
  <h2>Adjusted Balance</h2>
  <p></p>

  <p>
    This balance is computed by subtracting the payments you made and any
    credits you received during the present billing period from the balance you
    owed at the end of the previous billing period. New purchases that you made
    during the billing period are not included. Under the adjusted balance
    method, you have until the end of the billing cycle to pay part of your
    balance and you avoid the interest charges on that portion. Some creditors
    exclude prior, unpaid finance charges from the previous balance. The
    adjusted balance method usually is the most advantageous to card users.
  </p>

  <p></p>
  <h2>Previous Balance</h2>
  <p></p>

  <p>
    As the name suggests, this balance is simply the amount that you owed at the
    end of the previous billing period. Payments, credits, or new purchases made
    during the current billing period are not taken into account. Some creditors
    also exclude unpaid finance charges in computing this balance. If you do not
    understand how the balance on your account is computed, ask the card issuer.
    (An explanation of how the balance was determined must appear on the billing
    statements the card issuer provides you and on applications and preapproved
    solicitations the card issuer may send you.)
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Considerations Other Than Cost</h3>

  <p>
    When shopping for a credit card, you probably will want to look at other
    factors besides cost, such as whether the credit limit is high enough to
    meet your needs, how widely the card is accepted, and what services and
    features are available under the plan. You may be interested, for example,
    in "affinity cards," all-purpose credit cards that are sponsored by
    professional organizations, college alumni associations, and some members of
    the travel industry. Frequently, an affinity card issuer donates a portion
    of the annual fees or transaction charges to the sponsoring organization or
    allows you to qualify for free travel or other bonuses.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="3"></a>How Different Balance Computations Affect The Cost of Credit
  </h3>

  <p>
    "While the interest rate is a major factor in determining your interest
    cost, the method of computing the balance to which the interest rate is
    applied can also be significant. The following table shows how your interest
    cost can vary when the Average Daily Balance, Adjusted Balance and Previous
    Balance methods are used."
  </p>

  <p></p>
  <table cellspacing="0" cellpadding="7" width="450" border="1">
    <tbody>
      <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">
          <h3>
            Average Daily Balance<br />
            (<em>including</em> new purchases)
          </h3>
        </td>
        <td valign="top">
          <h3>
            Average Daily Balance<br />
            (<em>excluding</em> new purchases)
          </h3>
        </td>
      </tr>
      <tr>
        <td valign="top">Monthly rate</td>
        <td valign="top">
          <p>1-1/2%</p>
        </td>
        <td valign="top">
          <p>1-1/2%</p>
        </td>
      </tr>
      <tr>
        <td valign="top">APR</td>
        <td valign="top">
          <p>18%</p>
        </td>
        <td valign="top">
          <p>18%</p>
        </td>
      </tr>
      <tr>
        <td valign="top">Previous Balance</td>
        <td valign="top">
          <p>$400</p>
        </td>
        <td valign="top">
          <p>$400</p>
        </td>
      </tr>
      <tr>
        <td valign="top">New and Purchases</td>
        <td valign="top">
          <p>$50 on the 18th day</p>
        </td>
        <td valign="top">
          <p>$50 on the 18th day</p>
        </td>
      </tr>
      <tr>
        <td valign="top">Payments</td>
        <td valign="top">
          <p>$300 on 15th day (new balance = $100)</p>
        </td>
        <td valign="top">
          <p>$300 on 15th day (new balance = $100)</p>
        </td>
      </tr>
      <tr>
        <td valign="top">Average Daily Balance</td>
        <td valign="top">
          <p>$270*</p>
        </td>
        <td valign="top">
          <p>$250**</p>
        </td>
      </tr>
      <tr>
        <td valign="top">Finance Charge</td>
        <td valign="top">
          <p>$4.05 (1-1/2% of $270)</p>
        </td>
        <td valign="top">
          <p>$3.75 (1-1/2% of $250)</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>

  <p>* To figure average daily balance (including new purchases):</p>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;($400 x 15 days) + ($100 x 3 days)
    + ($150 x 12 days) divided by 30 days = $270
  </p>

  <p>** To figure average daily balance (excluding new purchases):</p>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;($400 x 15 days) + ($100 x 15
    days) divided by 30 days = $250
  </p>

    <table cellspacing="1" cellpadding="5" width="450" border="1">
      <tbody>
        <tr>
          <td valign="top">&nbsp;</td>
          <td valign="top">
            <h3>Adjusted Balance</h3>
          </td>
          <td valign="top">
            <h3>Previous Balance</h3>
          </td>
        </tr>
        <tr>
          <td valign="top">Monthly rate</td>
          <td valign="top">
            <p>1-1/2%</p>
          </td>
          <td valign="top">
            <p>1-1/2%</p>
          </td>
        </tr>
        <tr>
          <td valign="top">APR</td>
          <td valign="top">
            <p>18%</p>
          </td>
          <td valign="top">
            <p>18%</p>
          </td>
        </tr>
        <tr>
          <td valign="top">Previous Balance</td>
          <td valign="top">
            <p>$400</p>
          </td>
          <td valign="top">
            <p>$400</p>
          </td>
        </tr>
        <tr>
          <td valign="top">Payments</td>
          <td valign="top">
            <p>$300</p>
          </td>
          <td valign="top">
            <p>$300</p>
          </td>
        </tr>
        <tr>
          <td valign="top">Average Daily Balance</td>
          <td valign="top">
            <p>N/A</p>
          </td>
          <td valign="top">
            <p>N/A</p>
          </td>
        </tr>
        <tr>
          <td valign="top">Finance Charge</td>
          <td valign="top">
            <p>$1.50 (1-1/2% of&nbsp; $100)</p>
          </td>
          <td valign="top">
            <p>$6.00 (1-1/2% of&nbsp; $400)</p>
          </td>
        </tr>
      </tbody>
    </table>

  <p>
    As you can see, the finance charge varies based upon which balance is used
    and whether new purchases are included or excluded.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="4"></a>Rebate and Rewards Cards: Are They a Good Deal?
  </h3>

  <p>
    The use of rebate and rewards cards has grown rapidly. Costco, for example,
    sponsors a credit card (Costco Cash Rebate card) that give rebates on the
    cost of merchandise you buy with the card once you spend a certain amount.
    You usually get larger rebates on the sponsoring company's products and
    lower rebates on other card charges. Credit card solicitations promise cash,
    frequent-flier miles or points that will buy everything from hotel rooms to
    gas.
  </p>

  <p>
    You will get a good deal from a rebate card if you spend a lot, and if you
    pay your bill in full each month. If you carry a balance on the card, what
    you gain in rebates you will lose in the excessive interest charged by
    credit cards.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>Use Credit Cards Wisely</h3>

  <p>Here are five suggestions for anyone planning to use credit cards:</p>

  <p>
    1. Pay bills promptly to keep finance charges as low as possible. Keep
    copies of sales slips and promptly compare charges when your bills arrive.
  </p>

  <p>
    2. Keep a list of your credit card account numbers, telephone numbers of
    each card issuer, and login information (if you pay your credit cards
    online) in a safe place in case your cards are lost or stolen.
  </p>

  <p>
    3. Protect your credit cards and account numbers to prevent unauthorized
    use. Draw a line through blank spaces above the total when you sign
    receipts. Rip up or retain carbons.
  </p>

  <p>
    4. Deal only with reliable firms. Check with your local consumer protection
    agency or the Better Business Bureau (BBB) closest to where the business is
    located. Study the advertising offer carefully. Ask the company about its
    warranty, refund and exchange policies. If you cannot get the answers to
    your questions, or there are any doubtful claims, don't buy.
  </p>

  <p>
    5. Never Send Cash. Never give out your credit, debit charge card, or bank
    account number unless you have checked out the company or have done business
    with them before. Try to pay by charge or credit card, so that you have
    record in the event of a dispute with the merchant.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="6"></a>How To Dispute Improper Charges</h3>

  <p>
    If there is a problem with your order, for instance, if you were billed for
    the wrong amount, you never got the product, the goods arrived in damaged
    condition, or the merchandise or services were misrepresented, then try to
    resolve it by following these steps:
  </p>

  <p>
    When you have charged your purchase, you are entitled to a response to your
    complaint within 30 days, and the problem must be resolved within two
    billing cycles (but not more than 90 days). If you used a debit card, you
    are entitled to a response within 10 days. However, if the financial
    institution that issued the card needs more time, it may take up to 45 days,
    provided it credits your account with the disputed amount until the dispute
    is resolved.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a listing of what merchants are
      allowed to ask, please see the Financial Guide:
      <a
        href="?item=29&amp;cat=Merchant Credit Card Abuses: What They Cannot Ask You To Do"
        >MERCHANT CREDIT CARD ABUSES: What They Cannot Ask You To Do</a
      >
    </p>
  </blockquote>

  <p>
    Write immediately to the company from whom you ordered, explaining the
    problem and asking for a specific resolution. Be sure to include your name,
    address, and daytime phone number, your order or invoice number, a copy of a
    canceled check, or any other helpful information about your purchase. You
    generally have 60 days after receiving a bill to dispute charges. Pay any
    other charges on your bill that you are not disputing.
  </p>

  <p>
    If you charged your purchase to a charge or credit card account, or you
    arranged for the payment to be automatically withdrawn from a bank account,
    send a copy of your letter to the card issuer or bank.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For a more in-depth discussion of your
      rights in the event of a dispute with a merchant, please see the Financial
      Guide:
      <a
        href="?item=30&amp;cat=Your Credit Card Rights: What To Do If You Have a Problem"
        >YOUR CREDIT CARD RIGHTS: What To Do If You Have A Problem.</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>Government and Non-Profit Agencies</h3>

  <p>
    The following agencies are responsible for enforcing federal laws that
    govern credit card transactions. Questions concerning a particular card
    issuer should be directed to the enforcement agency responsible for that
    issuer.
  </p>

  <p><strong>State Member Banks of the Reserve System:</strong></p>

  <p>
    Consumer &amp; Community Affairs<br />Board of Governors of the Federal
    Reserve System<br />20th &amp; Constitution Avenue, N.W.<br />Washington,
    D.C. 20551
  </p>

  <p><strong>National Banks:</strong></p>

  <p>
    Comptroller of the Currency <br />
    Customer Assistance Group<br />
    1301 McKinney Street<br />
    Suite 3450<br />
    Houston, TX 77010<br />
    Tel. (800) 613-6743
    <br />
  </p>

  <p><strong>Federal Credit Unions:</strong></p>
  <p>
    National Credit Union Administration<br />1775 Duke St # 4206<br />Alexandria,
    VA 22314-6115<br />
  </p>

  <p><strong>Non-Member Federally Insured Banks:</strong></p>

  <p>
    Federal Deposit Insurance Corporation <br />
    Consumer Response Center <br />
    1100 Walnut St, Box #11 <br />
    Kansas City, MO 64106
  </p>

  <p>
    <strong
      >Federally Insured Savings and Loans, and Federally Chartered State
      Banks:</strong
    >
  </p>

  <p>
    Comptroller of the Currency <br />
    Customer Assistance Group<br />
    1301 McKinney Street<br />
    Suite 3450<br />
    Houston, TX 77010<br />
    Tel. (800) 613-6743
  </p>

  <p>
    <strong
      >Other Credit Card Issuers (includes retail gasoline companies):</strong
    >
  </p>

  <p>
    Bureau of Consumer Protection<br />Federal Trade Commission<br />600
    Pennsylvania Avenue, NW<br />Washington, D.C. 20580
  </p>

  <p><strong>The U.S. Postal Inspection Service:</strong></p>

  <p>
    This office covers mail fraud, sexually offensive materials, solicitations
    that look like government materials but are not. If you suspect such
    violations, contact your local Postmaster or Postal Inspector or:
  </p>

  <p>
    Criminal Investigations Service Center<br />Attn: Mail Fraud<br />222 S.
    Riverside Plaza Ste. 1250<br />Chicago Il 60606-6100<br />Tel. 877-876-2455
  </p>

  <p><strong>The Federal Trade Commission:</strong></p>

  <p>
    Does not handle individual complaints, but reporting failure to deliver,
    late delivery, unordered merchandise, misrepresentation or fraud helps
    uncover widespread abuses that the FTC might take action to stop.
  </p>

  <p>
    Division of Enforcement<br />Federal Trade Commission<br />600 Pennsylvania
    Avenue, NW<br />Washington, DC 20580<br />Tel. (202) 326-2222
  </p>

  <p><strong>National Do Not Call Registry:</strong></p>

  <p>
    If you wish to have your name removed from telephone lists of marketing
    companies.
  </p>

  <p>
    National Do Not Call Registry<br />Federal Trade Commission<br />600
    Pennsylvania Avenue, NW<br />Washington, DC 20580<br />website:
    www.donotcall.gov
  </p>

  <p><strong>Direct Marketing Mail Opt-Out:</strong></p>

  <p>Consumers who do not wish to receive promotional mail at home</p>

  <p>
    Direct Marketing Association<br />1120 Avenue of the Americas <br />NY, NY
    New York, NY 10036-6700<br />Tel. 212.768.7277<br />website:
    www.DMAChoice.org
  </p>

  <p><strong>Low or No-Cost Credit Cards:</strong></p>

  <p>
    Bankrate.com lists banks charging no fees and low interest rates for credit
    cards. Visit the website: www.bankrate.com
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
