<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/business-services">Business Services</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/business-services/new-business-formation">New Business Formation</span>
    </li>
  </ol>
</nav>
<app-heading heading="New Business Formation"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong
            >Helping You Build the Foundation for a Successful Business</strong
          >
        </h2>
        <p>
          The decision to start a new business is an exciting one, but as every
          experienced business owner knows, there's more to it than developing a
          product and hoping it sells. As an entrepreneur, you're probably a
          "big picture" person with a vision. You'd rather not deal with
          nitty-gritty details like choosing a business entity, sales and
          payroll tax, or accounting systems that help you manage cash flow. The
          good news is that we're here to help you figure it out.
        </p>
        <h3>What We Do for You:</h3>
        <ul>
          <li>
            Determine which business entity best meets your goals and minimizes
            tax liability
          </li>
          <li>Partnership agreements</li>
          <li>Prepare a cash flow budget</li>
          <li>
            Create a business plan to help you secure financing (if needed)
          </li>
          <li>Set up an accounting system using software that works for you</li>
          <li>
            Create billing systems and implement policies and procedures for
            collections
          </li>
          <li>
            Make sure you are compliant with state, local, and federal tax laws
            such as sales and use tax, payroll tax, and Federal EIN (Employer
            Identification Number)
          </li>
          <li>
            Prepare annual tax returns and quarterly estimated taxes as needed
          </li>
          <li>
            Assist you in filing paperwork for state and local licenses and
            permits as required
          </li>
          <li>Assess your business insurance needs</li>
        </ul>
        <h3>Planning for Success - and Profit</h3>
        <p>
          The keys to a successful - and profitable - business are meticulous
          planning and a methodical approach to running your business. Failing
          to do this in the initial stages of business formation is often a
          recipe for disaster, and it's the reason most businesses fail. Don't
          let it happen to you.
        </p>
        <p>
          <strong
            >Say "yes" to making your dream come true. If you're ready to become
            your own boss and get your new business off to an excellent start,
            call us today or fill out the form below.</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 d-none d-md-block" id="image-container-1">
      <div class="position-relative text-center" id="image-container-2">
        <img
          class="mx-auto"
          id="img-woman-1"
          width="260px"
          height="400px"
          src="../../../../assets/images/woman-1.png"
        />
        <button mat-raised-button (click)="openContactUsDialog()">
          Request A Free Consultation
        </button>
      </div>
    </div>
  </div>
</div>
