<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services/tax-relief">Tax Relief</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/IRS-levies">IRS Levies</span>
    </li>
  </ol>
</nav>
<app-heading heading="IRS Levies"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <p>
          Levies can really do a lot of damage and even ruin your life. A levy
          is the IRS's way of getting your immediate attention. What they are
          saying is, we have tried to communicate with you but you have ignored
          us. Levies are used to seize your wages and whatever other assets you
          have. If you own it, they can take it. That includes checking
          accounts, autos, stocks, bonds, boats, paychecks, and even Social
          Security checks!
        </p>
      </div>
      <div style="text-align: left">
        <p>
          Imagine waking up one morning and finding all your bank accounts have
          been cleaned out. They will take every dime. If this amount did not
          cover what is owed, they'll keep taking your money until you cover
          your tax liability. They know that levying your bank account will
          cause checks to bounce, alerting many people that you have tax
          problems. But they don't care! Their sole objective is to collect the
          taxes owed. Period.
        </p>
        <p>
          As bad as that is, a worse method is a wage levy (or garnishment).
          That's when most of your pay check goes to the IRS, they don't leave
          you enough to pay the bills, and most of your check goes to the IRS
          each and every week until the debt is paid.
        </p>
        <p>
          If that doesn't accomplish what they want, they'll pull out all the
          stops. They'll <strong>seize</strong> your assets, and
          <strong>sell</strong> them at auction. That includes everything you
          own; home, cars, boats, jewelry, motorcycles, insurance polices,
          retirement funds, anything of value.
        </p>
        <p>
          We are often able to get those levies released and help you get out of
          this terrible situation. Our goal is to get you even with the IRS,
          with what you can afford, and let you start life anew.
        </p>
      </div>
      <p>
        Please complete the form below to get a <b>free consultation</b> with
        our tax specialist.
      </p>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
