<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">What is a living trust?</a></li>
      <li><a href="#2">What is probate?</a></li>
      <li><a href="#3">Do I need a living trust?</a></li>
      <li><a href="#4">How does a living trust avoid probate?</a></li>
      <li><a href="#5">Is it expensive to create a living trust?</a></li>
      <li>
        <a href="#6">Is a trust document ever made public, like a will?</a>
      </li>
      <li><a href="#7">Does a trust protect property from creditors?</a></li>
      <li><a href="#8">Do I need a trust if I'm young and healthy?</a></li>
      <li><a href="#9">Can a living trust save on estate taxes?</a></li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor"><a name="1"></a>What is a living trust?</h3>

    <p>
      A living trust is an entity that exists only on paper (similar to a
      corporation) but is legally capable of owning property. However, a live
      person called the trustee must be in charge of the property. Further, you
      can actually be the trustee of your own living trust, keeping full control
      over all property legally owned by the trust.
    </p>

    <p>
      There are many kinds of trusts. A living trust (also called revocable
      trust, revocable living trust or inter vivos trust) is simply a trust you
      create while you're alive, rather than one that is created upon your death
      under the terms of your will.
    </p>
    <p>
      Property held in trust that is actually "owned" by the trustees of the
      trust, subject to the rights of the beneficiaries. The trust itself
      doesn't actually own anything. All living trusts are designed to avoid
      probate. Some also help you save on estate taxes while others let you set
      up long-term property management.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="2"></a>What is probate?</h3>

    <p>
      Probate is the legal process of paying the deceased's debts and
      distributing the estate to the rightful heirs. This process usually
      entails:
    </p>

    <ul>
      <li>
        The appointment of an individual by the court to act as executor of the
        estate. Executors are sometimes referred to as "personal
        representatives." Most people name an executor as part of their will. If
        there is no will, the court appoints an executor, most often a spouse if
        the deceased is married.
      </li>
      <li>Proving that the will is valid.</li>
      <li>
        Informing creditors, heirs, and beneficiaries that the will is probated.
      </li>
      <li>
        Disposing of the estate by the executor in accordance with the will or
        state law.
      </li>
    </ul>

    <p>
      The executor named in the will must file a petition with the court after
      the death. There is a fee for the probate process. Depending on the size
      and complexity of the probable assets, probating a will may require legal
      assistance.
    </p>

    <p>
      Assets that are jointly owned by the deceased and someone else are not
      subject to probate. Proceeds from a life insurance policy or Individual
      Retirement Account (IRA) that are paid directly to a beneficiary are also
      not subject to probate.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="3"></a>Do I need a living trust?</h3>

    <p>
      A living trust is a useful estate and tax planning document that keeps
      your estate out of probate court. While some people may not need one there
      are several reasons why it makes sense such as having a beneficiary who is
      disabled, owning property in another state or making it easier for your
      heirs to administer your estate after death.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>How does a living trust avoid probate?
    </h3>

    <p>
      Property you transfer into a living trust before your death doesn't go
      through probate. The successor trustee - the person you appointed to
      handle the trust after your death - simply transfers ownership to the
      beneficiaries you named in the trust. In many cases, the whole process
      takes only a few weeks and there are no lawyer or court fees to pay. When
      the property has all been transferred to the beneficiaries, the living
      trust ceases to exist.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Is it expensive to create a living trust?
    </h3>

    <p>
      The cost of creating a living trust depends on what you want to achieve.
      The more complicated a living trust is, the more expensive it will be.
      Also important to note is that while the fees associated with creating a
      living will are paid upfront a living trust actually saves you money and
      time by avoiding probate court.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="6"></a>Is a trust document ever made public, like a will?
    </h3>

    <p>
      A will becomes a matter of public record when it is submitted to a probate
      court, as do all the other documents associated with probate - inventories
      of the deceased person's assets and debts, for example. The terms of a
      living trust, however, need not be made public.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="7"></a>Does a trust protect property from creditors?
    </h3>

    <p>
      Holding assets in a revocable trust does not shelter those assets from
      creditors. A creditor who wins a lawsuit against you can go after the
      trust property just as if you still owned it in your own name.
    </p>
    <p>
      After your death, however, property in a living trust can be quickly and
      quietly distributed to the beneficiaries (unlike property that must go
      through probate). That complicates matters for creditors; by the time they
      find out about your death, your property may already be dispersed, and the
      creditors have no way of knowing exactly what you owned (except for real
      estate, which is always a matter of public record). It may not be worth
      the creditor's time and effort to try to track down the property and
      demand that the new owners use it to pay your debts.
    </p>
    <p>
      On the other hand, probate can offer a kind of protection from creditors.
      During probate, known creditors must be notified of the death and given a
      chance to file claims. If they miss the deadline to file, they're out of
      luck forever.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="8"></a>Do I need a trust if I'm young and healthy?
    </h3>

    <p>
      Probably not. At this stage in your life, your main estate planning goals
      are probably making sure that in the unlikely event of your premature
      death, your property is distributed how you want it to be and, if you have
      young children, that they are cared for. You don't need a trust to
      accomplish those ends; writing a will, and perhaps buying some life
      insurance is sufficient.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor"><a name="9"></a>Can a living trust save taxes?</h3>

    <p>
      A simple probate-avoidance living trust has no effect on either income or
      estate taxes. More complicated living trusts, however, can greatly reduce
      your federal estate tax bill if you expect your estate to owe estate tax
      at your death.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
