/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 576px){
  .align-sm-center {
    text-align: center;
  }
}

.bg-color {
    background-color: #2d82a1;
    border-color: #2d82a1;
    color: #fff;
}

.bg-color-2 {
  background-color: #fff;
  /* border-color: #2d82a1; */
  color: #2d3e50;
}

.bg-color-footer {
  color: #fff;
  background-color: black;
  border-color: black
}

.z-index-1 {
  z-index: 1;
}

.max-w-400 {
  max-width: 400px;
}

.postion-sticky-top {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}
