/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 576px){
  .align-sm-center {
    text-align: center;
  }
}

.bg-color {
    background-color: #2d82a1 !important;
    border-color: #2d82a1 !important;
    color: #fff !important;
}

.bg-color-footer {
  color: #fff;
  background-color: black;
  border-color: black
}

