<div id="fga">
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Will my estate have to pay taxes after I die?</a></li>
      <li><a href="#2">Do states also impose estate taxes?</a></li>
      <li><a href="#3">How can I minimize federal estate taxes?</a></li>
      <li><a href="#4">Can I avoid paying state estate taxes?</a></li>
      <li>
        <a href="#5"
          >Can I just give all my property away before I die and avoid estate
          taxes?</a
        >
      </li>
    </ul>
  </div>
  <!-- toc -->

  <div id="faq">
    <h3 class="cellcolor">
      <a name="1"></a>Will my estate have to pay taxes after I die?
    </h3>

    <p>
      It depends. The federal government imposes estate taxes at your death only
      if your property is worth more than a certain amount based on the year of
      death. By some estimates, this means more than 99 percent of estates do
      not pay any estate tax. In 2022, the exemption limit is $12,060,000
      ($11,700,000 in 2021). Estates worth more than $12,060,000 are taxed at 40
      percent. For married couples, the exemption is $24.12 million. There are a
      couple of important exceptions to the general rule, however. All property
      left to a spouse is exempt from the tax, as long as the spouse is a U.S.
      citizen and estate taxes won't be assessed on any property you leave to a
      tax-exempt charity.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="2"></a>Do states also impose estate taxes?
    </h3>

    <p>
      Most states impose estate taxes of some kind. In many cases, there's a
      state inheritance tax only where a federal estate tax would apply. But
      some states have estate taxes that are "uncoupled" from the federal tax,
      and some have inheritance taxes.
    </p>

    <p>
      Inheritance taxes are paid by your inheritors, not your estate. Typically,
      how much they pay depends on their relationship to you.
    </p>

    <p>
      Twelve states and the District of Columbia impose an estate tax while six
      states have an inheritance tax. Maryland is the only state with both an
      estate tax and an inheritance tax.
    </p>

    <p><strong>Estate Tax</strong></p>
    <ul>
      <li>Connecticut</li>
      <li>District of Columbia</li>
      <li>Hawaii</li>
      <li>Illinois</li>
      <li>Maine</li>
      <li>Maryland</li>
      <li>Massachusetts</li>
      <li>Minnesota</li>
      <li>New York</li>
      <li>Oregon</li>
      <li>Rhode Island</li>
      <li>Vermont</li>
      <li>Washington</li>
    </ul>
    <p><strong>Inheritance Tax</strong></p>
    <ul>
      <li>Iowa</li>
      <li>Kentucky</li>
      <li>Maryland</li>
      <li>Nebraska</li>
      <li>New Jersey</li>
      <li>Pennsylvania</li>
    </ul>
    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="3"></a>How can I minimize federal estate taxes?
    </h3>

    <p>
      There are several ways. One common way to do this is to leave your
      children, directly or in trust, an amount up to the estate tax exemption
      amount ($12,060,000 in 2022) and the balance to your spouse.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="4"></a>Can I avoid paying state estate taxes?
    </h3>

    <p>
      In most states that base inheritance taxes on the federal estate tax,
      steps that avoid federal tax also avoid state tax. If your state imposes
      some other kind of estate tax, your professional advisor can help you
      minimize state tax by taking actions specifically adapted to that tax.
    </p>

    <p>
      If you live in two states, for instance, Florida in winter and summer in
      New Jersey, your inheritors may be able to save on estate taxes if you
      make your legal residence in the state with lower inheritance taxes.
    </p> 
    <!-- <p><a href="#top">Back To Top</a></p> -->

    <h3 class="cellcolor">
      <a name="5"></a>Can I just give all my property away before I die and
      avoid estate taxes?
    </h3>

    <p>
      You can give up to $16,000 in 2022 ($15,000 in 2021) per person per year
      with no gift tax liability. Gifts exceeding that amount are counted
      against a gift tax exemption of $12,060,000. Gifts exceeding that
      exemption are subject to gift tax. At your death, these gifts could become
      your taxable estate (with a credit for gift tax paid).
    </p>

    <p>
      There are, however, a few exceptions to this rule. You can give an
      unlimited amount of property to your spouse unless your spouse is not a
      U.S. citizen, in which case you can give away up to $100,000 indexed for
      inflation; the 2022 amount is $164,000 ($159,000 in 2021) per year free of
      gift tax. Any property given to a tax-exempt charity avoids federal gift
      taxes. Money spent directly on someone's medical bills or school tuition,
      is exempt as well.
    </p>

    <!-- <p><a href="#top">Back To Top</a></p> -->
  </div>
  <!-- faq  -->
</div>
