<div id="fga">
  <p>
    Once you have a child, financial planning for the future becomes even more
    essential. How will you finance child care, medical bills, food, education,
    clothing, toys, and education savings? What will you need to spend money on
    and how much will each item cost? Here is some of the information you will
    need.
  </p>
  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>
    <ul>
      <li><a href="#1">What Will It Cost You</a></li>
      <li><a href="#2">Birth Through Infancy</a></li>
      <li><a href="#3">Ages One Through Six</a></li>
      <li><a href="#4">Ages Six Through Twelve</a></li>
      <li><a href="#5">Ages Thirteen Through Eighteen</a></li>
      <li><a href="#6">Teaching Your Kids How to Handle Money</a></li>
      <li><a href="#7">Savings and Investment</a></li>
      <li>
        <a href="#8">Taxes and Credit</a>
        <p></p>
      </li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    This Financial Guide provides you with guidelines on handling the expenses a
    child brings. We cannot offer specific costs because the costs hinge on
    family size, family income, and geographic location. However, we can suggest
    some rough (often very rough) estimates for the average-sized family of two
    adults and two children and provide a starting point for your planning. The
    costs for later years will go up as inflation takes its toll.
  </p>
  <p>
    Knowing what to expect will allow you to plan for the future, thereby
    increasing your chances that you will not fall short of your financial
    goals. Indeed, this is the time to review and update, if necessary, your
    financial plan.
  </p>
  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=10&amp;cat=Your Financial Plan: Getting Started On a Secure Future"
        >YOUR FINANCIAL PLAN: Getting Started On A Secure Future.</a
      >
    </p>
  </blockquote>
  <h3 class="cellcolor"><a name="1"></a>What Will It Cost You</h3>
  <p>
    Here is a breakdown of the items you'll need and an estimate of their cost.
    The costs are categorized chronologically, according to the child's age.
  </p>
  <blockquote class="note">
    <p>
      These estimates are for a first child. Bear in mind that second or third
      children will cost less than the first since you will already have
      purchased many of the items you need. If you have three or more children,
      you will spend about 22 percent less on each child. Also, note that with
      multiple births, expenses will be higher than (although not double) those
      of a single birth.
    </p>
  </blockquote>
  <p>
    Government estimates say that a middle-income family in 2015, defined as
    having an annual income between $59,350 and $107,400, will spend a total of
    $233,610 on raising a child to age 17. This figure represents a 3.0 percent
    increase from the four years 2010-2014 to the four years 2011 to 2015 and
    does not include expenses incurred beyond 18. If you include the cost of
    college, whether public or private, that cost goes up significantly. And,
    families that earn more generally can expect to spend more on their
    children.
  </p>
  <blockquote class="planning aid">
    <p>
      <strong>Planning Aid:</strong> For an estimate of the amount of money you
      would have at the time your child enters college if you begin saving now,
      see the Financial Calculator:<a
        href="http://www.cpasitesolutions.com/content/calcs/index.php?id=11&amp;category=College"
      >
        The College Savings Plan Calculator.</a
      >
    </p>
  </blockquote>
  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> If you are ready to start planning now for
      your child's future college education-and indeed the time to start is
      now-please see the Financial Guide:
      <a href="?item=8&amp;cat=Your Child's Education: How To Finance It"
        >YOUR CHILD'S COLLEGE EDUCATION - How To Finance It.</a
      >
    </p>
  </blockquote>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="2"></a>Birth through Infancy</h3>
  <p>
    Here are the costs you can expect up to birth and during the first year:
  </p>
  <blockquote class="note">
    <p>
      For a second or third child, you will spend much less on furniture,
      clothing, and toys, but health care, child care, and food will remain the
      same.
    </p>
  </blockquote>
  <p></p>
  <h2>Hospital Costs</h2>
  <p></p>
  <p>
    According to Fair Health, in 2018, an uneventful hospital delivery in the
    United States costs, on average, $12,290 for a vaginal birth and $16,907 for
    a cesarean section (C-section) birth. Of course, the actual costs you pay
    vary depending on your health care coverage and whether there are
    complications.
  </p>
  <p></p>
  <h2>Baby Supplies and Equipment</h2>
  <p></p>
  <p>
    Before you bring the baby home, you'll buy a crib, a changing table, and a
    swing or bouncy seat. The moderately priced versions of these three things
    will cost you about $1,200. You can also expect to pay about $400 for a
    stroller. A full-size infant car seat will cost you about $150-$200, and a
    full-size high chair will cost $150. Finally, you will spend several hundred
    dollars on washcloths, sheets, blankets, towels, undershirts, onesies, and
    other baby clothes. Also, think about whether you plan to use a diaper
    service, cloth diapers, or use disposable ones.
  </p>
  <p></p>
  <h2>Feeding and Diapers</h2>
  <p></p>
  <p>
    The American Academy of Pediatrics recommends exclusively breastfeeding your
    baby for at least six months. Many women, of course, choose to breastfeed
    longer than that. Nursing mothers will have to invest in several good
    nursing bras and nursing pads (about $50) as well as a nursing pillow (about
    $25). If you plan to return to work after three months, consider investing
    in a hospital-grade breast pump, which will run you about $400. In
    comparison, a year's worth of ready-mix powder formula costs about $1,350.
    If you buy the ready-to-serve type of formula, the cost is, even more,
    running well over $2,000. You'll also need a year's supply of bottles, at
    about $90, and you'll have to add another $40 to replace the nipples at
    least twice a year.
  </p>
  <p>
    When your baby is ready for solid foods, you will also need to account for
    the cost of rice cereal and baby food.
  </p>
  <p>
    Diapers are another expense you need to consider. Cloth diapers are the
    least expensive option. Disposable diaper costs for the first two years run
    about $850 per year, on average, and a diaper genie costs about $40.
  </p>
  <p></p>
  <h2>Child Care</h2>
  <p></p>
  <p>
    Child care expenses vary widely. Childcare in a daycare center costs much
    less than a live-in nanny (unless you have multiples, then a nanny or au
    pair is the less expensive option), and prices for daycare centers vary
    widely. Childcare in a daycare center costs much less than a live-in nanny.
    A mid-priced daycare center can cost families close to $20,000 per year or
    more.
  </p>
  <p></p>
  <h2>Health Care</h2>
  <p></p>
  <p>
    Your infant will visit the doctor about six times during his or her first
    year, including well-baby check-ups as well as the inevitable colds and
    fevers of infancy. How much you will spend on doctor visits during the first
    year depends on your health insurance.
  </p>
  <p></p>
  <h2>Toys and Clothes</h2>
  <p></p>
  <p>
    You will spend about $500-$600 on toys and clothing during the first year
    (in addition to what you bought for the layette.)
  </p>
  <p></p>
  <h2>Total for the First Year</h2>
  <p></p>
  <p>
    Your total expenses for the first year run about $15,000-$18,000. The
    biggest variable is the cost of health care.
  </p>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="3"></a>Ages One through Six</h3>
  <p>
    During these years, you'll spend about $1,000 on toys and clothes and about
    $2,200 a year on food. If your child attends daycare or preschool, add in
    the cost of these services. In most locations, daycare will cost you close
    to $20,000 per year - or more, while preschool costs vary widely. Again,
    health care costs depend on your health coverage.
  </p>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="4"></a>Ages Six through Twelve</h3>
  <p>
    This is when the overall expenses of child-rearing drop and families can
    save more. During these years, your child care expenses will drop
    drastically. Health care costs generally stabilize unless, of course, your
    child begins orthodontia during this stage. Then, you'll have to pay more.
    You are likely to spend more than in the previous stage on clothing, toys,
    and entertainment, but your kids won't be demanding the high-ticket clothing
    and other items of adolescence. The bill for food will be just slightly more
    than what it was in the previous stage. On the negative side, now that your
    kids are in school, you'll want to pay for all those extras that
    middle-class kids have: dancing and music lessons, sports participation, and
    so on. And, if you decide to send your kids to private school or summer
    camp, these expenses will have to be considered as well.
  </p>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="5"></a>Ages Thirteen through Eighteen</h3>
  <p>
    During this stage, you can expect your child's food, clothing, and
    entertainment bill to exceed what it was during the previous stage. For
    instance, food costs will increase as a result of growth spurts in your
    adolescent and clothing costs are likely to rise as well as your teen takes
    more of an interest in his or her appearance.
  </p>
  <p>
    Once your teen starts driving, your auto insurance will go up. The extra
    cost could be anywhere from $300 to $1,000. Factors affecting these costs
    typically depend on your state of residence and whether your child is a male
    or female. If you intend to buy your child a car, add this expense in as
    well.
  </p>
  <p>
    Sweet-16 parties, quinceaños, bar and bat mitzvahs, orthodontia, SATs, ACTs
    and preparation courses, music lessons, sports, and college application fees
    are just some of the things you might be paying for during those years.
  </p>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor">
    <a name="6"></a>Teaching Your Kids How to Handle Money
  </h3>
  <p>
    The best time to start instilling financial skills and values is when
    children are young. Start giving your kids an allowance once they reach
    school age. Let them participate in deciding how much their allowance should
    be.
  </p>
  <p>
    Some parents may want to require kids to do household chores to earn the
    allowance. Parents might want to provide an allowance but pay kids extra for
    the performance of tasks. This incentive plan is, of course, a matter of
    individual child-rearing philosophy, but it does get the message across that
    money does not grow on trees.
  </p>
  <p>
    Give your kids control over their own money (their allowance and whatever
    monies you give them that are not earmarked for some particular purpose).
    You can make suggestions to them about what they should do with it-i.e.,
    that they might spend half and save half but allow them the final say on
    what happens to the money.
  </p>
  <p>
    Let them see the consequences of both wise and foolish behavior with regard
    to money. A child who spends all of his money on the first day of the week
    is more likely to learn about budgeting if he is not provided with extras to
    tide him over.
  </p>
  <p>
    How much allowance to provide is a matter of parental discretion. Most
    parents provide about $7 per week to their elementary school children and
    from $12 to $20 a week to kids in junior high.
  </p>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="7"></a>Savings and Investment</h3>
  <p>
    Beyond the basics of budgeting and saving, you will want to get your child
    involved in saving and investing. The easiest way to do this is to have the
    child open his or her own passbook savings account.
  </p>
  <p>
    If you want your child to get familiar with investing, there are various
    child-friendly mutual funds available. The mailings from the fund can be a
    source of education. Or you may want to get the child interested in
    individual stocks.
  </p>
  <p>
    You may want to start a "matching" program with your kids to encourage
    saving. For instance, for every dollar that the child puts into a savings
    account or investment, you might match it with 50 cents.
  </p>
  <p>
    If you want to get your kids involved with investing, you will need to set
    up a custodial account. There are two types of widely used custodial
    accounts - the Uniform Gifts to Minors Act and the Uniform Transfers to
    Minors Act. The type of custodial account available depends on which state
    you live in.
  </p>
  <p>
    With a custodial account, the child is the owner; however, the custodian
    (usually a parent) manages the property until the child reaches the age of
    majority under relevant state law, either 18 or 21. The custodian must
    follow certain rules concerning the management of the funds in the account
    to ensure that the custodian does what is in the child's best interests.
  </p>
  <p></p>
  <h2>IRAs for Kids</h2>
  <p></p>
  <p>
    If your child has earned income from a paper route or babysitting, for
    example, or working in the family business, he or she can contribute
    earnings to an IRA. The IRA can be an extremely effective investment for a
    child because of the IRA's tax-deferral feature and the length of time the
    money remains in the IRA. A $3,000 contribution per year to the child's IRA
    for ten years could reach $600,000 or more if the money is left to grow
    until the child reaches age 65 - depending on the returns on the investment.
  </p>
  <p>
    In 2022, your child can contribute $6,000 or the lesser of his or her earned
    income for that tax year to a traditional IRA or a tax-free Roth IRA. The
    contribution limits are the same for both types of accounts.
  </p>
  <p>
    To replace the "lost" earnings, the parents can give $3,000 per year to the
    child (or the amount of earned income the child has, if less). The child may
    have to file tax returns.
  </p>

  <p>
    The drawback, of course, is that, with some exceptions, the money in an IRA
    (including a Roth IRA) account cannot be withdrawn before age 59-1/2 may be
    subject to additional taxes and penalties - unless certain exceptions are
    met such as withdrawals to pay for qualified education expenses or pay for
    unreimbursed medical expenses or health insurance premiums if the account
    holder is unemployed.
  </p>
  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> For tax rules on IRA withdrawals for
      higher education, please see the Financial Guide:
      <a
        href="?item=9&amp;cat=Higher Education Costs: How To Get The Best Tax Treatment"
        >HIGHER EDUCATION COSTS: How To Get The Best Tax Treatment.</a
      >
    </p>
  </blockquote>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <h3 class="cellcolor"><a name="8"></a>Taxes and Credit</h3>
  <p>
    Kids can learn to use automatic teller machine cards for their savings
    accounts. They can also start using credit cards at an early age-with
    parental counsel and involvement. They can learn the concepts of incurring
    and paying off debts both from credit card use and from small loans that
    parents make them.
  </p>
  <p>
    It is important to familiarize kids with paying taxes as well. If children
    have to file tax returns-as they would with an IRA - allow them to
    participate in the process; this will get them used to the idea of yearly
    tax payments, and can also be an opportunity for learning about how
    governments are run with tax revenues.
  </p>
  <blockquote class="note">
    <p>
      One side benefit of getting your kids involved in money management is that
      it may help to avoid the "math phobia" some kids experience in junior high
      school.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      Professional guidance should be considered for a life event change as
      major as a marriage of divorce.
    </p>
  </blockquote>
  <p>
    <a href="#top"> Back To Top </a>
  </p>
  <a name="9"></a>
  <p>
    <strong>Source:</strong> Expenditures on Children By Families 2015, US
    Department of Agriculture Publication Number 1528-2015. Before-tax Income of
    $59,200 and $107,400 (Average = $83,300).
  </p>
  <p></p>
  <div align="center">

      <table
        style="font-size: 10px"
        cellspacing="0"
        border="1"
        width="550"
        cellpadding="4"
      >
        <tbody>
          <tr>
            <td width="10%" valign="top"><strong>Child's Age </strong></td>
            <td width="10%" valign="top">Misc.</td>
            <td width="10%" align="left" valign="top">Housing</td>
            <td width="10%" align="left" valign="top">Food</td>
            <td width="10%" valign="top">Transport</td>
            <td width="10%" valign="top">Clothing</td>
            <td width="10%" valign="top">Health Care</td>
            <td width="10%" align="left" valign="top">
              Child Care &amp; Education
            </td>
            <td width="10%" align="left" valign="top">
              <strong>Total</strong>
            </td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>Up to 2</strong></td>
            <td width="10%" valign="top">$830</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$1,580</td>
            <td width="10%" valign="top">$1,790</td>
            <td width="10%" valign="top">$750</td>
            <td width="10%" valign="top">$1,180</td>
            <td width="10%" valign="top">$2,870</td>
            <td width="10%" valign="top"><strong>$12,680</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>3-5</strong></td>
            <td width="10%" valign="top">$940</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$1,690</td>
            <td width="10%" valign="top">$1,840</td>
            <td width="10%" valign="top">$600</td>
            <td width="10%" valign="top">$1,110</td>
            <td width="10%" valign="top">$2,870</td>
            <td width="10%" valign="top"><strong>$12,730</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>6-8</strong></td>
            <td width="10%" valign="top">$1,050</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$2,280</td>
            <td width="10%" valign="top">$1,900</td>
            <td width="10%" valign="top">$600</td>
            <td width="10%" valign="top">$1,130</td>
            <td width="10%" valign="top">$1,710</td>
            <td width="10%" valign="top"><strong>$12,350</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>9-11</strong></td>
            <td width="10%" valign="top">$1,110</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$2,680</td>
            <td width="10%" valign="top">$1,940</td>
            <td width="10%" valign="top">$780</td>
            <td width="10%" valign="top">$1,280</td>
            <td width="10%" valign="top">$1,710</td>
            <td width="10%" valign="top"><strong>$13,180</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>12-14</strong></td>
            <td width="10%" valign="top">$950</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$2,780</td>
            <td width="10%" valign="top">$2,090</td>
            <td width="10%" valign="top">$860</td>
            <td width="10%" valign="top">$1,240</td>
            <td width="10%" valign="top">$1,430</td>
            <td width="10%" valign="top"><strong>$13,030</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><strong>15-17</strong></td>
            <td width="10%" valign="top">$940</td>
            <td width="10%" valign="top">$3,680</td>
            <td width="10%" valign="top">$2,790</td>
            <td width="10%" valign="top">$2,270</td>
            <td width="10%" valign="top">$830</td>
            <td width="10%" valign="top">$1,300</td>
            <td width="10%" valign="top">$2,090</td>
            <td width="10%" valign="top"><strong>$13,900</strong></td>
          </tr>
          <tr>
            <td width="10%" valign="top">
              <strong><strong>Total</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$17,460</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$66,240</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$41,400</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$35,490</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$13,260</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$21,270</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$38,040</strong></strong>
            </td>
            <td width="10%" valign="top">
              <strong><strong>$233,610</strong></strong>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <p><a href="#top"> Back To Top </a></p>
  <!-- fga  -->
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="cellcolor" align="left">
          <p style="padding: 5px">
            <font size="3" face="Arial"><b>Also See...</b></font>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- br --><a
    href="/sample652/life-events.php?item=163&amp;catid=2&amp;cat=Raising+a+Child%3A+Frequently+Asked+Questions"
    ><font face="Arial" size="2"
      ><b>Raising a Child: Frequently Asked Questions</b></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=7&amp;catid=2&amp;cat=The+%22Nanny+Tax%22+Rules%3A+What+To+Do+If+You+Have+Household+Employees"
    ><font face="Arial" size="2"
      ><b
        >The "Nanny Tax" Rules: What To Do If You Have Household Employees</b
      ></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=164&amp;catid=2&amp;cat=%22Nanny+Tax%22+Rules%3A+Frequently+Asked+Questions"
    ><font face="Arial" size="2"
      ><b>"Nanny Tax" Rules: Frequently Asked Questions</b></font
    ></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=bud02"
    ><font face="Arial" size="2"><b>How Much Am I Spending?</b></font></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=8&amp;catid=2&amp;cat=Your+Child%27s+Education%3A+How+To+Finance+It"
    ><font face="Arial" size="2"
      ><b>Your Child's Education: How To Finance It</b></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=18&amp;catid=2&amp;cat=Saving+for+College%3A+Frequently+Asked+Questions"
    ><font face="Arial" size="2"
      ><b>Saving for College: Frequently Asked Questions</b></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=47&amp;catid=2&amp;cat=Life+Insurance%3A+How+Much+and+What+Kind+To+Buy"
    ><font face="Arial" size="2"
      ><b>Life Insurance: How Much and What Kind To Buy</b></font
    ></a
  ><br /><!-- br --><a
    href="/sample652/life-events.php?item=151&amp;catid=2&amp;cat=Life+Insurance%3A+Frequently+Asked+Questions"
    ><font face="Arial" size="2"
      ><b>Life Insurance: Frequently Asked Questions</b></font
    ></a
  ><br /><!-- br2 --><a href="calc-section.php?calc=ins01"
    ><font face="Arial" size="2"
      ><b>How Much Life Insurance Do I Need?</b></font
    ></a
  ><br />
</div>
