<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service">Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services">Tax Services</span>
    </li>
    <li class="breadcrumb-item">
      <span routerLink="/service/tax-services/tax-relief">Tax Relief</span>
    </li>
    <li class="breadcrumb-item active" active>
      <span routerLink="/service/tax-services/back-taxes-owed"
        >Back Taxes Owed</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Back Taxes Owed"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <p>
          You have filed your returns but didn't have the money to pay what was
          owed. You may think, "Oh well---I will catch up next year." Before you
          know it you find yourself several years in arrears and suddenly there
          is a notice from the IRS, stating that you owe three or four times the
          original amount.
        </p>
      </div>
      <div style="text-align: left">
        <p>
          It's truly amazing how fast tax penalties and interest add up. Now you
          have a choice, you can write a big fat check and pay the full amount,
          including interest and penalties. Or you can just keep ignoring them
          while the penalties and interest keep piling up.
        </p>
      </div>
      <p>
        Luckily, we offer several options when it comes to resolving unpaid
        taxes. Please complete the form below to get a
        <b>free consultation</b> with our tax specialist.
      </p>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn
      class="col-md-4 d-none d-md-block"
    ></app-consultaion-img-btn>
  </div>
</div>
