<div id="fga">
  <p>
    If you've been thinking about buying a home, you may wonder how to select
    the right financing for your budget and needs. This Financial Guide explains
    the basics of most of the mortgage loans that are available today.
  </p>

  <div id="toc">
    <h2 class="cellcolor">Table of Contents</h2>

    <ul>
      <li><a href="#1">Traditional Mortgage</a></li>
      <li><a href="#2">Non-Traditional Mortgages</a></li>
      <li><a href="#3">Growing-Equity Mortgage (Rapid-Payoff Mortgage)</a></li>
      <li><a href="#4">Buy-Downs</a></li>
      <li><a href="#5">Rent With Option To Buy</a></li>
      <li><a href="#6">Reverse Mortgage</a></li>
      <li><a href="#7">Some Cautions</a></li>
      <li><a href="#8">Mortgage Terms</a></li>
    </ul>
  </div>
  <!-- toc -->

  <p>
    If you've been thinking about buying a home, you may be wondering how to
    select the best way to finance your purchase. With so many choices
    available--from traditional fixed rate loans to adjustable rate loans and
    reverse mortgages--it's more important than ever to educate yourself in
    order to find the right mortgage for your needs.
  </p>

  <h2 class="cellcolor"><a name="1"></a>Traditional Mortgage</h2>

  <p>
    Many people prefer a traditional or a fixed-rate mortgage with fixed monthly
    payments, a fixed interest rate, and full amortization (or transfer of
    equity) over a period of 20 to 30 years. Because the interest rate is fixed,
    monthly payments that remain constant over the life of the loan and there is
    a maximum (and known) amount on the total amount of principal and interest
    that you pay during the loan. Traditionally, these mortgages have been
    long-term. As the loan is repaid, ownership shifts gradually from lender to
    buyer. These features work in the buyer's favor because inflation makes your
    payments seem less and your property worth more. So, although the payments
    seem hard to meet, at first, that monthly payment becomes easier over time.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> You borrow $50,000 at 8 percent for 30 years.
      Your monthly payments on this loan would be $366.89. Over 30 years, your
      total obligation for principal and interest would never exceed this fixed,
      predetermined amount.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Fixed rate mortgages are usually available at higher
      rates than many other types of loans. But if you can afford the monthly
      payments, inflation, and tax deductions may make a fixed rate mortgage a
      good financing method, particularly if you are in a high tax bracket and
      need the interest deductions.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="2"></a>Non-Traditional Mortgages</h2>

  <p>
    On the other hand, many home financing plans today differ materially from
    traditional mortgages. They may help you buy a home you couldn't otherwise
    afford, but they may also involve greater risks for buyers. For example, the
    interest rate and monthly payments may change during the loan to reflect
    what the market will bear. Or the interest rate may fluctuate while the
    payments stay the same, and the amount of principal paid off may vary. The
    latter approach allows the lender to credit a greater portion of the payment
    to interest when rates are high.
  </p>

  <p>
    Some plans also offer below-market interest rates, but they may not help you
    build up equity.
  </p>

  <p>When shopping for financing sources today, keep the following in mind:</p>

  <ul>
    <li>
      The sales price minus your down payment, i.e., the amount you finance
    </li>
    <li>The length, or maturity, of the loan</li>
    <li>The size of the monthly payments</li>
    <li>The interest rate or rates</li>
    <li>Whether the payments or rates may change</li>
    <li>How often and how much the payments or rates may change</li>
    <li>
      Whether there is an opportunity for refinancing the loan when it matures,
      if necessary
    </li>
  </ul>

  <p>
    These concepts will be discussed in greater detail as we explore the
    different types of non-traditional financing.
  </p>

  <p></p>
  <h2>15-Year Mortgage</h2>
  <p></p>

  <p>
    The 15-year mortgage is a variation of the fixed-rate mortgage that is
    becoming increasingly popular. This mortgage has an interest rate and
    monthly payments that are constant throughout the loan. But, unlike other
    plans, this loan is fully paid off in only 15 years. And, it is usually
    available at a slightly lower interest rate than a longer-term loan. But it
    also requires higher payments.
  </p>

  <p>
    In the 15-year mortgage, you pay off the loan balance faster than a
    long-term loan. Because of this, a smaller proportion of each of your
    monthly payments goes to interest.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> If you can afford the higher payments, this plan
      will save you interest and help you build equity and own your home faster.
      The downside, however, is that you are paying less interest and you may
      also have fewer tax deductions.
    </p>
  </blockquote>

  <p></p>
  <h2>Adjustable-Rate Mortgage (ARM)</h2>
  <p></p>

  <p>
    If you see an ad for a low-rate mortgage, it might be for an adjustable rate
    mortgage (ARM). These loans may have low rates for a short time, maybe only
    for the first year. After that, the rates can be adjusted on a regular
    basis. This means that the interest rate and the amount of the monthly
    payment can go up or down.
  </p>

  <p>
    With an adjustable-rate mortgage, your future monthly payment is uncertain.
    Some types of ARMs put a ceiling on your payment increase or rate increase
    from one period to the next. Virtually all must put a ceiling on
    interest-rate increases over the life of the loan.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Whether an ARM mortgage is right for you depends on
      your financial situation and the terms of the ARM. ARMs carry risks in
      periods of rising interest rates but can be cheaper over a longer term if
      interest rates decline. You will be able to answer the question better
      once you understand more about adjustable-rate mortgages.
    </p>
  </blockquote>

  <p>
    Today, many loans have interest rates (and monthly payments) that can change
    from time to time. To compare one ARM with another or with a fixed-rate
    mortgage, you need to know about indexes, margins, discounts, caps, negative
    amortization, and convertibility. You need to consider the maximum amount
    your monthly payment could increase.
  </p>

  <p>
    Most important, you need to compare what might happen to your mortgage costs
    with your future ability to pay.
  </p>

  <blockquote class="aid">
    <p>
      <strong>Planning Aid:</strong> See The Financial Calculator:
      <a
        href="http://www.cpasitesolutions.com/content/calcs/index.php?calc=hom10"
        >Which Is Better: Fixed or Adjustable-Rate Mortgage?</a
      >
    </p>
  </blockquote>

  <p>
    <em>Interest Rate Variation.</em> Adjustable rate mortgages have an interest
    rate that increases or decreases over the life of the loan based upon market
    conditions. Some lenders refer to adjustable rates as
    <em>flexible or variable.</em>
  </p>

  <blockquote class="caution">
    <p>
      <strong>Caution:</strong> Because adjustable rate loans can have different
      provisions, evaluate each one carefully.
    </p>
  </blockquote>

  <p>
    In most adjustable rate loans, your starting rate, or "initial interest
    rate," will be lower than the rate offered on a standard fixed rate
    mortgage. This is because your long-term risk is higher your rate can
    increase with the market so the lender offers an inducement to take this
    plan.
  </p>

  <p>
    Changes in the interest rate are usually governed by a financial index. If
    the index rises, so may your interest rate. If it falls, your interest rate
    also falls.
  </p>

  <p>
    <em>Rate Caps.</em> To build predictability into your adjustable rate loan,
    some lenders include provisions for rate caps that limit the amount of any
    interest rate change. These provisions limit the amount of your risk. A
    periodic rate cap limits the amount the rate can increase at any one time.
    Because they limit the lender's return, capped rates may not be available
    through every lender.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> Your mortgage provides that even if the
      financial index it's tied to increases 2 percent in one year, your rate
      can only go up 1 percent. An aggregate rate cap limits the amount the rate
      can increase over the entire life of the loan. This means that even if the
      index increases 2 percent every year, your rate cannot increase more than
      5 percent over the entire loan.
    </p>
  </blockquote>

  <p>
    Many flexible rate mortgages offer the possibility of rates that may go down
    as well as up. In some loans, if the rate can only increase 5 percent, it
    may only decrease 5 percent. If no limit is placed on how high the rate can
    go, there may be a provision that also allows your rate to go down along
    with the index.
  </p>

  <p></p>
  <h2>Payment Caps</h2>
  <p></p>

  <p>
    If the interest rate on your adjustable rate loan increases and your loan
    has a payment cap, your monthly payments may not rise, or they may increase
    by less than changes in the index would require.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> Your mortgage provides for unlimited changes in
      your interest rate, but your loan has a $50 per year cap on payment
      increases. You started with an 8 percent rate on your $75,000 mortgage and
      a monthly payment of $550.33. Now assume that your index increases 2
      percentage points in the first year of your loan. Because of this, your
      rate increases to 10 percent, and your payments in the second year rise to
      $658.18. Because of the payment cap, however, you'll only pay $600.33 per
      month in the second year.
    </p>
  </blockquote>

  <blockquote class="caution">
    <p>
      <strong>Caution:</strong> If your payment-capped loan results in monthly
      payments that are lower than your interest rate would require, you still
      owe the difference. Negative amortization may take place to ensure that
      the lender eventually receives the full amount. In most payment-capped
      mortgages, the amount of principal paid off changes when interest rates
      fluctuate.
    </p>

    <p>
      Thus in the above example, your monthly payment should increase to
      $658.18, but because of a cap, it increases to only $600.33. Because this
      change in interest rates increases your debt, the lender may now apply a
      larger portion of your payment to interest. If rates get very high, even
      the full amount of your monthly payment won't be enough to cover the
      interest owed; the additional amount of interest you owe will be added to
      the principal. This means you now owe and eventually will pay interest on
      interest.
    </p>
  </blockquote>

  <p>
    <em>Negative Amortization.</em> If your ARM contains a payment cap be sure
    to find out about "negative amortization." Negative amortization means the
    mortgage balance is increasing and occurs whenever your monthly mortgage
    payments are not large enough to pay all of the interest due on your
    mortgage.
  </p>

  <p>
    Because payment caps limit only the amount of payment increases, and not
    interest-rate increases, payments sometimes do not cover all of the interest
    due on your loan. This means that the interest shortage in your payment is
    automatically added to your debt, and interest may be charged on that
    amount. You might, therefore, owe the lender more, later in the loan term
    than you did at the start. However, an increase in the value of your home
    may make up for the increase in what you owe.
  </p>

  <p></p>
  <h2>Prepayment and Conversion</h2>
  <p></p>

  <p>
    If you get an ARM and your financial circumstances change, you may decide
    that you don't want to risk any further changes in the interest rate and
    payment amount. When you are considering an ARM, ask for information about
    prepayment and conversion.
  </p>

  <ul>
    <li>
      <p>
        <em>Prepayment.</em> Some agreements may require you to pay special fees
        or penalties if you pay off the ARM early. Many ARMs allow you to pay
        the loan in full or in part without penalty whenever the rate is
        adjusted. Prepayment details are sometimes negotiable. If so, you may
        want to negotiate for no penalty, or for as low a penalty as possible.
      </p>
    </li>
    <li>
      <p>
        <em>Conversion.</em> Your agreement with the lender can have a clause
        that lets you convert the ARM to a fixed-rate mortgage at designated
        times. When you convert, the new rate is generally set at the current
        market rate for fixed-rate mortgages. The interest rate or up-front fees
        may be somewhat higher for a convertible ARM. Also, a convertible ARM
        may require a special fee at the time of conversion.
      </p>
    </li>
  </ul>

  <p>
    <em>Variations of Adjustable Rate Mortgages.</em> Another variation of the
    adjustable rate mortgage is to fix the interest rate for a period of time, 3
    to 5 years, for example, with the understanding that the interest rate will
    then be renegotiated. These variations are:
  </p>

  <ul>
    <li>
      <p>
        <em>Rollover mortgages</em> are loans with periodically renegotiated
        rates. Such loans make monthly payments more predictable because the
        interest rate is fixed for a longer time.
      </p>
    </li>
    <li>
      <p>
        <em>Pledged account buy-down mortgage</em> is another variation with an
        adjustable rate. This plan was introduced by the Federal National
        Mortgage Association (Fannie Mae), which buys mortgages from lenders and
        provides a major source of money for future mortgage offerings. In this
        plan, a large initial payment is made to the lender at the time the loan
        is made. The payment can be made by the buyer, the builder, or anyone
        else willing to subsidize the loan. The payment is placed in an account
        with the lender where it earns interest. This plan helps lower your
        interest rate for the first year.
      </p>
    </li>
  </ul>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> This plan may not include any payment or rate caps
      other than those in the first years. But, there also may not be negative
      amortization, so possible increases in your total debt may be limited.
      Because of the buy-down feature, some buyers may be able to qualify for
      this loan that otherwise would not be eligible for financing.
    </p>
  </blockquote>

  <p></p>
  <h2>Shopping for a Mortgage</h2>
  <p></p>

  <p>
    When shopping for any type of adjustable rate mortgage, always remember to
    ask about the following:
  </p>

  <ul>
    <li>The initial interest rate</li>
    <li>How often the rate may change</li>
    <li>How much the rate may change</li>
    <li>The initial monthly payments</li>
    <li>How often payments may change</li>
    <li>How much the payments may change</li>
    <li>The mortgage term</li>
    <li>How often the term may change</li>
    <li>How much the term may change</li>
    <li>The index that rate, payment, or term changes are tied to</li>
    <li>The limits, if any, on negative amortization</li>
  </ul>

  <p></p>
  <h2>Balloon Mortgage</h2>
  <p></p>

  <p>
    Balloon mortgages have a series of equal monthly payments and a large final
    payment. Although there usually is a fixed interest rate, the equal payments
    may be for interest only. The unpaid balance, frequently the principal or
    the original amount you borrowed, comes due in a short period, usually 3 to
    5 years.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> You borrow $30,000 for 5 years. The interest
      rate is 13 percent, and the monthly payments are only $325. But in this
      example, the payments cover interest only, and the entire principal is due
      at maturity in 5 years. That means you'll have to make 59 equal monthly
      payments of $325 each and a final balloon payment of $30,325. If you can't
      make that final payment, you'll have to refinance (if refinancing is
      available) or sell the property.
    </p>
  </blockquote>

  <p>
    Some lenders guarantee refinancing when the balloon payment is due, although
    they do not guarantee a certain interest rate. The rate could be higher than
    your current rate. Other lenders do not offer automatic refinancing.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Without such a guarantee, you could be forced to
      start the whole business of shopping for housing money once again, as well
      as paying closing costs and front-end charges a second time.
    </p>
  </blockquote>

  <p>
    A balloon note may also be offered by a private seller who is continuing to
    carry the mortgage he or she took out when purchasing the home. It can be
    used as a second mortgage where you also assume the seller's first mortgage.
  </p>

  <p></p>
  <h2>Graduated Payment Mortgage</h2>
  <p></p>

  <p>
    Graduated payment mortgages (GPM) are designed for home buyers who expect to
    be able to make larger monthly payments in the near future. During the early
    years of the loan, payments are relatively low. They are structured to rise
    at a set rate over a set period, say 5 or 10 years. Then they remain
    constant for the duration of the loan.
  </p>

  <p>
    Even though the payments change, the interest rate is usually fixed. So
    during the early years, your payments are lower than the amount dictated by
    the interest rate. During the later years, the difference is made up by
    higher payments. At the end of the loan, you will have paid off your entire
    debt.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> One variation of the GPM is the graduated-payment,
      adjustable-rate mortgage. This loan also has graduated payments early in
      the loan. But, like other adjustable rate loans, it ties your interest
      rate to changes in an agreed-upon index. If interest rates climb quickly,
      greater negative amortization occurs during the period when payments are
      low. If rates continue to climb after that initial period, the payments
      will, too. This variation adds increased risk for the buyer. But if
      interest rates decline during the life of the loan, your payments may as
      well.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="3"></a>Growing-Equity Mortgage (GEM)</h2>

  <p>
    The growing equity mortgage (GEM) is tailored for first-time home buyers or
    young families whose incomes are likely to rise. These mortgages combine a
    fixed interest rate with a changing monthly payment. The interest rate is
    usually a few percentage points below market. Although the mortgage term may
    run for 30 years, the loan will frequently be paid off in less than 15 years
    because payment increases are applied entirely to the principal.
  </p>

  <p>
    Monthly payment changes are based on an agreed-upon schedule of increases or
    an index.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> A GEM uses the U. S. Commerce Department index
      that measures after-tax, per capita income and your payments increase at a
      specified portion of the change in this index, say 75 percent. In this
      example, let's assume that you're paying $500 per month for your mortgage.
      If the index increases by 8 percent, you will have to pay 75 percent of
      that, or 6 percent, additional. Your payments will increase to $530, and
      the additional $30 you pay will be used to reduce your principal.
    </p>
  </blockquote>

  <p>
    With this approach, your income must be able to keep pace with the increased
    payments. The plan does not offer long-term tax deductions. However, it can
    permit you to pay off your loan and acquire equity rapidly.
  </p>

  <p></p>
  <h2>Shared Appreciation Mortgage (SAM)</h2>
  <p></p>

  <p>
    In the shared appreciation mortgage (SAM), you make monthly payments at a
    relatively low-interest rate. You also agree to share with the lender a
    sizable percent (usually 30 to 50 percent) of the appreciation in your
    home's value when you sell or transfer the home or after a specified number
    of years.
  </p>

  <p>
    Because of the shared appreciation feature, monthly payments in this plan
    are lower than in many other plans. However, you may be liable for the
    dollar amount of the property's appreciation even if you do not wish to sell
    the property at the agreed-upon date.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Unless you have the cash available, this could force
      an early sale of the property. Also, if property values do not increase as
      anticipated, you may still be liable for an additional amount of interest.
    </p>
  </blockquote>

  <p>
    There are many variations of this idea, called housing equity plans in the
    US. Some are offered by lending institutions and others by individuals.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> Suppose you've found a home for $100,000 in a
      neighborhood where property values are rising. If the local savings and
      loan charges nine percent interest on home mortgages, assuming that you
      paid $20,000 down and chose a 30-year term, your monthly payments would be
      $643.70, or about twice what you can afford. But let's say a friend offers
      to help and has offered to pay half of each monthly payment, or $321.85
      for 5 years. At the end of that time, assuming the value of the house
      increases to at least $125,000, you would be able to sell it and your
      friend can recover his or her share of the monthly payments to date--plus
      half of the appreciation. Or, you can pay your friend that same sum of
      money and gain increased equity in the house.
    </p>
  </blockquote>

  <p>
    Another variation may give your partner tax advantages during the first
    years of the mortgage, after which the partnership is dissolved. You can buy
    out your partner or find a new one. Your partner helps make the purchase
    possible by putting up a sizable down payment and/ or helping make the
    monthly payments. In return, your partner may be able to deduct a certain
    amount from his or her taxable income.
  </p>

  <p>
    Shared appreciation and shared equity mortgages were partly inspired by
    rising interest rates and partly by the notion that housing values would
    continue to grow over the years to come. If property values fall, these
    plans may not be available.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Before proceeding with this type of plan, check with
      a tax advisor to determine deductibility of interest.
    </p>
  </blockquote>

  <p></p>
  <h2>Assumable Mortgage</h2>
  <p></p>

  <p>
    An assumable mortgage is a mortgage that can be passed on to a new owner at
    the previous owner's interest rate.
  </p>

  <p>
    During periods of high rates, most lending institutions are reluctant to
    permit mortgage assumptions, preferring to write a new mortgage at the
    market rate. Some buyers and sellers are still using assumable mortgages,
    however. This has recently resulted in many lenders calling in the loans
    under "due on sale" clauses. Because these clauses have increasingly been
    upheld in court, many mortgages are no longer legally assumable. Be
    especially careful, therefore, if you are considering a mortgage represented
    as assumable.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Read the contract carefully and have an attorney or
      other expert check to determine if the lender has the right to raise your
      rate in this mortgage.
    </p>
  </blockquote>

  <p></p>
  <h2>Seller "Take-Back" Mortgages</h2>
  <p></p>

  <p>
    This mortgage, provided by the seller, is frequently a second trust and is
    combined with an assumed mortgage. The second trust (or second mortgage)
    provides financing in addition to the first assumed mortgage, using the same
    property as collateral. (In the event of default, the second mortgage is
    satisfied after the first).
  </p>

  <p>
    Seller take-backs frequently involve payments for interest only, with the
    principal due at maturity. Some private sellers are also offering first
    trusts as take-backs. In this approach, the seller finances the major
    portion of the loan and takes back a mortgage on the property.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Another development now enables private sellers to
      provide this type of financing more frequently. Previously, sellers
      offering take-backs were required to carry the loan to full term before
      obtaining their equity. However, now, if an institutional lender arranges
      the loan, uses standardized forms, and meets certain other requirements,
      the owner take-back can be sold immediately to Fannie Mae. This approach
      enables the seller to obtain equity promptly and avoid having to collect
      monthly payments.
    </p>
  </blockquote>

  <p></p>
  <h2>Wraparound Mortgage</h2>
  <p></p>

  <p>
    Another variation on the second mortgage is the wraparound. Wraparounds may
    cause problems if the original lender or the holder of the original mortgage
    is not aware of the new mortgage. Upon discovering this arrangement, some
    lenders or holders may have the right to insist that the old mortgage be
    paid off immediately.
  </p>

  <p></p>
  <h2>Land Contract</h2>
  <p></p>

  <p>
    Borrowed from commercial real estate, this plan enables you to pay
    below-market interest rates. The land contract or installment sale agreement
    as it is also known permits the seller to hold onto his or her original
    below-market rate mortgage while "selling" the home on an installment basis.
    The installment payments are for a short term and may be for interest only.
    At the end of the contract the unpaid balance, frequently the full purchase
    price, must still be paid.
  </p>

  <blockquote class="caution">
    <p>
      <strong>Caution:</strong> The seller continues to hold title to the
      property until all payments are made. Thus, you, the buyer, acquire no
      equity until the contract ends. If you fail to make a payment on time, you
      could lose a major investment.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="4"></a>Buy-Downs</h2>

  <p>
    A buy-down is a subsidy of the mortgage interest rate that helps you meet
    the payments during the first few years of the loan. There are several
    things to think about in buy-downs:
  </p>

  <ol>
    <li>
      <p>
        Consider what your payments will be after the first few years. If this
        is a fixed rate loan, the payments in the above example will jump to the
        rate at which the loan was originally made. If this is an adjustable
        rate loan, and the index to which your rate is tied has risen since you
        took out the loan, your payments could go up even higher.
      </p>
    </li>
    <li>
      <p>
        Check to see whether the subsidy is part of your contract with the
        lender or with the builder. If it's provided separately by the builder,
        the lender can still hold you liable for the full interest rate, even if
        the builder backs out of the deal or goes out of business.
      </p>
    </li>
    <li>
      <p>
        See if the sales price has been increased to cover a builder's interest
        subsidy. A comparable home may be selling around the corner for less. At
        the same time, competition may have encouraged the builder to offer you
        genuine savings. It pays to check around.
      </p>
    </li>
  </ol>

  <p>
    There are also plans called consumer buy-downs. In these loans, the buyer
    makes a sizable down payment, and the interest rate granted is below market.
    In other words, in exchange for a large payment at the beginning of the
    loan, you may qualify for a lower rate on the amount borrowed. Frequently
    this type of mortgage has a shorter term than those written at current
    market rates.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="5"></a>Rent with Option to Buy</h2>

  <p>
    In a climate of changing interest rates, some buyers and sellers are
    attracted to a rent-with-option-to-buy arrangement. In this plan, you rent
    property and pay a premium for the right to purchase the property within a
    limited time period at a specific price. In some arrangements, you may apply
    part of the rental payments to the purchase price.
  </p>

  <p>
    This approach enables you to lock in the purchase price. You can also use
    this method to buy time in the hope that interest rates will decrease. From
    the seller's perspective, this plan may provide the buyer time to obtain
    sufficient cash or acceptable financing to proceed with a purchase that may
    not be possible otherwise.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="6"></a>Reverse Mortgage</h2>

  <p>
    If you already own your home and need to obtain cash, you might consider the
    reverse annuity mortgage (RAM) or equity conversion. In this plan, you
    obtain a loan in the form of monthly payments over an extended period of
    time, using your property as collateral. When the loan comes due, you repay
    both the principal and interest.
  </p>

  <p>
    A RAM is not a mortgage in the conventional sense. You can't obtain a RAM
    until you have paid off your original mortgage. Suppose you own your home
    and you need a source of money. You could draw up a contract with a lender
    that enables you to borrow a given amount each month until you've reached a
    maximum of, for example, $10,000. At the end of the term, you must repay the
    loan. But remember, if you do not have the cash available to repay the loan
    plus interest, you will have to sell the property or take out a new loan.
  </p>

  <blockquote class="rfg">
    <p>
      <strong>Related Guide:</strong> Please see the Financial Guide:
      <a
        href="?item=96&amp;cat=Reverse Mortgages: How They Can Enhance Your Retirement"
        >REVERSE MORTGAGES: How They Can Enhance Your Retirement.</a
      >
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="7"></a>Some Cautions</h2>

  <p>
    Before going ahead with a creative home loan, have a lawyer or other expert
    help you interpret the fine print. You should consider some of the
    situations you could face when paying off your loan or selling your
    property. And make sure you understand the terms of your agreement such as
    acceleration clauses, due on sale clauses, and waivers.
  </p>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> In addition to any legal issues, financial
      considerations also come into play. Therefore, financial guidance is
      suggested helping before a final decision on the type of mortgage to take.
    </p>
  </blockquote>

  <p></p>
  <h2>Acceleration Clause</h2>
  <p></p>

  <p>
    An acceleration clause allows the lender to speed up the rate at which your
    loan comes due. Suppose you've missed a payment, and your contract gives the
    lender the right to "accelerate" the loan when a payment is missed. This
    means that the lender now has the power to force you to repay the entire
    loan immediately.
  </p>

  <blockquote>
    <strong><em>Sample acceleration clause:</em></strong> "In the event any
    installment of this note is not paid when due, time being of the essence,
    and such installment remains unpaid for thirty (30) days, the Holder of this
    Note may, at its option, without notice or demand, declare the entire
    principal sum then unpaid, together with secured interest and late charges
    thereon, immediately due and payable. The lender may without further notice
    or demand invoke the power of sale and any other remedies permitted by
    applicable law."
  </blockquote>

  <blockquote class="note">
    <p>
      <strong>Note:</strong> The use of the term without notice above. If this
      contract provision is legal in your state, you have waived your right to
      notice. In other words, you've given up the right to be notified of some
      occurrence, for example, a missed payment. If you've waived your right to
      notice of delinquency or default, and you've made a late payment, action
      may be initiated against you before you've been told; the lender may even
      start to foreclose.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      <strong>Tip:</strong> Know whether your contract waives your right to
      notice. If so, obtain a clear understanding in advance of what you're
      giving up. Try to get the clause removed. Have your attorney check state
      law to determine if the waiver is legal.
    </p>
  </blockquote>

  <p></p>
  <h2>Due-On-Sale-Clause</h2>
  <p></p>

  <p>
    A due on sale clause gives the lender the right to require immediate
    repayment of the balance you owe if the property changes hands. Here's an
    example of a due on sale clause: "All or any part of the Property or an
    interest therein is sold or transferred by Borrower without Lender's prior
    written consent...or, "Lender may, at Lender's option, declare all the sums
    secured by this Mortgage to be immediately due and payable."
  </p>

  <p>
    Due on sale clauses have been included in many mortgage contracts for years.
    They are being enforced by lenders increasingly when buyers try to assume
    sellers' existing low rate mortgages. In these cases, the courts have
    frequently upheld the lender's right to raise the interest rate to the
    prevailing market level. So be especially careful when considering an
    "assumable mortgage." If your agreement has a due on sale provision, the
    assumption may not be legal, and you could be liable for thousands of
    additional dollars.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h2 class="cellcolor"><a name="8"></a>Mortgage Terms</h2>

  <p>
    To buy or sell a home today, it's important to know the vocabulary.
    Understanding terms like <em>amortization</em> or <em>appreciation</em> can
    save you time and money; it can also prevent you from obtaining a mortgage
    ill-suited to your needs.
  </p>

  <p>
    When you first buy a home you're likely to make a down payment on the
    property. However, because you financed the purchase, you are now in debt
    and the lender owns most of the property's value. In traditional mortgages,
    the monthly payments on the loan are weighted. During the first years, the
    monthly payment is largely interest; in time, more of each payment is
    credited to the loan itself, or the principal.
  </p>

  <p>
    Gradually, as you pay off principal, you build up equity or ownership. Your
    equity also increases if the value of the home increases. This process of
    gradually obtaining equity and reducing debt through payments of principal
    and interest is called amortization.
  </p>

  <p>
    Repaying debt gradually through payments of principal and interest is called
    amortization. Today's economic climate has given rise to a reverse process
    called negative amortization. This means that you are losing, not gaining,
    value, or equity because your monthly payments may be too low to cover the
    interest rate agreed upon in the mortgage contract. Instead of paying the
    full interest costs now, you'll pay them later, either in larger payments or
    in more payments. You will also be paying interest on that interest.
  </p>

  <p>
    In other words, the lender postpones collection of the money you owe by
    increasing the size of your debt. In extreme cases, you may even lose the
    equity you purchased with your down payment, leaving you in worse financial
    shape a few years after you purchase your home than when you bought it.
  </p>

  <blockquote class="example">
    <p>
      <strong>Example:</strong> Suppose you signed an adjustable rate mortgage
      for $50,000 in 1996. The index established your initial rate at 9.15
      percent. It nearly doubled to 17.39 percent by 1999. If your monthly
      payments had kept pace with the index, they would have risen from $408 to
      $722. But because of a payment cap, they stayed at $408. By 1999, your
      mortgage had swelled from $50,000 to $58,350, even though you had
      dutifully paid $408 every month for 48 months. In other words, you paid
      out $20,000 but you were $8,000 more in debt than you were three years
      earlier. During the next few years despite the fact that the index fell
      gradually, you were still paying off the increases made to your principal
      from earlier years.
    </p>
  </blockquote>

  <p>
    Certain loans, such as graduated payment mortgages, are structured so that
    you regain the lost ground with payments that eventually rise high enough to
    fully pay off your debt. And you may also be able to pay off the extra costs
    if your home is gaining rapidly in value or if your income is rising fast
    enough to meet the increased obligation. But if it isn't, you may realize a
    loss if, for example, you sign a below-market adjustable rate mortgage in
    January and try to sell the home in August when interest rates are higher.
    You could end up owing more than you'd make on the sale.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
