<div id="fga">
  <p>
    How do lenders determine who is approved for a credit card, mortgage, or car
    loan? Why are some individuals flooded with credit card offers while others
    get turned down routinely? Because creditors keep their evaluation standards
    secret, it is difficult to know just how to improve your credit rating. This
    Financial Guide explains how, and gives you a look into the practices of
    lenders and credit bureaus.
  </p>

  <div id="toc">
    <h3 class="cellcolor">Table of Contents</h3>

    <ul>
      <li><a href="#1">Credit Evaluation Factors</a></li>
      <li><a href="#2">Cosigning An Account</a></li>
      <li><a href="#3">Credit Limits</a></li>
      <li><a href="#4">Obtaining Your Credit Reports</a></li>
      <li><a href="#5">ECOA Designation Codes</a></li>
      <li><a href="#6">Fair Credit Reporting Act (FCRA)</a></li>
      <li><a href="#7">Finance Company Credit Cards</a></li>
      <li><a href="#8">Fraud</a></li>
      <li><a href="#9">Joint Accounts</a></li>
      <li><a href="#10">Name/Alias</a></li>
      <li><a href="#11">Putting An Explanation In Your Credit File</a></li>
      <li><a href="#12">Understanding Your Credit Report</a></li>
      <li><a href="#14">Government and Non-Profit Agencies</a></li>
    </ul>

    <h3 class="cellcolor">&nbsp;</h3>
  </div>
  <!-- toc -->

  <h3 class="cellcolor"><a name="1"></a>Credit Evaluation Factors</h3>

  <p>
    When you apply for a loan, how is your application processed? In some cases,
    such as applying for a loan from your bank, it may be as simple as going to
    the bank, giving brief information about why you need a loan, signing a loan
    contract and getting a check immediately. Other banks use loan committees -
    a group of bank employees who decide which applications to approve. Still
    others use sophisticated, complex computer analysis to evaluate
    applications.
  </p>

  <p>
    Many creditors use credit scoring, in which point values are assigned to
    various credit characteristics. Those who get enough "points" get credit.
    Credit scoring can vary in complexity, according to the creditor's policy.
  </p>

  <p>
    Most creditors also have certain minimum requirements before they will
    consider an application. For instance, anyone who does not have a minimum
    annual income (perhaps $15,000) or who has been through bankruptcy may be
    summarily rejected.
  </p>

  <p>
    Most credit-scoring systems are more complicated than the example used here,
    with ten to thirty or more pieces of data to be analyzed for each applicant.
    With a more complex scoring system, a clerk enters information from both the
    credit application and the credit report onto a computer system, and the
    system evaluates it and produces an acceptance or rejection letter. Smaller
    creditors using simpler credit scoring have loans evaluated by a loan
    officer who makes the decision.
  </p>

  <p>
    By explaining what you need to make full use of your credit report, to
    determine your credit standing, and to maximize your chances for credit
    approval this Guide will help you to:
  </p>

  <ul>
    <li>Better understand your credit report,</li>
    <li>Know the meaning of jargon used in the credit industry, and</li>
    <li>Find out exactly what you can do to improve your credit standing.</li>
  </ul>

  <p></p>
  <h4>Age</h4>
  <p></p>

  <p>
    If a lender's credit experience shows that people in a certain age group
    have a better record of paying their bills than people of other ages, the
    lender may - legally - give a higher score to the better-paying age group.
  </p>

  <p>
    However, the Equal Credit Opportunity Act (ECOA), a federal law intended to
    prevent discrimination in lending, does not allow lenders to discriminate
    against people age 62 or over. The ECOA requires creditors using a scoring
    system to give those aged 62 and older an age-factor score at least as high
    as that given to anyone under age 62.
  </p>

  <blockquote class="example">
    <p>A lender gives the following age scores to applicants:</p>
  </blockquote>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <strong><u>Age:</u></strong>
        </td>
        <td>
          <strong><u># Points</u></strong>
        </td>
      </tr>
      <tr>
        <td><strong>18-25</strong></td>
        <td><strong>2 points</strong></td>
      </tr>
      <tr>
        <td><strong>25-35</strong></td>
        <td><strong>6 points</strong></td>
      </tr>
      <tr>
        <td><strong>35-45</strong></td>
        <td><strong>4 points</strong></td>
      </tr>
      <tr>
        <td><strong>45 or more</strong></td>
        <td><strong>3 points</strong></td>
      </tr>
      <tr>
        <td>
          <strong><em>62 or more</em></strong>
        </td>
        <td><strong>6 points</strong></td>
      </tr>
    </tbody>
  </table>

  <p>
    To prevent discrimination against older people, the lender must give anyone
    age 62 or older at least 6 points for age, since 6 points is the highest
    score available to anyone under 62 (i.e., those aged 25-35).
  </p>

  <p></p>
  <h4>Residence</h4>
  <p></p>

  <p>
    Many creditors give a higher score to those who have lived at the same
    address for at least two years. Some lenders just give extra points for
    living in the same area for two years or more.
  </p>

  <p>
    Creditors may take into account your geographic location in scoring your
    length of time at one address. If you live in a city, where people move more
    often, the length of time at your address will probably count less than if
    you live in the country.
  </p>

  <p>
    If your address is a post office box, you may find yourself turned down for
    credit. Also, to fight fraud, some creditors screen out applicants whose
    addresses indicate commercial offices, mail drops, or prisons. Since post
    office boxes or rural delivery boxes are commonplace in rural areas,
    however, a lender may issue a card to that address while rejecting
    applicants with a P.O. Box in a large city.
  </p>

  <p>People who own their homes earn a higher score than renters.</p>

  <p></p>
  <h4>"Authorized User" Payment History</h4>
  <p></p>

  <p>
    An authorized user is someone who has permission to use a credit card but is
    not legally liable for the bills. If you are an authorized user on someone's
    account, the payment history will likely be reported in your credit file,
    but you will not be able to rely on it to help you build your own credit
    rating. Usually, it will neither help you nor hurt you when you apply for a
    loan.
  </p>

  <p></p>
  <h4>Bank Card History</h4>
  <p></p>

  <p>
    One of the best things you can have on a credit report is a bankcard (e.g.,
    a Visa, MasterCard or Discover card) that has been paid on time over a
    period. In a scoring system, a good bankcard reference usually carries more
    weight than a department store card or American Express card. Department
    store charge cards have lower credit limits and if used will typically have
    a higher debt to limit ratio, which has a negative impact on credit scores.
    In addition, American Express is a charge card. As such users must pay in
    full, the amount due when the monthly statement arrives. There is no minimum
    payment, interest rate, or spending limit, and while American Express
    reports the high balance to credit bureaus, it doesn't impact FICO credit
    scores.
  </p>

  <p>
    The reason a bankcard is a strong reference is that it shows a bank has
    trusted you with hundreds or even thousands of dollars on the basis of just
    your signature. Also, bankcards are more difficult to get than department
    store cards or travel and entertainment cards, so your qualifications must
    have been closely scrutinized when you applied.
  </p>

  <p></p>
  <h4>Checking And Savings Accounts</h4>
  <p></p>

  <p>
    People who have checking and savings accounts usually score better than
    those who do not. Some banks give you extra points if you have checking or
    savings accounts with them. Some banks also give discounts on loan rates
    when you hold other accounts with them.
  </p>

  <p></p>
  <h4>Debt/Income Ratios</h4>
  <p></p>

  <p>
    Some creditors look at your debt/income ratio how much you pay out each
    month compared to how much income you earn to determine whether you qualify
    for additional credit.
  </p>

  <p>
    To find your debt/income ratio, total up your monthly payments on all bills.
    Do not include mortgage, utilities, doctor bills or other accounts that do
    not appear on your credit report: The creditor will not look at these. Then,
    divide your total payments by your monthly gross (before tax) income. What
    results is your debt to income ratio. If it is less than 28 percent, you
    should have no trouble getting a loan. If it falls between 28 and 35
    percent, you have what is considered high debt, and you may find it
    difficult to obtain some loans.
  </p>

  <p>
    If your debt/income ratio is 35 percent or more, you will probably not be
    able to get additional credit. More importantly, you are potentially in
    financial jeopardy. If you should incur unexpected expenses, get ill, lose
    your job, or get divorced, you could find yourself unable to meet your
    obligations. Consider seeking credit counseling through a local non-profit
    consumer credit counseling service. (Please see the listing at the end of
    this Guide.)
  </p>

  <p>
    This summary provides general guidelines. Some large card issuers will
    accept debt ratios as high as 40-45 percent. Others compare your net
    (after-tax) income to your debts to determine your debt ratio.
  </p>

  <blockquote class="tip">
    <p>
      If you keep your debt ratio below 28 percent, you can consider yourself
      successful at managing your debt and maintaining a good credit rating.
    </p>
  </blockquote>

  <p></p>
  <h4>Department Store Accounts</h4>
  <p></p>

  <p>
    Department store cards do not provide as strong a reference on credit
    reports as bankcards. Not only are they easier to obtain, but the credit
    limits are low, and the "high credit" (the most you have ever charged) are
    low. Furthermore, you can use them only at the issuing store. Nevertheless,
    a timely paid department store card can help you develop a good credit
    history.
  </p>

  <p></p>
  <h4>Disputing Errors In Your Credit File</h4>
  <p></p>

  <p>
    The Fair Credit Reporting Act (FCRA) protects consumers in the case of
    inaccurate or incomplete information in credit files. The FCRA requires
    credit bureaus to investigate and correct any errors in your file.
  </p>

  <blockquote class="tip">
    <p>
      If you find any incorrect or incomplete information in your file, write to
      the credit bureau and ask them to investigate the information. Under the
      FCRA, they have about thirty days to contact the creditor and find out
      whether the information is correct. If not, it will be deleted.
    </p>
  </blockquote>

  <p>
    Be aware that credit bureaus are not obligated to include all of your credit
    accounts in your report. If, for example, the credit union that holds your
    credit card account is not a paying subscriber of the credit bureau, the
    bureau is not obligated to add that reference to your file. Some may do so,
    however, for a small fee.
  </p>

  <p></p>
  <h4>Bankruptcy</h4>
  <p></p>

  <p>
    Most lenders automatically reject anyone whose application or credit file
    indicates a bankruptcy. Chapter 13 in which (a debt reorganization plan
    under which all debts are eventually repaid) stays on credit reports until
    the debt is repaid plus an additional seven years. Chapter 7 (straight
    bankruptcy and partial or full liquidation of debts) remains on your credit
    files for ten years. Few creditors, however, draw any distinction between
    the two types, so you don't get any "credit" for having repaid your bills
    using Chapter 13.
  </p>

  <p>
    In addition to the bankruptcy itself remaining on your report for ten years,
    each separate account that was discharged through bankruptcy can be reported
    on your file for up to seven years.
  </p>
  <p></p>
  <h4>Child Support</h4>
  <p></p>

  <p>
    Delinquent child support frequently appears on credit reports. In 1984,
    Congress amended the federal Child Support Enforcement (CSE) legislation to
    require more routine reporting of delinquent payments. State child support
    enforcement agencies must report overdue child support to a credit bureau
    that requests such information, as long as the amount exceeds $1,000. CSE
    agencies can also report delinquencies of any amount on a voluntary basis.
  </p>

  <p>
    Before a CSE agency reports your delinquent child support debts to a credit
    bureau, it must tell you that it is going to do so and provide you with
    information on how to dispute the delinquency.
  </p>

  <p></p>
  <h4>Closed Accounts And Inactive Accounts</h4>
  <p></p>

  <p>
    You may be surprised to find you are turned down for a loan because you have
    too much credit available. Accounts you no longer use, or have paid off, can
    count against you if they are listed as "open" on a credit report.
  </p>

  <p>
    The act of paying off a revolving account does not, in itself, result in
    it's being "closed" in the eyes of lenders. Further, some creditors do not
    report to credit bureaus the fact that accounts are closed.
  </p>

  <blockquote class="tip">
    <p>
      If a closed account appears on your credit report as open, dispute the
      entry with the credit bureau. The Fair Reporting Act gives consumers the
      right to dispute any information in their credit file they believe
      inaccurate or incomplete. Explain to the credit bureau that you would like
      the report to reflect the account as closed. It is also a good idea to
      send a certified letter to the creditor requesting that the entry is
      corrected with all the credit bureaus to which it has been reported.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      Every time you close an account, ask the creditor to report it as "closed
      by consumer" to all Credit Bureaus to which the account has previously
      been reported. Make this request in writing, and ask for written
      confirmation that it has been done. If you have trouble getting
      confirmation from customer service representatives, ask to speak with a
      credit manager. Be sure to comply with the lender's procedures for closing
      the account, such as returning credit cards or unused credit line checks.
      Your cardholder agreement will have those instructions.
    </p>
  </blockquote>

  <p></p>
  <h4>Employment</h4>
  <p></p>

  <p>
    Lenders generally give more "points" to applicants who have been at the same
    job for two years or more. Self-employed people, who often have a hard time
    getting credit, might try contacting the lender before applying to find out
    what additional information can improve your chances. Some lenders ask for
    copies of your business license, tax returns for the past years, or checking
    account statements to verify your cash flow.
  </p>

  <blockquote class="tip">
    <p>
      If you have changed jobs recently, indicate on your application whether
      you have stayed in the same field, since some lenders will consider the
      length of time in your field if the length of time in your job is not
      sufficient.
    </p>
  </blockquote>

  <p></p>
  <h4>Collection Accounts And Charge-Offs</h4>
  <p></p>

  <p>
    Collection accounts are those that have been sent to collections by the
    creditor - either to the creditor's own collection department or an outside
    agency. Profit-and-loss accounts (also called charge-offs) are those the
    creditor decided could not be collected, and that were written off as a
    loss. Once a charge-off is sent to a collection agency or department, it
    turns into a collection account for reporting purposes. Collection accounts
    and profit-and-loss accounts are negative marks on credit reports.
  </p>

  <p>
    Should you pay a collection account? On the one hand, unpaid collection
    accounts can prevent you from getting other credit. On the other hand, some
    creditors reject anyone whose credit files list collection accounts or
    charge-offs-whether or not they have been paid.
  </p>

  <p>
    Collection accounts can legally remain on a report for seven years. They are
    reported to credit bureaus beginning on the date the collection agency
    received them from the creditor.
  </p>
  <p>
    Charge-offs, also called profit-and-loss accounts, are accounts that have
    been written off lenders' books as "uncollectible." If a charge-off account
    is not due to bankruptcy, the lender will usually turn it over to a
    collection agency, which will then attempt to collect. It then becomes a
    "collection account" (discussed below) for reporting purposes. Charge-offs
    are reported from the date they were charged off - the date the creditor
    decided the account was too far past due to get payment through normal
    channels and decided to close the account.
  </p>

  <blockquote class="tip">
    <p>
      Charge-off or collection accounts on a credit report are extremely
      negative. If you pay the charge-off via the collection agency, make sure
      the lender updates the account as a "paid charge-off."
    </p>
  </blockquote>

  <p>
    The fact that delinquency (paying late) began before the account was placed
    for collection (or charged off) does not require the reporting date (the
    date the seven-year reporting begins) to be moved back, and the fact that
    payment was made after the account was placed for collection does not allow
    the date to be moved forward.
  </p>

  <p>
    If you do not pay a collection account, the lender may sue you. If the
    lender gets a legal judgment against you, the judgment can remain on your
    credit report seven years or more from the date the case was decided.
  </p>

  <p>
    In exchange for paying off a collection account, you may be able to
    negotiate with the creditor or collection agency the permanent removal of
    the negative information from your credit bureau files. Lenders are under no
    obligation to make such an agreement, however.
  </p>

  <p></p>
  <h4>Late Payments</h4>
  <p></p>

  <p>
    Recent late payments - within the past six months or one year - are
    especially damaging to your credit record. Just one payment more than thirty
    days late in the past year can hurt your chances of getting credit. Late
    payments on bankcard accounts are usually the most damaging since bankcards
    are such an important reference.
  </p>

  <blockquote class="tip">
    <p>
      Be sure to get the minimum payment in the mail on time each month. As far
      as your payment rating (R-l, R-2 or I-l, I-2, etc.), it makes no
      difference whether your monthly payment is the minimum or a large payment.
      Just the minimum on time will keep your rating in good shape.
    </p>
    <p>
      There's one exception: If you are near your credit limits on most or all
      of your accounts, you may be considered a poor credit risk whether or not
      you pay on time. See the section on "Credit Limits for further discussion.
    </p>
  </blockquote>

  <p></p>
  <h4>Length Of Credit History</h4>
  <p></p>

  <p>
    Many people with no credit history find it nearly impossible to get a major
    credit card or, to a lesser extent, other credit. Scoring systems are not
    designed with the first-time credit user in mind.
  </p>

  <p>
    Bankcard issuers generally want to see at least a year's worth of timely
    payments on other accounts before issuing a card.
  </p>

  <p>
    If you do not have a credit record, you may have to smart small. You may
    want to start by getting a gasoline card. Chevron reports payments to the
    credit bureau monthly, while most other oil company cards do not. And get a
    few department store cards.
  </p>

  <p>
    Your best option for establishing a positive credit history may be a secured
    Visa or MasterCard. These credit cards are offered through bankcard issuers
    who have customers put up several hundred dollars in collateral in exchange
    for a card with a small credit limit. As you use the card, your bill-paying
    behavior is reported to a credit bureau and your credit history improves.
  </p>

  <p></p>
  <h4>Military Service People</h4>
  <p></p>

  <p>
    Those in the military may find it difficult to get credit because they have
    a low income, move frequently, or do not have sufficient credit history. In
    addition, the fact that their wages cannot be garnished makes some creditors
    hesitate.
  </p>

  <blockquote class="tip">
    <p>
      One of the main reasons people in the military cannot get credit cards is
      the fraud associated with APO boxes. If you are in the military, live
      overseas, and are applying for a credit card, list your stateside address,
      your parents' address, or a P.O. box, instead of an APO.
    </p>
  </blockquote>

  <p>
    If you are having trouble getting a credit card because of a lack of credit
    history, you may want to try a secured credit card.
  </p>

  <p></p>
  <h4>Mortgages</h4>
  <p></p>

  <p>
    Most mortgages that are 90 days or more delinquent must now be reported to
    credit bureaus. Some mortgage companies elect to report all mortgages to
    credit bureaus. This policy is a plus for homeowners since a mortgage can be
    a sign of stability to a lender.
  </p>

  <blockquote class="tip">
    <p>
      Never pay your mortgage late. If your mortgage has a grace period (e.g.,
      "Payment due January 1. After January 10, late charges will be
      assessed."), do not take this to mean you can pay between January 1 and
      January 10. If you pay after the first due date, your payment will
      probably be considered late, and the late payment will appear on your
      credit report.
    </p>
  </blockquote>

  <p></p>
  <h4>Negative Information</h4>
  <p></p>

  <p>
    Negative information on a credit report is any information that may cause
    you to be turned down for credit or reduce your chances for loan approval.
    Negative information includes late payments, legal judgments, collection
    accounts, liens, and charge-offs.
  </p>

  <p>
    There is no way to remove negative information that is correct. If you paid
    any accounts that were charged-off, sent to collections, or for which the
    lender obtained a judgment against you, make sure these accounts are noted
    as paid. If any of these accounts remains unpaid, you are almost certain to
    be rejected for other loans. An unpaid collection account or judgment sends
    up a red flag to other creditors that the company to whom you owe the money
    could take further legal action against you, endangering your ability to pay
    other bills. Please see the section on "Collection Accounts" for further
    information.
  </p>

  <p>
    Do not be taken in by companies that, for a fee, offer to "fix bad credit"
    or "remove negative information" from credit reports. If it is possible to
    fix your bad credit, you can do it yourself, as long as you have the right
    information. You do not need to pay a fee to one of these companies to fix
    your credit problems.
  </p>

  <p></p>
  <h4>Number Of Credit Accounts</h4>
  <p></p>

  <p>
    Creditors want to see that you are able to handle credit over a period of
    time, and good credit references on your credit report help prove this
    ability. However, do not carry too much credit. Generally, if you have four
    or more bankcards, you are risking being turned down for "too many
    bankcards."
  </p>

  <p></p>
  <h4>Over The Limit</h4>
  <p></p>

  <p>Going over the limit on your credit cards will often count against you.</p>

  <p></p>
  <h4>Payments</h4>
  <p></p>

  <p>
    It does not matter if you pay your balance in full each month or just make
    minimum payments, as far as your payment rating is concerned, as long as you
    make at least your minimum monthly payment on time each month.
  </p>

  <p>
    While making only the minimum payments does not affect your payment record,
    you may have trouble getting credit if you are carrying high balances on
    most of your accounts.
  </p>

  <p></p>
  <h4>Previous Company Experience</h4>
  <p></p>

  <p>
    Having had a previous loan with the lender to which you are applying can
    improve your chances of getting another loan there.
  </p>

  <p></p>
  <h4>Recent Loans</h4>
  <p></p>

  <p>
    Just as creditors do not want to see too many recent inquiries on a credit
    file, they do not want to see a number of recently opened loans, especially
    if you are new to credit.
  </p>

  <p></p>
  <h4>Revolving Credit</h4>
  <p></p>

  <p>
    Revolving credit means a line of credit. You are approved to borrow up to a
    certain limit, and you can draw upon all or part of that credit line
    whenever you choose. Your payments vary depending on the amount you have
    borrowed.
  </p>

  <p>
    Installment credit is a fixed amount of credit you borrow and agree to pay
    back on a fixed schedule. Your payments are the same each month.
  </p>

  <p>
    Revolving credit is a better reference than installment credit because
    applications for revolving credit are often scrutinized more carefully.
  </p>

  <p></p>
  <h4>Buy Now, Pay Later (BNPL)</h4>
  <p></p>

  <p>
    Starting in 2022, the three major credit bureaus (Equifax, Experian, and
    TransUnion) will add information to consumer credit reports from companies
    such as Affirm, Klarna, and Afterpay that offer buy now, pay later (BNPL)
    loans. Missing payments or taking on too many of these "short-term" loans
    could cause your credit score to drop.
  </p>

  <p></p>
  <h4>Income/Income Per Dependent</h4>
  <p></p>

  <p>
    Be sure to list gross (before tax), not net (after tax), income on your loan
    application, unless the application asks for net income. Include income from
    a part-time job, public assistance or child support. The lender cannot
    discriminate against individuals with these sources of income in scoring an
    application. A creditor is permitted to determine whether that source of
    income is reliable.
  </p>

  <p>
    Some banks may approve loans for incomes as low as $10,000 per year. Others
    require higher income for some loans. Some banks will divide your income by
    the number of your dependents to determine your "income per dependent." If
    so, the application will ask how many dependents you have.
  </p>

  <p></p>
  <h4>Inquiries</h4>
  <p></p>

  <p>
    Inquiries, which appear at the end of your credit report, tell you who has
    seen it recently. They are very important when you apply for credit. Lenders
    almost always look at how many inquiries you have when evaluating your
    application. Consumers with "too many inquiries" are often turned down, due
    to a concern that they are applying for too much credit at one time, that
    they are on a spending spree, or that there is potential fraud.
  </p>

  <p>
    Generally, a bankcard issuer wants no more than six inquiries in the past
    six months on an applicant's file. However, there is no set number for
    excessive inquiries, and every lender sets its own policy.
  </p>

  <blockquote class="tip">
    <p>
      Apply only for credit you really want, and wait for a response on each
      application before applying elsewhere.
    </p>
  </blockquote>

  <p>
    Lenders generally do not look at the sources of inquiries in counting them
    against the applicant. Thus, if you are applying for a car loan, you may
    think that only inquiries from car dealers will count against you, but in
    actuality <strong>all</strong> inquiries reported by credit bureaus are
    counted. If you have been shopping for a car loan and have several inquiries
    from auto dealers on your file, those inquiries could hurt your chances of
    getting a credit card. Or, if you have been trying to get a mortgage, you
    could find yourself unable to get a major credit card for several months
    because your credit report lists a number of inquiries from mortgage lenders
  </p>

  <blockquote class="tip">
    <p>
      Auto dealers often look at customers' credit files without their knowledge
      or permission. If you go to a dealership to test drive a car, the
      salesperson will often pull up your credit file, and use the information
      in deciding how to "sell" you. It is important to tell the salesperson
      that you do not want your credit file accessed unless you give permission.
    </p>
  </blockquote>

  <p>
    The consumer credit laws do not cover inquiries, so once they are on your
    file there is nothing you can do to have them removed. It is always worth
    trying to challenge inquiries with the credit bureau, but be aware that many
    credit bureaus refuse to investigate them. If you have too many inquiries,
    you may simply have to wait six months before applying for more credit.
    Inquiries generally stay on credit reports for two years.
  </p>

  <p>
    Some credit bureaus list inquiries by code, rather than by the name of the
    company. The Fair Credit Reporting Act requires that a credit bureau
    explains all information on your report that you do not understand, so
    request names for all the coded companies listed under the inquiries
    section.
  </p>

  <p>
    If an inquiry is coded "PRM" or "PSC," or has the word "promotional" next to
    it, then a lender has paid the credit bureau to screen suitable prospects
    for a "preapproved" mailing. The lender supplies the bureau with a list of
    names and addresses and a set of credit criteria and asks the bureau to
    determine which candidates meet their criteria. The lender then receives
    from the credit bureau a list of the names that meet the qualifications, and
    those consumers receive a "prescreened" or "preapproved" credit offer.
  </p>

  <p>
    Inquiries noted as "csmr" or "consumer" indicate you have seen your own
    credit file.
  </p>

  <p>
    It is the policy of the major credit bureaus not to include promotional or
    consumer inquiries when transmitting the file to a lender, so review of your
    own file or prescreening will not hurt your chances of getting credit.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="2"></a>Cosigning An Account</h3>

  <p>
    You may be asked to cosign an account to allow someone else to obtain a
    loan. With cosigning, your payment history and assets are used to qualify
    the cosigner for the loan.
  </p>

  <blockquote class="tip">
    <p>
      We recommend that you do not cosign a loan, whether for a family member,
      friend, or employee. Many have found that cosigning a loan only leads to
      trouble.
    </p>
  </blockquote>

  <p>
    Bear in mind that cosigning a loan bears all the financial and legal
    consequences of taking out the loan yourself. When you cosign, you are
    signing a contract that makes you responsible for the entire debt. If the
    other cosigner does not pay or makes late payments, it will probably show up
    on your credit record. If the person for whom you cosigned does not pay the
    loan, the collection company will be entitled to try to collect from you.
  </p>

  <p>
    If the cosigned loan is reported on your credit report, another lender will
    view the cosigned account as if it were your own debt. Further, if the
    information is correct, it will remain on your credit report for up to seven
    years.
  </p>

  <blockquote class="tip">
    <p>
      If someone asks you to cosign a loan, suggest other alternatives such as a
      secured credit card by which they can build a credit history. If you are
      asked to cosign for someone whose income is not high enough to qualify for
      a loan, you are actually doing them a favor by refusing-they will be less
      likely to be overwhelmed by too-high debts. At any rate, consult with your
      lawyer before cosigning, since state laws regarding a cosigner's liability
      vary.
    </p>
  </blockquote>

  <blockquote class="tip">
    <p>
      If you have already cosigned for someone, and he or she is not making
      payments on time, consider making the payments yourself and asking the
      cosigner to pay you directly in order to protect your credit rating.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="3"></a>Credit Limits</h3>

  <p>
    A credit limit is the maximum amount available to you from a certain lender.
    For example, a credit card issuer may grant you a credit limit of $1,000,
    meaning that once you charge $1,000, you will not be allowed to incur
    additional charges until you pay off some of your debt.
  </p>

  <p>
    When creditors evaluate your application for credit, they ascertain whether,
    if you were to use all your available credit, you would be over your head.
    They usually consider these factors:
  </p>

  <ul>
    <li>How close you are to your credit limits</li>
    <li>The total credit you have available</li>
    <li>The number of accounts you hold</li>
  </ul>

  <p>
    Creditors may consider not only how much you currently owe, but also how
    much credit you have available. Having too much credit available can count
    against you. Also, being at or near the limit on your credit cards can count
    against you.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="4"></a>Obtaining Your Credit Reports</h3>
  <p>
    Credit reports are records of consumers' bill-paying habits collected,
    stored and sold by credit bureaus. Credit reports are also called credit
    records, credit files, and credit histories.
  </p>
  <p>
    The Fair Credit Reporting Act (FCRA) entitles each consumer to one free
    disclosure every 12 months. In addition, residents of California, colorado,
    Connecticut, Georgia, Maine, Maryland, Massachusetts, Minnesota, Montana,
    New Jersey, Puerto Rico, Vermont, or the US Virgin Islands, may be entitled
    to a second personal credit report at free or reduced price from each of the
    three major credit bureaus:
  </p>
  <ul>
    <li>
      <a href="http://www.Experian.com">Experian Credit Bureau</a>: 888-397-3742
    </li>
    <li>
      <a href="http://www.equifax.com">Equifax Credit Bureau</a>: 866-349-5191
    </li>
    <li><a href="http://www.transunion.com">TransUnion</a>: 877-322-8228</li>
  </ul>
  <p>
    If you have been denied credit, employment, or insurance you can request
    that the credit bureau involved provide you with a free copy of your credit
    report, but you must request it promptly within 60 days. Request a copy
    through their websites or call the toll free telephone numbers provided.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="5"></a>ECOA Designation Codes</h3>

  <p>
    The Equal Credit Opportunity Act (ECOA) requires creditors who report
    information about accounts to report it in the names of all people with a
    relationship to the account, including cosigners or authorized users. To
    help lenders identify your legal liability on all your credit accounts,
    credit bureaus add a code to each account, termed the ECOA code.
  </p>

  <p>
    Each credit bureau lists ECOA codes differently, but these are the basic
    categories:
  </p>

  <ul>
    <li>
      <em>Individual:</em> You alone are legally responsible. This designation
      gives you a strong credit reference, assuming a good history.
    </li>
    <li>
      <em>Joint:</em> You and someone else - often a spouse - are both legally
      liable. A joint account is equal to an individual account for building
      your credit history.
    </li>
    <li>
      <em>Co-signer, secondarily liable:</em> You signed loan documents for
      someone else to help them qualify for a loan.
    </li>
    <li>
      <em>Co-signer, primarily liable:</em> You took out an account for
      yourself, but someone else co-signed for the loan to ensure payment.
    </li>
    <li>
      <em>Authorized user:</em> You can use the account and may have a card in
      your name, but you did not sign the application and are not legally
      responsible. Because you have no legal obligation, this designation does
      not help you get your own credit history.
    </li>
    <li>
      <em>Undesignated:</em> No status was reported by the creditor reporting
      the account information.
    </li>
  </ul>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="6"></a>The Fair and Accurate Credit Transactions Act of 2003 (FACT
    or FACT Act)
  </h3>

  <p>
    The Fair and Accurate Credit Transactions Act of 2003 (FACT or FACT Act) is
    an amendment to the Fair Credit Reporting Act (FCRA) of 1970 and went into
    effect in December 2003. It was amended most recently in 2010 to include the
    provisions of the Consumer Financial Protection Act of 2010 (CFPA), which
    became effective on July 21, 2011, and the Red Flag Program Clarification
    Act of 2010.
  </p>

  <p>
    Consumers can now request and obtain a free credit report once every twelve
    months from each of the three nationwide consumer credit reporting companies
    (Equifax, Experian and TransUnion). In addition, the act also contains
    provisions relating to identity theft and fraud alerts, truncated credit and
    debit card numbers on non-manual receipts, and securely disposing of records
    containing consumer credit card information.
  </p>

  <p>
    Fair Credit Reporting Act (FCRA) of 1970 gave consumers easier access to,
    and more information about, their credit files. Consumers also have the
    right to find out the information in your credit file, to dispute
    information you believe inaccurate or incomplete, and to find out who has
    seen your credit report in the past six months.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="7"></a>Finance Company Credit Cards</h3>

  <p>
    Many systems actually score against people with one or more finance company
    accounts on their credit reports, since it appears to them that you had a
    hard time getting credit from traditional sources.
  </p>

  <p>
    There is a difference between "captive" finance tradelines and "regular"
    finance trade-lines. Captive finance tradelines are offered through auto
    financing sources such as GMAC or Ford Credit and are generally not
    considered negative.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="8"></a>Fraud</h3>

  <p>
    "Application fraud" is when a thief uses your credit information to apply
    for credit in your name. Wrongdoers use your name, Social Security number,
    address and, perhaps, credit references to apply for credit. They can get
    much of this information from public sources (e.g., Who's Who Directories),
    from someone who has access to credit files (e.g., employees of car
    dealerships, department stores, or credit bureaus), from personal checks, or
    from stolen wallets. Credit thieves may be aided by "credit doctors" who are
    paid hundreds of dollars for finding a good credit record for the thief to
    use.
  </p>

  <p>
    Another form of application fraud involves the interception of pre-approved
    credit card offers in the mail. The thief fills out the application and
    either changes the address or steals the credit card out of your mailbox
    when it arrives at your address.
  </p>

  <p>
    You won't find out about application fraud until months after it
    occurs-usually only after you get dunning notices from collection agencies,
    or when you get a copy of your credit report and see the debts run up by the
    thief.
  </p>

  <blockquote class="tip">
    <p>
      If you find a bill that you do not believe belongs to you on your credit
      report, check it out immediately. First, contact the creditor to find out
      if they have an account in your name. Ask to see a copy of the original
      application if they say you do.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="9"></a>Joint Accounts</h3>

  <p>
    Joint accounts are those in which two or more people-usually spouses or
    members of a family have equal responsibility for paying the bills. A joint
    account helps each person on the account build a credit history, but also
    has its pitfalls. If one person on a joint account does not pay the bills on
    time (and that payment history is reported to a credit bureau), the other
    party will likely find his or her credit history damaged.
  </p>

  <p>
    Joint accounts can be a problem in a divorce. Responsibility for paying off
    joint accounts is often assigned in the divorce decree or agreement. But
    regardless of how the judge allocates those bills,
    <em>both spouses are legally responsible in the eyes of creditors.</em>
  </p>

  <p>
    If any joint accounts remain open during or after the divorce and one spouse
    runs up bills and doesn't pay them, both spouses' credit histories will be
    harmed, since both are legally liable under the credit contract (spelled out
    in the card agreement or other papers). In addition, creditors have the
    right to try to collect from either spouse.
  </p>

  <blockquote class="tip">
    <p>
      Close out all joint accounts as soon as possible after you know a divorce
      will occur. Do not wait for a final decree.
    </p>
  </blockquote>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="10"></a>Name/Alias</h3>

  <p>
    If you have a common name, or are a Jr. or Sr., you may find other people's
    information on your credit report. The credit bureaus say that there is not
    much they can do to prevent this mistake from occurring, so if you find this
    to be a problem, monitor your credit report carefully. Certainly, you should
    check it before you apply for a major loan or mortgage.
  </p>

  <p>
    An alias is another name for you on your credit report. It may be another
    name under which you have applied for credit (a nickname, or a variation of
    your name, for example) or it may be a name of someone else. It is possible,
    if an alias appears on your credit report, that actual fraud was involved.
    Someone else may have applied for credit using your qualifications and the
    name they used may have been entered as an alias.
  </p>

  <p>
    If you find an alias on your credit report, and it does not belong to you,
    contact the credit bureau immediately to have it removed.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor">
    <a name="11"></a>Putting An Explanation In Your Credit File
  </h3>

  <p>
    The Fair Credit Reporting Act states that if you dispute information on your
    credit file that you believe to be inaccurate or incomplete, you can ask the
    credit bureau to investigate the problem. If the credit bureau's
    investigation does not resolve the dispute, you can file a brief statement
    explaining the nature of the dispute. Your statement becomes a permanent
    part of your file and will remain on the report as long as the negative
    information is reported. The credit bureau may limit your statement to one
    hundred words or less, but must help you summarize it if you ask them to do
    so.
  </p>

  <p>
    Some credit bureaus also allow you to add a statement to your file
    explaining circumstances that led to the reporting of negative information
    to your file. For instance, if you fell behind on your bills for several
    months due to illness or a job lay-off, you may be able to add a short
    100-word statement explaining the problem. If you do add a statement to your
    file, make it brief and factual. In general, if you provide a consumer
    statement that contains medical information related to service providers or
    medical procedures, then you expressly consent to include this information
    in every credit report issued for you.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="12"></a>Understanding Your Credit Report</h3>

  <p>
    Credit reports contain symbols and codes that are abstract to the average
    consumer. Every credit bureau report also includes a key that explains each
    code. Some of these keys decipher the information while others just cause
    more confusion.
  </p>

  <p>
    Read your report carefully, making a note of anything you do not understand.
    The credit bureau is required by law to provide trained personnel to explain
    it to you. If accounts are identified by code number, or if there is a
    creditor listed on the report that you do not recognize, ask the credit
    bureau to supply you with the name and location of the creditor so you can
    ascertain if you do indeed hold an account with that creditor.
  </p>

  <p>
    If the report includes accounts that you do not believe are yours, it is
    extremely important to find out why they are listed on your report. It is
    possible they are the accounts of a relative or someone with a name similar
    to yours. Less likely, but more importantly, someone may have used your
    credit information to apply for credit in your name. This type of fraud can
    cause a great deal of damage to your credit report, so investigate the
    unknown account as thoroughly as possible.
  </p>

  <p>
    It is vital that you understand every piece of information on your credit
    report in order that you be able to identify possible errors or omissions.
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->

  <h3 class="cellcolor"><a name="14"></a>Government and Non-Profit Agencies</h3>

  <p>
    The following agencies are responsible for enforcing federal laws that
    govern credit card transactions and may be a good resource in the event you
    believe that there is incorrect information on your credit report. Questions
    concerning a particular card issuer should be directed to the enforcement
    agency responsible for that particular credit card issuer.
  </p>

  <p><strong>State Member Banks of the Reserve System:</strong></p>

  <p>
    Consumer &amp; Community Affairs<br />Board of Governors of the Federal
    Reserve System<br />20th &amp; Constitution Avenue, N.W.<br />Washington,
    D.C. 20551
  </p>

  <p><strong>National Banks:</strong></p>

  <p>
    Comptroller of the Currency <br />
    Customer Assistance Group<br />
    1301 McKinney Street<br />
    Suite 3450<br />
    Houston, TX 77010<br />
    Tel. (800) 613-6743
    <br />
  </p>

  <p><strong>Federal Credit Unions:</strong></p>
  <p>
    National Credit Union Administration<br />1775 Duke St # 4206<br />Alexandria,
    VA 22314-6115<br />
  </p>

  <p><strong>Non-Member Federally Insured Banks:</strong></p>

  <p>
    Federal Deposit Insurance Corporation <br />
    Consumer Response Center <br />
    1100 Walnut St, Box #11 <br />
    Kansas City, MO 64106
  </p>

  <p>
    <strong
      >Federally Insured Savings and Loans, and Federally Chartered State
      Banks:</strong
    >
  </p>

  <p>
    Comptroller of the Currency <br />
    Customer Assistance Group<br />
    1301 McKinney Street<br />
    Suite 3450<br />
    Houston, TX 77010<br />
    Tel. (800) 613-6743
  </p>

  <p>
    <strong
      >Other Credit Card Issuers (includes retail gasoline companies):</strong
    >
  </p>

  <p>
    Bureau of Consumer Protection<br />Federal Trade Commission<br />600
    Pennsylvania Avenue, NW<br />Washington, D.C. 20580
  </p>

  <p><strong>The U.S. Postal Inspection Service:</strong></p>

  <p>
    This office covers mail fraud, sexually offensive materials, solicitations
    that look like government materials but are not. If you suspect such
    violations, contact your local Postmaster or Postal Inspector or:
  </p>

  <p>
    Criminal Investigations Service Center<br />Attn: Mail Fraud<br />222 S.
    Riverside Plaza Ste. 1250<br />Chicago Il 60606-6100<br />Tel. 877-876-2455
  </p>

  <p><strong>The Federal Trade Commission:</strong></p>

  <p>
    Does not handle individual complaints, but reporting failure to deliver,
    late delivery, unordered merchandise, misrepresentation or fraud helps
    uncover widespread abuses that the FTC might take action to stop.
  </p>

  <p>
    Division of Enforcement<br />Federal Trade Commission<br />600 Pennsylvania
    Avenue, NW<br />Washington, DC 20580<br />Tel. (202) 326-2222
  </p>

  <p><strong>National Do Not Call Registry:</strong></p>

  <p>
    If you wish to have your name removed from telephone lists of marketing
    companies.
  </p>

  <p>
    National Do Not Call Registry<br />Federal Trade Commission<br />600
    Pennsylvania Avenue, NW<br />Washington, DC 20580<br />website:
    www.donotcall.gov
  </p>

  <p><strong>Direct Marketing Mail Opt-Out:</strong></p>

  <p>Consumers who do not wish to receive promotional mail at home</p>

  <p>
    Direct Marketing Association<br />1120 Avenue of the Americas <br />NY, NY
    New York, NY 10036-6700<br />Tel. 212.768.7277<br />website:
    www.DMAChoice.org
  </p>

  <p><strong>Low or No-Cost Credit Cards:</strong></p>

  <p>
    Bankrate.com lists banks charging no fees and low interest rates for credit
    cards. Visit the website: www.bankrate.com
  </p>

  <!-- <p><a href="#top">Back To Top</a></p> -->
</div>
