<br />
Some guides pertaining to charitable contributions and related material.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/charitable-contributions-fg']"
          routerLinkActive="router-link-active"
          ><b>Charitable Contributions: How To Give Wisely</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/charitable-contributions-property-fg']"
          routerLinkActive="router-link-active"
          ><b
            >Charitable Contributions of Property: Maximizing the Deduction</b
          ></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/charitable-contributions-Records-fg']"
          routerLinkActive="router-link-active"
          ><b>What Records You Must Keep Relating To Your Charitable Contributions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/advanced-charity-techniques-fg']"
          routerLinkActive="router-link-active"
          ><b>Advanced Charity Techniques: Maximizing Your Deduction</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/fraudulent-charities-fg']"
          routerLinkActive="router-link-active"
          ><b>Fraudulent Charities: How To Protect Yourself</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="['/resources/guides/life-events/charitable-contributions-faq']"
          routerLinkActive="router-link-active"
          ><b>Charitable Contributions: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="['/resources/guides/life-events/charitable-deductions-faq']"
          routerLinkActive="router-link-active"
          ><b>Charitable Deductions: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
