<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb px-3 bg-c-nav d-flex justify-content-center justify-content-lg-start"
  >
    <li class="breadcrumb-item">
      <span class="fa fa-home"></span>
      <span routerLink="/home">Home</span>
    </li>
    <li class="breadcrumb-item" active>
      <span routerLink="/service/services-for-individuals"
        >Service For Individuals</span
      >
    </li>
    <li class="breadcrumb-item active" active>
      <span
        routerLink="/service/services-for-individuals/retirement-planning"
        >Retirement Planning</span
      >
    </li>
  </ol>
</nav>
<app-heading heading="Retirement Planning"></app-heading>
<div class="container z-index-1 position-relative">
  <div class="row my-5">
    <div class="col-md-7">
      <div style="text-align: left">
        <h2>
          <strong>It's Never Too Early To Start Planning For Retirement</strong>
        </h2>
        <p>
          The key to successful retirement planning is developing a plan that
          while based on your current financial situation, also meets your
          projected financial goals down the road.
        </p>
        <p>
          That's no easy task, however. Tax rules regarding retirement plans are
          complex. Each benefit plan has specific requirements as outlined by
          the IRS and it's important to understand the tax implications of your
          retirement planning choices.
        </p>
        <p>
          If you've already started saving for retirement, are you confident
          that you're saving enough to live the comfortable lifestyle you
          deserve or that you have your money in the right retirement plan for
          you?
        </p>
        <p>
          If you haven't started saving for retirement, we'll help you figure
          out a plan that works for you and your family.
        </p>
        <h3>Retirement Planning Services:</h3>
        <p>
          When you use our retirement planning services, you benefit from our
          in-depth knowledge and years of retirement planning experience. Here's
          what we do for you:
        </p>
        <ul>
          <li>
            Evaluate your current financial situation, including assets and
            liabilities.
          </li>
        </ul>
        <ul>
          <li>
            Create a budget that meets your retirement goals, including how much
            you need to contribute to your current retirement plan to meet those
            goals.
          </li>
        </ul>
        <ul>
          <li>
            Review your Social Security account to determine the best time to
            begin taking your benefits.
          </li>
        </ul>
        <ul>
          <li>
            Make sure that you understand how other sources of retirement income
            affect the retirement planning process.
          </li>
        </ul>
        <ul>
          <li>
            Determine whether taking a lump-sum distribution or opting to take
            monthly payments is better for your particular financial situation.
          </li>
        </ul>
        <h3>
          Isn't It Time You Started Planning for a More Secure Financial Future?
        </h3>
        <p>
          Whether you're already retired, close to it, or just getting started
          in your career, it's never too early to start thinking about
          retirement planning.&nbsp;
        </p>
        <p>
          <strong
            >To get started simply fill out the contact form below or give us a
            call. We're happy to help!</strong
          >
        </p>
      </div>
      <div class="max-w-400 mx-auto">
        <app-detail-form></app-detail-form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <app-consultaion-img-btn  class="col-md-4 d-none d-md-block"></app-consultaion-img-btn>
  </div>
</div>
