<br />
A major illness can bring about life altering circumstances. These guides will
better prepare you for the financial implications of such an event.<br /><br />
<h2>Financial Guides</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-fg.png"
          valign="bottom"
          alt="Financial Guides"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/long-term-insurance-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Long-Term Care Insurance: How To Get The Best Deal</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/disability-insurance-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Disability Insurance: What To Look For</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/disability-benefits-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Disability Benefits: How To Get All You're Entitled To</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/social-security-benefits-fg'
          ]"
          routerLinkActive="router-link-active"
          ><b>Social Security Benefits: How To Get The Maximum Amount</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h2>Frequently Asked Questions</h2>

<table width="100%">
  <tbody>
    <tr>
      <td style="padding-top: 8px" width="55">
        <img
          src="../../../../../../../assets/images/icon-faq.png"
          valign="bottom"
          alt="Frequently Asked Questions"
          heigh="44"
          widht="55"
        />
      </td>
      <td style="padding-left: 40px">
        <a
          [routerLink]="[
            '/resources/guides/life-events/disability-insurance-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Disability Insurance: Frequently Asked Questions</b></a
        ><br />
        <a
          [routerLink]="[
            '/resources/guides/life-events/social-security-benefits-faq'
          ]"
          routerLinkActive="router-link-active"
          ><b>Social Security Benefits: Frequently Asked Questions</b></a
        ><br />
      </td>
    </tr>
  </tbody>
</table>
<br /><br />
